<div class="entry-edit">
    <fieldset>
        <p><strong><?php echo $this->__('Customer'); ?> :</strong> <a href="<?php echo $this->getUrl('adminhtml/customer/edit', array('id' => $this->getCustomer()->getId())) ?>"><?php echo $this->getCustomer()->getName(); ?></a></p>
        <p><strong><?php echo $this->__('Targeted At'); ?> :</strong> <?php echo Mage::helper('core')->formatDate($this->getTarget()->getTargetedAt(), 'medium', false); ?></p>
        <p><strong><?php echo $this->__('Type'); ?> :</strong> <?php echo Mage::getModel('abandonedcart/target')->getTypeLabel($this->getTarget()->getType()); ?></p>
        <p><strong><?php echo $this->__('Products'); ?> :</strong></p>
        <ul>
            <?php foreach ($this->getTarget()->getItems() as $item) : ?>
                <li><?php echo $item->getName(); ?> (<?php echo $item->getSku(); ?>)</li>
            <?php endforeach; ?>
        </ul>
    </fieldset>
</div>