<?php $_product = $this->getProduct(); ?>
<?php $_parentProduct = $this->getParentProduct(); ?>
<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr>
        <td width="25%" class="a-center">
            <img src="<?php echo Mage::helper('catalog/image')->init($_parentProduct, 'small_image')->keepTransparency(false)->resize(320); ?>" alt="" style="max-width:100%;" />
        </td>
        <td width="75%" style="padding: 20px;">
            <p><strong><?php echo $_product->getName(); ?></strong></p>
            <p><?php echo $_parentProduct->getDescription(); ?></p>
            <?php if ($this->getAddtocart()) : ?>
                <p><a href="<?php echo $this->getAddtocartUrl() ?>" class="button"><?php echo $this->__('Add to Cart'); ?><span style="background:url('<?php echo $this->getSkinUrl('images/arrow.png'); ?>') no-repeat center;">&nbsp;</span></a></p>
            <?php endif; ?>
        </td>
    </tr>
</table>