<button style="" onclick="javascript:window.location.href='<?=$this->getButtonUrl()?>'; return false;" class="scalable" type="button" id="<?php echo $this->getHtmlId() ?>">
	<span><?php echo $this->escapeHtml($this->getButtonLabel()); ?></span>
</button>