<?php
/**
 *
 * Boutique's orders history
 * See : Partikule_Nose_OrderController
 *
 */
?>
<?php
	$_boutique_orders = Mage::helper('nose/history')->getOrders();
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_orders = $this->getOrders(); ?>
<div class="page-title">
    <h2><?php echo $this->__('My Orders') ?></h2>
</div>

<div class="subnav-container center">
	<ul id="reco-nav" class="subnav">
		<li class="active first" id="subnav-perfumes"><a><span><?php echo $this->__('Online') ?></span></a></li>
		<?php if ( ! empty($_boutique_orders)) :?>
			<li id="subnav-home"><a href="<?php echo Mage::helper('nose/url')->getOrderHistory() ?>"><span><?php echo $this->__('Boutique') ?></span></a></li>
		<?php endif ;?>
	</ul>
</div>

<div class="clearfix"></div>

<?php echo $this->getPagerHtml(); ?>
<?php if($_orders->getSize()): ?>
<table class="data-table mt10 mb20" id="my-orders-table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr>
            <th><h3><?php echo $this->__('Order #') ?></h3></th>
            <th><h3><?php echo $this->__('Date') ?></h3></th>
            <th><h3><?php echo $this->__('Ship To') ?></h3></th>
            <th><h3><span class="nobr"><?php echo $this->__('Order Total') ?></span></h3></th>
            <th class="w100"><h3><span class="nobr"><?php echo $this->__('Order Status') ?></span></h3></th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <?php $_odd = ''; ?>
        <?php foreach ($_orders as $_order): ?>
        <tr>
            <td><?php echo $_order->getRealOrderId() ?></td>
            <td><span class="nobr"><?php echo $this->formatDate($_order->getCreatedAtStoreDate()) ?></span></td>
            <td><?php echo $_order->getShippingAddress() ? $this->htmlEscape($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
            <td><?php echo $_order->formatPrice($_order->getGrandTotal()) ?></td>
            <td><em><?php echo $_order->getStatusLabel() ?></em></td>
            <td class="a-center">
                <span class="nobr"><a href="<?php echo $this->getViewUrl($_order) ?>"><?php echo $this->__('View Order') ?></a>
                    <?php /*<span class="separator">|</span><a href="<?php echo $this->getTrackUrl($_order) ?>"><?php echo $this->__('Track Order') ?></a>&nbsp;*/ ?>
                    <?php if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
                    <span class="separator mr5"></span> 
                    
                    <button class="button" onclick="setLocation('<?php echo $this->getReorderUrl($_order) ?>')">
                    	<span><span><?php echo $this->__('Reorder') ?></span></span>
                    </button>
                <?php endif ?>
                </span>
            </td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('my-orders-table');</script>
<script type="text/javascript">decorateTable('my-orders-table', {'tbody tr' : ['odd', 'even'], 'tbody tr' : ['first', 'last']})</script>

<?php echo $this->getPagerHtml(); ?>

<?php else: ?>
	<div class="center mt20">
	    <p><?php echo $this->__('You have placed no orders.'); ?></p>
	</div>
<?php endif ?>
