<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/LICENSE-M1.txt
 *
 * @category   AW
 * @package    AW_Advancednewsletter
 * @copyright  Copyright (c) 2008-2010 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/LICENSE-M1.txt
 */
?>
<?php $this->setBlockUniqueId($this->getBlockUniqueId() + 1) ?>
<?php if (preg_match('/^1.3/', Mage::getVersion())): ?>
<div class="box base-mini mini-newsletter an-subscribe" id="advancednewsletter-subscribe-<?php echo $this->getBlockUniqueId() ?>">
    <form action="<?php echo $this->getUrl('advancednewsletter/index/subscribe', array('_secure'=>Mage::app()->getStore(true)->isCurrentlySecure())) ?>" method="post" id="advancednewsletter-form-<?php echo $this->getBlockUniqueId() ?>">
        <div class="head"><h4><?php echo $this->__('Newsletter') ?></h4></div>
        <div class="block-content">
            <div class="an-segments">
                <?php echo $this->getChildHtml('advancednewsletter.options.'.Mage::getStoreConfig(AW_Advancednewsletter_Block_Subscribe::STYLES_PATH)); ?>
            </div>
            <div>
                <?php echo $this->getChildHtml('advancednewsletter.subscriber.data') ?>
            </div>
            <div class="an-buttons">
                <button type="submit" class="form-button-alt" onclick="advancednewsletterForm.submit()"><span><?php echo $this->__('Subscribe') ?></span></button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        //<![CDATA[
        var advancednewsletterForm<?php echo $this->getBlockUniqueId() ?> = new VarienForm('advancednewsletter-form-<?php echo $this->getBlockUniqueId() ?>');
        //]]>
    </script>
</div>
<?php else: ?>
<div class="block an-subscribe" id="advancednewsletter-subscribe-<?php echo $this->getBlockUniqueId() ?>">


<?php

// trace(Mage::getStoreConfig(AW_Advancednewsletter_Block_Subscribe::STYLES_PATH));

?>


    <form action="<?php echo $this->getUrl('advancednewsletter/index/subscribe', array('_secure'=>Mage::app()->getStore(true)->isCurrentlySecure())) ?>" method="post" id="advancednewsletter-form-<?php echo $this->getBlockUniqueId() ?>">
<!--         <div class="block-title"><strong><span><?php echo $this->__('Newsletter') ?></span></strong></div> -->
<!--         <div class="block-content"> -->
        
        	<?php if (Mage::getStoreConfig(AW_Advancednewsletter_Block_Subscribe::STYLES_PATH) != 'none') :?>
	            <div class="an-segments">
	                <?php echo $this->getChildHtml('advancednewsletter.options.'.Mage::getStoreConfig(AW_Advancednewsletter_Block_Subscribe::STYLES_PATH)); ?>
	            </div>
	        <?php else: ?>
	        
        	<?php endif ;?>
        
            <div>
                <?php echo $this->getChildHtml('advancednewsletter.subscriber.data') ?>
            </div>

            <div class="input-box">
	            <div class="submit">
    	            <button type="submit" class="button ml10" onclick="advancednewsletterForm.submit()"><span><?php echo $this->__('Sign up') ?></span></button>
    	        </div>
            </div>
            
<!--
		<div class="input-box">
			<input class="input-text left" type="text" name="email" value="" id="newsletter_email" />
			<div class="submit">
				<button type="submit" class="button"><span><span><?php echo $this->__('Sign up') ?></span></span></button>
			</div>
		</div>
            
-->
            
            
<!--
            <div class="an-buttons">
                <button type="submit" class="button" onclick="advancednewsletterForm.submit()"><span><?php echo $this->__('Subscribe') ?></span></button>
            </div>
-->
<!--         </div> -->
    </form>
    <script type="text/javascript">
        //<![CDATA[
        var advancednewsletterForm<?php echo $this->getBlockUniqueId() ?> = new VarienForm('advancednewsletter-form-<?php echo $this->getBlockUniqueId() ?>');
        //]]>
    </script>
</div>
<?php endif; ?>