div.j2tajax-confirm div.j2tajax-checkout-img{
    text-align: center;
}

div.j2tajax-confirm div.j2tajax-checkout-img-multiple{
    width:100%;
    text-align:center;
    margin-bottom:20px;
}

div.j2tajax-confirm .success-msg {
    background:none;
    color:#000;
    padding: 20px 20px 20px 0!important;
    text-align:left;
    border:none !important;
}

div.j2t-cart-bts {
    clear:both;
    height:auto;
    bottom:0;
    margin: 20px;
}

div.j2tajax-confirm, div.j2tajax-progress{
    /*border:#ccc solid 1px;*/
    z-index: 199;
    text-align:center;
    box-shadow: 0 0 20px rgba(100,100,100,0.1);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: auto;
    background: white;
}
div.j2tajax-progress{
    /*padding:5px;*/
    z-index: 199;
}

div#j2t_ajax_confirm_wrapper div.add-to-cart {margin-top:20px; text-align: center;}
div#j2t_ajax_confirm_wrapper .add-to-cart label, div#j2t_ajax_confirm_wrapper .add-to-cart .qty, div#j2t_ajax_confirm_wrapper .add-to-cart button.button {float:none;}

div.j2t-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
    opacity: .5;
    transition: opacity .35s linear;
}
@media screen and (max-width: 550px) {
    div.j2t-overlay {
        opacity: .8;
    }
}

div.j2t-overlay:hover {
    opacity: .4;
}

a.j2t-checkout-link{
	background-color: #C06700;
    display: block;
    float: right;
    font-size:11px;
    line-height: 11px;
    text-decoration: none;
}

a:link.j2t-checkout-link, a:visited.j2t-checkout-link, a:active.j2t-checkout-link{
    color: #000;
}

a.j2t-checkout-link span{
    display: block;
    padding: 4px 10px 3px;
    text-transform: uppercase;
}

a.j2t-checkout-link:hover{
    background-position: bottom left;
}

a.j2t-checkout-link:hover span{
}
.j2tajax-checkout-txt {
	padding-top:10px;
    text-align: center;
}

.j2tajax-checkout-txt-multiple {
	padding-top:0;
	text-align: center;
}


span.j2t-or{
    display:none;
}
a.j2t-continue-link{
    background: #555;
    display: block;
    float: left;
    font-size:11px;
    text-transform: uppercase;
    line-height: 11px;
    text-decoration: none;
}

a:link.j2t-continue-link, a:visited.j2t-continue-link, a:active.j2t-continue-link{
    color: #000;
}
@media screen and (max-width: 550px) {
    a:link.j2t-continue-link, a:visited.j2t-continue-link, a:active.j2t-continue-link{
        margin-bottom: 10px;
    }
}


a.j2t-continue-link span{
    background: #555;
    display: block;
    padding: 4px 10px 3px;
}

a.j2t-continue-link:hover{
    background-position: bottom left;
}

a.j2t-continue-link:hover span{
	background: #000;
}

span.j2t-upsells-list-wrapper {display:block; text-align:left;}

table.j2t-upsell-product-table {clear:both;}
table td.j2t-upsells-list-item h5.j2t-product-lnk {}
table td.j2t-upsells-list-item h5.j2t-product-lnk a {font-size: 11px; font-weight: normal;}
h4.j2t-upsells-title {display:block; clear:both; padding-left:10px;padding-top:5px;}

div.j2tajax-progress, div.j2tajax-confirm {background:#fff;}
div.j2t-closing-button {position:absolute; top:0px; right:3px; font-family: arial; font-size: 12px; font-weight: bold; cursor: pointer;}

/*uncomment the following line when using massconf module*/
/*#j2t_ajax_confirm_wrapper .product-options-bottom .add-to-cart label, #j2t_ajax_confirm_wrapper .product-options-bottom .add-to-cart input { display:none; }*/
div.inner-ajax-content {
    padding-bottom:0px;
}