<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
?>
<?php if(!$_productCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
    <div class="category-products">
        <?php // echo $this->getToolbarHtml() ?>

        <?php // Grid Mode ?>

        <?php $_collectionSize = $_productCollection->count() ?>
        <?php $_columnCount = $this->getColumnCount(); ?>
        <ul class="product-items-grid">
            <?php $i=0; foreach ($_productCollection as $_product): ?>
            <?php $_product = $_product->load($_product->getId()); ?>
            <li class="product-item item inertia">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-link">

                    <div class="product-photo listing" style="background-image: url(<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepTransparency(true)->resize(200); ?>);"></div>

                    <div class="product-brand"><?php echo $_product->getAttributeText('manufacturer'); ?></div>

                    <h2 class="product-title"><?php echo $this->htmlEscape($_product->getName()) ?></h2>
                    <?php if ($_product->isConfigurable()) : ?>
                    <div class="product-price"><?php echo $this->getPriceHtml($this->helper('simpleprice')->getCheapestProductByConfigurable($_product), true); ?></div>
                    <?php else : ?>
                    <div class="product-price"><?php echo $this->getPriceHtml($_product, true) ?></div>
                    <?php endif; ?>

                    <?php echo $this->getLayout()->createBlock('satisfaction/stars')->setData('product', $_product)->toHtml(); ?>
                </a>
            </li>
        <?php endforeach ?>
        </ul>
        <div class="clearfix"></div>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>

        <div class="toolbar-bottom">
            <?php echo $this->getToolbarHtml() ?>
        </div>
    </div>
<?php endif; ?>
