<?php

/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 *
 */
?>
<?php
$_helper = $this->helper('catalog/output');
$_product = $this->getProduct();

// Product Type : perfume, cosmetic, homefragrance (synched with eNose)
$_product_type = Mage::helper('attribute/Attribute')->getOptionBackendValue('boutique_product_type', $_product->getBoutiqueProductType());

// Backend option vlaue (female, male, unisex)
$_sex = Mage::helper('attribute/Attribute')->getOptionBackendValue('sex', $_product->getSex());

// Number of row to display / items
$numRows = 1;
$itemsPerPage = 4;
?>

<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>




<div class="product-view">
    <div class="product-img-box">
        <?php echo $this->getChildHtml('media') ?>
    </div>



    <div class="product-shop">

        <div class="product-brand"><?php echo $_product->getAttributeText('manufacturer'); ?></div>

        <h1 class="page-title product-name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>

        <div class="product-subtitle">

            <!-- <p class="product-category"><?php //echo __('Eau de parfum'); ?></p> -->

            <?php if ( ! empty($_sex)) :?>
                <span class="perfume-sex perfume-sex-<?php echo $_sex ;?>"></span>
            <?php endif ;?>

        </div>

        <?php echo $this->getChildHtml('product_outofstock_message', '', true, true); ?>

        <form class="clearfix"  action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>

            <div class="no-display">
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                <input type="hidden" name="related_product" id="related-products-field" value="" />
            </div>

            <?php
            /*
             * Configurable Product :
             * - Options
             * - Add To Cart
             *
             */
            ?>
            <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php echo $this->getPriceHtml($_product) ?>
                <?php echo $this->getChildChildHtml('container3', '', true, true) ?>
                <?php echo $this->getChildHtml('addtocart', '', true, true) ?>
            <?php endif;?>

            <?php
            /**
             * Simple product
             *
             */
            ?>
            <?php if (!$this->hasOptions()):?>
                <?php if($_product->isSaleable()): ?>
                    <?php echo $this->getPriceHtml($_product) ?>
                    <?php echo $this->getChildHtml('addtocart') ?>
                <?php endif;?>
            <?php endif;?>


            <?php
            /*
             * Availability + Price
             * Normaly : catalog/product/view/type/default.phtml
             * Here : done by scp_product_extension.js -> updateProductStock()
             *
             */
            ?>
            <?php // echo $this->getChildHtml('product_type_data') ?>

            <p id="stock-alert" style="display:none;">
                <span class="alert"><?php echo $this->__('Alert: '); ?></span><?php echo $this->__('Only '); ?><span id="stock-alert-qty"></span><?php echo $this->__(' product in stock.'); ?>
            </p>
            <?php if (Mage::getSingleton('customer/session')->isLoggedIn()): ?>
                <p id="stock-notify" style="display:none;">
                    <span class="alert"><?php echo $this->__('Alert: '); ?></span><?php echo $this->__('Product not available.') ?> <a href="" id="stock-notify-url"><?php echo $this->__('Notify me when this product is available.'); ?></a>
                </p>
            <?php else: ?>
                <?php
                $current_url = $this->helper('core/url')->getCurrentUrl();;
                $current_session = Mage::getSingleton('customer/session');
                if(isset($current_session)) $current_session->setData("before_auth_url", $current_url);
                ?>
                <p id="stock-notify" style="display:none;">
                    <span class="alert"><?php echo $this->__('Alert: '); ?></span><?php echo $this->__('Product not available.') ?><br/><a href="<?php echo $this->helper('customer/data')->getLoginUrl(); ?>" id="stock-signin-url"><?php echo $this->__('Sign-in to be notified when product is back in stock'); ?></a>
                </p>
            <?php endif; ?>


        </form>

        <?php echo $this->getChildHtml('product_outofstock', '', true, true); ?>

        <?php if ($_product->isSaleable() && $this->hasOptions()):?>

            <?php
            /*
             * Sample of the configurable product
             * @see Partikule_Nose_Block_Catalog_Product_Sample
             *
             */
            echo $this->getChildHtml('product_sample', '', true, true);
            ?>

        <?php endif;?>


        <div class="subnav-container">

            <ul class="subnav tabs-nav">
                <?php if ( $_product->getDescription() !='' ) :?>
                    <li data-tab="description"><a href="#"><?php echo $this->__('Description') ;?></a></li>
                <?php endif; ?>

                <?php if ( $_product_type == 'perfume' ) :?>
                    <li data-tab="the-nose"><a href="#"><?php echo $this->__('Le Nez') ;?></a></li>
                <?php endif; ?>

                <?php if ($_product_type == 'cosmetic') :?>
                    <li data-tab="usage"><a href="#"><?php echo $this->__('Usage') ;?></a></li>
                <?php endif; ?>

                <?php // masqué temporairement à la demande de Nico ?>
                <?php // if ($_product_type == 'cosmetic') :?>
                <?php if (false) :?>
                    <li data-tab="ingredients"><a href="#"><?php echo $this->__('Ingredients') ;?></a></li>
                <?php endif; ?>

                <?php if ($_product_type == 'perfume' OR $_product_type == 'homefragrance') :?>
                    <li data-tab="olfactive-description"><a href="#"><?php echo $this->__('Olfactive description') ;?></a></li>
                <?php endif; ?>
            </ul>

        </div>

        <div class="tabs-content">

            <?php if ( $_product->getDescription() !='' ) :?>
                <div class="tab" id="description">
                    <p><?php echo $_helper->productAttribute($_product, nl2br($_product->getDescription()), 'description') ?></p>
                </div>
            <?php endif; ?>

            <?php if ( $_product_type == 'perfume' ) :?>
                <div class="tab" id="the-nose">
                    <?php echo $this->getChildHtml('product.nez'); ?>
                </div>
            <?php endif; ?>


            <?php if ($_product_type == 'cosmetic') :?>
                <div class="tab" id="usage">
                    <p>
                        <?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
                    </p>
                </div>
            <?php endif; ?>

            <?php // masqué temporairement à la demande de Nico ?>
            <?php // if ($_product_type == 'cosmetic') :?>
            <?php if (false) :?>
                <div class="tab" id="ingredients">
                    <div class="panels">
                        <div class="panel active">
                            <h3><?php echo $this->__('Key Ingredients'); ?></h3>
                            <p><?php echo $_helper->productAttribute($_product, nl2br($_product->getKeyIngredients()), 'key_ingredients') ?></p>
                        </div>
                        <div class="panel">
                            <h3><?php echo $this->__('Detailed Ingredients'); ?></h3>
                            <p><?php echo $_helper->productAttribute($_product, nl2br($_product->getNoseIngredients()), 'nose_ingredients') ?></p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($_product_type == 'perfume' OR $_product_type == 'homefragrance') :?>
                <div class="tab" id="olfactive-description">
                    <?php if ($_product_type == 'perfume') :?>
                        <p>

                            <?php
                            /**
                             * We could use :
                             * $_product->getResource()->getAttribute('boutique_family')->getStoreLabel()
                             *
                             * But the Store Label isn't returned in the template :
                             * mynose/product/view.phtml
                             *
                             * So, to maintain consistency, we use the lang label everywhere
                             *
                             */
                            ?>
                            <span><?php echo $this->__('Families') ;?> :</span>
                            <?php echo rtrim(strtolower($_product->getAttributeText('boutique_family'))) ;?>
                            <?php if ( $_product->getAttributeText('nose_subfamily') != '') :?>,
                                <?php echo rtrim(strtolower($_product->getAttributeText('nose_subfamily'))) ;?>
                            <?php endif ;?>
                        </p>
                    <?php endif; ?>

                    <?php if ($_product_type == 'perfume' OR $_product_type == 'homefragrance') :?>
                        <p class="gray">

                            <?php if ( $_product->getNotesHead() != '') :?>
                                <span class="gray"><?php echo $this->__('Head notes'); ;?> :</span>
                                <span class="gray"><?php echo strtolower($_product->getNotesHead()) ;?></span>
                                <br>
                            <?php endif ;?>

                            <?php if ( $_product->getNotesHeart() != '') :?>
                                <span class="gray"><?php echo $this->__('Heart notes'); ;?> :</span>
                                <span class="gray"><?php echo strtolower($_product->getNotesHeart()) ;?></span>
                                <br>
                            <?php endif ;?>

                            <?php if ( $_product->getNotesBase() != '') :?>
                                <span class="gray"><?php echo $this->__('Base notes'); ;?> :</span>
                                <span class="gray"><?php echo strtolower($_product->getNotesBase()) ;?></span>
                                <br>
                            <?php endif ;?>
                        </p>
                    <?php endif; ?>
                </div>
            <?php endif; ?>

        </div>

        <script type="text/javascript">
            $j(window).load(function() {
                $j('.tabs-nav li').first().addClass('active');
                $j('.tabs-content .tab').first().addClass('active');

                $j('.tabs-nav li a').click(function(e) {
                    e.preventDefault();
                    var li = $j(this).closest('li');
                    $j('.tabs-nav li').removeClass('active');
                    $j('.tabs-content .tab').removeClass('active');
                    li.addClass('active');
                    $j('#' + li.data('tab')).addClass('active');
                    console.log(li.data('tab'));
                })
            });
        </script>
    </div>

    <div class="clearer"></div>

    <script type="text/javascript">
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(){
            if (this.validator.validate()) {
                this.form.submit();
            }
        }.bind(productAddToCartForm);
        initToggler();
    </script>
</div>

<div class="clearer"></div>

<?php echo($this->getChildHtml('category_product_list')) ;?>
<?php echo $this->getChildHtml('product.review'); ?>

