<?php
/**
 * Partikule
 *
 * @modified	2012.03.27
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2012 Partikule (http://www.partikule.net)
 *
 */
?>
<?php
/**
 * Brands Select : From navigation (URL), Builds a select box the adjacent Ionize's page
 * Level : 4
 *
 * @see Partikule_Ionize_Block_Navigation
 *
 *
 */
?>
<?php

	$_pages = FALSE;

	// Get The Ionize page based on the current Magento category URL
	$ionize_brand_page = Mage::helper('ionize/page')->getCategoryPage();
	
	if ($ionize_brand_page)
	{
		// Must be done before call of getParentPageId() : weird, but...
		Mage::helper('ionize/page')->setRegisteredPage($ionize_brand_page);

		// Calls Mage::helper('ionize/page')->getParentPageID(without_url = TRUE/FALSE)
		$_parent_page_id = $this->getParentPageId(TRUE);

		// @params : $id_menu = 1, $id_parent = 0, $with_invisible = FALSE
		$_pages = $this->getChildPagesData(1, $_parent_page_id);
	}
?>

<?php if( ! empty($_pages)): ?>

<div class="col-main center">

    <div id="brand-select" class="nose-select">
        <?php echo $this->__('Welcome to') ;?>
        <ul>
   		<?php foreach($_pages as $page) :?>
            <li><a href="<?php echo $page['path'] ;?>"><?php echo  $page['title'] ;?></a></li>
			<?php endforeach ;?>
        </ul>
    </div>
</div>
<?php
/*
	<select id="brand-select" class="styled" title="<?php echo $this->__('Welcome to') ;?>">
		<option value=""><?php echo $this->__('Welcome to') ;?></option>
		<?php foreach($_pages as $page) :?>
			<option value="<?php echo $page['path'] ;?>"><?php echo $page['title'] ;?></option>
		<?php endforeach ;?>
	</select>

</div>
*/

/*
<script type="text/javascript">

	// Forst approach : 
	$j(function(){
	
		$j('#brand-select').styledSelect( {innerClass:'brand-select-style'} );
	
		$j('select').bind('change', function() {
			if (this.value != '')
				window.location = this.value;
		});
	});

	// Second approach : 
	/*
	$j('select.styled').customSelect();

	$j('#brand-select').bind('change', function() {
		if (this.value != '')
			window.location = this.value;
	});

</script>
*/
?>
<?php endif ?>
