<?php
/**
 * Partikule :
 * - Replaced the standard Select box by Radio boxes
 * - Used by Diagnose (diagnose.phtml) if the gender isn't deifned for this user
 *
 */
?>

  <?php
  $options = Mage::getResourceSingleton('customer/customer')->getAttribute('gender')->getSource()->getAllOptions();
  $value = $this->getGender();
  $_iterator = 0;
  $_nb_options = count($options);
  ?>

  <?php

//trace(count($options));

  ?>
  <div class="input-box gender">
    <?php foreach ($options as $option):?>
      <?php $_iterator ++; ?>
      <?php if ($option['value']) :?>
        <input type="radio" <?php if($this->isRequired() && ($_iterator == $_nb_options)) :?>class="validate-one-required" <?php endif ;?> id="gender<?php echo $option['value'] ?>" name="<?php echo $this->getFieldName('gender')?>" value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $value) echo ' checked="checked"' ?>>
        <label for="gender<?php echo $option['value'] ?>"><?php echo $option['label'] ?></label>&nbsp;
      <?php endif; ?>
    <?php endforeach;?>
  </div>

