<?php
/**
 *
 *
 */
?>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/opcheckout.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/nose_accordion.js') ?>"></script>
<script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>


<div id="checkoutSteps">

	<ul class="opc-nav subnav">
		<li class="first allow"><a href="<?php echo $this->helper('checkout/url')->getCartUrl(); ?>"><?php echo $this->__('Shopping Cart') ?></a></li>
		<?php $i=0; foreach($this->getSteps() as $_stepId => $_stepInfo): ?>
			<?php if (!$this->getChild($_stepId) || !$this->getChild($_stepId)->isShow()): continue; endif; $i++ ?>
			<li id="opc-nav-<?php echo $_stepId ?>" data-id="<?php echo $_stepId ?>" class="step-title <?php echo !empty($_stepInfo['allow'])?' allow':'' ?><?php echo !empty($_stepInfo['complete'])?' saved':'' ?>">
				<a href="#" class=""><span><?php echo $_stepInfo['label'] ?></span></a>
			</li>
		<?php endforeach ?>
	</ul>

	<ol class="opc" id="opcheckoutSteps">
		<?php $i=0; foreach($this->getSteps() as $_stepId => $_stepInfo): ?>
			<?php if (!$this->getChild($_stepId) || !$this->getChild($_stepId)->isShow()): continue; endif; $i++ ?>
		    <li id="opc-<?php echo $_stepId ?>"  data-id="<?php echo $_stepId ?>" class="section<?php echo !empty($_stepInfo['allow'])?' allow':'' ?><?php echo !empty($_stepInfo['complete'])?' saved':'' ?>">
		        <div id="checkout-step-<?php echo $_stepId ?>" class="step a-item" style="display:none;">
		            <?php echo $this->getChildHtml($_stepId) ?>
		        </div>
		    </li>
		<?php endforeach ?>
	</ol>
</div>

<script type="text/javascript">
//<![CDATA[
    var accordion = new NoseAccordion('checkoutSteps', '.step-title', true);


    <?php if($this->getActiveStep()): ?>
    accordion.openSection('opc-<?php echo $this->getActiveStep() ?>');
    <?php endif ?>
    var checkout = new Checkout(accordion,{
        progress: '<?php echo $this->getUrl('checkout/onepage/progress') ?>',
        review: '<?php echo $this->getUrl('checkout/onepage/review') ?>',
        saveMethod: '<?php echo $this->getUrl('checkout/onepage/saveMethod') ?>',
        failure: '<?php echo $this->getUrl('checkout/cart') ?>'}
    );
//]]>
</script>
