<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 *
 * La fraicheur envoûtante 
 * d'une matinée épicée 
 * où l'on flâne aux abords 
 * du bazar d'Istanbul...
 *
 */

/**
 * Product list template
 * Products by attribute
 *
 * @see Partikule_Boutique_Block_Product
 *
 */
?>

<?php 

// Attributes : Got from template which sent them through POST (the controller add them to registry)
$main_attribute = 		Mage::registry('main_attribute');
$main_attribute_value = Mage::registry('main_attribute_value');
$attribute = 			Mage::registry('attribute');
$attribute_value = 		Mage::registry('attribute_value');


// Mage::log('Attribute PHTML : ' . $this->getAttribute_code(), null, 'partikule.log');



$attributes = array(
	array($main_attribute => $main_attribute_value)
);

if ($attribute)
	$attributes[] = array($attribute => $attribute_value);


// Open question...
$limit_to_configurable = FALSE;

// Product Collection
$_products = $this->getProductCollection($attributes, $limit_to_configurable);

// $numRows = ( $productCollection->count() > 6) ? 2 : 1;
$numRows = 1;
$itemsPerPage = 5;
$_iterator = 0;

// Uniq ID of the Carousel
$carousel_id = 'boutique_carousel'.$attribute_value;

?>

<?php if( $_products->getSize() ): ?>

<div class="col-main">

	<div id="<?php echo $carousel_id ; ?>" class="article item_carousel loading rows<?php echo $numRows ;?>">
		
    	<ul class="rows<?php echo $numRows ;?> without-mask">
		
    	<?php foreach ($_products->getItems() as $_product): ?>

			<?php
			
// Mage::log(Mage::getModel('catalog/product_url')->getUrl($_product), null, 'partikule.log');

			$_url = 			Mage::getBaseUrl().$_product->getCategoryUrl().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_product),"/");

			$_name = 			$this->htmlEscape($_product->getName());
			$_name_by_brand = 	($_product->getCategoryName()) ? $_name . ' ' . $this->__('by') . ' ' . $_product->getCategoryName() : $_name;
			
			$_sex = 			Mage::helper('attribute/Attribute')->getOptionBackendValue('sex', $_product->getSex());
			
			$cheapest = 		Mage::helper('boutique/Product')->getCheapestSimple($_product);
			
			?>
			<li class="item link">
				<div class="product">
					<?php if($_sex) :?>
						<span class="icon24 sex sex_<?php echo $_sex; ?>"></span>
					<?php endif ;?>
					<a href="<?php echo $_url ?>" title="<?php echo $_name_by_brand ?>" class="picture" style="background:url(<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepTransparency(false)->resize(160) ?>) no-repeat 50% top;"></a>
					<div class="details">

						<span class="uppercase"><strong><?php echo $_product->getCategoryName() ?></strong></span><br />
						<strong><?php echo $_name ?></strong>
						
						<?php if ( ! is_null($cheapest) ) :?>
							<br/><span class="product-type"><?php echo $cheapest->getAttributeText('LIGHTSPEED_PRODUCT_COLOR') ;?></span><br />
							<?php echo $this->getPriceHtml($cheapest, true) ;?>
						<?php endif ;?>
						
					</div>
				</div>
			</li>
		<?php endforeach ?>
		
		</ul>
		<div class="clearfix"></div>

	</div>

</div>

<div class="clearfix"></div>


<script type="text/javascript">

jQuery(document).ready(function()
{
	// brand product carousel
	if(jQuery('#<?php echo $carousel_id ; ?>').length > 0)
	{
		$j('#<?php echo $carousel_id ; ?>').carousel({
			itemsPerPage: <?php echo $itemsPerPage ;?>,
			itemsPerTransition: <?php echo $itemsPerPage ;?>,
			noOfRows: <?php echo $numRows ;?>,
			pagination: false,
			speed: 500,
			nextText:'<?php echo($this->__('Next Products')) ;?>',
			prevText:'<?php echo($this->__('Prev Products')) ;?>'
		});

		$j('#<?php echo $carousel_id ; ?> li').click(function(event)
		{
			a = $j('a:first', this).attr('href');
			if (a)
			{
				window.location.href = a;
			}
		});
	}
});

</script>

<?php endif; ?>
