<?php
/**
 * Partikule
 *
 * @modified	2011.10.27
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Brand Page Top Block
 * Defined in local.xml
 *
 */

$leftBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('brand_top_left')->toHtml();
$rightBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('brand_top_right')->toHtml();

?>

<?php echo $this->getChildHtml('brands_select') ?>

<div class="brand-top-left">
	<?php if ( ! empty($leftBlock)) :?>
		<?php echo $leftBlock ?>
	<?php endif ;?>
</div>

<div  class="brand-top-right">
	<?php if ( ! empty($rightBlock)) :?>
		<?php echo $rightBlock ?>
	<?php endif ;?>
</div>

<?php echo $this->getChildHtml('page.title') ?>

<?php echo $this->getChildHtml('brand.subtitle') ?>

<div class="col-main first">

	<?php echo $this->getChildHtml('slider') ?>
	
	<?php echo $this->getChildHtml('bloc_top_news') ?>

</div>