<?php
/**
 * Partikule
 *
 * @modified	2011.10.07
 *				2012.02.05 : Replaced XHR calls (slow) by post collection get filtering
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Product list template
 * Products by attribute from one category
 *
 * @see Partikule_Nose_Catalog_Product_List
 *
 * Rapportée d'une journée
 * passée à butiner dans les
 * fleurs et la chaleur,
 * une eau de toilette qui vole
 * et sent si bon l'été !
 *
 */
?>

<?php


// Gets products from current category
$_products = $this->getProductCollection();
// $_products = Mage::getModel('boutique/Category')->setCategoryData($_products); // Adds the Category attributes : category_name / category_url

/*
foreach($_products as $item)
{
	Mage::log($item->getData(), null, 'partikule.log');
}
*/


// Navigation items : Attribute values of "boutique_product_type"
$navigationItems = Mage::helper('attribute/Data')
	->getProductFilteredAttributeOptions('boutique_product_type', $_products);

// New product from this category
$new_products = Mage::helper('nose/Product')->getNewProductCollection(10);
//$new_products = Mage::getModel('boutique/Category')->setCategoryData($new_products);

// Add "New products" to navigation items
if ($new_products && $new_products->count() >0)
{
	$navigationItems = array_merge(
		array(
			array(
				'option_id' => 'new',
				'store_value' => $this->__('New Products'),
				'value' => $this->__('New Products'),
				'products' => $new_products
			)
		),
		$navigationItems
	);
}


// $numRows = ( $productCollection->count() > 6) ? 2 : 1;
$numRows = 1;
$itemsPerPage = 5;
$_iterator = 0;

// Uniq ID of the Carousel
// $carousel_id = 'article_carousel';

$_category = Mage::registry('current_category');


?>

<?php if( ! empty($navigationItems) ): ?>

<div class="col-main">

	<?php
	/*
	 * Attributes Menu
	 *
	 *
	 */
	?>
	<?php if ( ! empty($navigationItems)) :?>

	<div class="subnav-container center">
		<ul id="home-nav" class="subnav">
			<?php foreach($navigationItems as $item) :?>
				<li <?php if ( $_iterator == 0 ) :?>class="active first"<?php endif ;?>><a><span><?php echo $item['value'] ?></span></a></li>
				<?php $_iterator++ ;?>
			<?php endforeach ;?>
		</ul>
	</div>

	<?php endif ;?>


	<div class="clearfix"></div>

	<?php
	/*
	 * If one attributes menu exists, build panels
	 *
	 *
	 */
	?>
	<?php if ( ! empty($navigationItems)) :?>

		<div id="home-panels">

			<?php
				$_panel_iterator = 0;
			?>

			<?php foreach($navigationItems as $key => $item) :?>

				<?php
					$_iterator = 0;
					$carousel_id = 'carousel' . $key;
					$_products_to_display = $item['products'];
				?>
				<div class="panelContent center">

					<div id="<?php echo $carousel_id ; ?>" class="article item_carousel loading rows<?php echo $numRows ;?>">

						<?php if (count($_products_to_display) <= $itemsPerPage) :?>
						<div class="table">
						<?php endif ;?>
						 <ul class="rows<?php echo $numRows ;?> without-mask">

							<?php foreach($_products_to_display as $_product): ?>

							<?php
							$_url = 			Mage::getBaseUrl().$_product->getCategoryUrl().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_product),"/");
							$_name = 			$this->htmlEscape($_product->getName());
							$_name_by_brand = 	($_product->getCategoryName()) ? $_name . ' ' . $this->__('by') . ' ' . $_product->getCategoryName() : $_name;
							// $_sex = 			Mage::helper('attribute/Attribute')->getOptionBackendValue('sex', $_product->getSex());
							$_sex = FALSE;
							// $cheapest = 		Mage::helper('boutique/Product')->getCheapestSimple($_product);

							?>
							<li class="item link">
								<div class="product">
									<?php if($_sex) :?>
										<span class="icon24 sex sex_<?php echo $_sex; ?>"></span>
									<?php endif ;?>
									<a href="<?php echo $_url ?>" title="<?php echo $_name_by_brand ?>" class="picture"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepTransparency(false)->resize(160) ?>" width="160" height="160" alt="<?php echo $_name ?>" /></a>

									<div class="details mt15">

										<h3>
											<span class="uppercase"><strong><?php echo $_product->getCategoryName() ?></strong></span><br />
											<strong><?php echo $_name ?></strong>
										</h3>

										<div id="simpleInfo<?php echo $_panel_iterator . $_iterator; ?>" style="height:30px;" class="spinner simpleInfo<?php echo  $_panel_iterator ; ?>" data-id="<?php echo $_product->getId(); ?>"></div>

									</div>
								</div>
							</li>
							<?php
								$_iterator++ ;
							?>
							<?php endforeach ?>
						</ul>
						<?php if (count($_products_to_display) <= $itemsPerPage) :?>
						</div>
						<?php endif ;?>
						<div class="clearfix"></div>
					</div>

					<script type="text/javascript">

						jQuery(document).ready(function()
						{
							// brand product carousel
							if(jQuery('#<?php echo $carousel_id ; ?>').length > 0)
							{
								$j('#<?php echo $carousel_id ; ?>').carousel({
									itemsPerPage: <?php echo $itemsPerPage ;?>,
									itemsPerTransition: <?php echo $itemsPerPage ;?>,
									noOfRows: <?php echo $numRows ;?>,
									pagination: false,
									speed: 500,
									nextText:'<?php echo($this->__('Next Products')) ;?>',
									prevText:'<?php echo($this->__('Prev Products')) ;?>',
									onNextItem: function(self)
									{
										if ( ! self.isPanelLoaded())
										{
											<?php
											/*
											 * Get the price of each cheapest simple
											 * See nose.js
											 */
											?>
											getLowestProductInfos(
												'<?php echo Mage::getBaseUrl() ;?>boutique/product/getlowestinfos',
												'.simpleInfo<?php echo $_panel_iterator; ?>',
												getLowestMasterIds('.simpleInfo<?php echo $_panel_iterator; ?>', self.itemIndex, self.itemIndex + 5)
											);
											self.setLoadedPanel();
										}
									}
								});
								$j('#<?php echo $carousel_id ; ?> li').click(function(event)
								{
									a = $j('a:first', this).attr('href');
									if (a)
									{
										window.location.href = a;
									}
								});
							}
						});

					</script>

				</div>

				<?php
				$_panel_iterator++;
				?>

			<?php endforeach ;?>
		</div>

		<script type="text/javascript">
			jQuery(document).ready(function()
			{
				var homePanels = new NosePanels({
					'nav' : 'home-nav',
					'panels' : 'home-panels'
				});

				<?php
				/*
				 * Get the price of each cheapest simple
				 * Load of the prices of the first products of each panel
				 * See nose.js
				 */
				?>
				$j('#home-nav li').each(function(idx, item)
				{
					getLowestProductInfos(
						'<?php echo Mage::getBaseUrl() ;?>boutique/product/getlowestinfos',
						'.simpleInfo' + idx,
						getLowestMasterIds('.simpleInfo'+ idx, 0, 5)
					);
				});


			});
		</script>

	<?php endif ;?>

	</div>

<?php endif; ?>

