<?php
/**
 * Partikule
 *
 * @modified	2011.10.21
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Page container
 *
 * @see Partikule_Ionize_Block_Page
 *
 */


$pages = $this->getSubPages()->withMedias();

$_iterator = 0;
$last = 4;

?>

<?php if ($pages->count() > 0): ?>
	
	<div class="col-main">
	
		<div class="letter-widget">
			<ul id="creators-filter" class="letter-filter">
				
				<?php
					// Could do a widget for that... could...
					$letters = array('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z');
				?>
				
				<li><a data-letter="all" class="all active"><?php echo $this->__('All creators'); ?></a></li>
				
				<?php foreach($letters as $letter) :?>
					<li class="letter"><a data-letter="<?php echo $letter ;?>" href=""><?php echo $letter ;?></a></li>
				<?php endforeach ;?>
			</ul>
		</div>
		
		<ul id="creators" class="creators">
		<?php foreach($pages as $page) :?>

			<?php
	
				$media = $page->getMedias()->getFirstItem();
				
				// Creator's first name letter
				$letter = '';
				$name = $page->getTitle();
				if ($name)
				{
					$name = explode(' ', $name);
					$last_name = array_pop($name);
					$letter = ucfirst(substr($last_name, 0,1));
				}
	
			?>
	
			<?php if($media->hasData()) :?>
				<?php $_iterator++; ?>
				<li data-id="id-<?php echo $_iterator; ?>" data-letter="<?php echo $letter ?>" class="bloc pointer link bloc-brands-4 mb10<?php if ($_iterator%4 == 0):?> last<?php endif ;?>">
					<?php if( $page->getTitle() != '' ) : ?>
						<a class="title" href="<?php echo $page->getPath(); ?>"><?php echo str_replace(' ', '&nbsp;', $page->getTitle()) ;?></a>
					<?php endif ;?>
					<img class="des" src="<?php echo $media->getSource() ?>" />
				</li>
			<?php endif ;?>

		<?php endforeach; ?>
		</ul>
	</div>

	<script type="text/javascript">

		var data = $j('#creators').clone(1,1).attr('id', '');


		$j('#creators li img.des').load(function()
		{
			desaturate($j(this));
		});

		$j(document).ready(function()
		{
			var current = 'all';
			
			$j('#creators-filter li a').click(function(e)
			{
				e.preventDefault();
				
				var dataId = $j(this).attr('data-letter');
				
				if (dataId != current)
				{
					if (dataId == 'all') {
						var filteredData = data.find('li');
					} else {
						var filteredData = data.find('li[data-letter=' + dataId + ']');
					}
					
					if (filteredData.length > 0)
					{
						current = dataId;
						$j(filteredData).removeClass('last');
						
						$j.each(filteredData, function(i, li)
						{
							if ((i+1)%4 == 0) $j(li).addClass('last');
						});
						
						$j('#creators-filter li a').removeClass('active');
						$j(this).addClass('active');

						$j('#creators').quicksand(filteredData, {
							duration: 500,
							easing: 'easeInOutQuad',
							adjustHeight:'dynamic',
							useScaling: true,
							enhancement: function(resultData) {
								
								$j('#creators li').each(function()
								{
									$j(this).click(function(event){
										a = $j('a:first', this).attr('href');
										if (a) window.location.href = a;
									});
	
									desaturate($j('img.des', this));
								});
																
							}
						});
					}
				}
			});
		});


	</script>

<?php endif ;?>
