<?php
/*
 * @block Partikule_Mynose_Block_Voucher
 *
 */
?>

<?php

$vouchers = $this->getVouchers();

?>

<div class="section-title"><?php echo $this->__('My Vouchers'); ?></div>


<div class="mobile-scroll">

    <?php if (empty($vouchers)) :?>

		<p class="centered">
			<?php echo $this->__("You currently don't have any voucher.") ?>
		</p>

    <?php else :?>

        <table class="diagnose-table input-table" id="diag-results">
            <thead>
            <tr>
                <th class="no-border"><?php echo $this->__('Voucher code') ?></th>
                <th class="no-border"><?php echo $this->__('Origin') ?></th>
                <th class="no-border"><?php echo $this->__('Value') ?></th>
                <th class="no-border"></th>
            </tr>
            </thead>

            <tbody>

            <?php foreach($vouchers as $key => $_voucher) :?>

                <tr>
                    <td>
                        <input class="voucher-code" data-id="<?php echo $_voucher['coupon'] ?>" value="<?php echo $_voucher['coupon'] ?>">
                    </td>
                    <td><?php echo $this->getReason($_voucher) ?></td>
                    <td><?php echo number_format($this->getValue($_voucher), 2) ?></td>
                    <td style="width:15%">
                        <button type="button" title="<?php echo $this->__('Copy to clipboard') ?>" class="voucherCode button button-pink" data-id="<?php echo $_voucher['coupon'] ?>"><?php echo $this->__('Copy') ?></button>
                    </td>
                </tr>

            <?php endforeach ;?>

            </tbody>
        </table>

    <?php endif ;?>

</div>

<script type="text/javascript">

	var copyThisVoucherCode = function(code, btn)
	{
		$j('input[data-id="'+code+'"]').get(0).select();
		document.execCommand('copy');

		$j(btn).html('<?php echo $this->__('Copied !'); ?>');


		setTimeout(function() {
            $j(btn).html('<?php echo $this->__('Copy'); ?>');
		}, 1500);
	};

	$j('.voucherCode').click(function()
    {
		copyThisVoucherCode($j(this).attr('data-id'), $j(this));
	});

</script>
