<?php
/**
 * Partikule
 *
 * @modified	2011.10.21
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Page container
 *
 * @see Partikule_Ionize_Block_Page
 *
 */


$page = Mage::helper('ionize/page')->getRegisteredPage();

$articles = $this->getArticles( $page->getId() );

$_iterator = 0;

?>

<?php if ($articles->count() > 0): ?>

	<div class="col-main">

		<div class="letter-widget">
			<ul id="brands-filter" class="letter-filter">

				<?php
					// Could do a widget for that... could...
					$letters = array('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z');
				?>

				<li><a data-letter="all" class="all active"><?php echo $this->__('All brands'); ?></a></li>

				<?php foreach($letters as $letter) :?>
					<li class="letter"><a data-letter="<?php echo $letter ;?>" href=""><?php echo $letter ;?></a></li>
				<?php endforeach ;?>
			</ul>
		</div>



		<ul id="brands" class="brands">
		<?php foreach($articles as $article) :?>

			<?php // if ($article->getTargetUrl()) :?>

				<?php

					$media = $article->getMedias()->getFirstItem();

					// Creator's first name letter
					$letter = '';
					$name = $article->getTitle();
					if ($name)
					{
						$name = explode(' ', $name);
						$first_name = array_shift($name);
						$letter = ucfirst(substr($first_name, 0,1));
					}
					// style="background:url( php echo $media->getSource() ) no-repeat top left;"
				?>

				<?php if($media->hasData()) :?>
					<?php $_iterator++; ?>
					<li data-id="id-<?php echo $_iterator; ?>" data-letter="<?php echo $letter ?>" class="bloc pointer link bloc-brands-4 mb10<?php if ($_iterator%4 == 0):?> last<?php endif ;?>" >
						<?php if( $article->getTitle() != '' ) : ?>
							<a class="title" href="<?php echo $article->getTargetUrl(); ?>">
								<h2><?php echo str_replace(' ', '&nbsp;', $article->getTitle()) ;?></h2></a>
						<?php endif ;?>
						<img class="des" src="<?php echo $media->getSource() ?>" />
					</li>
				<?php endif ;?>

			<?php // endif ;?>

		<?php endforeach; ?>
		</ul>

	</div>

	<script type="text/javascript">


		var data = $j('#brands').clone(1,1).attr('id', '');


		$j('#brands li img.des').load(function()
		{
			desaturate($j(this));
		});


		$j(window).load(function()
		{
			var current = 'all';

			$j('#brands-filter li a').click(function(e)
			{
				e.preventDefault();

				var dataId = $j(this).attr('data-letter');

				if (dataId != current)
				{
					if (dataId == 'all') {
						var filteredData = data.find('li');
					} else {
						var filteredData = data.find('li[data-letter=' + dataId + ']');
					}

					if (filteredData.length > 0)
					{
						current = dataId;
						$j(filteredData).removeClass('last');

						$j.each(filteredData, function(i, li)
						{
							if ((i+1)%4 == 0) $j(li).addClass('last');
						});

						$j('#brands-filter li a').removeClass('active');
						$j(this).addClass('active');

						$j('#brands').quicksand(filteredData, {
							duration: 500,
							easing: 'easeInOutQuad',
							adjustHeight:'dynamic',
							useScaling: true,
							enhancement: function(resultData) {

								$j('#brands li').each(function()
								{
									$j(this).click(function(event){
										a = $j('a:first', this).attr('href');
										if (a) window.location.href = a;
									});
									if ( ! $j.browser.msie && parseInt($j.browser.version) > 8 )
										desaturate($j('img.des', $j(this)));
								});

							}
						});
					}
				}
			});
		});

	</script>



<?php endif ;?>
