<?php
/**
 * Partikule
 *
 * @modified	2011.10.21
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Page container
 *
 * @see Partikule_Ionize_Block_Page
 *
 */


$pages = $this->getSubPages();

?>

<?php if ($pages->count() > 0): ?>
	
	<?php foreach($pages as $page) :?>

		<div class="col-main">
		
			<h3 class="col-title"><?= $page->getTitle(); ?></h3>
			
			<?php
				/*
				 * Get all articles from this page
				 * If no link is set, the block isn't displayed
				 * 
				 * $article->getTargetUrl() : "targetUrl" this value is dynamicaly set by Partikule_Ionize_Model_Article->getArticles()
				 *
				 */
				$articles = $this->getArticles( $page->getId() );
				
				$_iterator = 0;
			?>

			<?php if ($articles->count() > 0): ?>
				
				<?php foreach($articles as $article) :?>
					
					
					<?php if ($article->getTargetUrl()) :?>
					
						<?php
						
							/*
							 * The article is only displayed if one media is found
							 * That ensure we do not display empty blocks
							 *
							 */
							$media = $article->getMedias()->getFirstItem();
						?>
	
						<?php if($media->hasData()) :?>
	
							
							<?php
								
								$_iterator++;
	
								/*
									The Ionize selected page view helps to define the CSS blocks to use for blocks of each article
									
									CSS class are : 
									- bloc-brands-4
									- bloc-brands-4-small
									- bloc-brands-3
								*/
									
								$last = 4;
								$class='';
	
								switch ($page->getView())
								{
									case 'page_brands_bloc4':
										$class='bloc-brands-4';
										$last = 4;
										break;
										
									case 'page_brands_bloc4_small':
										$class='bloc-brands-4-small';
										$last = 4;
										break;
	
									case 'page_brands_bloc3':
										$class='bloc-brands-3';
										$last = 3;
										break;									
								}
							?>
							
							<div class="bloc pointer link <?php echo $class ?> mb10<?php if ($_iterator%$last == 0):?> last<?php endif ;?>" style="background:url(<?= $media->getSource() ?>) no-repeat top left;">
								<?php if( $article->getTitle() != '' ) : ?>
									<div class="summary">
										<div class="summaryContent light">
											<h4><?php echo str_replace(' ', '&nbsp;', $article->getTitle()) ;?></h4>
											<a class="more" href="<?php echo $article->getTargetUrl(); ?>"><?php echo $this->__('Enter') ?> &raquo;</a>
										</div>
									</div>
								<?php endif ;?>
							</div>
							
						<?php endif ;?>
					<?php endif ;?>
				<?php endforeach; ?>
			<?php endif ;?>
		</div>
	<?php endforeach; ?>

	<script type="text/javascript">
	
		
	
	</script>


<?php endif ;?>
