<?php
/**
 * Partikule
 *
 * @modified	2011.10.27
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Brand Page Top Block
 * Defined in local.xml
 *
 */


?>

<div class="col-main">
	<?php echo $this->getChildHtml('article_news') ?>
</div>

<div class="col-right sidebar">
	<?php echo $this->getChildHtml('side_news') ?>
</div>


