<?php $_order = $this->getOrder() ?>
<?php if ($_order): ?>
<?php
        Mage::app()->getTranslator()->init('frontend', true);
        $_backorderItems = array();
        foreach ($_order->getAllItems() as $_item) {
            if ($_item->getParentItem()) continue;
            $_sku = $_item->getProductOptionByCode('simple_sku') ? $_item->getProductOptionByCode('simple_sku') : $_item->getSku();
            $_productStock = Mage::getModel('catalog/product')->loadByAttribute('sku', $_sku);
            $stock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($_productStock);
            if ($stock->getQty() < 0) {
                $_backorderItems[] = $_item;
            }
        }
?>
<?php if (empty($_backorderItems)) : ?>
        <p style="font-size:12px; line-height:16px; margin:0;">
            Nous vous enverrons un lien de suivi de votre commande lorsqu'elle sera expédiée.<br/>
            HOP. Vous pouvez suivre votre commande en <a href="<?php echo $this->getUrl('customer/account') ?>" style="color:#1E7EC8;">vous connectant à votre compte</a>.
            Si vous avez des questions au sujet de votre commande, n'hésitez pas à nous contacter sur <a href="mailto:<?php echo Mage::getStoreConfig('trans_email/ident_support/email'); ?>" style="color:#1E7EC8;"><?php echo Mage::getStoreConfig('trans_email/ident_support/email'); ?></a> ou bien appelez-nous au <span class="nobr"><?php echo Mage::getStoreConfig('general/store_information/phone'); ?></span> du Lundi au Vendredi, de 9H  à 18H.
        </p>
<?php else : ?>
        <p style="font-size:12px; line-height:16px; margin:0;"><br />
            Au moins un des produits que vous avez commandés est en rupture (précommande) mais en cours d'acheminement vers notre boutique.<br/>
            Notre équipe prendra contact avec vous dans les prochaines heures afin de vous identifier un délai estimé auquel nous pensons recevoir ce(s) produit(s) en rupture.
        </p>
        <p style="font-size:12px; line-height:16px; margin:0;"><br />
            Une fois ces marchandises réceptionnées, nous ferons partir l'intégralité de votre commande en une seule fois.
        </p>
        <p style="font-size:12px; line-height:16px; margin:0;"><br />
            Vos produits en cours d'approvisionnement :
        </p>
        <br />
        <table cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #EAEAEA;">
            <thead>
                <tr>
                    <th align="left" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Item') ?></th>
                    <th align="left" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Sku') ?></th>
                    <th align="center" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Qty') ?></th>
                    <th align="right" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Subtotal') ?></th>
                </tr>
            </thead>
            <?php $i=0; foreach ($_backorderItems as $_item): ?>
            <?php $i++; ?>
            <tbody<?php echo $i%2 ? ' bgcolor="#F6F6F6"' : '' ?>>
                <?php echo $this->getItemHtml($_item) ?>
            </tbody>
            <?php endforeach; ?>
        </table>
    <?php endif; ?>
<?php endif; ?>
