<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Articles container
 *
 * @see Partikule_Ionize_Articles
 *
 */

// $articles = $this->getSliderArticleCollection();
$articles = $this->getArticles(array('type' => 'slider'));


/*
foreach($articles as $article)
{
	Mage::log($article->getTargetUrl(), null, 'article.log');
}
*/



?>

<?php if ($articles->count() > 0): ?>

	<!-- Articles Slider -->
	<div class="top-scroller">
		
		<?php echo $this->getChildHtml('page_subtitle'); ?>
		
		<!-- Scroller -->
		<div id="scroller" class="scroller" >

			<!-- Nav -->
			<ul class="scroller-nav">
				<?php foreach($articles as $article) :?>
					<li>
						<a href="#panel<?= $article->getId(); ?>">
							<?= $article->getTitle(); ?>
						</a>
					</li>
				<?php endforeach ;?>
			</ul>
	
			<!-- Content -->
			<div class="scroller-container">
				<div class="scroller-content">
		
					<?php foreach($articles as $article) :?>
					
						<?php
							
							/*
							 * getMedias() returns the colection item called "medias" of the article
							 * fromCurrentStore() filters medias on the current store code (see Model/Collection.php)
							 *
							 */
							 
							$media = $article->getMedias()->fromCurrentStore()->getFirstItem();
							
							$data = $media->getData();

							if ( empty($data))
							{
								$media = $article->getMedias()->getFirstItem();
							}
						?>
						<?php if ($media->getType() == 'picture') :?>

							<div id="panel<?php echo $article->getId(); ?>" class="scroller-panel link" style="background:url(<?= $media->getSource() ?>) no-repeat top left;)">
								<?php if ($article->getTargetUrl()) :?>
								<a class="link" href="<?php echo $article->getTargetUrl() ;?>"></a>
								<?php endif ;?>
							</div>
							
						<?php endif ;?>
						
						<?php if ($media->getType() == 'video' && $media->isExternal() == FALSE) :?>
						
							<div id="panel<?php echo $article->getId(); ?>" class="scroller-panel">
							
							<video id="training_video" width="650" height="490" class="video_area" controls="controls">
								<source src="<?php echo $media->getSource('', 'ogv') ?>" type="video/ogg; codecs=theora,vorbis"></source>
								<source src="<?php echo $media->getSource() ?>" type="video/mp4"></source>
							<!--
								<source src="/media/training/webm/video.webm" type='video/webm; codecs="vp8, vorbis"' ></source>
								<source src="/media/training/ogv/video.ogv" type='video/ogg; codecs="theora, vorbis"' ></source>
								-->
								<div id="fp_video">
									<a href="<?php echo $media->getSource() ?>" style="display:block;width:650px;height:490px;" id="fp_player<?php echo $media->getId(); ?>"></a>
								</div>
								<script>
									flowplayer("player<?php echo $media->getId(); ?>", "<?php echo $this->helper('core/js')->getSkinUrl() ?>/flowplayer/flowplayer-3.2.7.swf", {clip:{autoPlay: false,autoBuffering: true}});
								</script>

							</video>
							
							</div>
						<?php endif ;?>

						<?php if ($media->getType() == 'video' && $media->isExternal() == TRUE) :?>
							<div id="panel<?php echo $article->getId(); ?>" class="scroller-panel">
							<iframe class="ext-video" width="650" height="490" src="<?php echo $media->getPath() ?>?wmode=transparent" frameborder="0" allowfullscreen ></iframe>
							</div>
						<?php endif ;?>
						
						
					<?php endforeach ;?>
				</div>
			</div>
			
		</div><!-- / Scroller -->
	
	</div>
	
	<script type="text/javascript">
		$j(document).ready(function()
		{
			initTopScroller();
		});
	</script>
	
<?php endif ;?>
