<?php

/*
 * @see Partikule_Mynose_Block_Calendar
 *
 */
?>

<?php

// Help block : CMS block must be set in Magento
$helpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_calendar_help')->toHtml();

$_events = $this->getCalendarEvents();
$_contacts = $this->getContacts();

trace($_contacts);

$itemsPerPage = 5;
$numRows = 1;
$startItemIndex = 0;
?>

<div class="page-title">
    <h2><?php echo $this->__('Calendar') ?></h2>
    <?php if ( ! empty($helpBlock)): ?><a id="helperBtn1" class="helper-open"></a><?php endif ;?>
</div>

<div class="span-18 prepend-1 append-1">

	<?php echo $this->getChildHtml('global_messages') ?>
	
	
	<?php if ( ! empty($helpBlock)): ?>
	<div  id="helperBloc1" class="helper-bloc">
		<a class="helper-close"></a>
		<?php echo $helpBlock->toHtml(); ?>
	</div>
	<?php endif ;?>

	<h3 class="title mt30 mb20"><?php echo $this->__("Celebration and birthdays") ?></h3>

</div>



<div id="events_carousel" class="events item_carousel rows1">
	
	<ul class="events rows1 without-mask">
	
	<?php foreach ($_events as $_event) :?>
		<?php
			// Displayed date
			$phpdate = strtotime( $_event['date'] );
			$day = date('d', $phpdate);
			$month = strtolower(date('M', $phpdate));
			
			// Array of relation type from this event
			$ids_relation_type = ! is_null($_event['ids_relation_type']) ? explode(',', $_event['ids_relation_type']) : array();
			$_concerned_contact = array();
			
			$id_diag = NULL;
			$id_user = $_event['id_user'];
			$user_name = $_event['user_name'];
			
			if ($_event['event_code'] == 'birthday' && ! is_null($_event['id_diag'] ))
				$id_diag = $_event['id_diag'];

			
			if ($_event['event_type'] == 'official')
			{
				foreach($_contacts as $_contact)
				{
					// Next relation type based event
					if (
						($_event['sex_id'] == $_contact['gender'] OR is_null($_event['sex_id'])) &&
						in_array($_contact['id_relation_type'], $ids_relation_type)
					)
					{
						$id_diag = $_contact['id_diag'];
						$id_user = $_contact['id_user'];
						$user_name = $_contact['firstname'] . ' ' . $_contact['lastname'];
						break;
					}	
				}
			}
			
		?>
		<li<?php if ( $_event['event_code'] == 'birthday'): ?> class="birthday<?php if (!is_null($_event['id_diag'])) : ?> diag<?php endif ;?>"<?php endif ;?><?php if (!is_null($_event['id_diag'])) : ?> data-id="<?php echo $_event['id_user']; ?>"<?php endif ;?>>
			<div class="date">
				<?php
				/*
				 * Diag ?
				 *
				 */
				?>
				<?php if ( ! is_null($_event['id_diag'] )): ?>
					<form id="formShowDiagnostic<?php echo $_event['id_user']; ?>" action="<?php echo Mage::helper('mynose/url')->getContactDiagnosticUrl() ?>" method="post">
						<input type="hidden" name="from" value="mynose/calendar" />
						<input type="hidden" name="id" value="<?php echo $_event['id_user']; ?>" />
					</form>
				<?php endif ;?>
				<?php
				/*
				 * Check each contact
				 *
				 */
				?>
				<span class="day"><?php echo($day); ?></span>
				<span class="month"><?php echo $this->__($month); ?></span>
				<span class="contact"><?php echo $user_name; ?></span>
				<?php if ( $_event['event_code'] == 'birthday'): ?>
					<?php if (!is_null($_event['id_diag'])) : ?><span class="diag"><?php echo $this->__("See diagnostic") ?></span>
					<?php else :?><span class="nodiag"><?php echo $this->__("No diagnostic") ?></span><?php endif ;?>
				<?php endif ;?>
			</div>
			<div class="event">
				<span class="event-label"><?php echo $this->__($_event['event_name']); ?></span>
				<?php if ( $_event['event_code'] == 'birthday'): ?>
					<span class="event-label"><?php echo $_event['user_name']; ?></span>
					<span class="event-detail"><?php echo $_event['age'] ;?> <?php echo $this->__(' years') ;?> </span>
				<?php else :?>
					<span class="event-label"><?php echo $this->__($_event['event_name']); ?></span>
				<?php endif ;?>
				
				<?php if( ! empty($_concerned_contact)) :?>
					<span class="event-label"><?php echo $_concerned_contact['firstname'] . ' ' . $_concerned_contact['lastname']; ?></span>
				<?php endif ;?>
				
				
				
			</div>
		</li>
	
	
	<?php endforeach ;?>
	
	</ul>

</div>


<script type="text/javascript">

	<?php
	/*
	 * Helpers panels
	 *
	 */
	?>
	initHelper('#helperBtn1', '#helperBloc1');


	$j(document).ready(function()
	{
		<?php
		/*
		 * Carousel
		 *
		 */
		?>
		if($j('#events_carousel').length > 0)
		{
			$j('#events_carousel').carousel({
				itemsPerPage: <?php echo $itemsPerPage; ?>,
				itemsPerTransition: <?php echo $itemsPerPage; ?>,
				noOfRows: <?php echo $numRows; ?>,
				pagination: false,
				startItemIndex: <?php echo $startItemIndex ;?>, 
				speed: 500,
				nextText:'<?php echo($this->__('Next articles')) ;?>',
				prevText:'<?php echo($this->__('Prev articles')) ;?>'
			});
			
			$j('#events_carousel li.birthday.diag').each(function()
			{
				$j(this).css('cursor', 'pointer');
			})
			
			$j('#events_carousel li').each(function()
			{
				a = $j('a:first', this).attr('href');
				if (a)
				{
				console.log('coucou');
					$j(this).click(function(event)
					{
						window.location.href = a;
					});
				}
			});
		}
		
		<?php
		/*
		 * Show diag events
		 *
		 */
		?>
		$j('.birthday.diag').each(function(idx){
	
			$j(this).click(function(data, evt)
			{
				var item = data.target;
				var id = $j(this).attr('data-id');
	
				$j('#formShowDiagnostic' + id).submit();
			});

		});
	});

</script>


