<?php
/**
 * Diagnostic results media view
 *
 */

/**
 * Product media data template
 *
 * @see Mage_Catalog_Block_Product_View_Media
 */
?>
<?php
	$_product = $this->getProduct();
	$_helper = $this->helper('catalog/output');
?>

<?php if (count($this->getGalleryImages()) > 0): ?>

<div class="slideshow">

	<?php $_iterator = 0; ?>

	<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
		<?php
		$_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->keepTransparency(false)->resize(320).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" data-id="' . $_iterator . '"/>';
		echo $_helper->productAttribute($_product, $_img, 'image');
		?>
		<?php $_iterator++; ?>
	<?php endif; ?>


    <?php foreach ($this->getGalleryImages() as $_image): ?>
    	<?php
    	$style = ($_iterator > 0) ? ' style="display:none;"' : '';
    	?>
		<img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), '320', $_image->getFile())->keepTransparency(false)->resize(320); ?>" data-id="<?php echo $_iterator; ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>"  width="320" height="320" <?php echo $style; ?> />
		<?php $_iterator++; ?>
    <?php endforeach; ?>

</div>

<div class="more-views">
	<?php $_iterator = 0; ?>
	
	
	<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
	<?php
		$_a = '<a href="'.$this->helper('catalog/image')->init($_product, 'image')->keepTransparency(false)->resize(320).'" title="'.$this->htmlEscape($this->getImageLabel()).'" data-id="' . $_iterator . '" class="thumb" >';
		$_a .= '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'small_image')->keepTransparency(false)->resize(140).'" width="140" height="140" alt="'.$this->htmlEscape($this->getImageLabel()).'" />';
		$_a .= '</a>';
		echo $_a;
	?>
	<?php $_iterator++; ?>
	<?php endif; ?>
	
	
    <?php foreach ($this->getGalleryImages() as $_image): ?>
		<a href="<?php echo $this->getGalleryUrl($_image) ?>" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>" data-id="<?php echo $_iterator; ?>" class="thumb"><img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->keepTransparency(false)->resize(140); ?>" width="140" height="140" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" /></a>
		<?php $_iterator++; ?>
    <?php endforeach; ?>
    
</div>

<?php else: ?>
<div class="slideshow">

	<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
	<?php
		$_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->keepTransparency(false)->resize(320).'" data-id="0" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
		echo $_helper->productAttribute($_product, $_img, 'image');
	?>
	<?php endif; ?>

</div>
<div class="more-views">
	<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
		<a href="<?php echo $this->helper('catalog/image')->init($_product, 'image')->keepTransparency(false)->resize(320); ?>" data-id="0" title="<?php echo $this->htmlEscape($this->getImageLabel()) ?>" class="thumb"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepTransparency(false)->resize(140); ?>" width="140" height="140" alt="<?php echo $this->htmlEscape($this->getImageLabel()) ?>" /></a>
	<?php endif; ?>
</div>
<?php endif; ?>



<script type="text/javascript">
<?php 
/*
 * Should be centralized, but only used here.. so...
 *
 */
?>
Array.prototype.max = function() {
    return Math.max.apply(null, this);
};

$j(document).ready(function()
{
    var selectedImage = 0;
	
	<?php 
	/*
	 * Inits the Picture slideshow
	 * Easy slideshow...
	 *
	 */
	?>
    $j("div.slideshow").each(function()
    {
        var slideshow = $j(this);
        var selectedImage = 0;
        var maxSelectedImage = slideshow.find("img").length - 1;
  
        <?php /*
        slideshow.css("position", "relative");
        */
        ?>
  
        slideshow.find("img").hide();
        slideshow.find("img:eq("+selectedImage+")").show();
  
        var height = new Array();
        var width = new Array();
        slideshow.find("img").each(function(i){
            var currentImg = $j(this);
            height[i] = currentImg.height();
            width[i] = currentImg.width();
            i++;
        });
    });

	<?php 
	/*
	 * Inits the Thumbs click event
	 *
	 */
	?>
    $j("div.more-views .thumb").each(function()
	{
		$j(this).click(function(event)
		{
			event.preventDefault();
			var newSelectedImage = $j(this).attr('data-id');
			if (selectedImage != newSelectedImage)
			{
				$j("div.slideshow").find("img:eq("+selectedImage+")").fadeOut();
	            $j("div.slideshow").find("img:eq(" + newSelectedImage + ")").fadeIn();
	            selectedImage = newSelectedImage;
	        }
		});
	});
});
</script>

