<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Article container
 *
 * @see Partikule_Ionize_Block_Articles
 *
 */



?>
<?php

$page = $this->getPage();

// Try to get the URL refering article
$article = $this->getArticle();


if ( ! $article->hasData())
	$article = $this->getPageFirstArticle();


?>
		<!--
		<h2 class="article-title"><?php echo($article->getTitle()) ;?></h2>
		-->
	
		<div class="article-media">
	
			<?php
				$_iterator = 0;
				$medias = $article->getMedias();
			?>
	
			<?php if ( ! empty($medias) ) :?>
			
				<div id="news-scroller" class="scroller" >
				
					<?php if ( $medias->count() > 1 ) :?>
					<a class="next" href="#"></a>
					<a class="prev" href="#"></a>
					<?php endif ;?>		
	
					<div class="scroller-container">
						<div class="scroller-content">
							
							<?php foreach($medias as $media) :?>
					
								<?php $_iterator++; ?>
							
								<?php if ($media->getType() == 'picture') :?>
									<div id="panel<?php echo $_iterator; ?>" class="scroller-panel" style="background:url(<?= $media->getSource() ?>) no-repeat top left;)">
									</div>
								<?php endif ;?>		
							
								<?php if ($media->getType() == 'video') :?>
								<?php endif ;?>		
							
							
							<?php endforeach ;?>
						</div>
					</div>
	
				</div>
			
			<?php endif ;?>
				
		</div>
	
		<?php
		/*
		 * Article
		 *
		 * Block : 		Partikule_Ionize_Block_Articles
		 * Template : 	depends on the view defined in Ionize
		 *				The view file must exists in /ion/themes/nose/views/ and declared as article view in Ionize
		 *
		 */
		?>
		<div class="article-content">
			
			
			<div id="Column1" class="span-9 prepend-2 colborder" style="border-right:solid 1px #000;">
				<div class="strong">
					<?php // echo($article->getSummary()) ;?>
				</div>
				<?php // echo($article->getContent()) ;?>
			</div>
	
			<div id="Column2" class="span-9 prepend-1"></div>
			
			<div class="clearfix"></div>
			
		</div>
	
		<script type="text/javascript">
			$j(document).ready(function() 
			{
				<?php
				/*
				 * News pictures scroll
				 * 
				 */
				?>
				<?php if ( $medias->count() > 1 ) :?>

				var $container = $j('#news-scroller .scroller-content');
				var $panels = $j('#news-scroller div.scroller-panel');
	
				if ($panels[0]) {
					$container.css('width', $panels[0].offsetWidth * $panels.length);
				}
	
				$j('#news-scroller').serialScroll(
				{
					target: $j('#news-scroller .scroller-container'),
					items: $panels,
					prev: $j('#news-scroller a.prev'), 
					next: $j('#news-scroller a.next'),
					force: true,
					duration: 1000,
					interval: 6000,
					cycle: false,
					easing: 'easeInOutQuart',
					onBefore: function(e, elem, $pane, $items, pos) {
			            e.preventDefault();
	        		    if (this.blur) this.blur();
	        		},
	        		onAfter:function( elem, obj )
	        		{
	        			if ($j(elem).index() == ($panels.length -1))
	        			{
	        				obj.target.trigger('stop');
	        			}
					}
				});
				<?php endif ;?>
				
				
				<?php
				/*
				 * Text in columns
				 * 
				 */
				?>
				var size = $j("#Column1 p").size();
				$j("#Column1 p").each(function(index){
					if (index >= size/2){
						$j(this).appendTo("#Column2");
					}
				});
			});
		</script>
