<?php
/**
 * Partikule
 *
 * @modified	2012.01.23
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Bestseller Products
 *
 * Layered navigation by :
 *
 * 1.Main attribute :	Defined in Partikule/Boutique/etc/config.xml : "boutique_product_type" (Parfums, Cosmétique, Maison)
 * 2.
 *	 2.1 Sex : 				Male / Female. "Male" includes unisex products. Idem for female
 *   2.2 Most followed :	Most viewed product 
 *
 *
 * @see Partikule_Nose_Block_Catalog_Product_Bestseller
 *
 */
?>

<?php 
	
$main_attribute_code = Mage::registry('main_attribute');
$main_attribute_option = Mage::registry('main_attribute_option');

$numRows = 1;
$itemsPerPage = 5;

?>

<h2 class="col-title"><?php echo $this->__('Bestsellers') ?></h2>

<div class="col-main">
	
	<?php
		$UNIQ = "Bestsellers";
	
		// Attribute Options
		$navigationItems = Mage::helper('attribute/data')->getAttributeOptions('sex');
		
		// Will be send through XHR
		$attributeValue = ( ! empty($navigationItems)) ? $navigationItems[0]['option_id'] : '';
	?>
	
	<?php if (count($navigationItems) > 0 ) :?>
		
		<div class="subnav-container">
		
			<ul id="attribute-nav<?php echo $UNIQ ?>" class="subnav">
				<?php foreach($navigationItems as $key => $item) :?>
				<li class="sex<?php if ( $key == 0 ) :?> first<?php endif ;?>" rel="<?php echo($item['option_id']) ;?>">
					<a rel="<?php echo($item['option_id']) ;?>" href=""><span><?php echo($item['value']) ;?></span></a>
				</li>
				<?php endforeach ;?>
				
				<li class="mostviewed" rel="mostviewed">
					<a rel="mostviewed" href=""><span><?php echo $this->__('Most followed') ;?></span></a>
				</li>
			</ul>
		</div>
	
	<?php endif ;?>
	
	<?php
	/**
	 * Products container
	 * This container receives the Ajax loaded products
	 *
	 */
	?>
	<div class="h280" id="productList<?php echo $UNIQ ?>"></div>
	
	
	<script type="text/javascript">
	
		<?php
 		/*
		 * XHR load of the products list
		 *
		 */
		?>
		var getProducts<?php echo $UNIQ ?> = function(url, params)
		{
			var cont = $j('#productList<?php echo $UNIQ ?>');
			cont.spin();
			$j('ul', cont).fadeOut();
			
			$j.ajax({
				url: url,
				type: 'POST',
				data: params,
				success: function(data){
					cont.spin();
					cont.html(data);
				}
			});
<?php
/*
			$j('#productList<?php echo $UNIQ ?>').spin();

			new Ajax.Updater(
				'productList<?php echo $UNIQ ?>',
				url, 
				{
					'method': 'post',
					'parameters': params,
					'evalScripts' : true
				}
			);
*/
?>
		}
		
		<?php
		/*
		 * Adds the "active" class to the current active menu item
		 * @param	int		Attrbiute code
		 *
		 */
		?>
		var setActiveMenuItem<?php echo $UNIQ ?> = function(attribute_value)
		{
		    $$('#attribute-nav<?php echo $UNIQ ?> li').each(function(li)
		    {
		    	li.removeClassName('active');
				if (li.readAttribute('rel') == attribute_value)
				{
					li.addClassName('active');
				}
			});
		}
		
		<?php
		/*
		 * Add event on each attribute sub menu
		 *
		 */
		?>
	    $$('#attribute-nav<?php echo $UNIQ ?> li.sex a').each(function(a)
	    {
	    	var params = {
				'attribute': 	'sex',
				'main_attribute_value' : '<?php echo $main_attribute_option['option_id'] ;?>'
	    	}
	    
	    	a.observe('click', function(e)
	    	{
	    		e.stop();
	    		var attribute_value = a.readAttribute('rel');
	    		
	    		params.attribute_value = attribute_value;
	    		
	    		// Get product list
	    		getProducts<?php echo $UNIQ ?>('<?php echo Mage::getBaseUrl() ;?>boutique/product/getbestseller', params);
	    		
	    		// Set active menu
	    		setActiveMenuItem<?php echo $UNIQ ?>(attribute_value);
			});
	    });
	
		<?php
		/*
		 * Add event on each attribute sub menu
		 *
		 */
		?>
	    $$('#attribute-nav<?php echo $UNIQ ?> li.mostviewed a').each(function(a)
	    {
	    	var params = {
				'main_attribute_value' : '<?php echo $main_attribute_option['option_id'] ;?>'
	    	}
	    
	    	a.observe('click', function(e)
	    	{
	    		e.stop();
	    		
	    		// Get product list
	    		getProducts<?php echo $UNIQ ?>('<?php echo Mage::getBaseUrl() ;?>boutique/product/getmostviewed', params);
	    		
	    		// Set active menu
	    		setActiveMenuItem<?php echo $UNIQ ?>('mostviewed');
			});
	    });
	
	
		<?php
		/*
		 * Params at loading
		 *
		 */
		?>
		var loadParams = {
			'attribute': 	'sex',
			'attribute_value': 		'<?php echo($attributeValue) ;?>',
			'main_attribute_value' : '<?php echo $main_attribute_option['option_id'] ;?>'
		}

		// Initial call of getProductByAttribute()
		getProducts<?php echo $UNIQ ?>('<?php echo Mage::getBaseUrl() ;?>boutique/product/getbestseller', loadParams);
		
		// Initial Activation of the first menuItem
		setActiveMenuItem<?php echo $UNIQ ?>('<?php echo($attributeValue) ;?>');
		
		
	</script>

</div>

