<?php
/**
 * Partikule
 *
 * @modified	2011.12.7
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Nose Boutique page
 * @see Partikule_Boutique_Block_Home
 * 
 *
 */
?>

<?php 

	/*
	 * Attribute Code from which start the navigation
	 * Registered by the controller.
	 * see : Partikule_Boutique_IndexController
	 * 		 Partikule_Boutique_CategoryController
	 *
	 */
	$mainAttributeCode = Mage::registry('main_attribute');
	
	$navigationItems = $this->getAttributesOptions($mainAttributeCode);

	$main_attribute_option = Mage::registry('main_attribute_option');
?>


<?php if (count($navigationItems) > 0 ) :?>
	
	<div class="subnav-container">
	
		<ul id="attribute-nav" class="subnav">
		<?php foreach($navigationItems as $key => $item) :?>
			
			<?php
				$active_class = ($main_attribute_option['option_id'] == $item['option_id']) ? 'active ' : '';
			?>
			
			<li class="<?php echo($active_class) ;?><?php if ( $key == 0 ) :?>first<?php endif ;?>" rel="<?php echo($item['option_id']) ;?>">
				<a rel="<?php echo($item['option_id']) ;?>" href="<?php echo Mage::getBaseUrl(); ?>boutique/category/display/<?php echo strtolower($item['default_value']) ;?>"><span><?php echo($item['value']) ;?></span></a>
			</li>
		
		<?php endforeach ;?>
		</ul>
	</div>
	
	
	<?php // echo $this->getChildHtml('boutique_new_products'); ?>
	

	<?php // echo $this->getChildHtml('boutique_bestsellers'); ?>
	
	
	

<?php endif ;?>

