<?php
/**
 * Partikule
 *
 * @modified	2011.10.07
 *				2012.02.13 : Replaced XHR calls (slow) by post collection get filtering
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2012 Partikule (http://www.partikule.net)
 *
 */

/**
 * Product list template
 * Products by attribute from one category
 *
 * @see Partikule_Boutique_Block_Product
 *
 */
?>

<?php 

$main_attribute = Mage::registry('main_attribute');
$main_attribute_option = Mage::registry('main_attribute_option');

// Main attribute : Pefume, Home, Cosmetic
$attributes = array(
	array($main_attribute => $main_attribute_option['option_id'])
);


// Gets products from current category
$_products = $this->getProductCollection($attributes);

// Attribute set in boutique.xml
$attribute = $this->getAttribute();
$panel_id = $attribute->getAttributeCode();

// Navigation items : Attribute values of "boutique_product_type"
// Array()
$navigationItems = Mage::helper('attribute/Data')
	->getProductFilteredAttributeOptions($attribute->getAttributeCode(), $_products);

// $numRows = ( $productCollection->count() > 6) ? 2 : 1;
$numRows = 1;
$itemsPerPage = 5;
$_iterator = 0;

?>

<?php if( ! empty($navigationItems) ): ?>

<div class="col-main">

	<h2 class="col-title"><?php echo Mage::helper('attribute/Label')->getStoreLabel($attribute) ?></h2>

	<?php 
	/*
	 * Attributes Menu
	 *
	 *
	 */
	?>
	<?php if ( ! empty($navigationItems)) :?>

	<div class="subnav-container center">
		<ul id="<?php echo $panel_id ;?>-nav" class="subnav">
			<?php foreach($navigationItems as $item) :?>
				<li <?php if ( $_iterator == 0 ) :?>class="active first"<?php endif ;?>><a><span><?php echo $item['value'] ?></span></a></li>
				<?php $_iterator++ ;?>
			<?php endforeach ;?>
		</ul>
	</div>

	<?php endif ;?>


	<div class="clearfix"></div>

	<?php
	/*
	 * If one attributes menu exists, build panels
	 * 
	 *
	 */
	?>
	<?php if ( ! empty($navigationItems)) :?>

<?php


/*
$start = microtime();
*/


?>	
		<div id="<?php echo $panel_id ;?>-panels">
		
			<?php
				$_panel_iterator = 0;
			?>
		
			<?php foreach($navigationItems as $key => $item) :?>
				<?php
					$_iterator = 0;
					$carousel_id = 'carousel_' . $panel_id . $key;
					$_products_to_display = $item['products'];
				?>
				<div class="panelContent center mb20 h280">
					
					<div id="<?php echo $carousel_id ; ?>" class="article item_carousel loading rows<?php echo $numRows ;?>">

						<?php if (count($_products_to_display) <= $itemsPerPage) :?>
						<div class="table">
						<?php endif ;?>
						
						 <ul class="rows<?php echo $numRows ;?> without-mask">

							<?php foreach($_products_to_display as $_product): ?>
			
							<?php
							$_url = 			Mage::getBaseUrl().$_product->getCategoryUrl().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_product),"/");
							$_name = 			$this->htmlEscape($_product->getName());
							$_name_by_brand = 	($_product->getCategoryName()) ? $_name . ' ' . $this->__('by') . ' ' . $_product->getCategoryName() : $_name;
							
							$_sex = FALSE;
							$cheapest = NULL;

						
							?>
							<li class="item link">
								<div class="product">
									<?php if($_sex) :?>
										<span class="icon24 sex sex_<?php echo $_sex; ?>"></span>
									<?php endif ;?>
									<a href="<?php echo $_url ?>" title="<?php echo $_name_by_brand ?>" class="picture"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepTransparency(false)->resize(160) ?>" width="160" height="160" alt="<?php echo $_name ?>" /></a>
			
									<div class="details mt15">

										<h3>
										<span class="uppercase">
											<strong><?php echo $_product->getCategoryName() ?></strong></span><br />
											<strong><?php echo $_name ?></strong>
										</h3>
										<div id="simpleInfo<?php echo $panel_id . $_panel_iterator . $_iterator; ?>" style="height:30px;" class="spinner simpleInfo<?php echo $panel_id . $_panel_iterator ; ?>" data-id="<?php echo $_product->getId(); ?>"></div>
										
									</div>
								</div>
							</li>
							<?php
								$_iterator++;
							?>
							<?php endforeach ?>
						</ul>
						
						<?php if (count($_products_to_display) <= $itemsPerPage) :?>
						</div>
						<?php endif ;?>
						
						
						<div class="clearfix"></div>
					</div>
				
					<script type="text/javascript">

						jQuery(document).ready(function()
						{
							<?php
							/*
							 * XHR load of the cheapest simple product
							 * jQuery
							 *
							 * Calls boutique_product_getlowestinfos
							 *
							 * Receives on JSON array
							 *
							 */
							?>

							// brand product carousel
							if(jQuery('#<?php echo $carousel_id ; ?>').length > 0)
							{
								var carousel = $j('#<?php echo $carousel_id ; ?>').carousel({
									itemsPerPage: <?php echo $itemsPerPage ;?>,
									itemsPerTransition: <?php echo $itemsPerPage ;?>,
									noOfRows: <?php echo $numRows ;?>,
									pagination: false,
									speed: 500,
									nextText:'<?php echo($this->__('Next Products')) ;?>',
									prevText:'<?php echo($this->__('Prev Products')) ;?>',
									onNextItem: function(self)
									{
										if ( ! self.isPanelLoaded())
										{
											<?php
											/*
											 * Get the price of each cheapest simple
											 * See nose.js
											 */
											?>
											getLowestProductInfos(
												'<?php echo Mage::getBaseUrl() ;?>boutique/product/getlowestinfos',
												'.simpleInfo<?php echo $panel_id . $_panel_iterator; ?>',
												getLowestMasterIds('.simpleInfo<?php echo $panel_id . $_panel_iterator; ?>', self.itemIndex, self.itemIndex + 5)
											);
											self.setLoadedPanel();
										}
									}
								});
								$j('#<?php echo $carousel_id ; ?> li').click(function(event)
								{
									a = $j('a:first', this).attr('href');
									if (a)
									{
										window.location.href = a;
									}
								});
							}
						});
					</script>
				</div>

				<?php
				$_panel_iterator++;
				?>
			<?php endforeach ;?>
			
		</div>

		<script type="text/javascript">
			<?php
			/*
			 * Carousel panels show/hide
			 *
			 */
			?>
			jQuery(document).ready(function()
			{
				var <?php echo $panel_id ;?>Panels = new NosePanels({
					'nav' : '<?php echo $panel_id ;?>-nav',
					'panels' : '<?php echo $panel_id ;?>-panels'
				});
				
				<?php
				/*
				 * Get the price of each cheapest simple
				 * Load of the prices of the first products of each panel
				 * See nose.js
				 */
				?>
				$j('#<?php echo $panel_id ;?>-nav li').each(function(idx, item)
				{
					getLowestProductInfos(
						'<?php echo Mage::getBaseUrl() ;?>boutique/product/getlowestinfos',
						'.simpleInfo<?php echo $panel_id ?>' + idx,
						getLowestMasterIds('.simpleInfo<?php echo $panel_id ?>'+ idx, 0, 5)
					);
				});
			});
		</script>

	<?php endif ;?>

<?php
/*
$end = microtime();

Mage::log(getDiff($start, $end), null, 'partikule.log');
*/


?>

<?php endif; ?>

