<?php
/**
 * Partikule
 *
 * @modified	2012.01.20
 *
 * @category    design
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */
?>
<?php
/**
 * New product list
 *
 * @see Partikule_Nose_Block_Catalog_Product_New
 *
 */
?>

<?php

$attribute_code = Mage::registry('main_attribute');
$attribute_option = Mage::registry('main_attribute_option');

$attributes = array(
	$attribute_code => $attribute_option['option_id']
);

// Number of products to display
$this->setProductsCount(20);

$_products = $this->getProductCollection($attributes);

// $numRows = ( $productCollection->count() > 6) ? 2 : 1;
$numRows = 1;
$itemsPerPage = 5;
$_iterator = 0;

// Uniq ID of the Carousel
$carousel_id = 'article_carousel_new';

?>

<?php if ($_products->getSize()): ?>

<div class="col-main">

	<h2 class="col-title link"><a href="<?php echo ( Mage::getBaseUrl() . 'boutique') ?>"><?php echo __('New products') ?></a></h2>


	<div id="<?php echo $carousel_id ; ?>" class="article item_carousel loading rows<?php echo $numRows ;?>">

		<?php if ($_products->count() <= $itemsPerPage) :?>
		<div class="table">
		<?php endif ;?>
    	<ul class="rows<?php echo $numRows ;?> without-mask">

    	<?php foreach ($_products->getItems() as $_product): ?>

			<?php

			$_url = 			Mage::getBaseUrl().$_product->getCategoryUrl().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_product),"/");

			$_name = 			$this->htmlEscape($_product->getName());
			$_name_by_brand = 	($_product->getCategoryName()) ? $_name . ' ' . $this->__('by') . ' ' . $_product->getCategoryName() : $_name;
			
			// $_sex = 			Mage::helper('attribute/Attribute')->getOptionBackendValue('sex', $_product->getSex());
			$_sex = FALSE;
			
			$cheapest = 		Mage::helper('boutique/Product')->getCheapestSimple($_product);
			?>

			<li class="item link">
				<div class="product">
					<?php if($_sex) :?>
						<span class="icon24 sex sex_<?php echo $_sex; ?>"></span>
					<?php endif ;?>
					<a href="<?php echo $_url ?>" title="<?php echo $_name_by_brand ?>" class="picture"  style="background:url(<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepTransparency(false)->resize(160) ?>) no-repeat 50% top;"></a>
					<div class="details">

						<h3>
						<span class="uppercase"><strong><?php echo $_product->getCategoryName() ?></strong></span><br />
						<strong><?php echo $_name ?></strong>
						</h3>

						<?php if($_sex && TRUE == FALSE) :?>
							<span class="icon24 sex_<?php echo $_sex; ?>"></span><br/>
						<?php endif ;?>

						<?php if ( ! is_null($cheapest) ) :?>
							<span class="product-type"><?php echo $cheapest->getAttributeText('LIGHTSPEED_PRODUCT_COLOR') ;?></span><br />
							<?php echo $this->getPriceHtml($cheapest, true) ;?>
						<?php endif ;?>					
					
					</div>
				</div>
			</li>

	   	 <?php endforeach; ?>
		<?php if ($_products->count() <= $itemsPerPage) :?>
		</div>
		<?php endif ;?>

		</ul>
	</div>
	<div class="clearfix"></div>
</div>

<script type="text/javascript">

jQuery(document).ready(function()
{
	// brand product carousel
	if(jQuery('#<?php echo $carousel_id ; ?>').length > 0)
	{
		$j('#<?php echo $carousel_id ; ?>').carousel({
			itemsPerPage: <?php echo $itemsPerPage ;?>,
			itemsPerTransition: <?php echo $itemsPerPage ;?>,
			noOfRows: <?php echo $numRows ;?>,
			pagination: false,
			speed: 500,
			nextText:'<?php echo($this->__('Next Products')) ;?>',
			prevText:'<?php echo($this->__('Prev Products')) ;?>'
		});

		$j('#<?php echo $carousel_id ; ?> li').click(function(event)
		{
			a = $j('a:first', this).attr('href');
			if (a)
			{
				window.location.href = a;
			}
		});
	}
});

</script>

<?php endif; ?>
