<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Product list template
 * Products by attribute from one category
 *
 * @see Partikule_Boutique_Block_Product
 *
 */
?>

<?php 
	
	$main_attribute_code = Mage::registry('main_attribute');
	$main_attribute_option = Mage::registry('main_attribute_option');

	$attribute = $this->getAttribute();

	// Unique ID for this panel
	$UNIQ = $attribute->getId();

?>

<h2 class="col-title"><?php echo Mage::helper('attribute/Label')->getStoreLabel($attribute) ?></h2>

<div class="col-main">
	
	<?php
		$navigationItems = $this->getAttributesOptions($attribute->getAttributeCode());
		
//		$navigationItems = $this->getNavigationItems($attribute);

		// Will be send through XHR
		$attributeValue = ( ! empty($navigationItems)) ? $navigationItems[0]['option_id'] : '';

	?>
	
	<?php if (count($navigationItems) > 0 ) :?>
		
		<div class="subnav-container">
		
			<ul id="attribute-nav<?php echo $UNIQ ?>" class="subnav">
			<?php foreach($navigationItems as $key => $item) :?>
				
				<li class="<?php if ( $key == 0 ) :?>first<?php endif ;?>" rel="<?php echo($item['option_id']) ;?>">
					<a rel="<?php echo($item['option_id']) ;?>" href=""><span><?php echo($item['value']) ;?></span></a>
				</li>
			
			<?php endforeach ;?>
			</ul>
		</div>
	
	<?php endif ;?>
	
	<?php
	/**
	 * Products container
	 * This container receives the Ajax loaded products
	 *
	 * boutique/product/getproducts returns boutique/product/xhr_list.phtml
	 *
	 */
	?>
	<div class="h280" id="productList<?php echo $UNIQ ?>"></div>
	
	
	<script type="text/javascript">
	
		<?php
		/*
		 * XHR load of the products list
		 * jQuery
		 *
		 */
		?>
		var getProductByAttribute<?php echo $UNIQ ?> = function(params)
		{
			var cont = $j('#productList<?php echo $UNIQ ?>');
			cont.spin();
			$j('ul', cont).fadeOut();
			
			$j.ajax({
				url: '<?php echo Mage::getBaseUrl() ;?>boutique/product/getproducts',
				type: 'POST',
				data: params,
				success: function(data){
					cont.spin();
					cont.html(data);
				}
			});
<?php			
/*
			new Ajax.Updater(
				'productList<?php echo $UNIQ ?>',
				'<?php echo Mage::getBaseUrl() ;?>boutique/product/getproducts', 
				{
					'method': 'post',
					'parameters': params,
					'evalScripts' : true
				}
			);
*/
?>
		}
		
		/*
		 * Adds the "active" class to the current active menu item
		 * @param	int		Attrbiute code
		 *
		 */
		var setActiveMenuItem<?php echo $UNIQ ?> = function(attribute_value)
		{
		    $$('#attribute-nav<?php echo $UNIQ ?> li').each(function(li)
		    {
		    	li.removeClassName('active');
				if (li.readAttribute('rel') == attribute_value)
				{
					li.addClassName('active');
				}
			});
		}
		
		/*
		 * Add event on each attribute sub menu
		 *
		 */
	    $$('#attribute-nav<?php echo $UNIQ ?> li a').each(function(a)
	    {
	    	var params = {
				'attribute': 	'<?php echo($attribute->getAttributeCode()) ;?>',
				'main_attribute_value' : '<?php echo $main_attribute_option['option_id'] ;?>'
	    	}
	    
	    	a.observe('click', function(e)
	    	{
	    		e.stop();
	    		var attribute_value = a.readAttribute('rel');
	    		
	    		params.attribute_value = attribute_value;
	    		
	    		// Get product list
	    		getProductByAttribute<?php echo $UNIQ ?>(params);
	    		
	    		// Set active menu
	    		setActiveMenuItem<?php echo $UNIQ ?>(attribute_value);
			});
	    });
	
	
		/*
		 * Params at loading
		 *
		 */
		var loadParams = {
			'attribute': 	'<?php echo($attribute->getAttributeCode()) ;?>',
			'attribute_value': 		'<?php echo($attributeValue) ;?>',
			'main_attribute_value' : '<?php echo $main_attribute_option['option_id'] ;?>'
		}

		// Initial call of getProductByAttribute()
		getProductByAttribute<?php echo $UNIQ ?>(loadParams);
		
		// Initial Activation of the first menuItem
		setActiveMenuItem<?php echo $UNIQ ?>('<?php echo($attributeValue) ;?>');
		
		
	</script>

</div>

