<?php
/**
 *
 */
?>

<?php $_product = $this->getProduct(); ?>

<?php echo $this->getPriceHtml($_product) ?>

<?php if($_product->isSaleable()): ?>
    <div class="cart-qty">
        <?php if(!$_product->isGrouped()): ?>
			
			<span class="qty_change sub">-</span>
	        <input type="text" name="qty" id="qty" maxlength="12" value="1" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
			<span class="qty_change add">+</span>

        <?php endif; ?>

    </div>

    <button type="button" title="<?php echo $this->__('Add to Cart'); ?>" class="button btn-product bag action right" onclick="productAddToCartForm.submit(this)"><span><span><?php echo $this->__('Add to Cart'); ?></span></span></button>
    <?php echo $this->getChildHtml('', true, true) ?>

<?php endif; ?>


<?php
	/*
	 * Partikule : 
	 * Re calculate the price on quantity change
	 *
	 */
?>
<script type="text/javascript"> 

	$$('.qty_change').each(function(item)
	{
    	item.observe('click', function(e)
    	{
			if (this.hasClassName('sub'))
			{
				if($('qty').getValue() > 1) {
					$('qty').setValue(parseInt($('qty').getValue())-1);
				}					
			}
			else {
				$('qty').setValue(parseInt($('qty').getValue())+1);
			}
		});
	});
</script>
