<?php

/**
 * Evaluation Output Product view template
 * To use in perfume list, to just display the configurabe product options list, that's all.
 *
 * @see Mage_Catalog_Block_Product_View
 *
 */
?>
<?php

/**
 * One Product from one Master Product from eNose
 * @see Partikule_Mynose_Block_Product.php
 *
$product_sku = Mage::registry('product_sku');

$product = $this->getProductFromSku($product_sku);

 */

	$_helper = $this->helper('catalog/output');
	$_product = $this->getProduct();

?>
<script type="text/javascript">
	
	// options Price linked to window
	window.optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);

</script>

<form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
	<input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
	<input type="hidden" name="related_product" id="related-products-field" value="" />
		
	<?php
	/*
	 * Configurable Product :
	 * - Options
	 * - Add To Cart
	 *
	 */
	?>
	<?php if ($_product->isSaleable() && $this->hasOptions()):?>

		<?php echo $this->getChildChildHtml('container3', '', true, true) ?>

		<?php echo $this->getChildHtml('addtocart', '', true, true) ?>
	
	<?php endif;?>

	<?php
	/**
	 * Simple product
	 *
	 */
	?>
    <?php if (!$this->hasOptions()):?>
        <?php if($_product->isSaleable()): ?>
            <?php echo $this->getChildHtml('addtocart') ?>
		<?php endif;?>
	<?php endif;?>

</form>
<script type="text/javascript">

	window.productAddToCartForm = new VarienForm('product_addtocart_form');
	productAddToCartForm.submit = function(){
			if (this.validator.validate()) {
					this.form.submit();
			}
	}.bind(productAddToCartForm);

	
	<?php
	/*
	 * Ajax Cart
	 *
	 */
	?>
    replaceDelUrls();
    replaceAddUrls();
    Event.observe($('j2t-overlay'), 'click', function(){hideJ2tOverlay(true)});

    var cartInt = setInterval(function(){
        if (typeof productAddToCartForm  != 'undefined'){
            if ($('j2t-overlay')){
                Event.observe($('j2t-overlay'), 'click', function(){hideJ2tOverlay(true)});
            }
            productAddToCartForm.submit = function(url){
                if(this.validator && this.validator.validate()){
                    sendcart('', 'form', 1, 'product_addtocart_form');
                }
                clearInterval(cartInt);
                return false;
            }
        } else {
            clearInterval(cartInt);
        }
    },500);
    
    setInterval(function(){ correctSizeConfirm(); },100);


    var form = $('product_addtocart_form');
    if(form){
        inputs = form.getInputs('file');

        if (inputs.length == 0){
            Event.observe("product_addtocart_form", "submit", function(event){
                event.stop();
            });
        }
    }
	<?php
	/*
	 * End of Ajax Cart
	 *
	 */
	?>

</script>
