<?php
$cartSubTotal = Mage::helper('nose/cart')->getCartSubtotal();
$fsa = Mage::getStoreConfig('nose/free_shipping/amount');
?>
<?php if ($cartSubTotal >= $fsa) : ?>
    <?php
    $helper = Mage::helper('freesample');

    $bundle = $helper->getBundle();

    if ($bundle) :
        $options = $helper->getBundleOptions();
        $options = Mage::helper('core')->decorateArray($options);

        $item = $helper->isBundleInCart();
        $selectedOptions = $helper->getBundleSelectedOptions();

        $customerName = Mage::getSingleton('customer/session')->isLoggedIn()
            ? Mage::getSingleton('customer/session')->getCustomer()->getName()
            : '';
    ?>
    <div class="remodal" data-remodal-id="modal-freesample" data-remodal-options="hashTracking: true">
        <div class="remodal-wait" style="display: none;"></div>
        <div class="remodal-content freesample-modal">
            <p>
                <?php if ($helper->getOffer() == 5) : ?>
                    <b><?php echo $this->__('Happy Birthday %s !', $customerName); ?></b><br/>
                <?php else : ?>
                    <b><?php echo $this->__('Congratulations %s !', $customerName); ?></b><br/>
                <?php endif; ?>
                <?php echo $this->__('Choose your samples by typing the mark.'); ?><br/>
                <?php echo $this->__('You can then select the name of the perfume.'); ?>
            </p>
            <form action="<?php echo $item !== false ? $this->getUrl('checkout/cart/updateItemOptions', array('id' => $item->getId())) : Mage::helper('checkout/cart')->getAddUrl($bundle); ?>" id="freesample-form">
                <input type="hidden" name="product" value="<?php echo $bundle->getId(); ?>" />
                <ul>
                    <li>
                        <div><?php echo $this->__('Samples'); ?></div>
                    </li>
                <?php foreach ($options as $option) : ?>
                    <li>
                        <div>
                            <input id="search_brand_<?php echo $option->getId();?>" data-index="<?php echo $option->getId();?>" value="<?php echo isset($selectedOptions[$option->getId()]) ? $selectedOptions[$option->getId()]['manufacturer_label'] : ''; ?>" type="text" class="input-text search-brand" placeholder="<?php echo $this->__('Search for a brand'); ?>" />
                        </div>
                        <div id="sample_select_container_<?php echo $option->getId();?>" class="sample-select-container" <?php echo isset($selectedOptions[$option->getId()]) ? '' : 'style="display:none;"'; ?>>
                            <select id="sample_select_<?php echo $option->getId();?>" data-index="<?php echo $option->getId();?>" name="bundle_option[<?php echo $option->getId(); ?>]" class="input-text sample-select">
                                <?php if (isset($selectedOptions[$option->getId()])) : ?>
                                    <?php echo $helper->getSelectOptions($selectedOptions[$option->getId()]['manufacturer_id'], $option->getId(), $selectedOptions[$option->getId()]['selection_id']); ?>
                                <?php else : ?>
                                     <option value=""></option>
                                <?php endif; ?>
                            </select>
                            <a class="icon clear-field ml5" onclick="removeSample(<?php echo $option->getId(); ?>);" title="<?php echo $this->__('Remove this sample') ?>"></a>
                        </div>
                    </li>
                <?php endforeach; ?>
                </ul>
                <div class="box-inline">
                    <div>
                        <a class="j2t-continue-link" href="javascript:void(0);" data-remodal-action="close"><span><?php echo $this->__('Continue shopping');?></span></a>
                    </div>
                    <div>
                        <?php if ($item !== false) : ?>
                            <a class="j2t-checkout-link skipsample-link" href="javascript:void(0);" data-remodal-action="close" style="display:none;"><span><?php echo $this->__('Go to checkout without choosing my samples');?></span></a>
                            <a class="j2t-checkout-link addsample-link" href="javascript:void(0);" onclick="addSample()"><span><?php echo $this->__('Edit my samples');?></span></a>
                        <?php else : ?>
                            <a class="j2t-checkout-link skipsample-link" href="javascript:void(0);" data-remodal-action="close"><span><?php echo $this->__('Go to checkout without choosing my samples');?></span></a>
                            <a class="j2t-checkout-link addsample-link" href="javascript:void(0);" onclick="addSample()" style="display:none;"><span><?php echo $this->__('Add samples to my cart');?></span></a>
                        <?php endif; ?>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $j(document).ready(function () {
            var brands = <?php echo Zend_Json::encode($this->getBrands()); ?>;
            var cache = {};
            $j('.search-brand').autocomplete({
                autoFocus: true,
                source: function(request, response) {
                    var term = request.term;
                    if (term in cache) {
                        response(cache[term]);
                        return;
                    }

                    var data = [];
                    $j.each(brands, function(i, brand) {
                        if (brand.label) {
                            if (brand.label.search(new RegExp(request.term, 'i')) != -1) {
                                data.push(brand);
                            }
                        }
                    });
                    cache[term] = data;
                    response(cache[term]);
                },
                minLength: 2,
                select: function(event, ui) {
                    var optionId = $j(event.target).data('index');

                    $j.ajax({
                        url: '<?php echo $this->getUrl('freesample/ajax/getSelect'); ?>',
                        type: 'post',
                        dataType: 'html',
                        data: {
                            manufacturer_id: ui.item.id,
                            option_id: optionId
                        },
                        beforeSend: function() {
                            $j('.remodal-wait').show();
                        },
                        success: function(data) {
                            $j('.remodal-wait').hide();
                            $j('#sample_select_' + optionId).html(data);
                            $j('#sample_select_container_' + optionId).show();
                            var isEmpty = false;
                            $j('.sample-select').each(function() {
                                if ($j(this).val() == '') {
                                    isEmpty = true;
                                }
                            });
                            if (!isEmpty) {
                                $j('.skipsample-link').hide();
                                $j('.addsample-link').show();
                            }
                            else {
                                $j('.skipsample-link').show();
                                $j('.addsample-link').hide();
                            }
                        }
                    });
                }
            });
        });
        function removeSample(optionId) {
            $j('#search_brand_' + optionId).val('');
            $j('#sample_select_' + optionId).html('<option value=""><?php echo $this->__("Veuillez sélectionner une marque"); ?></option>');
            $j('#sample_select_container_' + optionId).hide();
            $j('.skipsample-link').show();
            $j('.addsample-link').hide();
        }
        function addSample() {
            var isDoublon = false;
            var itemIds = [];
            $j('.sample-select').each(function() {
                var value = $j(this).find('option:selected').data('product-id');
                if (itemIds.indexOf(value) !== -1) {
                    isDoublon = true;
                    return true;
                }
                itemIds.push(value);
            });
            if (isDoublon) {
                alert("<?php echo $this->__("You can't select the same sample twice."); ?>");
                return false;
            }
            $j('#freesample-form').submit();
        }
    </script>
    <?php endif; ?>
<?php endif; ?>