<!--@subject Are you still thinking about it ? @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Logo de l'email",
@-->

{{inlinecss file="email.css"}}

<body>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" class="main-cell">
            <!-- [ header starts here] -->
            <table cellspacing="0" cellpadding="10" border="0" width="650" class="main-table">
                <tr>
                    <td valign="top">
                        <p class="subtitle">
                            <strong>Your product {{var product.getName()}} is waiting for you</strong><br/>
                            To ensure that your messages arrive (and don’t go to your junk or bulk email folders), please add {{config path='trans_email/ident_general/email'}} to your address book
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p class="black-title">
                            Free shipping and 3 samples on orders above 80 euros*
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <a href="{{store url=""}}">
                        <img class="logo" src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/>
                        </a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <p class="title">
                            ARE YOU STILL THINKING ABOUT IT ?
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p>Dear {{htmlescape var=$customer.getFirstname()}},</p>
                        <p>You have visited Nose.fr recently and it seems that some products have kept your attention.</p>
                        <p>Are you still thinking about it ? Here is the synthesis of it:</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        {{layout handle="abandonedcart_email_recentlyviewed" products=$products customer=$customer}}
                    </td>
                </tr>
                {{layout handle="abandonedcart_email_new_products" products=$products}}
            </table>
            {{template config_path="nose/abandonedcart/footer_email"}}
        </td>
    </tr>
</table>
</body>