<table cellspacing="0" cellpadding="10" border="0" width="650" class="footer">
    <tr>
        <td valign="top">
            <p>
                NOSE - SAS au capital de 131 463,20 € - RCS Paris 534 386 818 -<br/>
                20, rue Bachaumont 75002 Paris
            </p>
            <p>To Unsubscribe, click on this link : <a href="{{var unsubscribe_url}}">Unsubscribe now</a></p>
        </td>
    </tr>
</table>