<!--@subject You had an issue with your order ? @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Logo de l'email",
@-->

{{inlinecss file="email.css"}}

<body>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" class="main-cell">
            <!-- [ header starts here] -->
            <table cellspacing="0" cellpadding="10" border="0" width="650" class="main-table">
                <tr>
                    <td valign="top">
                        <p class="subtitle">
                            <strong>Here is your basket summary</strong><br/>
                            To ensure that your messages arrive (and don’t go to your junk or bulk email folders), please add {{config path='trans_email/ident_general/email'}} to your address book
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p class="black-title">
                            Free shipping and 3 samples on orders above 80 euros*
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <a href="{{store url=""}}">
                        <img class="logo" src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/>
                        </a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <p class="title">
                            AN ISSUE WITH YOUR ORDER?
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p>Dear {{htmlescape var=$customer.getFirstname()}},</p>
                        <p>You have added the following product(s) and had an issue ?</p>
                        <p>You can either call us from Monday to Saturday from 10:30AM to 7:30PM ({{config path='general/store_information/phone'}}) or simply email us at <a href="mailto:{{config path='trans_email/ident_custom1/email'}}">{{config path='trans_email/ident_custom1/email'}}</a>.</p>
                        <p>Here is how you left you cart:</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        {{layout handle="abandonedcart_email_products" products=$products customer=$customer quote=$quote}}
                    </td>
                </tr>
                {{layout handle="abandonedcart_email_related_products" products=$products}}
                {{layout handle="abandonedcart_email_liked_products" products=$products}}
            </table>
            {{template config_path="nose/abandonedcart/footer_email"}}
        </td>
    </tr>
</table>
</body>