<!--@subject {{var store.getFrontendName()}} Gift Card for You!@-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; color:#2f2f2f;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650">
            <!-- [ header starts here] -->
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Hello{{depend data.email-to}}, {{var data.email-to}}{{/depend}}!</h1>
                    <p style="font-size:12px; line-height:16px; margin:0;">You have received a {{var data.amount}} Gift Card{{depend data.email-from}} from {{var data.email-from}}{{/depend}}! <br/>This card can be used on <a href="{{store url=""}}">{{var store.getFrontendName()}}</a> website. Happy shopping!</p>
				</td>
            </tr>
			<tr>
				<td align="center" style="text-align: center;">
					<center><img src="{{var data.picture}}" /></center>
				</td>
			</tr>
			<tr>
				<td style="font-size:20px; line-height:30px; margin:0;">
                                        {{depend data.email-to}}to: {{var data.email-to}}<br />{{/depend}}
                                        {{depend data.email-from}}from: {{var data.email-from}}<br />{{/depend}}
                                        {{depend data.email-message}}message: {{var data.email-message}}<br />{{/depend}}
					gift card value: {{var data.amount}}<br />
					gift card claim code: {{var data.code}}<br />
				</td>
			</tr>
            <tr>
                <td bgcolor="#EAEAEA" align="left" style="background:#EAEAEA; text-align:left;">
					<p style="font-size:12px; margin:0;line-height:20px;">To redeem and use you gift card:
						<ol style="font-size:12px; margin:0;line-height:20px;">
							<li>Create an account and login into <a href="{{store url=""}}">{{store url=""}}</a>.</li>
                            <!--
							<li>Redeem the card in My Gift Cards page of My Account section.</li>
							-->
							<li>Alternatively, you can redeem the card on My Cart page before proceeding to checkout.</li>
						</ol>
					</p>
				</td>
            </tr>
			<tr>
				<td bgcolor="#EAEAEA" align="left" style="background:#EAEAEA; text-align:left;">
					<p style="font-size:12px; margin:0;">If you have any questions please contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>{{depend data.store-phone}} or call us at <span class="nobr">{{var data.store-phone}}</span> Monday - Friday, 8am - 5pm PST.{{/depend}}</p>
				</td>
			</tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>