<!--@subject Your product {{htmlescape var=$product.getName()}} is now back in stock at Nose! @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Logo de l'email",
@-->

{{inlinecss file="email.css"}}

<body>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" class="main-cell">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" class="main-table">
                <tr>
                    <td valign="top">
                        <p class="subtitle">
                            <strong>Closure of your notification request</strong><br/>
                            To ensure that your messages arrive (and don’t go to your junk or bulk email folders), please add {{config path='trans_email/ident_general/email'}} to your address book
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p class="black-title">
                            Free shipping and 3 samples on orders above 80 euros*
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <a href="{{store url=""}}">
                        <img class="logo" src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/>
                        </a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <p class="title">
                            YOUR PRODUCT IS NOW BACK IN STOCK !
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p>
                        {{if customer}}
                        Dear {{htmlescape var=$customer.getFirstname()}},
                        {{else}}
                        Dear customer,
                        {{/if}}
                        </p>
                        <p>You have requested to be notified when your product would be back in stock. The product is now back in stock and you can order it here.</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        {{layout handle="outofstocknotify_email_product" product=$product customer=$customer addtocart=1}}
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p>Any question? You can either call us from Monday to Saturday from 10:30AM to 7:30PM ({{config path='general/store_information/phone'}}) or simply email us at <a href="mailto:{{config path='trans_email/ident_custom1/email'}}">{{config path='trans_email/ident_custom1/email'}}</a>.</p>
                        <p>Thanks for your visit on Nose.fr!</p>
                        <p>The Nose team</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>