<!--@subject Your product {{htmlescape var=$product.getName()}} is back order @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Logo de l'email",
@-->

{{inlinecss file="email.css"}}

<body>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" class="main-cell">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" class="main-table">
                <tr>
                    <td valign="top">
                        <p class="subtitle">
                            <strong>Your notification request has been registered</strong><br/>
                            To ensure that your messages arrive (and don’t go to your junk or bulk email folders), please add {{config path='trans_email/ident_general/email'}} to your address book
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p class="black-title">
                            Free shipping and 3 samples on orders above 80 euros*
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <a href="{{store url=""}}">
                        <img class="logo" src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/>
                        </a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <p class="title">
                            CONFIRMATION OF PRODUCT BACK ORDER NOTIFICATION
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p>
                        {{if customer}}
                        Dear {{htmlescape var=$customer.getFirstname()}},
                        {{else}}
                        Dear customer,
                        {{/if}}
                        </p>
                        <p>You have requested to be notified when we should receive back the following product.</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        {{layout handle="outofstocknotify_email_product" product=$product customer=$customer}}
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p>Someone from the Nose team will contact you within the next 24H (our next business day) to confirm you the estimated date of arrival of this product.</p>
                        <p>Thanks for your visit on Nose.fr!</p>
                        <p>The Nose team</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>