<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 *
 */
?>

<?php 

$productCollection = $this->getLoadedProductCollection();

?>

<?php if($productCollection->count()): ?>

<div class="col-main">

	<h3><?php echo __('Boutique') ?></h3>

	<div class="product-slider bloc">
		
		<h4 class="title"><?php echo __('New products') ?></h4>
		
		<a href="#" class="bloc gray right"><?php echo __('Boutique') ?></a>
		
		
		<div class="clearfix"></div>
		
		<?php $_iterator = 0; ?>
		
		 <ol>
		
			 <?php foreach($productCollection as $_item): ?>
			 
			 <?php // trace($_item->getData()); ?>
			 
			 <?php 
			 
			 
			 $_product = Mage::getModel('catalog/product')->load($_item->getId());
			 $_manufacturer = $_product->getAttributeText('manufacturer');
			 
			 $_name = $this->htmlEscape($_item->getName());
			 $_name_by_brand = $_name.' '.__('by').' '.$_manufacturer;
			 
			 ?>
				<li class="item link">
					<div class="product">
						<a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $_name_by_brand ?>" class="image"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(150) ?>" width="150" height="150" alt="<?php echo $_name ?>" /></a>
						<div class="details">
						 	<p class="brand"><?php echo $_manufacturer; ?></p>
							<p class="name"><a href="<?php echo $_item->getProductUrl() ?>"><?php echo $_name ?></a></p>
							<p class="type">
							
							<?php // echo $this->getPriceHtml($_item, true, '-related') ?>
							
							</p>
							<?php // echo $this->getPriceHtml($_item, true, '-related') ?>
							<?php // echo($_item->getPrice()); ?>
							
						</div>
					</div>
				</li>
			 <?php endforeach ?>
		
		 </ol>

	</div>

</div>

<?php endif; ?>
