<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 *
 */
?>

<?php 

// $categories = $this->getCategoryIdList();

// Returns the products from the Ionize's set category
$productCollection = $this->getProductsFromCategory();

$page = $this->getPage();

?>

<?php if( $productCollection->count() > 0): ?>

<div class="col-main">

	<h2 class="col-title"><?php echo __('Boutique') ?> <?php echo $page->getTitle() ?></h2>

	<div class="brand-boutique-slider">
		
		
		<div class="clearfix"></div>
		
		<?php $_iterator = 0; ?>
		
		 <ol>
		
			<?php foreach($productCollection as $_product): ?>

			<?php 
			
//			trace($_item); ?>
			
			<?php 
			
			
			$_product = Mage::getModel('catalog/product')->load($_product->getId());

			$_categories = $_product->getCategoryIds();

			if ( ! empty($_categories))
			{
				$_category = Mage::getModel('catalog/category')->load($_categories[0]);
				$url = Mage::getBaseUrl().trim(Mage::getModel('catalog/product_url')->getUrlPath($_product,$_category),"/");
			}
			else
			{
				$url = $_product->getProductUrl();
			}
		 
			$_manufacturer = $_product->getAttributeText('manufacturer');
			
			$_name = $this->htmlEscape($_product->getName());
			$_name_by_brand = $_name.' '.__('by').' '.$_manufacturer;
			
			?>
				<li class="item link">
					<div class="product">

						<a href="<?php echo $url ?>" title="<?php echo $_name_by_brand ?>" class="picture" style="background:url(<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(220) ?>) no-repeat 50% top;"></a>

						<div class="details">

							<span class="icon24 sex<?php echo $_product->getAttributeText('sex'); ?>"></span>

							<h3>"<?php echo $_name ?>"</h3>
							<h4><ion:perfume attr="brand_name" /></h4>

<?php trace(get_class($_product)); ?>
							
							<?php echo $_product->getAttributeText('manufacturer');	?>
<?php echo $_product->getAttributeText('sex'); ?>							
							<p><a class="button">Voir le produit >></a></p>
				


						 	<p class="brand"><?php echo $_manufacturer; ?></p>
							<p class="type">
							
							<?php // echo $this->getPriceHtml($_item, true, '-related') ?>
							
							</p>
							<?php // echo $this->getPriceHtml($_item, true, '-related') ?>
							<?php // echo($_item->getPrice()); ?>
							
						</div>
					</div>
				</li>
			<?php endforeach ?>
		
		</ol>

	</div>

</div>

<?php endif; ?>
