/*
 ---
 file: toolbar.css

 description: MUI - Toolbar css.

 copyright: (c) 2011 Contributors in (/AUTHORS.txt).

 license: MIT-style license in (/MIT-LICENSE.txt).

 provides: css for default theme
 ...
 */

/* Toolbar Dock */
.toolbardock { padding:0;}
.toolbardock div { padding-left: 3px; padding-right:3px; }
.toolbardock div.divider { /* Have to specify div here for IE6's sake */ background: url(../images/toolbar-divider.gif) repeat-y; padding-left: 6px; float:right; }
.toolbardock div.left { float: left }
.toolbardock div.right { float: right }
.toolbardock div.tabs ul { padding-top:0; }
.toolbardock div.tabs { margin-top:2px; }

div.panel-header div.tabs { margin:0; border-bottom: 1px solid #D3D3D3; }
div.panel-header div.tabs ul { height:28px; overflow:hidden }

/* Toolbar */
/* TODO : Find a solution here to make that toolbar doesn't disapear
.toolbardock .toolbar {
	float:none;
	top:0;
	right:0;
	position: absolute;
}
*/
.toolbar { margin-top: 4px; float: right; overflow: hidden; text-align: right; height: 22px; padding-bottom:2px; vertical-align:middle; }
.toolbar img.disabled { cursor: default; }
.toolbar .button { vertical-align: top; margin-top:0; height:24px; }
.toolbar span.imgButton .imgButton span img { padding: 0 0 2px; position: relative; top: 6px; }
.toolbar span.icon { line-height:24px; font-size:14px;padding: 0; background-repeat: no-repeat; background-position: center; border: 1px solid transparent; }
.toolbar span.icon:hover { border: 1px solid #a0a0a0; -moz-border-radius: 3px; border-radius: 3px; }
.toolbar select.theme { line-height:24px; margin: 3px 0 4px 0; }
* html .toolbar .searchField, * html .toolbar .searchButton { /* IE6 Hack */ margin-top: -1px; }
* html .toolbar .button { /* IE6 Hack */ vertical-align: top; margin-top: 0; height:25px; }

.panel-footer div div.toolbar { }

/* Buttonbar : Ionize specific */
.buttonbar { position:absolute; top:3px;right:8px;overflow: hidden; width: auto; background: url("../images/bg-panel-header.gif") repeat-x scroll 0 0 #F1F1F1; text-align: right; height: 22px; padding-bottom:2px; vertical-align:middle; }


/* spinner */
.spinnerWrapper { width: 16px; height: 16px; background: url(../images/spinner-placeholder.gif) no-repeat; margin: 4px 5px 0 5px; }
.spinner { display: none; background: url(../images/spinner.gif) no-repeat; width: 16px; height: 16px; }
.toolbar .spinnerWrapper { margin: 4px 0 2px 0; height:24px;}
.toolbar .spinnerWrapper .spinner { margin-left:-3px }
.spinnerOverlay { top:0; left:0; background: white none repeat scroll 0% 0%;  -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; position: absolute; z-index: 999; opacity: 0.5; filter: alpha(opacity=50)}

/* search fields toolbar */
.searchField { width: 150px; overflow: hidden; line-height: 15px; margin: 0; padding: 4px 0 2px 5px; border: 1px solid #808080; border-right: 0; vertical-align: middle; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; border-radius: 3px 0 0 3px; }
.searchButton { -moz-border-radius-topleft: 0; -moz-border-radius-bottomleft: 0; border-radius: 0 3px 3px 0; }
*:first-child + html .toolbar .searchField, *:first-child + html .toolbar .searchButton { /* IE7 Hack */ margin-top: -1px; }


/* Ionize specific */
.toolbox {
	float: right;
	height: 24px;
/*	margin-top: 3px;*/
	padding: 0 5px;
	overflow: hidden;
	text-align: right;
}
div.toolbox.divider { /* Have to specify div here for IE6's sake */
	padding-left: 8px;
	background: url(../images/toolbar-divider.gif) repeat-y;
}

.toolbox img {
	cursor: pointer;
	margin-right: 6px;
	padding: 0;
	float: left;
}
.toolbox img.disabled {
	cursor: default;
}

.iconWrapper {
	display: inline-block;
	height: 22px;
	min-width: 22px;
	overflow: hidden;
	border: 1px solid transparent;
}
* html .iconWrapper {
	padding: 1px;
	border: 0;
}
.iconWrapper img {
	cursor: pointer;
	margin: 0;
	padding: 3px;
}
.iconWrapper:hover {
	border: 1px solid #bbb;
	-moz-border-radius: 4px;
	background-color: #fff;	
}

