<?php
/**
 *
 *
 */
?>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/opcheckout.js') ?>?q=20130409"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/nose_accordion.js') ?>?q=20130409"></script>
<script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>

<div id="checkoutSteps" class="checkout">

  <div class="checkout-header">

    <div class="container">

      <div class="logo">
        <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>"><img src="<?php echo $this->getSkinUrl('images/logo.svg') ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
      </div>

      <div class="header-steps">

        <div class="header-step first"><a href="<?php echo $this->helper('checkout/url')->getCartUrl(); ?>">1. <?php echo $this->__('Shopping Cart') ?></a></div>

        <?php $i=0; foreach($this->getSteps() as $_stepId => $_stepInfo): ?>
        <?php if (!$this->getChild($_stepId) || !$this->getChild($_stepId)->isShow()): continue; endif; $i++ ?>
        <div id="opc-nav-<?php echo $_stepId ?>" data-id="<?php echo $_stepId ?>" class="header-step step-title nohover <?php echo !empty($_stepInfo['allow'])?' allow':'' ?><?php echo !empty($_stepInfo['complete'])?' saved':'' ?>">
          <a href="#"><?php echo $i + 1; ?>. <?php echo $this->__($_stepInfo['label']); ?></a>
        </div>
      <?php endforeach ?>

    </div>

  </div>
</div>

<ol class="opc" id="opcheckoutSteps">
  <?php $i=0; foreach($this->getSteps() as $_stepId => $_stepInfo): ?>
  <?php if (!$this->getChild($_stepId) || !$this->getChild($_stepId)->isShow()): continue; endif; $i++ ?>
  <li id="opc-<?php echo $_stepId ?>"  data-id="<?php echo $_stepId ?>" class="section<?php echo !empty($_stepInfo['allow'])?' allow':'' ?><?php echo !empty($_stepInfo['complete'])?' saved':'' ?>">
    <div id="checkout-step-<?php echo $_stepId ?>" class="step a-item" style="display:none;">
      <?php echo $this->getChildHtml($_stepId) ?>
    </div>
  </li>
<?php endforeach ?>
</ol>
</div>

<script type="text/javascript">
//<![CDATA[
var accordion = new NoseAccordion('checkoutSteps', '.step-title', true);

var lastPrice = false;

<?php if($this->getActiveStep()): ?>
accordion.openSection('opc-<?php echo $this->getActiveStep() ?>');
<?php endif ?>
var checkout = new Checkout(accordion,{
  progress: '<?php echo $this->getUrl('checkout/onepage/progress') ?>',
  review: '<?php echo $this->getUrl('checkout/onepage/review') ?>',
  saveMethod: '<?php echo $this->getUrl('checkout/onepage/saveMethod') ?>',
  failure: '<?php echo $this->getUrl('checkout/cart') ?>'}
  );

//]]>
</script>
