<?php
/**
 *
 * Google eCommerce : Voir :
 * https://developers.google.com/analytics/devguides/collection/analyticsjs/ecommerce
 *
 */


?>

<h2 class="page-title"><?php echo $this->__('Your order has been received') ?></h2>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="checkout-success-page">

	<p><?php echo $this->__('Thank you for your purchase!') ?></p>


	<?php if ($this->getOrderId()):?>
	<?php if ($this->getCanViewOrder()) :?>
	    <p><?php echo $this->__('Your order # is: %s.', sprintf('<a href="%s">%s</a>',  $this->escapeHtml($this->getViewOrderUrl()) , '<strong>' . $this->escapeHtml($this->getOrderId()) . '</strong>')) ?></p>
	<?php  else :?>
	    <p><?php echo $this->__('Your order # is: %s.', '<strong>' . $this->escapeHtml($this->getOrderId()) . '</strong>' ) ?></p>
	<?php endif;?>
	    <p><?php echo $this->__('You will receive an order confirmation email with details of your order and a link to track its progress.') ?></p>
	<?php endif;?>

	<?php if ($this->getAgreementRefId()): ?>
	    <p><?php echo $this->__('Your billing agreement # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getAgreementUrl()), $this->escapeHtml($this->getAgreementRefId())))?></p>
	<?php endif;?>

	<?php if ($profiles = $this->getRecurringProfiles()):?>
		<p><?php echo $this->__('Your recurring payment profiles:'); ?></p>
		<ul class="disc">
			<?php foreach($profiles as $profile):?>
				<?php $profileIdHtml = ($this->getCanViewProfiles() ? sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getProfileUrl($profile)), $this->escapeHtml($this->getObjectData($profile, 'reference_id'))) : $this->escapeHtml($this->getObjectData($profile, 'reference_id')));?>
    				<li><?php echo $this->__('Payment profile # %s: "%s".', $profileIdHtml, $this->escapeHtml($this->getObjectData($profile, 'schedule_description')))?></li>
			<?php endforeach;?>
		</ul>
	<?php endif;?>

	<div class="center">
	    <button type="button" class="button button-inline icon-arrow-right" title="<?php echo $this->__('Continue Shopping') ?>" onclick="window.location='<?php echo $this->getUrl() ?>'"><?php echo $this->__('Continue Shopping') ?></button>
		<?php if ($this->getOrderId()):?>
			<?php if ($this->getCanViewOrder()) :?>
				<br><br><br>
	    		<button onclick="window.location='<?php echo $this->getPrintUrl(); ?>'" title="<?php echo $this->__('Print your order'); ?>" class="button button-inline button-pink" type="button"><?php echo $this->__('Print your order'); ?></button>
			<?php endif;?>
		<?php endif;?>
	</div>

</div>
