<?php
/**
 * Block : Partikule_Mynose_Block_Email_Coupon
 * 			Receives $order as data
 * 			Set for example in /app/locale/fr_fr/template/email/nose_order_summary.phtml
 *
 * Returns the Coupon block for the Order summary email
 * (send after the order was shipped.
 *
 */
?>
<?php

$coupon_code = $this->getCouponCode();

?>
<?php
/*
 * Only display if one coupon code
 */
?>
<?php if ($coupon_code) :?>

	<?php
		// $title = $this->getHtmlBlock('email_title_coupon');
		// $text = $this->getHtmlBlock('email_text_coupon');
		$title = strip_tags($this->getLayout()->createBlock('cms/block')->setBlockId('email_title_coupon')->toHtml());
		$text = $this->getLayout()->createBlock('cms/block')->setBlockId('email_text_coupon')->toHtml();
	?>
    <h2 style="border-bottom:solid 1px #000;text-transform:uppercase;text-align:center;font-size:12px;margin-bottom:15px;margin-top:20px;padding:0">
		<?php echo $title; ?>
	</h2>

	<table cellspacing="0" cellpadding="0" border="0" width="650" style="margin-right:auto;margin-left:auto;">
		<tr>
			<td>
				<?php echo $text; ?>

				<?php if ( ! is_null($coupon_code)): ?>
                <table>
                    <tr>
                        <td width="130">
                            &nbsp;
                        </td>
                        <td>
							<?php echo $this->__('Your voucher:') ?>
                            <span style="font-size:14px;font-weight: bold; margin:0;"><?php echo $coupon_code; ?></span>
                        </td>
                    </tr>
                </table>
				<?php endif;?>

			</td>
		</tr>
	</table>

<?php endif; ?>




