<?php
/**
 * Block : Partikule_Mynose_Block_Email_Evaluation
 *
 */
?>

<?php
$title = strip_tags($this->getLayout()->createBlock('cms/block')->setBlockId('email_title_evaluation')->toHtml());
$text = $this->getLayout()->createBlock('cms/block')->setBlockId('email_text_evaluation')->toHtml();
?>

<h2 style="border-bottom:solid 1px #000;text-transform:uppercase;text-align:center;font-size:12px;margin-bottom:15px;margin-top:20px;">
	<?php echo $title; ?>
</h2>

<table cellspacing="0" cellpadding="0" border="0" width="650" style="margin-right:auto;margin-left:auto;">
    <tr>
        <td>
			<?php echo $text; ?>
        </td>
    </tr>
</table>
