<?php
/**
 * Block : Partikule_Mynose_Block_Email_Items
 *
 * Inspired from Magento Wishlist Email
 *
 */
?>
<?php

$_perfumes = $this->getPerfumeCollection();
$_homes = $this->getHomeCollection();

$diagBlocks = array();

if ( !is_null($_perfumes) && $_perfumes->count() > 0)
{
	$diagBlocks[] = array(
		'title' => $this->__('Recommended perfumes'),
		'items' => $_perfumes
	);
}

if ( !is_null($_homes) && $_homes->count() > 0)
{
	$diagBlocks[] = array(
		'title' => $this->__('Home fragrances'),
		'items' => $_homes
	);
}


?>
<?php foreach($diagBlocks as $block) :?>
	<?php

		$items = isset($block['items']) ? $block['items'] : FALSE;

	?>
	<?php if ($items) :?>

		<?php $count = $items->count(); ?>

		<div style="text-align:center;">

		<?php
		/*
		 * Nose Style
		 * If you want to style all the emails templates
		 *
		 * letter-spacing:0.1em;
		 *
		 */
		?>

		<h2 style="border-bottom:solid 1px #000;text-transform:uppercase;text-align:center;font-size:12px;margin-bottom:15px;margin-top:20px;">
			<?php echo $block['title']; ?>
		</h2>

		<table cellspacing="0" cellpadding="0" border="0" width="650" style="margin-right:auto;margin-left:auto;">
			<tr>
			<?php $i = 0; foreach ($items as $item): $i++ ?>
				<?php

					$_url = Mage::getBaseUrl().$item->getCategoryUrl().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($item),"/");
					$_evaluate_url = Mage::helper('mynose/url')->getEvalUrl();

				?>
				<td width="19%">
					<p align="center" style="font-size:10px;">
						<a href="<?php echo $_url; ?>" style="color:#000;text-decoration:none;">
							<div style="height:185px;text-align: center;text-decoration:none;">
								<img src="<?php echo $this->helper('catalog/image')->init($item, 'small_image')->keepTransparency(false)->resize(125); ?>" width="125" height="125" style="margin-bottom:10px;" alt="" /><br/>
                                <strong style="text-transform:uppercase;text-decoration:none;"><?php echo $item->getCategoryName() ?></strong><br/>
                                <?php echo $this->htmlEscape($item->getName()) ?>
                            </div>
						</a>
					</p>
					<a style="background-color: #ffc000;color: #000;padding: 6px 20px 4px;margin:0 4px 6px 4px;text-decoration: none;display:block;text-align:center;" href="<?php echo $_url; ?>"><?php echo $this->__('Order'); ?></a>
				</td>
				<?php if ( $i%5!=0 ): ?>
					<td width="1%"></td>
				<?php else: ?>
				   </tr>
					<tr>
						<td colspan="5">&nbsp;</td>
					</tr>
					<?php if ($i<$count): ?>
					   <tr>
					<?php endif ?>
				<?php endif ?>
			<?php endforeach ?>
		</table>
		</div>
	<?php endif ;?>

<?php endforeach ;?>