<?php
/**
 * Block : 	Partikule_Mynose_Block_Email_Tracking
 *			Receives $order as data
 * 			Set for example in /app/locale/fr_fr/template/email/nose_order_summary.phtml
 */
?>
<?php

// $order = $this->getData('order');
$tracking_url = $this->getOrderTrackingUrl();

$title = strip_tags($this->getLayout()->createBlock('cms/block')->setBlockId('email_title_shipping_tracking')->toHtml());
$text = $this->getLayout()->createBlock('cms/block')->setBlockId('email_text_shipping_tracking')->toHtml();

?>

<h2 style="border-bottom:solid 1px #000;text-transform:uppercase;text-align:center;font-size:12px;margin-bottom:15px;margin-top:20px;">
	<?php echo $title; ?>
</h2>

<table cellspacing="0" cellpadding="0" border="0" width="650" style="margin-right:auto;margin-left:auto;">
	<tr>
		<td>
			<?php echo $text; ?>

			<?php if ( ! is_null($tracking_url)): ?>
				<table>
					<tr>
						<td width="130">
							&nbsp;
						</td>
						<td>
                            <a href="<?php echo $tracking_url ?>"><?php echo $tracking_url?></a>
						</td>
					</tr>
				</table>

			<?php endif;?>

		</td>
	</tr>
</table>

