<?php
/**
 * Sample product Add to Cart button
 * @see : Partikule_Nose_Block_Catalog_Product_Sample
 *
 * @category    design
 * @package     nose_default
 * @author		Partikule
 */
?>

<?php $_product = $this->getProduct(); ?>
<?php if($_product): ?>
	<?php $_product->load(); ?>
	<?php $buttonTitle = $this->__('Add to cart'); ?>
	<?php if($_product->isSaleable()): ?>
		<div class="sample-product">
			<span class="sample-box sample"><?php echo $this->__('Sample') ;?></span>
			<span class="sample-box qty"><?php echo $_product->getAttributeText('LIGHTSPEED_PRODUCT_SIZE'); ?></span>
			<span class="sample-box last price"><?php echo Mage::helper('core')->currency($_product->getFinalPrice()); ?></span>
			
			<button onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')" class="button bag btn-sample" title="<?php echo $buttonTitle ?>" type="button"><span><span><?php echo $buttonTitle ?></span></span></button>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	<?php endif; ?>
<?php endif; ?>
