<?php

/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 *
 */
?>
<?php
	$_helper = $this->helper('catalog/output');
	$_product = $this->getProduct();

	// $_category = Mage::registry('current_category');
	$_category = Mage::helper('nose/product')->getProductFirstCategory($_product);

	// @TODO : Find a solution in case of no category
	if ( ! $_category)
		Mage::log('Mage_Catalog_Block_Product_View : catalog_product_view.phtml : No category for product : ' . $_product->getSku() . ' - ' . $_product->getName(), null, 'category.log');

	// Product Type : perfume, cosmetic, homefragrance (synched with eNose)
	$_product_type = Mage::helper('attribute/Attribute')->getOptionBackendValue('boutique_product_type', $_product->getBoutiqueProductType());

	/*
	 * Get Noses
	 * direct connexion to eNose DB
	 *
	 */
	$creators = Mage::helper('nose/creator')->getCreatorArrayFromProduct($_product);


	$_by_brand = ( $_category && $_category->getName() != '' ) ? $this->__('by') . ' ' . $_category->getName() : '';


	// Backend option vlaue (female, male, unisex)
	$_sex = Mage::helper('attribute/Attribute')->getOptionBackendValue('sex', $_product->getSex());

	$base_url = Mage::app()->getStore()->getBaseUrl();

	// Number of row to display / items
	$numRows = 1;
	$itemsPerPage = 4;

//	$this->getLayout()->getBlock('catalog.topnav')->setActive('boutique');

	$leftBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('product_top_left')->toHtml();
	$rightBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('product_top_right')->toHtml();


?>
<?php
/*
 * Facebook
 *
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
 */
?>

<script type="text/javascript">
	var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>


<?php echo $this->getChildHtml('brands_select') ?>

<div class="product-top-left">
	<?php if ( ! empty($leftBlock)) :?>
	<?php echo $leftBlock ?>
	<?php endif ;?>
</div>

<div class="product-top-right">
	<?php if ( ! empty($rightBlock)) :?>
	<?php echo $rightBlock ?>
	<?php endif ;?>
</div>


<?php if ($_category):?>
	<div class="center title">
		<h2 class="title link"><a href="<?php echo Mage::getBaseUrl() . $_category->getUrlPath() ;?>"><?php echo $_category->getName(); ?></a></h2>
	</div>
<?php endif;?>



<div class="product-view">

 		<?php
 		/*
 		 * Media
 		 *
 		 */
 		?>
		<div class="product-img-box">
			<?php echo $this->getChildHtml('media') ?>
			<?php // echo $this->getChildHtml('product_related') ;?>
			<?php // echo $this->getChildHtml('product_range') ;?>
		</div>



		<div class="product-shop">

			<div class="product-name">
				<h3><span><?php if ($_category) echo $_category->getName(); ?></span> <br/>
				<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h3>
			</div>

			<?php if ( ! empty($_sex)) :?>
				<div class="perfume-sex perfume-sex-<?php echo $_sex ;?>"></div>
			<?php endif ;?>


	 		<?php
	 		/*
	 		 * Inspiration
	 		 *
	 		 */
	 		?>
			<div class="accordion">
				<h4 class="toggler open">
					<?php if ($_product_type == 'perfume') :?><?php echo $this->__('Inspiration') ;?><?php endif ;?>
					<?php if ($_product_type == 'cosmetic') :?><?php echo $this->__('Usage') ;?><?php endif ;?>
					<?php if ($_product_type == 'homefragrance') :?><?php echo $this->__('Inspiration') ;?><?php endif ;?>
				</h4>
				<div class="accontent">
					<p>
						<?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
					</p>
				</div>
			</div>



	 		<?php
	 		/*
	 		 * Nose (Creator)
	 		 *
	 		 */
	 		?>
	 		<?php if ( $_product_type == 'perfume' ) :?>
				<div class="accordion">
					<h4 class="toggler open"><?php echo $this->__('Nez') ;?></h4>
					<div class="accontent">

					<?php
					/**
					 * One Creation Text exists :
					 * - Display the Noses list
					 * - Display the Creation Text instead the Nose's text
					 * - For each Nose, if he has one page, create a link to this page on his name
					 *
					 */
					?>
					<?php
						/**
						 * Creators List Widget
						 *
						 */
						$creatorWidget = $this->getLayout()->createBlock('nose/catalog_product_widget_creator');
					?>
					<?php echo $creatorWidget->setProduct( $_product )->toHtml() ?>

					</div>
				</div>
	 		<?php endif ;?>


	 		<?php
	 		/*
	 		 * Description
	 		 *
	 		 */
	 		?>
	 		<?php if ( $_product->getDescription() !='' ) :?>
				<div class="accordion">
					<h4 class="toggler open">
						<?php if ($_product_type == 'perfume') :?><?php echo $this->__('Description') ;?><?php endif ;?>
						<?php if ($_product_type == 'homefragrance') :?><?php echo $this->__('Description') ;?><?php endif ;?>
						<?php if ($_product_type == 'cosmetic') :?><?php echo $this->__('Description') ;?><?php endif ;?>
					</h4>
					<div class="accontent long-description">
						<p><?php echo $_helper->productAttribute($_product, nl2br($_product->getDescription()), 'description') ?></p>
				 	</div>
				 </div>
	 		<?php endif; ?>


	 		<?php
	 		/*
	 		 * Ingredients : FOr cosmetic only
	 		 *
	 		 */
	 		?>
			<?php if ($_product_type == 'cosmetic') :?>
				<div class="accordion">
					<h4 class="toggler"><?php echo $this->__('Ingredients') ;?></h4>
					<div class="accontent">
						<p>
							<?php echo $_helper->productAttribute($_product, nl2br($_product->getNoseIngredients()), 'nose_ingredients') ?>
						</p>
					</div>
				</div>
	 		<?php endif; ?>


	 		<?php
	 		/*
	 		 * Description Olfactive
	 		 *
	 		 */
	 		?>
		 	<?php if ($_product_type == 'perfume' OR $_product_type == 'homefragrance') :?>

		 		<?php if ( $_product->getBoutiqueFamily() ) :?>
				 <div class="accordion pb5">
				 	<h4 class="toggler open"><?php echo $this->__('Olfactive description') ;?></h4>
				 	<div class="accontent">

					 	<?php if ($_product_type == 'perfume') :?>
					 	<dl>

					 		<?php
					 		/**
					 		 * We could use :
					 		 * $_product->getResource()->getAttribute('boutique_family')->getStoreLabel()
					 		 *
					 		 * But the Store Label isn't returned in the template :
					 		 * mynose/product/view.phtml
					 		 *
					 		 * So, to maintain consistency, we use the lang label everywhere
					 		 *
					 		 */
							?>
				 			<dt><?php echo $this->__('Families') ;?> :</dt>
				 			<dd>
				 				<?php echo rtrim(strtolower($_product->getAttributeText('boutique_family'))) ;?>
				 				<?php if ( $_product->getAttributeText('nose_subfamily') != '') :?>,
									<?php echo rtrim(strtolower($_product->getAttributeText('nose_subfamily'))) ;?>
				 				<?php endif ;?>
				 				<?php
				 				/*
				 				<?php if ( $_product->getAttributeText('nose_specifer') != '') :?>,
									<?php echo rtrim(strtolower($_product->getAttributeText('nose_specifer'))) ;?>
				 				<?php endif ;?>
				 				*/
				 				?>
				 			</dd>

					 		<?php
					 		/*
					 		<?php if ( $_product->getAttributeText('nose_subfamily') != '') :?>
				 				<dt><?php echo $this->__('Sub-family') ;?> :</dt>
					 			<dd><?php echo $_product->getAttributeText('nose_subfamily') ;?></dd>
					 		<?php endif ;?>

					 		<?php if ( $_product->getAttributeText('nose_specifer') != '') :?>
				 				<dt><?php echo $this->__('Specifer') ;?> :</dt>
					 			<dd><?php echo $_product->getAttributeText('nose_specifer') ;?></dd>
					 		<?php endif ;?>
					 		*/
					 		?>
					 	</dl>
		 				<?php endif; ?>

					 	<?php if ($_product_type == 'perfume' OR $_product_type == 'homefragrance') :?>
					 	<dl class="gray">

					 		<?php
					 		/*
					 		 * Notes
					 		 *
					 		 */
					 		?>
					 		<?php
					 		/*
					 		<?php if ( $_product->getNotesMain() != '') :?>
				 				<dt class="gray first"><?php echo $this->__('Main notes');?> :</dt>
					 			<dd class="gray"><?php echo $_product->getNotesMain() ;?></dd>
					 		<?php endif ;?>
					 		*/
					 		?>

					 		<?php if ( $_product->getNotesHead() != '') :?>
				 				<dt class="gray"><?php echo $this->__('Head notes'); ;?> :</dt>
					 			<dd class="gray"><?php echo strtolower($_product->getNotesHead()) ;?></dd>
					 		<?php endif ;?>

					 		<?php if ( $_product->getNotesHeart() != '') :?>
				 				<dt class="gray"><?php echo $this->__('Heart notes'); ;?> :</dt>
					 			<dd class="gray"><?php echo strtolower($_product->getNotesHeart()) ;?></dd>
					 		<?php endif ;?>

					 		<?php if ( $_product->getNotesBase() != '') :?>
				 				<dt class="gray"><?php echo $this->__('Base notes'); ;?> :</dt>
					 			<dd class="gray"><?php echo strtolower($_product->getNotesBase()) ;?></dd>
					 		<?php endif ;?>
					 	</dl>
		 				<?php endif; ?>
				 	</div>
				 </div>
		 		<?php endif; ?>
	 		<?php endif ;?>

			<?php if (!in_array($_product->getSku(), array('M-6662'))) : ?>
			 <div class="accordion">

			 	<h4 class=""><?php echo $this->__('Order') ;?></h4>

                 <?php echo $this->getChildHtml('product_outofstock_message', '', true, true); ?>

				<form  action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>

					<div class="no-display">
						<input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
						<input type="hidden" name="related_product" id="related-products-field" value="" />
					</div>

					<div class="relative pt10">
					<?php
					/*
					 * Configurable Product :
					 * - Options
					 * - Add To Cart
					 *
					 */
					?>
					<?php if ($_product->isSaleable() && $this->hasOptions()):?>
						<?php echo $this->getChildChildHtml('container3', '', true, true) ?>
						<?php echo $this->getChildHtml('addtocart', '', true, true) ?>
					<?php endif;?>

					<?php
					/**
					 * Simple product
					 *
					 */
					?>
		            <?php if (!$this->hasOptions()):?>
	                    <?php if($_product->isSaleable()): ?>
	                        <?php echo $this->getChildHtml('addtocart') ?>
						<?php endif;?>
					<?php endif;?>


					<?php
					/*
					 * Availability + Price
					 * Normaly : catalog/product/view/type/default.phtml
					 * Here : done by scp_product_extension.js -> updateProductStock()
					 *
					 */
					?>
					<?php // echo $this->getChildHtml('product_type_data') ?>

					<p id="stock-alert" style="display:none;">
						<span class="alert"><?php echo $this->__('Alert: '); ?></span><?php echo $this->__('Only '); ?><span id="stock-alert-qty"></span><?php echo $this->__(' product in stock.'); ?>
					</p>
					<?php if (Mage::getSingleton('customer/session')->isLoggedIn()): ?>
						<p id="stock-notify" style="display:none;">
							<span class="alert"><?php echo $this->__('Alert: '); ?></span><?php echo $this->__('Product not available.') ?> <a href="" id="stock-notify-url"><?php echo $this->__('Notify me when this product is available.'); ?></a>
						</p>
					<?php else: ?>
						<?php
							$current_url = $this->helper('core/url')->getCurrentUrl();;
							$current_session = Mage::getSingleton('customer/session');
							if(isset($current_session)) $current_session->setData("before_auth_url", $current_url);
						?>
						<p id="stock-notify" style="display:none;">
						<span class="alert"><?php echo $this->__('Alert: '); ?></span><?php echo $this->__('Product not available.') ?><br/><a href="<?php echo $this->helper('customer/data')->getLoginUrl(); ?>" id="stock-signin-url"><?php echo $this->__('Sign-in to be notified when product is back in stock'); ?></a>
						</p>
					<?php endif; ?>

					</div>

				</form>

				<div class="clearfix"></div>

				<?php if ($_product->isSaleable() && $this->hasOptions()):?>

					<?php
					/*
					 * Sample of the configurable product
					 * @see Partikule_Nose_Block_Catalog_Product_Sample
					 *
					 */
					echo $this->getChildHtml('product_sample', '', true, true);
					?>

				<?php endif;?>

                 <?php echo $this->getChildHtml('product_outofstock', '', true, true); ?>

				 <div>
					 <?php if ( ! empty($rightBlock)) :?>
						 <?php echo $rightBlock ?>
					 <?php endif ;?>
				 </div>


			</div>
            <?php endif; ?>

			 <div class="accordion">

			 	<h4 class="toggler"><?php echo $this->__('Shipping and Refund') ;?></h4>
				<div class="accontent">
				 	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product_shipping_refund_bloc')->toHtml(); ?>
				</div>

			 </div>

			 <div class="accordion">

			 	<h4 class=""><?php echo $this->__('Share') ;?></h4>

				<div class="social-network">

					<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>

					<div class="fb-like" data-send="true" data-layout="button_count" data-width="300" data-show-faces="true" data-action="recommend" data-font="arial"></div>

				</div>
				<!-- Share this
				<span  class='st_email_button' displayText='Email'></span><span  class='st_twitter_button' displayText='Tweet'></span><span  class='st_facebook_button' displayText='Facebook'></span>
				-->

			</div>


		</div>

		<div class="clearer"></div>

	<script type="text/javascript">

		var productAddToCartForm = new VarienForm('product_addtocart_form');
		productAddToCartForm.submit = function(){
				if (this.validator.validate()) {
						this.form.submit();
				}
		}.bind(productAddToCartForm);

		<?php
		/*
		 * Toggler Init
		 *
		 */
		?>
		initToggler();

	</script>

</div>

<div class="clearer"></div>

<?php
/*
 * Products from the same category
 * @see Partikule_Nose_Block_Catalog_Product_List
 *
 */
?>
<?php echo($this->getChildHtml('category_product_list')) ;?>

<?php
/*
	<div class="product-collateral">
		<?php echo $this->getChildHtml('description') ?>
		<?php echo $this->getChildHtml('additional') ?>
		<?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
		<?php echo $this->getChildHtml('upsell_products') ?>
		<?php echo $this->getChildHtml('product_additional_data') ?>
	</div>

	<script type="text/javascript">
		// var switchTo5x=true;
	</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher:'af1798d5-77ce-448f-bb05-2a540dcd9bf3'});</script>
*/
?>

