<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Product list template
 * Used to display products linked to one page
 *
 * @see Partikule_Ionize_Catalog_Product_List_Page
 *
 */
?>

<?php 

$_products = $this->getPageProductCollection();

// Adds the Category attributes : category_name / category_url
$_products = Mage::getModel('boutique/Category')->setCategoryData($_products);


// $numRows = ( $productCollection->count() > 6) ? 2 : 1;
$numRows = 1;
$itemsPerPage = 6;
$_iterator = 0;

// Uniq ID of the Carousel
$carousel_id = 'home_carousel';

?>

<?php if( $_products->getSize() ): ?>

<div class="col-main">

	<h3 class="col-title link"><a href="<?php echo ( Mage::getBaseUrl() . 'boutique') ?>"><?php echo __('Boutique') ?></a></h3>

	<div class="relative">

<!--
		<h4 class="bloc-title absolute"><?php echo __('New products') ?></h4>
		<a href="<?php echo Mage::getBaseUrl() ?>boutique" class="bloc gray right"><?php echo __('Boutique') ?></a>
-->
		<div class="clearfix"></div>

		<div id="<?php echo $carousel_id ; ?>" class="article item_carousel loading rows<?php echo $numRows ;?>">
		
			 <ul class="rows<?php echo $numRows ;?>">
			
				<?php foreach($_products as $_product): ?>

				<?php 
	
				$_url = 			Mage::getBaseUrl().$_product->getCategoryUrl().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_product),"/");
	
				$_name = 			$this->htmlEscape($_product->getName());
				$_name_by_brand = 	($_product->getCategoryName()) ? $_name . ' ' . $this->__('by') . ' ' . $_product->getCategoryName() : $_name;
				
				$_sex = 			Mage::helper('attribute/Attribute')->getOptionBackendValue('sex', $_product->getSex());

				$cheapest = 		Mage::helper('boutique/Product')->getCheapestSimple($_product);
				
				?>
				<li class="item link">
					<div class="product">
						<?php if($_sex) :?>
							<span class="icon24 sex sex_<?php echo $_sex; ?>"></span>
						<?php endif ;?>
						<a href="<?php echo $_url ?>" title="<?php echo $_name_by_brand ?>" class="picture"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(160) ?>" width="160" height="160" alt="<?php echo $_name ?>" /></a>

						<div class="details mt15">
						
							<span class="uppercase"><strong><?php echo $_product->getCategoryName() ?></strong></span><br />
							<strong><?php echo $_name ?></strong>
							
							<?php if ( ! is_null($cheapest) ) :?>
								<br/><span class="product-type"><?php echo $cheapest->getAttributeText('LIGHTSPEED_PRODUCT_COLOR') ;?></span><br />
								<?php echo $this->getPriceHtml($cheapest, true) ;?>
							<?php endif ;?>
							
							<?php // echo $this->getPriceHtml($_item, true, '-related') ?>
							<?php // echo $this->getPriceHtml($_item, true, '-related') ?>
							<?php // echo($_item->getPrice()); ?>
							
						</div>
					</div>
				</li>
				<?php endforeach ?>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<script type="text/javascript">


jQuery(document).ready(function()
{
	// brand product carousel
	if(jQuery('#<?php echo $carousel_id ; ?>').length > 0)
	{
		$j('#<?php echo $carousel_id ; ?>').carousel({
			itemsPerPage: <?php echo $itemsPerPage ;?>,
			itemsPerTransition: <?php echo $itemsPerPage ;?>,
			noOfRows: <?php echo $numRows ;?>,
			pagination: false,
			speed: 500,
			nextText:'<?php echo($this->__('Next Products')) ;?>',
			prevText:'<?php echo($this->__('Prev Products')) ;?>'
		});
		$j('#<?php echo $carousel_id ; ?> li').click(function(event)
		{
			a = $j('a:first', this).attr('href');
			if (a)
			{
				window.location.href = a;
			}
		});
	}

/*
		$j('#home_carousel li').click(function(event)
		{
			a = $j('a:first', this).attr('href');
			if (a)
			{
				window.location.href = a;
			}
		});
*/

});


</script>


<?php endif; ?>
