div.filemanager div.filemanager-menu {
	left: 30% !important;
	width: 70% !important;
	
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-o-box-shadow: none !important;

	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-o-border-radius: 0 !important;
}
div.filemanager div.filemanager-browsercontainer {
	background: #dee6f0 url("../Images/filelist.png") repeat-x bottom left !important;
	width: 30% !important;
	
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-o-box-shadow: none !important;

	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-o-border-radius: 0 !important;
}
div.filemanager-infos {
	background-color: #fff;
	left: 30% !important;
	width: 68% !important;
}

div.filemanager button {
    background: url("../../../../images/button-bg.jpg") no-repeat scroll 0 50% transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    height: 24px;
    line-height: normal;
    margin: 4px 5px;
    padding: 2px 6px;
    vertical-align: middle;

	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	
	text-shadow: none;
}

div.filemanager button:hover,
div.filemanager button.hover,
div.filemanager button:focus { 
	background: url(../../../../images/button-bg.jpg) no-repeat -200px 50%;
    border: 1px solid #FFFFFF;
}

div.filemanager button.disabled,
div.filemanager button.disabled:hover,
div.filemanager button.disabled:focus,
div.filemanager button.filemanager-open.disabled,
div.filemanager button.filemanager-open.disabled:hover,
div.filemanager button.filemanager-open.disabled:focus {
    background: none repeat scroll 0 0 #DDDDDD;
    color: #666666;
    cursor: default;
    text-shadow: none;
    border: 1px solid #FFFFFF;
}
div.filemanager button.filemanager-open {
    background: url("../../../../images/submit-bg.jpg") no-repeat scroll 0 50% transparent;
    margin-right: 10px;
    font-weight: normal;
}

div.filemanager-filelist .fi, div.gallery-image {
	background-color:#f2f2f2;
}

/* Browser list */
div.filemanager div.filemanager-browserscroll li.list {
	background-color:transparent;
	border:none;
	padding:0;
}

/* Preview description correction (against .panel dd) */
div.filemanager dd{
	margin:0 0 0 10px;
	width:auto;
}
div.filemanager-menu form {
	width:auto;
}
