<?php if(count($this->getChronorelais())>0): ?>
<?php
	$quote = Mage::getSingleton('checkout/cart')->init()->getQuote();
	$address = $quote->getShippingAddress();
	$postcode = $address->getPostcode();
?>
<div class="chronorelaismap">
    <div class="mappostalcode">
        <input type="text" name="mappostalcode" id="mappostalcode" value="<?php echo $postcode ?>" class="input-text" onkeydown="if (event.keyCode == 13) shippingMethod.changePostalCode('<?php echo $this->getUrl('checkout/onepage/changePostalCode')?>')" />
        <button onclick="shippingMethod.changePostalCode('<?php echo $this->getUrl('checkout/onepage/changePostalCode')?>');" id="mappostalcodebtn" class="button" type="button"><span><span><?php echo $this->__('Changer mon code postal')?></span></span></button>
    	<span style="display: none;" class="please-wait" id="postalcode-please-wait"><img class="v-middle" title="<?php echo $this->__('Loading map...')?>" alt="<?php echo $this->__('Loading map...')?>" src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>"> <?php echo $this->__('Loading map...')?></span>
    </div>
    <div id="chronomap" class="chronomap"></div>
</div>
<p style="margin: 0;"><?php echo $this->__('Veuillez choisir parmi les 5 relais Pickup affich&eacute;s ci-dessous celui qui servira d\'adresse de livraison.')?></p>
<dl class="sp-methods-chronorelais">
	<dt><?php echo $this->__('Chronorelay points')?></dt>
    <dd>
        <ul>
        <?php foreach($this->getChronorelais() as $key=>$chronorelais): ?>
            <li>
                <input name="shipping_method_chronorelais" type="radio" value="<?php echo $chronorelais->identifiantChronopostPointA2PAS;?>" id="s_method_chronorelais_<?php echo $chronorelais->identifiantChronopostPointA2PAS;?>" class="radio" onclick="loadMyPoint('<?php echo $chronorelais->identifiantChronopostPointA2PAS;//$key?>')" /> 
                <label for="s_method_chronorelais_<?php echo $chronorelais->identifiantChronopostPointA2PAS;?>"><?php echo $chronorelais->nomEnseigne.' - '.$chronorelais->adresse1.' - '.$chronorelais->codePostal.' - '.$chronorelais->localite;?></label>
            </li>
        <?php endforeach; ?>    
        </ul>
    </dd>   
</dl> 

<?php endif; ?>