<?php $_diag = $this->getDiagnostic(); ?>
<?php if ($_diag) : ?>
<?php $_collection = $this->getProductsFromDiagnosticItems($_diag->perfumes); ?>
<h2 class="page-title"><?php echo $this->__('Nose recommends for you'); ?></h2>
<div id="home-diag-panel">
    <div class="panel-content">
        <div class="item_carousel article products loading">
            <ul class="rows without-mask">
                <?php foreach ($_collection as $_product) : ?>
                <?php $_product = $_product->load($_product->getId()); ?>
                <li class="product-item item inertia">
                    <a href="<?php echo $_product->getProductUrl(); ?>" class="product-link">
                        <div class="product-photo" style="background-image: url(<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepTransparency(true)->resize(200) ?>);"></div>
                        <div class="product-brand"><?php echo $_product->getAttributeText('manufacturer'); ?></div>
                        <h2 class="product-title"><?php echo $_product->getName() ?></h2>
                    </a>
                </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
</div>
<?php endif; ?>

