<?php
/**
 * Partikule
 * Customer side login form
 *
 * Copy of /template/mynose/login_register.phtml
 * (mynose needs a container as the parent block isn't a type "customer/form_login" but mynose/diagnose)
 *
 */
?>
<?php

// Mage::app()->getLayout()->getBlock('catalog.topnav')->setActive('mynose');

/**
 * If user was invited, we get its eNose ID
 * and we're able to feed the register form
 *
 *
 */
$invitedNoseUser = FALSE;
$senderNoseUser = FALSE;
$invitedNoseUserId = Mage::getSingleton('core/session')->getInvitedUserNoseId();

if ($invitedNoseUserId)
{
	$invitedNoseUser = Mage::getModel('mynose/user')->getNoseUserFromId($invitedNoseUserId);

	if ($invitedNoseUser)
	{
		$senderId = Mage::getSingleton('core/session')->getSenderUserNoseId();
		$senderNoseUser = Mage::getModel('mynose/user')->getNoseUserFromId($senderId);
	}
}

// $relation = Mage::getSingleton('core/session')->getRelation();
?>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>


<?php if($senderNoseUser) :?>
	<?php
		// Sender Name
	$sender_name = $senderNoseUser['firstname'] . ' ' . $senderNoseUser['lastname'];
	?>
	<div class="span-14 prepend-3 append-3">

		<div  id="helperBloc1" class="helper-bloc full-width" data-id="1">
			<a class="helper-close"></a>
			<p><?php echo $this->__('You were invited by ') ;?><strong><?php echo $sender_name; ?></strong></p>
			<?php
		/*
		 * The invited is already registered
		 */
		?>
		<?php if ( !is_null($invitedNoseUser['magento_id'])) :?>
			<p><?php echo $this->__('To accept this invitation, log in with your email and password') ;?></p>
		<?php else :?>
			<p><?php echo $this->__('To accept this invitation, simply make your diagnostic') ;?></p>
		<?php endif ;?>
	</div>
</div>

<?php endif ;?>
<div class="account-create">
	<div class="section">
		<h3 class="section-title"><?php echo $this->__('Registered Customers') ?></h3>
		<form class="account-form" action="<?php echo $this->helper('customer')->getLoginPostUrl(); ?>" method="post" id="login-form">
			<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
			<?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?>
			<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

			<div class="subsection">
				<h4 class="subsection-title"><?php echo $this->__('You already done the diagnostic ?') ?></h4>
				<div class="centered">
					<?php echo $this->getChildHtml('inchoo_socialconnect_facebook_login_button'); ?>
				</div>
			</div>

			<div class="subsection">
				<h4 class="subsection-title"><?php echo $this->__('Login with your email'); ?></h4>

				<input type="text" name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email login-email" title="<?php echo $this->__('Email Address') ?>" placeholder="<?php echo $this->__('Email Address') ?>" />
				<input type="password" name="login[password]" class="input-text required-entry validate-password login-password" id="pass" title="<?php echo $this->__('Password') ?>" placeholder="<?php echo $this->__('Password') ?>" />

				<a href="<?php echo $this->getForgotPasswordUrl() ?>" class="small"><?php echo $this->__('Forgot Your Password?') ?></a>
				<button type="submit" class="button"><?php echo $this->__('Login') ?></button>
			</div>
		</form>
	</div>
	<div class="section">
		<h3 class="section-title"><?php echo $this->__('New Customers') ?></h3>
		<?php $loginBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_new_visitor')->toHtml(); ?>
		<?php echo $loginBlock ?>
		<button type="submit" onclick="setLocation('<?php echo Mage::helper('mynose/url')->getDiagnoseRegisterUrl() ; ?>')" title="<?php echo $this->__('Do the diagnostic') ?>" class="button icon-arrow-right"><?php echo $this->__('Do the diagnostic') ?></button>
	</div>
</div>

<script type="text/javascript">
//<![CDATA[
var dataForm = new VarienForm('login-form', true);
//]]>
</script>

