<?php
/**
 * Partikule
 *
 * @modified	2011.10.22
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */
?>
<?php
/**
 * Brands Select
 * 
 */

// Array of pages from Block Page
$_pages = $this->getChildPagesData(1, 15);

?>
<?php // $_menu = $this->renderNavigationMenuHtml(1,1,1) ?>
<div class="col-main center pt15">

	<select id="brand-select">
		
		<option value=""><?php echo $this->__('All brands') ;?></option>
		
		<?php foreach($_pages as $page) :?>
			<option value="<?php echo $page['url'] ;?>"><?php echo $page['title'] ;?></option>
		<?php endforeach ;?>
		

	</select>

</div>

<script type="text/javascript">

$j(function(){

	$j('#brand-select').styledSelect( {innerClass:'brand-select-style'} );

	$j('select').bind('change', function() {
		if (this.value != '')
			window.location = this.value;
	});

});

</script>
