<?php

$my_purchases_url = 	Mage::getUrl('sales/order/history');
$my_account_url = 		Mage::helper('customer/data')->getEditUrl();
$my_contact_url = 		Mage::helper('mynose/url')->getContactBookUrl();
$my_newsletter_url = 	Mage::getUrl('advancednewsletter/manage/');

?>

<!-- <h2 class="page-title"><?php echo $this->__('My account') ?></h2> -->

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="account-intro center">
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_account_intro_text')->toHtml() ?>
</div>



<script type="text/javascript">
	jQuery(document).ready(function()
	{
		setOpenBlock('#block-account');
	});
</script>

