<?php
/**
 * Partikule
 * Nose Project
 * 
 * MyNose Home / Default Page
 *
 * @modified	2011.10.6
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     nose_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */
?>
<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>
    <div class="page">
        
        <?php echo $this->getChildHtml('header') ?>
        
        <div class="main-container col2-left-layout">
        
            <div class="main">
        		
        		<div class="col-main">

	            	<?php
	            	/*
	            	 * Logged in : Diagnose Panel
	            	 *
	            	 * - diagnose/mydiagnose.phtml
	            	 * - diagnose/history.phtml
	            	 *
	            	 */
	            	?>
	            	<?php echo $this->getChildHtml('diagnose_panel') ?>
						
        			
        		</div>
	            
	            <div class="col-left sidebar">
	            	
	            	<?php
	            	/*
	            	 * MyNose Block
	            	 * see diagnose.xml
	            	 *
	            	 */
	            	?>
	            	<?php echo $this->getChildHtml('left') ?>
	            	
	            </div>

            </div>
        </div>

        <?php echo $this->getChildHtml('footer') ?>
   		<?php echo $this->getChildHtml('before_body_end') ?>
        
    </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>
