<?php

/*
 * @see Partikule_Sponsor_Block_Credit
 *
 */
?>

<?php

	$nb_credits = $this->getNbCredits();
	$nb_credits = $nb_credits.' '.$this->__('credits');
?>

<div class="center" style="margin-top: 1rem;">
	<p><?php echo $this->__('You currently have'); ?></p>
	<p class="page-title" style="margin-top: 0;"><?php echo $nb_credits; ?></p>

	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('sponsor_summary_intro')->toHtml() ?>

	<br><br>
	<button onclick="setLocation('<?php echo Mage::getBaseUrl(). 'mynose/contact/add/' ; ?>')" class="button button-inline icon-arrow-right" title="<?php echo $this->__('Invite friends'); ?>" type="submit">
			<?php echo $this->__('Invite friends'); ?>
	</button>

	<p><?php echo $this->__('and receive free samples'); ?></p>

</div>





