<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Product list template
 * Products by attribute from one category
 *
 * @see Partikule_Attribute_Block_Product
 *
 */
?>

<?php 


// Current attribute.
// Gets attribute_code, which was set through boutique.xml
$attribute = $this->getAttribute();

$attributes = array(
	array($attribute->getAttributeCode() => 1)
);

// Product Collection
// $productCollection = $this->getNewProductsCollection();
$productCollection = $this->getProductCollection($attributes);


// $numRows = ( $productCollection->count() > 6) ? 2 : 1;
$numRows = 1;
$itemsPerPage = 3 * $numRows;

$UNIQ = $attribute->getAttributeId();

?>
<h2 class="col-title"><?php echo Mage::helper('attribute/Label')->getStoreLabel($attribute) ?></h2>

<?php if( $productCollection->count() > 0) :?>

<div class="col-main">

	<div id="brand_carousel<?php echo $UNIQ; ?>" class="brand item_carousel rows<?php echo $numRows ;?>">
		
		
		<div class="clearfix"></div>
		
		<?php $_iterator = 0; ?>
		
    	<ul class="rows<?php echo $numRows ;?>">
		
			<?php foreach($productCollection as $_product): ?>

			<?php 
			
			$_url = Mage::getBaseUrl().$_product->getCategory_url().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_product),"/");

			// Product URL in its own category
//			$_url = Mage::getBaseUrl().trim(Mage::getModel('catalog/product_url')->getUrlPath($_product),"/");

			$_name = $this->htmlEscape($_product->getName());
			$_brand = $_product->getNose_brand();
			
			$_name_by_brand = ($_brand) ? $_name . ' ' . $this->__('by') . ' ' . $_brand : $_name;
			$_by_brand = ($_brand) ? $this->__('by') . ' ' . $_brand : '';
			
			$_sex = ($_product->getNose_sex()) ? $_product->getNose_sex() : $_product->getSex();
			
			
			?>
				<li class="item link">
					<div class="product">

						<a href="<?php echo $_url ?>" title="<?php echo $_name_by_brand ?>" class="picture" style="background:url(<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(180) ?>) no-repeat 50% top;"></a>

						<div class="details">


							<h3><?php echo $_name ?> / <?php echo $_product->getSku() ?></h3>
							<h4><?php echo $_by_brand ?></h4>


							<p class="summary"><?php echo $_product->getInspiration() ?></p>
							
							<?php if($_sex) :?>
							<span class="icon24 sex_<?php echo $_sex; ?>"></span>
							<?php endif ;?>


							<a class="button"><?php echo $this->__('See the Product') ?></a>
				
						</div>
					</div>
				</li>
			<?php endforeach ?>
		
		</ul>

	</div>

</div>

<div class="clearfix"></div>


<script type="text/javascript">

// Cufon.replace('h2, .col-title', { fontFamily: 'Akkurat-Light' });
// Cufon.now();

jQuery(document).ready(function()
{
	// brand product carousel
	if(jQuery('#brand_carousel<?php echo $UNIQ; ?>').length > 0)
	{
		$j('#brand_carousel<?php echo $UNIQ; ?>').carousel({
			itemsPerPage: <?php echo $itemsPerPage; ?>,
			itemsPerTransition: <?php echo $itemsPerPage; ?>,
			noOfRows: <?php echo $numRows; ?>,
			pagination: false,
			speed: 500,
			nextText:'<?php echo($this->__('Next Products')) ;?>',
			prevText:'<?php echo($this->__('Prev Products')) ;?>'
		});

		$j('#brand_carousel<?php echo $UNIQ; ?> li').click(function(event)
		{
			a = $j('a:first', this).attr('href');
			if (a)
			{
				window.location.href = a;
			}
		});
	}
});


</script>



<?php endif; ?>

