<?php
/**
 * Shopping cart template
 *
 * @see Mage_Checkout_Block_Cart
 *
 *
 */
?>
<?php

/*
 * Normally done by :
 * 1. Mage_Checkout_Block_Onepage->getSteps() 					which calls...
 * 2. Mage_Checkout_Block_Onepage_Abstract->getCheckout()		which returns...
 * 3. Mage::getSingleton('checkout/session')					which is finally processed by...
 * 4. Mage_Checkout_Block_Onepage->getSteps()
 *
 * Done like this to get quickly the checkout steps inside the cart template
 * and why do it simple when we're able to extend 5 bocks of Magento to do the same ?
 * For the pleasure of coding and coding again or for the pleasure to charge the client ?
 *
 */

$session = Mage::getSingleton('checkout/session');

$steps = array();

/*
if ( ! Mage::getSingleton('customer/session')->isLoggedIn())
	$steps['login'] = $session->getStepData('login');
*/

// $stepCodes = array('billing', 'shipping', 'shipping_method', 'payment', 'review');
    $stepCodes = array('billing', 'shipping_method', 'payment', 'review');

    foreach ($stepCodes as $step) {
       $steps[$step] = $this->__('cart_menu_' . $step);
//    $steps[$step] = $session->getStepData($step);
   }


   $cartSubTotal = Mage::helper('nose/cart')->getCartSubtotal();
   $fsa = Mage::getStoreConfig('nose/free_shipping/amount');

   $diff = $fsa - $cartSubTotal;
   $diffMessage = '';


   ?>


   <div class="cart" id="nose-cart">

    <h2 class="page-title"><?php echo $this->__('Your cart') ?></h2>

    <div class="subnav-container center">

      <ul class="subnav" id="cart-nav">
         <li class="active first"><a href="<?php echo $this->helper('checkout/url')->getCartUrl(); ?>"><span><?php echo $this->__('Shopping Cart') ?></span></a></li>

         <?php $i=0; foreach($steps as $_step): ?>

         <?php //if (!$this->getChild($_stepId) || !$this->getChild($_stepId)->isShow()): continue; endif; $i++ ?>

         <li class="nohover"><a><span><?php echo $_step ?></span></a></li>

     <?php endforeach ?>
 </ul>
</div>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php echo $this->getChildHtml('form_before') ?>

<?php

if ($cartSubTotal < $fsa)
{
    $diffMessage = '<div class="center mb20"><b style="color:#b00">'.
    $this->__('Only %s', $diff.' '.Mage::app()->getStore()->getCurrentCurrencyCode()).
    ' !</b><br/>'.
    $this->__('from free shipping and %d free samples', Mage::helper('freesample')->getOffer()).
    '</div>';
}
?>

<div class="column-left">
    <?php echo $diffMessage ;?>
    <form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <div class="cart-items">
            <?php foreach($this->getItems() as $_item): ?>
                <?php echo $this->getItemHtml($_item) ?>
            <?php endforeach ?>
        </div>
        <script type="text/javascript">decorateTable('shopping-cart-table')</script>
    </form>

    <div class="coupon">
        <?php echo $this->getChildHtml('checkout.credit.button') ?>
        <?php echo $this->getChildHtml('coupon') ?>
        <?php echo $this->getChildHtml('giftcards') ?>
        <?php if ( ! $this->getIsVirtual()): echo $this->getChildHtml('shipping'); endif; ?>
    </div>
</div>

<div class="column-right">
    <?php if ($cartSubTotal >= $fsa && !Mage::helper('freesample')->isBundleInCart()) : ?>
        <a href="#modal-freesample" class="freesample-button button button-pink">
            <?php echo $this->__('Choose my %d free samples', Mage::helper('freesample')->getOffer()); ?>
        </a>
    <?php endif; ?>

    <div class="totals">
        <?php echo $this->getChildHtml('totals'); ?>
        <?php if(!$this->hasError()): ?>
            <ul class="checkout-types">
                <?php foreach ($this->getMethods('methods') as $method): ?>
                    <?php if ($methodHtml = $this->getMethodHtml($method)): ?>
                        <li><?php echo $methodHtml; ?></li>
                    <?php endif; ?>
                <?php endforeach; ?>
            </ul>
        <?php endif; ?>
    </div>

    <div class="accordion">
        <h4 class="toggler"><?php echo $this->__('Need help ?') ;?></h4>
        <div class="accontent">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('cart_help')->toHtml(); ?>
        </div>
    </div>
    <div class="accordion">
        <h4 class="toggler"><?php echo $this->__('Shipping information') ;?></h4>
        <div class="accontent">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('cart_shipping')->toHtml(); ?>
        </div>
    </div>
    <div class="accordion">
        <h4 class="toggler"><?php echo $this->__('Return and refund') ;?></h4>
        <div class="accontent">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('cart_refund')->toHtml(); ?>
        </div>
    </div>
</div>

<div class="clearfix"></div>
</div>


<script type="text/javascript">

	<?php
	/*
	 * Quantity change
	 * jQuery
	 *
	 */
	?>
	$j('.qty_change').click(function(e)
	{
		var rel = $j('input[rel="' + $j(this).attr('rel') + '"]', $j('#nose-cart'));

		if ($j(this).hasClass('sub'))
		{
			if(rel.val() > 1)
				rel.val(parseInt(rel.val())-1);
		}
		else {
			rel.val(parseInt(rel.val())+1);
		}
	});


	<?php
	/*
	 * Toggler Init
	 *
	 */
	?>
	initToggler();


</script>

<?php

// Stolen from Zadig & Voltaire :-)

/*
<script type="text/javascript">

var qtyChanged = false;
qtyControl();

function qtyControl() {
	if ($$('input[name*="qty"]').length) {
		$$('.qty-increment').invoke('observe', 'click', function() {
			var qtyInput = this.previous('.qty');
			var toIncrease = parseInt(qtyInput.value);
			qtyInput.value = isNaN(toIncrease) ? 1 : (toIncrease + 1);
			updateTotalPrice();
		});
		$$('.qty-decrement').invoke('observe', 'click', function() {
			var qtyInput = this.previous('.qty');
			var toDecrease = parseInt(qtyInput.value);
			qtyInput.value = (isNaN(toDecrease) || toDecrease == 1) ? 1 : (toDecrease - 1);
			updateTotalPrice();
		});
	}
}

$j('.qty').bind('keyup', function() {
	if ($j(this).val() < 1) $j(this).val('1');
	updateTotalPrice();
});


function updateTotalPrice() {
	qtyChanged = true;
	var totalPrice = 0.00;
	var totalTax = 0.00;
	var totalHT = 0.00;
	var currencySign = '';
	$j('#shopping-cart-table tr').each(function() {
		var priceDOM = $j(this).find('.price');
		if (priceDOM.length > 0) {
			var price = priceDOM.eq(priceDOM.length - 2).html();
			var tax = priceDOM.eq(0).html();
			if (price != null) {
				currencySign = "%s €";
				price = price.replace(/[^0-9,.]/g, "").replace(",", ".");
				tax = tax.replace(/[^0-9,.]/g, "").replace(",", ".")
				price = new Number(parseFloat(price).toFixed(2));
				tax = new Number(parseFloat(tax).toFixed(2));
console.log(price.toFixed(2));
console.log(tax.toFixed(2));
				var qty = $j(this).find('.qty').val();
console.log(qty);

				var subtotal = qty * price;

				var subtotalTax = qty * tax;

//				var subtotalHT =
console.log(subtotalTax);
				$j(priceDOM).eq(priceDOM.length - 1).html(currencySign.replace('%s', subtotal.toFixed(2).replace('.', ',')));
				totalPrice += new Number(subtotal.toFixed(2));
				totalTax += new Number(subtotalTax.toFixed(2));
			}
		}
	});
	var finalDom = $j('#shopping-cart-totals-table').find('.price');
	// final
	finalDom.eq(0).html(currencySign.replace('%s', totalPrice.toFixed(2).replace('.', ',')));
	// HT
	finalDom.eq(1).html(currencySign.replace('%s', totalTax.toFixed(2).replace('.', ',')));
	// TVA
console.log(finalDom.length);

//	finalDom.eq(finalDom.length - ((finalDom.length > 5) ? 3 : 2)).html(currencySign.replace('%s', (totalPrice - totalTax).toFixed(2).replace('.', ',')));
	if (finalDom.length > 3) {
		finalDom.eq(finalDom.length - 2).html(currencySign.replace('%s', (totalPrice - totalTax).toFixed(2).replace('.', ',')));
	}
	else
		finalDom.eq(finalDom.length - 1).html(currencySign.replace('%s', (totalPrice - totalTax).toFixed(2).replace('.', ',')));


}


$j().ready(function(){
        // ajax checkout loader
        $j('.btn-proceed-checkout').click( function(){
            if (qtyChanged) {updateQty();} else {

                runCheckout();
            }
            return false;
        });
    });

function updateQty(){

console.log('Quantity changed');
                return false;

        $j('#onepage-loader-please-wait').show();
        $j.ajax({
            type: 'POST',
            processData: false,
            url: 'http://www.zadig-et-voltaire.com/eu/fr/checkout/cart/updatePost/',
            data: $j('#cart-update-form').serialize(),
            dataType: 'json',
            success: function(data){
                $j('#onepage-loader-please-wait').hide();
                if (data.success) {
                    runCheckout();
                }
                return false;
            }
        });
        return false;
    }

    function runCheckout(){
        if (!isUserLogged) {
            Modalbox.show('http://www.zadig-et-voltaire.com/eu/fr/checkout/onepage/ajaxlogin/',
                {
                    height: 290,
                    title: 'Identifiant client',
                    className: "modal-checkout-login",
                    handleKbd: false,
                    afterLoad: function(){$("MB_window").addClassName("fix-modal-height");},
                    beforeHide: function()
                    {
                        $("MB_window").removeClassName("fix-modal-height");

                        //if the customer's cart has been retrieved, notfy him
                        var oldItemsCount = 1;
                        $j.ajax({
                            cache: false,
                            async: false,
                            url: "http://www.zadig-et-voltaire.com/eu/fr/checkout/onepage/wasCartRetrieved/",
                            complete: function(res) {
                                var newItemsCount = res.responseText;
                                if(newItemsCount > oldItemsCount) {
                                    //the cart was retrieved, so we need to show the message
                                    //and reload the page
                                    cartRetrieved = 'yes';
                                    alert("Les produits du SHOPPING BAG de votre dernière visite ont été automatiquement récupérés et ajoutés à votre SHOPPING BAG");

                                    //so redirect to the cart page again
                                    window.location = "http://www.zadig-et-voltaire.com/eu/fr/checkout/cart/";
                                };
                            }
                        });
                    }
                });
            return false;
        }

        //if the cart has been updated with old cart products, we
        //can't continue, because the page will reload in a moment to reflect the changes
        if(cartRetrieved == 'yes') {
            return false;
        }

        hideBottom();
        $j.ajax({
            type: 'GET',
            processData: false,
            url: 'http://www.zadig-et-voltaire.com/eu/fr/checkout/onepage/ajax/',//?XDEBUG_SESSION_START=netbeans-xdebug',
            dataType: 'html',
            cache: false,
            success: function (data) {
                $j('#onepage-loader-please-wait').hide();
                var isJSON = false;
                var err;
                try {
                    err = jQuery.parseJSON(data);
                    if (err.json) {
                        if (!err.success) {
                            isJSON = true;
                            alert(err.message);
                            //window.location.reload();
                        }
                    }
                } catch (e){
                    if (data.indexOf('native_language') > 0) {
                        $j('#onepage-loader-please-wait').show();
                        window.location = "http://www.zadig-et-voltaire.com/eu/fr/customer/account/edit/";
                        return false;
                    }
                }

                if (!isJSON) {


                    // google analytics virtual pageview
                    var gaqUrl = 'http://www.zadig-et-voltaire.com/eu/fr/' + 'checkout/onepage/';
                    if (typeof _gaq !== "undefined" && _gaq !== null) {
                        _gaq.push(['_trackPageview', gaqUrl]);
                    }

                    $j('.cart-collaterals').hide();
                    $j('.checkout-types').hide();

                    $j('.discount').hide();
                    $j('.totals').hide();
                    $j('.card-shop-informations').hide();

                    $j('#shopping-cart-table input').each( function(){
                        $j(this).attr('disabled','disabled');
                    });
                    $j('#onepage-loader').html(data);
                    $j('#onepage-loader .header-container').remove();
                    $j('#onepage-loader .footer-container').remove();
                    $j('#onepage-loader').show();
                } else {
                    $j('.checkout-types').find('button').removeAttr('disabled');
                    $j('.checkout-types').find('a').show();
                    $j('.qty-control button').show();
                    $j('.cart-collaterals').show();
                    $j('#shopping-cart-table tfoot').show();
                    $j('#onepage-loader').hide();
                }
                $j('#onepage-loader-please-wait').hide();
            }
        });
        return false;
    }

</script>

*/

?>

