.account-create {
  width: 24rem;
  margin: auto;
  padding: 1rem;
  @media screen and (max-width: 550px) {
    width: 100%;
  }
}

.account-intro {
  strong {
    font-family: $font-serifs;
  }
}

@media screen and (max-width: 850px) {
  .panelContent {
    overflow: auto;
  }
}

.account-steps,
.diagnosis-steps {
  width: 11rem;
  height: 2rem;
  margin: 0 auto 1rem;
  text-align-last: justify;
  text-align: justify;
  position: relative;
  cursor: default;
  @media not all and (min-resolution:.001dpcm)
  { @supports (-webkit-appearance:none) {
    display: flex;
    justify-content: space-between;
    }}
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: $real-concrete;
      position: absolute;
      left: 0;
      right: 0;
      top: 1rem;
    }
    .step {
      @media not all and (min-resolution:.001dpcm)
      { @supports (-webkit-appearance:none) {
      //.step {
        text-align: center;
      //}
      }}
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      margin-top: .25rem;
      padding-top: .23rem;
      border-radius: 50%;
      border: 1px solid $real-concrete;
      background: $white;
      position: relative;
      z-index: 100;
      text-align-last: center;
      font-family: $font-sans;
      font-size: .6rem;
      line-height: 1rem;
      text-decoration: none;
      transition: border-color .2s linear;
      &.active {
        border-color: $grey;
      }
    }
    a.step:hover {
      border-color: $grey;
    }
  }

  .diagnosis-steps {
    margin-top:0;
  }

  .section {
    margin-bottom: 1.5rem;
  }

  .section-title {
    font-family: $font-sans;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: .2em;
    font-weight: 300;
    text-align: center;
    text-transform: lowercase;
    color: $black;
    margin: 0 auto .5rem;
  }

  .section-subtitle {
    font-family: $font-sans;
    font-size: .9rem;
    line-height: 1rem;
    letter-spacing: .15em;
    font-weight: 300;
    text-align: center;
    text-transform: lowercase;
    color: $black;
    margin: 0 auto .5rem;
  }

  .subsection {
    margin-bottom: 1rem;
  }

  .section-title {
    font-family: $font-sans;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: .2em;
    font-weight: 300;
    text-align: center;
    text-transform: lowercase;
    color: $black;
    margin: 0 auto .5rem;
  }

  .section-subtitle {
    font-family: $font-sans;
    font-size: .9rem;
    line-height: 1rem;
    letter-spacing: .15em;
    font-weight: 300;
    text-align: center;
    text-transform: lowercase;
    color: $black;
    margin: 0 auto .5rem;
  }

  .subsection {
    margin-bottom: 1rem;
  }

  .subsection-title {
    font-family: $font-serifs;
    font-size: .9rem;
    line-height: 1.5rem;
    letter-spacing: .02em;
    font-weight: normal;
    text-align: center;
    color: $grey;
    margin: 0 auto .5rem;
  }

  .centered {
    text-align: center;
  }

  .center-form {
    max-width: 24rem;
    padding: 0 1rem;
    margin: auto;
  }

  .account-form {
    display: block;
    input, .small, label, select {
      font-family: $font-serifs;
      font-size: .9rem;
      line-height: 1rem;
      letter-spacing: .02em;
      color: $grey;
      margin: 0 auto .5rem;
    }
    input[type=text], input[type=password], select {
      display: block;
      width: 100%;
      height: 1.5rem;
      border: none;
      background: transparent;
      border-bottom: solid 1px $real-concrete;
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
      }
      &.big {
        height: 1.8rem;
        margin-bottom: 1.2rem;
      }
    }
    input[type=radio] {
      margin-right: .5rem;
    }
    select {
      margin-top: -2px;
      background: url(../images/icon_caret_down.svg) no-repeat right 17px;
      background-size: 6px auto;
    }
    .small {
      display: block;
      font-size: .7rem;
      line-height: 1.2rem;
      margin-bottom: .8rem;
    }
    label {
      height: 1.5rem;
      display: inline-block;
      margin-right: 1rem;
      padding: 3px 0;
    }
    label.block {
      margin-bottom: 0;
    }
    .dob-day, .dob-month, .dob-year {
      position: static;
      display: inline-block;
      vertical-align: top;
      margin-right: 1rem;
    }
    .dob-year {
      margin-right: 0;
    }
    .intl-tel-input {
      width: 100%;
    }
  }

  .error-msg {
    background-color: #962727;
    max-width: 520px;
    margin: auto;
  }

  .profile-form {
    max-width: 520px;
    padding: 0 1rem;
    margin: auto;
  }

  .my-account {
    .page-title {
      margin-top: 0;
    }
  }

  .pager {
    height: 2rem;
    padding: 0;
    margin: 1rem 0;
    .amount, .limiter {
      font-family: $font-sans;
      text-transform: uppercase;
      font-size: .6rem;
      line-height: 2rem;
      letter-spacing: .2em;
    }
    .pages {
      margin: 0;
      padding-top: .2rem;
      font-size: .9rem;
      font-family: $font-serifs;
      cursor: default;
      strong {
        font-family: $font-serifs;
        font-weight: normal;
      }
      li {
        display: inline-block;
        width: auto;
        height: auto;
        vertical-align: middle;
        a {
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          text-decoration: none;
          border-radius: 50%;
          border: 1px solid transparent;
          transition: border-color .2s linear;
          padding-top: 2px;
          &.previous, &.next {
            width: auto;
            border: none;
          }
          &:hover {
            border-color: $border-grey;
          }
        }
        &.current {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          padding-top: 2px;
          border: 1px solid $border-grey;
        }
      }
    }
  }

  .orders-table {
    margin: 1rem 0 2rem;
    border-top: 1px solid $concrete;
    padding: 1rem 0;
    thead th {
      height: 2rem;
      font-family: $font-sans;
      text-transform: uppercase;
      font-size: .6rem;
      line-height: 1rem;
      padding: .5rem .5rem .5rem 0;
      font-weight: 300;
    }
    tbody {
      tr, tr.odd, tr.even {
        td {
          height: 2rem;
          border: none;
          font-family: $font-serifs;
          font-size: .9rem;
          line-height: 1rem;
          padding: .5rem .5rem .5rem 0;
          &.last {
            padding-right: 0;
          }
        }
      }
    }
  }

  .addresses-list {
    .title {
      text-align: center;
      margin: 2rem 0;
      font-weight: 300;
      letter-spacing: .2em;
    }
    ol {
      padding: 0;
      margin: 1rem 0;
      li.item {
        background: $concrete;
        padding: 1rem;
        margin: 0 auto 1rem;
        text-align: center;
        h3, address, p {
          font-family: $font-serifs;
          font-size: .9rem;
          line-height: 1rem;
          letter-spacing: .02em;
          color: $grey;
        }
        h3 {
          margin: 0 auto 1rem;
          color: $black;
        }
        address {
          margin: 0 auto 1rem;
        }
        p  {
          color: $border-grey;
          font-size: .7rem;
          a {
            color: $border-grey;
          }
        }
      }
    }
  }

  .subscriptions-form {
    text-align: center;
    h3 {
      text-align: center;
      margin: 2rem 0;
      font-weight: 300;
      letter-spacing: .2em;
      text-transform: uppercase;
    }
    p {
      font-size: .9rem;
      line-height: 1rem;
      color: $grey;
      strong {
        font-family: $font-serifs;
      }
    }
  }

  .mynose-eval-favorite {
    .col-main {
      width: 100%;
      padding: 0 1rem;
    }
  }

  .mynose-contact-book, .mynose-contact-add, .mynose-contact-index, .sales-order-history, .customer-giftcards-balance  {
    .col-main {
      max-width: 960px;
      width: 100%;
      padding: 0 1rem;
    }
  }

  .credit-balance {
    font-family: $font-sans;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 300;
    letter-spacing: .2em;
  }

  .customer-account-edit{
    .col-main {
      width: 100%;
    }

    .col-left{
      &.sidebar {
        @media screen and (max-width: 550px) {
          display: flex;
          flex-direction: column;
        }

      }
    }
  }
