.brand-banner {
  height: 30rem;
  position: relative;
  margin-bottom: 2rem;
  @media screen and (max-width: 850px) {
    height: 60vw;
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 550px) {
    height: 10rem;
    margin-bottom: .5rem;
  }
  .brand-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    color: $white;
    z-index: 100;
    text-align: center;
    font-size: 10rem;
    line-height: 8rem;
    text-transform: lowercase;
    font-weight: 800;
    letter-spacing: .2em;
    @include noselect();
    cursor: default;
  }
  .arrow {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 16px;
    z-index: 100;
    @media screen and (max-width: 550px) {
      display: none;
    }
    &.left {
      left: .5rem;
      background-image: url(../images/icon_arrow_left.svg);
      @media screen and (max-width: 550px) {
        left: 0;
      }
    }
    &.right {
      right: .5rem;
      background-image: url(../images/icon_arrow_right.svg);
      @media screen and (max-width: 550px) {
        right: 0;
      }
    }
  }
  .slider {
    width: 100%;
    height: 100%;
    position: relative;
    .slide {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      // transform: translateX(-100%);
      opacity: 0;
      transition: transform $transition-speed ease-out, opacity $transition-speed linear;
      &.active {
        opacity: 1;
        transform: translateX(0);
        z-index: 50;
      }
      &.right {
        transform: translateX(100%);
        transition: none;
      }
      &.video {
        background: $black;
        .player {
          width: 100%;
          height: 100%;
          iframe {
            width: 100%;
            height: 100%;
          }
        }
      }
      &.cinemagraph {
        overflow: hidden;
        video {
          display: block;
          width: 100%;
          max-width: 1920px;
          height: auto;
          margin: auto;
        }
      }
    }
  }
}
.brand-subtitle {
  margin-top: 0;
}
.tabs-content {
  width: 960px;
  @media screen and (max-width: 550px) {
    width: 100%;
  }
}

.catalog-category-view {
  .page-title {
    margin-top: 0;
  }
}

.category-about-nose {
  .shop-navbar, .page-title {
    display: none;
  }
}


.tabs-content {
  width: 100%;
  height: auto;
  margin: 0 auto 1.5rem;
  padding: 0;
  position: relative;
  @media screen and (max-width: 550px) {
    padding: 0;
    margin-bottom: 1rem;
  }
  .tab {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity $transition-speed linear;
    pointer-events: none;
    @media screen and (max-width: 850px) {
      width: 100%;
    }
    &.active {
      position: static;
      position: relative;
      opacity: 1;
      pointer-events: all;
    }
  }
}



.brand-universe, .universe-tab-nav {
  @media screen and (max-width: 550px) {
    display: none !important;
  }
}

.about-the-brand {
  width: 39rem;
  margin: 0 auto 2rem;
  font-family: $font-serifs;
  font-size: .9rem;
  line-height: 1rem;
  letter-spacing: .02em;
  text-align: center;
  @media screen and (max-width: 550px) {
    width: 100%;
    padding: 0 1rem;
  }
  p {
    text-align: center;
    color: $grey;
    margin: 0 auto 2rem;
    @media screen and (max-width: 550px) {
      margin-bottom: 1rem;
    }
  }
  img {
    display: block;
    margin: 2rem auto 2rem;
    @media screen and (max-width: 550px) {
      margin: 1rem auto;
    }
  }
}