div.letter-widget {
  width: 100%;
  height: 2rem;
  background: $concrete;
  margin-bottom: 3rem;
  padding-top: .5rem;
  @media screen and (max-width: 550px) {
    margin-bottom: 1rem;
  }
  ul.letter-filter {
    height: auto;
    width: auto !important;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    @media screen and (max-width: 550px) {
      white-space: nowrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      li:first-of-type {
        margin-left: 1rem;
      }
      li:last-of-type {
        margin-right: 1rem;
      }
    }
    li, li.letter {
      float: none;
      display: inline-block;
      vertical-align: top;
      opacity: 1;
      transition: opacity .2s linear, transform .2s ease-out;
      &.not-visible {
        opacity: 0;
        transform: translate(10px, 0);
      }
      a {
        padding: 0;
        width: auto !important;
        height: auto;
        @include headline();
        font-size: .6rem;
        line-height: 1rem;
        color: $grey;
        border: none;
        padding: 0 .25rem;
        &.active, &:hover {
          background: none;
          color: $black;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
  }
}

.brands-list {
  width: 960px;
  margin: 0 auto 2rem;
  padding: 0 1rem;
  column-count: 4;
  column-gap: 2rem;
  column-fill: balance;
  @media screen and (max-width: 550px) {
    width: 100%;
    column-count: 1;
    text-align: center;
  }
  .letter-group {
    margin-bottom: 1rem;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    opacity: .3;
    transition: opacity $transition-speed linear;
    &.active {
      opacity: 1;
    }
  }
  .letter {
    font-family: $font-sans;
    font-size: 2rem;
    line-height: 3rem;
    text-transform: lowercase;
  }
  .brand-item {
    display: block;
    .title {
      display: block;
      font-family: $font-serifs;
      font-size: .9rem;
      line-height: 1rem;
      text-decoration: none;
      letter-spacing: .02em;
      color: $grey;
    }
    .brand-image {
      max-width: 10rem;
      height: auto;
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
      transition: opacity .1s linear;
      pointer-events: none;
      transform: translateY(-50%);
      @media screen and (max-width: 550px) {
        display: none;
      }
    }
    &:hover .brand-image {
      opacity: .3;
    }
  }
}