button.button, a.button, input.button {
  display: block;
  width: 100%;
  height: auto;
  background: $white;
  border: 1px solid $border-grey;
  font-family: $font-sans;
  color: $grey;
  text-align: center;
  font-size: .6rem;
  line-height: 1rem;
  letter-spacing: .2em;
  text-transform: uppercase;
  padding: .5rem .5rem .4rem;
  &.button-small {
    font-size: .4rem;
    line-height: .8rem;
  }
  &.button-inline {
    display: inline-block;
    width: auto;
    padding: .5rem 1rem .4rem;
    @media screen and (max-width: 550px) {
      width: 100%;
    }
  }
  &.button-white {
    background-color: $white;
    border-color: transparent;
    color: $black;
  }
  &.button-pink {
    background-color: $light-pink;
    border-color: transparent;
    color: $grey;
  }
  &.button-blue {
    background-color: #EEF2F3;
    border-color: transparent;
  }
  &.button-dark {
    background: $grey;
    color: $white;
    border-color: transparent;
  }
  &.button-transparent {
    background-color: transparent;
  }
  &.button-rocket {
    &:before {
      content: "";
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: 0 12px -3px 0;
      background: url(../images/icon_rocket.svg) no-repeat center;
      background-size: contain;
    }
  }
  &.button-facebook {
    background: #EEF2F3;
    border: none;
    padding: .5rem 2rem;
    margin-bottom: 1rem;
    &:before {
      display: inline-block;
      vertical-align: middle;
      content: "";
      width: 10px;
      height: 15px;
      background: url(../images/icon_facebook.svg) no-repeat center center;
      background-size: 8px auto;
      transform: translate(-14px, -3px);
    }
  }
  .smaller {
    background: transparent;
    font-size: .9em;
  }
}

a.button.button-promo {
  display: inline-block;
  width: auto;
  padding: .5rem 1rem .4rem;
  padding-right: 3rem;
  background: url(../images/icon_arrow_right_dark.svg) no-repeat right .75rem center;
  background-size: 29px auto;
  @media screen and (max-width: 550px) {
    display: block;
    width: 100%;
  }
}

button.button.icon-arrow-right, a.button.icon-arrow-right, input.button.icon-arrow-right {
  padding-left: 2rem;
  padding-right: 2rem;
  &:after {
    content: "";
    display: inline-block;
    width: 29px;
    height: 16px;
    margin: 0 0 -3px 15px;
    background: url(../images/icon_arrow_right_dark.svg) no-repeat center;
    background-size: contain;
  }
  &.button-dark:after {
    background-image: url(../images/icon_arrow_right.svg);
  }
}

.button-link {
  display: inline-block;
  font-family: $font-sans;
  font-size: .6rem;
  line-height: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .2em;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
  &:after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: $black;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
  }
}

.button.button-block {
  display: inline-block;
  background: none;
  border: none;
  width: auto;
  padding: .6rem 2rem .4rem;
  &:before {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    transform: translateY(-4px);
    content: "";
    width: 19px;
    height: 20px;
    background: url(../images/icon_basket.svg) no-repeat center;
    background-size: 100% auto;
  }
  @media screen and (max-width: 550px) {
    width: 100%;
    background: $light-pink;
    padding: .6rem 1.75rem .4rem;
  }
}

.button.btn-checkout {
  border: none;
  background: $grey;
  color: $white;
  padding: .6rem 1.75rem .4rem;
  margin-bottom: .5rem;
  &:before {
    display: inline-block;
    vertical-align: top;
    margin-right: .5rem;
    transform: translateY(-4px);
    content: "";
    width: 19px;
    height: 20px;
    background: url(../images/icon_basket_white.svg) no-repeat center;
    background-size: 100% auto;
  }
}