.events.item_carousel {
  padding-top: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  .prev, .next {
    height: 14rem;
    outline: none;
  }
  .mask {
    width: auto;
    @media screen and (max-width: 750px) {
      margin: 0;
      overflow: auto;
    }
  }
  ul.events li {
    width: 16rem;
    height: 14rem;
    margin-right: 2rem;
    margin-bottom: 0;
    @media screen and (max-width: 750px) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .date {
      width: 100%;
      height: 100%;
      background: $concrete;
      color: $black;
      margin: 0;
      padding: 2rem;
      .day, .month {
        font-family: $font-sans;
        margin: 0;
        padding: 0;
        font-size: 1.8rem;
        line-height: 1.8rem;
        letter-spacing: .2em;
      }
      .contact {
        margin-top: .5rem;
        margin-bottom: .25rem;
      }
      .event {
        color: $grey;
        .event-label, .event-detail {
          line-height: 1rem;
          font-weight: normal;
        }
      }
      .nodiag {
        font-size: .7rem;
        color: $border-grey;
      }
    }
  }
}