.box-inline {
  @media screen and (max-width: 550px) {
    flex-direction: column-reverse;
    > *:not(:last-child) {
      margin: 0;
      padding: 0;
      margin-top: 1rem;
    }
  }
}

.checkout-cart-index {
  .cart {
    position: static;
    width: 100%;
    margin: 0;
    padding: 1rem;
    @media screen and (max-width: 550px) {
      padding: 0;
    }
    .page-title {
      margin-bottom: 1rem;
    }
    .column-left {
      width: 66.66%;
      padding: 0 1rem;
      float: left;
      @media screen and (max-width: 550px) {
        float: none;
        width: 100%;
      }
    }
    .column-right {
      width: 33.33%;
      padding: 0 1rem;
      float: right;
      @media screen and (max-width: 550px) {
        float: none;
        width: 100%;
        padding: 0;
      }
    }
    .freesample-button {
      margin-bottom: 1rem;
      @media screen and (max-width: 550px) {
        margin: 0;
      }
    }
    .totals {
      width: 100%;
      float: none;
      background: $concrete;
      padding: 1rem;
      @media screen and (max-width: 550px) {
        .block-title {
          display: none;
        }
        tbody {
          display: none;
        }
      }
    }
    .totals-table {
      tr {
        td, th {
          border: none;
          font-family: $font-sans;
          font-size: .6rem;
          line-height: 1rem;
          letter-spacing: .2em;
          text-transform: uppercase;
          font-weight: 300;
        }
        th {
          font-weight: normal;
        }
      }
    }
    .checkout-types {
      padding: 0;
      margin: 0;
      li {
        margin: 1rem 0 0;
      }
    }
    .accordion {
      @media screen and (max-width: 550px) {
        display: none;
      }
      .toggler {
        font-family: $font-sans;
        font-size: .9rem;
        line-height: 1rem;
        letter-spacing: .15em;
        text-transform: lowercase;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: .5rem;
        height: auto;
        padding: .5rem 0;
        padding-right: 1.5rem;
        border-bottom: 1px solid $real-concrete;
        background: url(../images/icon_arrow_down.svg) no-repeat center right .6rem;
        background-size: 8px auto;
        &.open {
          background-image: url(../images/icon_arrow_up.svg);
        }
      }
      .accontent {
        padding: 0 .5rem;
      }
    }
    .cart-items {
      border-top: 1px solid $real-concrete;
      @media screen and (max-width: 550px) {
        border: none;
      }
    }
  }
  .cart-item {
    border-bottom: 1px solid $real-concrete;
    padding: 1rem 0;
    @media screen and (max-width: 550px) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    .product-thumbnail {
      float: left;
      width: 6rem;
      height: 7rem;
      position: relative;
      @media screen and (max-width: 550px) {
        width: 7rem;
        height: 8rem;
        float: none;
        margin-right: 1rem;
        flex: 0 0 7rem;
      }
      &:before {
        content: "";
        display: block;
        width: 6rem;
        height: 6rem;
        background: #F5F8F8;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        @media screen and (max-width: 550px) {
          width: 7rem;
          height: 7rem;
        }
      }
      img {
        position: absolute;
        bottom: 0;
        z-index: 10;
        mix-blend-mode: multiply;
      }
    }
    .product-right {
      @media screen and (max-width: 550px) {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
      }
    }
    .product-infos {
      margin-left: 7rem;
      @media screen and (max-width: 550px) {
        margin-left: 0;
        margin-bottom: .5rem;
      }
      p {
        margin: 0;
        color: $grey;
      }
      .product-category {
        font-size: .9rem;
        line-height: 1rem;
        padding: .5rem 0;
        letter-spacing: .02em;
        font-family: $font-serifs;
        color: $grey;
        @media screen and (max-width: 550px) {
          display: none;
        }
      }
      .product-name, .product-price {
        font-family: $font-sans;
        text-transform: lowercase;
        margin: 0;
        font-size: .9rem;
        line-height: 1rem;
        letter-spacing: .15em;
        font-weight: bold;
        color: $grey;
        a:hover {
          text-decoration: underline;
        }
      }
      .product-price:last-of-type {
        margin-bottom: 1rem;
      }
      .product-attributes {
        font-family: $font-serifs;
        font-size: .9rem;
        line-height: 1rem;
        letter-spacing: .02em;
        color: $grey;
        margin: .5rem 0 0;
        .product-attribute {
          display: inline-block;
        }
      }
    }
    .product-controls {
      float: right;
      width: 8rem;
      text-align: right;
      @media screen and (max-width: 550px) {
        float: none;
        width: auto;
      }
      .quantity-box {
        margin: 0;
        input {
          @media screen and (max-width: 550px) {
            width: 100% !important;
          }
        }
      }
      .remove {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-top: 1rem;
        background: url(../images/icon_close.svg) no-repeat center;
        background-size: .6rem auto;
        opacity: .6;
        @media screen and (max-width: 550px) {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
        }
        &:hover {
          opacity: 1;
        }
        a {
          display: block;
          font-size: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .cart-bottom-block {
    padding: 1rem 0 1.5rem;
    border-bottom: 1px solid $real-concrete;
    .block-title {
      margin-bottom: 1rem !important;
    }
    input[type=text] {
      display: block;
      height: 2rem;
      margin: 0;
    }
    p {
      margin-top: 0;
    }
    .column {
      width: 50%;
      float: left;
      &.left {
        padding-right: 1rem;
      }
      &.right {
        padding-left: 1rem;
      }
      @media screen and (max-width: 550px) {
        float: none;
        width: 100%;
        &.left, &.right {
          padding: 0;
        }
      }
    }
    .input-box {
      margin: -4px 0 0;
      width: auto;
    }
  }
}