.col2-left-catalog-layout {
  .full-main {
    width: 100%;
  }
  .col-main {
    float: none;
    width: 960px;
    padding: 0;
    margin: 0 auto;
    @media screen and (min-width: 1400px) {
      width: 1220px;
    }
    @media screen and (min-width: 1600px) {
      width: 1440px;
    }
    @media screen and (min-width: 1800px) {
      width: 1600px;
    }
    @media screen and (max-width: 960px) {
      width: 100%;
    }
    .col-left {
      width: 240px;
      float: left;
      margin: 0;
      padding: 0 1rem;
      @media screen and (max-width: 550px) {
        float: none;
        width: 100%;
        padding: .5rem 1rem;
      }
    }
    .col-center {
      width: auto;
      margin-left: 240px;
      padding: 0;
      @media screen and (max-width: 550px) {
        float: none;
        width: 100%;
        margin: 0;
      }
    }
  }
  .shop-navbar {
    height: 2rem;
    background: $concrete;
    margin: 1rem auto 2rem;
    @media screen and (max-width: 550px) {
      margin: 1rem auto 0;
    }
  }
  .sidebar {
    background: none;
  }
}
.note-msg {
  background: $concrete;
  color: $black;
  font-family: $font-sans;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .2em;
  color: $light-grey;
}
.filters-toggle {
  display: none;
  @media screen and (max-width: 550px) {
    display: inline-block;
    float: left;
    width: auto;
    height: 2rem;
    font-family: $font-sans;
    font-weight: normal;
    font-size: .6rem;
    line-height: 1rem;
    text-transform: uppercase;
    padding: .5rem 2rem .5rem 1rem;
    background: url(../images/icon_arrow_down.svg) no-repeat right 1rem top 17px;
    background-size: 6px auto;
    border-right: 1px solid $white;
    &.open {
      background-image: url(../images/icon_arrow_up.svg);
    }
  }
}
.sort-by {
  float: right;
  max-width: none;
  border-left: 1px solid $white;
  @media screen and (max-width: 550px) {
    max-width: 120px;
  }
  select {
    width: 100%;
    border: none;
    background: transparent;
    height: 2rem;
    font-family: $font-sans;
    font-weight: normal;
    font-size: .6rem;
    line-height: 1rem;
    text-transform: uppercase;
    text-align-last: right;
    padding: .5rem 2rem .5rem 1rem;
    background: url(../images/icon_arrow_down.svg) no-repeat right 1rem top 17px;
    background-size: 6px auto;
    cursor: pointer;
    @media screen and (max-width: 550px) {
      max-width: 120px;
    }
  }
}
.breadcrumbs {
  float: left;
  padding: .5rem 1rem;
  margin: 0;
  max-width: 50%;
  @media screen and (max-width: 550px) {
    display: none;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a, strong {
        display: inline-block;
        font-family: $font-sans;
        font-size: .6rem;
        line-height: 1rem;
        letter-spacing: .2em;
        text-transform: uppercase;
        color: $grey;
      }
      a {
        text-decoration: none;
        padding: 0;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        @include hide-text();
        display: inline-block;
        vertical-align: top;
        width: 6px;
        height: 1rem;
        margin: 0 .5rem;
        background: url(../images/icon_caret_right.svg) no-repeat center 6px;
        background-size: 3px auto;
      }
    }
  }
}
