.checkout-cart-index, .checkout-onepage-index {
  .main {
    height: auto !important;
  }
  .page-title {
    margin: 0;
    padding: 0;
  }
  .col1-layout {
    max-width: 960px;
    margin: auto;
  }
  .block-title {
    font-family: $font-sans;
    font-size: .9rem;
    line-height: 1rem;
    letter-spacing: .15em;
    text-transform: lowercase;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: .5rem;
  }
}

.validation-advice {
  position: static;
  width: auto;
  font-family: $font-serifs;
  font-size: .7rem;
  line-height: .7rem;
  margin: .5rem 0 1rem;
}

@media screen and (max-width: 550px) {
  .please-wait {
    float: none;
    display: block;
    margin-top: 1rem;
  }
}

#checkout-step-login {
  .col2-set {
    max-width: 960px;
    padding: 0 1rem;
    margin: auto;
    @media screen and (max-width: 768px) {
      .col-1 ul {
        padding: 0;
      }
    }
    @media screen and (max-width: 550px) {
      padding: 0;
      .col-1 {
        float: none;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid $real-concrete;
        br {
          display: none;
        }
      }
      .col-2 {
        float: none;
      }
    }
  }
}

.checkout-onepage-index {
  padding-top: 5rem;
  @media screen and (max-width: 550px) {
    padding-top: 4rem;
  }
  .col1-layout {
    max-width: 100%;
    margin: auto;
    @media screen and (min-width: 1200px) {
      max-width: 100%;
    }
  }
  .checkout-header {
    width: 100%;
    height: auto;
    background: $concrete;
    padding: 1rem 0;
    text-align: left;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10000;
    @media screen and (max-width: 550px) {
      padding: .5rem 0;
    }
    .container {
      width: 100%;
      max-width: 960px;
      margin: auto;
      padding: 0 1rem;
      text-align: left;
      @media screen and (max-width: 550px) {
        padding: 0;
      }
    }
    .logo {
      float: left;
      display: block;
      height: 2rem;
      padding: 7.5px 0;
      @media screen and (max-width: 550px) {
        margin-left: 1rem;
        padding: 12.5px 0;
      }
      a {
        display: block;
        img {
          height: 25px;
          width: auto;
          @media screen and (max-width: 550px) {
            height: 15px;
          }
        }
      }
    }
    .header-steps {
      margin-left: 10rem;
      text-align: center;
      white-space: nowrap;
      overflow-x: scroll;
      @media screen and (max-width: 550px) {
        margin-left: 5rem;
      }
    }
    .header-step {
      display: inline-block;
      vertical-align: top;
      margin: 0 .5rem;
      font-family: $font-sans;
      font-size: .6rem;
      line-height: 1rem;
      padding: .5rem;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: .2em;
      a {
        text-decoration: none;
      }
      &.active {
        font-weight: normal;
      }
    }
  }
  .checkout {
    @media screen and (max-width: 550px) {
      padding: 0 1rem;
    }
    .block-title {
      font-weight: normal;
      margin-bottom: 1.5rem;
    }
  }
  .opc {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto !important;
    float: none;
    @media screen and (max-width: 550px) {
      overflow: visible;
    }
    li {
      float: none;
    }
    &:first-of-type .step[style*='display:none;'], &:first-of-type .step[style*='display: none;'] {
      display: none !important;
    }
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    .step.a-item {
      width: 100%;
      padding: 0;
      height: auto !important;
      position: static;
      @media screen and (max-width: 550px) {
        overflow: visible;
      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }
  .col2-set {
    @media screen and (max-width: 550px) {
      .col-1, .col-2 {
        float: none;
        width: auto;
      }
      .col-1 {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $real-concrete;
      }
    }
  }
  .billing-form, .sp-methods {
    max-width: 30rem;
    margin: auto;
    p {
      color: $grey;
    }
    .hidden-label {
      display: none !important;
    }
    .block-title {
      margin-bottom: .5rem;
    }
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    textarea {
      display: block;
      width: 100%;
      min-height: 3rem;
    }
    .billing-section {
      padding: 0 0 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid $real-concrete;
    }
    label {
      font-family: $font-serifs;
      font-size: .9rem;
      color: $grey;
      .price {
        font-family: $font-sans;
        font-size: .7rem;
      }
    }
  }
  #billing-buttons-container {
    max-width: 30rem;
    margin: 1.5rem auto;
  }
  #checkout-payment-method-load {
    margin: 0;
  }
  .payment-method-block {
    margin-bottom: 1rem;
    #p_method_atos_standard {
      float: left;
      margin-top: 15px;
    }
    label[for=p_method_atos_standard] {
      display: none;
    }
    label[for=p_method_paypal_express] {
      .small {
        font-size: .7rem;
        color: #cccccc;
      }
      .v-middle {
        content:url("../images/paypal_logo.png");
        height: 35px;
        width: auto;
      }
    }
    .form-list {
      clear: none;
      margin: 0;
      padding: 0;
      pointer-events: none;
      li {
        clear: none;
        &.small {
          font-size: .7rem;
          color: #ccc;
        }
      }
    }
  }
  #checkout-review-table-wrapper {
    border: none;
    @media screen and (max-width: 550px) {
      display: flex;
      flex-direction: column-reverse;
      .totals tbody {
        display: table-row-group;
        tr:not(:last-of-type) {
          display: none;
        }
      }
    }
  }
  #checkout-review-submit {
    margin-top: 1rem;
    button.button.icon-arrow-right {
      padding-left: .5rem;
      padding-right: .5rem;
    }
    @media screen and (max-width: 550px) {
      padding: 0;
      .button {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    .please-wait {
      display: block;
      float: none;
      margin: 1rem 0;
      font-family: $font-serifs;
      font-size: .9rem;
      line-height: 1rem;
      letter-spacing: .02em;
      color: $red;
      img {
        display: none;
      }
    }
  }
  .checkout-cart-index {
    max-width: 960px;
    margin: auto;
    @media screen and (min-width: 1200px) {
      max-width: 1080px;
    }
    @media screen and (min-width: 1400px) {
      max-width: 1200px;
    }
    @media screen and (max-width: 550px) {
      display: flex;
      flex-direction: column-reverse;
    }
    .column-left .button.button-dark.icon-arrow-right {
      margin-top: 2rem;
      max-width: 440px;
    }
  }
}

.checkout-success-page {
  max-width: 720px;
  margin: 1rem auto;
  text-align: center;
}