.quantity-box {
  margin-right: 1rem;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1rem;
  font-size: 0;
  @media screen and (max-width: 550px) {
    width: 100%;
    margin-right: 0;
    padding: 0 1.5rem;
    position: relative;
  }
  input {
    width: auto !important;
    display: inline-block;
    vertical-align: top;
    height: 2rem;
    border: $border-grey 1px solid;
    padding: .5rem 1rem .4rem;
    font-family: $font-sans;
    font-size: .6rem;
    line-height: 1rem;
    text-transform: uppercase;
    letter-spacing: .2em;
    background: none;
    margin: 0;
    text-align: left;
    @media screen and (max-width: 550px) {
      width: 100%;
    }
  }
  .plus-minus {
    display: inline-block;
    @media screen and (max-width: 550px) {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      pointer-events: none;
    }
    .qty_change {
      display: block;
      width: 1.2rem;
      height: 1rem;
      cursor: pointer;
      font-size: 0;
      border: 1px solid $border-grey;
      border-left: none;
      @media screen and (max-width: 550px) {
        position: absolute;
        top: 0;
        width: 1.5rem;
        height: 2rem;
        pointer-events: all;
      }
      &.add {
        background: url(../images/icon_plus.svg) no-repeat center;
        background-size: 7px auto;
        @media screen and (max-width: 550px) {
          left: 0;
          border: 1px solid $border-grey;
          border-right: none;
        }
      }
      &.sub {
        background: url(../images/icon_minus.svg) no-repeat center;
        background-size: 7px auto;
        border-top: none;
        @media screen and (max-width: 550px) {
          right: 0;
          border: 1px solid $border-grey;
          border-left: none;
        }
      }
    }
  }
}