.customer-account-index,
.customer-account-edit,
.sales-order-history,
.customer-address-form,
.customer-giftcards-balance,
.advancednewsletter-manage-index,
.mynose-contact-index,
.mynose-voucher-index,
.mynose-contact-add,
.mynose-contact-book,
.mynose-contact-calendar,
.mynose-sponsor-credit,
.mynose-welcome-index,
.mynose-diagnose-do,
.mynose-result-myreco,
.mynose-result-mydiagnose,
.mynose-contact-diagnostic,
.mynose-eval-index,
.mynose-eval-favorite,
.customer-address-index,
.sales-order-history,
.customer-account-forgotpassword,
.customer-account-create {
  .col2-left-layout {
    width: 100%;
    .main {
      display: flex;
      flex-direction: column;
      .col-left.sidebar {
        width: 100%;
        order: -1;
        float: none;
        padding: 1rem;
        margin: 2rem 0;
        background: $concrete;
        text-align: center;
        position: relative;
        @media screen and (max-width: 850px) {
          margin-top: 0;
        }
        @media screen and (max-width: 550px) {
          margin: 0 0 1rem;
          padding: 0 1rem;
          text-align: left;
        }
        .block {
          display: inline-block;
          height: 2rem;
          margin-bottom: 1rem;
          @media screen and (max-width: 850px) {
            margin-bottom: 2.5rem;
          }
          @media screen and (max-width: 550px) {
            display: block;
            height: auto;
            margin-bottom: .5rem;
          }
          .block-title {
            background: none !important;
            font-family: $font-sans;
            font-size: .6rem;
            line-height: 2rem;
            letter-spacing: .2em;
            text-transform: uppercase;
            margin: 0 .5rem;
            padding: 0;
            @media screen and (max-width: 550px) {
              line-height: 1rem;
              margin: 0 0 .5rem;
              background: url(../images/icon_arrow_down.svg) no-repeat right center !important;
              background-size: 8px auto !important;
              &.open {
                background-image: url(../images/icon_arrow_up.svg) !important;
              }
            }
            strong {
              font-size: .6rem;
              border: none;
              font-weight: 300;
            }
            &.open strong {
              font-weight: normal;
            }
          }
          .block-content {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            padding: 0;
            display: none !important;
            pointer-events: none;
            @media screen and (max-width: 550px) {
              position: static;
            }
            &.visible {
              display: block !important;
            }
            ul {
              padding: 0;
              margin: 0;
              height: 100px;
              text-align: center;
              @media screen and (max-width: 550px) {
                text-align: left;
                height: auto;
              }
              li {
                display: inline-block;
                margin: 0 .5rem;
                pointer-events: all;
                @media screen and (max-width: 850px) {
                  margin-bottom: .5rem;
                }
                @media screen and (max-width: 550px) {
                  display: block;
                  margin: 0 0 .5rem;
                  padding-left: 1rem;
                }
                a strong {
                  font-family: $font-serifs;
                }
              }
            }
          }
        }
      }
      .col-main {
        width: 100%;
        float: none;
        margin: auto;
        @media screen and (max-width: 800px) {
          width: 100%;
          padding: 0 1rem;
        }
      }
    }
  }
}

.mynose-eval-index, .mynose-result-myreco, .mynose-result-mydiagnose {
  .col2-left-layout .main .col-main {
    @media screen and (max-width: 550px) {
      padding: 0;
    }
  }
}

.mynose-eval-index, .mynose-sponsor-credit, .mynose-voucher-index {
  .col2-left-layout .main .col-main {
    max-width: 780px;
  }
}

.mynose-contact-calendar {
  .col2-left-layout .main .col-main {
    padding: 0;
  }
}

.item_carousel.article.products {
  @media screen and (max-width: 1240px) {
    overflow: scroll;
  }
}

.account-diagnose {
  margin: auto;
  padding: 1rem;
}

.diagnose-results {
  width: 36rem;
  margin: auto;
  padding: 0 1rem 1rem 1rem;
  @media screen and (max-width: 550px) {
    width: 100%;
    padding: 1rem 0;
  }
}

.help {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: url(../images/icon_help.svg) no-repeat center center;
  background-size: 100% auto;
  cursor: pointer;
  margin: 0 .5rem -5px;
}

.help-text {
  max-width: 30rem;
  margin: auto;
  color: $border-grey;
  display: none;
  &.visible {
    display: block
  }
}

.diagnose-form {
  .disclaimer {
    max-width: 38rem;
    margin: auto;
    text-align: center;
    * {
      color: $border-grey !important;
    }
  }
  button.button {
    max-width: 17rem;
    margin: 2rem auto;
  }
}

.diagnose-zone {
  width: 100%;
  background: $concrete;
  padding: 3rem 2rem 2rem;
  margin: 2rem 0;
  text-align: center;
  @media screen and (max-width: 740px) {
    overflow-x: scroll;
    white-space: nowrap;
  }
}

.diagnose-column {
  float: none !important;
  display: inline-block;
  vertical-align: top;
  width: 10rem !important;
  margin: 0 1rem;

  @media all and (max-width: 820px) {
    margin: 0;
  }

  @media screen and (max-width: 740px) {
    margin: 0 1rem;
  }
}

.remove-icon {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: $white url(../images/icon_close.svg) no-repeat center center;
  background-size: 10px auto;
  cursor: pointer;
  border: 1px solid $border-grey;
}

.diagnose-field {
  margin: 0 auto 2rem;
  position: relative;
  .remove-icon {
    position: absolute;
    left: -2rem;
    top: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  .search-brand {
    width: 100% !important;
  }
  select.left {
    float: none !important;
  }
}

#diagnoseFormBottom {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 550px) {
  .families {
    overflow: auto;
  }
}

@media screen and (max-width: 750px) {
  .mobile-scroll {
    overflow: scroll;
    width: 100%;
  }
}

.diagnose-table {
  width: 100%;
  border: none;
  border-bottom: 1px solid $real-concrete;
  margin-bottom: 2rem;
  @media screen and (max-width: 550px) {
    width: auto;
  }
  th {
    height: 3rem;
    border-bottom: 1px solid $real-concrete;
    font-family: $font-sans;
    font-size: .6rem;
    line-height: 1rem;
    letter-spacing: .2em;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1rem 0;
    &.no-border {
      border: none;
    }
    &:first-of-type {
      padding-left: 1rem;
    }
  }
  tbody {
    tr:nth-of-type(2n) {
      background: $concrete;
    }
  }
  td {
    height: 3rem;
    line-height: 2rem;
    padding: 1rem 0;
    color: $grey;
    @media screen and (max-width: 550px) {
      white-space: nowrap;
      padding: .5rem;
      img {
        max-width: 2rem;
      }
    }
    &.family, a, .text {
      font-family: $font-serifs;
      font-size: .9rem;
      text-transform: capitalize;
    }
    &.family {
      padding-left: 1rem;
    }
    &:first-of-type .text {
      padding-left: 1rem;
    }
    .text, a {
      display: block;
      line-height: 1.2rem;
    }
    input, .small, label, select {
      font-family: $font-serifs;
      font-size: .9rem;
      line-height: 1rem;
      letter-spacing: .02em;
      color: $grey;
      margin: 0;
    }
    input[type=text], input[type=password], select {
      display: block;
      width: 100%;
      height: 2rem;
      border: none;
      background: transparent;
      border-bottom: solid 1px $real-concrete;
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
      }
    }
    input[type=radio] {
      margin-right: .5rem;
    }
    input.voucher-code{
      border:none;
    }
    select {
      background: url(../images/icon_caret_down.svg) no-repeat right 17px;
      background-size: 6px auto;
    }
    .numbers {
      display: block;
      width: 100%;
      height: 2rem;
      margin: 0;
      padding: .2rem 0 0;
      text-align: justify;
      text-align-last: justify;
      white-space: nowrap;
      li {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        font-family: $font-sans;
        font-size: .6rem;
        line-height: 1rem;
        text-align: center;
        text-align-last: center;
        border-radius: 50%;
        margin: 0;
        padding-top: 5px;
        border: 1px solid transparent;
        cursor: default;
        &.active {
          border: 1px solid $black;
        }
      }
    }
  }
  .pyramid-row {
    background: none !important;
    border-bottom: 1px dashed $border-grey;
    td {
      width: 33%;
      background-color: none;
    }
    td:nth-of-type(3n+1) {
      font-family: $font-serifs;
      font-size: .9rem;
      line-height: 1rem;
      padding: 1.5rem 0;
      padding-left: 1rem;
    }
    td:nth-of-type(3n+2) {
      font-family: $font-sans;
      font-size: .6rem;
      font-weight: 300;
      letter-spacing: .2em;
      text-transform: uppercase;
      text-align: center;
    }
    td:nth-of-type(3n) {
      font-family: $font-serifs;
      font-size: .9rem;
      padding-right: 1rem;
      text-align: right;
    }
  }
}

.pyramid-table {
  background: url(../images/pyramid.svg) no-repeat center bottom;
  background-size: auto 90%;
  width: 100%;
  @media screen and (max-width: 550px) {
    max-width: 100%;
    width: 100%;
    overflow: auto;
  }
}

.input-table {
  border: none;
  tbody {
    tr:nth-of-type(2n) {
      background: transparent;
    }
    td {
      padding: .5rem 1rem .5rem 0;
      height: 3rem;
    }
  }
}