.block-currency {
  display: none;
}

.filters {
  @media screen and (max-width: 550px) {
    overflow: hidden;
    transition: max-height $transition-speed ease-out;
    max-height: 0;
    &.open {
      max-height: 100vh;
      overflow-y: auto;
    }
  }
  .filter {
    border-bottom: 1px solid $concrete;
    overflow: hidden;
    background: url(../images/icon_arrow_down.svg) no-repeat right .5rem top .9rem;
    background-size: 6px auto;
    @media screen and (max-width: 550px) {
      background-position: right 0 top .9rem;
    }
    &.first {
      border-top: 1px solid $concrete;
    }
    &.open {
      background-image: url(../images/icon_arrow_up.svg);
      .options {
        height: auto;
        padding-bottom: 1rem;
      }
      .aw-ln-filter-clear {
        display: block;
      }
    }
    .filter-title {
      cursor: pointer;
    }
    .aw-ln-filter-clear {
      display: none;
      padding-bottom: 0;
      a {
        margin-bottom: 0;
      }
    }
    .options {
      height: 0;
      overflow: hidden;
    }
  }
  .filter-title, .block-subtitle {
    padding: .5rem 0;
    margin: 0;
    font-family: $font-sans;
    font-size: .6rem;
    line-height: 1rem;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: $grey;
  }
  .aw-ln-arrow {
    display: none;
  }
  .aw-ln-clear-all, .aw-ln-filter-clear {
    display: block;
    float: none;
    padding: .1rem 0 .5rem;
    a {
      display: block;
      margin: .5rem auto;
      font-family: $font-sans;
      font-size: .5rem;
      line-height: 1rem;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      letter-spacing: .2em;
      padding: .2rem .5rem .1rem;
      background: $concrete;
      border-radius: 3px;
      &:hover {
        background: $real-concrete;
      }
    }
  }
  ol {
    margin: 0;
    padding: 0;
    max-height: 400px;
    li {
      display: block;
      padding: .25rem 0;
      position: relative;
      input[type=radio] {
        display: inline-block;
        width: .7rem;
        height: .7rem;
        border: 1px solid $real-concrete;
        background: none;
        margin-right: .2rem;
      }
      label {
        display: inline-block;
        text-decoration: none;
        font-family: $font-serifs;
        font-size: .9rem;
        line-height: 1rem;
        letter-spacing: .02em;
        span.ui-radio, span.ui-checkbox {
          display: none !important;
        }
        a {
          text-decoration: none;
        }
        &:hover a {
          text-decoration: underline;
        }
        .price, .count {
          display: inline-block;
          font-family: $font-sans;
          font-size: .6rem;
          line-height: 1rem;
        }
      }
    }
  }
}