footer {
  border: none;
  padding-top: 0;
  .grey-banner {
    background: $grey;
    height: 3rem;
    text-align: center;
    padding: .75rem 2rem;
    @media all and (max-width: 768px) {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
    }
    @media screen and (max-width: 550px) {
      height: auto;
      padding: 0 1rem;
    }
    .right-link, .left-link, .social-links {
      display: inline-block;
      vertical-align: middle;
    }
    .right-link, .left-link {
      @include headline();
      color: $concrete;
      font-size: .6rem;
      line-height: 1rem;
      margin: .25rem 1rem;
      @media screen and (max-width: 768px) {
        margin: 1rem;
      }
    }
    .social-links {
      margin: 0 6rem;
      @media screen and (max-width: 900px) {
        margin: 0 3rem;
      }
      @media screen and (max-width: 550px) {
        margin: 0;
        width: 100%;
      }
      .link {
        @include hide-text();
        display: inline-block;
        vertical-align: top;
        width: 1.5rem;
        height: 1.5rem;
        background-color: $concrete;
        border-radius: 50%;
        margin: 0 1rem;
        @media screen and (max-width: 550px) {
          margin: 0 .5rem;
        }
        &.facebook {
          background: url(../images/icon_facebook.svg) no-repeat center center $concrete;
          background-size: 9px auto;
        }
        &.instagram {
          background: url(../images/icon_instagram.svg) no-repeat center center $concrete;
          background-size: 15px auto;
        }
        &.pinterest {
          background: url(../images/icon_pinterest.svg) no-repeat center center $concrete;
          background-size: 12px auto;
        }
        &.youtube {
          background: url(../images/icon_youtube.svg) no-repeat center center $concrete;
          background-size: 15px auto;
        }
      }
    }
  }
  .footer-container {
    margin: 0;
    border: none;
    padding: 2rem 2rem 0;
    text-align: center;
    font-size: 0;
    .column {
      display: inline-block;
      width: 10rem;
      margin: 0 1rem;
      vertical-align: top;
      .title {
        font-family: $font-sans;
        font-size: .8rem;
        line-height: 1rem;
        letter-spacing: .2em;
        text-transform: lowercase;
        font-weight: normal;
        margin: 0 0 1rem;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          margin-bottom: .25rem;
          a {
            font-family: $font-serifs;
            font-size: .9rem;
            line-height: 1rem;
            letter-spacing: .02em;
            font-weight: normal;
            color: $grey;
          }
        }
      }
    }
  }
}
.footer-address, .site-by {
  height: auto;
  padding: 1rem;
  font-family: $font-serifs;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $grey;
  text-align: center;
  letter-spacing: .02em;
  cursor: default;
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.site-by {
  padding-top: 2rem;
  font-size: .8rem;
  line-height: 1rem;
  color: #999899;
}