body {

}

.wrapper {
  min-width: 0;
  width: 100%;
  transition: opacity .5s linear;
}

.wrapper.loading {
  opacity: 0;
}

.loading-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: $white;
  z-index: 300000;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300;
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: $light-pink;

    -webkit-animation: sk-rotateplane 2.4s infinite ease-in-out;
    animation: sk-rotateplane 2.4s infinite ease-in-out;
  }
}

.ui-autocomplete {
  background: $white;
  padding: .5rem .25rem;
  border-bottom: 1px solid $real-concrete;
  border-left: 1px solid $real-concrete;
  border-left: 1px solid $real-concrete;
  li {
    margin: .5rem 0;
    cursor: pointer;
  }
}

.fixed-on-scroll {
  transition: none !important;
}

.page {
  width: 100%;
}

.main-container {
  clear: none;
  position: static;
}

.col1-layout {
  width: 100%;
}

.col2-left-layout {
  width: 960px;
  margin: 0 auto;
}

.catalog-product-view .col1-layout {
  width: auto;
}

hr {
  border-color: $real-concrete;
}

a {
  outline: none;
  &:focus {
    outline: none;
  }
}

.success-msg {
  background-color: #EEF2F3;
  color: $black;
}

.messages li {
  margin-bottom: 0 !important;
}

.page-title, h2.col-title, h3.col-title {
  width: 100%;
  height: 3rem;
  font-family: $font-sans;
  font-weight: 300;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: .2em;
  text-transform: lowercase;
  text-align: center;
  margin: 2rem 0 0;
  border: none;
  @media screen and (max-width: 550px) {
    margin-top: 1rem;
    height: auto;
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.page-subtitle {
  width: 100%;
  height: 2rem;
  font-family: $font-serifs;
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.5rem;
  letter-spacing: .02em;
  text-align: center;
  margin: 0 auto .5rem;
}

.item_carousel {
  .prev, .next {
    display: block;
    background-size: 29px auto;
    background-position: center;
    width: 2rem;
    height: 19rem;
    z-index: 50;
    @media screen and (max-width: 550px) {
      display: none;
    }
  }
  .prev {
    background-image: url(../images/icon_arrow_left_dark.svg);
  }
  .next {
    background-image: url(../images/icon_arrow_right_dark.svg);
  }
}

p {
  font-family: $font-serifs;
  font-size: .9rem;
  line-height: 1rem;
  letter-spacing: .02em;
}

ul {
  padding-left: 1rem;
  font-family: $font-serifs;
  font-size: .9rem;
  line-height: 1rem;
  letter-spacing: .02em;
  li {
    margin-bottom: .25rem;
  }
}

p a.small { font-size: .7rem; line-height: 1rem; }
a.grey { color: $border-grey; }
a.no-underline {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.subnav-container {
  height: 3rem;
  margin: 0 auto 1rem;
  padding: 1rem;
  &.center .subnav {
    text-align: center;
  }
  @media screen and (max-width: 550px) {
    height: auto;
    margin: 0;
    padding: 1rem 0;
    overflow-y: scroll;
  }
  .subnav {
    float: none;
    position: static;
    text-align: left;
    @media screen and (max-width: 550px) {
      white-space: nowrap;
    }
    li {
      display: inline-block;
      float: none;
      position: static;
      padding: 0 .5rem;
      @media screen and (max-width: 550px) {
        white-space: normal;
        margin-bottom: .5rem;
      }
      &.half {
        @media screen and (max-width: 550px) {
          width: 50%;
        }
      }
      a {
        padding: 0;
        @include headline();
        font-weight: 300;
        font-size: .6rem;
        line-height: 1rem;
        height: 1rem;
        border: none;
        background: none;
        color: $grey;
        outline: none;
        &:hover {
          border: none;
        }
      }
      &.active a {
        color: $black;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .mobile-hidden {
    display: none;
  }
}

@media screen and (min-width: 1001px) {
  .mobile-only  { display: none !important; }
  .tablet-only  { display: none !important; }
  .desktop-only { display: inherit; }
}
@media screen and (min-width: 551px) and (max-width: 1024px) {
  .mobile-only  { display: none !important; }
  .tablet-only  { display: inherit; }
  .desktop-only { display: none !important; }
}
@media screen and (max-width: 550px) {
  .mobile-only  { display: inherit; }
  .tablet-only  { display: none !important; }
  .desktop-only { display: none !important; }
}
