.header-container {
  // position: fixed;
}

.top-notice {
  width: 100%;
  height: 2rem;
  text-align: center;
  padding: .5rem 1rem;
  font-family: $font-serifs;
  font-size: .8rem;
  line-height: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $grey;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 8000;
  @media screen and (max-width: 550px) {
    font-size: .7rem;
  }
}

header {
  width: 100%;
  height: 4rem;
  background: $concrete;
  padding: 1rem;
  text-align: left;
  position: absolute;
  left: 0;
  right: 0;
  top: 2rem;
  z-index: 10000;
  overflow: visible;
  @media screen and (max-width: 550px) {
    padding: 1rem .75rem;
  }
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .header-left, .header-right {
    width: auto;
    padding: 0;
    font-size: 0;
  }
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
  .header-middle.logo {
    width: 6rem;
    float: none;
    margin: 0.375rem auto;
    @media screen and (max-width: 550px) {
      width: 4rem;
      margin-left: auto;
    }
    a {
      padding: 0;
      width: auto;
      height: auto;
      outline: none;
    }
    img {
      display: block;
      width: auto;
      height: 1.25rem;
      margin: 0 auto;
    }
  }
  .menu-link {
    display: inline-block;
    @include hide-text();
    width: 2rem;
    height: 2rem;
    background: url(../images/header_menu.svg) no-repeat center 17px;
    background-size: 30px 10px;
    float: left;
    margin-right: .25rem;
    @media screen and (max-width: 550px) {
      width: 1.2rem;
      background-position: center center;
    }
  }
  .search-link, .form-language, .links li {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: $white;
    border-radius: 50%;
    margin: .25rem .5rem;
    vertical-align: middle;
    @media screen and (max-width: 550px) {
      margin: .2rem 0;
      transform: scale(.85);
    }
  }
  .logout-links {
    float: right;
    margin-left: 10px;
    @media screen and (max-width: 550px) {
      display: none;
    }
    .links li a {
      background: url(../images/icon_logout.svg) no-repeat 7px center;
      background-size: 18px auto;
    }
  }
  .links {
    padding: 0;
    font-size: 0;
    li {
      @include hide-text();
      float: none;
      padding: 0;
      a {
        display: block;
        padding: 0;
        width: 100%;
        height: 100%;
      }
      &.last {
        background: $white;
        margin-right: 0;
      }
      &.with-badge {
        position: relative;
        &:after, .number {
          display: block;
          content: "";
          position: absolute;
          top: 1px;
          right: -3px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          pointer-events: none;
        }
        &:after {
          border: 4px solid $red;
        }
        .number {
          padding-top: 1px;
          width: 14px;
          height: 14px;
          top: 0;
          right: -4px;
          font-family: $font-sans;
          font-size: 8px;
          line-height: 12px;
          text-align: center;
          color: $white;
          background: $red;
        }
      }
      &.with-number-badge:after {
        display: none;
      }
      a.top-link-account {
        background: url(../images/icon_user.svg) no-repeat center center;
        background-size: 13px 15px;
      }
      a.top-link-notifications {
        background: url(../images/icon_bell.svg) no-repeat center center;
        background-size: 10px 15px;
      }
      a.top-link-cart {
        background: url(../images/icon_basket.svg) no-repeat center center;
        background-size: 14px 14px;
      }
    }
  }
  .search-link {
    display: none; // @TODO : supprimer cette ligne quand la recherche fonctionnera
    background: url(../images/icon_search.svg) no-repeat center center $white;
    background-size: 12px 15px;
  }
  .form-language {
    float: none;
    padding: .3rem;
    ul {
      float: none;
      padding: 0;
      background: none;
      width: .9rem;
      height: auto;
      position: relative;
      &:hover {
        li:last-of-type {
          top: .9rem;
          opacity: 1;
        }
      }
      li {
        display: block;
        float: none;
        width: .9rem;
        height: .9rem;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid $lighter-grey;
        position: absolute;
        left: 0;
        top: 0;
        transition: top $transition-speed / 2 ease-out, opacity .2s linear;
        &:first-of-type {
          z-index: 20;
        }
        &:last-of-type {
          opacity: 0;
        }
        a.flag {
          width: 100%;
          height: 100%;
          padding: 0;
          background-size: cover !important;
          background-position: center center !important;
          &.fr {
            background: url(../images/flags_iso/32/fr.png);
          }
          &.en {
            background: url(../images/flags_iso/32/uk.png);
          }
        }
      }
    }
  }
}

body {
  padding-top: 6rem;
}