.zblock-homepage_icons_top, .zblock-homepage_icons_middle {
  width: 100%;
  min-height: 7rem;
  margin: 0;
  padding: 2rem 2rem 0;
  font-size: 0;
  text-align: center;
  @media screen and (max-width: 850px) {
    white-space: nowrap;
    padding: 1rem 0 0;
    position: relative;
    padding-bottom: 3rem;
  }
  .zblock-item {
    display: inline-block;
    vertical-align: top;
    width: 280px;
    margin: 0 1rem 2rem;
    @media screen and (max-width: 850px) {
      width: 100%;
      margin: 0;
      transition: transform $transition-speed ease-out;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: $black;
      &:hover {
        p {
          text-decoration: underline;
        }
      }
    }
    .icon {
      display: block;
      height: 2rem;
      width: auto;
      margin: 0 auto 1rem;
    }
    h3 {
      @include headline();
      font-weight: 300;
      text-transform: lowercase;
      margin: 0 0 .5rem;
    }
    p {
      margin: 0;
    }
  }
}

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1rem;
  text-align: center;
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #DBDBDB;
    border-radius: 50%;
    cursor: pointer;
    &.active {
      background: #4D4C4D;
    }
  }
}

.home-promo {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 3rem;
  .background {
    width: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    video {
      display: block;
      width: 100%;
      max-width: 1920px;
      height: auto;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @media screen and (max-width: 550px) {
        // transform: scale(1.3);
      }
    }
  }
  .content {
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 14rem;
    height: auto;
    float: none !important;
    &.left {
      left: 25%;
    }
    &.right {
      left: 75%;
    }
    @media screen and (max-width: 550px) {
      margin-top: 1rem;
      position: static;
      transform: translate(0, 0);
      width: 100%;
      padding: 0 1rem;
      text-align: center;
    }
    .text {
      font-family: $font-sans;
      font-size: 1.2rem;
      line-height: 1.5rem;
      letter-spacing: .2em;
      text-align: center;
      text-transform: lowercase;
      font-weight: 300;
      margin: 0 auto 1rem;
      @media screen and (max-width: 550px) {
        color: $black !important;
      }
    }
    .button {
      background: transparent;
      @media screen and (max-width: 550px) {
        color: $black !important;
        border-color: $black !important;
      }
    }
  }
}

.home-diagnosis {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 3rem;
  .photo {
    position: absolute;
    right: 0;
    left: 58%;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    @media screen and (max-width: 550px) {
      position: static;
      width: 100%;
      height: 10rem;
    }
  }
  .content {
    width: 58%;
    padding: 8rem 2rem 6rem 4rem;
    text-align: center;
    @media screen and (max-width: 850px) {
      padding: 1.5rem 1rem;
    }
    @media screen and (max-width: 550px) {
      width: 100%;
    }
    .title {
      margin: 0 auto 1rem;
      max-width: 18rem;
      font-family: $font-sans;
      font-size: 2rem;
      line-height: 2.5rem;
      text-transform: lowercase;
      font-weight: 300;
      letter-spacing: .2em;
      @media screen and (max-width: 550px) {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: .5rem;
      }
    }
    .text {
      max-width: 22rem;
      margin: 0 auto 1.5rem;
      font-family: $font-serifs;
      font-size: .9rem;
      line-height: 1rem;
      letter-spacing: .02em;
    }
  }
}

.home-news.brand-news {
  margin: 3rem auto;
  border: none;
}

.zblock-home_links {
  width: 960px;
  margin: 2rem auto 0;
  @media screen and (max-width: 850px) {
    width: auto;
    max-width: 480px;
    margin: 0 auto;
    white-space: nowrap;
    font-size: 0;
    padding-bottom: 2rem;
    position: relative;
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .zblock-item {
    float: left;
    width: 440px;
    margin: 0 1rem 1rem;
    @media screen and (max-width: 850px) {
      display: inline-block;
      float: none;
      width: 100%;
      height: 360%;
      margin: 0;
      padding: 0 1rem;
      transition: transform .2s ease-out;
    }
    @media screen and (max-width: 500px) {
      padding: 0;
    }
    a {
      display: block;
      text-decoration: none;
    }
    .image {
      width: 100%;
      height: 260px;
      margin-bottom: 1rem;
      background-size: cover;
      background-position: center center;
    }
    .title {
      font-family: $font-sans;
      font-size: 1.2rem;
      line-height: 1.5rem;
      letter-spacing: .2em;
      text-align: center;
      text-transform: lowercase;
      font-weight: 300;
      margin-bottom: .5rem;
    }
    .subtitle {
      font-family: $font-serifs;
      font-size: .9rem;
      line-height: 1.5rem;
      text-align: center;
      letter-spacing: .02em;
      margin-bottom: .5rem;
      font-weight: normal;
    }
  }
}

.zblock-homepage_icons_middle {
  padding-top: 1rem;
}