.zblock-home_inspiration, .brand-inspiration {
  width: 46rem;
  height: 26rem;
  margin: 0 auto 3rem;
  position: relative;
  @media screen and (max-width: 850px) {
    width: 95%;
    height: 54vw;
  }
  .photo, .zblock-item {
    display: block;
    position: absolute;
    overflow: visible;
    .home-inspiration {
      width: 100%;
      height: 100%;
      position: relative;
      &:hover {
        .text {
          opacity: 1;
        }
      }
    }
    img {
      width: 100%;
      height: auto;
      transition: filter $transition-speed / 2 linear, transform .6s ease-in-out;
      filter: blur(5px);
      transform: translateY(0);
      &:hover {
        filter: blur(0) !important;
      }
      &.scrolling-down {
        transform: translateY(-8px);
      }
      &.scrolling-up {
        transform: translateY(8px);
      }
    }
    .text {
      font-family: $font-sans;
      font-size: 2rem;
      line-height: 2.25rem;
      font-weight: 300;
      letter-spacing: .15em;
      color: $white;
      text-transform: lowercase;
      text-align: center;
      position: absolute;
      left: 1rem;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      margin: auto;
      pointer-events: none;
      opacity: 0;
      transition: opacity $transition-speed / 2 linear;
      text-shadow: 0 0 7px rgba($black, .3);
      &:before {
        content: "#";
        display: inline;
      }
    }
    &:nth-of-type(4n+1) {
      width: 280px;
      height: auto;
      left: 400px;
      top: 2rem;
      img { filter: blur(4px); } // 3
      .text { max-width: 200px; }
      @media screen and (max-width: 850px) {
        width: 30%;
        left: 43%;
      }
    }
    &:nth-of-type(4n+2) {
      width: 200px;
      height: auto;
      left: 240px;
      top: 4rem;
      z-index: 100;
      img { filter: blur(2px); } // 1
      @media screen and (max-width: 850px) {
        width: 22%;
        left: 26%;
      }
    }
    &:nth-of-type(4n+3) {
      width: 280px;
      height: auto;
      left: 0;
      top: 1rem;
      img { filter: blur(4px); } // 4
      .text { max-width: 200px; }
      @media screen and (max-width: 850px) {
        width: 30%;
      }
    }
    &:nth-of-type(4n) {
      width: 280px;
      height: auto;
      left: 640px;
      top: 6rem;
      img { filter: blur(2px); } // 2
      @media screen and (max-width: 850px) {
        width: 30%;
        left: 70%;
      }
    }
  }
}
.zblock-home_inspiration {
  margin-top: 2rem;
  @media screen and (max-width: 550px) {
    display: none;
  }
}