.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20000;
  display: none;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: $white;
    opacity: .5;
    transition: opacity $transition-speed / 2 linear;
    @media screen and (max-width: 550px) {
      opacity: .8;
    }
    &:hover {
      opacity: .4;
    }
  }
  &.visible {
    display: block;
  }
}

.j2tajax-confirm {
  height: auto !important;
}

.modal, .ui-dialog {
  background: $white !important;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(100, 100, 100, .1);
}

.modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  width: 34rem;
  height: auto;
  max-height: 90vh;
  overflow-y: scroll;
  @media screen and (max-width: 550px) {
    width: 98vw;
    left: 1vw;
    right: 1vw;
    padding: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  }
  &.gold-modal {
    padding: 0 0 1rem;
    background-color: $gold !important;
  }
  .modal-close {
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: url(../images/icon_close.svg) no-repeat center;
    background-size: 80% auto;
    opacity: .4;
    cursor: pointer;
    @media screen and (max-width: 550px) {
      top: .5rem;
      right: .5rem;
    }
  }
  .modal-banner {
    margin-bottom: 2rem;
    img {
      display: block;
    }
  }
  .subnav .tab-link {
    font-size: .8rem;
  }
  .tabs {
    .tab {
      display: none;
      margin: auto;
      &.active {
        display: block;
      }
    }
  }
  .icon {
    display: block;
    margin: 0 auto 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    &.icon-phone {
      width: 2rem;
      height: 2rem;
      background-image: url(../images/icon_phone.svg);
    }
  }
  .section-title {
    max-width: 22rem;
  }
  .newsletter-form {
    max-width: 18rem;
    margin: auto;
  }
  .modal-title {
    font-family: $font-sans;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    font-weight: 300;
    text-transform: lowercase;
    letter-spacing: .2em;
    margin: 0 auto 1rem;
  }
  button[type=submit] {
    max-width: 22rem;
    margin: 1.5rem auto 1rem;
  }
  .scrollable {
    border: 1px solid $border-grey;
    padding: .5rem;
    max-height: 10rem;
    overflow-y: scroll;
  }
  .modal-form {
    display: block;
    max-width: 22rem;
    margin: 1rem auto 0;
    .small {
      margin-top: 1rem;
      opacity: .4;
    }
  }
  .modal-products {
    text-align: center;
    font-size: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow-x: scroll;
    .product {
      display: inline-block;
      width: 5rem;
      height: 6rem;
      margin: .5rem;
      position: relative;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
      img {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        mix-blend-mode: multiply;
      }
      &:before {
        content: "";
        display: block;
        width: 5rem;
        height: 5rem;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
      }
      &:nth-of-type(5n+1):before { background-color: $light-pink; }
      &:nth-of-type(5n+2):before { background-color: $light-blue; }
      &:nth-of-type(5n+3):before { background-color: $light-pink; }
      &:nth-of-type(5n+4):before { background-color: $light-pink; }
      &:nth-of-type(5n):before   { background-color: $light-blue; }
    }
  }
  .voucher {
    position: relative;
    display: inline-block;
    padding: .25rem 1rem .1rem;
    margin-bottom: .5rem;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color .2s linear;
    &:hover {
      border-color: $pink;
    }
    .voucher-code {
      display: inline;
      border: none;
      background: transparent;
      color: $pink;
      font-family: $font-sans;
      font-size: 1.2rem;
      line-height: 1.5rem;
      font-weight: 300;
      letter-spacing: .2em;
      text-align: center;
      pointer-events: none;
      &::selection {
        color: $pink;
        background: transparent;
      }
    }
    .copied {
      width: 100%;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      color: $pink;
      font-family: $font-serifs;
      letter-spacing: .02em;
      font-size: .6rem;
      line-height: 1rem;
      opacity: 0;
      transition: opacity .5s linear;
      &.visible {
        opacity: 1;
        transition-speed: .1s;
      }
    }
  }
}

.remodal-overlay {
  background: $white;
  opacity: .5;
  transition: opacity $transition-speed / 2 linear;
}

.remodal {
  outline: none;
  box-shadow: 0 0 20px rgba(100, 100, 100, .1);
  padding: 2rem;
  p {
    width: auto;
    margin: 0 auto 1rem;
    text-align: center;
    b {
      display: block;
      font-family: $font-sans;
      text-transform: lowercase;
      font-size: 1.2rem;
      line-height: 1rem;
      font-weight: 300;
      letter-spacing: .2em;
      margin: 0 auto .5rem;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li:first-child {
      div {
        border: none;
      }
    }
  }
  input, .small, label, select {
    font-family: $font-serifs;
    font-size: .9rem;
    line-height: 1rem;
    letter-spacing: .02em;
    color: $grey;
    margin: 0 auto .5rem;
  }
  input[type=text], input[type=password], select {
    display: block;
    width: 100%;
    height: 1.5rem;
    border: none;
    background: transparent;
    border-bottom: solid 1px $real-concrete;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px white inset;
    }
  }
  .icon.clear-field {
    width: 1.5rem;
    height: 1.5rem;
    background: url(../images/icon_close.svg) no-repeat center;
    background-size: .5rem auto;
    border-radius: 50%;
    border: 1px solid $border-grey;
  }
}