.nav-container {
  float: none;
}

#nav {
  float: none;
  width: 320px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  background: $white;
  border: none;
  transform: translateX(-100%);
  transition: transform $transition-speed ease-out;
  @media screen and (max-width: 550px) {
    width: 100vw;
  }
  &.visible {
    transform: translateX(0);
  }
  .nav-title {
    display: block;
    width: 100%;
    height: 4rem;
    padding: 1rem 2rem ;
    font-family: $font-sans;
    font-weight: 300;
    font-size: .6rem;
    line-height: 2rem;
    letter-spacing: .2em;
    text-transform: uppercase;
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: auto;
    background: $white;
    border: none;
    cursor: default;
    @media screen and (max-width: 550px) {
      height: 3rem;
      padding: .5rem 1rem 1rem;
    }
  }
  .nav-close {
    display: block;
    position: absolute;
    right: 2rem;
    left: auto;
    top: 1.5rem;
    bottom: 0;
    z-index: 200;
    width: 1rem;
    height: 1rem;
    background: url(../images/icon_close.svg) no-repeat center center;
    background-size: 18px 18px;
    cursor: pointer;
    @media screen and (max-width: 550px) {
      top: 1rem;
      right: 1rem;
    }
  }
  .newsletter-form {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background: $concrete;
    padding: 1.7rem 2rem;
    @media screen and (max-width: 550px) {
      padding: 1.2rem 1rem;
      height: 4rem;
    }
    input[type=text] {
      border: none;
      background: transparent;
      width: 100%;
      height: 1.6rem;
      border-bottom: 2px solid #F2F2F2;
      padding-right: 2rem;
      font-family: $font-serifs;
      font-size: .9rem;
      line-height: 1.6rem;
      color: $grey;
      background: url(../images/icon_long_arrow_right.svg) no-repeat center right;
      background-size: 30px 16px;
    }
    input[type=submit] {
      display: none;
    }
  }
  ul {
    position: static;
    width: 100%;
    height: auto;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    li {
      position: static;
      float: none;
      text-transform: none;
      margin: 0;
      &.first {
        padding-top: 0;
      }
      a {
        display: block;
        width: 100%;
        border: none;
        background: none;
      }
    }
  }
  ul.nav-list {
    height: 100%;
    padding-top: 5.5rem;
    padding-bottom: 5rem;
    overflow: auto;
    @media screen and (max-width: 550px) {
      padding-top: 2.5rem;
    }
    > li {
      padding: .5rem 0;
      text-transform: lowercase;
      > a {
        height: 2rem;
        text-align: left;
        font-family: $font-sans;
        font-size: 1.2rem;
        line-height: 1.2rem;
        letter-spacing: .2em;
        font-weight: 300 !important;
        color: $grey;
        padding: .4rem 2rem;
        outline: none !important;
        background-color: transparent !important;
        position: relative;
        @media screen and (max-width: 550px) {
          padding: .4rem 1rem;
        }
      }
      &.parent a:after {
        content: "";
        display: block;
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 0;
        right: 1rem;
        background: transparent url(../images/icon_arrow_down.svg) no-repeat center center;
        background-size: 6px 3px;
      }
      &:hover, &.over {
        color: inherit;
        background-color: $concrete;
        > a {
          color: $black;
        }
      }
      &.over {
        > a:after {
          background-image: url(../images/icon_arrow_up.svg);
        }
        ul {
          height: auto;
        }
      }
      &.active {
        > a {
          color: inherit;
        }
      }
      ul {
        height: 0;
        overflow: hidden;
        &.level1 {
          display: none;
        }
        li {
          &.active {
            text-transform: none;
          }
          a {
            font-family: $font-serifs;
            font-size: .9rem;
            line-height: 1rem;
            letter-spacing: .02em;
            padding: .5rem 2rem .5rem 3rem;
            width: 100%;
            background: transparent;
            text-transform: none;
            @media screen and (max-width: 550px) {
              padding: .5rem 1rem .5rem 2rem;
            }
            span {
              letter-spacing: inherit;
            }
            &:hover {
              background: transparent;
            }
          }
        }
      }
    }
  }
}

.nav-container .nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $white;
  opacity: 0;
  transition: opacity $transition-speed linear;
  z-index: 15000;
  pointer-events: none;
  &.visible {
    opacity: .6;
    pointer-events: all;
    &:hover {
      opacity: .5;
    }
  }
}