.news-page, .news-products {
  max-width: 40rem;
  padding: 0 1rem;
  margin: auto;
  @media screen and (max-width: 770px) {
    padding: 0;
  }
  .page-title {
    height: auto;
    margin-bottom: .5rem;
    @media screen and (max-width: 770px) {
      padding: 0 1rem;
    }
  }
  .post-subtitle {
    font-family: $font-sans;
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: .2em;
    text-align: center;
    font-weight: 300;
    text-transform: lowercase;
    margin-bottom: 2rem;
  }
  .item_carousel.article.products {
    .product-item.item {
      &:first-of-type { margin-left: 1rem !important; }
      &:last-of-type  { margin-right: 1rem !important; }
    }
  }
  .post-content {
    font-family: $font-serifs;
    font-size: .9rem;
    line-height: 1rem;
    letter-spacing: .02em;
    text-align: center;
    color: $grey;
    @media screen and (max-width: 770px) {
      padding: 0 1rem;
    }
    p {
      margin: 0 0 1rem;
    }
    blockquote {
      margin: 0;
    }
    blockquote p {
      font-family: $font-sans;
      font-size: 1.2rem;
      font-weight: 300;
      letter-spacing: .2em;
      line-height: 1.5rem;
      margin: 2rem 0 1rem;
    }
  }
}

.news-products {
  margin-top: 2rem;
  .item_carousel.article.products {
    height: auto;
  }
  @media screen and (max-width: 770px) {
    margin-top: 0;
  }
}

.brand-news {
  text-align: center;
  position: relative;
  min-height: 13rem;
  max-width: 960px;
  margin: 3rem auto 1rem;
  @media screen and (max-width: 550px) {
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $real-concrete;
  }
  .arrow {
    position: absolute;
    top: 5.5rem;
    width: 2rem;
    height: 2rem;
    display: block;
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (max-width: 850px) {
      display: none;
    }
    &.left {
      left: -2rem;
      background-image: url(../images/icon_arrow_left_dark.svg);
    }
    &.right {
      right: -2rem;
      background-image: url(../images/icon_arrow_right_dark.svg);
    }
  }
  .news-wrapper {
    overflow: hidden;
    @media screen and (max-width: 850px) {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }
  .news-container {
    white-space: nowrap;
    transition: transform $transition-speed ease-out;
    font-size: 0;
    width: auto;
  }
  .news {
    display: inline-block;
    vertical-align: top;
    margin: 0 1rem;
    width: 14rem;
    text-decoration: none;
    @media screen and (max-width: 550px) {
      width: 80vw;
      margin: 0 2vw;
      &:first-of-type {
        margin-left: 10vw;
      }
      &:last-of-type {
        width: 90vw;
        padding-right: 10vw;
      }
    }
    .image {
      display: block;
      width: 100%;
      height: 13rem;
      margin-bottom: 1rem;
      background-size: cover;
      background-position: center center;
      @media screen and (max-width: 550px) {
        height: 10rem;
      }
    }
    .brand-title {
      padding: 0 .5rem;
      font-family: $font-sans;
      font-size: 1.2rem;
      line-height: 1.5rem;
      text-transform: lowercase;
      letter-spacing: .15em;
      font-weight: 300;
      white-space: normal;
      margin: 0 auto .5rem;
    }
    .brand-subtitle {
      padding: 0 .5rem;
      font-family: $font-serifs;
      font-size: .9rem;
      line-height: 1rem;
      letter-spacing: .02em;
      color: $grey;
      margin: 0;
      white-space: normal;
    }
  }
}