#notificationsIcon {
  position: relative;
  overflow: visible;
  outline: none;
  &.open {
    .notification-messages {
      display: block;
    }
  }
  @media screen and (max-width: 550px) {
    position: static;
  }
}

.notification-messages {
  display: none;
  cursor: default;
  width: 360px;
  height: auto;
  position: absolute;
  right: -1rem;
  top: 53px;
  z-index: 20000;
  background: $white;
  box-shadow: 0 0 4px rgba(0, 0, 0, .06);
  &:before {
    display: block;
    content: "";
    position: absolute;
    top: -10px;
    right: 1rem;
    width: 0;
    height: 0;
    border-width: 0 15px 10px 15px;
    border-color: transparent transparent $white transparent;
    border-style: solid;
  }
  @media screen and (max-width: 550px) {
    top: 3.5rem;
    right: 1vw;
    left: 1vw;
    width: 98vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    &:before {
      right: 2.8rem;
    }
  }
  .notifications-toolbar {
    width: 100%;
    height: 2rem;
    padding: 0 1rem;
    &.justified {
      text-align: justify;
      text-align-last: justify;
    }
    &.centered {
      text-align: center;
    }
    .toolbar-item {
      display: inline-block;
      width: auto;
      height: 2rem;
      font-size: .7rem;
      font-family: $font-serifs;
      line-height: 2rem;
      text-transform: none;
      color: $grey;
      letter-spacing: .02em;
      &.toolbar-title {
        font-family: $font-sans;
        text-transform: lowercase;
        font-size: .9rem;
        font-weight: 300;
        color: $black;
        letter-spacing: .2em;
      }
    }
  }
  ul {
    padding: 0;
    margin: 0;
    border-top: 1px solid $real-concrete;
    border-bottom: 1px solid $real-concrete;
    max-height: 17.5rem;
    overflow: scroll;
    &.empty .empty {
      display: block;
    }
    li.empty {
      width: 100%;
      margin: 0;
      height: 3rem;
      padding: .5rem;
      font-size: .7rem;
      font-family: $font-serifs;
      line-height: 2rem;
      text-transform: none;
      color: $light-grey;
      letter-spacing: .02em;
      text-align: center;
      display: none;
    }
    li.notification-message {
      width: 100%;
      border-radius: 0;
      display: block;
      list-style: none;
      height: auto;
      min-height: 5rem;
      padding: 1rem;
      margin: 0;
      position: relative;
      &:hover {
        background-color: #F6F8F9;
        .notification-controls {
          opacity: 1;
        }
      }
      &.state-not-seen {
        background-color: #F6F8F9;
      }
      .notification-picture {
        position: absolute;
        left: 1rem;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-color: $white;
        border: 1px solid $concrete;
      }
      .notification-controls {
        position: absolute;
        right: .5rem;
        top: 0;
        bottom: 0;
        width: .5rem;
        height: 1.5rem;
        margin: auto;
        opacity: 0;
        transition: opacity .2s linear;
        .notification-delete, .notification-mark-as-read {
          display: block;
          position: absolute;
          right: 0;
          width: .5rem;
          height: .5rem;
          opacity: .4;
          transition: opacity .2s linear;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }
        .notification-delete {
          background: url(../images/icon_close.svg) no-repeat center center;
          background-size: .4rem auto;
          bottom: 0;
        }
        .notification-mark-as-read {
          top: 0;
        }
        .notification-mark-as-read:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: .3rem;
          height: .3rem;
          border-radius: 50%;
          background: $grey;
        }
      }
      .notification-content {
        width: auto;
        margin: .5rem 0;
        margin-left: 1rem;
        margin-right: .5rem;
        max-height: 100%;
        font-family: $font-serifs;
        font-size: .9rem;
        line-height: 1rem;
        color: $grey;
        text-transform: none;
        letter-spacing: .02em;
        &.with-picture {
          margin-left: 4rem;
        }
        a {
          display: inline;
          text-decoration: none;
          text-transform: none;
          color: $grey;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}