.item_carousel.article.products {
  height: 20rem;
  width: auto;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: visible;
  .carousel-container {
    transition: transform $transition-speed ease-out;
    text-align: center;
    @media screen and (max-width: 770px) {
      overflow: scroll;
    }
  }
  &.multiple-lines {
    height: auto;
    white-space: normal;
    text-align: center;
  }
  ul.without-mask {
    white-space: nowrap;
    text-align: center;
  }
  .mask {
    width: 100%;
    height: 100% !important;
    margin: 0 auto;
    @media screen and (max-width: 550px) {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }
  ul {
    overflow: visible;
  }
  .arrow {
    height: 14rem;
    &.next { right: -2rem; }
    &.prev { left: -2rem; }
  }
  .product-item {
    display: inline-block;
    height: auto;
    vertical-align: top;
    transform: translateY(0);
    transition: transform .5s ease-in-out;
    &:first-of-type { margin-left: 2rem !important; }
    &:last-of-type  { margin-right: 2rem !important; }
    &.scrolling-down:nth-of-type(2n+1) {
      transform: translateY(-12px);
    }
    &.scrolling-down:nth-of-type(2n) {
      transform: translateY(-6px);
    }
    &.scrolling-up:nth-of-type(2n+1) {
      transform: translateY(12px);
    }
    &.scrolling-up:nth-of-type(2n) {
      transform: translateY(6px);
    }
    @media screen and (max-width: 550px) {
      &:first-of-type { margin-left: 1rem !important; }
    }
  }
}
.product-items-grid {
  padding: 0;
  margin: 0;
  font-size: 0;
  letter-spacing: 0;
  .product-item {
    display: inline-block;
    height: auto;
    vertical-align: top;
  }
  @media screen and (max-width: 550px) {
    text-align: center;
  }
}
.product-item {
  float: none !important;
  width: 10rem !important;
  height: auto !important;
  // overflow: hidden;
  margin: 0 1rem !important;
  position: relative;
  text-align: center;
  &.waving .product-photo {
    transform: scale(1.1);
    transition-duration: 1.2s;
    transition-timing-function: ease-out;
  }
  &.waving:before {
    transform: scale(.94);
    transition-duration: 1.2s;
    transition-timing-function: ease-out;
  }
  &:before {
    display: block;
    content: "";
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    transition: transform .6s ease-in;
    opacity: .6;
  }
  &:nth-of-type(5n+1):before { background-color: $light-pink; top: 2rem; }
  &:nth-of-type(5n+2):before { background-color: $light-blue; top: 1rem; }
  &:nth-of-type(5n+3):before { background-color: $light-pink; top: 2rem; }
  &:nth-of-type(5n+4):before { background-color: $light-pink; top: 1rem; }
  &:nth-of-type(5n):before   { background-color: $light-blue; top: 2rem; }
  .product-link {
    display: block;
    text-decoration: none;
  }
  .product-photo {
    width: 100%;
    height: 13rem;
    margin-bottom: 1rem;
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
    transition: transform .8s ease-in;
    &.listing {
      margin-bottom: 1rem;
      mix-blend-mode: normal;
    }
  }
  .product-brand {
    font-family: $font-serifs;
    font-size: .9rem;
    line-height: 1rem;
    letter-spacing: .02em;
    color: $grey;
    margin: 0 auto 1rem;
  }
  .product-title {
    font-family: $font-sans;
    font-size: .9rem;
    line-height: 1rem;
    font-weight: 300;
    text-transform: lowercase;
    letter-spacing: .15em;
    margin: 0;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product-price {
    font-family: $font-sans;
    font-size: .7rem;
    line-height: 1rem;
    letter-spacing: .15em;
    font-weight: 300;
    text-transform: lowercase;
    .price-box {
      margin: 0;
    }
    .price {
      font-size: inherit;
      font-weight: 300;
    }
  }
}
