.product-view {
  float: none;
  border: none;
  width: 960px;
  margin: 0 auto;
  @media screen and (max-width: 768px ) {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
  @media screen and (max-width: 550px) {
    width: 100%;
    display: block;
    padding: 0 1rem;
  }
  .product-shop {
    float: left;
    width: 440px;
    margin: 2rem 1rem 1rem;
    @media screen and (max-width: 550px) {
      float: none;
      width: 100%;
      margin: 0;
    }
  }
  .product-img-box {
    float: left;
    width: 400px;
    margin: 1rem;
    margin-right: 3rem;
    position: relative;
    overflow: hidden;
    padding-bottom: 1rem;
    @media all and (max-width: 768px) {
      margin: 2rem 0.5rem 0;
    }
    @media screen and (max-width: 550px) {
      float: none;
      width: 100%;
      margin: 0;
    }
    .product-photos {
      white-space: nowrap;
      font-size: 0;
      transition: transform $transition-speed ease-out;
      .photo-container {
        display: inline-block;
        &.loading {
          position: relative;
          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 300;
            margin: auto;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: $white;

            -webkit-animation: sk-rotateplane 2.4s infinite ease-in-out;
            animation: sk-rotateplane 2.4s infinite ease-in-out;
          }
        }
      }
      .product-photo {
        display: inline-block;
        width: 400px;
        height: auto;
        &.roundabout {
          cursor: grab;
          transition: opacity .2s linear;
          &.loading {
            pointer-events: none;
            cursor: wait;
            opacity: .6;
          }
          &.mousedown {
            cursor: grabbing;
          }
        }
      }
    }
    .dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background: #DBDBDB;
        border-radius: 50%;
        cursor: pointer;
        &.active {
          background: #4D4C4D;
        }
      }
    }
  }
  .product-brand {
    font-family: $font-sans;
    font-size: .6rem;
    line-height: 1rem;
    text-transform: uppercase;
    letter-spacing: .2em;
    @media screen and (max-width: 550px) {
      text-align: center;
    }
  }
  .product-name {
    text-align: left;
    line-height: 2rem;
    margin-top: 0;
    height: auto;
    margin-bottom: .5rem;
    @media screen and (max-width: 550px) {
      text-align: center;
    }
  }
  p {
    font-family: $font-serifs;
    font-size: .9rem;
    line-height: 1rem;
    letter-spacing: .02em;
    @media screen and (max-width: 550px) {
      text-align: center;
    }
  }
  .product-subtitle {
    height: 1rem;
    margin-bottom: 1rem;
    @media screen and (max-width: 550px) {
      text-align: center;
      margin-bottom: .5rem;
    }
    .product-category {
      display: inline-block;
      vertical-align: top;
      margin: 0;
    }
    .perfume-sex {
      display: inline-block;
      vertical-align: top;
      height: 1rem;
      background: none;
      &.perfume-sex-unisex {
        width: 2rem;
        &:before, &:after {
          content: "";
          display: inline-block;
          width: 1rem;
          height: 1rem;
        }
        &:before {
          background: url(../images/icon_female.svg) no-repeat center;
          background-size: 11px auto;
        }
        &:after {
          background: url(../images/icon_male.svg) no-repeat center;
          background-size: 13px auto;
        }
      }
      &.perfume-sex-female {
        width: 1rem;
        background: url(../images/icon_female.svg) no-repeat center;
        background-size: 11px auto;
      }
      &.perfume-sex-male {
        width: 1rem;
        background: url(../images/icon_male.svg) no-repeat center;
        background-size: 11px auto;
      }
    }
  }
  .outofstock-message p, .outofstock-link p {
    background: none;
    color: red;
    padding: 0;
    margin-bottom: 1rem;
  }
  form {
    display: block;
  }
  .price-box {
    margin: 0 0 1.5rem;
    .price {
      font-family: $font-sans;
      font-size: 1.2rem;
      line-height: 1.5rem;
      letter-spacing: .2em;
    }
    @media screen and (max-width: 550px) {
      text-align: center;
    }
  }
  .input-box, .quantity-box {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1rem;
    font-size: 0;
    @media screen and (max-width: 550px) {
      width: 100%;
    }
    select, input {
      display: inline-block;
      vertical-align: top;
      height: 2rem;
      border: $border-grey 1px solid;
      padding: .5rem 1.4rem .4rem;
      font-family: $font-sans;
      font-size: .6rem;
      line-height: 1rem;
      text-transform: uppercase;
      letter-spacing: .2em;
      background: none;
      margin: 0;
      text-align: left;
      @media screen and (max-width: 550px) {
        width: 100%;
      }
    }
    select {
      padding-right: 2.9rem;
    }
  }
  .input-box {
    position: relative;
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      width: 1.5rem;
      height: 2rem;
      border: 1px solid $border-grey;
      background: url(../images/icon_arrow_down.svg) no-repeat center center;
      background-size: 6px auto;
      pointer-events: none;
    }
  }
  .add-to-cart {
    .qty {
      float: none;
      padding-right: 0;
      width: 3.5rem !important;
      @media screen and (max-width: 550px) {
        width: 100% !important;
      }
    }
    button.button-block {
      float: none;
    }
  }
  .subnav-container {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    .subnav {
      li:first-of-type {
        padding-left: 0;
      }
      li:last-of-type {
        padding-right: 0;
      }
    }
  }
  .tabs-content {
    padding-bottom: 0;
    min-height: 8rem;
    margin-bottom: 0;
    .tab {
      left: 0;
      right: 0;
    }
    p {
      margin-top: 0;
    }
  }
  .panel {
    h3 {
      font-family: $font-serifs;
      font-size: .8rem;
      font-weight: bold;
      cursor: pointer;
      background: url(../images/icon_arrow_down.svg) no-repeat center right 1rem;
      background-size: 8px auto;
    }
    p {
      display: none;
    }
    &.active h3 {
      background-image: url(../images/icon_arrow_up.svg);
    }
    &.active p {
      display: block;
    }
  }
  .nose-sample-product {
    padding-top: .5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $border-grey;
    .sample-box {
      font-family: $font-serifs;
      font-size: .9rem;
      line-height: 1rem;
      letter-spacing: .02em;
    }
    .button-link {
      float: right;
    }
  }
}
.product-inspiration {
  text-align: center;
  padding: 0 1rem;
}