.client-reviews {
  max-width: 720px;
  padding: 0 1rem;
  margin: auto;
  .product-reviews {
    padding: 2rem 0;
    ul {
      margin: 0;
      padding: 0;
      li.product-review {
        display: flex;
        flex-direction: row;
        font-family: $font-serifs;
        font-size: .9rem;
        line-height: 1rem;
        letter-spacing: .02em;
        margin-bottom: 1rem;
        border-bottom: 1px solid $concrete;
        padding-bottom: 1rem;
        @media screen and (max-width: 550px) {
          flex-direction: column;
        }
        .review-rate {
          flex: 0 0 9rem;
          margin-right: 3rem;
          white-space: nowrap;
          @media screen and (max-width: 550px) {
            flex: 0 1 auto;
            margin-right: 0;
            margin-bottom: 1rem;
          }
          .rate {
            display: inline-block;
            vertical-align: top;
          }
        }
        .review-content {
          display: flex;
          flex-direction: column;
          .review-author {
            font-weight: bold;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

.stars {
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  margin-right: 1rem;
  height: 1rem;
  width: 5rem;
  background: url(../images/icon_star_fade.svg) repeat-x left center;
  &:after {
    content: "";
    display: block;
    height: 1rem;
    width: 0;
    background: url(../images/icon_star.svg) repeat-x left center;
  }
  &.n0:after { width: 0rem; }
  &.n1:after { width: 0.5rem; }
  &.n2:after { width: 1rem; }
  &.n3:after { width: 1.5rem; }
  &.n4:after { width: 2rem; }
  &.n5:after { width: 2.5rem; }
  &.n6:after { width: 3rem; }
  &.n7:after { width: 3.5rem; }
  &.n8:after { width: 4rem; }
  &.n9:after { width: 4.5rem; }
  &.n10:after { width: 5rem; }
}



