.search-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20000;
  background: $white;
  height: auto;
  box-shadow: 0 0 20px rgba(100, 100, 100, .1);
  opacity: 1;
  transform: translateY(-120%);
  transition: opacity .7s linear, transform .7s ease-out;
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .search-close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    background: url(../images/icon_close.svg) no-repeat center center;
    background-size: .8rem auto;
    cursor: pointer;
    @media screen and (max-width: 550px) {
      top: .5rem;
      right: 0;
    }
  }
  .search-bar {
    max-width: 1060px;
    margin: auto;
    padding: 1rem 1.5rem;
    background: url(../images/icon_search.svg) no-repeat 9px center;
    background-size: 12px auto;
    @media screen and (max-width: 550px) {
      padding: .5rem 1.5rem;
    }
    .search-input {
      display: block;
      border: none;
      height: 2rem;
      padding: .5rem .25rem;
      font-family: $font-serifs;
      font-size: .9rem;
      line-height: 1rem;
    }
  }
  .search-results {
    max-width: 1060px;
    margin: auto;
    padding: 0 1rem 2rem;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: block;
        padding: .4rem .5rem;
        font-family: $font-sans;
        font-size: 2rem;
        line-height: 2.2rem;
        letter-spacing: .2em;
        text-transform: lowercase;
        font-weight: 300;
        &.text {
          cursor: default;
        }
        &.first {
          display: none;
        }
        &.result {
          white-space: nowrap;
          a {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        &.result:hover {
          background: $concrete;
        }
        a {
          display: block;
          color: $black;
          text-decoration: none;
        }
      }
      &.no-result li.first {
        display: block;
      }
    }
  }
}