.sponsorship-counts {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  @media screen and (max-width: 550px) {
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 1rem;
  }
  .count {
    width: 11rem;
    text-align: center;
    .count-label {
      @include headline();
      font-weight: 300;
      letter-spacing: .2em;
      text-transform: lowercase;
      margin: 0 auto .2rem;
    }
    .count-value {
      font-family: $font-sans;
      font-size: 2rem;
      line-height: 3rem;
      font-weight: 300;
    }
  }
}

.sponsorship-invite {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 3rem;
  @media screen and (max-width: 960px) {
    flex-flow: column nowrap;
    align-items: center;
  }
  .invite-banner {
    width: 30rem;
    max-width: 100%;
    flex: 0 1 30rem;
    height: auto;
    background: url(../images/image_sponsorship.jpg) no-repeat center right;
    background-size: cover;
    overflow: hidden;
    padding: 2rem 14rem 1rem 1rem;
    @media screen and (max-width: 960px) {
      padding: 2rem 1rem;
      background: #E4E8ED;
      flex: 0 1 auto;
      margin-bottom: 1rem;
    }
    .banner-section {
      margin: 0 0 1rem;
      text-align: center;
      .banner-section-title {
        font-family: $font-sans;
        font-size: 1.2rem;
        line-height: 1rem;
        font-weight: 300;
        letter-spacing: .2em;
        text-transform: lowercase;
        margin: 0;
      }
      .banner-section-subtitle {
        font-family: $font-serifs;
        font-size: .9rem;
        line-height: 1rem;
        color: $grey;
        margin: 0;
      }
    }
  }
  .invite-form {
    width: 14rem;
    flex: 1 0 14rem;
    margin-left: 2rem;
    @media screen and (max-width: 960px) {
      width: 100%;
      flex: 0 1 auto;
      margin-left: 0;
    }
  }
}