.video-grid {
  width: 100%;
  height: 2rem;
  padding: 0 1rem 2rem;
  font-size: 0;
  text-align: center;
  border-bottom: 1px solid $real-concrete;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 750px) {
    border-top: 1px solid $real-concrete;
  }
  .icon {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background: url(../images/icon_video_grid.svg) center no-repeat;
    background-size: 20px auto;
    cursor: pointer;
  }
  &.open {
    height: auto;
    .icon {
      background-image: url(../images/icon_arrow_up.svg);
      background-size: 16px auto;
    }
    @media screen and (max-width: 750px) {
      .thumb {
        margin-top: .5rem;
      }
    }
  }
  .thumb {
    width: 10rem;
    height: 6rem;
    display: inline-block;
    margin: 2rem 1rem 0;
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: opacity .2s linear;
    cursor: pointer;
    &:hover {
      opacity: .6;
    }
  }
}
.video-gallery {
  width: 100%;
  height: auto;
  font-size: 0;
  white-space: nowrap;
  padding-left: 50%;
  transition: transform $transition-speed ease-out;
  transform: translateX(-480px);
  @media screen and (max-width: 750px) {
    height: auto;
    transform: translateX(-50vw);
  }
  @media screen and (max-width: 550px) {
    height: 14.5rem;
  }
  .gallery-item {
    width: 920px;
    margin: 0 1rem;
    height: 520px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    opacity: .3;
    transition: opacity $transition-speed linear;
    &.active {
      opacity: 1;
    }
    &:not(.active):hover {
      opacity: .6;
      cursor: pointer;
    }
    @media screen and (max-width: 750px) {
      width: 100vw;
      height: 50vw;
      margin: 0;
    }
    h3 {
      @include headline();
      color: $white;
      font-size: 2.5rem;
      line-height: 3rem;
      font-weight: 300;
      text-align: center;
      text-transform: lowercase;
      position: absolute;
      max-width: 30rem;
      left: 0;
      right: 0;
      margin: auto;
      top: 75%;
      transform: translateY(-50%);
      white-space: normal;
      z-index: 175;
      text-shadow: 0 0 10px rgba(0, 0, 0, .3);
      @media screen and (max-width: 850px) {
        top: auto;
        transform: translateY(0);
        bottom: 1rem;
        font-size: 1.6rem;
        line-height: 2rem;
      }
      @media screen and (max-width: 550px) {
        top: 100%;
        bottom: auto;
        max-height: 4rem;
        overflow: hidden;
        transform: translateY(.5rem);
        color: $black;
        font-size: 1.3rem;
        line-height: 2rem;
        padding: 0 1rem;
        text-shadow: none;
      }
    }
  }
  .pictures-zone {
    position: relative;
    .picture {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
      z-index: 150;
      opacity: 0;
      transition: opacity .2s linear;
      &.active {
        opacity: 1;
      }
    }
    .pictures-link {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 200;
      margin: auto;
    }
    &.first .pictures-link {
      transform: translateX(-50%);
      left: 50%;
      width: 100vw;
    }
    &.first .picture:first-of-type {
      position: absolute;
      left: 50%;
      top: 0;
      z-index: 170;
      width: 100vw;
      height: 100%;
      transform: translateX(-50%);
      background-size: cover;
      background-position: center;
      transition: opacity $transition-speed / 2 linear;
      cursor: pointer;
    }
  }
  .video-zone {
    &.active .poster {
      position: absolute;
      left: 50%;
      top: 0;
      z-index: 200;
      width: 100vw;
      height: 100%;
      transform: translateX(-50%);
      background-size: cover;
      background-position: center;
      transition: opacity $transition-speed / 2 linear;
      cursor: pointer;
      &.not-visible {
        opacity: 0;
        pointer-events: none;
        @media screen and (max-width: 550px) {
          background-image: none !important;
          background: transparent;
          opacity: 1;
          &:after {
            display: none;
          }
        }
      }
      &:after {
        display: block;
        content: "";
        width: 3rem;
        height: 3rem;
        background: transparent url(../images/icon_video_play.svg) no-repeat center center;
        background-size: 100% auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}