.player {
  width: 920px;
  padding: 0;
  margin: 0 auto;
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  @media screen and (max-width: 750px) {
    width: 100%;
    height: 100%;
    padding: 0;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  &.active {
    pointer-events: all;
  }
  iframe {
    display: block;
    pointer-events: none;
  }
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    margin: auto;
    z-index: 150;
    background: transparent url(../images/icon_video_play.svg) no-repeat center center;
    background-size: 4rem auto;
    &:hover {
      background-size: 4.1rem auto;
    }
    @media screen and (max-width: 750px) {
      display: none;
    }
  }
  .controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: 2rem;
    background: #3D3D3D;
    z-index: 150;
    transition: bottom $transition-speed ease-out;
    @media screen and (max-width: 750px) {
      display: none;
    }
    .playpause {
      float: left;
      width: 2rem;
      height: 2rem;
      margin: 0 .25rem;
      background: url(../images/icon_controls_play.svg) no-repeat center center;
      background-size: 11px auto;
      cursor: pointer;
    }
    .time {
      float: left;
      width: auto;
      height: 2rem;
      font-family: $font-serifs;
      font-size: .8rem;
      line-height: 1rem;
      letter-spacing: .02em;
      color: $white;
      padding: .5rem 0;
    }
    .sound {
      float: right;
      width: 2rem;
      height: 2rem;
      margin: 0 .25rem;
      background: url(../images/icon_controls_sound.svg) no-repeat center center;
      background-size: 12px auto;
      cursor: pointer;
    }
    .progress {
      position: absolute;
      bottom: 2rem;
      left: 0;
      right: 0;
      width: 100%;
      height: 4px;
      background: rgba(255, 255, 255, .4);
      cursor: pointer;
      display: none;
      transition: height $transition-speed / 2 ease-out;
      &.visible {
        display: block;
      }
      .bar {
        width: 0%;
        height: 100%;
        background: $white;
      }
    }
  }
  &.playing {
    .overlay {
      background: none;
    }
    .controls {
      bottom: -2rem;
      .playpause {
        background-image: url(../images/icon_controls_pause.svg);
        background-size: 5px auto;
      }
    }
  }
  &.mute {
    .controls {
      .sound {
        background-image: url(../images/icon_controls_nosound.svg);
        background-size: 7.5px auto;
        background-position: 14px center;
      }
    }
  }
  &:hover {
    .controls {
      bottom: 0 !important;
      .progress {
        height: 8px;
        bottom: 2rem;
      }
    }
  }
}