<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Layerednavigation
 * @version    1.5.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php echo $this->getSynchronizeButton()->toHtml(); ?>
<div class="aw_layerednavigation_message"></div>
<script type="text/javascript">
    var AW_LAYERED_NAVIGATION_CONFIG = {
        synchronizeActionUrl: '<?php echo $this->getUrl('adminhtml/awln_filter/synchronize'); ?>',
        msgConfirm: '<?php echo $this->__('Are you sure to synchronize filters?'); ?>',
        msgSuccess: '<?php echo $this->__('All filters successfully synchronized'); ?>',
        msgFailure: '<?php echo $this->__('Connection error'); ?>'
    };
    new AWLayerednavigationSynchronizeButton(AW_LAYERED_NAVIGATION_CONFIG);
</script>