<?php


$my_account_url = 		Mage::helper('customer/data')->getAccountUrl();
$diagnose_url = 		Mage::helper('mynose/url')->getMyNoseWelcomeUrl();

$surprise_url = 		Mage::helper('mynose/url')->getSurpriseUrl();
$love_url =		 		Mage::helper('mynose/url')->getLoveUrl();


?>

<h2 class="col-title"><?php echo $this->__('My Nose') ?></h2>


<div class="span-14">
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_main_intro_picture')->toHtml() ?>
</div>
<div class="span-4">
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_main_intro_text')->toHtml() ?>
</div>



