<?php
/**
 * Partikule
 *
 * @modified	2011.03.19
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2013 Partikule (http://www.partikule.net)
 *
 */

/**
 * PDF file
 *
 */

?>
<?php

$page = Mage::registry('page');

$file = $page->getFirstType('file', TRUE);

?>
<?php if ($file) : ?>
	<div class="center mb15">
		<a class="top-link" href="<?php echo $file->getPath() ?>" target="_blank"><?php if ( $file->getTitle() != '' ) :?><?php echo $file->getTitle() ;?><?php else: ?><?php echo $this->__('Download') ;?><?php endif ;?></a>
	</div>
<?php endif ;?>