<?php

/*
 * @see Partikule_Mynose_Block_Contact
 *
 */
?>

<?php

$helpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_contact_book_help')->toHtml();
$relationTypes = $this->getAllRelationTypes();
$contacts = $this->getContacts();

$_events = $this->getCalendarEvents();

// Mage::log($contacts, null, 'partikule.log');


?>

<div class="page-title">
    <h2><?php echo $this->__('My contacts') ?></h2>
    <?php if ( ! empty($helpBlock)): ?><a id="helperBtn1" class="helper-open"></a><?php endif ;?>
</div>

<?php echo $this->getChildHtml('global_messages') ?>

<?php if ( ! empty($helpBlock)): ?>
	<div  id="helperBloc1" class="helper-bloc" data-id="1">
		<a class="helper-close"></a>
		<?php echo $helpBlock; ?>
	</div>
<?php endif ;?>





<?php
/*
 * Contact Book panel
 *
 */
?>
<?php if ( ! empty($contacts)) :?>
	
	<div class="span-18 prepend-1 append-1 mt20">
		
		<?php
		/*
		 * Ajax message container
		 *
		 */
		?>
		<div class="ajx-message success" id="ajxMessageContact">
			<div class="ajx-message-content"></div>
		</div>
		
		<table class="diag-results" id="diag-results" style="width:100%;">
			<thead>
				<tr>
					<th class=""><h3><?php echo $this->__('Firstname, lastname') ?></h3></th>
					<th class=""><h3><?php echo $this->__('Link') ?></h3></th>
					<th class=""><h3><?php echo $this->__('Next event') ?></h3></th>
					<th class=""><h3><?php echo $this->__('Diagnostic') ?></h3></th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				
				<tr class="quiet h10">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>

				<?php $_iterator = 0; ?>
				
				<?php foreach($contacts as $key => $_contact) :?>
				<tr>
					<td><a href="mailto:<?php echo $_contact['email']  ;?>"><?php echo $_contact['firstname'] . ' ' . $_contact['lastname'] ;?></a></td>
					<td>
						<form name="changeRelationType<?php echo $_contact['id_user'] ?>" id="changeRelationType<?php echo $_contact['id_user'] ?>" method="post" action="<?php echo Mage::helper('mynose/url')->getContactChangeLinkPostUrl() ;?>">
							<input type="hidden" name="id" value="<?php echo $_contact['id_user'] ?>" />
			        		<select name="id_relation_type" id="selectLink<?php echo $_contact['id_user'] ?>" class="contactSelectLink" style="width:178px;" data-uid="<?php echo $_contact['id_user'] ?>" data-direction="<?php echo $_contact['direction'] ?>">
								<?php 
			        			/*
			        						        			<option value=""><?php echo $this->__('-- Link --') ?></option>

			        			*/
			        			?>			        			<?php foreach($relationTypes as $relation) :?>
			        			<option value="<?php echo($relation['id_relation_type']) ;?>" <?php if ($relation['id_relation_type'] == $_contact['id_relation_type'] ) :?> selected="selected"<?php endif ;?>><?php echo( $relation['relation_name']) ;?></option>
			        			<?php endforeach ;?>
			        		</select>
		        		</form>
					</td>
					<td>
					<?php
					/*
						NEXT EVENT
					
					*/
					?>
					<?php foreach($_events as $_event) :?>
						<?php
							// Array of relation type from this event
							$ids_relation_type = ! is_null($_event['ids_relation_type']) ? explode(',', $_event['ids_relation_type']) : array();
						?>
						
						<?php
						/*
						 * Next relation type based event
						 *
						 */
						?>
						<?php 
							if (
								$_event['event_type'] == 'official' && 
								($_event['sex_id'] == $_contact['gender'] OR is_null($_event['sex_id'])) &&
								in_array($_contact['id_relation_type'], $ids_relation_type)
							)
						:?>
							<?php echo $this->__($_event['event_name']) ;?>
							<?php break; ?>								
						<?php endif ;?>
						<?php
						/*
						 * Next official event :
						 * - Unisex or specific to the contact gender
						 * - Not linked to the relation type between event and contact
						 */
						?>
						<?php 
							if (
								$_event['event_type'] == 'official' && 
								($_event['sex_id'] == $_contact['gender'] OR is_null($_event['sex_id'])) &&
								is_null($_event['ids_relation_type'])
							)
						:?>
							<?php echo $this->__($_event['event_name']) ;?>
							<?php break; ?>								
						<?php endif ;?>

						<?php
						/*
						 * birthday
						 *
						 */
						?>
						<?php if ($_event['id_user'] == $_contact['id_user']) :?>
							<?php echo $this->__($_event['event_name']) ;?>
							<?php break; ?>								
						<?php endif ;?>
					<?php endforeach ;?>
					</td>
					<?php if ( $_contact['status'] == 2 ) :?>
						<td>
							<?php if ( empty($_contact['id_diag']) ) :?>
								<span><?php echo $this->__('Invitation accepted') ;?></span> / 
								<span><?php echo $this->__('Diagnostic not done') ;?></span>
							<?php endif ;?>
							<?php if ( ! empty($_contact['id_diag']) ) :?>
								<form id="formShowDiagnostic<?php echo $_contact['id_user']; ?>" action="<?php echo Mage::helper('mynose/url')->getContactDiagnosticUrl() ?>" method="post">
									<input type="hidden" name="from" value="mynose/contact/book" />
									<input type="hidden" name="id" value="<?php echo $_contact['id_user']; ?>" />
									<button id="btnDiagnostic<?php echo $_contact['id_user']; ?>" type="button" title="<?php echo $this->__('See') ?>" class="button btnDiagnostic" data-id="<?php echo $_contact['id_user'] ?>"><span><span><?php echo $this->__('See') ?></span></span></button>
								</form>
							<?php endif ;?>
							<?php 
							/*
							<?php if ( ! empty($_contact['id_love_diag']) ) :?>
								<form id="formShowLoverDiagnostic<?php echo $_contact['id_user']; ?>" action="<?php echo Mage::helper('mynose/url')->getLoveLoverDiagnosticUrl() ?>" method="post">
									<button id="btnLoverDiagnostic<?php echo $_contact['id_user']; ?>" type="button" title="<?php echo $this->__('Love Machine') ?>" class="button btnLoverDiagnostic" data-id="<?php echo $_contact['id_user'] ?>"><span><span><?php echo $this->__('Love Machine') ?></span></span></button>
								</form>
							<?php endif ;?>
							*/
							?>
						</td>
						<td class="a-center">
							<form id="formRemoveContact<?php echo $_contact['id_user']; ?>" action="<?php echo Mage::helper('mynose/url')->getContactRemoveUrl() ?>" method="post">
								<input type="hidden" name="id" value="<?php echo $_contact['id_user']; ?>" />
								<a id="btnRemoveContact<?php echo $_contact['id_user']; ?>" title="<?php echo $this->__('Remove contact'); ?>" class="btn-remove btn-remove2 btnRemoveContact" data-id="<?php echo $_contact['id_user'] ?>" data-name="<?php echo $_contact['firstname'] . ' ' . $_contact['lastname'] ;?>"><?php echo $this->__('Remove contact')?></a>
							</form>
						</td>
					<?php endif ;?>
						
					<?php if ( $_contact['status'] == 1 ) :?>
						<td>
							<?php if ( $_contact['direction'] == 1 ) :?>
								<span><?php echo $this->__('Invitation sent') ;?></span>
							<?php else :?>
								<form id="formValidateInvitation<?php echo $_contact['id_user']; ?>" action="<?php echo Mage::helper('mynose/url')->getContactAcceptInvitationUrl() ?>" method="post">
									<input type="hidden" name="id" value="<?php echo $_contact['id_user']; ?>" />
									<button id="btnAcceptInvitation<?php echo $_contact['id_user']; ?>" type="button" title="<?php echo $this->__('Accept invitation') ?>" class="button btnAcceptInvitation" data-id="<?php echo $_contact['id_user'] ?>"><span><span><?php echo $this->__('Accept invitation') ?></span></span></button>
								</form>
							<?php endif ;?>
						</td>
						<td class="a-center">
							<?php if ( $_contact['direction'] == 2 ) :?>
								<form id="formRejectInvitation<?php echo $_contact['id_user']; ?>" action="<?php echo Mage::helper('mynose/url')->getContactRejectInvitationUrl() ?>" method="post">
									<input type="hidden" name="id" value="<?php echo $_contact['id_user']; ?>" />
									<a id="btnRejectInvitation<?php echo $_contact['id_user']; ?>" title="<?php echo $this->__('Reject invitation'); ?>" class="btn-remove btn-remove2 btnRejectInvitation" data-id="<?php echo $_contact['id_user'] ?>" data-name="<?php echo $_contact['firstname'] . ' ' . $_contact['lastname'] ;?>"><?php echo $this->__('Reject invitation')?></a>
								</form>
							<?php else :?>
								<form id="formRemoveContact<?php echo $_contact['id_user']; ?>" action="<?php echo Mage::helper('mynose/url')->getContactRemoveUrl() ?>" method="post">
									<input type="hidden" name="id" value="<?php echo $_contact['id_user']; ?>" />
									<a id="btnRemoveContact<?php echo $_contact['id_user']; ?>" title="<?php echo $this->__('Remove contact'); ?>" class="btn-remove btn-remove2 btnRemoveContact" data-id="<?php echo $_contact['id_user'] ?>" data-name="<?php echo $_contact['firstname'] . ' ' . $_contact['lastname'] ;?>"><?php echo $this->__('Remove contact')?></a>
								</form>
							<?php endif ;?>
						</td>
						
					<?php endif ;?>
				</tr>
				<?php endforeach ;?>
			</tbody>
		</table>
		
	</div>		
	
<?php endif ;?>	
<?php
/*
 * End Contact Book panel
 *
 */
?>

	
	
	
<script type="text/javascript">


// AutoCompleter
jQuery(document).ready(function()
{
	setOpenBlock('#block-contact');
	
	
	<?php
	/*
	 * Change the relation between the current user and one contact
	 *
	 */
	?>
	$j('.contactSelectLink').each(function(idx){
	
		$j(this).change(function(data, evt)
		{
			var item = data.target;
			
			
			console.log($j('#changeRelationType' + item.value));
			
			$j('#changeRelationType' + $j(item).attr('data-uid')).submit();
			

<?php			
/*
			$j.ajax({
				'url': '<?php echo Mage::helper('mynose/url')->getContactChangeLinkUrl() ?>',
				type: 'POST',
				data: {
					'id_relation_type' : item.value, 
					'id' : $j(item).attr('data-uid')
				},
				success: function(response)
				{
					var resp = $j.parseJSON(response);
					showAjxMessage('#ajxMessageContact', resp.type, resp.message);
				}
			});
*/
?>
		});
	});
	
	$j('.btnAcceptInvitation').each(function(idx){
	
		$j(this).click(function()
		{
			var id = $j(this).attr('data-id');
			$j('#formValidateInvitation' + id).submit();
		});
	});
	
	$j('.btnRemoveContact').each(function(idx){
	
		$j(this).click(function(e)
		{
			e.preventDefault();
			var id = $j(this).attr('data-id');

			var text = "<p><?php echo $this->__("You're going to remove ") ;?>";
			text += '<strong>' + $j(this).attr('data-name') + '</strong>';
			text += '<?php echo $this->__(" from your Contact book.") ;?>';
			text += ' <?php echo $this->__("You will not be able to share any data with this contact in the future.") ;?></p>';
			text += '<p><strong><?php echo $this->__("Are you sure ?") ;?></strong></p>';
		
			$removeDialog.html(text).dialog({
				buttons : {
					'Confirm' : {
						text:'<?php echo $this->__('Yes, remove contact') ?>',
						'class':'confirm',
						click: function() {
							console.log('Remove of ' + id);
							$j(this).dialog('close');
							$j('#formRemoveContact' + id).submit();
						}
					},
					'Cancel' : {
						text:'<?php echo $this->__('No') ?>',
						'class':'cancel',
						click: function() {
							$j(this).dialog('close');
						}
					}
				}
			});
			
			$removeDialog.dialog('open');
		});
	});

	$j('.btnRejectInvitation').each(function(idx){
	
		$j(this).click(function(e)
		{
			e.preventDefault();
			var id = $j(this).attr('data-id');

			var text = "<p><?php echo $this->__("Do you really want to reject the invitation from ") ;?>";
			text += '<br/><strong>' + $j(this).attr('data-name') + '</strong> ?</p>';
//			text += '<p><strong><?php echo $this->__("Please confirm") ;?></strong></p>';
		
			$rejectDialog.html(text).dialog({
				buttons : {
					'Confirm' : {
						text:'<?php echo $this->__('Yes, reject invitation') ?>',
						'class':'confirm',
						click: function() {
							$j(this).dialog('close');
							$j('#formRejectInvitation' + id).submit();
						}
					},
					'Cancel' : {
						text:'<?php echo $this->__('No') ?>',
						'class':'cancel',
						click: function() {
							$j(this).dialog('close');
						}
					}
				}
			});
			
			$rejectDialog.dialog('open');
		});
	});
	
	$j('.btnDiagnostic').each(function(idx){
	
		$j(this).click(function(data, evt)
		{
			var item = data.target;
			var id = $j(this).attr('data-id');

			$j('#formShowDiagnostic' + id).submit();
		});
	});
	$j('.btnLoverDiagnostic').each(function(idx){
	
		$j(this).click(function(data, evt)
		{
			var id = $j(this).attr('data-id');
			$j('#formShowLoverDiagnostic' + id).submit();
		});
	});
	var $removeDialog = $j("<div></div>").dialog({
		autoOpen: false,
		title: "<?php echo $this->__("Remove contact") ;?>",
		modal: true,
		position: ['auto',130]
	});

	var $rejectDialog = $j("<div></div>").dialog({
		autoOpen: false,
		title: "<?php echo $this->__("Reject invitation") ;?>",
		modal: true,
		position: ['auto',130]
	});
});

</script>









