<?php

/*
 * @see Partikule_Mynose_Block_Contact
 *
 */
?>

<?php

$helpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_contact_create_help')->toHtml();
$relationTypes = $this->getRelationTypes();


?>
<div class="page-title">
    <h2><?php echo $this->__('Add contacts') ?></h2>
    <?php if ( ! empty($helpBlock)): ?><a id="helperBtn1" class="helper-open"></a><?php endif ;?>
</div>

<?php echo $this->getChildHtml('global_messages') ?>

<?php if ( ! empty($helpBlock)): ?>
	<div  id="helperBloc1" class="helper-bloc" data-id="1">
		<a class="helper-close"></a>
		<?php echo $helpBlock; ?>
	</div>
<?php endif ;?>


<?php
/*
 * Contact form
 *
 */
?>
<div class="span-16 prepend-2 append-2">

	<h3 class="title mt30"><?php echo $this->__("Invite from Facebook") ?></h3>

	<div class="buttons-set" id="contact-buttons-container">
		<?php /* HERE : Add logout button !!! */ ?>
		<button type="button" title="<?php echo $this->__('Invite from Facebook') ?>" class="button fbconnect" onclick="sendRequestViaMultiFriendSelector(); return false;"><span><span><?php echo $this->__('Invite from Facebook') ?></span></span></button>
	</div>

	<form name="contactForm" id="contactForm" method="post" class="nose-form" action="<?php echo Mage::helper('mynose/url')->getContactFormUrl() ?>">

		<h3 class="title mt30"><?php echo $this->__("Add multiple contacts") ?></h3>

		<div class="clearfix"></div>
		
		<table class="data-table cart-table">
			<thead>
				<tr>
					<th class="w140"><h3><?php echo $this->__('Firstname') ?></h3></th>
					<th class="w140"><h3><?php echo $this->__('Lastname') ?></h3></th>
					<th class="w140"><h3><?php echo $this->__('Link') ?></h3></th>
					<th class="w140 pr0"><h3 class="last"><?php echo $this->__('Email') ?></h3></th>
				</tr>
			</thead>
			<tbody>
				<?php for($i=0; $i<5; $i++): ?>
				<tr>
					<td class="pb5 pr10 w140">
						<input style="width:140px;" type="text" name="firstname<?php echo $i; ?>" id="firstname<?php echo $i; ?>" value="<?php echo $this->htmlEscape($this->getFormData()->getFirstname()) ?>" title="<?php echo $this->__('Firstname') ?>" class="input-text" />
					</td>
					<td class="pb5 pr10">
		        	    <input type="text" name="lastname<?php echo $i; ?>" id="lastname<?php echo $i; ?>" value="<?php echo $this->htmlEscape($this->getFormData()->getLastname()) ?>" title="<?php echo $this->__('Lastname') ?>" class="input-text w130" />
					</td>
					<td class="pb5 pr10">
		        		<select name="link<?php echo $i; ?>" id="link<?php echo $i; ?>" class="w140">
							<?php foreach($relationTypes as $relation) :?>
		        				<option value="<?php echo($relation['id_relation_type']) ;?>"><?php echo( $relation['relation_name']) ;?></option>
		        			<?php endforeach ;?>
		        		</select>
					</td>
					<td class="pb5 last">
		        	    <input type="text" name="email<?php echo $i; ?>" id="email<?php echo $i; ?>" value="" title="<?php echo $this->__('Email') ?>" class="input-text validate-email w150" />
					</td>
				</tr>
				<?php endfor; ?>
			</tbody>	
		
		
		</table>
		
		<div class="clearfix"></div>
		
		<div class="buttons-set mt0 mb30" id="contact-buttons-container">
			<button type="button" title="<?php echo $this->__('Add contact') ?>" class="button" onclick="contact.save()"><span><span><?php echo $this->__('Launch Invitations') ?></span></span></button>
		</div>
		
	</form>
</div>

<?php
/*
 * End panel Contact form
 *
 */
?>

<?php
/*
 * FB Request callback container
 * contains the JS redirect if needed
 *
 */
?>
<div id="fbRequestCallback"></div>

<script type="text/javascript">

var contact = new BasicForm('contactForm', '<?php echo Mage::helper('mynose/url')->getContactFormUrl() ?>');

var contactForm = new VarienForm('contactForm', true);

// AutoCompleter
jQuery(document).ready(function()
{
	setOpenBlock('#block-contact');
});


<?php
/*
 * Facebook Invite button
 * 
 *
 */
?>
function openSendRequestWindow()
{
	FB.api('/me', function(response)
	{
		if (response.email != '<?php echo Mage::getSingleton('customer/session')->getCustomer()->getEmail(); ?>')
		{
			FB.logout();
			alert('<?php echo $this->__('Your Facebook Email is not the same than your account on Nose. Invitations with Facebook are not possible.'); ?>');
		}
		else
		{
			FB.ui({
				method: 'apprequests',
				message: '<?php echo $this->__('Discover Nose'); ?>',
			}, fbRequestCallback
			);
		}
	});
}

function sendRequestViaMultiFriendSelector() 
{
	FB.getLoginStatus(function(response)
	{
		if (response.status === 'connected')
		{
			openSendRequestWindow();
		}
		else if (response.status === 'not_authorized')
		{
			console.log('not authorized');
			// the user is logged in to Facebook, 
			// but has not authenticated your app
		}
		else
		{
			FB.login(function(response) {
				if (response.authResponse)
				{
					openSendRequestWindow();
				}
				else {
					console.log('User cancelled login or did not fully authorize.');
				}
			});
		}
	}, true);
}

<?php
/**
 * Displays the result in the message box
 *
 * Call the controllers which saves the invitation
 * See ContactController->predispatch : saveFbRequests
 */
?>
function fbRequestCallback(response)
{
	$j.ajax({
		url: '<?php echo Mage::helper('mynose/url')->getFbRequestsSaveUrl() ?>',
		type: 'POST',
		data: response,
		success: function(data)
		{
			$j('#fbRequestCallback').html(data);
		}
	}); 
}				


</script>


