<?php


?>

<h2 class="col-title"><?php echo $this->__('Sponsorship') ?></h2>


<div class="span-14">
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_sponsor_intro_picture')->toHtml() ?>
</div>
<div class="span-5 last">
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_sponsor_intro_text')->toHtml() ?>
</div>


<div class="clearer"></div>

