<?php

/*
 * Home page Diagnose Form
 *
 * Block : Partikule_Mynose_Block_Diagnostic
 *
 */


/*
 * CMS Blocks
 *
 */
$mainTextBloc = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_home')->toHtml();
$disclaimerBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_disclaimer')->toHtml();
$adviceBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_advice')->toHtml();

// User's inputs from existing Diags (if user logged in, else FALSE)
// TODO : Replace with session data OR see how to mix session AND user data if connected
$inputs = $this->getInputs();
$perfumes = ( ! empty($inputs->perfumes)) ? $inputs->perfumes : FALSE;

// Used to feed again the form
$session = Mage::getSingleton('core/session');

// Diagnose URLs
$autocomplete_url = Mage::helper('mynose/url')->getOpenBrandsURL();
$perfume_select_url = Mage::helper('mynose/url')->getOpenPerfumesURL();

$form_action_url = Mage::helper('mynose/url')->getOpenFormActionURL();

?>

<div id="home-diag">

	<form name="diagnose" id="diagnoseForm" method="post" class="" action="<?php echo($form_action_url) ;?>">

		<?php
		/*
		 * Lang code
		 * Mandatory : Will be saved during diag process
		 *
		 */
		?>
		<input type="hidden" name="lang" value="<?php echo Mage::app()->getStore()->getCode(); ?>" />


		<?php
		/*
		 * Current / Past perfumes
		 *
		 */
		?>
		<h3 class="title big">
			<?php echo $this->__('Do the Diagnostic with Nose') ?>
		</h3>

		<?php if ( ! empty($mainTextBloc)) :?>
			<div class="home-diag-text">
				<?php echo $mainTextBloc ?>
        	</div>
		<?php endif ;?>


		<?php if ( ! empty($perfumesHelpBlock)) :?>
		<div  id="helperBloc2" class="helper-bloc full-width open" data-id="2">
			<a class="helper-close"></a>
			<?php echo $perfumesHelpBlock ?>
		</div>
		<?php endif ;?>

		<div class="clearfix"></div>
		
		
		<?php
			$gender = $this->getCustomer()->getGender();
		?>
		
		
		<div id="diagnosePerfumesForm">
			
			<?php
			/*
			 * Period
			 *
			 */
			?>
			<div id="diagnoseTime">

				<h4 style="margin-left:96px;"><?php echo $this->__('Perfume worn') ?></h4>
				
				<div id="diagnoseTimePeriod">
				<?php for($i=1; $i<4; $i++) :?>
			
					<div class="period-field">
						
						<select id="period_<?php echo($i) ;?>" name="period_<?php echo($i) ;?>" class="input-text" rel="<?php echo($i) ;?>">
							<option value="1" <?php if ( $session->getData('period_'.$i) == 1 ) :?> selected="selected"<?php endif ;?>><?php echo $this->__('currently'); ?></option>
							<?php for($j=0; $j<5; $j++) :?>
								<?php
								$year = ($j==0) ? 'year' : 'years';
								?>
								<option value="<?php echo ($j+1)*12 ;?>" <?php if ( $session->getData('period_'.$i) == ($j+1)*12 ) :?> selected="selected"<?php endif ;?>><?php echo ($j+1) ;?> <?php echo $this->__($year) ;?></option>
							<?php endfor ;?>
						</select>
					
					</div>

				<?php endfor ;?>
				</div>


				<div id="diagnoseHomeGraph">
				</div>

			</div>
			
			
			<?php
			/*
			 * Brands
			 *
			 */
			?>
			<div id="diagnoseBrands">

				<h4><?php echo $this->__('Brand') ?></h4>
				
				<?php for($i=1; $i<4; $i++) :?>
		
					<?php
						$brand_name = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->brand_name : '';
						$brand_id = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->brand_id : '';
					?>

					<div class="brand-field">
						<input type="hidden" id="brand_<?php echo($i) ;?>" name="brand_<?php echo($i) ;?>" value="<?php echo $session->getData('brand_'.$i) ;?>" />
						<input id="search_brand_<?php echo($i) ;?>" name="search_brand_<?php echo($i) ;?>" type="text" class="input-text search-brand" value="<?php echo $brand_name ;?>" rel="<?php echo($i) ;?>" />
					</div>
					
				<?php endfor; ?>			
			</div>

			
			<?php
			/*
			 * Perfumes
			 *
			 */
			?>
			<div id="diagnosePerfumes">

				<h4><?php echo $this->__('Perfume') ?></h4>
				
				<?php for($i=1; $i<4; $i++) :?>
		
					<?php
						$brand_name = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->brand_name : '';
						$brand_id = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->brand_id : '';
						$perfume_id = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->perfume_id : '';
					?>
		
					<?php
					/*
					 * Perfumes
					 *
					 */
					?>
					<div class="perfume-field">
					
						<div id="perfume_<?php echo($i) ;?>_select">
							<input id="perfume_<?php echo($i) ;?>" name="perfume_<?php echo($i) ;?>" disabled="disabled" type="text" class="input-text italic" value="" />
							<div class="clearfix"></div>
						</div>
							<div class="clearfix"></div>
						
					</div>

				<?php endfor ;?>

				<div class="clearfix"></div>

			</div>
			
			
			<div class="clearfix"></div>
			
			<?php
			/*
			 * Never worn....
			 *
			 */
			?>
			<div id="diagnoseFormBottom">

				<div class="left never-field">
					<input type="checkbox" id="never" name="never" value="1" >
					<label class="first last gray" for="never" class="pl5">&nbsp;<?php echo $this->__('I have never worn perfume') ?></label>
				</div>

				<?php
				/*
				 * Nose Conditions
				 *
				 */
				?>
                <div class="right" style="margin-right: 45px;">
                    <label class="first last gray" class="pl5" for="condition">
						<?php
						$link_bloc = $this->getLayout()->createBlock('cms/block')->setBlockId('link_cgu_bloc')->toHtml();
						$link_bloc = strip_tags($link_bloc);
						$link = Mage::getBaseUrl() .$link_bloc;
						?>
                        <span class="label pl5 right"><?php echo $this->__('I agree with the') ?> <a onclick="nosePopWin('<?php echo $link ?>');return false;"><?php echo $this->__('nose conditions'); ?></a></span>
                    </label>
                    <input type="checkbox" id="condition" name="condition" value="1" >
                </div>

			</div>
		</div>
		<div class="clearfix"></div>

		<?php
		/*
		 * Submit
		 *
		 */
		?>
	    <div class="buttons-set mb10 mt10" style="margin-right:45px;">
			<button id="submitDiagnose" class="button" type="button"><span><span><?php echo $this->__('Get the diagnostic result') ?></span></span></button>
		</div>

		<?php if ( ! empty($adviceBlock)) :?>
			<div class="home-diag-text bottom">
				<?php echo $adviceBlock ?>
			</div>
		<?php endif ;?>


		<?php
		/*
		 * Disclaimer Block
		 *
		 */
		?>
		<?php if ( ! empty($disclaimerBlock)) :?>
			<div class="home-diag-text bottom gray">
				<?php echo $disclaimerBlock ?>
			</div>
		<?php endif ;?>


</form>
	
	<script type="text/javascript">
	
	
	// AutoCompleter
	jQuery(document).ready(function()
	{
		var cache = {}, lastXhr;
		
		removePerfume = function(id)
		{
			$j('#perfume_' + id + '_select').html(
				'<input id="perfume_'+id+'" name="perfume_'+id+'" disabled="disabled" type="text" class="input-text italic" value="" />'
			);
			$j('#search_brand_' + id).attr('value', '');
		};
		
		getPerfumeSelect = function(brand_id, id, selected)
		{
			// var ia = $j('#include_all:checked').val();
			
			var data = {
				'brand_id': brand_id,
				'select_id': 'perfume_' + id,
				'include_all': 1
			};
			
			if (selected)
				$j.extend(data, {'selected': selected});
			
			$j.ajax({
				url: '<?= $perfume_select_url ?>',
				type: 'post',
				dataType: 'html',
				data: data,
				success: function(data)
				{
					data = data + ('<a class="icon left clear-field ml5" onclick="javascript:removePerfume(' + id + ');" title="<?php echo $this->__('Remove this perfume') ?>"></a>');
					$j('#perfume_' + id + '_select').html(data);
				}
			});		
		};

		$j( ".search-brand" ).autocomplete(
		{
			autoFocus: true,
			source: function( request, response ) {
				var term = request.term;
				if ( term in cache ) {
					response( cache[ term ] );
					return;
				}
				$j.ajax({
					url: '<?= $autocomplete_url ?>',
					type: 'post',
					dataType: "json",
					data: {
						maxRows: 12,
						search: request.term
					},
					success: function( data ) {
						cache[ term ] = data;
						response( data );
					}
				});
			},
			minLength: 2,
			select: function( event, ui )
			{
				var rel = $j(event.target).attr('rel');
				$j('#brand_' + rel).val(ui.item.id);
				
				getPerfumeSelect(ui.item.id, rel);
			}
		});
		
		$j('.clear-field');

		$j('#submitDiagnose').click(function()
		{
			if ($j('#condition').is(':checked') )
				$j('#diagnoseForm').submit();
			else
			{
				alert('<?php echo $this->__("You must accept the Nose condition before continue") ?>');
			}
		});


        $j('#diagnoseForm input.input-text').each(function()
        {
			$j(this).click(function(){
                $j('#home-scroller .scroller-container').trigger('stop');
			});
        });

		// On Varien validate...
		VarienForm.prototype.submit = function(url)
		{
			if(this.validator && this.validator.validate())
			{
				return true;
			}
			return false;
		}
		
		var diagnoseForm = new VarienForm('diagnoseForm', true);	
	
		<?php for($i=1; $i<4; $i++) :?>
			<?php if ( $perfumes != FALSE && ( ! empty($perfumes[$i-1]))) :?>
				getPerfumeSelect('<?php echo $perfumes[$i-1]->brand_id ;?>', '<?php echo $i ;?>', '<?php echo $perfumes[$i-1]->perfume_id ;?>');
			<?php endif ;?>
		<?php endfor ;?>
		
	});
	</script>
	
</div>	

	
	







