<?php
/**
 * Partikule
 *
 * @modified	2013.12.04
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2013 Partikule (http://www.partikule.net)
 *
 */

/**
 * @see Partikule_Ionize_Block_Articles
 */
?>

<?php

$page = Mage::getModel('ionize/page')->getPageByName('home-follow-us');

$articles = $this->getArticlesFromPage('home-follow-us');

?>

<?php if ($articles->count() > 0): ?>

<?php
$_iterator = 0;
?>

<div class="col-main">
	<h3 class="col-title link"><?php echo $page->getTitle() ?></h3>

	<div>
		<?php foreach($articles as $article): ?>
			<?php
			$media = $article->getFirstType('picture', TRUE);
			if (  ! $media)
				$media = $article->getFirstType('picture');

			$media_src = ! empty($media) ? $media->getSource() : '';

			$padding = ($_iterator == 0) ? '10px 0 0 125px' : '10px 0 0 85px';
			$img_padding = ($_iterator == 0) ? '7px 0 0 80px' : '7px 0 0 38px';

			$_iterator ++;
			?>
			<div class="span-33<?php if ($_iterator%3 == 0):?> last<?php endif ;?>">
				<a target="_blank" href="<?php echo $article->getTargetUrl() ?>	" style="display:block;">
					<img width="36" height="36" style="display:block;float:left;padding: <?php echo $img_padding ?>" src="<?php echo $media_src; ?>">
					<div style="padding:<?php echo $padding; ?>;  margin:0;text-transform: uppercase;">
						<?php echo $article->getContent(); ?>
					</div>
				</a>
			</div>
		<?php endforeach ?>

	</div>
</div>



<?php endif; ?>
