<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Top Block
 * Defined in local.xml
 *
 */
/*
 * To display the title :
 * <h3 class="col-title link"><a href="<?php echo ( Mage::getBaseUrl() . 'mynose') ?>"><?php echo $this->__('Diagnose') ?></a></h3>
 */

?>

<div class="col-main">


	<?php echo $this->getChildHtml('home_slider') ?>


</div>