<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Articles container
 *
 * @see Partikule_Ionize_Block_Articles
 *
 */

$page = Mage::getModel('ionize/page')->getPageByName('home-whats-new');

$articles = $this->getArticlesFromPage(
	'home-whats-new',
	array(
		'limit' => 4
	)
);


/*

$articles = $this->getArticles(array(
	'type' => 'middle',
	'limit' => 4
));

*/



?>

<?php if ($articles->count() > 0): ?>

<div class="col-main">

	<div class="span-100">

		<h2 class="col-title link"><a href="<?php echo $page->getExtend('link-to')->getContent(); ?>"><?php echo $page->getTitle() ?></a></h2>
	
		<?php
			$_iterator = 0;
		?>
	
		<?php foreach($articles as $article) :?>

			<?php

				$_iterator++;
				$link = FALSE;

				$media = $article->getFirstType('picture', TRUE);
				if (  ! $media)
					$media = $article->getFirstType('picture');

				if ($article->getTargetUrl())
					$link = $article->getTargetUrl();

				$lang_link = $article->getExtend('link')->getContent();

				if ($link == FALSE && (!empty($lang_link)))
					$link = $lang_link;
			?>

			<div class="span-25<?php if ($_iterator%4 == 0):?> last<?php endif ;?><?php if ($_iterator == 1):?> first<?php endif ;?>" <?php if($link): ?> onclick="setLocation('<?php echo $link; ?>')"<?php endif ;?>>
				<div class="bloc bloc-home pointer" style="background:url(<?= $media->getSource() ?>) no-repeat top left;">
					<h3 class="bloc-title"><?= $article->getTitle(); ?></h3>
					<div class="summary">
						<div class="summaryContent cufon regular">
							<?php if( $article->getSummary() != '' ) : ?>
								<?php echo $article->getSummary() ;?>
							<?php endif ;?>
							<p class="read-more"><a href="<?php echo $link; ?>"><?php echo $this->__('Read more >') ?></a></p>
						</div>
					</div>
				</div>
			</div>

		<?php endforeach; ?>
	</div>

</div>

<?php endif ;?>
