<?php
/**
 * Partikule
 *
 * @modified	2013.12.04
 *
 * @category    design
 * @package     ionize_default
 * @author   	2013 Partikule (http://www.partikule.net)
 *
 */

/**
 * Articles container
 *
 * @see Partikule_Ionize_Block_Articles
 *
 */

$page = Mage::getModel('ionize/page')->getPageByName('home-discover-nose');

$articles = $this->getArticlesFromPage('home-discover-nose');
$itemsPerPage = 5;

?>

<?php if ($articles->count() > 0): ?>

	<div class="col-main">

		<h3 class="col-title link"><a href="<?php echo $page->getExtend('link-to')->getContent(); ?>"><?php echo $page->getTitle() ?></a></h3>

		<div id="home-discover-panels" class="relative">
			<div class="clearfix"></div>


			<div class="panelContent center">
				<div id="carousel_home_discover_nose" class="article small item_carousel loading rows1">

					<?php if ($articles->count() <= $itemsPerPage) :?>
					<div class="table">
					<?php endif ;?>

						<ul class="rows1 without-mask">

						<?php foreach($articles as $article): ?>

							<?php
								$link = FALSE;

								$media = $article->getFirstType('picture', TRUE);
								if (  ! $media)
									$media = $article->getFirstType('picture');

								if ($article->getTargetUrl())
									$link = $article->getTargetUrl();

								$lang_link = $article->getExtend('link')->getContent();

								if ($link == FALSE && (!empty($lang_link)))
									$link = $lang_link;

								$media_src = ! empty($media) ? $media->getSource() : '';
								$media_alt = ! empty($media) ? $media->getAlt() : '';

							?>

							<li class="item link">
								<div class="product">
									<a href="<?php echo $article->getTargetUrl() ?>" title="<?php echo $article->getTitle() ?>" class="picture"><img src="<?php echo $media_src; ?>" width="160" height="160" alt="<?php echo $media_alt ?>" /></a>

									<div class="details mt15">

										<span class="uppercase"><strong><?php echo $article->getTitle() ?></strong></span><br />
										<strong><?php echo $article->getSummary() ?></strong>
									</div>
								</div>
							</li>
						<?php endforeach ?>
						</ul>

					<?php if ($articles->count() <= $itemsPerPage) :?>
					</div>
					<?php endif ;?>

					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
<?php endif ;?>

<script type="text/javascript">

	jQuery(document).ready(function()
	{
		// brand product carousel
		if(jQuery('#carousel_home_discover_nose').length > 0)
		{
			$j('#carousel_home_discover_nose').carousel({
				itemsPerPage: <?php echo $itemsPerPage ;?>,
				itemsPerTransition: <?php echo $itemsPerPage ;?>,
				noOfRows: 1,
				pagination: false,
				speed: 500,
				nextText:'<?php echo($this->__('Next')) ;?>',
				prevText:'<?php echo($this->__('Previous')) ;?>',
			});
			$j('#carousel_home_discover_nose li').click(function(event)
			{
				a = $j('a:first', this).attr('href');
				if (a)
				{
					window.location.href = a;
				}
			});
		}
	});

</script>
