<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *           	2013.12.4
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Articles container
 *
 * @see Partikule_Ionize_Block_Articles
 *
 */
// Page was set in the parent template
/*$page = $this->getData('page');
if ( ! $page) $page = Mage::helper('ionize/page')->getRegisteredPage();

$articles = $this->getArticlesFromPage(
	$page->getName(),
	array(
		'type' => 'top-side',
		'limit' => 2
	)
);*/

// Must be named 'home-news'
$newsPage = $this->getSubPage(null, array('name' => 'home-news'));

// Get news articles page articles
$articles = $this->getArticles($newsPage->getId());

// Base URL with store code
$base_url = Mage::helper('nose/core')->getBaseUrl(TRUE);


?>
<div class="bloc-news-top span-7 last">



<?php if ($articles && $articles->count() > 0): ?>

	<h2 class="hidden"><?php echo $newsPage->getTitle() ?></h2>

	<?php $_iterator = 0; ?>

	<?php foreach($articles as $article) :?>

		<?php

		$_iterator++;
		$media = $article->getMedias()->getFirstItem();

		?>

		<div class="bloc-news link<?php if($_iterator%$articles->count() == 0) :?> last<?php endif;?><?php if($_iterator == 1) :?> first<?php endif;?>">
			<div class="bloc-news-post">

				<?php if ($_iterator%2 !=0) :?>

					<div class="thumb">
						<?php if( $media->hasData() ) :?>
							<img class="thumb" src="<?php echo $this->helper('ionize/image')->init($media)->keepFrame(FALSE)->adaptiveResize(115, 80, 'center', 'top') ;?>" />
						<?php endif ;?>
					</div>
					<div class="news-content">
						<p class="date"><?php echo($article->getDate()) ;?></p>
						<h3><a href="<?php echo $base_url . $article->getPath() ;?>"><?php echo $article->getTitle() ?></a></h3>
						<p class="read-more">
							<a href="<?php echo $base_url . $article->getPath() ;?>"><?php echo $this->__('Read the post >'); ?></a>
						</p>
					</div>

				<?php else :?>

					<div class="news-content">
						<p class="date"><?php echo($article->getDate()) ;?></p>
						<h3><a href="<?php echo $base_url . $article->getPath() ;?>"><?php echo $article->getTitle() ?></a></h3>
						<p class="read-more">
							<a href="<?php echo $base_url . $article->getPath() ;?>"><?php echo $this->__('Read the post >'); ?></a>
						</p>
					</div>
					<div class="thumb">
						<?php if( $media->hasData() ) :?>
							<img class="thumb" src="<?php echo $this->helper('ionize/image')->init($media)->keepFrame(FALSE)->adaptiveResize(115, 80, 'center', 'top') ;?>" />
						<?php endif ;?>
					</div>


				<?php endif ;?>
			</div>
		</div>



	<?php endforeach; ?>
<?php endif ;?>

</div>
