<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *           	2013.12.04
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Product list template
 * Used to display products linked to one page
 *
 * @see Partikule_Ionize_Catalog_Product_List_Page
 *
 */
?>

<?php 

// All products linked to this page
$_products = $this->getPageProductCollection();

// Navigation items : Attribute values of "boutique_product_type"
$navigationItems = Mage::helper('attribute/Data')
	->getProductFilteredAttributeOptions('boutique_product_type', $_products);


// DO NOT REMOVE THIS EXAMPLE !
// Example : Adds Seasons menu to the $navigationItems
// $navigationItems = array_merge($navigationItems, Mage::helper('attribute/Data')
//		->getProductFilteredAttributeOptions('boutique_season', $_products, 'All'));

/*
foreach($navigationItems as &$nav)
	$nav['filter_on'] = 'boutique_product_type';
*/

// $numRows = ( $productCollection->count() > 6) ? 2 : 1;
$numRows = 1;
$itemsPerPage = 5;
$_iterator = 0;
$_panel_iterator = 0;

// Uniq ID of the Carousel
$carousel_id = 'home_carousel';

?>


<?php if( ! empty($navigationItems) ): ?>

<div class="col-main pb0">
	<h2 class="col-title link"><a href="<?php echo ( Mage::getBaseUrl() . 'boutique') ?>"><?php echo __('New products') ?></a></h2>

	<?php
	/*
	 * Attributes Menu
	 *
	 *
	 */
	?>
	<?php if ( ! empty($navigationItems)) :?>

	<div class="subnav-container center">
		<ul id="home-nav" class="subnav">
			<?php foreach($navigationItems as $item) :?>
				<li <?php if ( $_iterator == 0 ) :?>class="active first"<?php endif ;?>><a><span><?php echo $item['value'] ?></span></a></li>
				<?php $_iterator++ ;?>
			<?php endforeach ;?>
		</ul>
	</div>

	<?php endif ;?>

	<div class="relative">

		<div class="clearfix"></div>

		<?php
		/*
		 * If one attributes menu exists, build panels
		 * 
		 *
		 */
		?>
		<?php if ( ! empty($navigationItems)) :?>
		
			<div id="home-panels">
				<?php foreach($navigationItems as $key => $item) :?>
				
					<?php
						$_iterator = 0;
						$carousel_id = 'carousel' . $key;
						$_products_to_display = $item['products'];
					?>
					<div class="panelContent center" <?php if($_panel_iterator > 1): ?>style="display:none;"<?php endif;?>>
						
						<div id="<?php echo $carousel_id ; ?>" class="article item_carousel loading rows<?php echo $numRows ;?>">

							<?php if (count($_products_to_display) <= $itemsPerPage) :?>
							<div class="table">
							<?php endif ;?>
							
							 <ul class="rows<?php echo $numRows ;?> without-mask">
							
								<?php foreach($_products_to_display as $_product): ?>
				
								<?php
								$display = TRUE;
								
								if (isset($item['filter_on']))
								{
									if ($item['option_id'] != $_product->{'get'.$item['filter_on']}())
									$display = FALSE;
								}
								?>
								
								<?php if ($display == TRUE) :?>

								<?php
								$_url = 			Mage::getBaseUrl().$_product->getCategoryUrl().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_product),"/");
								$_name = 			$this->htmlEscape($_product->getName());
								$_name_by_brand = 	($_product->getCategoryName()) ? $_name . ' ' . $this->__('by') . ' ' . $_product->getCategoryName() : $_name;
								// $_sex = 			Mage::helper('attribute/Attribute')->getOptionBackendValue('sex', $_product->getSex());
								$_sex = FALSE;
								// $cheapest = 		Mage::helper('boutique/Product')->getCheapestSimple($_product);
								
								?>
								<li class="item link">
									<div class="product">
										<?php if($_sex) :?>
											<span class="icon24 sex sex_<?php echo $_sex; ?>"></span>
										<?php endif ;?>
										<a href="<?php echo $_url ?>" title="<?php echo $_name_by_brand ?>" class="picture"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepTransparency(false)->resize(160) ?>" width="160" height="160" alt="<?php echo $_name ?>" /></a>
				
										<div class="details mt15">

											<h3>
											<span class="uppercase"><strong><?php echo $_product->getCategoryName() ?></strong></span><br />
											<strong><?php echo $_name ?></strong>
											</h3>
											
											<div id="simpleInfo<?php echo $_panel_iterator . $_iterator; ?>" style="height:30px;" class="spinner simpleInfo<?php echo  $_panel_iterator ; ?>" data-id="<?php echo $_product->getId(); ?>"></div>
											
										</div>
									</div>
								</li>
								<?php endif ;?>
								<?php
									$_iterator++;
								?>
								<?php endforeach ?>
							</ul>
							<?php if (count($_products_to_display) <= $itemsPerPage) :?>
							</div>
							<?php endif ;?>
							<div class="clearfix"></div>
						</div>
					
						<script type="text/javascript">
						
							jQuery(document).ready(function()
							{
								// brand product carousel
								if(jQuery('#<?php echo $carousel_id ; ?>').length > 0)
								{
									$j('#<?php echo $carousel_id ; ?>').carousel({
										itemsPerPage: <?php echo $itemsPerPage ;?>,
										itemsPerTransition: <?php echo $itemsPerPage ;?>,
										noOfRows: <?php echo $numRows ;?>,
										pagination: false,
										speed: 500,
										nextText:'<?php echo($this->__('Next Products')) ;?>',
										prevText:'<?php echo($this->__('Prev Products')) ;?>',
										onNextItem: function(self)
										{
											if ( ! self.isPanelLoaded())
											{
												<?php
												/*
												 * Get the price of each cheapest simple
												 * See nose.js
												 */
												?>
												getLowestProductInfos(
													'<?php echo Mage::getBaseUrl() ;?>boutique/product/getlowestinfos',
													'.simpleInfo<?php echo $_panel_iterator; ?>',
													getLowestMasterIds('.simpleInfo<?php echo $_panel_iterator; ?>', self.itemIndex, self.itemIndex + 5)
												);
												self.setLoadedPanel();
											}
										}									

									});
									$j('#<?php echo $carousel_id ; ?> li').click(function(event)
									{
										a = $j('a:first', this).attr('href');
										if (a)
										{
											window.location.href = a;
										}
									});
								}
							});
						
						</script>
					
					</div>
				
					<?php
					$_panel_iterator++;
					?>

				<?php endforeach ;?>
			</div>
	
			<script type="text/javascript">
				jQuery(document).ready(function()
				{
					var homePanels = new NosePanels({
						'nav' : 'home-nav',
						'panels' : 'home-panels'
					});
				});

				<?php
				/*
				 * Get the price of each cheapest simple
				 * Load of the prices of the first products of each panel
				 * See nose.js
				 */
				?>
				$j('#home-nav li').each(function(idx, item)
				{
					getLowestProductInfos(
						'<?php echo Mage::getBaseUrl() ;?>boutique/product/getlowestinfos',
						'.simpleInfo' + idx,
						getLowestMasterIds('.simpleInfo'+ idx, 0, 5)
					);
				});

			</script>
	
		<?php endif ;?>

	</div>
</div>



<?php endif; ?>
