<?php
/**
 * Partikule
 *
 * @author   	2012 Partikule (http://www.partikule.net)
 *
 */

/**
 * Articles container
 *
 * @see Partikule_Ionize_Block_Articles
 *
 */

$page = $this->getData('page');
if ( ! $page) $page = Mage::helper('ionize/page')->getRegisteredPage();

$articles = $this->getArticlesFromPage(
	$page->getName(),
	array(
		'limit' => 1
	)
);

?>
<?php if ( ! empty($articles)): ?>

	<?php foreach($articles as $article) :?>

		<?php
			// Get the medias
			$picture = $article->getFirstType('picture', true);
			if (  ! $picture) $picture = $article->getFirstType('picture');

			$video = $article->getFirstType('video', true);
			if (  ! $video)	$video = $article->getFirstType('video');

		?>

		<?php
		/*
		 * Video : internal
		 */
		?>
		<?php if ($video && $video->isExternal() == FALSE) :?>

			<div class="video">
				<div id="video<?php echo $video->getIdMedia(); ?>"></div>
				<script type="text/javascript">

					jwplayer("video<?php echo $video->getIdMedia(); ?>").setup({
						flashplayer: '<?php echo $this->getSkinUrl('mediaplayer/player.swf') ;?>',
						screencolor: 'fefefe',
						file: "<?php echo $video->getSource() ?>",
						'controlbar.position' : 'none',
						dock: false,
						<?php if($picture) :?>image: "<?php echo $picture->getSource(); ?>",<?php endif ;?>
						height: 488,
						width: 948,
						events: {
							onComplete: function() { initHomeScroller();	},
							onPlay: function(callback) { $j('#home-scroller .scroller-container').trigger('stop');},
							onPause: function(callback)	{}
						}
					});

				</script>
				<style>
					#video<?php echo $video->getIdMedia(); ?>_jwplayer_logo{display:none !important;}
				</style>
			</div>

		<?php endif ;?>


		<?php
		/*
		 * Picture
		 */
		?>
		<?php if ($picture && ! $video) :?>

			<div class="scroller-panel <?php if ($article->getTargetUrl()) :?>link<?php endif ;?>" style="background:url(<?= $picture->getSource() ?>) no-repeat top left;)">

			<?php if ($article->getContent() != '') :?>
				<?php
					/*
					  Get the slider position
					  $pos = array(
							[0] => l,r		(Left or Right)
							[1] => 300		(Width of the box)
							[2] => 80		(Height of the box)
							[3] => 10		(Margin left or right, depending on $pos[0])
							[4] => 20		(Margin bottom)
					 *
					 */
					$sliderpos = $article->getExtend('sliderposition', true);

					// Position is a comma separated values string
					$pos = $sliderpos->getContent();
					$pos = explode(',', $pos);

					if (count($pos) != 5 OR ! isset($pos[0]) OR ! in_array($pos[0], array('l','r','c')))
					{
						$pos = $sliderpos->getDefaultValue();
						$pos = explode(',', $pos);
					}

					$style =  'width:'.$pos[1].'px;';
					$style .= 'height:'.$pos[2].'px;';
					$style .= (!empty($pos[4])) ? 'bottom:'.$pos[4].'px;' : '';
					if($pos[0] == 'l')
						$style .= (!empty($pos[3])) ? 'left:'.$pos[3].'px;' : '';
					else
						$style .= (!empty($pos[3])) ? 'right:'.$pos[3].'px;' : '';
				?>
				<div class="scroller-panel-content" style="<?php echo($style); ?>">
					<div class="text">
						<?php echo($article->getContent()) ;?>
					</div>
					<div class="bg"></div>

				</div>
			<?php endif ;?>
			<?php
				// Link to...
				$link = FALSE;
				if ($article->getTargetUrl()) $link = $article->getTargetUrl();
				$lang_link = $article->getExtend('link')->getContent();
				if ($link == FALSE && (!empty($lang_link)))	$link = $lang_link;
			?>
			<?php if ($link) :?>
				<a class="link" href="<?php echo $link ;?>"></a>
			<?php endif ;?>
			</div>
		<?php endif ;?>


		<?php
		/*
		 * Video : External
		 */
		?>
		<?php if ($video && $video->isExternal() == TRUE) :?>
			<iframe class="ext-video" width="950" height="490" src="<?php echo $video->getPath() ?>?wmode=transparent" frameborder="0" allowfullscreen ></iframe>
		<?php endif ;?>

	<?php endforeach ;?>

<?php endif ;?>


