<?php
/**
 * Partikule
 * Home slider
 * - Integrates the diagnostic
 *
 * @modified	2012.12.04
 *
 * @category    design
 * @package     ionize_default
 * @author   	2012 Partikule (http://www.partikule.net)
 *
 */

/**
 *
 * Block : Partikule_Ionize_Page
 *
 */
// Page which contains the slider's subpages
// Must be named 'slider'
$sliderPage = $this->getSubPage(null, array('name' => 'home-slider'));

// Get slider page articles
$articles = $this->getArticles($sliderPage->getId());

const SLIDER_TYPE_GIFT = 8;

?>

<?php if ( ! empty($articles)): ?>

	<?php

		$_iterator = 0;
		$_hasFirstVideo = FALSE;

	?>

	<div class="top-scroller">

		<div id="scroller" class="scroller">
			<?php if ($articles->count() > 1): ?>
				<ul class="scroller-nav">
					<?php foreach($articles as $article) :?>
						<li>
							<a href="#panel<?= $article->getId(); ?>">
								<?= $article->getTitle(); ?>
							</a>
						</li>
					<?php endforeach ;?>
				</ul>
			<?php endif ;?>

			<div class="scroller-container">
				<div class="scroller-content">
				<?php foreach($articles as $article) :?>

					<?php
					$_iterator++;
					/*
					 * getMedias() returns the colection item called "medias" of the article
					 * fromCurrentStore() filters medias on the current store code (see Model/Collection.php)
					 *
					 */

					// $picture = $article->getMedias()->fromCurrentStore()->getFirstItem();
					$picture = $article->getFirstType('picture', true);
					if (  ! $picture) $picture = $article->getFirstType('picture');

					$video = $article->getFirstType('video', true);
					if (  ! $video) $video = $article->getFirstType('video');

					?>

					<div id="panel<?php echo $article->getId(); ?>" class="scroller-panel<?php if ($picture && ! $video) :?><?php if ($article->getTargetUrl()) :?>link<?php endif ;?><?php endif ;?>" <?php if ($picture && ! $video) :?>style="background:url(<?= $picture->getSource() ?>) no-repeat top left;)"<?php endif ;?>>

						<?php
						/*
						 * Gift Card Form
						 *
						 */
						?>
						<?php if ($article->getIdType() == SLIDER_TYPE_GIFT):?>

							<?php echo $this->getChild('home_gift_card')->setData('article', $article)->toHtml(); ?>

						<?php else :?>

							<?php
							/*
							 * Internal Video Panel
							 *
							 */
							?>
							<?php if ($video && $video->isExternal() == FALSE) :?>

								<?php if ($_iterator == 1) $_hasFirstVideo = TRUE; ?>

								<div class="video">

									<div id="video<?php echo $video->getIdMedia(); ?>"></div>

									<script type="text/javascript">
										jwplayer("video<?php echo $video->getIdMedia(); ?>").setup({
											flashplayer: '<?php echo $this->getSkinUrl('mediaplayer/player.swf') ;?>',
											screencolor: 'fefefe',
											file: "<?php echo $video->getSource() ?>",
											'controlbar.position' : 'none',
											dock: false,
											<?php if($picture) :?>image: "<?php echo $picture->getSource(); ?>",<?php endif ;?>
											height: 488,
											width: 648,
											events: {
												onComplete: function() {
													initTopScroller();
												},
												onPlay: function(callback) {
													$j('#scroller .scroller-container').trigger('stop');

												},
												onPause: function(callback){}
											}
										});
									</script>
									<style>
										#video<?php echo $video->getIdMedia(); ?>_jwplayer_logo{display:none !important;}
									</style>
								</div>

							<?php endif ;?>

							<?php
							/*
							 * Picture Panel
							 *
							 */
							?>
							<?php if ($picture && ! $video) :?>

								<?php if ($article->getContent() != '') :?>
									<?php
									/*
									  Get the slider position
									  $pos = array(
											[0] => l,r		(Left or Right)
											[1] => 300		(Width of the box)
											[2] => 80		(Height of the box)
											[3] => 10		(Margin left or right, depending on $pos[0])
											[4] => 20		(Margin bottom)
									 */
									$sliderpos = $article->getExtend('sliderposition', true);

									// Position is a comma separated values string
									$pos = $sliderpos->getContent();
									$pos = explode(',', $pos);

									if (count($pos) != 5 OR ! isset($pos[0]) OR ! in_array($pos[0], array('l','r','c')))
									{
										$pos = $sliderpos->getDefaultValue();
										$pos = explode(',', $pos);
									}

									$style =  'width:'.$pos[1].'px;';
									$style .= 'height:'.$pos[2].'px;';
									$style .= (!empty($pos[4])) ? 'bottom:'.$pos[4].'px;' : '';
									if($pos[0] == 'l')
										$style .= (!empty($pos[3])) ? 'left:'.$pos[3].'px;' : '';
									else
										$style .= (!empty($pos[3])) ? 'right:'.$pos[3].'px;' : '';
									?>
									<div class="scroller-panel-content" style="<?php echo($style); ?>">
										<div class="text">
											<?php echo($article->getContent()) ;?>
										</div>
										<div class="bg"></div>

									</div>
								<?php endif ;?>
								<?php
									// Link to...
									$link = FALSE;
									if ($article->getTargetUrl()) $link = $article->getTargetUrl();

									$lang_link = $article->getExtend('link')->getContent();

									if ( ! empty($lang_link)) $link = $lang_link;
								?>
								<?php if ($link) :?>
									<a class="link" href="<?php echo $link ;?>"></a>
								<?php endif ;?>

							<?php endif ;?>

							<?php
							/*
							 * Video Panel
							 *
							 */
							?>
							<?php if ($video && $video->isExternal() == TRUE) :?>
								<iframe class="ext-video" width="650" height="490" src="<?php echo $video->getPath() ?>?wmode=transparent" frameborder="0" allowfullscreen ></iframe>
							<?php endif ;?>

						<?php endif ;?>
					</div>
				<?php endforeach ;?>
				</div>
			</div>
		</div>

	</div>

<?php endif ;?>


<script type="text/javascript">
	$j(document).ready(function()
	{
		initTopScroller(false);
	});
</script>

