<?php
/**
 * Partikule
 * Home slider
 * - Integrates the diagnostic
 *
 * @modified	2012.12.04
 *
 * @category    design
 * @package     ionize_default
 * @author   	2012 Partikule (http://www.partikule.net)
 *
 */

/**
 *
 * Block : Partikule_Ionize_Page
 *
 */
// Page which contains the slider's subpages
// Must be named 'slider'
$sliderContainerPage = $this->getSubPage(null, array('name' => 'slider'));

// ID page type
const SLIDER_TYPE_WIDE = 3;
const SLIDER_TYPE_BLOCS = 2;
const SLIDER_TYPE_DIAG = 4;
const SLIDER_TYPE_GIFT = 5;

$slider_types = array(2,3,4,5);

?>

<?php if ( $sliderContainerPage): ?>

	<?php
	// Each slider is one page of the $sliderContainerPage
	$sliderPages = $this->getSubPages($sliderContainerPage->getId());
	?>

	<!-- Home Slider -->
	<div class="home-scroller">

		<!-- Scroller -->
		<div id="home-scroller" class="scroller">

			<!-- Nav -->
			<ul class="scroller-nav">
				<?php foreach($sliderPages as $page) :?>
					<?php if (in_array($page->getIdType(), $slider_types)) : ?>
						<li>
							<a href="#panel<?= $page->getId(); ?>">
								<?= $page->getTitle(); ?>
							</a>
						</li>
					<?php endif ;?>
				<?php endforeach ;?>
			</ul>

			<!-- Content -->
			<div class="scroller-container">
				<div class="scroller-content">

					<?php foreach($sliderPages as $page) :?>

						<?php if ($page->getIdType() == SLIDER_TYPE_DIAG):?>

							<?php
							// Diagnostic panel
							?>
							<div id="panel<?php echo $page->getId(); ?>" class="scroller-panel">

								<?php echo $this->getChildHtml('home_diagnostic_form') ?>

								<?php
								// template for blocks : nose/home/home_block_wide.phtml
								?>
								<?php echo $this->getChild('home_blocs', FALSE)->setData('page', $page)->toHtml(); ?>

							</div>

						<?php endif; ?>

						<?php if ($page->getIdType() == SLIDER_TYPE_WIDE):?>

							<?php
							// Get only the first article and its content
							?>
							<div id="panel<?php echo $page->getId(); ?>" class="scroller-panel">

								<?php
								// template : nose/home/slider_panel_one_content.phtml
								?>
								<?php echo $this->getChild('slider_panel_one_content', FALSE)->setData('page', $page)->toHtml(); ?>

							</div>

						<?php endif; ?>

						<?php if ($page->getIdType() == SLIDER_TYPE_BLOCS):?>

							<?php
							// Articles as blocks
							?>
							<div id="panel<?php echo $page->getId(); ?>" class="scroller-panel">

								<?php
								// template : nose/home/slider_panel_blocks.phtml
								?>
								<?php echo $this->getChild('slider_panel_blocks', FALSE)->setData('page', $page)->toHtml(); ?>

							</div>

						<?php endif; ?>

						<?php if ($page->getIdType() == SLIDER_TYPE_GIFT): ?>

							<div id="panel<?php echo $page->getId(); ?>" class="scroller-panel">

								<?php echo $this->getChild('home_gift_card')->setData('page', $page)->toHtml(); ?>
								<?php echo $this->getChild('home_blocs', FALSE)->setData('page', $page)->toHtml(); ?>

							</div>

						<?php endif ;?>

					<?php endforeach ;?>

				</div>
			</div>
		</div>
	</div>

<?php endif ;?>

<script type="text/javascript">
	$j(document).ready(function()
	{
		initHomeScroller();
	});
</script>

