<?php $attributes = $this->getAttributes(); ?>
<?php if (!empty($attributes)): ?>

<?php
/*
 * Added by Partikule : Do not display if no attributes
 *
 */
$display = FALSE;
foreach ($attributes as $label => $value)
{
	if (!empty($value))
	{
		$display = TRUE;
		break;
	}
}

?>

<?php if ( $display): ?>

<div class="col2-set order-info-box" style="position: relative;">
    <div class="box" id="amorderattr-block">
        <div class="box-title">
            <h3 class="title"><?php echo $this->__('Additional Information'); ?></h3>
        </div>
        <div class="box-content">
            <fieldset id="order_attributes">
                
                <table cellspacing="0" style="width: 100%;">
                    <tbody>
                        <?php foreach ($attributes as $label => $value): ?>
                        <?php if ( ! empty($value) ) :?>
                        <tr>
                            <td style="width: 25%;">
                                <?php echo $label; ?>:
                            </td>
                            <td>
                                <?php echo $value; ?>
                            </td>
                        </tr>
                        <?php endif ;?>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>
<?php endif; ?>
<?php endif; ?>