<style>
#amorderattr .required
{
    color: #EB340A;
}
</style>

<ul class="form-list">
    <?php foreach ($this->getFormElements() as $element): ?>
    PROUT
    <li class="fields">
        <div class="input-box">
        <?php echo $element->toHtml(); ?>
        </div>
    </li>
    <?php endforeach; ?>
</ul>
