<?php
/**
 * Partikule
 *
 * @modified	2011.10.22
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Breadcrumb Ionize Template
 * Get breadcrumbs from Ionize pages.
 * 
 * Have a look in :
 * - local.xml
 * - Ionize/Block/Breadcrumb.php
 *
 */
?>

<?php if($crumbs && is_array($crumbs)): ?>

<div class="breadcrumbs">
    <ul>
        <?php foreach($crumbs as $_crumbName => $_crumbInfo): ?>
            <li class="<?php echo $_crumbName ?><?php if($_crumbInfo['last']): ?> last<?php endif; ?>">
            <?php if($_crumbInfo['link'] && ! $_crumbInfo['last']): ?>
                <a href="<?php echo $_crumbInfo['link'] ?>" title="<?php echo $this->htmlEscape($_crumbInfo['title']) ?>"><?php echo $this->htmlEscape($_crumbInfo['label']) ?></a>
            <?php elseif($_crumbInfo['last']): ?>
                <strong><?php echo $this->htmlEscape($_crumbInfo['label']) ?></strong>
            <?php else: ?>
                <?php echo $this->htmlEscape($_crumbInfo['label']) ?>
            <?php endif; ?>
            <?php if(!$_crumbInfo['last']): ?>
                <span>/ </span>
            <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>
</div>

<?php endif; ?>
