<?php
/**
 * Partikule
 *
 * @modified	2011.10.22
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */
?>
<?php
/**
 * Level 2 menu for store
 *
 * @see Partikule_Ionize_Block_Navigation
 *
 *
 * $this->renderNavigationMenuHtml() supports optional arguments:
 * int 		Ionize ID Menu : Menu from which get the pages
 * int 		Starting level. 0 by default.
 * int 	Max level.
 *
 */
?>
<?php $_menu = $this->renderNavigationMenuHtml(1,1,1) ?>

<?php if($_menu): ?>

<div class="subnav-container center">

    <ul class="subnav">
        <?php echo $_menu ?>
    </ul>

</div>

<?php endif ?>
