<?php
/**
 * Partikule
 *
 * @modified	2011.10.6
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */
?>
<?php
/**
 * Top menu for store
 *
 * @see Partikule_Ionize_Block_Navigation
 *
 *
 * $this->renderNavigationMenuHtml() supports optional arguments:
 * int 		Ionize ID Menu : Menu from which get the pages
 * int 		Starting level. 0 by default. Not implemented yet.
 * int 		Max level.
 *
 */
?>
<?php $_menu = $this->renderNavigationMenuHtml(1,0,1) ?>

<?php if($_menu): ?>

<div class="nav-container">

    <ul id="nav">
        <?php echo $_menu ?>
    </ul>

</div>

<?php endif ?>
