<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Layerednavigation
 * @version    1.5.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->isAllowedAttribute()) : ?>
    <script type="text/javascript">
        var synchronizeCheckboxTemplate =
            '<div>' +
            '<input id="aw-ln-synchronize-{{attributeCode}}" name="synchronize[{{attributeCode}}]" value="1" type="checkbox" title="<?php echo Mage::helper('aw_layerednavigation')->__('Synchronize with Layered Navigation'); ?>">' +
            '<label for="aw-ln-synchronize-{{attributeCode}}" title="<?php echo Mage::helper('aw_layerednavigation')->__('Synchronize with Layered Navigation'); ?>"><?php echo Mage::helper('aw_layerednavigation')->__('Synchronize with Layered Navigation'); ?></label>' +
            '<div>'
        ;

        synchronizeCheckboxTemplate = new Template(synchronizeCheckboxTemplate, new RegExp('(^|.|\\r|\\n)({{\\s*(\\w+)\\s*}})', ''));

        var boxList = $$('.entity-edit .box');
        if (boxList.length > 0) {
            var boxNumber = 0;
            boxList.each(
                function(item){
                    boxNumber++;
                    var attributeCode = '';
                    switch (boxNumber) {
                        case 1:
                            attributeCode = 'attribute';
                            break;
                        case 2:
                            attributeCode = 'option';
                            break;
                    }
                    if (!attributeCode) {
                        return;
                    }
                    Element.insert(
                        item,
                        {bottom : synchronizeCheckboxTemplate.evaluate({'attributeCode': attributeCode})}
                    );
                }
            );
        }
    </script>
<?php endif; ?>