<?php
/**
 *
 */
?>

<div style="max-width: 30rem; margin: auto;">

  <div class="block-title"><?php echo $this->__('Please, select a payment mode'); ?></div>

  <script type="text/javascript">
    //<![CDATA[
    var payment = new Payment('co-payment-form', '<?php echo $this->getUrl('checkout/onepage/savePayment') ?>');
    //]]>
  </script>


  <form action="" id="co-payment-form" class="billing-form">
    <?php echo $this->getChildHtml('methods') ?>
  </form>
  <div class="tool-tip" id="payment-tool-tip" style="display:none;">
    <div class="btn-close"><a href="#" id="payment-tool-tip-close" title="<?php echo $this->__('Close') ?>"><?php echo $this->__('Close') ?></a></div>
    <div class="tool-tip-content"><img src="<?php echo $this->getSkinUrl('images/cvv.gif') ?>" alt="<?php echo $this->__('Card Verification Number Visual Reference') ?>" title="<?php echo $this->__('Card Verification Number Visual Reference') ?>" /></div>
  </div>
  <div id="payment-buttons-container">
    <button type="button" class="button button-dark button-inline icon-arrow-right" onclick="payment.save()"><?php echo $this->__('Continue') ?></button>
    <span class="please-wait" id="payment-please-wait" style="display:none;">
      <span class="please-wait-content">
        <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Loading next step...') ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
      </span>
    </span>
  </div>



  <script type="text/javascript">
  //<![CDATA[
  function toggleToolTip(event){
    if($('payment-tool-tip')){
      $('payment-tool-tip').setStyle({
    top: (Event.pointerY(event)-560)+'px'//,
    //left: (Event.pointerX(event)+100)+'px'
  })
      $('payment-tool-tip').toggle();
    }
    Event.stop(event);
  }
  if($('payment-tool-tip-close')){
    Event.observe($('payment-tool-tip-close'), 'click', toggleToolTip);
  }
  //]]>
</script>
<script type="text/javascript">
  //<![CDATA[
  payment.currentMethod = "<?php echo $this->getChild('methods')->getSelectedMethodCode() ?>";
  //]]>
</script>
</div>