<?php $_products = $this->getProductCollection(); ?>
<?php if ($_products->count() > 0) : ?>
<h2><?php echo $this->__('Product in this article'); ?></h2>
<div class="post-products">
    <?php foreach ($_products as $_product) : ?>
        <div class="product-item">
            <a href="<?php echo $_product->getProductUrl(); ?>">
                <?php echo $_product->getName(); ?>
            </a>
        </div>
    <?php endforeach; ?>
</div>
<?php endif; ?>