<?php $_currentPost = Mage::registry('current_post'); ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>

<h1 class="post-title">
    <?php echo $_currentPost->getTitle(); ?>
</h1>

<?php if ($_currentPost->getSubtitle()) : ?>
<h2 class="subtitle post-subtitle"><?php echo $_currentPost->getSubtitle(); ?></h2>
<?php endif; ?>

<?php if ($_currentPost->getArticle()) : ?>
<div class="post-content">
    <?php echo $_currentPost->getArticle(); ?>
</div>
<?php endif; ?>

