


.span-1, .span-2, .span-3, .span-33, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {float:left;margin-right:10px;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:230px;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:830px;}
.span-22 {width:870px;}
.span-23 {width:910px;}
.span-24 {width:950px;margin-right:0;}

.span-33 {width:310px;}
.prepend-1 {padding-left:40px;}

.colborder {padding-right:24px;margin-right:25px;}
.first {margin-left:0;padding-left:0}
.last {margin-right:0;padding-right:0}

/* Global Typography
-------------------------------------------------------------- */

h2.title,
h3.title,
h4.title {
	text-transform: uppercase;
}

/*
div.title,
div.page-title {
	clear:left;
	display: block;
	float:left;
	list-style:none;
	margin:10px 0 0 0; 
	padding:0;
	position:relative;
	left:50%;
	text-align:center;
	height: 30px;
}
div.page-title {
	margin:30px 0 30px 0;
}
h2.title {
	background-color: #000000;
	color: #FFFFFF;
	display: block;
	float:left;
	font-weight: normal;
	font-size: 24px;
	margin: 0;
	line-height: 24px;
	padding: 4px 10px 3px;
	position:relative;
	right:50%;
	margin-bottom:10px;
box-sizing: border-box;
}
*/
div.page-title {
	margin:20px 0;
	text-align: center;
}
div.page-title h2{
	letter-spacing: 0.05em;
	font-size: 2.4em;
	height: auto;
}


h2.title.main {
  padding: 5px 10px 3px;
}

/* Column title (Akurrat underlined */
h2.col-title,
h3.col-title {
	font-size:17px;
	text-transform: uppercase;
	border-bottom: solid 2px #000;
	padding-top:10px;
	margin:0 0 10px 0;
	font-weight: normal;
}

h3.col-title.first {
	padding-top:20px;
}

http://slides.html5rocks.com/#canvas-2d-example


/* Anchors
-------------------------------------------------------------- */
a.bloc {
	display:block;
	padding:8px 10px 5px 10px;
	text-transform: uppercase;
	font-style:italic;
}
a.gray {
/*	background-color: #e9e8e8;*/
	background: url(../images/bg_a_gray.png) no-repeat 7px 4px #e9e8e8;
	padding:8px 10px 5px 18px;
}
a.gray:hover {
	background: url(../images/bg_a_gray.png) no-repeat 7px -16px #000;
	color:#fff;
}

/* Navigation
-------------------------------------------------------------- */

.subnav-container {
	clear:both;
	margin:15px 0 0 0;
	list-style-type:none;
	height:25px;
}
.subnav {
	clear:left;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	text-align:center;
}
.subnav li {
	display:block;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	right:50%;

	text-transform:uppercase;
	font-style: inherit;
	font-size:11px;
	background-color: #fff;
}

.subnav li a {
	display:block;
	padding:7px 33px 4px;
	cursor: pointer;
	text-decoration:none;
	color:#000;
	text-align: center;
	line-height: 12px;
	border-top: solid #c2c2c2 1px;
	border-left: solid #c2c2c2 1px;
	border-bottom: solid #c2c2c2 1px;
}
.subnav li.first a{
	border-left: none;
}
.subnav li a:hover,
.subnav li.active a {
	text-decoration:none;
	background-color: #000;
	color:#fff;
	display:block;
	border-top: solid #000 1px;
	border-bottom: solid #000 1px;
}

/* Brand select
-------------------------------------------------------------- */
select#brand-select {
	font-size: 12px;
	background: #fff;
	text-transform: uppercase;
	padding: 5px 4px 3px;
	width:200px;
}
.brand-select-style {
	font-size: 12px;
	text-transform: uppercase;
	padding: 5px 4px 3px;
	text-align: left;
	border: 1px solid #bfbfbf;
	background: #fff url('../images/select_arrow.png') right 50% no-repeat;
}
.col-main.brand {
	margin-top:10px;
}
select option {
	padding:0px;
}


/* Main blocs
-------------------------------------------------------------- */

/* Standard content bloc, uded by :
   - Home Magazine blocs
   - ...
*/
div.bloc{
	position:relative;
	overflow: hidden;
	float:left;
}
div.bloc120 {
	height: 120px;
}
div.bloc200 {
	height: 200px;
}
div.bloc240 {
	height: 240px;
}

/* Blocs titles */
h3.bloc-title,
h4.bloc-title,
h5.bloc-title {
	text-transform: uppercase;
	display:inline;
	background-color: #000;
	color: #fff;
	margin:0;
}

h3.bloc-title,
h4.bloc-title {
	font-size: 11px;
	line-height: 11px;
	padding:8px 10px 5px 10px;
	margin: 0 0 0px 0;
	display: block;
	float: left;
	font-style: italic;
	font-weight: 200;
	letter-spacing: 0.05em;
}


/* Home blocs */
.bloc-home-mag {
	width:290px;
	height:270px;
	padding:10px;
}

.bloc-home-top {
    width: 270px;
    height:220px;
    padding:10px;
	margin-bottom:10px;
}



/* Brands blocs */
.bloc-brands-3,
.bloc-brands-4,
.bloc-brands-4-small {
	margin-right:10px;
	margin-bottom:10px;
}
.bloc-brands-3.last,
.bloc-brands-4.last,
.bloc-brands-4-small.last {
	margin-right:0px;
}

.bloc-brands-4{
	height:200px;
	width:230px;
}
.bloc-brands-4 .summary{ top:80px; }

.bloc-brands-4-small{
	height:120px;
	width:230px;
}
.bloc-brands-4-small .summary{ top:40px; }
.bloc-brands-3{
	height:200px;
	width:310px;
}
.bloc-brands-3 .summary{ top:80px; }

/* Summary white bloc (title bloc) */


.span-6 .summary,
.span-8 .summary,
div.bloc .summary {
	position: absolute; 
	left: 50%;
	vertical-align: middle;
	max-width: 90%;
	text-align:center;
}
div.bloc-home-mag .summary {
	top:100px;
}

/*
div.bloc:hover .summary .summaryContent {
	background-color: #000;
	color:#fff !important;
}
*/
.summary .summaryContent {
	position: relative; 
/*	top: -35%;*/
	left:-50%;
	font-size:13px;
	max-width: 90%;
	background-color: #fff;
	padding:15px 18px;
	border-top: solid 2px #000;
}
.summary .summaryContent strong{
	font-size:16px;
}
.summary .summaryContent.light {
	padding:10px 15px 3px;
	border-top: none;
}
.summary .summaryContent h4{
	margin:0;
	font-size:15px;
	line-height: 14px;
	text-transform: uppercase;
}
.summary .summaryContent p{
	margin:0;padding:0;
}
.summaryContent .more {
	font-size:11px;
	color:#555;
	font-style: italic;
}



/* Brand page 
-------------------------------------------------------------- */

p.brand-welcome{
	overflow: hidden;
	text-align: center;
	margin: -15px 0 0 0;
	text-transform: uppercase;
	font-style: italic;
}
h3.subtitle {
	margin-top:10px;
}
h3.subtitle.brand {
	font-weight:normal;
	font-style: italic;
	color:#555;
	color:#000;
	padding:0;
	margin-bottom:20px;
	font-size: 13px;
}
/*
.subnav3 {
	margin:0;
	padding:0;
	list-style-type:none;
	height:25px;
}

.subnav3 li {
	padding:0;
	float:left;
	width:190px;
	text-transform:uppercase;
	font-style: inherit;
	font-size:11px;
	background-color: #fff;
}

.subnav3 li a {
	display:block;
	padding:8px 0 4px;
	cursor: pointer;
	text-decoration:none;
	color:#000;
	
	text-align: center;
	line-height: 11px;
	border-top: solid #c2c2c2 1px;
	border-bottom: solid #c2c2c2 1px;
}

.subnav3 li a:hover,
.subnav3 li a.selected {
	text-decoration:none;
	background-color: #000;
	color:#fff;
	display:block;
	border-top: solid #000 1px;
	border-bottom: solid #000 1px;
}
*/

/* Products list
   - Home product list
   - Boutique product list
-------------------------------------------------------------- */
.product-slider {}

.product-slider li.item {
	width:150px;
	float:left;
	cursor:pointer;
}
.product-slider div.details {
	padding-top:10px;
	text-align: center;
}
.product-slider div.details p.brand,
.product-slider div.details p.name {
	margin:0;
	font-weight: bold;
}
.product-slider div.details p.brand {
	text-transform: uppercase;
}

/* Brand Products list
   - Brand Boutique
-------------------------------------------------------------- */

.product_carousel {
  width: 100%;
  margin-top: 2px;
  padding-top:35px;
  position: relative;
}
/*
.product_carousel h3 {
  background: #000;
  color: #FFF;
  font-size: 13px;
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px 20px 5px 10px;
  z-index: 10;
}
*/
.product_carousel ul {
  position: absolute;
  /* required */

  overflow: hidden;
  /* required */

  margin: 0px 0 0;
  padding: 0;
  list-style: none;
}
.product_carousel li {
  float: left;
  display: inline;
  cursor: pointer;
  /*
  width: 220px;
  height: 300px;
  */
}
.product_carousel .prev, .product_carousel .next {
  position: absolute;
	top:0;
  width: 30px;
  cursor: pointer;
  overflow: hidden;
  text-indent: -999px;
}
.product_carousel .prev:hover, .product_carousel .next:hover {
/*	background-color: #000;*/
}
.product_carousel .prev {left: 0px; background: url(../images/carousel_arrow_prev.png) no-repeat 50% 50%;}
.product_carousel .next {right: 0px; background: url(../images/carousel_arrow_next.png) no-repeat 50% 50%;}
.product_carousel .prev.disabled, .product_carousel .next.disabled {
  opacity: .25;
}
.product_carousel .mask {
  position: relative;
  overflow: hidden;
  width: 880px;
  margin-left: 35px;
}

.product_carousel h3.bloc-title,
.product_carousel h4.bloc-title {
	top:10px;
	left:10px;
	position:absolute;
}


/* product_carousel : product page */
.product_carousel.product {
  height: 300px;
  border-top: solid 1px #ccc;
}
.product_carousel.product .mask {
	height:300px;
	margin-top:30px;
}
.product_carousel.product li {
  width: 220px;
  height: 300px;
  display:none;
}
.product_carousel.product li a.picture{
	display: block;
	height:200px;
	overflow: hidden;
	text-align: center;
}
.product_carousel.product .prev, .product_carousel.product .next {
	height:300px;
}
.product_carousel.product li .details{
	text-align: center;
}
.product_carousel.product li .details .uppercase{
	text-transform: uppercase;
}

/* product_carousel from brand page */
#brandProductList,
.product_carousel.brand {
	padding-top:20px;
	height: 420px;
/*  overflow: hidden;*/
}
.product_carousel.brand .mask {
	height:400px;
}
.product_carousel.brand ul li {
  width: 300px;
  height: 220px;
  display:none;
}
.product_carousel.brand .prev, .product_carousel.brand .next {
  height: 220px;
/*  top: 110px;*/
}
.product_carousel.brand li a.picture{
	display: block;
	width:150px;
	height:220px;
	overflow: hidden;
	float:left;
	text-align: center;
}
.product_carousel.brand li .details{
	width:130px;
	height: 180px;
	overflow: hidden;
	float:left;
	background-color: ##fd9;
	position: relative;
}
.product_carousel.brand li .details h3,
.product_carousel.brand li .details h4{
	font-weight: normal;
	font-size:12px;
}
.product_carousel.brand li .details h3{
	text-transform: uppercase;
	margin-bottom: 0px;
	font-weight: bold;
}
.product_carousel.brand li .details .summary{
	margin-top:10px;
	margin-bottom: 0;
	font-style: italic;
}
.product_carousel.brand li a.button{
	background-color: #e9e8e8;
	color:#555;
	padding:7px 8px 4px;
	margin-top: 5px;
	text-decoration: none;
	bottom:5px;
	position: absolute;
	text-transform: uppercase;
	font-style: italic;
}
.product_carousel.brand li a.button.hover{
	background-color: #000;
	color:#fff;
}
.product_carousel.brand li:hover a.button{
	background-color: #000;
	color:#fff;
}


.product_carousel.brand .icon24 {
/*
	position: absolute;
	right:10px;
	top:10px;
*/
}

.icon24 {
	margin-top:5px;
	width: 24px;
	height: 24px;
	display: block;
}

.icon24.sex_female,
.icon24.sex_1 {background: url(../images/icon_sex_1.jpg) no-repeat top left;}
.icon24.sex_male,
.icon24.sex_2 {background: url(../images/icon_sex_2.jpg) no-repeat top left;}
.icon24.sex_unisex,
.icon24.sex_3 {background: url(../images/icon_sex_3.jpg) no-repeat top left;}

div.gender {
	float:left;
	margin-right:15px;
}

div.gender input{
	margin-top:5px;
}

label.sex1 {
	height:24px;
	width: 24px;
	text-indent: -999em;
	background: url(../images/icon_sex1.png) no-repeat top left;
}
label.sex2 {
	height:24px;
	width: 24px;
	text-indent: -999em;
	background: url(../images/icon_sex2.png) no-repeat top left;
}


/* My Nose */

#diag-period {
	padding-left:120px;
}


ul.rating{
	width:80px;
	height:16px;
	margin:0 0 0px 0;
	padding:0;
	list-style:none;
	clear:both;
	position:relative;
	background: url(../images/mynose/star-matrix-5.png) no-repeat 0 0;
}
/* add these classes to the ul to effect the change to the correct number of stars */
ul.rating.n0 {background-position:0 0}
ul.rating.n1 {background-position:0 -16px}
ul.rating.n2 {background-position:0 -32px}
ul.rating.n3 {background-position:0 -48px}
ul.rating.n4 {background-position:0 -64px}
ul.rating.n5 {background-position:0 -80px}
ul.rating.n6 {background-position:0 -96px}
ul.rating.n7 {background-position:0 -112px}
ul.rating.n8 {background-position:0 -128px}
ul.rating.n9 {background-position:0 -144px}
ul.rating.n10 {background-position:0 -160px}
ul.rating li {
	cursor: pointer;
	float:left;
	text-indent:-999em;
}
ul.rating li a {
	position:absolute;
	left:0;
	top:0;
	width:8px;
	height:16px;
	text-decoration:none;
	z-index: 200;
}
ul.rating li a:hover {
	background: none;
}


table.diag-results tr {
	height:2em;
}
table.diag-results tr td{
	vertical-align: middle;
}

.clickmore {
  background: url("../images/mynose/icon_16_lens_plus.png") no-repeat scroll 50% 0 transparent;
  cursor: pointer;
  display: block;
  height: 24px;
  width: 24px;
}

table tr.active .clickmore {
  background: url("../images/mynose/icon_24_lens.png") no-repeat scroll 0 0 transparent;
  height: 24px;
  width: 24px;
}
table tr.active td{
	background-color: #fff;
	font-size:16px;
	line-height: 2.4em;
}

table.diag-results tr.active:hover td{	background-color: #fff;}
tr.active td:first-child { border-top-left-radius: 10px; }
tr.active td:last-child { border-top-right-radius: 10px; }
tr.active td:first-child { border-bottom-left-radius: 10px; }
tr.active td:last-child { border-bottom-right-radius: 10px; }

table.diag-results tr:hover td{	background-color: #e8e8e8;}
table.diag-results tr:hover td:first-child { border-top-left-radius: 10px; }
table.diag-results tr:hover td:last-child { border-top-right-radius: 10px; }
table.diag-results tr:hover td:first-child { border-bottom-left-radius: 10px; }
table.diag-results tr:hover td:last-child { border-bottom-right-radius: 10px; }



/* Rating */
ul.rating10{
	width:160px;
	height:16px;
	margin:0 0 0px 0;
	padding:0;
	list-style:none;
	position:relative;
	background: url(../images/mynose/star-matrix-10.png) no-repeat 0 0;
}


/* add these classes to the ul to effect the change to the correct number of stars */
ul.rating10.n0 {background-position:0 0}
ul.rating10.n1 {background-position:0 -16px}
ul.rating10.n2 {background-position:0 -32px}
ul.rating10.n3 {background-position:0 -48px}
ul.rating10.n4 {background-position:0 -64px}
ul.rating10.n5 {background-position:0 -80px}
ul.rating10.n6 {background-position:0 -96px}
ul.rating10.n7 {background-position:0 -112px}
ul.rating10.n8 {background-position:0 -128px}
ul.rating10.n9 {background-position:0 -144px}
ul.rating10.n10 {background-position:0 -160px}
ul.rating10 li {
	cursor: pointer;
	float:left;
	text-indent:-999em;
}
ul.rating10 li a {
	position:absolute;
	left:0;
	top:0;
	width:16px;
	height:16px;
	text-decoration:none;
	z-index: 200;
}

ul.rating10 li.one a {left:0}
ul.rating10 li.two a {left:16px;}
ul.rating10 li.three a {left:32px;}
ul.rating10 li.four a {left:48px;}
ul.rating10 li.five a {left:64px;}
ul.rating10 li.six a {left:80px;}
ul.rating10 li.seven a {left:96px;}
ul.rating10 li.eight a {left:112px;}
ul.rating10 li.nine a {left:128px;}
ul.rating10 li.ten a {left:144px;}
ul.rating10 li a:hover,
ul.rating10.eval li a:hover {
	z-index:2;
	width:160px;
	height:16px;
	overflow:hidden;
	left:0;
	background: url(../images/mynose/star-matrix-10.png) no-repeat 0 0;
	text-decoration: none !important;
}


/*
ul.rating10.eval li a:hover {background-color:#df8;}
*/
ul.rating10.eval li.one a:hover {background-position:0 -192px;}
ul.rating10.eval li.two a:hover {background-position:0 -208px;}
ul.rating10.eval li.three a:hover {background-position:0 -224px}
ul.rating10.eval li.four a:hover {background-position:0 -240px}
ul.rating10.eval li.five a:hover {background-position:0 -256px}
ul.rating10.eval li.six a:hover {background-position:0 -272px}
ul.rating10.eval li.seven a:hover {background-position:0 -288px}
ul.rating10.eval li.eight a:hover {background-position:0 -304px}
ul.rating10.eval li.nine a:hover {background-position:0 -320px}
ul.rating10.eval li.ten a:hover {background-position:0 -336px}


/* Highlight block (rounded white in diag / evaluation) */
div.fieldset .highlight-block {
	position:relative;
	margin:0 0 10px;
	padding: 15px;
	background-color: #fff;
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
}
div.samples a {
	display: block:
	float: left;
	padding-right:5px;
	overflow: hidden;
}
div.samples a:hover img,
div.samples a.active img{
	opacity: 1;
}
div.samples a img {
	opacity: 0.7;
	display: block:
}


/*
.brand-boutique-slider{}

.brand-boutique-slider li.item {
	width:310px;
	height:220px;
	float:left;
	cursor:pointer;
	margin:15px 0;
}

.brand-boutique-slider li.item a.picture{
	display: block;
	width:150px;
	height:220px;

	overflow: hidden;
	float:left;
	text-align: center;
}
.brand-boutique-slider li.item .details{
	width:130px;
	height: 170px;
	overflow: hidden;
	float:left;
	background-color: ##fd9;
	position: relative;
}
.brand-boutique-slider li.item .details h3,
.brand-boutique-slider li.item .details h4{
	font-weight: normal;
	font-size:11px;
}
.brand-boutique-slider li.item .details h3{
	text-transform: uppercase;
}


.brand-boutique-slider li.item a.button{
	background-color: #bbb;
	color:#393938;
	padding:3px 5px 1px;
	margin-top: 5px;
	text-decoration: none;
	bottom:0;
	position: absolute;
	text-transform: uppercase;
	font-style: italic;
}
.brand-boutique-slider li.item a.button.hover{
	background-color: #000;
	color:#fff;
}
*/
/* HERE

.bloc-brand-product {
	padding:10px 0;
	position: relative;
	margin-bottom:15px;
}
.bloc-brand-product.hover,
.bloc-brand-product.hover p,
.bloc-brand-product.hover h4,
.bloc-brand-product.hover h5,
.bloc-brand-product.hover p
{
	color:#333;
}
.bloc-brand-product h4{
	font-weight: bold;
	font-size: 12px;
	margin: 5px 0 0 0;
}
.bloc-brand-product h5{
	font-weight: normal;
	font-size: 10px;
	margin: 0 0 5px 0;
}
.bloc-brand-product .picture{
	width:150px;
	overflow: hidden;
	float:left;
	height:150px;
	text-align: center;
}

.bloc-brand-product .desc{
	width:130px;
	height: 170px;
	overflow: hidden;
	float:left;
	background-color: ##fd9;
	position: relative;
}

.bloc-brand-product a.button{
	background-color: #bbb;
	color:#393938;
	padding:3px 5px 1px;
	margin-top: 5px;
	text-decoration: none;
	bottom:0;
	position: absolute;
	text-transform: uppercase;
	font-style: italic;
}
.bloc-brand-product a.button:hover,
.bloc-brand-product a.button.hover{
	background-color: #000;
	color:#fff;
}
.bloc-brand-product .icon24 {
	position: absolute;
	right:10px;
	top:10px;
}

.icon24 {
	width: 24px;
	height: 24px;
	display: block;
}

.icon24.sex1 {background: url(../images/icon_sex_1.jpg) no-repeat top left;}
.icon24.sex2 {background: url(../images/icon_sex_2.jpg) no-repeat top left;}
.icon24.sex3 {background: url(../images/icon_sex_3.jpg) no-repeat top left;}


*/






/* Home Blocs : 
   - See if needs to be used for other pages
   -
*/
/* Footer Blocs
-------------------------------------------------------------- */
.footer-container .bloc {
	width:190px;
	float:left;
	padding-left:40px;
}

.footer-container h4 {
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;
	padding:0 3px;
	font-size: 12px;
}

/* Top Scroller (Slider Top Page)
-------------------------------------------------------------- */
.top-scroller {
	width:650px;
	float:left;
	margin-right:10px;
}

.scroller {
	width: 650px;			/* Same as span-165 */
	position: relative;
	height:490px;
}
ul.scroller-nav{
	list-style: none;
	position:absolute;
	z-index: 10;
	top:15px;
	left:15px;
	padding:0;
}
ul.scroller-nav li {
	padding:0;
	float:left;
	text-transform:uppercase;
	font-size:11px;
	margin-right:10px;
}

ul.scroller-nav li a {
	display:block;
	padding:8px 8px 5px 8px;
	text-decoration:none;
	color:#000;
	background-color: #f5f5f5;
	text-align: center;
	line-height: 11px;
	font-style: italic;
}

ul.scroller-nav li a:hover, {
	text-decoration:none;
	background-color: #000;
	color:#fff;
	display:block
}
ul.scroller-nav li a.selected {
	text-decoration:none;
	background-color: #000;
	color:#fff;
	display:block
}

.scroller-container {
	height: 490px;
	width: 650px;
	overflow: auto;
	position: relative; /* fix for IE to respect overflow */
	clear: left;
	background: #f5f5f5;
}
.scroller-content div.scroller-panel {
  height: 490px;
  width: 650px; /* change to 560px if not using JS to remove rh.scroll */
  position: relative;
}
.scroller-content div.scroller-panel div.scroller-panel-content {
	border-top: solid 3px #000;
	width:430px;
	height:160px;
	position:absolute;
	z-index: 1;
	bottom:15px;
	left:10px;
}
div.scroller-panel-content div.bg{
	background-color: #fff;
	opacity: 0.75;
	width:100%;
	height:100%;
	position:absolute;
	z-index: 2;
}
div.scroller-panel-content div.text h3{
	margin:10px;
}
div.scroller-panel-content div.text p{
	margin:10px;
}
div.scroller-panel-content div.text{
	position:absolute;
	z-index: 3;
}


/* Top News Bloc
-------------------------------------------------------------- */
.bloc-news-top {
	height:488px;				/* same as slider ! */
}

.bloc-news-side,
.bloc-news-top {
    width: 270px;
	width:288px;
	margin-bottom:10px;
	border:solid 1px #ccc;
}
.bloc-news-top .bloc-title,
.bloc-news-side .bloc-title{
	margin-top:10px;
	margin-left:10px;
}
.bloc-news-top .bloc{
	height:478px;				/* same as slider - vertical padding - 2 (border) */
}
.bloc-news {
	clear:both;
	padding:5px 10px;
	margin-bottom: 0px;
}
.bloc-news.first {
	padding-top: 10px;
}
.bloc-news-top .bloc-news.first {
	padding-top: 8px;

}

.bloc-news.last {
	padding-bottom: 10px;
}
.bloc-news p.date{
	font-size:10px;
	text-transform: uppercase;
	margin-bottom: 0;
	color:#888;
}
.bloc-news h4{
	font-size: 11px;
	margin-bottom: 0px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 11px;
}
.bloc-news h4 a{
	text-decoration: none;
}
.bloc-news .thumb {
	width:115px;
	float:left;
	margin: 0 10px 10px 0;
}
.bloc-news .thumb img{
	width:115px;	
}
.bloc-news-post {
	height:79px;
	overflow: hidden;
	cursor:pointer;
}
.bloc-news-post:hover {
	background-color: #f5f5f5;
/*	background:url(../images/body_bg_pattern1.png);*/
}


/* News Article 
-------------------------------------------------------------- */

.article {
	font-size:12px;
}


.article .article-content {
	font-size:13px;
	margin-top:20px;
	line-height: 1.5em;
}

/* Newsletter
-------------------------------------------------------------- */

#newsletter {
  width: 940px;
  float: left;
  border: 1px solid #BFBFBF;
  padding: 5px;
  margin: 20px 0 30px;
}
/*
#newsletter h3 {
  float: left;
  padding: 5px 10px;
  font-size: 13px;
  background: #000;
  color: #FFF;
  margin: 0;
}
*/
#newsletter form {
  float: right;
  font-size: 12px;
  position: relative;
}
#newsletter form input[type=text] {
  border: 1px solid #BFBFBF;
  width: 170px;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 0px;
}
#newsletter form label {
  position: absolute;
  right: 190px;
  width: 190px;
  top: 5px;
}
#newsletter form button {
  position: absolute;
  top: 6px;
  right: 12px;
  border: 0;
  background: #FFF;
  color: #333;
}



/* Standard Padding and Margin classes
-------------------------------------------------------------- */

.p0 { padding: 0 !important; }
.pt0 { padding-top: 0 !important; }
.pl0 { padding-left: 0 !important; }
.pb0 { padding-bottom: 0 !important; }
.pr0 { padding-right: 0 !important; }

.p2 { padding: 2px !important; }
.pt2 { padding-top: 2px !important; }
.pl2 { padding-left: 2px !important; }
.pb2 { padding-bottom: 2px !important; }
.pr2 { padding-right: 2px !important; }

.p3 { padding: 3px !important; }
.pt3 { padding-top: 3px !important; }
.pl3 { padding-left: 3px !important; }
.pb3 { padding-bottom: 3px !important; }
.pr3 { padding-right: 3px !important; }

.p4 { padding: 4px !important; }
.pt4 { padding-top: 4px !important; }
.pl4 { padding-left: 4px !important; }
.pb4 { padding-bottom: 4px !important; }
.pr4 { padding-right: 4px !important; }

.p5 { padding: 5px !important; }
.pt5 { padding-top: 5px !important; }
.pl5 { padding-left: 5px !important; }
.pb5 { padding-bottom: 5px !important; }
.pr5 { padding-right: 5px !important; }

.p6 { padding: 6px !important; }
.pt6 { padding-top: 6px !important; }
.pl6 { padding-left: 6px !important; }
.pb6 { padding-bottom: 6px !important; }
.pr6 { padding-right: 6px !important; }

.p7 { padding: 7px !important; }
.pt7 { padding-top: 7px !important; }
.pl7 { padding-left: 7px !important; }
.pb7 { padding-bottom: 7px !important; }
.pr7 { padding-right: 7px !important; }

.p8 { padding: 8px !important; }
.pt8 { padding-top: 8px !important; }
.pl8 { padding-left: 8px !important; }
.pb8 { padding-bottom: 8px !important; }
.pr8 { padding-right: 8px !important; }

.p9 { padding: 9px !important; }
.pt9 { padding-top: 9px !important; }
.pl9 { padding-left: 9px !important; }
.pb9 { padding-bottom: 9px !important; }
.pr9 { padding-right: 9px !important; }

.p10 { padding: 10px !important; }
.pt10 { padding-top: 10px !important; }
.pl10 { padding-left: 10px !important; }
.pb10 { padding-bottom: 10px !important; }
.pr10 { padding-right: 10px !important; }

.p15 { padding: 15px !important; }
.pt15 { padding-top: 15px !important; }
.pl15 { padding-left: 15px !important; }
.pb15 { padding-bottom: 15px !important; }
.pr15 { padding-right: 15px !important; }

.p20 { padding: 20px !important; }
.pt20 { padding-top: 20px !important; }
.pl20 { padding-left: 20px !important; }
.pb20 { padding-bottom: 20px !important; }
.pr20 { padding-right: 20px !important; }

.p30 { padding: 30px !important; }
.pt30 { padding-top: 30px !important; }
.pl30 { padding-left: 30px !important; }
.pb30 { padding-bottom: 30px !important; }
.pr30 { padding-right: 30px !important; }

.m0  {margin: 0 !important; }
.mt0 { margin-top: 0 !important; }
.ml0 { margin-left: 0 !important; }
.mb0 { margin-bottom: 0 !important; }
.mr0 { margin-right: 0 !important; }

.m1  {margin: 1px !important; }
.mt1 { margin-top: 1px !important; }
.ml1 { margin-left: 1px !important; }
.mb1 { margin-bottom: 1px !important; }
.mr1 { margin-right: 1px !important; }

.m2  {margin: 2px !important; }
.mt2 { margin-top: 2px !important; }
.ml2 { margin-left: 2px !important; }
.mb2 { margin-bottom: 2px !important; }
.mr2 { margin-right: 2px !important; }

.m3 { margin: 3px !important; }
.mt3 { margin-top: 3px !important; }
.ml3 { margin-left: 3px !important; }
.mb3 { margin-bottom: 3px !important; }
.mr3 { margin-right: 3px !important; }

.m4 { margin: 4px !important; }
.mt4 { margin-top: 4px !important; }
.ml4 { margin-left: 4px !important; }
.mb4 { margin-bottom: 4px !important; }
.mr4 { margin-right: 4px !important; }

.m5 { margin: 5px !important; }
.mt5 { margin-top: 5px !important; }
.ml5 { margin-left: 5px !important; }
.mb5 { margin-bottom: 5px !important; }
.mr5 { margin-right: 5px !important; }

.m8 { margin: 8px !important; }
.mt8 { margin-top: 8px !important; }
.ml8 { margin-left: 8px !important; }
.mb8 { margin-bottom: 8px !important; }
.mr8 { margin-right: 8px !important; }

.m10 { margin: 10px !important; }
.mt10 { margin-top: 10px !important; }
.ml10 { margin-left: 10px !important; }
.mb10 { margin-bottom: 10px !important; }
.mr10 { margin-right: 10px !important; }

.m15 { margin: 15px !important; }
.mt15 { margin-top: 15px !important; }
.ml15 { margin-left: 15px !important; }
.mb15 { margin-bottom: 15px !important; }
.mr15 { margin-right: 15px !important; }

.m20 { margin: 20px !important; }
.mt20 { margin-top: 20px !important; }
.ml20 { margin-left: 20px !important; }
.mb20 { margin-bottom: 20px !important; }
.mr20 { margin-right: 20px !important; }

.m25 { margin: 25px !important; }
.mt25 { margin-top: 25px !important; }
.ml25 { margin-left: 25px !important; }
.mb25 { margin-bottom: 25px !important; }
.mr25 { margin-right: 25px !important; }

.m30 { margin: 30px !important; }
.mt30 { margin-top: 30px; }
.ml30 { margin-left: 30px; }
.mb30 { margin-bottom: 30px; }
.mr30 { margin-right: 30px; }

.m35 { margin: 35px; }
.mt35 { margin-top: 35px; }
.ml35 { margin-left: 35px; }
.mb35 { margin-bottom: 35px; }
.mr35 { margin-right: 35px; }

.m40 { margin: 40px; }
.mt40 { margin-top: 40px; }
.ml40 { margin-left: 40px; }
.mb40 { margin-bottom: 40px; }
.mr40 { margin-right: 40px; }

.m50 { margin: 50px; }
.mt50 { margin-top: 50px; }
.ml50 { margin-left: 50px; }
.mb50 { margin-bottom: 50px; }
.mr50 { margin-right: 50px; }

.mr-auto {margin-right:auto;}
.ml-auto {margin-left:auto;}

.w10 {	width:10px !important; }
.w20 {	width:20px !important; }
.w30 {	width:30px !important; }
.w40 {	width:40px !important; }
.w50 {	width:50px !important; }
.w60 {	width:60px !important; }
.w80 {	width:80px !important; }
.w100 {	width:100px !important; }
.w120 {	width:120px !important; }
.w140 {	width:140px !important; }
.w160 {	width:160px !important; }
.w180 {	width:180px !important; }
.w200 {	width:200px !important; }
.w220 {	width:220px !important; }
.w240 {	width:240px !important; }
.w260 {	width:260px !important; }
.w280 {	width:280px !important; }
.w300 {	width:300px !important; }
.w320 {	width:320px !important; }
.w340 {	width:340px !important; }
.w360 {	width:360px !important; }
.w380 {	width:380px !important; }
.w400 {	width:400px !important; }
.w500 {	width:500px !important; }
.w600 {	width:600px !important; }

.h10 {	height:10px !important; }
.h15 {	height:15px !important; }
.h18 {	height:18px !important; }
.h20 {	height:20px !important; }
.h30 {	height:30px !important; }
.h40 {	height:40px !important; }
.h50 {	height:50px !important; }
.h60 {	height:60px !important; }
.h80 {	height:80px !important; }
.h100 {	height:100px !important; }
.h120 {	height:120px !important; }
.h140 {	height:140px !important; }
.h160 {	height:160px !important; }
.h180 {	height:180px !important; }
.h200 {	height:220px !important; }
.h220 {	height:220px !important; }
.h240 {	height:240px !important; }
.h260 {	height:260px !important; }
.h280 {	height:280px !important; }
.h300 {	height:300px !important; }
.h320 {	height:320px !important; }
.h340 {	height:340px !important; }
.h360 {	height:360px !important; }
.h380 {	height:380px !important; }
.h400 {	height:400px !important; }

/* Standard border radius */
.r5 {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.r10 {-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.r15 {-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;}
.r20 {-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;}
