.an-subscribe .block-title
{
    min-height: 18px;
    height:auto!important;
    background: none;
    margin: inherit;
    padding: inherit;
}
#advancednewsletter-subscription-form p {
	margin:0;
}
.an-subscribe .block-title strong
{
/*
    background: url("../images/i_block-subscribe.gif") 0 0 no-repeat;
*/
    padding-left: 21px;
}
.an-subscribe button span
{
    background: none repeat scroll 0 0 #000;
    border-color: #000;
}
.an-subscribe .block-content
{ 
	display: block;
	padding: 5px 10px;
}
.an-subscribe .block-content label.an-data
{
    font-size: 11px;
    font-weight: bold;
}
.an-data
{ width: 95%; }
.an-buttons
{ margin-top: 5px; }
.an-subscribe .block-title img
{ 
    float:right;
}
#advancednewsletter-form .block-content {
	display: block;
}
#advancednewsletter-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:#000;
    -moz-opacity: 0.3;
    opacity:.30;
    filter: alpha(opacity=30);
}
#advancednewsletter-overlay[id]{ /* IE6 and below Can't See This */
    position:fixed;
}
#an-content{
    position: fixed;
    z-index:9999;
    text-align:left;
    background-color: #fff;
}
/*
#subscribe-please-wait
{
	background:none repeat scroll 0 0 #FFF4E9;
    border:2px solid #F1AF73;
    padding:15px 60px;
    position: fixed;
	z-index: 9999;
    color: black;
}
*/


#subscribe-please-wait { 
    position: fixed;
	z-index: 9999;
    color: black;
	font-size:12px;
	height:96px;
	background:url(../images/opc/wait_box_bg.png); padding:11px; white-space:nowrap;
}

#subscribe-please-wait .subscribe-content{
	display:block; 
	background:#fff; 
	padding:30px; 
	white-space:nowrap;
	line-height: 36px;
}

