body { background: #ffffff; margin: 0; padding: 0; }
.main-table { width: 650px; margin: 0 auto; }
.main-cell { padding: 20px 0; }
td { padding: 15px 10px; }
.logo { display: block; margin: 0 auto; }
p { font-family: Arial,serif; font-size: 14px; letter-spacing: 0.06em; }
p.subtitle { font-family: Arial, serif; font-size: 10px; letter-spacing: 0.06em; text-align: center; }
p.black-title { background: #000; color: #fff; padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; letter-spacing: 0.06em; text-align: center; }
p.title { border-top: 1px solid #9a9a9a; border-bottom: 1px solid #9a9a9a; padding: 10px 0; font-family: Arial, sans-serif; font-size: 16px; letter-spacing: 0.06em; text-align: center; }
.button { display: inline-block; background: #fcebe3; color: #000; padding: 10px 15px; text-decoration: none; text-transform: uppercase; font-family:Arial, serif; font-size: 14px; }
.button span { display: inline-block; width: 38px; margin-left: 10px; }
.button-wide { width: 100%; box-sizing: border-box; }

.product-list td { padding: 5px; text-align: center; }
.product-list p { font-family: Arial, serif; font-size: 12px; letter-spacing: 0.06em; }
.product-list a { color: #000; text-decoration: none; }

.cartitem-list th { font-weight: normal; white-space: nowrap; padding: 0 10px 10px 0; font-family: Arial, serif; font-size: 12px; letter-spacing: 0.06em; text-align: left; }
.cartitem-list th div { border-bottom: 1px solid #000; }
.cartitem-list td { padding: 5px 10px 5px 0; font-family: Arial, serif; font-size: 12px; letter-spacing: 0.06em; }
.cartitem-list a { color: #000; }

.footer p { font-family: Arial, serif; font-size: 10px; letter-spacing: 0.06em; color: #888888; text-align: center; }

.a-center { text-align: center; }
.a-right { text-align: right; }
