.remodal-overlay { background-color: rgba(198, 198, 198, 0.8); }
.remodal { outline: 10px solid rgba(0, 0, 0, 0.3); }
.remodal-close { left: auto; right: 0; }
.remodal-wait { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent url('../images/opc-ajax-loader.gif') no-repeat center; }

.j2t-checkout-link.freesample-link { float: none; display: inline-block; }

.freesample-modal { text-align: left; }
.freesample-modal p { width: 80%; margin: 0 auto 20px; }
.freesample-modal ul li { display: flex; margin-bottom: 10px; }
.freesample-modal ul li:first-child div { border-bottom: 1px solid #000; }
.freesample-modal ul li > div { flex: 1 0 50%; box-sizing: border-box; }
.freesample-modal ul li > div:not(:first-child) { padding-left: 20px; }
.freesample-modal input { width: 100%; box-sizing: border-box; }
.freesample-modal .sample-select-container { display: flex; max-width: 50%; }
.freesample-modal .sample-select-container select { flex: 1; }