.span-1, .span-2, .span-3, .span-33, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24, .span-25 {float:left;margin-right:10px;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:230px;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:830px;}
.span-22 {width:870px;}
.span-23 {width:910px;}
.span-24 {width:950px;margin-right:0;}

.span-25 {width:220px;margin-right:17px;}

.append-1 {padding-right:40px;}
.append-2 {padding-right:80px;}
.append-3 {padding-right:120px;}
.append-4 {padding-right:160px;}
.append-5 {padding-right:200px;}
.append-6 {padding-right:240px;}
.append-7 {padding-right:280px;}
.append-8 {padding-right:320px;}
.append-9 {padding-right:360px;}
.append-10 {padding-right:400px;}
.append-11 {padding-right:440px;}
.append-12 {padding-right:480px;}
.append-13 {padding-right:520px;}
.append-14 {padding-right:560px;}
.append-15 {padding-right:600px;}
.append-16 {padding-right:640px;}
.append-17 {padding-right:680px;}
.append-18 {padding-right:720px;}
.append-19 {padding-right:760px;}
.append-20 {padding-right:800px;}
.append-21 {padding-right:840px;}
.append-22 {padding-right:880px;}
.append-23 {padding-right:920px;}
.prepend-1 {padding-left:40px;}
.prepend-2 {padding-left:80px;}
.prepend-3 {padding-left:120px;}
.prepend-4 {padding-left:160px;}
.prepend-5 {padding-left:200px;}
.prepend-6 {padding-left:240px;}
.prepend-7 {padding-left:280px;}
.prepend-8 {padding-left:320px;}
.prepend-9 {padding-left:360px;}
.prepend-10 {padding-left:400px;}
.prepend-11 {padding-left:440px;}
.prepend-12 {padding-left:480px;}
.prepend-13 {padding-left:520px;}
.prepend-14 {padding-left:560px;}
.prepend-15 {padding-left:600px;}
.prepend-16 {padding-left:640px;}
.prepend-17 {padding-left:680px;}
.prepend-18 {padding-left:720px;}
.prepend-19 {padding-left:760px;}
.prepend-20 {padding-left:800px;}
.prepend-21 {padding-left:840px;}
.prepend-22 {padding-left:880px;}
.prepend-23 {padding-left:920px;}


.span-33 {width:310px;}
.span-66 {width:630px;}
.colborder {padding-right:24px;margin-right:25px;}
.first {margin-left:0;padding-left:0}
.last {margin-right:0;padding-right:0}
.relative {position:relative;}
.uppercase {text-transform:uppercase;}
.noborder {border: none !important;}
.link{cursor: pointer;}
.toggler {cursor:pointer;}
.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto !important;
}
.hidden {display: none;}
.visible {display: block;}

/* Desaturate */
.des {
	position: absolute;
	top:0;
	left:0;
	z-index: 10;
}
.color { z-index: 15 !important;}

.spinner {
	background: url(../images/ajax_16_loader.gif) no-repeat 50% 50%;
}
#beta{
    background: url("../images/bkg_pipe1.gif") no-repeat scroll 100% 50% transparent;
    padding-right: 6px;
    float:left;margin-left:9px;margin-top:2px;padding-top:4px;letter-spacing: 0.1em;
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 1px;

}

/* Header */
.header-gif{margin:-15px 0 0 15px;}
.header-gif img{float:left}

/* Popup page
-------------------------------------------------------------- */
.page-popup header {
	width:auto;
	text-align: center;

}
.page-popup header .header-left,
.page-popup header .header-right {
	width:0;
}
.page-popup header .header-middle {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

/* Global Typography
-------------------------------------------------------------- */
div.page-title {
	margin:30px 0 30px 0;
	margin:10px 0;
	text-align: center;
	position: relative;
}
div.page-title h2 small,
div.page-title h2 small em{
	font-style: normal;
}
div.page-title h2{
	letter-spacing: 0.15em;
	font-size: 13px;
	height: auto;
	border-bottom: 1px solid #000;
	text-transform: uppercase;
}
div.page-title .helper-open {
	position:absolute;
	right: 0;
	top:-2px;
	display: block;
	height:18px;width:18px;
	background: url(../images/page_title_helper.jpg) no-repeat top left;
	cursor: pointer;
}
div.helper-bloc {
	background: url(../images/icon_bloc_helper.jpg) no-repeat 5px 5px;
	position: relative;
	text-align: center;
	width:55%;
	padding:5px 25px;
	margin:0 auto;
	border-bottom: 1px solid #c0c0c0;
	cursor: pointer;
	display:none;
	margin-bottom: 20px;
}
div.helper-bloc.full-width {
	width:auto;
}
div.helper-bloc p{
	margin-bottom: 0;
}
div.helper-bloc .helper-close {
	height:16px;
	width:16px;
	position:absolute;
	display: block;
	bottom: 0;
	right: 0;
	background: url(../images/accordion/toggler_up.png) no-repeat top left;
}
/* Like Helper block, but without slide */
div.explanation-bloc {
	width:55%;
	padding:5px 25px;
	margin:0 auto;
	text-align: center;
}


h1.title,
h2.title,
h3.title,
h4.title {
	text-transform: uppercase;
	letter-spacing: 0.15em;
}
h2.sub-title,
h3.sub-title,
h4.sub-title {
	font-size: 13px;
}
h2 a,
h3 a,
h4 a {
	text-decoration: none;
}

/* Column title (Akurrat underlined */
h2.col-title,
h3.col-title {
	font-size:13px;
	text-align: center;
	text-transform: uppercase;
	border-bottom: solid 1px #000;
	padding-top:8px;
	margin:0 0 10px 0;
	font-weight: bold;
	letter-spacing: 0.15em;
}

h2.col-title.first,
h3.col-title.first {
	padding-top:0px;
}

/* Anchors
-------------------------------------------------------------- */
a.bloc {
	display:block;
	padding:6px 10px 3px 10px;
	text-transform: uppercase;
}
a.gray {
/*	background-color: #e9e8e8;*/
	background: url(../images/bg_a_gray.png) no-repeat 7px 3px #e9e8e8;
	padding:6px 10px 3px 18px;
	z-index:100;
}
a.gray:hover {
	background: url(../images/bg_a_gray.png) no-repeat 7px -17px #000;
	color:#fff;
}
a.button {
	background-color: #000;
	color: #fff;
	padding: 6px 20px 4px;
	text-decoration: none;
	text-transform: uppercase;
}
a.button.yellow {
	background-color: #ffc000;
	color:#000000;
}

.button.fbconnect{
height:25px;
}
.button.fbconnect > span{
	background: url("../images/btn_fbconnect_bg.png") no-repeat top left;
	padding-left:32px;
	height:25px;
	border-right: solid 1px #29447e;
}
.button.fbconnect span span{
	background: none;
	padding:0px 0 0;
	line-height: 25px;
}

/* Google Map
-------------------------------------------------------------- */
#map_container {
	height:300px;
	position: relative;
}
#map_canvas {
	width: 390px;
	height: 300px;
	position: relative;
}
#map_address {
	width:200px;
	height:55px;
	position: absolute;
	background-color: #fff;
	bottom: 3px;
	right:3px;
	padding:20px;
	opacity: 0.95;
}
#map_address p{
	margin:0;
}

/* Popup page
-------------------------------------------------------------- */
.page-popup .col-left {
  background-color: #F0F0F0;
  margin-left: 0px;
  padding: 5px 0 10px;
  margin-top: 27px;
}
.page-popup .col-left .nav li {
  padding:0px 5px;
}

.page-popup .col-left .nav li a {
  border-bottom: 1px solid #C0C0C0;
  font-size: 11px;
  display:block;
  padding:2px 0px;
  text-decoration: none;
}
.page-popup .col-left .nav li.active a {
  font-weight: bold;
}

.article.popup .article-content h3 {
  border-bottom: 1px solid #000000;
  clear: both;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0.15em;
  margin-bottom: 10px;
  margin-top: 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}


/* Form / Customer
-------------------------------------------------------------- */
div.customer-name .field{
	margin-top:5px;
	float:none;
}

div.field {
	margin-top:5px;
}

div.field,
ul.form-list li,
div.dob-day,
div.dob-month,
div.dob-year {
	position: relative;
}

label.inline {
	position:absolute;
	top:2px;
	left:4px;
	font-weight: normal;
}


/* Navigation
-------------------------------------------------------------- */

.subnav-container {
	clear:both;
	margin:10px 0 10px 0;
	list-style-type:none;
	height:25px;
}
.subnav {
	clear:left;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	text-align:center;
}
.subnav li {
	display:block;
	float:left;
	list-style:none;
	margin:0;
	padding:0 8px;
	position:relative;
	right:50%;
	text-transform:uppercase;
	font-style: inherit;
	font-size:11px;
}

.subnav li a,
a.subnav-item {
	display:block;
	padding:5px 30px 3px;
	cursor: pointer;
	text-decoration:none;
	color:#000;
	text-align: center;
	line-height: 12px;
	border-bottom: solid #c8c8c8 1px;
	letter-spacing: 0.1em;
}
.subnav li.first a{
	border-left: none;
}
.subnav li a:hover,
.subnav li.active a,
a.subnav-item:hover,
a.subnav-item.active {
	text-decoration:none;
	background-color: #000;
	color:#fff;
	display:block;
	border-bottom: solid #fff 1px;
}
.subnav li a.nohover:hover,
.subnav li.nohover a:hover,
a.subnav-item.nohover:hover{
	background-color: #fff;
	color:#000;
	border-bottom: solid #c8c8c8 1px;
	cursor: default;
}
/* Anchor as subnav element */
a.subnav-item {
	display:block;
}

/* Brand select
-------------------------------------------------------------- */
.nose-select {
}
.nose-select {
    width: 180px;
    position: relative;
    letter-spacing: 0.1em;
    background-color: #ddd;
    padding: 4px 10px;
    vertical-align: middle;
    margin: 0 auto;
    font-size:11px;
	background: #fff url('../images/select/select-arrow.gif') 180px 7px no-repeat;
	border-bottom:1px solid #c9c9c9;
	text-transform: uppercase;
	margin-bottom:10px;
}

.nose-select:hover ul {
    display: block;
}

.nose-select ul {
    display: none;
    position: absolute;
    z-index: 15000;
    width: 200px;
    top: 0;
    left: 0;
    border: 1px solid #ddd;
    max-height: 160px;
    overflow: auto;
}

.nose-select li {
    background-color: white;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
.nose-select li a{
	display:block;
    padding: 4px 10px 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.nose-select li:last-child {
    border-bottom: none;
}

.nose-select li:hover {
    background-color: #ddd;
}


/* Main blocs
-------------------------------------------------------------- */

/* Standard content bloc, uded by :
   - Home Magazine blocs
   - ...
*/
div.bloc{
	position:relative;
	overflow: hidden;
	float:left;
}
div.bloc120 {
	height: 120px;
}
div.bloc200 {
	height: 200px;
}
div.bloc240 {
	height: 240px;
}

/* Blocs titles */
h3.bloc-title,
h4.bloc-title,
h5.bloc-title {
	text-transform: uppercase;
	display:inline;
	background-color: #000;
	color: #fff;
	margin:0;
}

h3.bloc-title,
h4.bloc-title {
	font-size: 11px;
	line-height: 11px;
	font-weight: lighter;
	padding:5px 30px 3px;
	vertical-align: middle;
	text-align: center;
	margin: 0 0 0px 0;
	display: block;
	float: left;
	letter-spacing: 0.1em;
}
h3.bloc-title.small,
h4.bloc-title.small {
	padding:5px 8px 3px;
}

/*
 * Home blocs
 */



/* Home only */
.bloc-home {
	width: 200px;
	height: 270px;
	padding: 10px 20px 10px 0;
	display: block;
}

/* Magazine Landing page blocs ! */
.bloc-home-mag {
	width:290px;
	height:270px;
	padding:10px;
}

.bloc-home-top {
    width: 270px;
    height:220px;
    padding:10px;
	margin-bottom:10px;
}
.bloc-home-top.last {
	margin-bottom:0px;
}


/* Brands blocs */
.bloc-brands-3,
.bloc-brands-4,
.bloc-brands-4-small {
	margin-right:10px;
	margin-bottom:10px;
	position: relative;
}
.bloc-brands-3.last,
.bloc-brands-4.last,
.bloc-brands-4-small.last {
	margin-right:0px;
}

.bloc-brands-4,
.bloc-brands-4 img{
	height:200px;
	width:230px;
}
.bloc-brands-4 .summary{ top:80px; }

.bloc-brands-4-small{
	height:120px;
	width:230px;
}
.bloc-brands-4-small .summary{ top:40px; }
.bloc-brands-3{
	height:200px;
	width:310px;
}
.bloc-brands-3 .summary{ top:80px; }


/* Title : Used in Noses blocs (white bg) */
.bloc-brands-3 .title,
.bloc-brands-4 .title,
.bloc-brands-4-small .title {
	background-color:#fff;
	text-align: center;
	display: block;
}

.bloc-brands-3 a.title,
.bloc-brands-4 a.title,
.bloc-brands-4-small a.title {
	display: block;
	position: absolute;
	width: 100%;
	font-weight: lighter;
	font-weight: normal;
	font-size: 11px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-decoration: none;
	padding:5px 0 2px;
	margin: 0;
	z-index: 150;
}
.bloc-brands-3 a.title h2,
.bloc-brands-4 a.title h2,
.bloc-brands-4-small a.title h2{
	font-weight: normal;
	font-size: 11px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin:0;padding:0
}
.bloc-brands-3 a.title:hover h2,
.bloc-brands-4 a.title:hover h2,
.bloc-brands-4-small a.title:hover h2{
	background-color: #000 !important;
	color:#fff !important;
}


.bloc-brands-3:hover a,
.bloc-brands-4:hover a,
.bloc-brands-4-small:hover a,
.bloc-brands-3:hover a h2,
.bloc-brands-4:hover a h2,
.bloc-brands-4-small:hover a h2{
	background-color: #000 !important;
	color:#fff !important;
}
.bloc-brands-4 a.title {
	margin-top:160px;
}


/* Summary white bloc (title bloc) */
.span-6 .summary,
.span-8 .summary,
div.bloc .summary {
	position: absolute;
	vertical-align: middle;
	text-align:center;
	width:230px;
	text-align:center;
	margin-left:30px;
}


div.bloc-home-mag .summary {
	bottom:40px;
}

/* Home special */
div.bloc-home .summary {
	width:200px;
	margin-left:10px;
	bottom:20px;
}
.span-25.first{
	margin-left: 10px;
}

.summary .summaryContent {
	position: relative;
	font-size:13px;
	text-transform: uppercase;
	background-color: #fff;
	padding:10px 18px 8px 18px;
	border-top: solid 1px #000;
}
.summary .summaryContent p,
.summary .summaryContent strong{
	line-height: 15px;
	letter-spacing: 0.08em;
}
.summary .summaryContent.light {
	padding:10px 15px 3px;
	border-top: none;
}
.summary .summaryContent h4{
	margin:0;
	font-size:11px;
	line-height: 14px;
	text-transform: uppercase;
}
.summary .summaryContent p{
	margin:0;padding:0;
}
.summaryContent .more {
	font-size:11px;
	color:#555;
	font-style: italic;
}

.summaryContent p.read-more {
	margin-top:10px;
	letter-spacing: 0.05em;
}
.summaryContent .read-more a{
	font-size: 11px;
	color:#000;
	text-decoration: underline;
	text-transform: none;
}


/* Creators page
-------------------------------------------------------------- */
ul.brands,
ul.creators {
	width: 950px;
	overflow: hidden;
}
ul.brands li,
ul.creators li {
	float: left;
	overflow: hidden;
	position: relative;
}
div.letter-widget {
	height:20px;
	margin-bottom: 20px;
	text-align: center;
}
ul.letter-filter {
	display: block;
	height: 16px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 560px;
}
ul.letter-filter li{
	float:left;
}
ul.letter-filter li a{
	cursor: pointer;
	text-transform: uppercase;
	display: block;
	padding:3px;
}
ul.letter-filter li a.all{
	height:14px;
	width:120px;
	text-align: center;
	padding:3px 0;
	margin-right:20px;
}
ul.letter-filter li.letter a{
	display: block;
	width: 10px;
	height: 14px;
	border-bottom: solid 1px #c9c9c9;
	text-decoration: none;
}
ul.letter-filter li a:hover,
ul.letter-filter li a.active{
	background-color: #000;
	color: #fff;
}
#brands-filter.letter-filter li a.all{
	width:160px;
	text-decoration: none;
}
#brands-filter.letter-filter {
	width: 600px;
}

/* Brand page
-------------------------------------------------------------- */

p.brand-welcome{
	overflow: hidden;
	text-align: center;
	display:inline;
	margin: -15px auto 0 auto;
	padding:2px 10px;
	text-transform: uppercase;
	font-weight: normal;
	border-bottom: solid 1px #c9c9c9;
}
h2.subtitle,
h3.subtitle {
	margin-top:10px;
}
h2.subtitle.brand,
h3.subtitle.brand {
	font-weight:normal;
	padding:0;
	margin: 10px 0 15px 0;
	font-size: 11px;
	letter-spacing: 0.05em;
}
div.brand-top-right,
div.brand-top-left{
	position:absolute;top:43px;max-width: 280px;
	color:#aaa
}
div.brand-top-right a,
div.brand-top-left a {
	color:#aaa;
}
div.brand-top-right{
	right:8px;
}
div.brand-top-left{
	left:8px;
}


/* Items Carousels
-------------------------------------------------------------- */

div[aria-role="progressbar"] {
	position:absolute;
	z-index:10;
	background-color:#df2;
}
.panelContent {
	overflow: hidden;
}
.item_carousel {
  width: 100%;
  margin-top: 2px;
  padding-top:35px;
  position: relative;
  overflow: hidden;
}
.item_carousel ul {
  position: absolute;
  /* required */
  overflow: hidden;
  /* required */
  margin: 0px 0 0;
  padding: 0;
  list-style: none;
}
.item_carousel ul.without-mask {
	margin-left:35px;
	margin-left:0;
	position: inherit;
}

.item_carousel li {
  float: left;
  display: inline;
  cursor: pointer;
}
.item_carousel .prev, .item_carousel .next {
  position: absolute;
  top:0;
  width: 30px;
  cursor: pointer;
  overflow: hidden;
  text-indent: -999px;
}
.item_carousel .prev:hover, .item_carousel .next:hover {/*	background-color: #000;*/}
.item_carousel .prev {left: 0px; background: url(../images/carousel_arrow_prev.png) no-repeat 50% 50%;}
.item_carousel .next {right: 0px; background: url(../images/carousel_arrow_next.png) no-repeat 50% 50%;}
.item_carousel .prev.disabled, .item_carousel .next.disabled { opacity: .25; }
.item_carousel .mask {
  position: relative;
  overflow: hidden;
  width: 880px;
  margin-left: 35px;
}

h3.bloc-title.absolute,
h4.bloc-title.absolute {
/*
	top:10px;
	left:10px;
*/
	position:absolute;
}
.item_carousel li a.picture{
	display: block;
	overflow: hidden;
	text-align: center;
}
.item_carousel li .details{
	overflow: hidden;
	position: relative;
}

.item_carousel li .details .price-box{margin:0;}
.item_carousel li .details .price-box .regular-price .price{font-weight: normal;font-size: 11px;}

/* Products Carousel : Product Page
-------------------------------------------------------------- */

.item_carousel.product {
  height: 300px;
  padding-top:0px;
}
.item_carousel.product .mask { height:300px;	margin-top:30px;}
.item_carousel.product li { width: 180px; height: 280px;  display:none; }
.item_carousel.product li a.picture{	height:190px; }
.item_carousel.product .prev, .item_carousel.product .next { height:300px; }
.item_carousel.product li .details{ text-align: center; }
.item_carousel.product li .details .uppercase{ text-transform: uppercase;}

.item_carousel.product.rows1{height:300px;}
.item_carousel.product.rows2{height:600px;}
.item_carousel.product .rows1{height:300px;}
.item_carousel.product .rows2{height:600px;}


/* Products Carousel : Brand Page
-------------------------------------------------------------- */

#brandProductList{
	height:300px;
}
#brandProductList,
.item_carousel.brand {
	padding-top:20px;
	position: relative;
}

/* height depending on nb of rows */
.item_carousel.brand.rows1{height:200px;}
.item_carousel.brand.rows2{height:400px;}
.item_carousel.brand.rows3{height:600px;}
.item_carousel.brand .rows1{height:200px;}
.item_carousel.brand .rows2{height:400px;}
.item_carousel.brand .rows3{height:600px;}

.item_carousel.brand ul li { width: 300px; height: 220px; display:none;}
.item_carousel.brand .prev, .item_carousel.brand .next { height: 220px;}
.item_carousel.brand li a.picture{width:150px;height:220px;float:left;}
.item_carousel.brand li .details{width:130px;height: 180px;float:left;}
.item_carousel.brand li .details h3,
.item_carousel.brand li .details h4{
	font-weight: normal;
	font-size:12px;
}
.item_carousel.brand li .details h3{
	text-transform: uppercase;
	margin-bottom: 0px;
	font-weight: bold;
}
.item_carousel.brand li .details .summary{
	margin-top:10px;
	margin-bottom: 0;
	font-style: italic;
}
.item_carousel.brand li a.button{
	background-color: #e9e8e8;
	color:#555;
	padding:2px 8px 0px;
	height: 18px;
	line-height: 18px;
	margin-top: 5px;
	text-decoration: none;
	bottom:5px;
	position: absolute;
	text-transform: uppercase;
}
.item_carousel.brand li a.button.hover{
	background-color: #000;
	color:#fff;
}
.item_carousel.brand li:hover a.button{
	background-color: #000;
	color:#fff;
}

/* Products Carousel : Boutique Page
-------------------------------------------------------------- */
.item_carousel.boutique.rows1{height:270px;}
.item_carousel.boutique.rows2{height:540px;}
.item_carousel.boutique .rows1{height:270px;}
.item_carousel.boutique .rows2{height:540px;}

.item_carousel.boutique { padding-top:10px;}
.item_carousel.boutique .mask {margin-top:0px;}
.item_carousel.boutique .prev, .item_carousel.boutique .next { height:270px; }
.item_carousel.boutique li { width: 176px; height: 270px;  display:none; }
.item_carousel.boutique li a.picture{ height:180px; }
.item_carousel.boutique li .details{ text-align: center; }
.item_carousel.boutique li .details .uppercase{ text-transform: uppercase;}


/* Products Carousel : Home Page
 * Not merge to boutique so that it stays independant.
-------------------------------------------------------------- */
.item_carousel.home.rows1{height:270px;}
.item_carousel.home.rows2{height:540px;}
.item_carousel.home .rows1{height:270px;}
.item_carousel.home .rows2{height:540px;}

.item_carousel.home { padding-top:10px;}
.item_carousel.home .mask {margin-top:0px;}
.item_carousel.home .prev, .item_carousel.home .next { height:270px; }
.item_carousel.home li { width: 176px; height: 270px;  display:none; }
.item_carousel.home li a.picture{ height:180px; }
.item_carousel.home li .details{ text-align: center; }
.item_carousel.home li .details .uppercase{ text-transform: uppercase;}


/* Article products Carousel
-------------------------------------------------------------- */
.item_carousel.article { padding-top:10px;}
.item_carousel.article.rows1{ height:285px;}
.item_carousel.article .mask {margin-top:0px;margin:0 75px;width:800px;}
.item_carousel.article .prev, .item_carousel.article .next { height:190px; }
.item_carousel.article li { width: 160px; height: 290px; padding:0; margin:0 ;}
.item_carousel.article li div.picture{ position: relative; }
.item_carousel.article li a.picture{ height:170px; margin:0 auto;}
.item_carousel.article li .details{ text-align: center; margin-top:15px; padding:0 5px;}

.item_carousel.article li .details h3{
	font-size: 11px;
	letter-spacing: 0.03em;
	line-height: 1.4em;
	font-weight: normal;
}
.item_carousel.article li .details .uppercase{ text-transform: uppercase;}

.item_carousel.article.small li{height:230px;}

/* News Carousel : News Page
 * Article display (not one product slider)
-------------------------------------------------------------- */
.item_carousel.news.rows1{ height:220px;padding-top:0;}
.item_carousel.news ul.without-mask {margin-left:7px;}

.item_carousel.news .mask {margin-top:0px;margin:0 75px;width:800px;}
.item_carousel.news .prev, .item_carousel.news .next { height:115px; }
.item_carousel.news li { width: 150px; height: 220px; padding:0; margin:0 5px;}
.item_carousel.news li div.picture{ position: relative;  width: 150px;height:115px;}
.item_carousel.news li a.picture{ height:115px; width:150px;margin:0 auto;}
.item_carousel.news li .details{ text-align: center; margin-top:15px;}
.item_carousel.news li .details .uppercase{ text-transform: uppercase;}
.item_carousel.news li .details p{ line-height: 1.1em;}

/* Small News Carousel : Company intro for example
-------------------------------------------------------------- */
.item_carousel.news.small.rows1{ height:180px;padding-top:0;}
.item_carousel.news.small li { width: 150px; height:180px; padding:0; margin:0 5px;}


/* Events Carousel : Calendar Page
-------------------------------------------------------------- */
.item_carousel.events.rows1{ height:180px;padding-top:0;}
.item_carousel.events .mask {margin-top:0px;margin:0 45px;width:700px;}
.item_carousel.events .prev, .item_carousel.events .next { height:130px; }


.item_carousel li.item .product {
	position: relative;
}
.item_carousel .sex {
	position:absolute;
	right:0;
	bottom:5px;
	z-index: 10;
}

/* Product Page */
div.product-top-right,
div.product-top-left{
	position:absolute;top:43px;max-width: 280px;
	color:#aaa
}
div.product-top-right a,
div.product-top-left a {
	color:#aaa;
}
div.product-top-right{
	right:40px;
}
div.product-top-left{
	left:40px;
}


/* Genders
-------------------------------------------------------------- */
.icon24 {
	margin-top:5px;
	width: 24px;
	height: 24px;
	display: block;
}

.icon24.sex_female,
.icon24.sex_1 {background: url(../images/icon_sex1.png) no-repeat top left;}
.icon24.sex_male,
.icon24.sex_2 {background: url(../images/icon_sex2.png) no-repeat top left;}
.icon24.sex_unisex,
.icon24.sex_3 {background: url(../images/icon_sex3.png) no-repeat top left;}

.icon {
	width: 16px;
	height: 16px;
	display: block;
	cursor: pointer;
}
.icon.clear-field {
	background: url(../images/btn_trash.png) no-repeat top left;
	margin-top:2px;
}


div.gender input{
	margin-top:5px;
}
div.gender span.ui-radio{
	margin-top:5px;
	margin-right:0;
}

label.sex1,
label.sex2 {
	display: block;
	float: left;
	height:32px;
	width: 32px;
	margin-right:10px;
	text-indent: -999em;
}
label.sex1{
	background: url(../images/icon_32_sex1.jpg) no-repeat top left;
}

label.sex2 {
	background: url(../images/icon_32_sex2.jpg) no-repeat top left;
	margin-right:0;
}

/* Account : Dashboard
-------------------------------------------------------------- */
#account_profile { background: url(../images/account/block_profile.jpg) no-repeat top left; }
#account_purchases { background: url(../images/account/block_purchases.jpg) no-repeat top left; }
#account_contacts { background: url(../images/account/block_contacts.jpg) no-repeat top left; }
#account_newsletter { background: url(../images/account/block_newsletter.jpg) no-repeat top left; }


/* Account : Profile (form)
-------------------------------------------------------------- */
form.profile .input-box {margin-right:0;}
form.profile input.input-text {width:338px;}
form.profile select {width:344px;}
form.profile .fieldset.password { padding-left:124px; }
form.profile .fieldset.password input.input-text { width:318px; }

div.dob-container {
	padding-top:5px;
	background: url(../images/icon_birthday.jpg) no-repeat right top;
	height:30px;
	width:380px;
}

/* Company : Team
-------------------------------------------------------------- */
.team p.title,
.team p.subtitle {
	font-size: 11px;
	margin:0;padding:0 0 0 15px;
	font-weight: bold;
}
.team p.title {
	margin-top: 20px;
	text-transform: uppercase;
}

.team div.text {
	padding:15px;
}

/* Ajax message box
-------------------------------------------------------------- */
.ajx-message {
	margin-bottom: 10px;
	display:none;
}
.ajx-message a{
	color:#fff;
	text-decoration: underline;
}
.ajx-message.success,
.ajx-message.error {
	color:#fff;
	font-weight: normal;
}
.ajx-message.success{background-color: #478F0D; }
.ajx-message.error {background-color: #9e0e0e;}
.ajx-message-content {
	text-align: center;
	padding:12px 8px;
}


/* My Nose : Welcome
-------------------------------------------------------------- */
div.mynose-welcome h3{
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
}
div.mynose-welcome {text-align: center; }
div.mynose-welcome a{
	display: block;
/*
	height: 190px;
*/
	text-decoration: none;
}
div.mynose-welcome p{
	margin:0;
}

/* My Nose
-------------------------------------------------------------- */

/* Form */
#diagnoseForm dl { margin:5px 0 5px 0; }
#diagnoseForm #diagnosePerfumesForm h4 {
	font-weight: normal;
	font-size: 11px;
	border-bottom: solid 1px #000;
	margin-top:5px;
	margin-bottom:15px;
}
#home-diag #diagnoseForm #diagnosePerfumesForm h4 {
	margin-bottom:25px;
}

select {
  -webkit-appearance: button;
  -webkit-border-radius: 0px;
  -webkit-padding: 3px;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 3px;
  -webkit-padding-before: 3px;
  -webkit-padding-after: 3px;
  -webkit-user-select: none;
  background-image: url(../images/i_select_down.gif);
  background-position: center right;
  background-repeat: no-repeat;
  }
#diagnoseFormBottom{
	padding-left:100px;
	margin-top:5px;
}
#diagnoseFormBottom div{
	margin-top:5px;
	height:20px;
}
#diagnoseTime {
	float:left;
	width:220px;
	margin-right: 20px;
}
#diagnoseBrands {
	float:left;
	width:140px;margin-right: 20px;
}
#diagnosePerfumes {
	float:left;
	width:210px;
}
#diagnoseTimeGraph {width: 90px;float:left;	padding-top:2px;}
#diagnoseTimeGraph span{
	display: block;
	text-align: center;
}
#diagnoseTimeGraph span.img{
	background: url(../images/mynose/bg_form_perfume_worn_fr.gif) no-repeat 50% 50%;
	width:90px;height: 80px;
}
#diagnoseTimeGraph span.img.fr{	background: url(../images/mynose/bg_form_perfume_worn_fr.gif) no-repeat 50% 50%;}
#diagnoseTimeGraph span.img.en{	background: url(../images/mynose/bg_form_perfume_worn_en.gif) no-repeat 50% 50%;}
#diagnoseTimeGraph span.img.it{	background: url(../images/mynose/bg_form_perfume_worn_it.gif) no-repeat 50% 50%;}
#diagnoseTimeGraph span.img.de{	background: url(../images/mynose/bg_form_perfume_worn_de.gif) no-repeat 50% 50%;}

#diagnoseHomeGraph{
	background: url(../images/nose_diagnostic_echantillons.png) no-repeat 50% 50%;
	width:90px;height: 90px;
}

#diagnoseTimePeriod {
	width:120px;float: right;
}

#diagnosePerfumesForm .period-field {
	margin-bottom: 10px;
    float:right;
}
#diagnosePerfumesForm .brand-field,
#diagnosePerfumesForm .perfume-field {
	margin-top:9px;
}

#diagnoseForm .perfume-field select {width:188px;}
#diagnoseForm .perfume-field input {width:180px;}
#diagnoseForm input.search-brand {width:125px;}

table.pyramid-notes {
    width:100%;
}
/*
 * Rating with cursor
 *
 */
ul.rating {
	width:275px;
	height:30px;
	margin:0 auto 0 auto;
	padding:0;
	list-style:none;
	clear:both;
	position:relative;
	background: url(../images/mynose/cursor_matrix.png) no-repeat 0 0;
}
ul.rating.left {
	margin:0;
}
ul.rating.n0 {background-position:0 0px}
ul.rating.n1 {background-position:0 -30px}
ul.rating.n2 {background-position:0 -60px}
ul.rating.n3 {background-position:0 -90px}
ul.rating.n4 {background-position:0 -120px}
ul.rating.n5 {background-position:0 -150px}
ul.rating.n6 {background-position:0 -180px}
ul.rating.n7 {background-position:0 -210px}
ul.rating.n8 {background-position:0 -240px}
ul.rating.n9 {background-position:0 -270px}
ul.rating.n10 {background-position:0 -300px}
ul.rating li {
	cursor: default;
	float:left;
	text-indent:-999em;
}
ul.rating li a {
	position:absolute;
	left:0;
	top:0;
	width:25px;
	height:30px;
	text-decoration:none;
	z-index: 200;
	cursor: default;
}
ul.rating li.zero a {left:0px;}
ul.rating li.one a {left:25px;}
ul.rating li.two a {left:50px;}
ul.rating li.three a {left:75px;}
ul.rating li.four a {left:100px;}
ul.rating li.five a {left:125px;}
ul.rating li.six a {left:150px;}
ul.rating li.seven a {left:175px;}
ul.rating li.eight a {left:200px;}
ul.rating li.nine a {left:225px;}
ul.rating li.ten a {left:250px;}

ul.rating.eval li a {
	cursor: pointer;
}
ul.rating.eval li a:hover {
	z-index:2;
	width:275px;
	height:30px;
	overflow:hidden;
	left:0;
	background: url(../images/mynose/cursor_matrix.png) no-repeat 0 0;
	text-decoration: none !important;
}

ul.rating.eval li.zero a:hover {background-position:0 0;}
ul.rating.eval li.one a:hover {background-position:0 -30px;}
ul.rating.eval li.two a:hover {background-position:0 -60px;}
ul.rating.eval li.three a:hover {background-position:0 -90px}
ul.rating.eval li.four a:hover {background-position:0 -120px}
ul.rating.eval li.five a:hover {background-position:0 -150px}
ul.rating.eval li.six a:hover {background-position:0 -180px}
ul.rating.eval li.seven a:hover {background-position:0 -210px}
ul.rating.eval li.eight a:hover {background-position:0 -240px}
ul.rating.eval li.nine a:hover {background-position:0 -270px}
ul.rating.eval li.ten a:hover {background-position:0 -300px}

ul.rating.eval.closed,
ul.rating.eval.closed li,
ul.rating.eval.closed li a
{cursor: default;}
ul.rating.eval.closed li a:hover {background:none !important;cursor: default;}
ul.rating.closed.n5, ul.rating.closed li.five a {opacity: 0.3;-moz-opacity : 0.3;}

div.evaluation.waiting {background-color:#f0f0f0;}
ul.rating.eval.waiting {background-color: #f0f0f0;background: url(../images/mynose/cursor_matrix_pos_0.gif) no-repeat 0 0;}
ul.rating.eval.waiting:hover {background: none;}


.evalLegend {
	width: 275px;
	height: 12px;
	color: #b5b5b5;
}
.evalLegend .minusfive{float:left;margin-left: 8px;}
.evalLegend .zero{float:left;margin-left:117px}
.evalLegend .five{float:left;margin-left: 117px;}

div.evaluation {width: 275px;}
div.evaluation.closed {background: url(../images/mynose/cursor_matrix.png)}


.rating-closed {
	width: 90px;
	height: 18px;
	background: url(../images/mynose/star-matrix-5-nose-closed.png) no-repeat 0 0;
}

/*
 * Wide rating cursors
 *
 */
ul.ratingWide {
	width:363px;
	height:30px;
	margin:0 auto 0 auto;
	padding:0;
	list-style:none;
	clear:both;
	position:relative;
	background: url(../images/mynose/cursor_matrix_33.png) no-repeat 0 0;
}

ul.ratingWide.left {
	margin:0;
}
ul.ratingWide.n0 {background-position:0 0px}
ul.ratingWide.n1 {background-position:0 -30px}
ul.ratingWide.n2 {background-position:0 -60px}
ul.ratingWide.n3 {background-position:0 -90px}
ul.ratingWide.n4 {background-position:0 -120px}
ul.ratingWide.n5 {background-position:0 -150px}
ul.ratingWide.n6 {background-position:0 -180px}
ul.ratingWide.n7 {background-position:0 -210px}
ul.ratingWide.n8 {background-position:0 -240px}
ul.ratingWide.n9 {background-position:0 -270px}
ul.ratingWide.n10 {background-position:0 -300px}
ul.ratingWide li {
	cursor: default;
	float:left;
	text-indent:-999em;
}
.ratingWideLegend {
	clear: both;
	width: 360px;
	height: 12px;
	color: #b5b5b5;
	float: right;
}
.ratingWideLegend .minusfive{float:left;margin-left: 8px;}
.ratingWideLegend .zero{float:left;margin-left:157px}
.ratingWideLegend .five{float:left;margin-left: 157px;}




ul.rating10,
ul.rating100{
	width:90px;
	height:18px;
	margin:0 auto 0 auto;
	padding:0;
	list-style:none;
	clear:both;
	position:relative;
	background: url(../images/mynose/star-matrix-5-nose.png) no-repeat 0 0;
}
ul.rating10{
	background: url(../images/mynose/star-matrix-10-nose.png) no-repeat 0 0;
}
ul.rating10.left,
ul.rating100.left{
	margin:0;
}
/* Rating on 10 : 5 stars, 10 values */
ul.rating10.n0 {background-position:0 0}
ul.rating10.n1 {background-position:0 -18px}
ul.rating10.n2 {background-position:0 -36px}
ul.rating10.n3 {background-position:0 -54px}
ul.rating10.n4 {background-position:0 -72px}
ul.rating10.n5 {background-position:0 -90px}
ul.rating10.n6 {background-position:0 -108px}
ul.rating10.n7 {background-position:0 -126px}
ul.rating10.n8 {background-position:0 -144px}
ul.rating10.n9 {background-position:0 -162px}
ul.rating10.n10 {background-position:0 -180px}
ul.rating10 li {
	cursor: default;
	float:left;
	text-indent:-999em;
}
ul.rating10 li a {
	position:absolute;
	left:0;
	top:0;
	width:18px;
	height:18px;
	text-decoration:none;
	z-index: 200;
	cursor: default;
}

/* add these classes to the ul to effect the change to the correct number of stars */

/* Rating on 10 stars : 10 stars, 10 values
 * Why the CSS marmelade ? because we change the scope 10 times...
 */
ul.rating100{
	background: url(../images/mynose/star-matrix-100-nose.png) no-repeat 0 0;
	width: 180px;
}
ul.rating100.n0 {background-position:0 0}
ul.rating100.n1 {background-position:0 -18px}
ul.rating100.n2 {background-position:0 -36px}
ul.rating100.n3 {background-position:0 -54px}
ul.rating100.n4 {background-position:0 -72px}
ul.rating100.n5 {background-position:0 -90px}
ul.rating100.n6 {background-position:0 -108px}
ul.rating100.n7 {background-position:0 -126px}
ul.rating100.n8 {background-position:0 -144px}
ul.rating100.n9 {background-position:0 -162px}
ul.rating100.n10 {background-position:0 -180px}
ul.rating100 li {
	cursor: default;
	float:left;
	text-indent:-999em;
}
ul.rating100 li a {
	position:absolute;
	left:0;
	top:0;
	width:18px;
	height:18px;
	text-decoration:none;
	z-index: 200;
	cursor: default;
}

/* Diag result Olfactive Pyramid */
div.diagnostic .span-10 {
	width:380px;
	margin-right:20px;
}
div.diagnostic .span-10.last {
	margin-right: 0;
}
div.pyramid  .lW { float: left; clear: left; height: 15px; /* background-color: #df8; */ }
div.pyramid  .rW { float: right; clear: right; height: 15px;}

div.pyramid {
	width: 348px;
	height: 250px;
	padding-top:25px;
	margin-top: 5px;
	background: url(../images/mynose/bg_olfactive_pyramid_fr.jpg?v2) no-repeat top left;
}
div.pyramid.fr {background: url(../images/mynose/bg_olfactive_pyramid_fr.jpg?v2) no-repeat top left;}
div.pyramid.en {background: url(../images/mynose/bg_olfactive_pyramid_en.jpg?v2) no-repeat top left;}
div.pyramid.it {background: url(../images/mynose/bg_olfactive_pyramid_it.jpg?v2) no-repeat top left;}
div.pyramid.de {background: url(../images/mynose/bg_olfactive_pyramid_de.jpg?v2) no-repeat top left;}

div.pyramid-notes {
	width: 220px;

}

div.pyramid-notes td {border-bottom: solid 1px #000;}
div.pyramid-notes td.no-border {border-bottom: none;}
div.pyramid-notes td {
	vertical-align: middle;
	height: 75px;
}


div.diagnostic .families span.family{
	margin-top:15px;
	display:block;
	float:left;
	width: 80px;
}
div.diagnostic .families ul{
	float:right;
}

div.diagnostic .families .families-header{
	height: 30px;
}
div.diagnostic .families .families-header .like,
div.diagnostic .families .families-header .dislike{
	width: 156px; float: right; border-bottom: solid 1px #000;text-align: center;text-transform: uppercase;display: block;margin-right: 20px;
}
div.diagnostic .families .families-header .like{margin-right: 15px;}

div.diagnostic .families .families-footer{
	background: url(../images/mynose/bg_families_rating.png) no-repeat top left;
	height: 27px;
	width: 180px;
	float: right;
}

/* Diag result panels */
div.reco .span-4 {
	width:148px;
}
div.reco div.sample-pic {
	height:150px;
	margin-top:10px;
}
table th.right,
table td.right {
	float:none !important;
	text-align: right;
}

table.diag-results tr {
	height:25px;
}
table.diag-results tr th{
/*
	border-bottom: solid 1px #c0c0c0;
*/
	text-transform: uppercase;
	font-weight: normal;
}
table.diag-results tr td{
	vertical-align: middle;
	padding:0;
/*
	white-space: nowrap;
*/
	padding-right: 10px;
}
table.diag-results tr td.last{
	padding-right: 0;
}
table.diag-results tr td div.evalProductDetail{
	position: relative;
}

table.diag-results .sample-box {
	border: solid 1px #d8d8d8;
	background-color: #fff;
	display: block;
	float: left;
	padding:2px 4px 0px;
	margin-right: 5px;
}
table.diag-results .sample-box.last {
	margin-right:0;
}

.clickmore {
  background: url("../images/mynose/icon_16_lens_plus.png") no-repeat scroll 50% 0 transparent;
  cursor: pointer;
  display: block;
  height: 24px;
  width: 24px;
}

table tr.active .clickmore {
  background: url("../images/mynose/icon_24_lens.png") no-repeat scroll 0 0 transparent;
  height: 24px;
  width: 24px;
}
table tr.active td{
	background-color: #fff;
	font-size:16px;
	line-height: 2.4em;
}

table.diag-results tr.quiet:hover td {background: none;}

/* In reco, rating must be centered */
div.reco ul.rating10 {
	margin-top:10px;
	margin-left:30px !important;
}

/* Highlight block (rounded white in diag / evaluation) */
div.fieldset .highlight-block {
	position:relative;
	margin:0 0 10px;
	padding: 15px;
	background-color: #fff;
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
}
div.samples a {
	display: block;
	float: left;
	padding-right:5px;
	overflow: hidden;
}
div.samples a:hover img,
div.samples a.active img{
	opacity: 1;
}
div.samples a img {
	opacity: 0.7;
	display: block;
}

/* Calendar
-------------------------------------------------------------- */
.events {}
.events li {
	display: block;
	float:left;
	width: 130px;
	height: 180px;
	margin-right:11px;
	cursor: default;
}
.events li .date{
	display: block;
	width: 130px;
	height: 130px;
	margin-bottom:5px;
	background-color: #f0f0f0;
}
.events li .date .day,
.events li .date .month{
	position: relative;
	text-align: center;
	display: block;
	font-size: 30px;
	font-weight: lighter;
	line-height: 30px;
}
.events li .date .contact{
	text-align: center;
	display: block;
	margin-top:3px;
}
.events li .date .diag,
.events li .date .nodiag {
	display: block;
	text-align: center;
	padding:2px;
	vertical-align: middle;
	line-height: 15px;
}
.events li .date .diag{
	margin: 5px 20px;
	color:#000;
	background-color: #fff;
}
.events li .date .nodiag {
	margin: 5px 5px;
	color:#aaa;
}


.events li .event{}
.events li .event .event-label,
.events li .event .event-detail{
	display: block;
	text-align: center;
	line-height: 12px;
}
.events li .event .event-label {
	font-weight: bold;
}


/* Radio / Checbox */
/*
 * The state classes are a little bit complex, because of the doubble class bug in IE6
 * The state class looks like this:
 *
 * .ui-radio-state[-checked][-disabled][-hover] or .ui-checkbox-state[-checked][-disabled][-hover]
 *
 * Examples:
 *
 * .ui-radio-state-checked (simply checked)
 * .ui-radio-state-checked-hover (checked and hovered/focused)
 * .ui-radio-state-hover (unchecked and hovered/focused)
 *
 * If you don´t have to deal with the doubble class bug of IE6 you can also use the simple ui-checkbox-checked, ui-checkbox-disabled, ui-checkbox-hover state-classnames (or: ui-radio-checked...)
 * and the ui-radio/ui-checkbox role-classnames.
 *
 */

.ui-radio-state-disabled,
.ui-radio-state-checked-disabled,
.ui-radio-state-disabled-hover,
.ui-radio-state-checked-disabled-hover {
	color: #999;
}

span.ui-checkbox,
span.ui-radio {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	background: url(../images/radio-check/icon_checkbox.png) 0 -40px no-repeat;
}
span.ui-radio.gender {
	padding-top:5px;
}
span.ui-helper-hidden {
	display: none;
}

label {
	padding: 2px;

}
span.ui-radio-state-hover,
span.ui-checkbox-state-hover {
	background-position: 0 -114px;
}

span.ui-checkbox-state-checked {
	background-position: 0 -1px;
}

span.ui-checkbox-state-checked-hover {
	background-position: 0 -75px;
}
span.ui-radio-state-checked-disabled-hover,
span.ui-radio-state-checked-disabled,
span.ui-radio-state-checked {
	background-position: 0 -161px;
}

span.ui-radio-state-checked-hover {
	background-position: 0 -200px;
}
.ui-radio-disabled,
.ui-checkbox-disabled {
	opacity: 0.7;
}

/* internal  mods */
label.ui-checkbox {
	margin-top: 3px;
}



/* Boutique page
 * -------------------------------------------- */

#advanced-search-list select { width:230px; }
#advanced-search-list label { font-weight:bold; }


/* Atos CB payment
 * -------------------------------------------- */

#payment_form_atos_standard .ccard {
	float:left;
	text-align: center;
	width: 60px;
}
#payment_form_atos_standard .ccard a{
	display:block;
	height: 35px;
	width: 55px;
	margin-bottom: 5px;
}
#payment_form_atos_standard .ccard label{display: none;}
#payment_form_atos_standard .ccard .ui-radio{
	float: none;
	margin-left:20px;
}

/* My Orders table
-------------------------------------------------------------- */

#my-orders-table tbody tr td {
	vertical-align: middle;
}


/* Footer Blocs
-------------------------------------------------------------- */
.footer-container .bloc {
	width:190px;
	float:left;
	padding-left:40px;
}

footer .title,
footer h4 {
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	font-size: 11px;
	letter-spacing: 0.15em;
}
footer .title,
footer h4.title {
	border-bottom: none;
	margin: 2px 10px 10px 0;
}
#newsletter_email,
#email_an {
	width:200px;
}

/* Home diag (same size than scroller)
-------------------------------------------------------------- */
h2.big,
h3.big {
	font-size:16px;
	font-weight: bold;
	margin:0;
	padding:0;
	border:none;
	text-decoration: underline;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	clear: both;
	line-height: 1.4;
	color:#000;
}
.home-top-left-block{
	width: 650px;
	height:490px;
	float:left;
}
#home-diag,
#home-gift {
	padding-top:50px;
	width:650px;
	height: 440px;
/*	border: 1px solid #EFEFEF;*/
	background-color: #efefef;
	position: relative;
	float: left;
}
#home-diag .home-diag-text{
	text-align: center;
	padding:20px 40px;
}
#home-diag .home-diag-text.bottom{
	padding: 10px 40px 5px;
}
#home-diag .home-diag-text p,
#home-gift .home-gift-text p{
	margin: 0;
}

#home-gift .home-gift-text{
	text-align: center;
	padding:20px 50px;
}

#giftcard-panels .pager p.amount {
	display:none;
}


#home-diag #diagnoseForm{
	display: block;
	margin:0 10px;
}


/* Home Scroller (wide)
-------------------------------------------------------------- */
#home-scroller.scroller{
	width: 950px;
	position: relative;
	height: 490px;
}
#home-scroller.scroller .scroller-container {
	width: 950px;
	height: 490px;
	overflow: hidden;
	position: relative;
	clear: left;
}
#home-scroller.scroller .scroller-content div.scroller-panel {
	height: 490px;
	width: 950px;
	position: relative;
	float:left;
}
#home-scroller.scroller .scroller-content div.scroller-panel .video{
	margin:0px;
	width:948px;
	height: 488px;
	border:solid 1px #efefef;
}
#home-scroller.scroller .scroller-content div.scroller-panel a.link {
	height: 490px;
	width: 950px;
	display: block;
}
/* Home Scroller blocs */
#home-scroller.scroller .bloc-home-top{
	float:right;
	background-color: #dfe;
}

/* Top Scroller (Slider Top Page)
-------------------------------------------------------------- */
.top-scroller {
	width:650px;
	float:left;
	margin-right:10px;
}
#scroller.scroller {
	width: 650px;			/* Same as span-165 */
	position: relative;
	height:490px;
}
ul.scroller-nav{
	list-style: none;
	position:absolute;
	z-index: 10000;
	top:10px;
	left:10px;
	padding:0;
}
ul.scroller-nav li {
	padding:0;
	float:left;
	text-transform:uppercase;
	font-size:11px;
	margin-right:5px;
}
ul.scroller-nav li a {
	display:block;
	padding:5px 30px 3px;
	text-decoration:none;
	color:#000;
	background-color: #fff;
	text-align: center;
	line-height: 11px;
	letter-spacing: 0.1em;
	font-weight:lighter;
}
ul.scroller-nav li a:hover {
	text-decoration:none;
	background-color: #000;
	color:#fff;
	display:block
}
ul.scroller-nav li a.selected {
	text-decoration:none;
	background-color: #000;
	color:#fff;
	display:block
}
.scroller-container {
	height: 490px;
	width: 650px;
	overflow: hidden;
	position: relative; /* fix for IE to respect overflow */
	clear: left;
}
.scroller-content div.scroller-panel {
  height: 490px;
  width: 650px; /* change to 560px if not using JS to remove rh.scroll */
  position: relative;
  float:left;
}
.scroller-content div.scroller-panel .video{
	margin:0px;
	width:648px;
	height: 488px;
	border:solid 1px #efefef;
}
.scroller-content div.scroller-panel div.scroller-panel-content {
	border-top: solid 1px #000;
	width:400px;
	height:100px;
	position:absolute;
	z-index: 1;
}
.scroller-content div.scroller-panel a.link {
  height: 490px;
  width: 650px;
  display: block;
}
div.scroller-panel-content div.bg{
	background-color: #fff;
	opacity: 1;
	width:100%;
	height:100%;
	position:absolute;
	z-index: 2;
}
div.scroller-panel-content div.text h2,
div.scroller-panel-content div.text h3{
	font-size: 13px;
	margin:8px 0 5px 0;
    letter-spacing: 0.08em;
	padding:0;
	line-height: 1em;
    font-weight: normal;
}
div.scroller-panel-content div.text p{
    margin-bottom:0;
    letter-spacing: 0;
    text-align: justify;
}
div.scroller-panel-content div.text{
	position:absolute;
	z-index: 3;
	padding:3px 5px;
}
div.scroller-panel-content div.text a{
	font-weight: bold;
	text-decoration: underline;
}

/* News Article
-------------------------------------------------------------- */
.article .article-content {
	overflow: hidden;
}

.article .article-content .strong{
	font-weight: bold !important;
}
/* font-size à 3em et line-height à 1, ce qui correspond en théorie à la hauteur de 2 lignes de texte courant
    et float pour laisser courir le texte */
/*
.article .article-content p:first-letter{
    float: left;
    font-size: 3em;
    line-height: 1;
    margin-right: 0.2em;
}
*/


/* News Article : Big image layout
-------------------------------------------------------------- */

.text a {
	text-decoration: underline;
}
.text a:hover {
	text-decoration: none;
}
.article .article-content .text p {
	text-align: justify;
}
.article .article-content {
	position: relative;
}
.article .article-content .text-scroller-container {
	overflow: hidden;
	position: relative;
}
.article .article-content .text-scroller-content .text-scroller-panel{
	float: left;
}

/* Next + Prev */
.article-content a.next,
.article-content a.prev {
	font-size: 12px;
	text-decoration: underline;
}
.article-content a.next:hover,
.article-content a.prev:hover {
	text-decoration: none;
}
.article-content a.next {
	float:right;
	margin-right:10px;
}
.article-content a.prev {
	float:left;
	margin-left:10px;
}
.article-content .text{padding:10px;font-size: 12px;}

.article-content .textcolumn {
	float: left;
}
.article-content .textcolumn1.text {
	border-right: solid 1px #000;
	padding-right:30px
}
.article-content .textcolumn2.text {
	padding-left:30px
}
.article-media .scroller a.next,
.article-media .scroller a.prev {
	height:490px;
	width:100px;
	position:absolute;
	display:block;
	z-index: 100;
}
.article-media .scroller a.next {
	right:0;
}
.article-media .scroller a.prev {
	left:0;
}
.article-media .scroller a.next:hover {
	background: url(../images/carousel_arrow_next_white.png) no-repeat 98% 50%;
}
.article-media .scroller a.prev:hover {
	background: url(../images/carousel_arrow_prev_white.png) no-repeat 2% 50%;
}



/* Big picture */
.article.article_news_big_picture {}
.article.article_news_big_picture .article-media {float: left;margin-right: 10px;	width: 650px;height: 490px;}
.article.article_news_big_picture .article-content {margin-bottom: 10px;width: 290px;float: left;height: 490px;}
/* Big picture Text scroller */
.article.article_news_big_picture .article-content .text-scroller-container {width: 290px;}
.article.article_news_big_picture .article-content .text-scroller-content {height:470px;}
.article.article_news_big_picture .article-content .text-scroller-content .text-scroller-panel{	width:290px;height:470px;}
/* Big picture Media scroller */
.article.article_news_big_picture .article-media .scroller {width:650px;height:490px;position: relative;}
.article.article_news_big_picture .article-media .scroller-container {width:650px;height:490px;background-color: #fff;}

/* Small picture */
.article.article_news_small_picture {}
.article.article_news_small_picture .article-media {float: left;margin-right: 10px;	width: 390px;height: 390px;margin-left:80px;}
.article.article_news_small_picture .article-content {margin-bottom: 10px;width: 400px;float: left;height: 390px;}
/* Small picture Text scroller */
.article.article_news_small_picture .article-content .text-scroller-container {width: 400px;}
.article.article_news_small_picture .article-content .text-scroller-content {height:370px;}
.article.article_news_small_picture .article-content .text-scroller-content .text-scroller-panel{width:400px;height:370px;}
/* Small picture Media scroller */
.article.article_news_small_picture .article-media .scroller {width:390px;height:390px;position: relative;}
.article.article_news_small_picture .article-media .scroller-container {width:390px;height:390px;background-color: #fff;}
.article.article_news_small_picture .article-media .scroller-content div.scroller-panel {width:390px;height:390px;}
.article.article_news_small_picture .article-media .scroller a.next,
.article.article_news_small_picture .article-media .scroller a.prev {
	height:390px;
}


/* FULL picture */
.article.article_news_full_picture {}
.article.article_news_full_picture .article-media {float: left;margin-right: 10px;	width: 950px;height: 490px;}
.article.article_news_full_picture .article-content {margin-bottom: 10px;width: 780px;margin-left:90px;float: left;height: 400px;}
/* Small picture Text scroller */
.article.article_news_full_picture .article-content .text-scroller-container {width: 790px;height: 340px;margin-top:20px;}
.article.article_news_full_picture .article-content .text-scroller-content {height:340px;}
.article.article_news_full_picture .article-content .text-scroller-content .text-scroller-panel{width:790px;height:340px;}
/* Small picture Media scroller */
.article.article_news_full_picture .article-media .scroller {width:950px;height:490px;position: relative;}
.article.article_news_full_picture .article-media .scroller-container {width:950px;height:490px;}

.article.article_news_full_picture .article-content .textcolumn {
	float: left;
	width: 340px;
	height:340px;
}

/* News picture scroller
-------------------------------------------------------------- */
#news-scroller.scroller {
	width:950px;
	position: relative;
	height:490px;
}
#news-scroller .scroller-container {
	height: 490px;
	width: 950px;
}
#news-scroller .scroller-content div.scroller-panel {
  height: 490px;
  width: 950px;
  position: relative;
}
#news-scroller a.next,
#news-scroller a.prev {
	height:490px;
	width:400px;
	position:absolute;
	display:block;
	z-index: 100;
}
#news-scroller a.next {
	right:0;
}
#news-scroller a.prev {
	left:0;
}
#news-scroller a.next:hover {
	background: url(../images/carousel_arrow_next_white.png) no-repeat 98% 50%;
}
#news-scroller a.prev:hover {
	background: url(../images/carousel_arrow_prev_white.png) no-repeat 2% 50%;
}


/* Press
-------------------------------------------------------------- */
a.top-link {
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: solid 1px #c9c9c9;
	padding:3px 8px 2px;
	line-break: 1.2em;
	vertical-align: middle;
	letter-spacing: 0.1em;
}
a.top-link:hover {
	text-transform: uppercase;
	border-bottom: solid 1px #fff;
	background-color: #000;
	color:#fff;
}
/* Press Article left Bloc
-------------------------------------------------------------- */
.bloc-press {
	width:270px;
	float:left;
	height:470px;
	border: solid 10px #f0f0f0;
	margin-right:10px;
}
.bloc-press h2,
.bloc-press h3,
.bloc-press h4 {
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 11px;
	border-bottom: solid 1px #000;
	margin: 0px 20px 20px;
	letter-spacing: 0.1em;
}

.bloc-press .bloc-press-content{
	padding:20px 30px;
	text-align: center;
}
.bloc-press .bloc-press-content p{
	text-align: center;
}
.bloc-press .bloc-press-content img{
	padding: 10px 5px;
	margin: 20px 0 20px;
	border-bottom: solid 1px #000;
}
.bloc-press .bloc-press-content ul li {
	padding:0 20px 5px;
	text-align: left;
	line-height: 1.5em;
}
.bloc-press .bloc-press-content ul li a{
	text-decoration: underline;
}
.bloc-press .bloc-press-content ul li a:hover{
	text-decoration: none;
}
.bloc-press .bloc-press-content ul li strong{
	display: block;
	float:left;
	text-align: left;
	width:90px;
	font-weight: normal;
}

.press-media {
	width:650px;
	height: 490px;
	float: left;
}


/* Top News Bloc
-------------------------------------------------------------- */
.bloc-news-top {
	height:488px;				/* same as slider ! */
}

.bloc-news-side,
.bloc-news-top {
	width:290px;
	margin-bottom:10px;
/*
	border-top:solid 1px #000;
*/
}
.bloc-news-top .bloc-title,
.bloc-news-side .bloc-title{
	margin-top:10px;
	margin-left:10px;
}
.bloc-news-top .bloc{
	height:478px;				/* same as slider - vertical padding - 2 (border) */
}
.bloc-news {
	clear:both;
	padding:0px 10px;
	margin-bottom: 22px;
}
.bloc-news.first {
	padding-top: 10px;
}
.bloc-news-top .bloc-news.first {
	padding-top: 0px;
}

.bloc-news.last {
	margin-bottom: 0px;
}
.bloc-news p.date{
	font-size:10px;
	margin-bottom: 0;
	color:#aaa;
	letter-spacing: 0.05em;
}
.bloc-news h3,
.bloc-news h4{
	font-size: 11px;
	letter-spacing: 0.1em;
	margin-bottom: 0px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 11px;
}
.bloc-news h3 a,
.bloc-news h4 a{
	text-decoration: none;
}
.bloc-news .thumb {
	width:115px;
	float:left;
	margin: 0 15px 0 0;
}
.bloc-news .PIERRE .thumb  {
	width:115px;
	float:right;
	margin: 0 0 0 15px;
}
.bloc-news .news-content{
	width:140px;
	float:left;
}
.bloc-news .thumb img{
	width:115px;
}
.bloc-news-post {
	height:80px;
	overflow: hidden;
	cursor:pointer;
}
.bloc-news-post:hover h4,
.bloc-news-post:hover .read-more{
/*
	font-weight: bold;
*/
}

.bloc-news-post .read-more {
	margin-top:5px;
}
.bloc-news-post .read-more a{
	color:#000;
	text-decoration: underline;
}

/* Top One article Bloc
-------------------------------------------------------------- */
.bloc-article-intro {
	padding:20px;
	height: 450px;
	background-color: #efefef;
}
.bloc-article-intro .bloc-article-content ul li{
	list-style: square;
	padding-left:20px;
	margin-left:20px;
	margin-bottom: 10px;
}
.bloc-article-intro .bloc-article-content ul li strong{
	font-weight: bold;
	font-size: 14px;
	color: #0096e2;
}


/* Newsletter
-------------------------------------------------------------- */
#newsletter form {
  float: right;
  font-size: 12px;
  position: relative;
}
#newsletter form input[type=text] {
  border: 1px solid #BFBFBF;
  width: 170px;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 0px;
}
#newsletter form label {
  position: absolute;
  right: 190px;
  width: 190px;
  top: 5px;
}
#newsletter form button {
  position: absolute;
  top: 6px;
  right: 12px;
  border: 0;
  background: #FFF;
  color: #333;
}
#newsletter-validate-detail button {
	margin-left:10px;
}

/* Standard Padding and Margin classes
-------------------------------------------------------------- */

.p0 { padding: 0 !important; }
.pt0 { padding-top: 0 !important; }
.pl0 { padding-left: 0 !important; }
.pb0 { padding-bottom: 0 !important; }
.pr0 { padding-right: 0 !important; }

.p2 { padding: 2px !important; }
.pt2 { padding-top: 2px !important; }
.pl2 { padding-left: 2px !important; }
.pb2 { padding-bottom: 2px !important; }
.pr2 { padding-right: 2px !important; }

.p3 { padding: 3px !important; }
.pt3 { padding-top: 3px !important; }
.pl3 { padding-left: 3px !important; }
.pb3 { padding-bottom: 3px !important; }
.pr3 { padding-right: 3px !important; }

.p4 { padding: 4px !important; }
.pt4 { padding-top: 4px !important; }
.pl4 { padding-left: 4px !important; }
.pb4 { padding-bottom: 4px !important; }
.pr4 { padding-right: 4px !important; }

.p5 { padding: 5px !important; }
.pt5 { padding-top: 5px !important; }
.pl5 { padding-left: 5px !important; }
.pb5 { padding-bottom: 5px !important; }
.pr5 { padding-right: 5px !important; }

.p6 { padding: 6px !important; }
.pt6 { padding-top: 6px !important; }
.pl6 { padding-left: 6px !important; }
.pb6 { padding-bottom: 6px !important; }
.pr6 { padding-right: 6px !important; }

.p7 { padding: 7px !important; }
.pt7 { padding-top: 7px !important; }
.pl7 { padding-left: 7px !important; }
.pb7 { padding-bottom: 7px !important; }
.pr7 { padding-right: 7px !important; }

.p8 { padding: 8px !important; }
.pt8 { padding-top: 8px !important; }
.pl8 { padding-left: 8px !important; }
.pb8 { padding-bottom: 8px !important; }
.pr8 { padding-right: 8px !important; }

.p9 { padding: 9px !important; }
.pt9 { padding-top: 9px !important; }
.pl9 { padding-left: 9px !important; }
.pb9 { padding-bottom: 9px !important; }
.pr9 { padding-right: 9px !important; }

.p10 { padding: 10px !important; }
.pt10 { padding-top: 10px !important; }
.pl10 { padding-left: 10px !important; }
.pb10 { padding-bottom: 10px !important; }
.pr10 { padding-right: 10px !important; }

.p15 { padding: 15px !important; }
.pt15 { padding-top: 15px !important; }
.pl15 { padding-left: 15px !important; }
.pb15 { padding-bottom: 15px !important; }
.pr15 { padding-right: 15px !important; }

.p20 { padding: 20px !important; }
.pt20 { padding-top: 20px !important; }
.pl20 { padding-left: 20px !important; }
.pb20 { padding-bottom: 20px !important; }
.pr20 { padding-right: 20px !important; }

.p30 { padding: 30px !important; }
.pt30 { padding-top: 30px !important; }
.pl30 { padding-left: 30px !important; }
.pb30 { padding-bottom: 30px !important; }
.pr30 { padding-right: 30px !important; }

.m0  {margin: 0 !important; }
.mt0 { margin-top: 0 !important; }
.ml0 { margin-left: 0 !important; }
.mb0 { margin-bottom: 0 !important; }
.mr0 { margin-right: 0 !important; }

.m1  {margin: 1px !important; }
.mt1 { margin-top: 1px !important; }
.ml1 { margin-left: 1px !important; }
.mb1 { margin-bottom: 1px !important; }
.mr1 { margin-right: 1px !important; }

.m2  {margin: 2px !important; }
.mt2 { margin-top: 2px !important; }
.ml2 { margin-left: 2px !important; }
.mb2 { margin-bottom: 2px !important; }
.mr2 { margin-right: 2px !important; }

.m3 { margin: 3px !important; }
.mt3 { margin-top: 3px !important; }
.ml3 { margin-left: 3px !important; }
.mb3 { margin-bottom: 3px !important; }
.mr3 { margin-right: 3px !important; }

.m4 { margin: 4px !important; }
.mt4 { margin-top: 4px !important; }
.ml4 { margin-left: 4px !important; }
.mb4 { margin-bottom: 4px !important; }
.mr4 { margin-right: 4px !important; }

.m5 { margin: 5px !important; }
.mt5 { margin-top: 5px !important; }
.ml5 { margin-left: 5px !important; }
.mb5 { margin-bottom: 5px !important; }
.mr5 { margin-right: 5px !important; }

.m6 { margin: 6px !important; }
.mt6 { margin-top: 6px !important; }
.ml6 { margin-left: 6px !important; }
.mb6{ margin-bottom: 6px !important; }
.mr6 { margin-right: 6px !important; }

.m7 { margin: 7px !important; }
.mt7 { margin-top: 7px !important; }
.ml7 { margin-left: 7px !important; }
.mb7 { margin-bottom: 7px !important; }
.mr7 { margin-right: 7px !important; }

.m8 { margin: 8px !important; }
.mt8 { margin-top: 8px !important; }
.ml8 { margin-left: 8px !important; }
.mb8 { margin-bottom: 8px !important; }
.mr8 { margin-right: 8px !important; }

.m10 { margin: 10px !important; }
.mt10 { margin-top: 10px !important; }
.ml10 { margin-left: 10px !important; }
.mb10 { margin-bottom: 10px !important; }
.mr10 { margin-right: 10px !important; }

.m15 { margin: 15px !important; }
.mt15 { margin-top: 15px !important; }
.ml15 { margin-left: 15px !important; }
.mb15 { margin-bottom: 15px !important; }
.mr15 { margin-right: 15px !important; }

.m20 { margin: 20px !important; }
.mt20 { margin-top: 20px !important; }
.ml20 { margin-left: 20px !important; }
.mb20 { margin-bottom: 20px !important; }
.mr20 { margin-right: 20px !important; }

.m25 { margin: 25px !important; }
.mt25 { margin-top: 25px !important; }
.ml25 { margin-left: 25px !important; }
.mb25 { margin-bottom: 25px !important; }
.mr25 { margin-right: 25px !important; }

.m30 { margin: 30px !important; }
.mt30 { margin-top: 30px !important; }
.ml30 { margin-left: 30px !important; }
.mb30 { margin-bottom: 30px !important; }
.mr30 { margin-right: 30px !important; }

.m35 { margin: 35px !important; }
.mt35 { margin-top: 35px !important; }
.ml35 { margin-left: 35px !important; }
.mb35 { margin-bottom: 35px !important; }
.mr35 { margin-right: 35px !important; }

.m40 { margin: 40px !important; }
.mt40 { margin-top: 40px !important; }
.ml40 { margin-left: 40px !important; }
.mb40 { margin-bottom: 40px !important; }
.mr40 { margin-right: 40px !important; }

.m50 { margin: 50px !important; }
.mt50 { margin-top: 50px !important; }
.ml50 { margin-left: 50px !important; }
.mb50 { margin-bottom: 50px !important; }
.mr50 { margin-right: 50px !important; }

.m80 { margin: 80px !important; }
.mt80 { margin-top: 80px !important; }
.ml80 { margin-left: 80px !important; }
.mb80 { margin-bottom: 80px !important; }
.mr80 { margin-right: 80px !important; }

.m90 { margin: 90px !important; }
.mt90 { margin-top: 90px !important; }
.ml90 { margin-left: 90px !important; }
.mb90 { margin-bottom: 90px !important; }
.mr90 { margin-right: 90px !important; }

.mr-auto {margin-right:auto !important;}
.ml-auto {margin-left:auto !important;}

.w0 {	width:0px !important; }
.w10 {	width:10px !important; }
.w20 {	width:20px !important; }
.w30 {	width:30px !important; }
.w40 {	width:40px !important; }
.w50 {	width:50px !important; }
.w60 {	width:60px !important; }
.w70 {	width:70px !important; }
.w80 {	width:80px !important; }
.w90 {	width:90px !important; }
.w100 {	width:100px !important; }
.w110 {	width:110px !important; }
.w120 {	width:120px !important; }
.w130 {	width:130px !important; }
.w140 {	width:140px !important; }
.w150 {	width:150px !important; }
.w160 {	width:160px !important; }
.w170 {	width:170px !important; }
.w180 {	width:180px !important; }
.w190 {	width:190px !important; }
.w200 {	width:200px !important; }
.w220 {	width:220px !important; }
.w240 {	width:240px !important; }
.w260 {	width:260px !important; }
.w280 {	width:280px !important; }
.w300 {	width:300px !important; }
.w320 {	width:320px !important; }
.w340 {	width:340px !important; }
.w360 {	width:360px !important; }
.w380 {	width:380px !important; }
.w400 {	width:400px !important; }
.w500 {	width:500px !important; }
.w600 {	width:600px !important; }

.h0 {	height:0px !important; }
.h10 {	height:10px !important; }
.h15 {	height:15px !important; }
.h18 {	height:18px !important; }
.h20 {	height:20px !important; }
.h30 {	height:30px !important; }
.h40 {	height:40px !important; }
.h50 {	height:50px !important; }
.h60 {	height:60px !important; }
.h70 {	height:70px !important; }
.h80 {	height:80px !important; }
.h90 {	height:90px !important; }
.h100 {	height:100px !important; }
.h120 {	height:120px !important; }
.h140 {	height:140px !important; }
.h160 {	height:160px !important; }
.h180 {	height:180px !important; }
.h200 {	height:200px !important; }
.h220 {	height:220px !important; }
.h240 {	height:240px !important; }
.h260 {	height:260px !important; }
.h280 {	height:280px !important; }
.h300 {	height:300px !important; }
.h320 {	height:320px !important; }
.h340 {	height:340px !important; }
.h360 {	height:360px !important; }
.h380 {	height:380px !important; }
.h400 {	height:400px !important; }

/* Standard border radius */
.r5 {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.r10 {-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.r15 {-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;}
.r20 {-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;}

/* Facebook Login */
.inchoo-socialconnect-login-lower-facebook { float: left; }