.box-inline { display: flex; width: 100%; box-sizing: border-box; }
.box-inline > *:not(:last-child) { padding-right: 10px; }
.box-inline > *:first-child { text-align: left; margin-right: auto; }
.box-inline > *:last-child { text-align: right; margin-left: auto; }
.box-inline > *.flex { flex: 1; }

.box-inline-center { align-items: center; }

/* Login Form */
.form-list.login input.login-email, .form-list.login input.login-password { width: 245px; }

/* Common */
.text-highlight { font-size: 14px; font-weight: bold; }