.remodal-overlay { background-color: rgba(198, 198, 198, 0.8); }
.remodal { outline: 10px solid rgba(0, 0, 0, 0.3); }
.remodal-close { left: auto; right: 0; }
.remodal-wait { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent url('../images/opc-ajax-loader.gif') no-repeat center; }

.outofstock-container { color: red; }
.outofstock-message p { background: url('../images/outofstocknotify/attention-sign.png') no-repeat left center; padding: 2px 0 2px 30px; margin: 0; }
.outofstock-link a { color: inherit; }
.outofstock-modal { text-align: left; }
.outofstock-modal p { margin-bottom: 20px; }
.outofstock-modal .input-field { margin-bottom: 20px; }
.outofstock-modal input { width: 250px; margin-right: 20px; }
