/* @group PRODUCT */

/* 
 * Depending on attributes ID
 */
.product-view .product-shop .accordion select#attribute181,
table tr td select#attribute181,
.product-view .product-shop .accordion select#attribute122,
table tr td select#attribute122
{
  width: 110px;
}
.product-view .product-shop .accordion select#attribute182,
table tr td select#attribute182,
.product-view .product-shop .accordion select#attribute123,
table tr td select#attribute123
{
  width: 60px;
}

/* Evaluation table Produvt selector */
.evalProductDetail select#attribute122{
	width: 50px;
}

.evalProductDetail select#attribute123{
	width: 80px;
}

#stock-alert .alert,
#stock-notify .alert{
	font-weight: bold;
	color: #a00;
}
#stock-alert-qty {
	font-weight: bold;
}
.scp-please-wait  {
	line-height: 16px;
}


.product-view {
  border-top: 1px solid #000;
  margin: 5px 0 0 40px;
  width:870px;
  float: left;
}
.product-view .product-img-box {
  float: left;
  width: 430px;
  text-align: center;
  position: relative;
  padding: 15px 0;
}
.product-view .product-img-box .slideshow{
  margin-left: 40px;
  height: 320px;
  widows: 320px;
  position: relative;
  overflow: hidden;
}
.product-view .product-img-box .slideshow img{
	position:absolute;
	top:0;
	left:0;
}
.product-view .product-left {
  float: left;
  width: 400px;
  text-align: center;
  position: relative;
  padding: 25px 0;
}



/* Sex icon */
.product-view .perfume-sex {
	width:140px;
	height:31px;
	margin-bottom:20px;
}
.product-view .perfume-sex-1, .product-view .perfume-sex-male {background: url(../images/perfume_sex_1.png) no-repeat top left;}
.product-view .perfume-sex-2, .product-view .perfume-sex-female {background: url(../images/perfume_sex_2.png) no-repeat top left;}
.product-view .perfume-sex-3, .product-view .perfume-sex-unisex {background: url(../images/perfume_sex_3.png) no-repeat top left;}

/* Sample product */
.product-view div.sample-product {
	margin-top:5px;
	margin-bottom: 10px;
	clear:both;
}
div.sample-product .sample-box {
	border: solid 1px #B6B6B6;
	background-color: #fff;
	display: block;
	float: left;
	padding:2px 4px 1px 4px;
	margin-right: 5px;
	text-transform: uppercase;
}
div.sample-product .sample-box.sample{	width: 100px;}
div.sample-product .sample-box.qty{ width: 50px;}
div.sample-product .sample-box.price{ width: 44px;}

div.sample-product .sample-box.last {
	margin-right:0;
}



.product-view .product-img-box .zoom_product {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  background: #ffffff url(../images/zoom_product.png) no-repeat;
  overflow: hidden;
  text-indent: -999px;
}
.product-view .product-shop {
  width: 529px;
  width: 430px;
  float: left;
  padding: 15px 0 20px 0px;
}
.product-view .product-name {
   margin-bottom: 10px !important;
}
.product-view .product-name span{
	text-transform: uppercase;
}

.product-view .product-shop h2 {
  font-size: 11px;
  font-weight: normal;
  margin:0;
  text-transform: uppercase;
}
/* product subtitle (brand) */
.product-view .product-name h3,
.product-view .product-name p.subtitle{
	font-weight: bold;
	letter-spacing: 0.15em;
	font-size: 13px;
	margin:-2px 0 0 0;
	padding:0;
}
.product-view .product-name h3 span {
	text-transform: uppercase;
}

.product-view .product-shop h4 {
  font-size: 11px;
  font-weight: normal;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
.product-view .product-shop .accordion {
  float: left;
  width: 430px;
/*   width: 529px; */
  margin: 0 0 5px 0;
/*   border-top: 1px solid #bfbfbf; */
  padding: 0px 0px 0 0;
  position: relative;
}
.product-view .product-shop .accordion .toggler{
	background: url(../images/accordion/toggler.png) no-repeat top right;
}
.product-view .product-shop .accordion .toggler.open{
	background: url(../images/accordion/toggler.png) no-repeat right -16px;
}



.product-view .product-shop {
	font-size: 11px;
	letter-spacing: normal;
}
.product-view .product-shop p{
	padding-right:30px;
	letter-spacing: 0.03em;
}
@media screen and (max-width: 550px) {
  .product-view .product-shop p{
    padding-right:0px;
  }
}
.product-view .product-shop p a{
	padding:3px 0 0 0;
	font-weight: normal;
}
.product-view .product-shop p a:hover{
}

.product-view .product-shop .twitter-share-button {
	float:left;
}


.product-view p.creator {
	margin-bottom:3px;
}
.product-view .product-shop .social-network{
	margin-top:10px;
}


.product-view .product-shop .accontent,
.cart .accontent {
	display:none;
}

/*
.product-view .product-shop .accordion p.creator {
	font-weight: bold;
}
.product-view .product-shop .accordion p.creator a{
	text-decoration: underline;
}
*/
.product-view .product-shop .accordion .input-box,
table tr td .input-box {
  float: left;
  margin-right: 5px;
}
/*
.product-view .product-shop .accordion .large_select {
  width: 150px;
}
.product-view .product-shop .accordion .small_select {
  width: 80px;
}
*/
.product-view .product-shop .accordion .price-box,
table tr td .price-box {
  border: 1px solid #bfbfbf;
  float: left;
  margin: 0 5px 0 0;
  padding: 2px 4px 0px;
}
.product-view .product-shop .accordion #qty,
.evalProductDetail #qty {
  padding: 3px 0px 1px;
  float: left;
  margin: 0;
}
.product-view .product-shop .accordion .qty_change,
.cart-table td .qty_change,
.evalProductDetail .qty_change {
  float: left;
  display: inline-block;
  width: 14px;
  height: 24px;
  line-height: 1.6em;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
}
.product-view .product-shop .accordion button {
  text-transform: uppercase;
  margin: 0;
  font-size: 11px;
  height: 20px;
  
}
.product-view .product-shop .accordion button.btn-product,
table tr td button.btn-product {
  position: absolute;
  right:0;
}
table tr td button.btn-product {
  top:0;
}

.button.bag {
  background: url(../images/product/bag_add.png) no-repeat top left;
  padding-left:25px;
}
.button.bag.disabled {
  background: url(../images/product/bag.png) no-repeat top left;
  padding-left:25px;
  cursor: default;
}
.button.disabled span {
	background-color: #999999;
/* 	color:#000; */
}

.product-view .product-shop .accordion button.btn-sample {
  float:right;
}
button.btn-sample span {
  background: #eaeaea;
  color: #000;
}
button.gray span {
  background: #eaeaea;
  color: #000;
}
button.gray span {
  background: #eaeaea;
  color: #000;
}

/*
.product-view .product-shop .accordion button span {
  color: #FFF;
  background-color: #000;
}
*/
.product-view .product-shop .accordion dl {
  float: left;
  width: 520px;
  width: 430px;
  margin: 0 0 0;
}
.product-view .product-shop .accordion dl.gray {
  background: #eaeaea;
}
.product-view .product-shop .accordion dl dt {
  float: left;
  width: 25%;
  clear:both;
  padding: 1px 3% 1px 2px;
}
.product-view .product-shop .accordion dl dt.gray {
  background: #eaeaea;
}
.product-view .product-shop .accordion dl dd {
  float: left;
  width: 68%;
  padding: 1px 3% 1px 2px;
/*   text-transform: uppercase; */
}
.product-view .product-shop .accordion dl dd.gray {
  background: #eaeaea;
}
.product-view .product-shop .accordion_toggle {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid #BFBFBF;
  width: 14px;
  height: 14px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.product-view .product-shop .accordion_toggle:hover {
  background: #000;
  color: #FFF;
  border: 1px solid #000;
}

/* More product's views : Image switcher */
.product-view .product-img-box .more-views {
  width: 410px;
  border-top: 1px solid #000;
  margin-top: 15px;
  padding-top:15px;
  position: relative;
}
.product-view .product-img-box .more-views a {
}

/* Related products */
/*
.product-view .product-related {
  float: left;
  width: 390px;
  height:150px;
  border-top: 1px solid #000;
  margin-top: 25px;
  padding-top:25px;
  position: relative;
}
.product-view .product-related img{
	display:block;
	margin-bottom:10px;
}
.product-view .product-related a{
	display:block;
}
.product-view .product-related ul {
  position: absolute;
  height: 160px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
.product-view .product-related ul li {
  float: left;
  display: none;
  width: 110px;
  height: 160px;
}
.product-view .product-related .mask {
  position: relative;
  overflow: hidden;
  width: 330px;
  margin-left: 30px;
  height:150px;
}
.product-view .product-related .prev, .product-view .product-related .next {
  position: absolute;
  top: 30px;
  width: 30px;
  height: 120px;
  cursor: pointer;
  overflow: hidden;
  text-indent: -999px;
}
.product-view .product-related .prev {left: 0px; background: url(../images/carousel_arrow_prev.png) no-repeat 50% 50%;}
.product-view .product-related .next {right: 0px; background: url(../images/carousel_arrow_next.png) no-repeat 50% 50%;}

.product-view .product-related .prev.disabled, .product-view .product-related .next.disabled {
  opacity: .25;
}
*/
.product_boutique {
  border-bottom: 2px solid #000;
  padding: 3px 0;
  text-transform: uppercase;
  margin-top: 20px;
  float: left;
  width: 100%;
}

/* Diagnose Product View
 * Product view in the context of 2 columns
 * -------------------------------------------- */
.product-view.col2 {
	border-top: none;
	margin: 10px 0 0 0;
	width: 780px;
}
.product-view.col2 .product-img-box {
  width: 330px;
  padding: 25px 0;
}
.product-view.col2 .product-left {
  width: 280px;
  padding: 25px 0;
}
.product-view.col2 .product-shop {
  width: 430px;
  padding: 20px 0 20px 20px;
}
.product-view.col2 .product-shop .accordion {
   width: 430px; 
  margin: 5px 0;
/*   border-top: 1px solid #bfbfbf; */
  padding: 0px 0px 0 0;
}
.product-view.col2 .product-shop .accordion dl {
  float: left;
  width: 430px;
  margin: 0 0 0px;
}
.product-view.col2 .product-shop .accordion dl dt {
  width: 30%;
}
.product-view.col2 .product-shop .accordion dl dd {
  width: 62%;
}
.product-view.col2 .product-img-box .slideshow{
  margin-left: 0;
}

.product-view.col2 .product-img-box .more-views{
	width:330px;
}

/* Cart Quantity Change */
.product-view.col2 .product-shop .cart-qty {
	float:left;
}

/*
.product-view.col2 .product-shop button.btn-product {
	position: relative;
	clear:both;
	top:auto;
	float:right;
	margin-top:20px;
}
*/
.product-view.col2 .product-shop .accordion .input-box {
  margin-right: 5px;
  margin-bottom: 0;
}

/*
#boutique_carousel {
  width: 100%;
  float: left;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  margin-top: 2px;
  position: relative;
}
#boutique_carousel h3 {
  background: #000;
  color: #FFF;
  font-size: 13px;
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px 20px 5px 10px;
  z-index: 10;
}
#boutique_carousel ul {
  position: absolute;

  overflow: hidden;

  margin: 25px 0;
  padding: 0;
  list-style: none;
}
#boutique_carousel li {
  float: left;
  display: inline;
  width: 220px;
  height: 300px;
  text-align: center;
}
#boutique_carousel .prev, #boutique_carousel .next {
  position: absolute;
  left: 10px;
  top: 120px;
  width: 10px;
  height: 15px;
  background: url(../images/carousel_arrows.png) no-repeat 0 0;
  cursor: pointer;
  overflow: hidden;
  text-indent: -999px;
}
#boutique_carousel .prev.disabled, #boutique_carousel .next.disabled {
  opacity: .25;
}
#boutique_carousel .next {
  background-position: -10px 0;
  left: auto;
  right: 10px;
}
#boutique_carousel .mask {
  position: relative;
  overflow: hidden;
  width: 880px;
  margin-left: 35px;
}
*/


.hide {
  display: none;
}
/* @end */