<?php $_customerSession = Mage::getSingleton('customer/session'); ?>

<script type="text/javascript">
    function openPrehomeModal(code) {
        if (Cookies.get('prehome_popin_' + code) != 1) {
            if (jQuery('#' + code).length) {
                jQuery('#' + code).addClass('visible');
                Cookies.set('prehome_popin_' + code, 1);
            }
        }
    }
</script>

<?php $_code = $this->getPopinCode(); ?>
<?php if ($_code) : ?>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var code = '<?php echo $_code; ?>';
            openPrehomeModal(code);
        });
    </script>
<?php elseif (!$_customerSession->isLoggedIn()) : ?>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var code = 'registerModal';
            openPrehomeModal(code);
        });
    </script>
<?php endif; ?>
