<?php
/**
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2010 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<div class="buttons-set center mb20">
	<button type="button" class="button" onClick="setLocation('<?php echo $this->escapeUrl($this->getBackUrl()) ?>');"><span><span><?php echo $this->__('Back') ?></span></span></button>
</div>
