<?php
/**
 * Slideshow : Image switcher. Product standard view.
 *
 */

/**
 * Product media data template
 *
 * @see Mage_Catalog_Block_Product_View_Media
 */
?>
<?php
$_product = $this->getProduct();
$_helper = $this->helper('catalog/output');
?>

<?php if (count($this->getGalleryImages()) > 0): ?>

  <div class="product-photos">

    <?php $url = Mage::getBaseDir('media') . '/wysiwyg/360/' . $_product->getID() . '/image1.jpg'; ?>

    <?php if (file_exists($url)) : ?>

      <div class="photo-container loading">
        <img class="product-photo roundabout loading" data-path="<?php echo Mage::getBaseUrl('media'); ?>wysiwyg/360/<?php echo $_product->getID(); ?>/" data-front="29" src="<?php echo Mage::getBaseUrl('media'); ?>wysiwyg/360/<?php echo $_product->getID(); ?>/image1.jpg">
      </div>

    <?php endif; ?>

    <?php $_iterator = 0; ?>

    <?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>

      <?php
      $_img = '<img class="product-photo" src="'.$this->helper('catalog/image')->init($_product, 'image')->keepTransparency(true)->resize(800).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" data-id="' . $_iterator . '"/>';
      echo $_helper->productAttribute($_product, $_img, 'image');
      ?>
      <?php $_iterator++; ?>

    <?php endif; ?>

    <?php foreach ($this->getGalleryImages() as $_image): ?>

      <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), '800', $_image->getFile())->keepTransparency(true)->resize(800); ?>" class="product-photo" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>" data-index="<?php echo $_iterator; ?>">
      <?php $_iterator++; ?>

    <?php endforeach; ?>

  </div>

<?php else: ?>

  <div class="product-photos">

    <?php $url = Mage::getBaseDir('media') . '/wysiwyg/360/' . $_product->getID() . '/image1.jpg'; ?>

    <?php if (file_exists($url)) : ?>

      <div class="photo-container loading">
        <img class="product-photo roundabout loading" data-path="<?php echo Mage::getBaseUrl('media'); ?>wysiwyg/360/<?php echo $_product->getID(); ?>/" data-front="29" src="<?php echo Mage::getBaseUrl('media'); ?>wysiwyg/360/<?php echo $_product->getID(); ?>/image1.jpg">
      </div>

    <?php endif; ?>

    <?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>

      <?php
      $_img = '<img class="product-photo" src="'.$this->helper('catalog/image')->init($_product, 'image')->keepTransparency(true)->resize(800).'" data-id="0" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
      echo $_helper->productAttribute($_product, $_img, 'image');
      ?>

    <?php endif; ?>

  </div>

<?php endif; ?>