<?php
function sum($carry, $item) {
    $carry += $item['rate'];
    return $carry;
}
?>

<?php $_reviews = $this->getReviews(); ?>
<?php if (count($_reviews)) : ?>
    <div class="client-reviews">
        <h3 class="page-title"><?php echo $this->__('Client reviews'); ?></h3>
        <?php $_avg = array_reduce($_reviews, "sum") / count($_reviews); ?>
        <div class="centered" style="margin-top: 1rem;">
            <div class="stars n<?php echo $_avg * 2; ?>"></div>
            <p class="centered" style=" display: inline-block; margin: 0;"><?php echo $_avg; ?> / 5 (<?php echo count($_reviews); ?> <?php echo $this->__('review'); ?><?php if (count($_reviews > 1)) { echo 's'; } ?>)</p>
        </div>
        <div class="product-reviews">
            <?php foreach ($_reviews as $_review) : ?>
                <ul>
                    <li class="product-review">
                        <div class="centered">
                            <div class="stars n<?php echo $_review['rate'] * 2; ?>"></div>
                            <div class="rate"><?php echo $_review['rate']; ?> / 5</div>
                        </div>
                        <div class="review-content">
                            <div class="review-author">By <?php echo $_review['firstname'] . ' ' . $_review['lastname']; ?>: <?php echo date("Y/m/d", strtotime($_review['review_date'])); ?></div>
                            <div class="review-message"><?php echo nl2br($_review['review']); ?></div>
                        </div>
                    </li>
                </ul>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>