/* 

Minibuzz - CSS File For s3Slider JQuery

*/
#s3slider { 
   width: 660px; /* important to be same as image width */ 
   height: 490px; /* important to be same as image height */
   position: relative; /* important */
   overflow: hidden; /* important */
}

#s3sliderContent {
   width: 660px; /* important to be same as image width or wider */
   height: 490px;
   position: absolute; /* important */
   top: 0; /* important */
   padding:0;
   margin:0px ;/* important */
   list-style-type:none !important;
}

.s3sliderImage {
   float: left; /* important */
   position: relative; /* important */
   display: none; /* important */
   width: 660px; /* important to be same as image width or wider */
   height: 490px;
}
.s3sliderImage img{
	position: absolute;
}

.s3sliderImage > div {
	position: absolute; /* important */
/*	width: 450px !important;
	height:150px;
/*	padding:29px 30px 20px 30px;*/
	padding:0;
	background-color: #000;
	filter: alpha(opacity=60); /* here you can set the opacity of box with text */
	opacity: 0.6; /* here you can set the opacity of box with text */
	color: white;
	display: none; /* important */
	/*
	if you put
	top: 0; -> the box with text will be shown at the top of the image 
	if you put
	bottom: 0; -> the box with text will be shown at the bottom of the image
	*/
}
.s3sliderImage div.s3sliderText {
	padding:0px;
}

.s3sliderImage div.right {
	left: auto;
	right:0;
	top:0;
	width: 180px !important;
	height:490px;
}
.s3sliderImage div.bottom {
   left:0;
   bottom:0;
   max-width: 450px;
}
.s3sliderImage div div {
	margin:20px;
}
.clear {
   clear: both;
} 