/*

Nose website CSS
Demo version. Not to be used in production

Copyright:
	Copyright (c) 2011 Partikule Studio
	http://www.partikule.net
	
*/


body {
	font-family: Helvetica, Arial, sans-serif;
	font-size:11px;
/*	background:url(../images/body_bg_pattern1.png);*/
	background-repeat:repeat;
	background-position:top;
	background-attachment:fixed;
/*	background-color:#f5f5f5;*/
	background-color: #fff;
	color:#000;
}

/* Blueprint addons
-------------------------------------------------------------- */
.colborder {border-right:0;}
.span-33 {
	width:310px;
	float:left;
	margin-right:10px
}
.span-33.last {
	margin-right:0
}

.span-24.center{
	text-align: center;
}

/* 650px width : between 16 and 17... */
.span-165 {
	width:630px;
	float:left;
	margin-right:10px;
}

h2 {}
h3 {}

h2.title,
h3.title,
h3.title2 {
	text-transform: uppercase;
}

h2.title {
	display:inline;
	padding:8px 10px 2px 10px;
	font-size: 22px;
	line-height: 22px;
	height:22px;
	font-weight: normal;
	background-color: #000;
	color: #fff;
	margin:0;
}

h4.title {
	font-size: 12px;
	line-height: 12px;
	padding:8px 10px 5px 10px;
	margin: 0 0 10px 0;
	display: block;
	float: left;
	font-style: italic;
	font-weight: 400;
	background-color: #000;
	color: #fff;
}

h3.title{
	clear:both;
	font-size: 16px;
	margin-bottom:10px;
	margin-top: 10px;
	display: block;
	font-weight: normal;
	color: #000;
	border-bottom: solid 2px #000;
}



h4, h5 { 
	text-transform:uppercase;
}

/* Typography
-------------------------------------------------------------- */
/* Brand Detail Page*/
h2.brand.title {
	font-size: 24px;
	line-height: 24px;
	padding:5px 10px 3px 10px;
}
p.brand.subtitle {
	font-style: italic;
	color:#000;
	font-size: 1.3em;
	width:600px;
	margin:10px auto 0 auto;
	background: #fff;
}



/* Global
-------------------------------------------------------------- */
div.img {
	overflow: hidden;
}
.imgborder {
	background-color: #F6F6F6;
	border: 1px solid #EAEAEA;
	padding: 4px;
}
.nomargin {
	margin:0!important
}
a{
	color:#000;
	text-decoration: underline;
}
a:hover {
	color:#9b0441;
	color:#333;
}

/* Main Containers
-------------------------------------------------------------- */

#container {
	margin-top:20px;
}

#header {
	height: 75px;
	margin-bottom: 12px;
}


#logo {
	width:300px;
	height:75px;
	float:left;
	position:relative
}

#logo h1 {
	text-indent:-9999em;
	height:75px
}

#logo a {
	background:url(../images/logo.png) no-repeat 0 0;
	text-indent:-9999em;
	width:350px;
	height:75px;
	position:absolute;
	top:0;
	left:0;
	z-index:2
}

p.breadcrumb {
	margin:0;
}
p.breadcrumb a {
	text-decoration: none;
}
p.breadcrumb a:hover {
	text-decoration: underline;
}

/* Secondary containers
-------------------------------------------------------------- */

.bloc {
	border:solid 1px #727272;
}
.pad {
	padding:10px;
	background-color: #fff;
}
.bloc.white,
.pad.white {
	background-color: #fff;
}

/* 3 home blocs */
.home-third-bloc {
	height:270px;
}
/*
.home-top10 h4{
	font-size:12px;
	text-align: center;
	font-weight: bold;
	margin:0;
}
*/
.home-top10 {
	border-bottom: solid 1px #bfbfbf;
}
.home-top10 h5{
	font-size:12px;
	text-align: center;
	font-weight: bold;
	margin:0;
}
.home-top10 h6{
	font-size:10px;
	text-align: center;
	font-weight: normal;
	margin:0;
}
.home-top10 .span-3{
	margin-right:4px;
	text-align: center;
}

.bloc-brand {
	height: 201px;
	margin-bottom:10px;
	cursor: pointer;
}
.bloc-brand.small {
	height: 120px;
	margin-bottom:10px;
}

/* One product on the brand page */
.bloc-brand-product {
	padding:10px 0;
	position: relative;
	margin-bottom:15px;
}
.bloc-brand-product.hover,
.bloc-brand-product.hover p,
.bloc-brand-product.hover h4,
.bloc-brand-product.hover h5,
.bloc-brand-product.hover p
{
	color:#333;
}
.bloc-brand-product h4{
	font-weight: bold;
	font-size: 12px;
	margin: 5px 0 0 0;
}
.bloc-brand-product h5{
	font-weight: normal;
	font-size: 10px;
	margin: 0 0 5px 0;
}
.bloc-brand-product .picture{
	width:150px;
	overflow: hidden;
	float:left;
	height:150px;
	text-align: center;
}

.bloc-brand-product .desc{
	width:130px;
	height: 170px;
	overflow: hidden;
	float:left;
	background-color: ##fd9;
	position: relative;
}

.bloc-brand-product a.button{
	background-color: #bbb;
	color:#393938;
	padding:3px 5px 1px;
	margin-top: 5px;
	text-decoration: none;
	bottom:0;
	position: absolute;
	text-transform: uppercase;
	font-style: italic;
}
.bloc-brand-product a.button:hover,
.bloc-brand-product a.button.hover{
	background-color: #000;
	color:#fff;
}
.bloc-brand-product .icon24 {
	position: absolute;
	right:10px;
	top:10px;
}

.icon24 {
	width: 24px;
	height: 24px;
	display: block;
}

.icon24.sex1 {background: url(../images/icon_sex_1.jpg) no-repeat top left;}
.icon24.sex2 {background: url(../images/icon_sex_2.jpg) no-repeat top left;}
.icon24.sex3 {background: url(../images/icon_sex_3.jpg) no-repeat top left;}


/* Brand Scroller
-------------------------------------------------------------- */
.brand-scroller {
	width:650px;
	float:left;
	margin-right:10px;
}

.scroller {
	width: 650px;			/* Same as span-165 */
	position: relative;
	height:490px;
}
ul.scroller-nav{
	list-style: none;
	position:absolute;
	z-index: 10;
	top:15px;
	left:15px;
	padding:0;
}
ul.scroller-nav li {
	padding:0;
	float:left;
	text-transform:uppercase;
	font-size:11px;
	margin-right:10px;
}

ul.scroller-nav li a {
	display:block;
	padding:8px 8px 5px 8px;
	text-decoration:none;
	color:#000;
	background-color: #f5f5f5;
	text-align: center;
	line-height: 11px;
	font-style: italic;
}

ul.scroller-nav li a:hover, {
	text-decoration:none;
	background-color: #000;
	color:#fff;
	display:block
}
ul.scroller-nav li a.selected {
	text-decoration:none;
	background-color: #000;
	color:#fff;
	display:block
}



.scroller-container {
	height: 490px;
	width: 650px;
	overflow: auto;
	position: relative; /* fix for IE to respect overflow */
	clear: left;
	background: #f5f5f5;
}
.scroller-content div.scroller-panel {
  height: 490px;
  width: 650px; /* change to 560px if not using JS to remove rh.scroll */
  position: relative;
}
.scroller-content div.scroller-panel div.scroller-panel-content {
	border-top: solid 3px #000;
	width:430px;
	height:160px;
	position:absolute;
	z-index: 1;
	bottom:15px;
	left:10px;
}
div.scroller-panel-content div.bg{
	background-color: #fff;
	opacity: 0.75;
	width:100%;
	height:100%;
	position:absolute;
	z-index: 2;
}
div.scroller-panel-content div.text h3{
	margin:10px;
}
div.scroller-panel-content div.text p{
	margin:10px;
}
div.scroller-panel-content div.text{
	position:absolute;
	z-index: 3;
}

/* Navigation
-------------------------------------------------------------- */
#navigation {
	position:relative;
	z-index:200;
	font-family: Helvetica, Arial, sans-serif;
	margin-bottom: 5px;
	background-color: #000;
}
/* ul#nav */
#nav {
	margin:0;
	padding:0;
	list-style-type:none;
}

#nav li {
	padding:0;
	float:left;
	width:158px;
	text-transform:uppercase;
	font-size:11px;
	background-color: #000;
}

#nav li a {
	display:block;
	padding:7px 0;
	text-decoration:none;
	color:#eee;
	text-align: center;
	line-height: 11px;
}

#nav li a:hover {
	text-decoration:none;
	background-color: #333;
	color:#fff;
	display:block
}

#nav li a.current {
	font-weight: bold;
}


/* Submenu 3 : For Brands products list */
/* ul#nav */
.subnav3 {
	margin:0;
	padding:0;
	list-style-type:none;
	height:25px;
}

.subnav3 li {
	padding:0;
	float:left;
	width:190px;
	text-transform:uppercase;
	font-style: inherit;
	font-size:11px;
	background-color: #fff;
}

.subnav3 li a {
	display:block;
	padding:8px 0 4px;
	cursor: pointer;
	text-decoration:none;
	color:#000;
	
	text-align: center;
	line-height: 11px;
	border-top: solid #c2c2c2 1px;
	border-bottom: solid #c2c2c2 1px;
}

.subnav3 li a:hover,
.subnav3 li a.selected {
	text-decoration:none;
	background-color: #000;
	color:#fff;
	display:block;
	border-top: solid #000 1px;
	border-bottom: solid #000 1px;
}





/* Home Slider
-------------------------------------------------------------- */
#home-slider{
	width:630px;
	height:490px;
	overflow: hidden;
	position:relative;
	margin-bottom:10px;
	background-color: #000;
}

.s3sliderImage h2 {
	color:#fff;
	margin:0 0 5px 0;
	padding: 0;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 48px;
	line-height: 48px;
}
.s3sliderImage p {
	font-size: 1em;
	color:#fff;
	margin:0 0 10px 0;
	padding: 0;
	line-height: 1.1em;
	font-style: italic;
}
.s3sliderImage a {
	color:#000;
	background-color: #fff;
	padding:5px 5px 3px 5px;
	text-decoration: none;
	font-style: normal;
}

/* Home blocs (Love machine, etc.)
-------------------------------------------------------------- */
.home-blocs {
	width:310px;
}
.home-blocs img{
	display: block;
	}

/* From Blogs
-------------------------------------------------------------- */
.from-blogs {
	width:290px;
	background-color: #fff;
	height:490px;				/* same as slider ! */
}
.from-blogs .bloc{
	height:478px;				/* same as slider - vertical padding - 2 (border) */
}

.from-blogs-rss {
	clear:both;
	padding:6px 10px;
	margin-bottom: 5px;
}
.from-blogs-rss-post {
	height:70px;
	overflow: hidden;
}
.from-blogs-rss.hover {
	background-color: #f5f5f5;
/*	background:url(../images/body_bg_pattern1.png);*/
}
.from-blogs-rss.last {
/*	margin-bottom: 0;*/
}
.from-blogs-rss p.rss-date{
	display:none;
}
.from-blogs-rss h4{
	font-size: 12px;
	margin-bottom: 0px;
	text-transform: uppercase;
}
.from-blogs-rss h4 a{
	text-decoration: none;
}
.from-blogs-rss .thumb {
	width:115px;
	
	float:left;
	margin: 0 10px 10px 0;
}
.from-blogs-rss .thumb img{
	width:115px;	
}








#content h1, 
#content h2, 
#content h3, 
#content h4, 
#content h5, 
#content h6{
	color:#303030;
}
.span-33.home h2 {
	font-size: 18px;
}

/* Footer
-------------------------------------------------------------- */
#footer {
	background-color: #fff;
	padding-top:0;
	padding-bottom:30px;
	margin-top:30px;
}

#footer h4 {
	text-transform:uppercase;
	margin-bottom: 2px;
	font-size: 12px;
	font-weight: bold;	
}
#footer ul{
	list-style: none;
	margin:0;padding: 0;
}
#footer ul li a{
	text-decoration: none;
	list-style: none;
}


/* Footer Copyright */
#footer-copyright {
	padding-top:10px;
	padding-left:10px;
	height:34px;
	background-color: #fff;
}
#footer-copyright #copyright{
	float:left;
	width: 50%;
}
#footer-copyright #footermenu{
	float:left;
	width: 50%;
}

#footer-copyright ul{
	list-style: none;
	float:right;
	margin:0 10px 0 0;
}
#footer-copyright ul li{
	float: left;
	padding: 0 2px 0 6px;
}


/* Standard Padding and Margin classes
-------------------------------------------------------------- */

/* Standard Padding and Margin classes */
.p0 { padding: 0 !important; }
.pt0 { padding-top: 0 !important; }
.pl0 { padding-left: 0 !important; }
.pb0 { padding-bottom: 0 !important; }
.pr0 { padding-right: 0 !important; }

.p2 { padding: 2px !important; }
.pt2 { padding-top: 2px !important; }
.pl2 { padding-left: 2px !important; }
.pb2 { padding-bottom: 2px !important; }
.pr2 { padding-right: 2px !important; }

.p3 { padding: 3px !important; }
.pt3 { padding-top: 3px !important; }
.pl3 { padding-left: 3px !important; }
.pb3 { padding-bottom: 3px !important; }
.pr3 { padding-right: 3px !important; }

.p4 { padding: 4px !important; }
.pt4 { padding-top: 4px !important; }
.pl4 { padding-left: 4px !important; }
.pb4 { padding-bottom: 4px !important; }
.pr4 { padding-right: 4px !important; }

.p5 { padding: 5px !important; }
.pt5 { padding-top: 5px !important; }
.pl5 { padding-left: 5px !important; }
.pb5 { padding-bottom: 5px !important; }
.pr5 { padding-right: 5px !important; }

.p6 { padding: 6px !important; }
.pt6 { padding-top: 6px !important; }
.pl6 { padding-left: 6px !important; }
.pb6 { padding-bottom: 6px !important; }
.pr6 { padding-right: 6px !important; }

.p7 { padding: 7px !important; }
.pt7 { padding-top: 7px !important; }
.pl7 { padding-left: 7px !important; }
.pb7 { padding-bottom: 7px !important; }
.pr7 { padding-right: 7px !important; }

.p8 { padding: 8px !important; }
.pt8 { padding-top: 8px !important; }
.pl8 { padding-left: 8px !important; }
.pb8 { padding-bottom: 8px !important; }
.pr8 { padding-right: 8px !important; }

.p9 { padding: 9px !important; }
.pt9 { padding-top: 9px !important; }
.pl9 { padding-left: 9px !important; }
.pb9 { padding-bottom: 9px !important; }
.pr9 { padding-right: 9px !important; }

.p10 { padding: 10px !important; }
.pt10 { padding-top: 10px !important; }
.pl10 { padding-left: 10px !important; }
.pb10 { padding-bottom: 10px !important; }
.pr10 { padding-right: 10px !important; }

.p15 { padding: 15px !important; }
.pt15 { padding-top: 15px !important; }
.pl15 { padding-left: 15px !important; }
.pb15 { padding-bottom: 15px !important; }
.pr15 { padding-right: 15px !important; }

.p20 { padding: 20px !important; }
.pt20 { padding-top: 20px !important; }
.pl20 { padding-left: 20px !important; }
.pb20 { padding-bottom: 20px !important; }
.pr20 { padding-right: 20px !important; }

.p30 { padding: 30px !important; }
.pt30 { padding-top: 30px !important; }
.pl30 { padding-left: 30px !important; }
.pb30 { padding-bottom: 30px !important; }
.pr30 { padding-right: 30px !important; }

.m0  {margin: 0 !important; }
.mt0 { margin-top: 0 !important; }
.ml0 { margin-left: 0 !important; }
.mb0 { margin-bottom: 0 !important; }
.mr0 { margin-right: 0 !important; }

.m1  {margin: 1px !important; }
.mt1 { margin-top: 1px !important; }
.ml1 { margin-left: 1px !important; }
.mb1 { margin-bottom: 1px !important; }
.mr1 { margin-right: 1px !important; }

.m2  {margin: 2px !important; }
.mt2 { margin-top: 2px !important; }
.ml2 { margin-left: 2px !important; }
.mb2 { margin-bottom: 2px !important; }
.mr2 { margin-right: 2px !important; }

.m3 { margin: 3px !important; }
.mt3 { margin-top: 3px !important; }
.ml3 { margin-left: 3px !important; }
.mb3 { margin-bottom: 3px !important; }
.mr3 { margin-right: 3px !important; }

.m4 { margin: 4px !important; }
.mt4 { margin-top: 4px !important; }
.ml4 { margin-left: 4px !important; }
.mb4 { margin-bottom: 4px !important; }
.mr4 { margin-right: 4px !important; }

.m5 { margin: 5px !important; }
.mt5 { margin-top: 5px !important; }
.ml5 { margin-left: 5px !important; }
.mb5 { margin-bottom: 5px !important; }
.mr5 { margin-right: 5px !important; }

.m8 { margin: 8px !important; }
.mt8 { margin-top: 8px !important; }
.ml8 { margin-left: 8px !important; }
.mb8 { margin-bottom: 8px !important; }
.mr8 { margin-right: 8px !important; }

.m10 { margin: 10px !important; }
.mt10 { margin-top: 10px !important; }
.ml10 { margin-left: 10px !important; }
.mb10 { margin-bottom: 10px !important; }
.mr10 { margin-right: 10px !important; }

.m15 { margin: 15px !important; }
.mt15 { margin-top: 15px !important; }
.ml15 { margin-left: 15px !important; }
.mb15 { margin-bottom: 15px !important; }
.mr15 { margin-right: 15px !important; }

.m20 { margin: 20px !important; }
.mt20 { margin-top: 20px !important; }
.ml20 { margin-left: 20px !important; }
.mb20 { margin-bottom: 20px !important; }
.mr20 { margin-right: 20px !important; }

.m25 { margin: 25px !important; }
.mt25 { margin-top: 25px !important; }
.ml25 { margin-left: 25px !important; }
.mb25 { margin-bottom: 25px !important; }
.mr25 { margin-right: 25px !important; }

.m30 { margin: 30px !important; }
.mt30 { margin-top: 30px; }
.ml30 { margin-left: 30px; }
.mb30 { margin-bottom: 30px; }
.mr30 { margin-right: 30px; }

.m35 { margin: 35px; }
.mt35 { margin-top: 35px; }
.ml35 { margin-left: 35px; }
.mb35 { margin-bottom: 35px; }
.mr35 { margin-right: 35px; }

.m40 { margin: 40px; }
.mt40 { margin-top: 40px; }
.ml40 { margin-left: 40px; }
.mb40 { margin-bottom: 40px; }
.mr40 { margin-right: 40px; }

.m50 { margin: 50px; }
.mt50 { margin-top: 50px; }
.ml50 { margin-left: 50px; }
.mb50 { margin-bottom: 50px; }
.mr50 { margin-right: 50px; }

.mr-auto {margin-right:auto;}
.ml-auto {margin-left:auto;}

