/* @group PRODUCT */

/* 
 * Depending on attributes ID
 */
.product-view .product-shop .accordion select#attribute122 {
  width: 150px;
}
.product-view .product-shop .accordion select#attribute123 {
  width: 80px;
}


.product-view {
  border-top: 1px solid #bfbfbf;
  width: 100%;
  float: left;
}
.product-view .product-img-box {
  float: left;
  width: 400px;
  text-align: center;
  position: relative;
  padding: 25px 0;
}

.product-view .product-left {
  float: left;
  width: 400px;
  text-align: center;
  position: relative;
  padding: 25px 0;
}



/* Sex icon */
.product-view .perfume-sex {
	width:135px;
	height:21px;
	margin-bottom:10px;
}
.product-view .perfume-sex-1 {background: url(../images/perfume_sex_1.png) no-repeat top left;}
.product-view .perfume-sex-2 {background: url(../images/perfume_sex_2.png) no-repeat top left;}
.product-view .perfume-sex-3 {background: url(../images/perfume_sex_3.png) no-repeat top left;}

.product-view div.sample-product {
	margin-top:10px;
	clear:both;
}

.product-view .product-img-box .zoom_product {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  background: #ffffff url(../images/zoom_product.png) no-repeat;
  overflow: hidden;
  text-indent: -999px;
}
.product-view .product-shop {
  width: 529px;
  border-left: 1px solid #BFBFBF;
  float: left;
  padding: 20px 0 20px 20px;
}
.product-view .product-name {
  margin-bottom: 20px !important;
}
.product-view .product-shop h2 {
  font-size: 24px;
  line-height: 1.33em;
  margin:0;
}
/* product subtitle (brand) */
.product-view .product-name h3,
.product-view .product-name p.subtitle{
	font-weight: normal;
	font-size: 14px;
	margin:-2px 0 0 0;
	padding:0;
}

.product-view .product-shop h4 {
  font-size: 12px;
}
.product-view .product-shop .accordion {
  float: left;
  width: 529px;
  margin: 5px 0;
  border-top: 1px solid #bfbfbf;
  padding: 10px 0px 0 0;
  position: relative;
}
.product-view .product-shop {
	font-size: 12px;
}
.product-view .product-shop p{
	padding-right:30px;
}
.product-view .product-shop p a{
	padding:3px 0 0 0;
/*
	background-color: #e8e8e8;
	border-radius: 5px;
*/
	font-weight: bold;
	border-bottom: 3px solid #ccc;
}
.product-view .product-shop p a:hover{
	background-color: #000;
	color:#fff;
 	border-bottom: 3px solid #000;
}

.product-view p.creator {
	margin-bottom:3px;
}
.product-view .product-shop .accontent {
	display:none;
}

/*
.product-view .product-shop .accordion p.creator {
	font-weight: bold;
}
.product-view .product-shop .accordion p.creator a{
	text-decoration: underline;
}
*/
.product-view .product-shop .accordion .input-box {
  float: left;
  margin-right: 5px;
/*   margin-bottom: 35px; */
}
/*
.product-view .product-shop .accordion .large_select {
  width: 150px;
}
.product-view .product-shop .accordion .small_select {
  width: 80px;
}
*/
.product-view .product-shop .accordion .price-box {
  border: 1px solid #bfbfbf;
  float: left;
  margin: 0 5px 0 0;
  padding: 3px 4px 3px;
}
.product-view .product-shop .accordion #qty {
  padding: 4px 0px 4px;
  float: left;
  margin: 0;
  text-align: center;
}
.product-view .product-shop .accordion .qty_change {
  float: left;
  display: inline-block;
  width: 14px;
  height: 24px;
  line-height: 1.8em;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
}
.product-view .product-shop .accordion button {
  text-transform: uppercase;
  margin: 0;
  font-size: 12px;
  height: 25px;
}
.product-view .product-shop .accordion button.btn-product {
  background: #000;
  color: #FFF;
  position: absolute;
  right:0;
/*   float: right; */
  width: 150px;
}

.product-view .product-shop .accordion button.btn-sample {
  background: #eaeaea;
  float:right;
  /*
  position: absolute;
  right:0;
  */
}
.product-view .product-shop .accordion button.btn-sample span {
  color: #000;
}
.product-view .product-shop .accordion button span {
  color: #FFF;
}
.product-view .product-shop .accordion dl {
  float: left;
  width: 520px;
  margin: 0 0 10px;
}
.product-view .product-shop .accordion dl.gray {
  background: #eaeaea;
}
.product-view .product-shop .accordion dl dt {
  float: left;
  width: 20%;
  padding: 2px 3% 2px 2px;
}
.product-view .product-shop .accordion dl dt.gray {
  background: #eaeaea;
}
.product-view .product-shop .accordion dl dd {
  float: left;
  width: 73%;
  padding: 2px 3% 2px 2px;
}
.product-view .product-shop .accordion dl dd.gray {
  background: #eaeaea;
}
.product-view .product-shop .accordion_toggle {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid #BFBFBF;
  width: 14px;
  height: 14px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.product-view .product-shop .accordion_toggle:hover {
  background: #000;
  color: #FFF;
  border: 1px solid #000;
}

/* Related products */
.product-view .product-related {
  float: left;
  width: 390px;
  height:150px;
  border-top: 1px solid #bfbfbf;
  margin-top: 25px;
  padding-top:25px;
  position: relative;
}
.product-view .product-related img{
	display:block;
	margin-bottom:10px;
}
.product-view .product-related a{
	display:block;
}
.product-view .product-related ul {
  position: absolute;
  /* required */

  overflow: hidden;
  /* required */

  margin: 0;
  padding: 0;
  list-style: none;
}
.product-view .product-related ul li {
  float: left;
  display: none;
  width: 110px;
  height: 160px;
}
.product-view .product-related .mask {
  position: relative;
  overflow: hidden;
  width: 330px;
  margin-left: 30px;
  height:150px;
}
.product-view .product-related .prev, .product-view .product-related .next {
  position: absolute;
  top: 30px;
  width: 20px;
  height: 120px;
  cursor: pointer;
  overflow: hidden;
  text-indent: -999px;
}
.product-view .product-related .prev {left: 0px; background: url(../images/carousel_arrow_prev.png) no-repeat 50% 50%;}
.product-view .product-related .next {right: 0px; background: url(../images/carousel_arrow_next.png) no-repeat 50% 50%;}

.product-view .product-related .prev.disabled, .product-view .product-related .next.disabled {
  opacity: .25;
}
.product_boutique {
  border-bottom: 2px solid #000;
  padding: 3px 0;
  text-transform: uppercase;
  margin-top: 20px;
  float: left;
  width: 100%;
}

/* Diagnose Product View
 * Product view in the context of 2 columns
 * -------------------------------------------- */
.product-view.col2 {
	border-top: none;
}
.product-view.col2 .product-img-box {
  width: 280px;
  padding: 25px 0;
}
.product-view.col2 .product-left {
  width: 280px;
  padding: 25px 0;
}
.product-view.col2 .product-shop {
  width: 399px;
  padding: 20px 0 20px 20px;
}
.product-view.col2 .product-shop .accordion {
  width: 400px;
  margin: 5px 0;
  border-top: 1px solid #bfbfbf;
  padding: 10px 0px 0 0;
}
.product-view.col2 .product-shop .accordion dl {
  float: left;
  width: 399px;
  margin: 0 0 10px;
}
.product-view.col2 .product-shop .accordion dl dt {
  width: 30%;
}
.product-view.col2 .product-shop .accordion dl dd {
  width: 62%;
}

/* Cart Quantity Change */
.product-view.col2 .product-shop .cart-qty {
	float:left;
}

.product-view.col2 .product-shop button.btn-product {
	position: relative;
	clear:both;
	top:auto;
	float:right;
	margin-top:20px;
}
.product-view.col2 .product-shop .accordion .input-box {
  margin-right: 5px;
  margin-bottom: 0;
}

/*
#boutique_carousel {
  width: 100%;
  float: left;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  margin-top: 2px;
  position: relative;
}
#boutique_carousel h3 {
  background: #000;
  color: #FFF;
  font-size: 13px;
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px 20px 5px 10px;
  z-index: 10;
}
#boutique_carousel ul {
  position: absolute;

  overflow: hidden;

  margin: 25px 0;
  padding: 0;
  list-style: none;
}
#boutique_carousel li {
  float: left;
  display: inline;
  width: 220px;
  height: 300px;
  text-align: center;
}
#boutique_carousel .prev, #boutique_carousel .next {
  position: absolute;
  left: 10px;
  top: 120px;
  width: 10px;
  height: 15px;
  background: url(../images/carousel_arrows.png) no-repeat 0 0;
  cursor: pointer;
  overflow: hidden;
  text-indent: -999px;
}
#boutique_carousel .prev.disabled, #boutique_carousel .next.disabled {
  opacity: .25;
}
#boutique_carousel .next {
  background-position: -10px 0;
  left: auto;
  right: 10px;
}
#boutique_carousel .mask {
  position: relative;
  overflow: hidden;
  width: 880px;
  margin-left: 35px;
}
*/


.hide {
  display: none;
}
/* @end */