/* styles for chrono relais */

.chronorelais-list {  }
.sp-methods-chronorelais { padding:5px 20px;}
sp-methods-chronorelais dd li { clear:both;}
.chronorelaismap { margin:20px 0px 10px 0px; }
.chronorelaismap .mappostalcode { margin-bottom:10px; text-align:right;}
.sp-methods .method-description { clear:both; }
.sp-methods .method-radio, .sp-methods .method-image, .sp-methods .method-contents { }
.sp-methods .method-image { padding:0 10px;}

/*****************************
sw-Gmap
*******************************/
.chronomap { height:450px; width:100%; overflow:hidden!mportant; font:82.5%/1.3 Arial,Helvetica,sans-serif; background-color: #E5E3DF; border: 1px solid #aaa;}
.chronomap *{float:none;overflow:visible;font-family: Arial,sans-serif;}
.chronomap a {color:#0000cc;outline:none;}
.chronomap h4{font-size:14px;margin-bottom:6px;border-bottom:1px solid #ccc;}
.chronomap h2{font-size:16px;margin:2px 10px 6px 0; font-weight:bold;}

/*****************************
Infowindow 
*******************************/
.chronomap .sw-infowindow a{cursor:pointer;}
#sw-infowindow-info{max-height:400px}
#sw-infowindow-hor{height:150px}
.sw-map-adresse-wrp{min-height:90px}
.sw-map-adresse{font-size:1.2em;margin:5px 0 8px 0;line-height:1.45em;}
.sw-map-tools a{font-size:12px;}
.chronomap .sw-desc{display:block;font-weight:bold;line-height:16px;float:none!important;width:auto;}
.chronomap .sw-help{display:block;float:none!important;width:auto;clear:both;}
.sw-map-itin-tools{font-size:11px;padding:8px 0;display:block;}
.sw-back-link{font-size:11px;display:block;text-align:right;margin:0px ;}
#sw-sendbymail-wrap{height:220px;overflow:hidden;}
.chronomap .sw-textarea{height:30px;}
.sw-tool-itineraire{height:220px;}
/*****************************
Tables 
*******************************/
.sw-table {border-collapse:collapse; width:100%;}
.sw-table td {font-size:1.2em;border-bottom:1px solid #ccc; padding:1px 0px;}
.sw-table th{background:#eee;font-size:1.3em;border-top:1px solid #555}
#sw-table-horaire-client td ,#sw-table-horaire-depot td{width:50%;}
#sw-table-horaire-client{}
#sw-table-horaire-depot{margin-top:8px;}
/*****************************
