<?php foreach ($this->getOutofstockProducts() as $productId => $product) : ?>
    <div id="outofstock-message-<?php echo $productId; ?>" class="outofstock-container outofstock-message" style="display: none;">
        <p><?php echo $this->__("Product warning: this product is backordered and on his way to the shop."); ?><br/></p>
    </div>
<?php endforeach; ?>