<?php foreach ($this->getOutofstockProducts() as $productId => $product) : ?>
    <div id="outofstock-link-<?php echo $productId; ?>" class="outofstock-container outofstock-link" style="display: none;">
        <p>
            <?php if ($product->getIsSubscribed()) : ?>
                <?php echo $this->__("You will be notified of its re-stocking."); ?>
            <?php else : ?>
                <a href="#modal-outofstock-<?php echo $productId; ?>"><?php echo $this->__('Click here'); ?></a> <?php echo $this->__("if you would like to be notified when it is returned to stock."); ?>
            <?php endif; ?>
        </p>
        <?php if (!$product->getIsSubscribed()) : ?>
            <div class="remodal" data-remodal-id="modal-outofstock-<?php echo $productId; ?>" data-remodal-options="hashTracking: true">
                <div class="remodal-wait" style="display: none;"></div>
                <div class="remodal-content outofstock-modal">
                    <form action="<?php echo $this->getUrl('outofstocknotify/modal/notify'); ?>" method="post" id="outofstock-form-<?php echo $productId; ?>">
                        <p><?php echo $this->__("I would like to be notified when this item is back in stock : %s", $product->getName()); ?></p>
                        <input type="hidden" name="product_id" value="<?php echo $productId; ?>" />
                        <?php if (Mage::getSingleton('customer/session')->isLoggedIn()) : ?>
                            <input type="hidden" name="email" value="<?php echo Mage::getSingleton('customer/session')->getCustomer()->getEmail(); ?>" />
                        <?php else : ?>
                            <div class="input-field">
                                <input type="text" name="email" class="input-text required-entry validate-email" placeholder="<?php echo $this->__('Email'); ?>" value="" />
                            </div>
                        <?php endif; ?>
                        <button class="button action"><span><span><?php echo $this->__('Submit'); ?></span></span></button>
                    </form>
                    <script type="text/javascript">
                        //<![CDATA[
                        var form = new VarienForm('outofstock-form-<?php echo $productId; ?>');
                        //]]>
                    </script>
                </div>
            </div>
        <?php endif; ?>
    </div>
<?php endforeach; ?>
