<?php $_product = $this->getProduct(); ?>
<ul class="productIds" style="display:none;">
    <?php
    $configurableProduct = Mage::getModel('catalog/product')->load($_product->getId());
    $childProducts = Mage::getModel('catalog/product_type_configurable')->getUsedProducts(null,$configurableProduct);
    foreach($childProducts as $child) {
        $_productObj = Mage::getModel('catalog/product')->load($child->getId());
        ?>
        <li id='simple_<?php echo $child->getId(); ?>'><?php echo Mage::helper('core')->currency($_productObj->getFinalPrice()); ?></li>
        <?php
    }
    ?>
</ul>