<?php $_currentPost = Mage::registry('current_post'); ?>
<?php $_sliders = $_currentPost->getSelectedSlidersCollection(); ?>

<?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>

<?php if ($_sliders->count() > 0) : ?>
  <?php $_slideCount = 0; ?>
  <?php foreach ($_sliders as $_slider) { $_slideCount = $_slideCount + $_slider->getItemsCollection()->count(); } ?>
  <div class="brand-banner">
    <?php if ($_slideCount > 1) : ?>
      <a href="#" class="arrow left"></a>
      <a href="#" class="arrow right"></a>
    <?php endif; ?>
    <div class="slider">
      <?php foreach ($_sliders as $_slider) : ?>
        <?php $_slides = $_slider->getItemsCollection(); ?>
        <?php $i = 0; ?>
        <?php foreach ($_slides as $_slide) : ?>
          <?php if ($_slide['video'] != '') { ?>

          <div
          class="video slide <?php if ($i == 0) { echo 'active'; } ?>"
          data-youtube="<?php echo $_slide['video']; ?>"
          data-id="<?php echo $i; ?>"
          >
          <div class="player active">
            <div id="player<?php echo $i; ?>"></div>
            <div class="overlay"></div>
            <div class="controls">
              <div class="playpause"></div>
              <div class="time">0:00</div>
              <div class="sound"></div>
              <div class="progress">
                <div class="bar"></div>
              </div>
            </div>
          </div>
        </div>

        <?php } elseif ($_slide['cinemagraphe']) { ?>

        <div class="cinemagraph slide <?php if ($i == 0) { echo 'active'; } ?>">
          <video src="<?php echo $_slide['cinemagraphe']; ?>" autoplay loop muted>
            Sorry, your browser doesn't support embedded videos,
            but don't worry, you can <a href="<?php echo $_slide['cinemagraphe']; ?>">download it</a>
            and watch it with your favorite video player!
          </video>
        </div>

        <?php } else { ?>
        <div class="slide <?php if ($i == 0) { echo 'active'; } ?>" style="background-image: url(<?php echo $this->helper('slider')->getImageUrl($_slide); ?>);"></div>
        <?php } ?>
        <?php $i++; ?>
      <?php endforeach; ?>
    <?php endforeach; ?>
  </div>
</div>
<?php endif; ?>

<div class="news-page">

  <h1 class="page-title">
    <?php echo $_currentPost->getTitle(); ?>
  </h1>

  <?php if ($_currentPost->getArticle()) : ?>
    <div class="post-content">
      <?php echo $_currentPost->getArticle(); ?>
    </div>
  <?php endif; ?>

</div>

