<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/LICENSE-M1.txt
 *
 * @category   AW
 * @package    AW_Advancednewsletter
 * @copyright  Copyright (c) 2008-2010 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/LICENSE-M1.txt
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title">
    <h2><?php echo $this->__('Newsletter Subscription') ?></h2>
</div>

<script type="text/javascript">
    function anCheckAllCheckboxes(curElem)
    {
        curElem.value = Math.abs(curElem.value-1);
        checked = curElem.value == 1 ? true : false;
        $$('.an_segments_check').each(function(elem){
            elem.checked = checked;
        });
    }
</script>
<form action="<?php echo $this->getUpdateLink(); ?>" method="post" >
<!-- <p><?php echo $this->__('Your subscriptions:') ?></p> -->
<table class="data-table">
    <thead>
        <tr class="first last">
            <th width="10px"><input type="checkbox" id="an_select_all_checkboxes" value="0" onclick="anCheckAllCheckboxes(this)"/></th>
            <th><?php echo $this->__('Segment') ?></th>
        </tr>
    </thead>
    <?php foreach($this->getSegments() as $segment): ?>
    <tr>
        <td><input <?php if ($this->isChecked($segment)): ?> checked="checked" <?php endif; ?> type="checkbox" class="an_segments_check" value="<?php echo $segment->getCode(); ?>" id="<?php echo $segment->getCode(); ?>" name="segments_codes[]" /></td>
        <td><label for="<?php echo $segment->getCode(); ?>"><?php echo $segment->getTitle(); ?></label></td>
    </tr>
    <?php endforeach; ?>
</table>
<input type="hidden" value="<?php echo $this->getSubscriber()->getEmail() ?>" name="email" />
<div class="an-buttons">
    <button class="button form-button" type="submit"><span><?php echo $this->__('Update status') ?></span></button>
</div>
</form>
