<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/LICENSE-M1.txt
 *
 * @category   AW
 * @package    AW_Advancednewsletter
 * @copyright  Copyright (c) 2008-2010 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/LICENSE-M1.txt
 */
?>
<?php

$helpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('newsletter_help')->toHtml();

?>


<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title">
    <h2><?php echo $this->__('Newsletter Subscription') ?></h2>
    <?php if ( ! empty($helpBlock)): ?><a id="helperBtn1" class="helper-open"></a><?php endif ;?>
</div>

<?php if ( ! empty($helpBlock)): ?>
<div  id="helperBloc1" class="helper-bloc" data-id="1">
	<a class="helper-close"></a>
	<?php echo $helpBlock; ?>
</div>
<?php endif ;?>

<script type="text/javascript">
    function anCheckAllCheckboxes(curElem)
    {
        curElem.value = Math.abs(curElem.value-1);
        checked = curElem.value == 1 ? true : false;
        $$('.an_segments_check').each(function(elem){
            elem.checked = checked;
        });
    }
</script>
<form action="<?php echo $this->getUpdateLink(); ?>" method="post" id="advancednewsletter-subscription-form">
<!-- <p><?php echo $this->__('Your subscriptions:') ?></p> -->
	<div class="col2-set">
	<?php
		$i = 0;
	?>
    <?php foreach($this->getSegments() as $segment): ?>
		<?php
			$num = ($i%2 == 0) ? 1 : 2;
		?>
    	<div class="col-<?php echo $num?>">
    		<div class="pointer" onclick="javascript:$('<?php echo $segment->getCode(); ?>').click();">
    			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('newsletter_bloc_' . $segment->getCode())->toHtml() ?>	
    		</div>
			<p class="mt10">
				<input <?php if ($this->isChecked($segment)): ?> checked="checked" <?php endif; ?> type="checkbox" class="an_segments_check" value="<?php echo $segment->getCode(); ?>" id="<?php echo $segment->getCode(); ?>" name="segments_codes[]" />
				<label for="<?php echo $segment->getCode(); ?>"><?php echo $this->__('Subscribed'); ?></label>
    		</p>
    	</div>
	<?php
		$i++;
	?>
    <?php endforeach; ?>
	</div>
	<input type="hidden" value="<?php echo $this->getSubscriber()->getEmail() ?>" name="email" />
	
	<div class="an-buttons right mt30">
    	<button class="button form-button" type="submit"><span><?php echo $this->__('Update subscriptions') ?></span></button>
	</div>
</form>
