<?php

$text_block = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_giftcards_balance_text')->toHtml();

?>

<?php if ($text_block) :?>
	<div class="center mt20">
		<?php echo $text_block ?>
	</div>
<?php endif ;?>


<div class="span-12 prepend-4 mt20">



	<form name="giftcardForm" action="<?php echo $this->getUrl('customer/giftcards/apply') ?>" method="post">
	<table border="0" cellpadding="1" cellspacing="1" class="mb20">
	  <tr>
		<td><?php echo $this->__('My Gift Card balance') ?>:</td>
		<td><strong><?php echo Mage::helper('core')->currency($this->getCurrentBalance()); ?></strong</td>
	  </tr>
	  <tr>
		<td class="v-middle pr10"><?php echo $this->__('Enter the Gift Card code') ?>:</td>
		<td>
			<input class="input-text w220" id="giftcard_code" name="giftcard_code" value="" />
			<button type="button" title="<?php echo $this->__('Redeem') ?>" class="button" onclick="document.forms['giftcardForm'].submit()" value="<?php echo $this->__('Redeem') ?>"><span><span><?php echo $this->__('Redeem') ?></span></span></button>
		</td>
	  </tr>
	</table>
	</form>
</div>