<?php
/*
 * Buy a GiftCard form
 * Specific to Nose
 *
 * Declared in : /app/design/frontend/base/default/layout/giftcards.xml
 * Block : Webtex_Giftcards_Block_Product_View
 *
 */
?>

<?php
/*
 * Voir comment afficher le texte d'intro :
 * - Article Ionize ou
 * - Bloc statique Magento <-
 */

// Main settings
$_currency = Mage::app()->getStore()->getCurrentCurrency();
$_from = Mage::getStoreConfig('giftcards/default/min_card_value') ? Mage::getStoreConfig('giftcards/default/min_card_value') : 0;
$_to = Mage::getStoreConfig('giftcards/default/max_card_value') ? Mage::getStoreConfig('giftcards/default/max_card_value') : 0;
$_currency_symbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();

// Static blocks
$introTextBloc = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_giftcards_form_text')->toHtml();


// Diag giftcard product
$diag_gift_product_sku ='D-Diagnostic-Giftcard';
$diag_gift_product = Mage::getModel('catalog/product')->loadByAttribute('sku', $diag_gift_product_sku);
$bundle_product_id = Mage::getStoreConfig('nose/general/bundle_product_id');
$bundle = Mage::getModel('catalog/product')->load($bundle_product_id);


// Standard Giftcard
$gift_product_sku ='P-Giftcard';
$gift_product = Mage::getModel('catalog/product')->loadByAttribute('sku', $gift_product_sku);


// Like in : Mage_Catalog_Block_Product_View_Abstract
if (is_null($diag_gift_product->getTypeInstance(true)->getStoreFilter($diag_gift_product))) {
	$diag_gift_product->getTypeInstance(true)->setStoreFilter(Mage::app()->getStore(), $diag_gift_product);
}

// Like in : Webtex_Giftcards_Block_Product_Type
if($diag_gift_product->getWtsGcAdditionalPrices())
{
	$priceStatus = '2';
	$aAdditionalPrices = explode(';',$diag_gift_product->getWtsGcAdditionalPrices());
}
else
{
	$priceStatus = '1';
}

?>
<script type="text/javascript">
    Validation.add('validate-float-range', "The value is not within the specified range.", function(v, element) {
        var result = Validation.get('IsEmpty').test(v) || !/[^\d\.\,]/.test(v);
        var reRange = new RegExp(/^float-range-[\d\.\,]+-[\d\.\,]+$/);
        $w(element.className).each(function(name, index) {
            if (name.match(reRange) && result) {
                var min = parseFloat(name.split('-')[2]);
                var max = parseFloat(name.split('-')[3]);
                var val = parseFloat(v);
                result = !((v < min && min > 0) || (v > max && max > 0));
            }
        });
        return result;
    });
</script>

<div class="span-20">

	<?php if ( ! empty($introTextBloc)) :?>
		<div class="mt10 mb10 center">
			<?php echo $introTextBloc ?>
		</div>
	<?php endif ;?>

	<div class="mt20">
    <form name="gift-cards-form" id="gift-cards-form">
		<div>
			<div style="display: block;width: 49%;float: left;border-right: solid 1px #ccc">

				<ul class="form-list ml20 mr20">
					<li class="fields">

						<div class="field">
							<label class="left w70" for="mail_from"><?php echo $this->__('From Name') ;?> :<em> *</em></label>
							<div class="input-box right">
								<input style="width:170px;" class="input-text required-entry" type="text" id="mail_from" name="mail_from" />
							</div>
						</div>

						<div class="field">
							<label class="left w70" for="mail_to"><?php echo $this->__('To Name') ;?> :<em> *</em></label>
							<div class="input-box right">
								<input style="width:170px;" class="input-text required-entry" type="text" id="mail_to" name="mail_to" />
							</div>
						</div>

						<div class="field">
							<label class="left w70"><?php echo $this->__('Send mode') ;?> : </label>
							<div class="input-box right">
								<select id="giftcard-type" name="card_type" onchange="changeFieldset();" style="width:178px;">
									<option value="email" selected="selected"><?php echo $this->__('E-mail') ?></option>
									<option value="offline"><?php echo $this->__('Post Office to recipient') ?></option>
									<option value="offline"><?php echo $this->__('Post Office to you') ?></option>
									<option value="store"><?php echo $this->__('Get at store (you)') ?></option>
								</select>
							</div>
						</div>
					</li>
				</ul>

				<p class="ml20 mr20"><?php echo $this->__('Usable online or in our Shop') ?> :</p>

				<div class="ml20 mr20">
					<label for="diag-gift-product" style="display:block;">
						<div class="left picture" style="display: block;height:50px;width: 50px;">
							<img src="<?php echo Mage::helper('catalog/image')->init($diag_gift_product, 'thumbnail')->keepTransparency(false)->resize(50); ?>"/>
						</div>
						<div class="left name ml10 w140 pt10">
							<?php echo $diag_gift_product->getName();?> -
							<strong><?php echo $_currency->format($bundle->getPrice()); ?></strong>
						</div>
						<div class="right mr10 pt15" style="text-align: center;">
							<input type="checkbox" id="diag-gift-product" data-id="<?php echo $diag_gift_product->getId(); ?>" name="product_amount_<?php echo $diag_gift_product->getId();?>" value="<?php echo $bundle->getPrice();?>" onclick="calcTotal();"/>
						</div>
						<div class="clearer"></div>
					</label>
				</div>

				<div class="ml20 mr20">
					<label for="gift-product" style="display:block;">
						<div class="left picture" style="display: block;height:50px;width: 50px;">
							<img src="<?php echo Mage::helper('catalog/image')->init($gift_product, 'thumbnail')->keepTransparency(false)->resize(50); ?>"/>
						</div>
						<div class="left name ml10 w120 pt10"><?php echo $gift_product->getName();?></div>
						<div class="right pt10">
							<input type="text" class="input-text" id="gift-product" name="product_amount_<?php echo $gift_product->getId();?>" data-id="<?php echo $gift_product->getId(); ?>" style="width:40px;text-align: right;" value="120" onkeyup="calcTotal();"/>
							<?php echo $_currency_symbol ;?>
						</div>
						<div class="clearer"></div>
					</label>
				</div>

			</div>

			<div style="display: block;width: 48%;margin-left:2%;float: left;">

				<ul class="form-list ml5">
					<li class="fields mr0 mb0" id="giftcard-fieldset">
						<div class="field">
							<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('nose_giftcard_home_boutique_address')->toHtml(); ?>
							<div id="map_container" style="height:160px;width:366px;overflow: hidden;">
								<div id="map_canvas"></div>
							</div>
						</div>
						<div class="field">
							<label class="left w110 required" for="mail-to-email"><?php echo $this->__('To Email') ?><em> *</em>:</label>
							<div class="input-box left">
								<input style="width:240px;" type="text" id="mail-to-email" name="mail_to_email" class="input-text required-entry validate-email"/>
							</div>
						</div>
						<div class="field">
							<label class="left w110" for="offline-street"><?php echo $this->__('Street Address') ?><em> *</em>:</label>
							<div class="input-box left">
								<input style="width:246px;" type="text" id="offline-street" name="offline_street" class="input-text required-entry"/>
							</div>
						</div>
						<div class="field">
							<label class="left w110" for="offline-zip"><?php echo $this->__('Zip/Postcode') ?><em> *</em>:</label>
							<div class="input-box left">
								<input style="width:80px;" type="text" id="offline-zip" name="offline_zip" class="input-text required-entry"/>
							</div>
						</div>
						<div class="field">
							<label class="left w110" for="offline-city"><?php echo $this->__('City') ?><em> *</em>:</label>
							<div class="input-box left">
								<input style="width:246px;" type="text" id="offline-city" name="offline_city" class="input-text required-entry"/>
							</div>
						</div>
						<div class="field">
							<label class="left w110" for="offline-state"><?php echo $this->__('State/Province') ?><em> *</em>:</label>
							<div class="input-box left">
								<input style="width:246px;" type="text" id="offline-state" name="offline_state" class="input-text required-entry"/>
							</div>
						</div>
						<div class="field">
							<label class="left w110" for="offline-country"><?php echo $this->__('Country') ?><em> *</em>:</label>
							<div class="input-box left">
								<input style="width:246px;" type="text" id="offline-country" name="offline_country" class="input-text required-entry" />
							</div>
						</div>

						<div class="field">
							<label class="left w110" for="offline-phone"><?php echo $this->__('Telephone') ?><em> *</em>:</label>
							<div class="input-box left">
								<input style="width:246px;" type="text" id="offline-phone" name="offline_phone" class="input-text required-entry"/>
							</div>
						</div>
						<div class="field">
							<label for="mail-message"><?php echo $this->__('Message') ?>:</label><br/>
							<textarea id="mail-message" name="mail_message" style="width:96%;"></textarea>
						</div>
					</li>
				</ul>

			</div>
        </div>

        <div class="clearer"></div>

		<div>
            <div style="display: block;width: 49%;float: left;border-right: solid 1px #ccc">
                <div class="mt10 ml20 mr15 pt15" style="border-top: solid 1px #ccc;">
                    <div class="right" style="width:80px;height:26px;font-size:14px;text-align: right;margin-right: 2px;">
                        <span id="gift-total">120</span>
						<?php echo $_currency_symbol ;?>
                    </div>
                    <div class="right mr10"><?php echo($this->__('Total')); ?></div>
                    <div class="clearer"></div>
                </div>

			</div>
            <div style="display: block;width: 48%;margin-left:2%;float: left;">
                <div class="mt10 pt15" style="margin-right: 2%;border-top: solid 1px #ccc;">
                    <button type="button" class="button action right yellow" onclick="addGiftToCart();"><span><span><?php echo $this->__('Add to Cart'); ?></span></span></button>
                </div>

			</div>

		</div>
    </form>
	</div>


    <script type="text/javascript">
        new VarienForm('gift-cards-form', true);
        var valid = new Validation('gift-cards-form', {immediate : true});

        $j('#gift-cards-form input.input-text').each(function()
        {
            $j(this).click(function(){
                $j('#home-scroller .scroller-container').trigger('stop');
            });
        });


        function addGiftToCart()
		{
			if (valid.validate())
			{
				var dgp = $j('#diag-gift-product');
				var gp = $j('#gift-product');
				var p = new Array();
				if (dgp.is(':checked'))
					p.push(dgp.attr('data-id'));
				if (gp.val() > 0)
					p.push(gp.attr('data-id'));

				if(p.length > 0)
				{
					p = p.join(',');
					sendGiftCards('<?php echo Mage::helper('checkout/cart')->getCartUrl() ?>gift/products/'+p, 'gift-cards-form');
				}
			}
		}
		function calcTotal()
		{
			var val = 0;
            var dgp = $j('#diag-gift-product');
            var gp = $j('#gift-product');
            if (dgp.is(':checked'))
                val += (parseInt(dgp.val()));
			if (gp.val() > 0)
                val += parseInt(gp.val());

			$j('#gift-total').html(val);
		}
        function changeFieldset()
		{
			var type = $j('#giftcard-type').val();

            var mapEmail = new Array( 'mail-from', 'mail-to', 'mail-to-email', 'mail-message');
            var mapPrint = new Array( 'mail-from', 'mail-to', 'mail-message');
            var mapOffline = new Array( 'mail-from', 'mail-to', 'mail-message', 'offline-city','offline-country', 'offline-street', 'offline-zip', 'offline-phone');
			var mapStore = new Array( 'mail-from', 'mail-to', 'map_container');

            $('giftcard-fieldset').select('.field').invoke('hide');
            var map = mapEmail;
            if (type == 'email') {
                map = mapEmail;
				$j('#mail-message').css('height', '12em');
            } else if (type == 'print') {
                map = mapPrint;
            } else if (type == 'offline') {
                map = mapOffline;
                $j('#mail-message').css('height', '5em');
            } else if (type == 'store') {
                map = mapStore;
                initStoreGM();
                $j('#mail-message').css('height', '5em');
            }
            map.each(function(field) {
                if ($(field)) {
                    $(field).up('.field').show();
                }
            });
        }
        changeFieldset();
        calcTotal();
    </script>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript">
        var map;
        var center = new google.maps.LatLng(48.86570,2.344959);
        var noseShop = new google.maps.LatLng(48.866150,2.344666);
        var image = '<?php echo $this->getSkinUrl('images/google_map_flag.png'); ?>';
		var storeGMInited = false;
        function initStoreGM()
        {
			if (storeGMInited == false)
			{
                storeGMInited = true;

				var myOptions = {
					center: center,
					zoom: 17,
					disableDefaultUI: true,
					mapTypeId: google.maps.MapTypeId.ROAD
				};
				var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

				var noseMarker = new google.maps.Marker({
					position: noseShop,
					map: map,
					draggable: false,
					icon: image,
					title: 'Nose, 20 rue Bachaumont, 75002 Paris'
				});

				var circleOptions = {
					strokeColor: "#FF0000",
					strokeOpacity: 0.8,
					strokeWeight: 0,
					fillColor: "#FF0000",
					fillOpacity: 0.35,
					map: map,
					center: noseShop,
					radius: 8
				};
				noseCircle = new google.maps.Circle(circleOptions);

				var styledMapOptions = {name: "nose"};
				var stylez = [
					{
						featureType: "landscape",
						stylers: [{
							saturation: 0,
							visibility: 'on'
						}]
					},
					{
						featureType: "road",
						stylers: [{
							saturation: -20
						}]
					},
					{
						featureType: "road.local",
						elementType: "geometry",
						stylers: [{
							visibility: 'simplified'
						}]
					}
				];

				var noseMapType = new google.maps.StyledMapType(stylez, styledMapOptions);
				map.mapTypes.set('noseShop', noseMapType);
				map.setMapTypeId('noseShop');

				google.maps.event.addListener(map, 'idle', function()
				{
					$j('#map_canvas').css('background-image', 'none');
				});
			}
        }

    </script>

</div>