<?php

$helper_block = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_giftcards_help')->toHtml();

$_cards = Mage::getModel('giftcards/giftcards')->getCollection();
$_cards->getSelect()
	->join( array('so'=>Mage::getSingleton('core/resource')->getTableName('sales/order')), 'main_table.order_id = so.entity_id', array('main_table.*','so.increment_id as order_increment_id'))
	->where('so.customer_id = '.Mage::helper('customer')->getCustomer()->getId());

?>

<div class="page-title">
    <h2><?php echo $this->__('Gift Card') ?></h2>
	<?php if ($helper_block) :?>
		<a id="helperBtn1" class="helper-open"></a>
	<?php endif ;?>
</div>

<?php
/**
 * Helper block
 */
?>
<?php if ($helper_block) :?>
	<div id="helperBloc1" class="helper-bloc open" data-id="1">
		<a class="helper-close"></a>
		<?php echo $helper_block ?>
	</div>
<?php endif ;?>

<?php
/**
 * Intro Text
 */
?>
<div class="mt25 mb15 center pl20 pr20">
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_giftcards_intro')->toHtml(); ?>
</div>
<div class="clearfix"></div>

<div class="subnav-container center">
	<ul id="giftcard-nav" class="subnav">

		<li class="active first"><a><span><?php echo $this->__('Offer one Giftcard') ?></span></a></li>
		<?php if($_cards->getSize()): ?>
			<li><a><span><?php echo $this->__('Purchased Gift Cards') ?></span></a></li>
		<?php endif ;?>
		<li><a><span><?php echo $this->__('My Giftcard Balance') ?></span></a></li>

	</ul>
</div>

<div id="giftcard-panels" class="mb30">

	<div class="panelContent">
		<?php echo $this->getChildHtml('giftcard_buy_form'); ?>
	</div>

	<?php if($_cards->getSize()): ?>

		<div class="panelContent">
			<?php echo $this->getChildHtml('card_purchased'); ?>
		</div>
	<?php endif ;?>

	<div class="panelContent">
		<?php echo $this->getChildHtml('card_balance'); ?>
	</div>

</div>

<script type="text/javascript">
	jQuery(document).ready(function()
	{
		setOpenBlock('#block-contact');

		var diagPanels = new NosePanels({
			'nav' : 'giftcard-nav',
			'panels' : 'giftcard-panels'
		});
	});
</script>
