<?php


$_cards = $this->getCards();


?>

<div class="mt20 ml20 mr20">

<?php if($_cards->getSize()): ?>
	<table class="data-table" id="my-orders-table">
		<col width="1" />
		<col width="1" />
		<col width="1" />
		<col width="1" />
		<col width="1" />
		<thead>
		<tr>
			<?php
			/*
			<th><h3><?php echo $this->__('Card #') ?></h3></th>
			*/
			?>
			<th><h3><?php echo $this->__('Card Code') ?></h3></th>
			<th><h3><?php echo $this->__('Card Balance') ?></h3></th>
			<th><h3><?php echo $this->__('Order #') ?></h3></th>
			<th class="last"><h3 class="last"><?php echo $this->__('Card Status') ?></h3></th>
		</tr>
		</thead>
		<tbody>

			<tr class="quiet h10">
				<td colspan="4"></td>
			</tr>

		<?php foreach ($_cards as $_card): ?>
		<tr>
			<?php
			/*
			<td><?php echo $_card->getCardId() ?></td>
			*/
			?>
			<td><?php echo $_card->getCardCode() ?></td>
			<td><?php echo $_card->getCardBalance() ?></td>
			<td><a target="_blank" href="<?php echo Mage::getUrl('sales/order/view', array('order_id' => $_card->getOrderId())) ?>"><?php echo $_card->getOrderIncrementId()?></a></td>
			<td>
				<?php
					switch($_card->getCardStatus()){
						case 0:
							echo "Inactive";
							break;
						case 1:
							echo "Active";
							break;
						case 2:
							echo "Pending";
							break;
					}
				?>
			</td>

		</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
	<script type="text/javascript">decorateTable('my-orders-table');</script>
	<div class="mt10">
		<?php echo $this->getPagerHtml(); ?>
	</div>
<?php else: ?>
	<div class="mt20 mb30 center">
		<?php echo $this->__('You have placed no orders.'); ?>
	</div>
<?php endif ?>
</div>