<?php
/**
 * Partikule : Replaced the standard Select box by Radio boxes
 *
 */
?>
<label for="<?php echo $this->getFieldId('my_country')?>" class="left<?php if ($this->isRequired()) echo ' required' ?>"><?php if ($this->isRequired()) echo '<em>*</em>' ?><?php echo $this->__('Country') ?></label>
<div class="input-box left">

    <select id="<?php echo $this->getFieldId('my_country')?>" name="<?php echo $this->getFieldName('my_country')?>" title="<?php echo $this->__('Country') ?>"<?php if ($this->isRequired()):?> class="validate-select"<?php endif; ?> <?php echo $this->getFieldParams() ?>>


	    <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute('my_country')->getSource()->getAllOptions();?>
    	<?php $value = $this->getMy_country();?>
    
        <?php foreach ($options as $option):?>
            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $value) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
        <?php endforeach;?>
	
    </select>

</div>
