<?php
/**
 * Partikule : Id_Origin
 *
 */
?>
<label for="<?php echo $this->getFieldId('id_origin')?>" class="left<?php if ($this->isRequired()) echo ' required' ?>"><?php if ($this->isRequired()) echo '<em>*</em>' ?><?php echo $this->__('Origin') ?></label>
<div class="input-box left">

   	<?php $value = $this->getCustomer()->getId_origin();?>

	<input id="<?php echo $this->getFieldId('id_origin')?>" name="<?php echo $this->getFieldName('id_origin')?>" title="<?php echo $this->__('Origin') ?>" type="text" class="input-text" value="<?php echo $value ?>" />

</div>
