<?php
/**
 * Partikule : MyZip
 *
 */
?>
<label for="<?php echo $this->getFieldId('my_zip')?>" class="left<?php if ($this->isRequired()) echo ' required' ?>"><?php if ($this->isRequired()) echo '<em>*</em>' ?><?php echo $this->__('Zip') ?></label>
<div class="input-box left">

   	<?php $value = $this->getCustomer()->getMy_zip();?>

	<input id="<?php echo $this->getFieldId('my_zip')?>" name="<?php echo $this->getFieldName('my_zip')?>" title="<?php echo $this->__('Zip') ?>" type="text" class="input-text" value="<?php echo $value ?>" />

</div>
