<?php
/**
 * Partikule
 * Customer side login form
 *
 * Copy of /template/mynose/login_register.phtml
 * (mynose needs a container as the parent block isn't a type "customer/form_login" but mynose/diagnose)
 *
 */
?>
<?php

// Mage::app()->getLayout()->getBlock('catalog.topnav')->setActive('mynose');

/**
 * If user was invited, we get its eNose ID
 * and we're able to feed the register form
 *
 *
 */
$invitedNoseUser = FALSE;
$senderNoseUser = FALSE;
$invitedNoseUserId = Mage::getSingleton('core/session')->getInvitedUserNoseId();

if ($invitedNoseUserId)
{
	$invitedNoseUser = Mage::getModel('mynose/user')->getNoseUserFromId($invitedNoseUserId);
	
	if ($invitedNoseUser)
	{
		$senderId = Mage::getSingleton('core/session')->getSenderUserNoseId();
		$senderNoseUser = Mage::getModel('mynose/user')->getNoseUserFromId($senderId);
	}
}

// $relation = Mage::getSingleton('core/session')->getRelation();
?>
<div class="page-title">
	<h2><?php echo $this->__('Hello') ?><?php if($invitedNoseUser) :?><?php echo ' ' .$invitedNoseUser['firstname'] . ' ' . $invitedNoseUser['lastname']; ?><?php endif ;?></h2>
	<?php if($senderNoseUser) :?>
    	<a id="helperBtn1" class="helper-open"></a>
    <?php endif ;?>
</div>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>


<?php if($senderNoseUser) :?>
	<?php
		// Sender Name
		$sender_name = $senderNoseUser['firstname'] . ' ' . $senderNoseUser['lastname'];
	?>
	<div class="span-14 prepend-3 append-3">
	
	<div  id="helperBloc1" class="helper-bloc full-width" data-id="1">
		<a class="helper-close"></a>
		<p><?php echo $this->__('You were invited by ') ;?><strong><?php echo $sender_name; ?></strong></p>
		<?php
		/*
		 * The invited is already registered
		 */
		?>
		<?php if ( !is_null($invitedNoseUser['magento_id'])) :?>
			<p><?php echo $this->__('To accept this invitation, log in with your email and password') ;?></p>
		<?php else :?>
			<p><?php echo $this->__('To accept this invitation, simply make your diagnostic') ;?></p>
		<?php endif ;?>
	</div>
</div>

<?php endif ;?>
<div class="account-create">
	<div class="col2-set">
		<div class="col-1">
			<h3 class="title center"><a href="#"><?php echo $this->__('Registered Customers') ?></a></h3>
				<form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form">
					<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
				   	<div class="fieldset h140">
						<?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?>
						<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

						<p><?php echo $this->__('You already done the diagnostic ?') ?></p>

						<div class="mt20 box-inline">
							<span><?php echo $this->__('Login with Facebook'); ?></span>
							<?php echo $this->getChildHtml('inchoo_socialconnect_facebook_login_button'); ?>
						</div>
						<p class="mt20">
							<?php echo $this->__('Login with your email'); ?>
						</p>
				
					    <ul class="form-list login">
					        <li>
					            <label for="email" class="left required"><?php echo $this->__('Email Address') ?></label>
					            <div class="input-box left">
					                <input type="text" name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email login-email" title="<?php echo $this->__('Email Address') ?>" />
					            </div>
					        </li>
					        <li>
					            <label for="pass" class="left required"><?php echo $this->__('Password') ?></label>
					            <div class="input-box left">
					                <input type="password" name="login[password]" class="input-text required-entry validate-password login-password" id="pass" title="<?php echo $this->__('Password') ?>" />
					            </div>
					        </li>
					    </ul>
				
					    <div class="buttons-set mt20">
	                        <a href="<?php echo $this->getForgotPasswordUrl() ?>" class="f-left bottom"><?php echo $this->__('Forgot Your Password?') ?></a>
					        <button type="submit" class="button right bottom"><span><span><?php echo $this->__('Login') ?></span></span></button>
					    </div>
				    </div>
				</form>
		</div>
		
		<div class="col-2">
			<h3 class="title center"><?php echo $this->__('New Customers') ?></h3>
	        <div class="fieldset h140">
				<?php $loginBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_new_visitor')->toHtml(); ?>
				<?php echo $loginBlock ?>
	        	<div class="clearfix"></div>
	        	<div class="buttons-set bottom right">
	            	<button type="submit" onclick="setLocation('<?php echo Mage::helper('mynose/url')->getDiagnoseRegisterUrl() ; ?>')" title="<?php echo $this->__('Do the diagnostic') ?>" class="button"><span><span><?php echo $this->__('Do the diagnostic') ?></span></span></button>
	        	</div>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('login-form', true);
//]]>
</script>

