<?php $_order = $this->getOrder() ?>
<?php if ($_order): ?>
<?php
    Mage::app()->getTranslator()->init('frontend', true);
    $_backorderItems = array();
    foreach ($_order->getAllItems() as $_item) {
        if ($_item->getParentItem()) continue;
        $_sku = $_item->getProductOptionByCode('simple_sku') ? $_item->getProductOptionByCode('simple_sku') : $_item->getSku();
        $_productStock = Mage::getModel('catalog/product')->loadByAttribute('sku', $_sku);
        $stock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($_productStock);
        if ($stock->getQty() < 0) {
            $_backorderItems[] = $_item;
        }
    }
?>
<?php if (empty($_backorderItems)) : ?>
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="email-heading">
                    <h1>Thank you for your order from <?php echo Mage::app()->getStore()->getFrontendName(); ?>.</h1>
                    <p>Once your package ships we will send an email with a link to track your order. Your order summary is below. Thank you again for your business.</p>
                </td>
                <td class="store-info">
                    <h4>Order Questions?</h4>
                    <p>
                        <?php $phone = Mage::getStoreConfig('general/store_information/phone'); ?>
                        <?php if (!empty($phone)) : ?>
                        <b>Call Us:</b>
                        <a href="tel:<?php echo $phone; ?>"><?php echo $phone; ?></a><br>
                        <?php endif; ?>
                        <?php $hours = Mage::getStoreConfig('general/store_information/hours'); ?>
                        <?php if (!empty($hours)) : ?>
                        <span class="no-link"><?php echo $hours; ?></span><br>
                        <?php endif; ?>
                        <?php $email = Mage::getStoreConfig('general/store_information/email'); ?>
                        <?php if (!empty($email)) : ?>
                        <b>Email:</b> <a href="mailto:<?php echo $email; ?>"><?php echo $email; ?></a>
                        <?php endif; ?>
                    </p>
                </td>
            </tr>
        </table>
<?php else : ?>
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="email-heading">
                    <h1>Thank you for your order from <?php echo Mage::app()->getStore()->getFrontendName(); ?>.</h1>
                    <p style="font-size:12px; line-height:16px; margin:0;"><br />
                        At least one of your ordered products is in backorder, But in the process of shipping to our shop.<br/>
                        Our team will contact you within the next few hours in order to identify you an estimated deadline at which we expect to receive it.
                    </p>
                    <p style="font-size:12px; line-height:16px; margin:0;"><br />
                        The following products are in backorder:
                    </p>
                </td>
                <td class="store-info">
                    <h4>Order Questions?</h4>
                    <p>
                        <?php $phone = Mage::getStoreConfig('general/store_information/phone'); ?>
                        <?php if (!empty($phone)) : ?>
                            <b>Call Us:</b>
                            <a href="tel:<?php echo $phone; ?>"><?php echo $phone; ?></a><br>
                        <?php endif; ?>
                        <?php $hours = Mage::getStoreConfig('general/store_information/hours'); ?>
                        <?php if (!empty($hours)) : ?>
                            <span class="no-link"><?php echo $hours; ?></span><br>
                        <?php endif; ?>
                        <?php $email = Mage::getStoreConfig('general/store_information/email'); ?>
                        <?php if (!empty($email)) : ?>
                            <b>Email:</b> <a href="mailto:<?php echo $email; ?>"><?php echo $email; ?></a>
                        <?php endif; ?>
                    </p>
                </td>
            </tr>
        </table>
        <br/>
        <table cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #EAEAEA;">
            <thead>
                <tr>
                    <th align="left" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Item') ?></th>
                    <th align="left" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Sku') ?></th>
                    <th align="center" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Qty') ?></th>
                    <th align="right" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Subtotal') ?></th>
                </tr>
            </thead>
            <?php $i=0; foreach ($_backorderItems as $_item): ?>
                <?php $i++; ?>
                <tbody<?php echo $i%2 ? ' bgcolor="#F6F6F6"' : '' ?>>
                <?php echo $this->getItemHtml($_item) ?>
                </tbody>
            <?php endforeach; ?>
        </table>
    <?php endif; ?>
<?php endif; ?>
