<?php $_customerSession = Mage::getSingleton('customer/session'); ?>
<?php if ($_customerSession->isLoggedIn()) : ?>
    <?php $_user = $this->getFlagCgu($_customerSession->getCustomer()); ?>
    <?php if ($_user['term_of_use'] == 0) : ?>
        <div class="modal-wrapper" id="cgu">
            <div class="overlay"></div>
            <div class="modal login-modal">
                <div class="modal-close close-modal"></div>
                <div class="tabs">
                    <div class="tab active" id="new-visitor">
                        <h2 class="section-title"><?php echo $this->__('Cookies & Conditions'); ?></h2>
                        <p class="centered"><?php echo $this->__("By navigating this website, you accept the use of Cookies as well as Nose's Terms & Conditions. This helps us bring your a personalized experience."); ?></p>
                        <br>
                        <div class="scrollable"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('cgu_text')->toHtml(); ?></div>
                        <br>
                        <p class="centered">
                            <a class="button button-inline" href="<?php echo $this->getUrl('cgu/index/index', array('current_url' => base64_encode($this->helper('core/url')->getCurrentUrl()))); ?>">
                                <?php echo $this->__('Accept & Continue'); ?>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#cgu').addClass('visible');
            });
        </script>
    <?php endif; ?>
<?php endif; ?>