<div class="modal-wrapper" id="do_the_diagnosis">

  <div class="overlay close-modal"></div>

  <div class="modal login-modal">
    <div class="modal-close close-modal"></div>
    <h2 class="section-title"><?php echo $this->__('Perform your olfactive diagnosis'); ?></h2>
    <p class="centered"><?php echo $this->__('The Nose diagnostic allows you to change and find a new perfume based on your preferences and your olfactive history. Once completed, you can access and visualize your diagnostic (favorites notes and olfactive families), from which Nose will recommend you 5 perfumes and home fragrances.'); ?></p>
    <a class="button icon-arrow-right" href="<?php echo $this->getUrl('mynose/diagnose/create'); ?>"><?php echo $this->__('Do the diagnosis'); ?></a>
    <p class="centered"><a class="close-modal small grey" href="#"><?php echo $this->__('No thanks, continue to the website'); ?></a></p>
  </div>

</div>