<div class="modal-wrapper" id="loginModal">

  <div class="overlay close-modal"></div>

  <div class="modal login-modal">
    <div class="modal-close close-modal"></div>

    <div class="subnav-container center">
      <ul class="subnav">
        <li class="active half"><a class="tab-link" data-tab="registered-visitor"><span><?php echo $this->__('Registered Customers'); ?></span></a></li>
        <li class="half"><a class="tab-link" data-tab="new-visitor"><span><?php echo $this->__('New Customers'); ?></span></a></li>
      </ul>
    </div>

    <div class="tabs">

      <div class="tab active" id="registered-visitor">
        <h2 class="section-title"><?php echo $this->__('Very happy to see you again'); ?></h2>
        <br>
        <?php echo $this->getChildHtml('inchoo_socialconnect_facebook_login_button'); ?>
        <div class="subsection-title"><?php echo $this->__('or'); ?></div>
        <form class="account-form" method="post" action="<?php echo $this->getUrl('customer/account/loginPost', array('_secure' => true, 'referer' => base64_encode($this->getUrl('/')))); ?>">
          <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
          <input type="text" name="login[username]" id="email" placeholder="<?php echo $this->__('Email'); ?>">
          <input type="password" name="login[password]" id="pass" placeholder="<?php echo $this->__('Password'); ?>">
          <button type="submit" class="button button-pink icon-arrow-right"><?php echo $this->__('Sign in with an email'); ?></button>
        </form>
        <p class="centered"><a class="small grey no-underline" href="<?php echo $this->getUrl('customer/account/forgotpassword'); ?>"><?php echo $this->__('Forgot your password?'); ?></a></p>
        <p class="centered"><a class="close-modal small grey" href="#"><?php echo $this->__('No thanks, continue to the website'); ?></a></p>
      </div>

      <div class="tab" id="new-visitor">
        <h2 class="section-title"><?php echo $this->__('Perform your olfactive diagnosis'); ?></h2>
        <p class="centered" style="margin-bottom: 2rem;"><?php echo $this->__('The Nose diagnostic allows you to change and find a new perfume based on your preferences and your olfactive history. Once completed, you can access and visualize your diagnostic (favorites notes and olfactive families), from which Nose will recommend you 5 perfumes and home fragrances.'); ?></p>
        <a class="button button-pink icon-arrow-right" href="/fr/mynose/diagnose/create"><?php echo $this->__('Do the diagnosis'); ?></a>
        <p class="centered"><a class="close-modal small grey" href="#"><?php echo $this->__('No thanks, continue to the website'); ?></a></p>
      </div>

    </div>

  </div>

</div>