<div class="modal-wrapper" id="evaluate_your_perfumes">

  <div class="overlay close-modal"></div>

  <div class="modal login-modal">
    <div class="modal-close close-modal"></div>

    <h2 class="section-title">
      <?php echo $this->__('Hello'); ?> <?php echo Mage::getModel('customer/session')->getCustomer()->getFirstname(); ?> <?php echo $this->__('What did you think of your samples kit?'); ?><br><br>
      <?php echo $this->__('Evaluate your perfumes'); ?> <?php echo $this->__('and get a 10€ voucher!'); ?>
    </h2>

    <p class="centered">
      <a class="button button-inline button-white" href="<?php echo $this->getUrl('mynose/eval') ?>"><?php echo $this->__('Evaluate your perfumes'); ?></a>
    </p>
    <p class="centered"><a class="close-modal small grey" href="#"><?php echo $this->__('No thanks, continue to the website'); ?></a></p>

  </div>

</div>
