<?php $_diag = Mage::registry('diag'); ?>
<?php $diagBundleId = Mage::getStoreConfig('nose/general/bundle_product_id'); ?>
<?php if ($_diag): ?>
    <div class="modal-wrapper" id="order_your_sample_kit">
        <div class="overlay close-modal"></div>
        <div class="modal login-modal">
            <div class="modal-close close-modal"></div>
            <div class="tabs">
                <div class="tab active" id="new-visitor">
                    <h2 class="section-title"><?php echo $this->__('Hello'); ?> <?php echo Mage::getModel('customer/session')->getCustomer()->getFirstname(); ?></h2>
                    <h2 class="section-title"><?php echo $this->__('order your perfume samples kit for only 10€'); ?></h2>
                    <div class="modal-products sample-products">
                        <?php $_samples = $this->getSamplesFromDiagnosticItems($_diag->perfumes); ?>
                        <?php $_sampleIds = array(); ?>
                        <?php foreach ($_samples as $_sample) : ?>
                            <?php if ($_sample) : ?>
                                <?php $_sampleIds[] = $_sample->getId(); ?>
                                <div class="product">
                                    <img src="<?php echo $this->helper('catalog/image')->init($_sample, 'small_image')->keepTransparency(true)->resize(100); ?>" alt="<?php echo $_sample->getName(); ?>" />
                                </div>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </div>
                    <?php if ($_sampleIds) : ?>
                        <button onclick="setBundle('<?php echo Mage::helper('checkout/cart')->getCartUrl() ?>bundle/bundle/<?php echo $diagBundleId ;?>/products/<?php echo implode(',', $_sampleIds); ?>/')"  class="button button-pink" title="<?php echo $this->__('Order the Diagnostic pack') ?>" type="submit">
                            <?php echo $this->__('Order your samples') ?>
                        </button>
                    <?php endif; ?>
                    <p class="centered"><?php echo $this->__('and get a 10€ voucher!'); ?></p>
                    <p class="centered"><a class="close-modal small grey" href="#"><?php echo $this->__('No thanks, continue to the website'); ?></a></p>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>