
<div class="modal-wrapper" id="use_kit_coupon">

    <div class="overlay close-modal"></div>

    <div class="modal login-modal gold-modal">
        <div class="modal-close close-modal"></div>

        <div class="modal-banner">
            <img src="<?php echo $this->getSkinUrl('images/image_coupon_bg.png'); ?>">
        </div>

        <h2 class="section-title" style="max-width: 26rem;">
            <?php echo $this->__('Hello'); ?> <?php echo Mage::getModel('customer/session')->getCustomer()->getFirstname(); ?>,<br>
            <?php echo $this->__('You have purchased a 10€ sample kit.'); ?><br>
            <?php echo $this->__('Nose is reimbursing you!'); ?>
        </h2>
        <p class="centered" style="max-width: 22rem; margin-left: auto; margin-right: auto;"><?php echo $this->__('Here is your 10€ voucher that you can apply now on all products:'); ?></p>
        <p class="centered">
          <span class="voucher" id="voucherCode">
            <input class="voucher-code" value="<?php echo Mage::registry('coupon_code') ?>">
			  <!--
            <span class="copied"><?php echo $this->__('Copied to clipboard'); ?></span>
            -->
          </span>
        </p>
        <p class="centered">
            <a id="btnCopyVoucherCode" class="button button-inline button-white" href="#"><?php echo $this->__('Copy and Continue shopping'); ?></a>
        </p>
        <p class="centered"><a class="close-modal small grey" href="#"><?php echo $this->__('No thanks, continue to the website'); ?></a></p>

    </div>

</div>

<script type="text/javascript">

	var copyVoucherCode = function()
	{
		$j('.voucher-code').get(0).select();
		document.execCommand('copy');

		$j('#btnCopyVoucherCode').html('<?php echo $this->__('Copied to clipboard'); ?>');

		$j('#btnCopyVoucherCode').off('click');
		$j('#voucherCode').off('click');

		$j('#btnCopyVoucherCode').click(function(){
			$j('#use_kit_coupon').removeClass('visible');
		});

		setTimeout(function() {
			$j('#btnCopyVoucherCode').html('<?php echo $this->__('Continue shopping'); ?>');
			// that.find('.copied').removeClass('visible');
		}, 2000);

	};

	$j('#voucherCode').click(function() {
		copyVoucherCode();
	});
	$j('#btnCopyVoucherCode').click(function() {
		copyVoucherCode();
	});

</script>