<!--@subject {{var store.getFrontendName()}} : Mise à jour de l'expédition N°{{var shipment.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Logo de l'email",
"htmlescape var=$billing.getName()":"Nom du client invité",
"var order.increment_id":"N° de commande",
"var order.getStatusLabel()":"Statut de commande",
"var comment":"Commentaire de commande",
"var store.getFrontendName()":"Nom de la boutique"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <!-- [ header starts here] -->
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 22px 0;">Cher {{htmlescape var=$billing.getName()}},</h1>
                    <p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">
                        Comme Commande N° {{var order.increment_id}} est maintenant <br/>
                        <strong>{{var order.getStatusLabel()}}</strong>.
                    </p>
                <p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">{{var comment}}</p>
                    <p style="font-size:12px; line-height:16px; margin:0;">Si vous avez des questions au sujet de votre commande, n'hésitez pas à nous contacter sur <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>ou bien appelez-nous au <span class="nobr">{{config path='general/store_information/phone'}}</span>.</p>
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="padding-top:20px;"><center>
                  <p style="font-size:12px; margin:0;">Toute l'équipe de <strong>{{var store.getFrontendName()}}</strong> vous remercie.</p></center></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>