<?php
/**
 * Nose
 *
 * @category    design
 * @package     nose_default
 * @author		2011 Partikule (http://www.partikule.net)
 *
 */

?>
<form id="search_mini_form" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get">
    <div class="form-search" id="form-search">
<!--         <label for="search"><?php echo $this->__('Search:') ?></label> -->
        <div class="input">
<!--         	<input id="search" type="text" name="<?php echo $this->helper('catalogsearch')->getQueryParamName() ?>" value="<?php echo $this->helper('catalogsearch')->getEscapedQueryText() ?>" class="input-text" /> -->
        	<input id="search" type="text" name="<?php echo $this->helper('catalogsearch')->getQueryParamName() ?>" value="<?php echo $this->__('Search') ?>" class="input-text" />
        	<button type="submit" title="<?php echo $this->__('OK') ?>" class="button"><span><span><?php echo $this->__('OK') ?></span></span></button>
        </div>
        <div id="search_autocomplete" class="search-autocomplete"></div>
        <script type="text/javascript">
        //<![CDATA[
//            var searchForm = new Varien.searchForm('search_mini_form', 'search', '<?php echo $this->__('Search entire store here...') ?>');
//            searchForm.initAutocomplete('<?php echo $this->helper('catalogsearch')->getSuggestUrl() ?>', 'search_autocomplete');
			var searchstring = '<?php echo $this->__('Search') ;?>'
			$j('#search').focus(function(){
				$j(this).val('');
			});
			$j('#search').focusout(function(){
				if ($j(this).val() == '')
					$j(this).val(searchstring);
			});
        //]]>
        </script>
    </div>
</form>
