<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Product list template
 * Products by attribute from one category
 *
 * @see Partikule_Attribute_Block_Product
 *
 */
?>

<?php 

// Page from page ID registered by the controller
// Needed to get some info from the current page
// $page = Mage::getModel('ionize/page')->getPageById(Mage::registry('id_page'));

// Category / Attributes
$category_id = 		Mage::registry('category_id');
$attribute = 		Mage::registry('attribute');
$attribute_value = 	Mage::registry('attribute_value');

$limit_to_configurable = TRUE;

$attributes = array($attribute => $attribute_value);


// Product Collection
// Each product in the collection has the perfume_detail data.
// Not so clean regarding the universality of the Attribute module....
/*
$_products = $this->getProductCollection($attribute, $attribute_value, $limit_to_configurable);
*/
$_products = $this->getProductCollection($attributes, $limit_to_configurable);

// $numRows = ( $productCollection->count() > 6) ? 2 : 1;
$numRows = 1;
$itemsPerPage = 5;
$_iterator = 0;

// Uniq ID of the Carousel
$carousel_id = 'article_carousel' . $attribute_value;


/*
Rapportée d'une journée 
passée à butiner dans les 
fleurs et la chaleur, 
une eau de toilette qui vole 
et sent si bon l'été !”
*/

?>
<?php if ( $_products->getSize() ): ?>

<div class="col-main">

	<div id="<?php echo $carousel_id ; ?>" class="article item_carousel rows<?php echo $numRows ;?>">
		
    	<ul class="rows<?php echo $numRows ;?>">
		
			<?php foreach($_products as $_product): ?>

			<?php 
			
			// Product URL in its own category
			$_category = Mage::getModel('catalog/category')->load($category_id);

			$_url = Mage::getBaseUrl().trim(Mage::getModel('catalog/product_url')->getUrlPath($_product, $_category),"/");

			$_name = $this->htmlEscape($_product->getName());
			
			$_name_by_brand = $_name . ' ' . $this->__('by') . ' ' . $_category->getName();
			$_by_brand = $this->__('by') . ' ' . $_category->getName();
			
			$_sex = Mage::helper('attribute/Attribute')->getOptionBackendValue('sex', $_product->getSex());

			// Cheapest first simple child
			$cheapest = 		Mage::helper('boutique/Product')->getCheapestSimple($_product);
			
			?>
			<li class="item link">
				<div class="product">
					<?php if($_sex) :?>
						<span class="icon24 sex sex_<?php echo $_sex; ?>"></span>
					<?php endif ;?>

					<a href="<?php echo $_url ?>" title="<?php echo $_name_by_brand ?>" class="picture"  style="background:url(<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(160) ?>) no-repeat 50% top;"></a>

					<div class="details">
					
						<span class="uppercase"><strong><?php echo $_category->getName() ?></strong></span><br />
						<strong><?php echo $_name ?></strong>

						<?php if ( ! is_null($cheapest) ) :?>
							<br/><span class="product-type"><?php echo $cheapest->getAttributeText('LIGHTSPEED_PRODUCT_COLOR') ;?></span><br />
							<?php echo $this->getPriceHtml($cheapest, true) ;?>
						<?php endif ;?>
						
					</div>
				</div>
			</li>
			<?php endforeach ?>
		
		</ul>
		<div class="clearfix"></div>
	</div>
</div>


<div class="clearfix"></div>


<script type="text/javascript">

jQuery(document).ready(function()
{
	// brand product carousel
	if(jQuery('#<?php echo $carousel_id ; ?>').length > 0)
	{
		$j('#<?php echo $carousel_id ; ?>').carousel({
			itemsPerPage: <?php echo $itemsPerPage ;?>,
			itemsPerTransition: <?php echo $itemsPerPage ;?>,
			noOfRows: <?php echo $numRows ;?>,
			pagination: false,
			speed: 500,
			nextText:'<?php echo($this->__('Next Products')) ;?>',
			prevText:'<?php echo($this->__('Prev Products')) ;?>'
		});

		$j('#<?php echo $carousel_id ; ?> li').click(function(event)
		{
			a = $j('a:first', this).attr('href');
			if (a)
			{
				window.location.href = a;
			}
		});
	}
});

</script>



<?php endif; ?>

