<?php
/**
 * Partikule
 *
 * @modified	2011.11.6
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Navigation by Product Attribute
 * @see Partikule_Attribute_Block_Navigation
 * 
 * 1. Display of the Attributes values as navigation menu for products in the current category
 * 2. XHR Call to attribute/product/getlist
 * 3. Display the results in the div : #productList
 *
 * IMPORTANT : If no attribute exists, the XHR call (2.) returns the complete category products list
 *
 */
?>

<?php 

$page = Mage::helper('ionize/page')->getRegisteredPage();

// Current page linked category
$category = $page->getFirstCategory();

// Will be send through XHR
$category_id = $category->getId();

?>

<?php if ($category_id) :?>

	<?php
	
	/*
	 * Attributes values used by the products of the category
	 * 
	 * Array (
	 *	    [0] => Array (
	 *	            [value] => 38
	 *	            [label] => The Attribute Value label
	 *	        )
	 *	    ...
	 * )
	 *
	 */
	$attributeCode = 'boutique_product_type';
	
	$navigationItems = $this->getNavigationItems($attributeCode, $category);

// trace($navigationItems);

	// Will be send through XHR
	$attributeValue = ( ! empty($navigationItems)) ? $navigationItems[0]['option_id'] : '';
	
	?>
	<div class="subnav-container">
		<ul id="attribute-nav" class="subnav">
			<li class="first" rel="new">
				<a class="new" rel="new" href=""><span><?php echo $this->__('New products') ;?></span></a>			
			</li>
		<?php if (count($navigationItems) > 0 ) :?>
		
			<?php foreach($navigationItems as $key => $item) :?>
			
				<li class="<?php if ( $key == 0 ) :?>first<?php endif ;?>" rel="<?php echo($item['option_id']) ;?>">
					<a class="attribute" rel="<?php echo($item['option_id']) ;?>" href=""><span><?php echo($item['value']) ;?></span></a>
				</li>
			
			<?php endforeach ;?>
	
		<?php endif ;?>
		</ul>
	</div>
	
	<?php
	/**
	 * Products container
	 * This container receives the Ajax loaded products
	 *
	 */
	?>
	<div id="brandProductList"></div>
	
	
	<script type="text/javascript">
	
		<?php
		/*
		 * XHR load of the products list
		 * prototype.js
		 *
		 */
		?>
		var getProductByAttribute = function(params)
		{
			var cont = $j('#brandProductList');
			cont.spin();
			$j('ul', cont).fadeOut();

			$j.ajax({
				url: '<?php echo Mage::getBaseUrl() ;?>nose/product/getbrandproducts',
				type: 'POST',
				data: params,
				success: function(data){
					cont.spin();
					cont.html(data);
				}
			});

		}
		
		<?php
		/*
		 * XHR load of the new products list
		 * jQuery
		 *
		 */
		?>
		var getNewProducts = function()
		{
			var cont = $j('#brandProductList');
			cont.spin();
			$j('ul', cont).fadeOut();
			
			$j.ajax({
				url: '<?php echo Mage::getBaseUrl() ;?>nose/product/getnewproducts',
				type: 'POST',
				data: {'category_id': '<?php echo($category_id) ;?>'},
				success: function(data){
					cont.spin();
					cont.html(data);
				}
			});
		}
		
		<?php
		/*
		 * Adds the "active" class to the current active menu item
		 * prototype.js
		 *
		 * @param	int		Attribute code
		 *
		 */
		?>
		var setActiveMenuItem = function(attribute_value)
		{
		    $$('#attribute-nav li').each(function(li)
		    {
		    	li.removeClassName('active');
				if (li.readAttribute('rel') == attribute_value)
				{
					li.addClassName('active');
				}
			});
		}
		
		<?php
		/*
		 * Add event on each nose attribute sub menu
		 * prototype.js
		 *
		 */
		?>
	    $$('#attribute-nav li a.attribute').each(function(a)
	    {
	    	var params = {
				'category_id': 	'<?php echo($category_id) ;?>',
				'attribute': 	'<?php echo($attributeCode) ;?>'
	    	}
	    
	    	a.observe('click', function(e)
	    	{
	    		e.stop();
	    		var attribute_value = a.readAttribute('rel');
	    		
	    		params.attribute_value = attribute_value;
	    		
	    		// Get product list
	    		getProductByAttribute(params);
	    		
	    		// Set active menu
	    		setActiveMenuItem(attribute_value);
			});
	    });

	    $$('#attribute-nav li a.new').each(function(a)
	    {
	    	a.observe('click', function(e)
	    	{
	    		e.stop();
	    		getNewProducts();
	    		setActiveMenuItem('new');
			});
	    });

	
	
		<?php
		/*
		 * Params at loading
		 * prototype.js
		 *
		 */
		?>
		var loadParams = {
			'category_id': 	'<?php echo($category_id) ;?>',
			'attribute': 	'<?php echo($attributeCode) ;?>',
			'attribute_value': 		'<?php echo($attributeValue) ;?>',
			'id_page': '<?php echo($page->getId()) ;?>'
		}

		<?php
		// Initial call of getProductByAttribute()
		?>
//		getProductByAttribute(loadParams);
		
		<?php
		// Initial Activation of the first menuItem
		?>
//		setActiveMenuItem('<?php echo($attributeValue) ;?>');
		

		<?php
		/*
		 * At load : Get new products
		 * prototype.js
		 *
		 */
		?>
		getNewProducts();
		setActiveMenuItem('new');

		
	</script>

<?php endif ;?>

