<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Product list template
 * Products by attribute from one category
 *
 * @see Partikule_Attribute_Block_Product
 *
 */
?>

<?php 

// Page from page ID registered by the controller
// Needed to get some info from the current page
// $page = Mage::getModel('ionize/page')->getPageById(Mage::registry('id_page'));

// Category / Attributes
$category_id = 		Mage::registry('category_id');
$attribute = 		Mage::registry('attribute');
$attribute_value = 	Mage::registry('attribute_value');

$limit_to_configurable = TRUE;

// Product Collection
// Each product in the collection has the perfume_detail data.
// Not so clean regarding the universality of the Attribute module....
$productCollection = $this->getProductCollection($attribute, $attribute_value, $category_id, $limit_to_configurable);

$numRows = ( $productCollection->count() > 6) ? 2 : 1;
$itemsPerPage = 3;

/*
Rapportée d'une journée 
passée à butiner dans les 
fleurs et la chaleur, 
une eau de toilette qui vole 
et sent si bon l'été !”
*/

?>
<?php if( $productCollection->count() > 0): ?>

<div class="col-main">

	<div id="brand_carousel<?php echo($attribute_value); ?>" class="brand item_carousel rows<?php echo $numRows ;?>">
		
		<?php $_iterator = 0; ?>
		
    	<ul class="rows<?php echo $numRows ;?>">
		
			<?php foreach($productCollection as $_product): ?>

			<?php 
			
//			$_product_in_category = Mage::getModel('catalog/product')->load($_product->getId());
			
			// Product URL in its own category
			$_category = Mage::getModel('catalog/category')->load($category_id);
			$_url = Mage::getBaseUrl().trim(Mage::getModel('catalog/product_url')->getUrlPath($_product,$_category),"/");

			$_name = $this->htmlEscape($_product->getName());
			$_brand = $_product->getNose_brand();
			
			$_name_by_brand = ($_brand) ? $_name . ' ' . $this->__('by') . ' ' . $_brand : $_name;
			$_by_brand = ($_brand) ? $this->__('by') . ' ' . $_brand : '';
			
			$_sex = ($_product->getNose_sex()) ? $_product->getNose_sex() : $_product->getSex();
			
			// Cheapest first simple child
//			$cheapest = $this->getCheapestSimple($_product);
			
			?>
				<li class="item link">
					<div class="product">

						<a href="<?php echo $_url ?>" title="<?php echo $_name_by_brand ?>" class="picture" style="background:url(<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(180) ?>) no-repeat 50% top;"></a>

						<div class="details">


							<h3><?php echo $_name ?></h3>
							<h4><?php echo $_by_brand ?></h4>


							<p class="summary"><?php echo $_product->getInspiration() ?></p>
							
							<?php if($_sex) :?>
							<span class="icon24 sex_<?php echo $_sex; ?>"></span>
							<?php endif ;?>


							<a class="button"><?php echo $this->__('See the Product') ?></a>
				

							<?php // echo $this->getPriceHtml($_product, true, '-related') ?>
							<?php // echo $this->getPriceHtml($_item, true, '-related') ?>
							<?php // echo($_item->getPrice()); ?>
							
						</div>
					</div>
				</li>
			<?php endforeach ?>
		
		</ul>
		<div class="clearfix"></div>

	</div>

</div>

<div class="clearfix"></div>


<script type="text/javascript">

// Cufon.replace('h2, .col-title', { fontFamily: 'Akkurat-Light' });
// Cufon.now();

jQuery(document).ready(function()
{
	// brand product carousel
	if(jQuery('#brand_carousel<?php echo($attribute_value); ?>').length > 0)
	{
		$j('#brand_carousel<?php echo($attribute_value); ?>').carousel({
			itemsPerPage: <?php echo $itemsPerPage ;?>,
			itemsPerTransition: <?php echo $itemsPerPage ;?>,
			noOfRows: <?php echo $numRows ;?>,
			pagination: false,
			speed: 500,
			nextText:'<?php echo($this->__('Next Products')) ;?>',
			prevText:'<?php echo($this->__('Prev Products')) ;?>'
		});

		$j('#brand_carousel<?php echo($attribute_value); ?> li').click(function(event)
		{
			a = $j('a:first', this).attr('href');
			if (a)
			{
				window.location.href = a;
			}
		});
	}
});


</script>



<?php endif; ?>

