<?php
/*
 * Sponsort's Credit History
 * @see Partikule_Sponsor_Block_Sponsor
 *
 */
?>

<?php

$credits = $this->getCreditHistory();

// Add the diag of each grandson
foreach($credits as $key => $credit)
{
	if ( ! empty($credit['sponsored_id']))
	{
		$credits[$key]['diag'] = array();
		$credits[$key]['has_bought'] = FALSE;

		$customer = Mage::getModel('customer/customer')->load($credit['sponsored_id']);
		$has_bought = Mage::getModel('mynose/customer')->hasBoughtLastDiagSampleKit($customer);

		// Get the diag's perfumes array (associative)
		if ( ! $has_bought)
		{
			$credits[$key]['diag'] = Mage::getModel('mynose/diagnostic')->getCustomerMasterDiag($customer);

			// Get Samples Ids from masters
			$credits[$key]['sample_ids'] = array();
			foreach($credits[$key]['diag'] as $perfume)
			{
				$product =  Mage::getModel('mynose/diagnostic')->getSampleFromDiagnosticItem($perfume);
				$credits[$key]['sample_ids'][] = $product ? $product->getId() : '';
			}
		}
		else
			$credits[$key]['has_bought'] = TRUE;
	}
}

// Diag product bundle ID
$diag_bundle_id = Mage::getStoreConfig('nose/general/bundle_product_id');


?>

<?php if ( !empty($credits)) :?>

	<div class="span-18 prepend-2 append-1 mt20">

		<?php
		/*
		 * Ajax message container
		 *
		 */
		?>
		<div class="ajx-message success" id="ajxMessageContact">
			<div class="ajx-message-content"></div>
		</div>

		<table class="diag-results" id="diag-results" style="width:100%;">
			<thead>
			<tr>
				<th class=""><h3><?php echo $this->__('Date') ?></h3></th>
				<th class="a-center"><h3><?php echo $this->__('Variation') ?></h3></th>
				<th class=""><h3><?php echo $this->__('Source') ?></h3></th>
				<th></th>
			</tr>
			</thead>

			<tbody>

				<tr class="quiet h10">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>

				<?php foreach($credits as $credit): ?>
					<tr>
						<td><?php echo date("d/m/Y", strtotime($credit['ref_date'])) ;?></td>
						<td class="a-center"><?php echo $credit['variation'] ?></td>
						<td><?php echo $credit['reason'] ?></td>
						<td>
							<?php if ( ! empty($credit['sponsored_id'])):?>

								<?php
								/*
								 * Show Diagnosis button
								 *
								?>
								<?php
									$user = Mage::getModel('mynose/user')->getNoseUserFromMagentoId($credit['sponsored_id']);
								?>
								<?php if ( ! empty($user)):?>
									<form id="formShowDiagnostic<?php echo $user['id_user']; ?>" action="<?php echo Mage::helper('mynose/url')->getContactDiagnosticUrl() ?>" method="post">
										<input type="hidden" name="from" value="mynose/contact/book" />
										<input type="hidden" name="id" value="<?php echo $user['id_user']; ?>" />
										<button id="btnDiagnostic<?php echo $user['id_user']; ?>" type="button" title="<?php echo $this->__('See diagnostic') ?>" class="button btnDiagnostic" data-id="<?php echo $user['id_user'] ?>"><span><span><?php echo $this->__('See diagnostic') ?></span></span></button>
									</form>
								<?endif ;?>
								<?php
								 */
								?>


								<?php
								/*
								 * Buy Sample Kit
								 *
								 */
								?>
								<?php if ( ! empty($credit['diag'])): ?>
									<?php
										$sample_url = implode(',', $credit['sample_ids']);
									?>
									<button onclick="setBundle('<?php echo Mage::helper('checkout/cart')->getCartUrl() ?>bundle/bundle/<?php echo $diag_bundle_id ;?>/products/<?php echo $sample_url; ?>/')"  class="button action yellow" title="<?php echo $this->__('Offer this Sample Kit') ?>" type="submit">
										<span>
											<span><?php echo $this->__('Offer this Sample Kit') ?></span>
										</span>
									</button>
								<?endif ;?>

								<?php if ( isset($credit['has_bought']) && $credit['has_bought'] == TRUE): ?>
									<?php echo $this->__('Has already bought the Sample Kit') ?>
								<?endif ;?>
							<?endif ;?>
						</td>
					</tr>
				<?php endforeach ;?>

			</tbody>
		</table>
	</div>

	<script type="text/javascript">
		jQuery(document).ready(function()
		{
			$j('.btnDiagnostic').each(function(idx){

				$j(this).click(function(data, evt)
				{
					var item = data.target;
					var id = $j(this).attr('data-id');

					$j('#formShowDiagnostic' + id).submit();
				});
			});
		});

	</script>

<?php endif; ?>


