<?php

/*
 * @see Partikule_Sponsor_Block_Credit
 *
 */
?>

<?php

	$nb_credits = $this->getNbCredits();
	$nb_credits = '<span style="font-size:18px;font-weight:bold;">'.$nb_credits.' '.$this->__('credits').'</span>';
?>

<div class="center mt20">
	<p><?php echo $this->__('You currently have %s', $nb_credits); ?>.</p>

	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('sponsor_summary_intro')->toHtml() ?>

	<button onclick="setLocation('<?php echo Mage::getBaseUrl(). 'mynose/contact/add/' ; ?>')" class="button action yellow big" title="<?php echo $this->__('Invite friends'); ?>" type="submit">
		<span>
			<span><?php echo $this->__('Invite friends'); ?></span>
			<span class="small"><?php echo $this->__('and receive free samples'); ?></span>
		</span>
	</button>

</div>





