<?php

/*
 * @see Partikule_Mynose_Block_Contact
 *
 */
?>

<?php

$helpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_contact_create_help')->toHtml();
$relationTypes = $this->getRelationTypes();

?>

<?php
/*
 * Contact form
 *
 */
?>

<form name="contactForm" id="contactForm" method="post" class="nose-form" action="<?php echo Mage::helper('mynose/url')->getContactFormUrl() ?>">

	<h3 class="section-title"><?php echo $this->__("Add multiple contacts") ?></h3>

	<div class="mobile-scroll">

	<table class="data-table diagnose-table input-table">
		<thead>
			<tr>
				<th class="no-border"><?php echo $this->__('Firstname') ?></th>
				<th class="no-border"><?php echo $this->__('Lastname') ?></th>
				<th class="no-border"><?php echo $this->__('Link') ?></th>
				<th class="no-border pr0"><?php echo $this->__('Email') ?></th>
			</tr>
		</thead>
		<tbody>
			<?php for($i=0; $i<5; $i++): ?>
				<tr>
					<td>
						<input type="text" name="firstname<?php echo $i; ?>" id="firstname<?php echo $i; ?>" value="<?php echo $this->htmlEscape($this->getFormData()->getFirstname()) ?>" placeholder="<?php echo $this->__('Firstname') ?>" class="input-text" />
					</td>
					<td>
						<input type="text" name="lastname<?php echo $i; ?>" id="lastname<?php echo $i; ?>" value="<?php echo $this->htmlEscape($this->getFormData()->getLastname()) ?>" placeholder="<?php echo $this->__('Lastname') ?>" class="input-text" />
					</td>
					<td>
						<select name="link<?php echo $i; ?>" id="link<?php echo $i; ?>">
							<?php foreach($relationTypes as $relation) :?>
								<option value="<?php echo($relation['id_relation_type']) ;?>"><?php echo( $relation['relation_name']) ;?></option>
							<?php endforeach ;?>
						</select>
					</td>
					<td>
						<input type="text" name="email<?php echo $i; ?>" id="email<?php echo $i; ?>" value="" placeholder="<?php echo $this->__('Email') ?>" class="input-text validate-email" />
					</td>
				</tr>
			<?php endfor; ?>
		</tbody>


	</table>

</div>

	<div class="clearfix"></div>

	<div class="center" id="contact-buttons-container">
		<button type="button" title="<?php echo $this->__('Add contact') ?>" class="button button-inline icon-arrow-right" onclick="contact.save()"><?php echo $this->__('Launch Invitations') ?></button>
	</div>

</form>



<script type="text/javascript">

	var contact = new BasicForm('contactForm', '<?php echo Mage::helper('mynose/url')->getContactFormUrl() ?>');

	var contactForm = new VarienForm('contactForm', true);

</script>


