<?php

/*
 * @see Partikule_Mynose_Block_Contact
 *
 */
?>
<?php

$helpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_contact_create_help')->toHtml();
$relationTypes = $this->getRelationTypes();

$currentNoseUser = $this->getCurrentNoseUser();
$contacts = $this->getContacts();

$nb_invited = 0;
foreach ($contacts as $_contact)
{
	if ($_contact['id_user1'] == $currentNoseUser['id_user'])
        $nb_invited += 1;
}

$nb_credits = $this->getNbCredits();

$voucher_amount = $this->getCouponAmount();

$_events = $this->getCalendarEvents();

// Calendar
$itemsPerPage = 2;
$numRows = 1;
$startItemIndex = 0;

?>

<div class="sponsorship-counts">

	<div class="count">
		<div class="count-label"><?php echo $this->__('Invitations sent'); ?></div>
		<div class="count-value"><?php echo $nb_invited ?></div>
	</div>

	<div class="count">
		<div class="count-label"><?php echo $this->__('Free samples'); ?></div>
		<div class="count-value"><?php echo $nb_credits ?></div>
	</div>

	<div class="count">
		<div class="count-label"><?php echo $this->__('Voucher amount'); ?></div>
		<div class="count-value"><?php echo $voucher_amount ?> €</div>
	</div>

</div>


<div class="sponsorship-invite">

	<div class="invite-banner">

		<div class="banner-section">
			<h3 class="banner-section-title"><?php echo $this->__('1 échantillon'); ?></h3>
			<p class="banner-section-subtitle"><?php echo $this->__('offert par diagnostic réalisé.'); ?></p>
		</div>

		<div class="banner-section">
			<h3 class="banner-section-title"><?php echo $this->__('5€ offerts'); ?></h3>
			<p class="banner-section-subtitle"><?php echo $this->__('pour la première commande d’un kit d’échantillons par votre filleul.'); ?></p>
		</div>

		<div class="banner-section">
			<h3 class="banner-section-title"><?php echo $this->__('10€ offerts'); ?></h3>
			<p class="banner-section-subtitle"><?php echo $this->__('pour la première commande d’unmontant de 80€ par votre filleul.'); ?></p>
		</div>

	</div>

	<div class="invite-form">

		<form class="account-form nose-form" name="contactForm" id="contactForm" method="post" action="<?php echo Mage::helper('mynose/url')->getContactFormUrl() ?>">
			<input type="text" name="firstname0" id="firstname0" value="<?php echo $this->htmlEscape($this->getFormData()->getFirstname()) ?>" placeholder="<?php echo $this->__('First Name') ?>" class="input-text big" />
			<input type="text" name="lastname0" id="lastname0" value="<?php echo $this->htmlEscape($this->getFormData()->getLastname()) ?>" placeholder="<?php echo $this->__('Last Name') ?>" class="input-text big" />
			<select name="link<?php echo $i; ?>" id="link0" class="big">
				<?php foreach($relationTypes as $relation) :?>
					<option value="<?php echo($relation['id_relation_type']) ;?>"><?php echo( $relation['relation_name']) ;?></option>
				<?php endforeach ;?>
			</select>
			<input type="text" name="email0" id="email0" value="" placeholder="<?php echo $this->__('Email') ?>" class="input-text validate-email big" />

			<div id="contact-buttons-container">
				<button type="button" title="<?php echo $this->__('Add contact') ?>" class="button icon-arrow-right" onclick="contact.save()" style="padding-left: .5rem; padding-right: .5rem;"><?php echo $this->__('Launch Invitation') ?></button>
			</div>
		</form>

	</div>

</div>


<?php if ( ! empty($contacts)) :?>


    <?php
    /*
     * Ajax message container
     *
     */
    ?>
	<div class="ajx-message success" id="ajxMessageContact">
		<div class="ajx-message-content"></div>
	</div>

	<div class="section-title"><?php echo $this->__('My Contacts'); ?></div>

	<div class="mobile-scroll">

		<table class="diagnose-table input-table" id="diag-results">
			<thead>
			<tr>
				<th class="no-border"><?php echo $this->__('Firstname, lastname') ?></th>
				<th class="no-border"><?php echo $this->__('Link') ?></th>
				<th class="no-border"><?php echo $this->__('Next event') ?></th>
				<th class="no-border"><?php echo $this->__('Diagnostic') ?></th>
				<th class="no-border"></th>
			</tr>
			</thead>

			<tbody>

            <?php $_iterator = 0; ?>

            <?php foreach($contacts as $key => $_contact) :?>
				<tr>
					<td><a href="mailto:<?php echo $_contact['email']  ;?>"><?php echo $_contact['firstname'] . ' ' . $_contact['lastname'] ;?></a></td>
					<td>
						<form name="changeRelationType<?php echo $_contact['id_user'] ?>" id="changeRelationType<?php echo $_contact['id_user'] ?>" method="post" action="<?php echo Mage::helper('mynose/url')->getContactChangeLinkPostUrl() ;?>">
							<input type="hidden" name="id" value="<?php echo $_contact['id_user'] ?>" />
							<select name="id_relation_type" id="selectLink<?php echo $_contact['id_user'] ?>" class="contactSelectLink" style="width:178px;" data-uid="<?php echo $_contact['id_user'] ?>" data-direction="<?php echo $_contact['direction'] ?>">
                                <?php foreach($relationTypes as $relation) :?>
									<option value="<?php echo($relation['id_relation_type']) ;?>" <?php if ($relation['id_relation_type'] == $_contact['id_relation_type'] ) :?> selected="selected"<?php endif ;?>><?php echo( $relation['relation_name']) ;?></option>
                                <?php endforeach ;?>
							</select>
						</form>
					</td>
					<td>
                        <?php
                        /*
                            NEXT EVENT

                        */
                        ?>
                        <?php foreach($_events as $_event) :?>
                            <?php
                            // Array of relation type from this event
                            $ids_relation_type = ! is_null($_event['ids_relation_type']) ? explode(',', $_event['ids_relation_type']) : array();
                            ?>

                            <?php
                            /*
                             * Next relation type based event
                             *
                             */
                            ?>
                            <?php
                            if (
                                $_event['event_type'] == 'official' &&
                                ($_event['sex_id'] == $_contact['gender'] OR is_null($_event['sex_id'])) &&
                                in_array($_contact['id_relation_type'], $ids_relation_type)
                            )
                                :?>
								<span class="text"><?php echo $this->__($_event['event_name']) ;?></span>
                                <?php break; ?>
                            <?php endif ;?>
                            <?php
                            /*
                             * Next official event :
                             * - Unisex or specific to the contact gender
                             * - Not linked to the relation type between event and contact
                             */
                            ?>
                            <?php
                            if (
                                $_event['event_type'] == 'official' &&
                                ($_event['sex_id'] == $_contact['gender'] OR is_null($_event['sex_id'])) &&
                                is_null($_event['ids_relation_type'])
                            )
                                :?>
								<span class="text"><?php echo $this->__($_event['event_name']) ;?></span>
                                <?php break; ?>
                            <?php endif ;?>

                            <?php
                            /*
                             * birthday
                             *
                             */
                            ?>
                            <?php if ($_event['id_user'] == $_contact['id_user']) :?>
                                <?php echo $this->__($_event['event_name']) ;?>
                                <?php break; ?>
                            <?php endif ;?>
                        <?php endforeach ;?>
					</td>
                    <?php if ( $_contact['status'] == 2 ) :?>
						<td>
                            <?php if ( empty($_contact['id_diag']) ) :?>
								<span class="text"><?php echo $this->__('Invitation accepted') ;?> / <?php echo $this->__('Diagnostic not done') ;?></span>
                            <?php endif ;?>
                            <?php if ( ! empty($_contact['id_diag']) ) :?>
								<form id="formShowDiagnostic<?php echo $_contact['id_user']; ?>" action="<?php echo Mage::helper('mynose/url')->getContactDiagnosticUrl() ?>" method="post">
									<input type="hidden" name="from" value="mynose/contact/book" />
									<input type="hidden" name="id" value="<?php echo $_contact['id_user']; ?>" />
									<button id="btnDiagnostic<?php echo $_contact['id_user']; ?>" type="button" title="<?php echo $this->__('See') ?>" class="button btnDiagnostic button-pink" data-id="<?php echo $_contact['id_user'] ?>"><?php echo $this->__('See') ?></button>
								</form>
                            <?php endif ;?>
                            <?php
                            /*
                            <?php if ( ! empty($_contact['id_love_diag']) ) :?>
                                <form id="formShowLoverDiagnostic<?php echo $_contact['id_user']; ?>" action="<?php echo Mage::helper('mynose/url')->getLoveLoverDiagnosticUrl() ?>" method="post">
                                    <button id="btnLoverDiagnostic<?php echo $_contact['id_user']; ?>" type="button" title="<?php echo $this->__('Love Machine') ?>" class="button btnLoverDiagnostic" data-id="<?php echo $_contact['id_user'] ?>"><span><span><?php echo $this->__('Love Machine') ?></span></span></button>
                                </form>
                            <?php endif ;?>
                            */
                            ?>
						</td>
						<td class="a-center">
							<form id="formRemoveContact<?php echo $_contact['id_user']; ?>" action="<?php echo Mage::helper('mynose/url')->getContactRemoveUrl() ?>" method="post">
								<input type="hidden" name="id" value="<?php echo $_contact['id_user']; ?>" />
								<a id="btnRemoveContact<?php echo $_contact['id_user']; ?>" title="<?php echo $this->__('Remove contact'); ?>" class="btn-remove btn-remove2 btnRemoveContact remove-icon" data-id="<?php echo $_contact['id_user'] ?>" data-name="<?php echo $_contact['firstname'] . ' ' . $_contact['lastname'] ;?>"><?php echo $this->__('Remove contact')?></a>
							</form>
						</td>
                    <?php endif ;?>

                    <?php if ( $_contact['status'] == 1 ) :?>
						<td>
                            <?php if ( $_contact['direction'] == 1 ) :?>
								<span class="text"><?php echo $this->__('Invitation sent') ;?></span>
                            <?php else :?>
								<form id="formValidateInvitation<?php echo $_contact['id_user']; ?>" action="<?php echo Mage::helper('mynose/url')->getContactAcceptInvitationUrl() ?>" method="post">
									<input type="hidden" name="id" value="<?php echo $_contact['id_user']; ?>" />
									<button id="btnAcceptInvitation<?php echo $_contact['id_user']; ?>" type="button" title="<?php echo $this->__('Accept invitation') ?>" class="button button-pink btnAcceptInvitation" data-id="<?php echo $_contact['id_user'] ?>"><?php echo $this->__('Accept invitation') ?></button>
								</form>
                            <?php endif ;?>
						</td>
						<td class="a-center">
                            <?php if ( $_contact['direction'] == 2 ) :?>
								<form id="formRejectInvitation<?php echo $_contact['id_user']; ?>" action="<?php echo Mage::helper('mynose/url')->getContactRejectInvitationUrl() ?>" method="post">
									<input type="hidden" name="id" value="<?php echo $_contact['id_user']; ?>" />
									<a id="btnRejectInvitation<?php echo $_contact['id_user']; ?>" title="<?php echo $this->__('Reject invitation'); ?>" class="btn-remove btn-remove2 btnRejectInvitation remove-icon" data-id="<?php echo $_contact['id_user'] ?>" data-name="<?php echo $_contact['firstname'] . ' ' . $_contact['lastname'] ;?>"><?php echo $this->__('Reject invitation')?></a>
								</form>
                            <?php else :?>
								<form id="formRemoveContact<?php echo $_contact['id_user']; ?>" action="<?php echo Mage::helper('mynose/url')->getContactRemoveUrl() ?>" method="post">
									<input type="hidden" name="id" value="<?php echo $_contact['id_user']; ?>" />
									<a id="btnRemoveContact<?php echo $_contact['id_user']; ?>" title="<?php echo $this->__('Remove contact'); ?>" class="btn-remove btn-remove2 btnRemoveContact remove-icon" data-id="<?php echo $_contact['id_user'] ?>" data-name="<?php echo $_contact['firstname'] . ' ' . $_contact['lastname'] ;?>"><?php echo $this->__('Remove contact')?></a>
								</form>
                            <?php endif ;?>
						</td>

                    <?php endif ;?>
				</tr>
            <?php endforeach ;?>
			</tbody>
		</table>

	</div>

<?php endif ;?>



<?php
/*
 * Calendar
 */
?>
<div class="section-title"><?php echo $this->__('Calendar of celebration and events') ?></div>

<div id="events_carousel" class="events item_carousel">

	<ul class="events rows1 without-mask">

        <?php foreach ($_events as $_event) :?>
            <?php
            // Displayed date
            $phpdate = strtotime( $_event['date'] );
            $day = date('d', $phpdate);
            $month = strtolower(date('M', $phpdate));

            // Array of relation type from this event
            $ids_relation_type = ! is_null($_event['ids_relation_type']) ? explode(',', $_event['ids_relation_type']) : array();
            $_concerned_contact = array();

            $id_diag = NULL;
            $id_user = $_event['id_user'];
            $user_name = $_event['user_name'];

            if ($_event['event_code'] == 'birthday' && ! is_null($_event['id_diag'] ))
                $id_diag = $_event['id_diag'];


            if ($_event['event_type'] == 'official')
            {
                foreach($_contacts as $_contact)
                {
                    // Next relation type based event
                    if (
                        ($_event['sex_id'] == $_contact['gender'] OR is_null($_event['sex_id'])) &&
                        in_array($_contact['id_relation_type'], $ids_relation_type)
                    )
                    {
                        $id_diag = $_contact['id_diag'];
                        $id_user = $_contact['id_user'];
                        $user_name = $_contact['firstname'] . ' ' . $_contact['lastname'];
                        break;
                    }
                }
            }

            ?>
			<li class="<?php if ( $_event['event_code'] == 'birthday'): ?> birthday<?php endif ;?><?php if (!is_null($id_diag)) : ?> diag<?php endif ;?>"<?php if (!is_null($id_diag)) : ?> data-id="<?php echo $id_user; ?>"<?php endif ;?>>
				<div class="date">
                    <?php
                    /*
                     * Diag ?
                     *
                     */
                    ?>
                    <?php if ( ! is_null($id_diag)): ?>
						<form id="formShowDiagnostic<?php echo $id_user; ?>" action="<?php echo Mage::helper('mynose/url')->getContactDiagnosticUrl() ?>" method="post">
							<input type="hidden" name="from" value="mynose/calendar" />
							<input type="hidden" name="id" value="<?php echo $id_user; ?>" />
						</form>
                    <?php endif ;?>
                    <?php
                    /*
                     * Check each contact
                     *
                     */
                    ?>
					<span class="day"><?php echo($day); ?></span>
					<span class="month"><?php echo $this->__($month); ?></span>
					<span class="contact"><?php echo $user_name; ?></span>
					<div class="event">
						<span class="event-label"><?php echo $this->__($_event['event_name']); ?></span>
                        <?php if ( $_event['event_code'] == 'birthday'): ?>
							<span class="event-detail"><?php echo $_event['age'] ;?> <?php echo $this->__(' years') ;?> </span>
                        <?php endif ;?>
					</div>
                    <?php if ( ! is_null($id_diag)) : ?>
						<br>
						<div class="center">
							<button type="button" class="button button-inline button-transparent"><?php echo $this->__("See diagnostic") ?></button>
						</div>
                    <?php endif ;?>
                    <?php if ( !is_null($user_name) && is_null($id_diag) ): ?>
						<span class="nodiag"><?php echo $this->__("No diagnostic") ?></span>
                    <?php endif ;?>
				</div>
			</li>


        <?php endforeach ;?>

	</ul>

</div>


<script type="text/javascript">

	var contact = new BasicForm('contactForm', '<?php echo Mage::helper('mynose/url')->getContactFormUrl() ?>');

	var contactForm = new VarienForm('contactForm', true);


	// AutoCompleter
	jQuery(document).ready(function()
	{
		setOpenBlock('#block-contact');


        <?php
        /*
         * Change the relation between the current user and one contact
         *
         */
        ?>
		$j('.contactSelectLink').each(function(idx){

			$j(this).change(function(data, evt)
			{
				var item = data.target;


				console.log($j('#changeRelationType' + item.value));

				$j('#changeRelationType' + $j(item).attr('data-uid')).submit();


                <?php
                /*
                            $j.ajax({
                                'url': '<?php echo Mage::helper('mynose/url')->getContactChangeLinkUrl() ?>',
                                type: 'POST',
                                data: {
                                    'id_relation_type' : item.value,
                                    'id' : $j(item).attr('data-uid')
                                },
                                success: function(response)
                                {
                                    var resp = $j.parseJSON(response);
                                    showAjxMessage('#ajxMessageContact', resp.type, resp.message);
                                }
                            });
                */
                ?>
			});
		});

		$j('.btnAcceptInvitation').each(function(idx){

			$j(this).click(function()
			{
				var id = $j(this).attr('data-id');
				$j('#formValidateInvitation' + id).submit();
			});
		});

		$j('.btnRemoveContact').each(function(idx){

			$j(this).click(function(e)
			{
				e.preventDefault();
				var id = $j(this).attr('data-id');

				var text = "<p><?php echo $this->__("You're going to remove ") ;?>";
				text += '<strong>' + $j(this).attr('data-name') + '</strong>';
				text += '<?php echo $this->__(" from your Contact book.") ;?>';
				text += ' <?php echo $this->__("You will not be able to share any data with this contact in the future.") ;?></p>';
				text += '<p><strong><?php echo $this->__("Are you sure ?") ;?></strong></p>';

				$removeDialog.html(text).dialog({
					buttons : {
						'Confirm' : {
							text:'<?php echo $this->__('Yes, remove contact') ?>',
							'class':'confirm',
							click: function() {
								console.log('Remove of ' + id);
								$j(this).dialog('close');
								$j('#formRemoveContact' + id).submit();
							}
						},
						'Cancel' : {
							text:'<?php echo $this->__('No') ?>',
							'class':'cancel',
							click: function() {
								$j(this).dialog('close');
							}
						}
					}
				});

				$removeDialog.dialog('open');
			});
		});

		$j('.btnRejectInvitation').each(function(idx){

			$j(this).click(function(e)
			{
				e.preventDefault();
				var id = $j(this).attr('data-id');

				var text = "<p><?php echo $this->__("Do you really want to reject the invitation from ") ;?>";
				text += '<br/><strong>' + $j(this).attr('data-name') + '</strong> ?</p>';

				$rejectDialog.html(text).dialog({
					buttons : {
						'Confirm' : {
							text:'<?php echo $this->__('Yes, reject invitation') ?>',
							'class':'confirm',
							click: function() {
								$j(this).dialog('close');
								$j('#formRejectInvitation' + id).submit();
							}
						},
						'Cancel' : {
							text:'<?php echo $this->__('No') ?>',
							'class':'cancel',
							click: function() {
								$j(this).dialog('close');
							}
						}
					}
				});

				$rejectDialog.dialog('open');
			});
		});

		$j('.btnDiagnostic').each(function(idx){

			$j(this).click(function(data, evt)
			{
				var item = data.target;
				var id = $j(this).attr('data-id');

				$j('#formShowDiagnostic' + id).submit();
			});
		});
		$j('.btnLoverDiagnostic').each(function(idx){

			$j(this).click(function(data, evt)
			{
				var id = $j(this).attr('data-id');
				$j('#formShowLoverDiagnostic' + id).submit();
			});
		});
		var $removeDialog = $j("<div></div>").dialog({
			autoOpen: false,
			title: "<?php echo $this->__("Remove contact") ;?>",
			modal: true,
			position: ['auto',130]
		});

		var $rejectDialog = $j("<div></div>").dialog({
			autoOpen: false,
			title: "<?php echo $this->__("Reject invitation") ;?>",
			modal: true,
			position: ['auto',130]
		});


        <?php
        /*
         * Carousel
         *
         */
        ?>
		if($j('#events_carousel').length > 0)
		{
			$j('#events_carousel').carousel({
				itemsPerPage: <?php echo $itemsPerPage; ?>,
				itemsPerTransition: <?php echo $itemsPerPage; ?>,
				noOfRows: <?php echo $numRows; ?>,
				pagination: false,
				startItemIndex: <?php echo $startItemIndex ;?>,
				speed: 500,
				nextText:'<?php echo($this->__('Next articles')) ;?>',
				prevText:'<?php echo($this->__('Prev articles')) ;?>'
			});

			$j('#events_carousel li.diag').each(function()
			{
				$j(this).css('cursor', 'pointer');
			})
		}

        <?php
        /*
         * Show diag events
         *
         */
        ?>
		$j('.diag').each(function(idx){

			$j(this).click(function(data, evt)
			{
				var item = data.target;
				var id = $j(this).attr('data-id');

				$j('#formShowDiagnostic' + id).submit();
			});

		});

	});

</script>

