<?php $_articles = $this->getLastHomepagePost(); ?>
<?php if ($_articles->count() > 0) : ?>
    <div class="brand-news home-news" id="homeNews">

        <a class="arrow left prev" href="#"></a>
        <a class="arrow right next" href="#"></a>

        <div class="news-wrapper wrapper">
            <div class="news-container carousel-container">
                <?php foreach ($_articles as $_article) : ?>
                    <a class="news item" href="<?php echo $this->getUrl($_article->getUrlKey()); ?>">
                        <div class="image responsive-image-bg" data-src="<?php echo Mage::getBaseUrl('media') . $_article->getThumbnailDesktop(); ?>" data-src-mobile="<?php echo Mage::getBaseUrl('media') . $_article->getThumbnailMobile(); ?>"></div>
                        <h4 class="brand-title"><?php echo $_article->getTitle(); ?></h4>
                        <p class="brand-subtitle"><?php echo $_article->getSubtitle(); ?></p>
                    </a>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $j(document).ready(function($) {
            $j('#homeNews').noseCarousel();
        });
    </script>
<?php endif; ?>