<?php
/**
 *
 */
?>
<h2 class="col-title"><?php echo $this->__('Forgot Your Password?') ?></h2>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="span-12 prepend-4 append-4 pt20">
<form action="<?php echo $this->getUrl('*/*/forgotpasswordpost') ?>" method="post" id="form-validate">


        <p><?php echo $this->__('Please enter your email below and we will send you a new password.') ?></p>
        <ul class="form-list">
            <li>
                <label for="email_address" class="left required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                <div class="input-box left">
                    <input type="text" name="email" alt="email" id="email_address" class="input-text required-entry validate-email" value="<?php echo $this->htmlEscape($this->getEmailValue()) ?>" />
                </div>
            </li>
        </ul>

    <div class="buttons-set">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <div class="clearfix"></div>
        <p class="back-link"><a href="<?php echo $this->helper('customer')->getLoginUrl() ?>"><?php echo $this->__('Back to Login') ?></a></p>
        <button type="submit" title="<?php echo $this->__('Submit') ?>" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
    </div>
</form>
</div>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
//]]>
</script>
