<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Article container
 *
 * @see Partikule_Ionize_Block_Articles
 *
 */



?>
<?php

$page = $this->getPage();

// Try to get the URL refering article
$article = $this->getArticle();


if ( ! $article->hasData())
	$article = $this->getPageFirstArticle();

// Search for panel's break
$searchArray = array("<hr />", "<hr/>");
$replaceArray = array("<hr>", "<hr>");
$content = str_replace($searchArray, $replaceArray, $article->getContent());

$panelContent = explode('<hr>', $content);


?>
<!--
<h2 class="article-title"><?php echo($article->getTitle()) ;?></h2>
-->

<div class="article-media">

	<?php
		$_iterator = 0;
		$medias = $article->getMedias();
	?>

	<?php if ( ! empty($medias) ) :?>
	
		<div id="media-scroller" class="scroller" >
		
			<?php if ( $medias->count() > 1 ) :?>
			<a class="next" href="#"></a>
			<a class="prev" href="#"></a>
			<?php endif ;?>		

			<div class="scroller-container">
				<div class="scroller-content">
					
					<?php foreach($medias as $media) :?>
			
						<?php $_iterator++; ?>
					
						<?php if ($media->getType() == 'picture') :?>
							<div id="panel<?php echo $_iterator; ?>" class="scroller-panel" style="background:url(<?= $media->getSource() ?>) no-repeat 50% top;)">
							</div>
						<?php endif ;?>		
					
						<?php if ($media->getType() == 'video') :?>
						<?php endif ;?>		
					
					<?php endforeach ;?>
				</div>
			</div>

		</div>
	
	<?php endif ;?>
		
</div>

<?php
/*
 * Article
 *
 * Block : 		Partikule_Ionize_Block_Articles
 * Template : 	depends on the view defined in Ionize
 *				The view file must exists in /ion/themes/nose/views/ and declared as article view in Ionize
 *
 */
?>
<?php 

$article_id = "article-content".$article->getId();

?>
<div id="<?php echo $article_id; ?>" class="article-content last">
	
	
	<div class="text-scroller-container">
		<div class="text-scroller-content"<?php if ( count($panelContent) > 1 ) :?> style="width:<?php echo (290*count($panelContent)); ?>px"<?php endif ;?>>
			<?php foreach($panelContent as $content): ?>
			<div class="text-scroller-panel">
				<div class="text">
					<?php echo $content; ?>
				</div>	
			</div>
			<?php endforeach; ?>
		</div>
	</div>

	<?php if ( count($panelContent) > 1 ) :?>
		<a class="next" href="#"><?php echo $this->__('Next') ;?> ></a>
		<a class="prev hidden" href="#">< <?php echo $this->__('Previous') ;?></a>
	<?php endif ;?>
	
	
	<div class="clearfix"></div>
	
</div>

<script type="text/javascript">
	$j(document).ready(function() 
	{

		<?php if ( count($panelContent) > 1 ) :?>

		$j('#article-content<?php echo $article->getId();?>').serialScroll({
			target: $j('#<?php echo $article_id; ?> .text-scroller-container'),
			items: $j('#<?php echo $article_id; ?> div.text-scroller-panel'),
			prev: $j('#<?php echo $article_id; ?> a.prev'),
			next: $j('#<?php echo $article_id; ?> a.next'),
			duration:500,
			force:true,
			stop:true,
			cycle:false,
			easing:'easeInOutQuart',
    		onAfter:function( elem, obj )
    		{
   				$j('#<?php echo $article_id; ?> a.prev').removeClass('hidden');
   				$j('#<?php echo $article_id; ?> a.next').removeClass('hidden');

    			if ($j(elem).index() == 0)
    				$j('#<?php echo $article_id; ?> a.prev').addClass('hidden');
    			
    			if ($j(elem).index() == ($j('#<?php echo $article_id; ?> div.text-scroller-panel').length -1))
    				$j('#<?php echo $article_id; ?> a.next').addClass('hidden');
    		}
		});	
	
		<?php endif ;?>


		<?php
		/*
		 * News pictures scroll
		 * 
		 */
		?>
		<?php if ( $medias->count() > 1 ) :?>

		var $container = $j('#media-scroller .scroller-content');
		var $panels = $j('#media-scroller div.scroller-panel');

		if ($panels[0]) {
			$container.css('width', $panels[0].offsetWidth * $panels.length);
		}

		$j('#media-scroller').serialScroll(
		{
			target: $j('#media-scroller .scroller-container'),
			items: $panels,
			prev: $j('#media-scroller a.prev'), 
			next: $j('#media-scroller a.next'),
			force: true,
			duration: 1000,
			interval: 6000,
			cycle: false,
			easing: 'easeInOutQuart',
			onBefore: function(e, elem, $pane, $items, pos) {
	            e.preventDefault();
    		    if (this.blur) this.blur();
    		},
    		onAfter:function( elem, obj )
    		{
    			if ($j(elem).index() == ($panels.length -1))
    			{
    				obj.target.trigger('stop');
    			}
			}
		});
		<?php endif ;?>
		
		
		<?php
		/*
		 * Text in columns
		 * 
		 */
		?>
/*
		var size = $j("#Column1 p").size();
		$j("#Column1 p").each(function(index){
			if (index >= size/2){
				$j(this).appendTo("#Column2");
			}
		});
*/
	});
</script>
