<?php
/**
 * Partikule
 *
 * @modified	2012.04.01
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Article container
 *
 * @see Partikule_Ionize_Block_Article
 *
 */

$page = $this->getPage();

// Try to get the URL refering article
$article = $this->getArticle();


if ( ! $article->hasData())
{
	$article = $this->getPageFirstArticle();
//	$page_title = $this->__("Interview of the month");	
}

$page_title = $article->getTitle() . ' / ' . $article->getSubtitle();

// Search for panel's break
$searchArray = array("<hr />", "<hr/>");
$replaceArray = array("<hr>", "<hr>");
$content = str_replace($searchArray, $replaceArray, $article->getContent());

$panelContent = explode('<hr>', $content);

?>

<?php
/*
 * Archives articles
 *
 * Block : 		Partikule_Ionize_Block_Articles
 * Template : 	nose/article/slider/archives.phtml
 *
 */
?>

<?php if ( $article->hasData() ) :?>


	<div id="article" class="article" data-id="<?php echo $article->getId() ;?>">
	
		<div class="article-media">
	
			<?php
				$_iterator = 0;
				$medias = $article->getMedias();
			?>
	
			<?php if ( ! empty($medias) ) :?>
			
				<div id="news-scroller" class="scroller" >
				
					<?php if ( $medias->count() > 1 ) :?>
					<a class="next" href="#"></a>
					<a class="prev" href="#"></a>
					<?php endif ;?>		
	
					<div class="scroller-container">
						<div class="scroller-content">
							
							<?php foreach($medias as $media) :?>
					
								<?php $_iterator++; ?>
							
								<?php if ($media->getType() == 'picture') :?>
									<div id="panel<?php echo $_iterator; ?>" class="scroller-panel" style="background:url(<?= $media->getSource() ?>) no-repeat top left;)">
									</div>
								<?php endif ;?>		
							
								<?php if ($media->getType() == 'video') :?>
								<?php endif ;?>		
							
							
							<?php endforeach ;?>
						</div>
					</div>
	
				</div>
			
			<?php endif ;?>
				
		</div>
	
		<?php 
		
		$article_id = "article-content".$article->getId();
		$_panel_iterator = 0;
		$_iterator = 0;
		
		?>
		<div id="<?php echo $article_id; ?>" class="article-content">


			<div class="text-scroller-container">
				<div class="text-scroller-content"<?php if ( count($panelContent) > 1 ) :?> style="width:<?php echo (790*count($panelContent)); ?>px"<?php endif ;?>>
					<?php foreach($panelContent as $content): ?>
					<div class="text-scroller-panel">
						<?php for($i=0; $i<2; $i++) :?>
						<div class="text textcolumn textcolumn<?php echo($i+1);?>" id="textcolumn<?php echo $_iterator; ?>" data-id="<?php echo $_iterator; ?>">
							<?php if($i==0) :?><?php echo $content; ?><?php endif; ?>
						</div>
						<?php
							$_iterator++;
						?>
						<?php endfor; ?>
						
					</div>
					<?php endforeach; ?>
				</div>
			</div>
		
			<?php if ( count($panelContent) > 1 ) :?>
				<a class="next" href="#"><?php echo $this->__('Next') ;?> ></a>
				<a class="prev hidden" href="#">< <?php echo $this->__('Previous') ;?></a>
			<?php endif ;?>
		
		</div>
	
		<script type="text/javascript">
			$j(document).ready(function() 
			{

				<?php if ( count($panelContent) > 1 ) :?>
		
				$j('#article-content<?php echo $article->getId();?>').serialScroll({
					target: $j('#<?php echo $article_id; ?> .text-scroller-container'),
					items: $j('#<?php echo $article_id; ?> div.text-scroller-panel'),
					prev: $j('#<?php echo $article_id; ?> a.prev'),
					next: $j('#<?php echo $article_id; ?> a.next'),
					duration:500,
					force:true,
					stop:true,
					cycle:false,
					easing:'easeInOutQuart',
		    		onAfter:function( elem, obj )
		    		{
		   				$j('#<?php echo $article_id; ?> a.prev').removeClass('hidden');
		   				$j('#<?php echo $article_id; ?> a.next').removeClass('hidden');
		
		    			if ($j(elem).index() == 0)
		    				$j('#<?php echo $article_id; ?> a.prev').addClass('hidden');
		    			
		    			if ($j(elem).index() == ($j('#<?php echo $article_id; ?> div.text-scroller-panel').length -1))
		    				$j('#<?php echo $article_id; ?> a.next').addClass('hidden');
		    		}
				});	
			
				<?php endif ;?>
		

				<?php
				/*
				 * News pictures scroll
				 * 
				 */
				?>
				<?php if ( $medias->count() > 1 ) :?>

				var $container = $j('#news-scroller .scroller-content');
				var $panels = $j('#news-scroller div.scroller-panel');
	
				if ($panels[0]) {
					$container.css('width', $panels[0].offsetWidth * $panels.length);
				}
	
				$j('#news-scroller').serialScroll(
				{
					target: $j('#news-scroller .scroller-container'),
					items: $panels,
					prev: $j('#news-scroller a.prev'), 
					next: $j('#news-scroller a.next'),
					force: true,
					duration: 1000,
					interval: 6000,
					cycle: false,
					easing: 'easeInOutQuart',
					onBefore: function(e, elem, $pane, $items, pos) {
			            e.preventDefault();
	        		    if (this.blur) this.blur();
	        		},
	        		onAfter:function( elem, obj )
	        		{
	        			if ($j(elem).index() == ($panels.length -1))
	        			{
	        				obj.target.trigger('stop');
	        			}
					}
				});
				<?php endif ;?>
				
				
				<?php
				/*
				 * Text in columns
				 * 
				 */
				?>
				$j('.textcolumn').each(function()
				{
					var id = $j(this).attr('data-id');
					if (id%2 == 0)
					{
						var size = $j("p", $j(this)).size();

						$j("p", $j(this)).each(function(index){
							if (index >= size/2)
							{
								$j(this).appendTo("#textcolumn" + (parseInt(id)+1));
							}
						});
						
						// console.log($j(this).attr('data-id')); 
					}
				});
			});
		</script>
		
		
		<div class="clearfix"></div>
		
	
		<?php
		/* 
		 * Product list
		 *
		 */
		?>
	   	<?php echo $this->getChildHtml('article_products') ?>
	
	
	</div>

<?php endif ;?>
