<?php $_session = Mage::getModel('customer/session'); ?>
<?php if (!$_session->isLoggedIn()) : ?>
    <?php $_data = $this->getData(); ?>
    <div class="photo" style="background-image: url(<?php echo Mage::getBaseUrl('media') . $_data['photo']; ?>"></div>
    <div class="content">
        <div class="title"><?php echo $_data['title']; ?></div>
        <div class="text"><?php echo $_data['text']; ?></div>
        <a class="button button-promo" href="<?php echo $_data['link']; ?>"><?php echo $_data['link_label']; ?></a>
    </div>
    <?php else : ?>
    <?php $_diag = $this->helper('mynose/diagnostic')->getCustomerDiagnostic($_session->getCustomer()); ?>
    <?php if (!$_diag) : ?>
    <div class="photo" style="background-image: url(<?php echo Mage::getBaseUrl('media') . $_data['photo']; ?>"></div>
    <div class="content">
        <div class="title"><?php echo $_data['title']; ?></div>
        <div class="text"><?php echo $_data['text']; ?></div>
        <a class="button button-promo" href="<?php echo $_data['link']; ?>"><?php echo $_data['link_label']; ?></a>
    </div>
    <?php endif; ?>
<?php endif; ?>