<?php $_data = $this->getData(); ?>

<?php if ($_data['link'] != "") : ?>
<a href="<?php echo $_data['link']; ?>">
<?php endif; ?>

<img class="inertia" src="<?php echo Mage::getBaseUrl('media') . $_data['photo']; ?>">
<div class="text inertia"><?php echo $_data['text']; ?></div>

<?php if ($_data['link'] != "") : ?>
</a>
<?php endif; ?>