<?php $_data = $this->getData(); ?>


<div class="link">
  <a href="<?php echo $_data['link']; ?>">
    <div class="image" style="background-image: url(<?php echo Mage::getBaseUrl('media') . $_data['photo']; ?>);"></div>
    <div class="title"><?php echo $_data['title']; ?></div>
    <div class="subtitle"><?php echo $_data['subtitle']; ?></div>
  </a>
</div>