<?php $_data = $this->getData(); ?>

<div class="background fit-window">
  <video src="<?php echo $_data['video']; ?>" autoplay loop muted>
    Sorry, your browser doesn't support embedded videos,
    but don't worry, you can <a href="videofile.webm">download it</a>
    and watch it with your favorite video player!
  </video>
</div>

<div class="content <?php echo $_data['position']; ?>">
  <div class="text" style="color: <?php echo $_data['color']; ?>;"><?php echo $_data['text']; ?></div>
  <a class="button" href="<?php echo $_data['link']; ?>" style="color: <?php echo $_data['color']; ?>; border-color: <?php echo $_data['color']; ?>;"><?php echo $_data['link_label']; ?></a>
</div>