<?php $_data = $this->getData(); ?>

<div class="brand-banner">

  <!-- <a href="#" class="arrow left"></a>
  <a href="#" class="arrow right"></a> -->

  <!-- @TODO : get images for sider -->
  <div class="slider">
    <div class="slide active" style="background-image: url(<?php echo $this->getSkinUrl('sample/home_desktop_slider_ds-and-durga_01_1860x840.jpg'); ?>);"></div>
  </div>

</div>