<?php
/**
 * Partikule
 *
 * @modified	2011.10.21
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Articles container
 *
 * @see Partikule_Ionize_Block_Articles
 *
 */

$articles = $this->getArticlesFromPage('footer', array('limit' => 4));

?>

<footer>
	<div id="footer" class="span-24">
		<div class="span-15 prepend-5">
			<span class="title" style="float:left;"><?php echo $this->__('Subscribe to the newsletter') ?></span>
			
			<?php // echo($this->getChildHtml('newsletter')); ?>
			<?php echo $this->getChildHtml('advancednewsletter.subscribe.block'); ?>
		
		</div>
	</div>
	
	<div class="span-24 footer-articles">
		<?php $_iterator = 0; ?>
		<?php if ($articles->count() > 0): ?>
		<div class="footer-container">
			<?php foreach($articles as $article) :?>
				<?php
					$_iterator++;
				?>
				<div class="span-6 <?php if($_iterator%4 == 0) :?> last<?php endif ;?>">
					<?php
					// Previously : <h4 class="title" />
					?>
					<span class="title"><?= $article->getTitle(); ?></span>
					<?= $article->getContent(); ?>
				</div>
			<?php endforeach; ?>
			<div class="clearfix"></div>
		</div>
		<?php endif ;?>
		<address><span><?php echo $this->getCopyright() ?></span></address>
	</div>
</footer>

<script type="text/javascript">

$j(document).on('click', 'a.popup', function(event) {
    event.preventDefault();
    var win = window.open( $j(this).attr('href'),'win','scrollbars=yes,width=755,height=600,resizable=yes,toolbar=0');
    win.focus();
});

</script>