<?php
/**
 * Partikule
 * Nose Project
 *
 * @modified	2012.05.26
 *
 * @category	design
 * @package		nose_default
 * @author	 	2012 Partikule (http://www.partikule.net)
 *
 */
?>
<div class="header-container span-18">
	<header>

		<div class="header-middle logo">
			 <img src="<?php echo $this->getLogoSrc(); ?>" alt="<?php echo $this->getLogoAlt() ?>" />
		</div>

	</header>
</div>
