<?php
/**
 * Partikule
 * Nose Project
 *
 * @modified	2011.10.6
 *
 * @category	design
 * @package		nose_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 */

$gifBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('nose_header_gif')->toHtml();

$page = Mage::helper('ionize/page')->getRegisteredPage();

$title = '';
if ($page)
{
	$seo_title = $page->getSeoTitle();
	$title = ! empty($seo_title) ? $page->getSeoTitle() : $page->getTitle();
}

if ( empty($title) )
{
	$product = Mage::registry('current_product');
	if ($product)
	{
		$category = Mage::helper('nose/Product')->getProductFirstCategory($product);

		$title = $product->getSeoTitle();

		if (empty($title))
			$title = $category->getName() . ', ' . $product->getName();
	}
}

?>
<div class="header-container">
	<header>
		<div class="header-left">

			<div class="header-gif">
				<?php echo $gifBlock; ?>
			</div>
			<?php echo $this->getChildHtml('leftTopLinks') ?>
		</div>
		<div class="header-middle logo">
			 <?php if ( ! empty($title)):?>
			 	<h1><?php echo $title; ?></h1>
			<?php endif?>
			<a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
		</div>
		<div class="header-right">
			<?php echo $this->getChildHtml('store_language') ?>

			<?php echo $this->getChildHtml('rightTopLinks') ?>

			<div class="top-logout">
				<?php echo $this->getChildHtml('rightTopSecondLinks') ?>
			</div>
			<?php // echo $this->getChildHtml('topSearch') ?>
		</div>

	</header>
</div>
<?php echo $this->getChildHtml('topMenu') ?>
