<?php
/**
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author Hervé Guétin <herve.guetin@gmail.com> <@herveguetin>
 * @copyright Copyright (c) 2016 Agence Soon (http://www.agence-soon.fr)
 */
?>
<?php $_data = $this->getData() ?>
<h1>
    <?php echo $this->getBlockTitle() ?>
</h1>
<table class="data-table">
    <thead>
        <?php foreach ($_data as $k => $v): ?>
            <td>
                <?php echo $k ?>
            </td>
        <?php endforeach ?>
    </thead>
    <tbody>
    <?php foreach ($_data as $k => $v): ?>
        <td>
            <?php echo (is_string($v)) ? $v : '' ?>
        </td>
    <?php endforeach ?>
    </tbody>
</table>
