<?php

/**
 * Diag Results
 * @see Partikule_Mynose_Block_Diagnostic.php
 *
 * Children of diagnostic.phtml
 *
 */
?>
<?php

// Diag product bundle ID
$diag_bundle_id = Mage::getStoreConfig('nose/general/bundle_product_id');

$diag = Mage::registry('diag');

// Others also liked
$_other_products = Mage::helper('mynose/Diagnostic')->getCustomerAlsoLiked();


if ($diag)
{
	// Get the first perfume from diag if any
	$perfume_master_id = NULL;
	if ( $diag && ! empty($diag->perfumes[0]))
		$perfume_master_id = $diag->perfumes[0]->master_id;

	$home_master_id = NULL;
	if ( $diag && ! empty($diag->homefragrances[0]))
		$home_master_id = $diag->homefragrances[0]->master_id;

	$other_master_id = NULL;
	if ( $_other_products && ! empty($_other_products[0]))
		$other_master_id = $_other_products[0]['master_id'];
}


/*
 * Check for errors
 * If one error happens, the diag object looks like this :
 * stdClass Object
 *	(
 *	    [error] => 2
 * 	    [message] => The message
 *	)
 *
 */
$error = (isset($diag->error)) ? TRUE : FALSE;

$customer_group = Mage::helper('nose/customer')->getCustomerGroup();

$orderSampleBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_order_sample')->toHtml();
$buttonBottomLine = $this->__('and get one € 10.00 voucher !');

$group = $customer_group->getCode();

switch($group)
{
	case 'Kit_5_Euros':
	$orderSampleBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_order_sample_5_euros')->toHtml();
	$buttonBottomLine = $this->__('at € 5.00 instead of 10.00 !');
	break;
	case 'Kit_0_Euros':
	$orderSampleBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_order_sample_0_euros')->toHtml();
	$buttonBottomLine = $this->__('get it for free !');
	break;
	default:
	break;
}


?>
<?php
/*
 * Maintenance screen if the diag isn't available
 *
 */
?>
<?php if ( ! $diag) :?>

	<?php echo $this->getChildHtml('mynose_no_diag'); ?>

<?php else :?>

	<?php if ( is_null($perfume_master_id) && is_null($home_master_id) ) :?>

		<?php if ( $error === TRUE ) :?>

			<div class="center title">
				<h2 class="title"><?php echo $this->__('Diag in maintenance'); ?></h2>
			</div>

			<div class="clearfix"></div>

			<div class="center mt20">
				<p><?php echo $diag->message ?></p>
			</div>

		<?php else :?>
			<?php  echo $this->getChildHtml('mynose_no_diag'); ?>
		<?php endif; ?>

	<?php else :?>

		<?php
		/*
		 * Page title
		 *
		 */
		?>

        <?php
        /*
         * Diagnosis steps
         *
         */
        ?>
        <?php  echo $this->getChildHtml('diagnostic_steps'); ?>


		<h2 class="section-title"><?php echo $this->getRecoTitle() ?></h2>

		<div class="subnav-container center">
			<ul id="reco-nav" class="subnav">
				<li class="active first" id="subnav-perfumes"><a><span><?php echo $this->__('Perfumes') ?></span></a></li>
				<?php if ( ! is_null($home_master_id)) :?>
					<li id="subnav-home"><a><span><?php echo $this->__('Home fragrances') ?></span></a></li>
				<?php endif ;?>
				<?php if ( ! empty($other_master_id)): ?>
					<li id="subnav-other"><a><span><?php echo $this->__('Others also liked') ?></span></a></li>
				<?php endif ;?>
			</ul>
		</div>

		<div id="reco-panels" class="reco">

			<?php
			/*
			 * Perfumes Reco
			 *
			 */
			?>
			<div class="panelContent item_carousel article products center">
				<?php

				$max = count($diag->perfumes);

				$_collection = $this->getProductsFromDiagnosticItems($diag->perfumes);

				$perfume_products = array();

				?>

				<?php for($i = 0; $i < $max; $i++) :?>
					<?php

					// Diag perfume
					$perfume = $diag->perfumes[$i];
					$product = NULL;

					foreach($_collection as $_p)
					{
						if ($_p->getMasterId() == $perfume->master_id)
							$product = $_p;
					}

					if ($product != NULL)
                    {
						// Current Element
                        $class = ($i == 0) ? ' active' : '';

                        $rate = 'n' . round(round($perfume->index_quality, 1));

                        // Sample
                        $perfume->product = $this->getSampleFromDiagnosticItem($perfume);

                        // Samples array
                        $perfume_products[] = $perfume->product;

                        $product = $product->load($product->getId());

                        ?>
						<div class="product-item">
							<a href="<?php echo $product->getProductUrl(); ?>"
							   title="<?php echo $product->getName(); ?>" class="product-link">

								<div class="product-photo"
									 style="background-image: url(<?php echo $this->helper('catalog/image')->init($product, 'small_image')->keepTransparency(true)->resize(200) ?>);"></div>
								<div class="product-brand"><?php echo $perfume->brand_name ?></div>
								<div class="product-title"><?php echo $product->getName(); ?></div>
								<div class="product-price"><?php echo $this->getPriceHtml($product, true) ?></div>

							</a>
						</div>

                        <?php

                    }
				?>

				<?php endfor ;?>
			</div>


			<?php
			/*
			 *
			 * Home Fragrances Reco
			 * Simply copy the same as Perfume.
			 * ... in the case the spec change... and they change of course too much !
			 *
			 */
			?>

			<?php if ( ! is_null($home_master_id)) :?>
				<div class="panelContent item_carousel article products center">

					<?php
					$max = count($diag->homefragrances);

					$_collection = $this->getProductsFromDiagnosticItems($diag->homefragrances);

					$home_products = array();
					?>

					<?php for($i = 0; $i < $max; $i++) :?>
						<?php

						$fragrance = $diag->homefragrances[$i];
						$product = NULL;

						foreach($_collection as $_p)
						{
							if ($_p->getMasterId() == $fragrance->master_id)
								$product = $_p;
						}

                        // Current Element
						$class = ($i==0) ? ' active' : '';

						$rate = 'n' . round(round($fragrance->index_quality, 1));
						?>

						<?php if ($product) : ?>
							<?php $product = $product->load($product->getId()); ?>

							<div class="product-item" >
								<a href="<?php echo $product->getProductUrl(); ?>" title="<?php echo $product->getName(); ?>" class="product-link">

									<div class="product-photo" style="background-image: url(<?php echo $this->helper('catalog/image')->init($product, 'small_image')->keepTransparency(true)->resize(200) ?>);"></div>

									<div class="product-brand"><?php echo $row->brand_name ?></div>

									<div class="product-title"><?php echo $product->getName(); ?></div>

									<div class="product-price"><?php echo $this->getPriceHtml($product, true) ?></div>

								</a>
							</div>
						<?php endif; ?>
					<?php endfor ;?>

				</div>
				<?php // End panel ?>
			<?php endif ;?>


			<?php
			/*
			 * Others also likes...
			 * Bears and beer ?
			 *
			 */
			?>

			<div class="panelContent item_carousel article products center">

				<?php
				$i = 0
				?>
				<?php foreach($_other_products as $row) :?>

					<?php
					$_master_id = $row['master_id'];
					$class = ($i==0) ? ' active' : '';

						// Sample
						// $sample = $this->getSampleFromDiagnosticItem($row, TRUE);

						// Master
					$master = Mage::getModel('catalog/product')->loadByAttribute('master_id', $_master_id);

					?>
					<div class="product-item" >
						<?php
						$_product = FALSE;
						if ($master) $_product = $master;
						elseif (isset($row->product)) $_product = $row->product;
						?>
						<?php $_product = $_product->load($_product->getId()); ?>
						<a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $_product->getName(); ?>" class="product-link">

							<div class="product-photo" style="background-image: url(<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepTransparency(true)->resize(200) ?>);"></div>

							<div class="product-brand"><?php echo $row->brand_name ?></div>

							<div class="product-title"><?php echo $_product->getName(); ?></div>

							<div class="product-price"><?php echo $this->getPriceHtml($_product, true) ?></div>

						</a>
					</div>

					<?php
					$i++;
					?>

				<?php endforeach ;?>

			</div>
		</div>

		<?php if ($orderSampleBlock != ''): ?>
			<?php echo $orderSampleBlock; ?>
		<?php endif ;?>
		<?php
		/*
		 * Order the Samples
		 *
		 */
		$sample_ids = array();

		foreach($perfume_products as $sample)
		{
			$id_sample =  $sample->getId();

			if ( ! empty($id_sample))
				$sample_ids[] = $sample->getId();
		}

		$sample_url = implode(',', $sample_ids);
		?>

		<?php if ( ! empty($sample_ids)) :?>
			<div style="max-width: 720px; margin: 1rem auto 3rem;">
				<div class="center">
					<button onclick="setBundle('<?php echo Mage::helper('checkout/cart')->getCartUrl() ?>bundle/bundle/<?php echo $diag_bundle_id ;?>/products/<?php echo $sample_url; ?>/')"  class="button button-inline button-dark" title="<?php echo $this->__('Order the Diagnostic pack') ?>" type="submit">
						<?php echo $this->__('Order your samples') ?>
						<span class="smaller"><?php echo $buttonBottomLine ?></span>
					</button>
				</div>
			</div>
		<?php else: ?>

			<span>We're currently in maintenance. You will be able to order your kit very soon.</span>

		<?php endif ?>

		<?php
		/*
		 * Product Container
		 *
		 */
		?>
		<!-- <div id="diagProductContainer"></div> -->


		<script type="text/javascript">
      //      Pour centrer le bloc de texte avec réductions pour les échantillons
      jQuery(document).ready(
                             function() {
                             	jQuery(".col-main>p").addClass('center');
                             });

      <?php
			/*
			 * XHR Display the first product
			 *
			 */
			?>
			var perfumeProductLoader = new NoseProductLoader('<?php echo Mage::helper('mynose/url')->getProductUrl() ;?>',
			{
				'update' : 'diagProductContainer',
				'handlers' : '.perfumeItemHandler'
			});

			var homeProductLoader = new NoseProductLoader('<?php echo Mage::helper('mynose/url')->getProductUrl() ;?>',
			{
				'update' : 'diagProductContainer',
				'handlers' : '.homeItemHandler'
			});

			var otherProductLoader = new NoseProductLoader('<?php echo Mage::helper('mynose/url')->getProductUrl() ;?>',
			{
				'update' : 'diagProductContainer',
				'handlers' : '.otherItemHandler'
			});


			<?php if (! is_null($perfume_master_id)) :?>
			perfumeProductLoader.load('<?php echo $perfume_master_id ;?>');
			perfumeProductLoader.init('a.productDisplay');
			<?php endif ;?>
			<?php if (! is_null($home_master_id)) :?>
			homeProductLoader.init('a.productDisplay');
			<?php endif ;?>

			<?php if (! empty($other_master_id)) :?>
			otherProductLoader.init('a.productDisplay');
			<?php endif ;?>

			<?php
			/*
			 * 2 sets of Panels
			 *
			 */
			?>
			var recoPanels = new NosePanels({
				'nav' : 'reco-nav',
				'panels' : 'reco-panels'
			});


			<?php
			/*
			 * Special for this view
			 *
			 */
			?>
			<?php if (! is_null($perfume_master_id)) :?>
			$('subnav-perfumes').observe('click', function(event) {
				perfumeProductLoader.load('<?php echo $perfume_master_id ;?>');
			});
			<?php endif ;?>
			<?php if (! is_null($home_master_id)) :?>
			$('subnav-home').observe('click', function(event) {
				homeProductLoader.load('<?php echo $home_master_id ;?>');
			});
			<?php endif ;?>
			<?php if (! empty($other_master_id)) :?>
			$('subnav-other').observe('click', function(event) {
				otherProductLoader.load('<?php echo $other_master_id ;?>');
			});
			<?php endif ;?>

		</script>
	<?php endif ;?>
<?php endif ;?>