<?php

/**
 * Diag Results
 * @see Partikule_Mynose_Block_Diagnostic.php
 *
 * Children of diagnostic.phtml
 *
 */
?>
<?php

$_OUTPUT_TYPE_HEAD = 15;
$_OUTPUT_TYPE_HEART = 16;
$_OUTPUT_TYPE_BASE = 17;


$diag = Mage::registry('diag');

$session = Mage::getSingleton('core/session');



if ($diag)
{
	// Get the first perfume from diag if any
	$perfume_master_id = NULL;
	if ( $diag && ! empty($diag->perfumes[0]))
		$perfume_master_id = $diag->perfumes[0]->master_id;

	$home_master_id = NULL;
	if ( $diag && ! empty($diag->homefragrances[0]))
		$home_master_id = $diag->homefragrances[0]->master_id;

	// Organize notes
	if ( $diag && ! empty($diag->notes))
	{
		$notes = $notes_names = array(
		                              'head' => array(),
		                              'heart' => array(),
		                              'base' => array()
		                              );

		foreach($diag->notes as $note)
		{
			if ($note->output_type == $_OUTPUT_TYPE_HEAD) $notes['head'][] = $note;
			if ($note->output_type == $_OUTPUT_TYPE_HEART) $notes['heart'][] = $note;
			if ($note->output_type == $_OUTPUT_TYPE_BASE) $notes['base'][] = $note;
		}

		$arrays = array_keys($notes);
		foreach ($arrays as $array_key)
		{
			$sort_keys = array();
			foreach ($notes[$array_key] as $key => $row)
				$sort_keys[$key]  = $row->index_quality;

			array_multisort($sort_keys, SORT_DESC, $notes[$array_key]);

			$limit = 3;
			foreach($notes[$array_key] as $key => $note)
			{
				if ($key <= $limit)
					$notes_names[$array_key][] = $note->note_name;
			}
		}
	}
}

// Helpers block, because the visitor needs to be helped...
$pyramidHelpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_pyramid_help')->toHtml();
$familiesHelpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_families_help')->toHtml();
$notesHelpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_result_notes_help')->toHtml();

// Column text blocks
$pyramidTextBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_pyramid_text')->toHtml();
$familiesTextBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_families_text')->toHtml();



/*
 * Check for errors
 * If one error happens, the diag object looks like this :
 * stdClass Object
 *	(
 *	    [error] => 2
 * 	    [message] => The message
 *	)
 *
 */
$error = (isset($diag->error)) ? TRUE : FALSE;


?>
<?php
/*
 * Maintenance screen if the diag isn't available
 *
 */
?>
<?php if ( ! $diag) :?>

	<?php // echo $this->getChildHtml('mynose_maintenance'); ?>
	<?php echo $this->getChildHtml('mynose_no_diag'); ?>

<?php else :?>

	<?php if ( is_null($perfume_master_id) AND is_null($home_master_id) ) :?>


		<?php if ( $error === TRUE ) :?>

			<div class="center title">
				<h2 class="title"><?php echo $this->__('Diag in maintenance'); ?></h2>
			</div>

			<div class="clearfix"></div>

			<div class="center mt10">
				<p><?php echo $diag->message ?></p>
			</div>

		<?php else :?>
			<?php echo $this->getChildHtml('mynose_no_diag'); ?>
		<?php endif; ?>

	<?php else :?>

		<div class="diagnostic diagnose-results">

	 		<?php $_session = Mage::getModel('customer/session'); ?>
			<?php if ($_session->isLoggedIn()) : ?>
	 		<?php $_diag = $this->helper('mynose/diagnostic')->getCustomerDiagnostic($_session->getCustomer()); ?>

		 		<?php if ($_diag) : ?>
		 		<div class="diagnosis-steps">
		 			<div class="step">1</div>
		 			<a class="step" href="<?php echo $this->getUrl('mynose/diagnose/do'); ?>">2</a>
		 			<div class="step active">3</div>
		 			<a class="step" href="<?php echo $this->getUrl('mynose/result/myreco'); ?>">4</a>
		 		</div>
		 		<?php endif; ?>
	 		<?php else : ?>
		 		<div class="diagnosis-steps">
		 			<div class="step">1</div>
		 			<div class="step">2</div>
		 			<div class="step active">3</div>
		 			<div class="step">4</div>
		 		</div>
	 		<?php endif; ?>

			<h2 class="section-title">
				<?php echo $this->__('Your olfactory portrait'); ?>
			</h2>

			<br>

			<div class="section">

				<h3 class="section-subtitle">
					<?php echo $this->__('My preferred olfactive families'); ?>
				</h3>


				<?php
				/*
				 * Text column
				 *
				 */
				?>
				<p>
					<?php echo $familiesTextBlock ;?>
				</p>



				<div class="families ">

					<?php $numbers = [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]; ?>

					<table class="diagnose-table">
						<thead>
							<tr>
								<th><?php echo $this->__('Families'); ?></th>
								<th>
									<span class="left"><?php echo $this->__('Dislike'); ?></span>
									<span class="right"><?php echo $this->__('Like'); ?>&nbsp;&nbsp;</span>
								</th>
							</tr>
						</thead>

						<tbody>
							<?php foreach ($diag->families as $family) :?>
								<tr>
									<td class="family"><?php echo mb_strtolower($family->family_name) ; ?></td>
									<td>
										<ul class="numbers">
											<?php foreach($numbers as $number) : ?>
												<li <?php if ($number + 5 == round(round($family->index_quality, 1))) { echo 'class="active"'; } ?>><?php echo $number; ?></li>
											<?php endforeach; ?>
										</ul>
									</td>
								</tr>
							<?php endforeach; ?>
						</tbody>
					</table>

				</div>

				<div class="section">
					<h3 class="section-subtitle">
						<?php echo $this->__('My olfactive pyramid'); ?>
					</h3>

					<?php
					/*
					 * Text column
					 *
					 */
					?>
					<p>
						<?php echo $pyramidTextBlock ;?>
					</p>


					<?php
					/*
					 * Pyramid
					 *
					 */
					?>

					<table class="diagnose-table pyramid-table">

						<thead>
							<tr>
								<th class="no-border"><?php echo $this->__('My favourite notes'); ?></th>
								<th class="no-border"></th>
								<th class="no-border"><span class="right"><?php echo $this->__('Time of spraying'); ?>&nbsp;&nbsp;&nbsp;</span></th>
							</tr>
						</thead>

						<tbody>
							<tr class="pyramid-row">
								<td><?php echo implode(', ', $notes_names['head']) ;?></td>
								<td><?php echo $this->__('Head'); ?></td>
								<td><?php echo $this->__('0 to 2 min'); ?></td>
							</tr>
							<tr class="pyramid-row">
								<td><?php echo implode(', ', $notes_names['heart']) ;?></td>
								<td><?php echo $this->__('Heart'); ?></td>
								<td><?php echo $this->__('2 to 4 min'); ?></td>
							</tr>
							<tr class="pyramid-row">
								<td><?php echo implode(', ', $notes_names['base']) ;?></td>
								<td><?php echo $this->__('Base'); ?></td>
								<td><?php echo $this->__('5 min and more'); ?></td>
							</tr>
						</tbody>

					</table>

				</div>

			<?php
			/*
			 * To Recommandations
			 *
			 */
			?>
			<button id="btnSeeReco" class="button icon-arrow-right" type="button" onclick="setLocation('<?php echo Mage::helper('mynose/url')->getDiagnoseRecoUrl() ;?>')"><?php echo $this->__('See the corresponding Nose recommandations') ?></button>

		</div>

		</div>

	<?php
	/*
	 * Google & FB Tracking
	 * New Diagnostic
	 *
	 */
	?>
	<?php if ($session->getData('firstDiag') == TRUE) :?>

		<script type="text/javascript">
			/* <![CDATA[ */
			var google_conversion_id = 1022898188;
			var google_conversion_language = "en";
			var google_conversion_format = "3";
			var google_conversion_color = "ffffff";
			var google_conversion_label = "ej7yCP2DqVkQjODg5wM";
			var google_remarketing_only = false;
			/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
		<noscript>
			<div style="display:inline;">
				<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1022898188/?label=ej7yCP2DqVkQjODg5wM&amp;guid=ON&amp;script=0"/>
			</div>
		</noscript>


		<!-- Facebook Conversion Code for Conv pixel to registration from facebook -->
		<script>(function() {
			var _fbq = window._fbq || (window._fbq = []);
			if (!_fbq.loaded) {
					var fbds = document.createElement('script');
					fbds.async = true;
					fbds.src = '//connect.facebook.net/en_US/fbds.js';
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(fbds, s);
					_fbq.loaded = true;
				}
			})();
			window._fbq = window._fbq || [];
			window._fbq.push(['track', '6007869350159', {'value':'0.00','currency':'USD'}]);
		</script>
		<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6007869350159&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>


		<?php
		$session->setData('firstDiag', FALSE) == TRUE
		?>

	<?php endif ;?>

<?php endif ;?>
<?php endif ;?>