<?php

/*
 * Block : Partikule_Mynose_Block_Diagnostic
 * @todo: Be polite when writing comments...
 *
 */

// Get the Diagnostic : Send user's data and create one ENose user account if no one exists
$diagnoseForm = $this->getDiagnoseForm();


/*
 * Check for errors
 * If one error happens, the diagnoseForm object looks like this :
 * stdClass Object
 *	(
 *	    [error] => 2
 * 	    [message] => User gender not known
 *	)
 *
 */
$error = (isset($diagnoseForm->error)) ? TRUE : FALSE;

/*
 * Helper Block
 *
 */
$genderHelpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_form_no_gender')->toHtml();
$mainHelpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_form_help')->toHtml();
$perfumesHelpBlock = strip_tags($this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_form_perfumes_help')->toHtml());
$disclaimerBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_disclaimer')->toHtml();

if ($error == FALSE)
{
	// User's inputs from existing Diags
	$inputs = $this->getInputs();


	//	$input_style_id = ( ! empty($inputs->style)) ? $inputs->style->style_id : FALSE;
	//	$input_note_1 = ( ! empty($inputs->notes[0])) ? $inputs->notes[0] : FALSE;
	//	$input_note_2 = ( ! empty($inputs->notes[1])) ? $inputs->notes[1] : FALSE;
	//	$notes = ( ! empty($inputs->notes)) ? $inputs->notes : FALSE;
	$perfumes = ( ! empty($inputs->perfumes)) ? $inputs->perfumes : FALSE;
	// $season_families = ( ! empty($inputs->season_families)) ? $inputs->season_families : FALSE;


	// Used to feed again the form
	$session = Mage::getSingleton('core/session');

	// Diagnose Form data
	if ($diagnoseForm)
	{
		//	$styles = $diagnoseForm->styles;
		//	$notes = $diagnoseForm->notes;

		$autocomplete_url = $diagnoseForm->autocomplete_url;
		$perfume_select_url = $diagnoseForm->perfume_select_url;

		$form_action_url = $diagnoseForm->form_action_url;
		$module_url = $diagnoseForm->module_url;
	}


}
?>


<?php
/*
 * Maintenance screen if the diag isn't available
 *
 */
?>
<?php if ( $error === TRUE ) :?>

	<?php
	/*
	 * Diag not reachable :
	 * URL problem, server problem
	 *
	 */
	?>
	<?php if($diagnoseForm->error == 3) :?>
		<?php echo $this->getChildHtml('mynose_maintenance'); ?>
	<?php endif; ?>


	<?php
	/*
	 * No Gender (male / female) for this User
	 *
	 */
	?>
	<?php if($diagnoseForm->error == 2) :?>
		<?php // echo $this->getChildHtml('mynose_maintenance'); ?>

		<div style="max-width: 520px; margin: auto;">

			<form action="<?php echo $this->getUrl('mynose/account/editPost') ?>" method="post" id="form-validate" class="profile account-form center">

				<input type="hidden" name="referrer_url" id="referrer_url" value="<?php echo Mage::helper('mynose/url')->getDiagnoseUrl() ?>">
				<?php echo $this->getBlockHtml('formkey')?>

				<?php
				/*
				 * Helper Block
				 *
				 */
				?>
				<?php if ( ! empty($genderHelpBlock)): ?>
					<?php echo $genderHelpBlock ;?>
				<?php endif ?>

				<div class="center">
					<?php $_gender = $this->getLayout()->createBlock('mynose/widget_gender') ?>
					<?php echo $_gender->setGender($this->getCustomer()->getGender())->toHtml() ?>
				</div>

				<div class="buttons-set center">
					<button type="submit" title="<?php echo $this->__('Save') ?>" class="button button-pink icon-arrow-right"><?php echo $this->__('Save and go to the diagnostic') ?></button>
				</div>

			</form>
		</div>
		<script type="text/javascript">
	       // var dataForm = new VarienForm('form-validate', true);
	     </script>



	   <?php endif; ?>


	<?php else :?>

	 	<div class="account-diagnosis">

	 		<?php $_session = Mage::getModel('customer/session'); ?>
			<?php if ($_session->isLoggedIn()) : ?>
	 		<?php $_diag = $this->helper('mynose/diagnostic')->getCustomerDiagnostic($_session->getCustomer()); ?>

		 		<?php if ($_diag) : ?>
		 		<div class="diagnosis-steps">
		 			<div class="step">1</div>
		 			<div class="step active">2</div>
		 			<a class="step" href="<?php echo $this->getUrl('mynose/result/mydiagnose'); ?>">3</a>
		 			<a class="step" href="<?php echo $this->getUrl('mynose/result/myreco'); ?>">4</a>
		 		</div>
		 		<?php endif; ?>
	 		<?php else : ?>
		 		<div class="diagnosis-steps">
		 			<div class="step">1</div>
		 			<div class="step active">2</div>
		 			<div class="step">3</div>
		 			<div class="step">4</div>
		 		</div>
	 		<?php endif; ?>

	 		<form name="diagnose" id="diagnoseForm" method="post" class="account-form diagnose-form" action="<?php echo($form_action_url) ;?>">

	 			<?php
		/*
		 * Lang code
		 * Mandatory : Will be saved during diag process
		 *
		 */
		?>
		<input type="hidden" name="lang" value="<?php echo Mage::app()->getStore()->getCode(); ?>" />

		<?php
		/*
		 * Current / Past perfumes
		 *
		 */
		?>
		<h3 class="section-title">
			<?php echo $this->__('My last perfumes') ?>
		</h3>

		<div class="subsection-title"><?php echo $this->__('Fill your three last perfumes') ?><span class="help" data-target="instructions"></span></div>

		<p class="centered help-text" id="instructions">
			<?php echo $perfumesHelpBlock ?>
		</p>

		<?php
		$gender = $this->getCustomer()->getGender();
		?>


		<div id="diagnosePerfumesForm" class="diagnose-zone">

			<?php
			/*
			 * Period
			 *
			 */
			?>
			<div id="diagnoseTime" class="diagnose-column">

				<?php for($i=1; $i<4; $i++) :?>

					<div class="diagnose-field">

						<div id="perfume_<?php echo($i) ;?>_remove"></div>

						<select id="period_<?php echo($i) ;?>" name="period_<?php echo($i) ;?>" class="input-text" rel="<?php echo($i) ;?>">
							<option value="1" <?php if ( $session->getData('period_'.$i) == 1 ) :?> selected="selected"<?php endif ;?>><?php echo $this->__('currently'); ?></option>
							<?php for($j=0; $j<5; $j++) :?>
								<?php
								$year = ($j==0) ? 'year' : 'years';
								?>
								<option value="<?php echo ($j+1)*12 ;?>" <?php if ( $session->getData('period_'.$i) == ($j+1)*12 ) :?> selected="selected"<?php endif ;?>><?php echo ($j+1) ;?> <?php echo $this->__($year) ;?></option>
							<?php endfor ;?>
						</select>

					</div>

				<?php endfor ;?>

			</div>


			<?php
			/*
			 * Brands
			 *
			 */
			?>
			<div id="diagnoseBrands" class="diagnose-column">

				<?php for($i=1; $i<4; $i++) :?>

					<?php
					$brand_name = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->brand_name : '';
					$brand_id = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->brand_id : '';
					?>

					<div class="diagnose-field">
						<input type="hidden" id="brand_<?php echo($i) ;?>" name="brand_<?php echo($i) ;?>" value="<?php echo $session->getData('brand_'.$i) ;?>" />
						<input id="search_brand_<?php echo($i) ;?>" name="search_brand_<?php echo($i) ;?>" type="text" class="search-brand" value="<?php echo $brand_name ;?>" rel="<?php echo($i) ;?>" placeholder="<?php echo $this->__('Name of the brand'); ?>" />
					</div>

				<?php endfor; ?>
			</div>


			<?php
			/*
			 * Perfumes
			 *
			 */
			?>
			<div id="diagnosePerfumes" class="diagnose-column">

				<?php for($i=1; $i<4; $i++) :?>

					<?php
					$brand_name = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->brand_name : '';
					$brand_id = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->brand_id : '';
					$perfume_id = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->perfume_id : '';
					?>

					<?php
					/*
					 * Perfumes
					 *
					 */
					?>
					<div class="diagnose-field">

						<div id="perfume_<?php echo($i) ;?>_select">
							<input id="perfume_<?php echo($i) ;?>" name="perfume_<?php echo($i) ;?>" disabled="disabled" type="text" value="" />
						</div>

					</div>

				<?php endfor ;?>

			</div>
		</div>

		<?php
		/*
		 * Never worn....
		 *
		 */
		?>
		<div id="diagnoseFormBottom" class="centered">

				<div class="never-field">
					<input type="checkbox" id="never" name="never" value="1" >
					<label class="first last gray" for="never" class="pl5">&nbsp;<?php echo $this->__('I have never worn perfume') ?></label>
				</div>

				<br>

		</div>


		<?php
		/*
		 * Submit
		 *
		 */
		?>
		<button id="submitDiagnose" class="button icon-arrow-right button-pink" type="button"><?php echo $this->__('Get the diagnostic result') ?></button>


		<?php
		/*
		 * Disclaimer Block
		 *
		 */
		?>
		<?php if ( ! empty($disclaimerBlock)) :?>
			<div class="disclaimer">
				<?php echo $disclaimerBlock ?>
			</div>
		<?php endif ;?>


	</form>

	<script type="text/javascript">


	// AutoCompleter
	jQuery(document).ready(function()
	{

		$j('.help').click(function(e) {
			e.preventDefault();
			$j('#' + $j(this).data('target')).toggleClass('visible');
		});

		var cache = {}, lastXhr;

		removePerfume = function(id)
		{
			$j('#perfume_' + id + '_select').html(
			                                      '<input id="perfume_'+id+'" name="perfume_'+id+'" disabled="disabled" type="text" class="input-text italic" value="" />'
			                                      );
			$j('#perfume_' + id + '_remove').html('');
			$j('#search_brand_' + id).attr('value', '');
		};

		getPerfumeSelect = function(brand_id, id, selected)
		{
			// var ia = $j('#include_all:checked').val();

			var data = {
				'brand_id': brand_id,
				'select_id': 'perfume_' + id,
				'include_all': 1
			};

			if (selected)
				$j.extend(data, {'selected': selected});

			$j.ajax({
				url: '<?= $perfume_select_url ?>',
				type: 'post',
				dataType: 'html',
				data: data,
				success: function(data)
				{
					remove = $j('<a class="remove-icon" onclick="javascript:removePerfume(' + id + ');" title="<?php echo $this->__('Remove this perfume') ?>"></a>');
					$j('#perfume_' + id + '_select').html(data);
					$j('#perfume_' + id + '_remove').html(remove);
				}
			});
		};

		<?php
		/*
		$j( ".search-note" ).autocomplete(
		{
			autoFocus: true,
			dataType: 'json',
			source: <?php echo str_replace("'", "\'", json_encode($notes)); ?>,
			select: function( event, ui )
			{
				console.log('select');
				var rel = $j(event.target).attr('rel');
				$j('#note_id_' + rel).val(ui.item.id);
			}
		})
		*/
		?>

		$j( ".search-brand" ).autocomplete(
		{
			autoFocus: true,
			source: function( request, response ) {
				var term = request.term;
				if ( term in cache ) {
					response( cache[ term ] );
					return;
				}
				$j.ajax({
					url: '<?= $autocomplete_url ?>',
					type: 'post',
					dataType: "json",
					data: {
						maxRows: 12,
						search: request.term
					},
					success: function( data ) {
						cache[ term ] = data;
						response( data );
					}
				});
			},
			minLength: 2,
			select: function( event, ui )
			{
				var rel = $j(event.target).attr('rel');
				$j('#brand_' + rel).val(ui.item.id);

				getPerfumeSelect(ui.item.id, rel);
			}
		});

		$j('.clear-field')


		$j('#submitDiagnose').click(function()
		{
			$j('#diagnoseForm').submit();
		});


		// On Varien validate...
		VarienForm.prototype.submit = function(url)
		{
			if(this.validator && this.validator.validate())
			{
				return true;
			}
			return false;
		};

		var diagnoseForm = new VarienForm('diagnoseForm', true);

		<?php for($i=1; $i<4; $i++) :?>
		<?php if ( $perfumes != FALSE && ( ! empty($perfumes[$i-1]))) :?>
		getPerfumeSelect('<?php echo $perfumes[$i-1]->brand_id ;?>', '<?php echo $i ;?>', '<?php echo $perfumes[$i-1]->perfume_id ;?>');
	<?php endif ;?>
<?php endfor ;?>

});
</script>

</div>
<?php endif ;?>










