<?php
/**
 * Block : Partikule_Mynose_Block_Diagnostic
 *
 */
?>
<?php

$EVAL_STATUS_CLOSED = 	0;		// Evaluation not yet opened (no order on samples)
$EVAL_STATUS_PENDING = 	1;		// Ordered, but order not complete
$EVAL_STATUS_WAITING = 	2;		// Eval opened, waiting for user input
$EVAL_STATUS_DONE = 	3;		// Eval done by user
$EVAL_STATUS_CANCELED = 4;		// Eval canceled, not used for the moment.



/**
 * Evaluations List
 * @see Partikule_Mynose_Block_Diagnostic.php
 *
 */
$enose_url = Mage::getBaseUrl(). 'mynose/eval/rank';
$evaluations = $this->getEvaluationList();


$eval_array = array(
	'waiting' => array(
		'title' => $this->__('To evaluate'),
		'data' => array()
	),
	'favorite' => array(
		'title' => $this->__('My favorites'),
		'data' => array()
	),
	'done' => array(
		'title' => $this->__('History'),
		'data' => array()
	),
);

$_has_temp_evals = FALSE;

/**
 * Orders
 *
 */
$exclude_status = array('complete', 'closed', 'canceled');
$orders = $this->getOrders();

/**
 * Cart
 *
 */
/*$_cart_products = Mage::getModel("checkout/cart")->getItems();
$_cart_data = array();
if ($_cart_products)
$_cart_data = $_cart_products->getData();*/

/*
 * Add each Perfume to
 * - Waiting Array : if evaluation_status = 1
 * - Favorites Array : if evaluation_status = 3 or 4
 * - History Array : if evaluation_status = 3 or 4
 *
 */
if ( ! empty($evaluations))
{
	// Products
	$products = $this->getProductsFromDiagnosticItems($evaluations);

	foreach($evaluations as $key => $eval)
	{
		// Product
		$eval->product = NULL;

		foreach($products as $product)
		{
			if ($product->getMasterId() == $eval->master_id)
			{
				$eval->product = $product;
				break;
			}
		}

		// Adding the ranking class
		$eval->_ranking_class = 'n' . intval( $eval->evaluation);

		// Temp evaluations exist ?
		if ($eval->temp == 1) $_has_temp_evals = TRUE;

		switch($eval->evaluation_status)
		{
		//	case $EVAL_STATUS_PENDING:
			case $EVAL_STATUS_WAITING:
			$eval_array['waiting']['data'][] = $eval;
			break;


			case $EVAL_STATUS_DONE:
			$eval_array['done']['data'][] = $eval;
			$eval_array['favorite']['data'][] = $eval;
			break;
		}
	}
}

// History ordering
if ( ! empty($eval_array['done']['data']))
{
	foreach ($eval_array['done']['data'] as $key => $row) {
		$evaluation[$key]  = $row->evaluation;
	}

	array_multisort($evaluation, SORT_DESC, $eval_array['done']['data']);
}

// Favorites ordering
if ( ! empty($eval_array['favorite']['data']))
{
	foreach ($eval_array['favorite']['data'] as $key => $row) {
		$evaluation[$key]  = $row->evaluation;
		// $evaluation_dt[$key] = $row->evaluation_dt;
	}
	// array_multisort($evaluation, SORT_DESC, $evaluation_dt, SORT_DESC, $eval_array['favorite']['data']);
	array_multisort($evaluation, SORT_DESC, $eval_array['favorite']['data']);
}


$eval_array['favorite']['data'] = array_slice($eval_array['favorite']['data'], 0, 10);

// Has the customer bought his Sample Kit ?
$diag_bundle_id = Mage::getStoreConfig('nose/general/bundle_product_id');
$customer = Mage::getSingleton('customer/session')->getCustomer();
$has_bought = Mage::getModel('mynose/customer')->hasBoughtLastDiagSampleKit($customer);
// $has_in_cart = Mage::getModel('mynose/customer')->isLastDiagSampleKitInCart($customer);
$sample_buy_url = Mage::helper('mynose/kit')->getOrderSampleKitUrl($customer);

// Check if evaluations panel should be displayed
$has_data = FALSE;
foreach($eval_array as $ev)
{
	if ( ! empty($ev['data'])) $has_data = TRUE;
}

Mage::log($eval_array, null, 'partikule.log');


// 5 euros / 10 euros Diagnostic Pack
$customer_group = Mage::helper('nose/customer')->getCustomerGroup();
$orderSampleBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_order_sample')->toHtml();
$buttonBottomLine = $this->__('and get one € 10.00 voucher !');
$group = $customer_group->getCode();

switch($group)
{
	case 'Kit_5_Euros':
	$orderSampleBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_order_sample_5_euros')->toHtml();
	$buttonBottomLine = $this->__('at € 5.00 instead of 10.00 !');
	break;
	case 'Kit_0_Euros':
	$orderSampleBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_order_sample_0_euros')->toHtml();
	$buttonBottomLine = $this->__('get it for free !');
	break;
	default:
	break;
}



?>

<?php
/*
 * No diag done
 *
 *
 */
?>


<?php if (  ! $has_data && ! $has_bought && is_null($sample_buy_url)) :?>

	<?php echo $this->getChildHtml('mynose_no_eval'); ?>

<?php endif ;?>

<?php if ( $has_data ) :?>

	<?php echo $this->getChildHtml('global_messages') ?>

	<?php
	/*
	 * TEMP evals : Unsaved
	 *
	 */
	?>
	<?php if ($_has_temp_evals) :?>

		<?php
		$msg = nl2br(strip_tags($this->getLayout()->createBlock('cms/block')->setBlockId('mynose_evaluation_unsaved')->toHtml()));
		?>
		<?php if ($msg != '') :?>
			<ul class="messages">
				<li class="notice-msg">
					<ul>
						<li><?php echo $msg; ?></li>
					</ul>
				</li>
			</ul>
		<?php endif ;?>
	<?php endif ;?>

	<script type="text/javascript">
		Translator.add('In the cart','<?php echo Mage::helper('mynose')->__('In the cart')?>');
	</script>

<?php endif ;?>



<?php if ( ! $has_bought && ! is_null($sample_buy_url)): ?>

	<div class="col2-set" style="display: none;">

		<div class="col-1" style="text-align: center;">
			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_evaluation_order_kit')->toHtml(); ?>

		</div>
		<div class="col-2">
			<br><br>
			<button onclick="setBundle('<?php echo $sample_buy_url ?>/')"  class="button button-dark" title="<?php echo $this->__('Order your samples') ?>" type="submit">
				<?php echo $this->__('Order your samples') ?>
				<span class="smaller"><?php echo $buttonBottomLine ?></span>
			</button>
		</div>

	</div>
	<div class="clearfix"></div>
<?php endif ;?>


<?php
/*
 * Ok, we can display something
 *
 */
?>
<?php if ( $has_data ) :?>

	<div class="subnav-container center">
		<ul id="diag-nav" class="subnav">
			<?php foreach($eval_array as $key => $eval): ?>
				<?php if ( ! empty($eval['data'])) :?>
					<li class="active first"><a><span><?php echo $eval['title']; ?></span></a></li>
				<?php endif ;?>
			<?php endforeach ;?>
		</ul>
	</div>

	<div id="diag-panels" class="mb30">

		<?php
		/*
		 * Awaiting
		 * Contains also pending evals (samples ordered)
		 *
		 */
		?>
		<?php foreach($eval_array as $eval_key => $eval) :?>

			<?php if ( ! empty($eval['data'])) :?>

				<?php
				$_has_save_evals_button = FALSE;
				?>

				<div class="panelContent">
					<table class="diagnose-table" id="diag-results">
						<thead>
							<tr>
								<th class="no-border"></th>
								<th class="no-border"><?php echo $this->__('Brand') ?></th>
								<th class="no-border"><?php echo $this->__('Perfume') ?></th>
								<th class="no-border">
									<span class="left"><?php echo $this->__('Dislike') ?></span>
									<span class="right"><?php echo $this->__('Like') ?>&nbsp;&nbsp;&nbsp;</span>
								</th>
							</tr>
						</thead>
						<tbody>

							<?php $_iterator = 0; ?>

							<?php foreach($eval['data'] as $key => $row) :?>

								<?php
								// Closed or pending evaluations
								$_close_class = ($row->evaluation_status == $EVAL_STATUS_CLOSED OR $row->evaluation_status == $EVAL_STATUS_PENDING) ? ' closed' : ' open';

								if (
									$row->evaluation_status == $EVAL_STATUS_CLOSED
									OR $this->evaluation_status == $EVAL_STATUS_PENDING
								)
									$row->_ranking_class = 'n5';

								// Waiting eval
									$_waiting_class = ($row->evaluation_status == $EVAL_STATUS_WAITING && ! $row->evaluation) ? ' waiting' : '';

								// Display the Save button
									if ($row->temp == 1) $_has_save_evals_button = TRUE;

									$_img = '';
									if ($row->product && $row->product->getImage() != 'no_selection' && $row->product->getImage())
									{
										$_img = '<img src="'.$this->helper('catalog/image')->init($row->product, 'image')->keepTransparency(true)->resize(60).'" alt="'.$this->__('See product'). ' : '. $this->htmlEscape($row->product->getName()).'" title="'.$this->htmlEscape($row->product->getName()).'" />';
									}

								// Master
									$master = Mage::getModel('catalog/product')->loadByAttribute('master_id', $row->master_id);

								// Error
								// if ( ! $master)
								//	Mage::log('ERROR /mynose/diagnose/evaluations.phtml : No Product in Nose for : ' . $row->brand_name . ' : ' . $row->perfume_name, null, 'partikule.log');

									$master_category = Mage::getModel('boutique/category')->getProductCategory($master);
									$master_url = NULL;

									if ($master_category && $master->getTypeId() == 'configurable')
									{
										$master_url = Mage::getBaseUrl().$master_category->getUrlPath().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($master),"/");
									}
									?>

									<tr rel="<?php echo $row->master_id ?>">
										<td>
											<?php if ( ! is_null($master_url)): ?>
												<a href="<?php echo $master_url ?>" target="_blank" title="<?php echo $this->__('See product') ?> : <?php echo $this->htmlEscape($master->getName()) ?>">
												<?php endif ;?>
												<?php echo $_img; ?>
												<?php if (! is_null($master_url)) :?>
												</a>
											<?php endif ;?>
										</td>
										<td><?php echo $row->brand_name ?></td>
										<td>
											<?php if ( ! is_null($master_url)): ?>
												<a href="<?php echo $master_url ?>" target="_blank" title="<?php echo $this->__('See product') ?> : <?php echo $this->htmlEscape($master->getName()) ?>">
												<?php endif ;?>
												<?php echo $row->perfume_name ?>
												<?php if (! is_null($master_url)) :?>
												</a>
											<?php endif ;?>
										</td>
										<td>
												<ul class="numbers <?php echo $row->_ranking_class  ?><?php echo $_close_class; ?><?php echo $_waiting_class; ?>">
													<li class="zero" data-id="<?php echo $row->master_id ?>" data-rank="0">0</li>
													<li class="one"  data-id="<?php echo $row->master_id ?>" data-rank="1">1</li>
													<li class="two"  data-id="<?php echo $row->master_id ?>" data-rank="2">2</li>
													<li class="three"  data-id="<?php echo $row->master_id ?>" data-rank="3">3</li>
													<li class="four"  data-id="<?php echo $row->master_id ?>" data-rank="4">4</li>
													<li class="five"  data-id="<?php echo $row->master_id ?>" data-rank="5">5</li>
													<li class="six"  data-id="<?php echo $row->master_id ?>" data-rank="6">6</li>
													<li class="seven"  data-id="<?php echo $row->master_id ?>" data-rank="7">7</li>
													<li class="eight"  data-id="<?php echo $row->master_id ?>" data-rank="8">8</li>
													<li class="nine"  data-id="<?php echo $row->master_id ?>" data-rank="9">9</li>
													<li class="ten"  data-id="<?php echo $row->master_id ?>" data-rank="10">10</li>
												</ul>
												<!-- <div class="evalLegend">
													<span class="minusfive">-5</span>
													<span class="zero">0</span>
													<span class="five">5</span>
												</div> -->

										</td>
									</tr>
									<?php $_iterator++ ; ?>

								<?php endforeach ;?>

							</tbody>
						</table>

						<?php if($_has_save_evals_button OR $eval_key == 'waiting') :?>
							<br><br>
							<button type="submit" onclick="setLocation('<?php echo Mage::helper('mynose/url')->getEvalSaveUrl(); ?>')" title="<?php echo $this->__('Save') ?>" class="right button btnSaveEval action icon-arrow-right"><?php echo $this->__('Save') ?></button>
						<?php endif ;?>
					</div>
				<?php endif ;?>

			<?php endforeach ;?>

		</div>


		<script type="text/javascript">
			jQuery(document).ready(function()
			{
				setOpenBlock('#block-mynose');

				var diagPanels = new NosePanels({
					'nav' : 'diag-nav',
					'panels' : 'diag-panels'
				});

				var Nose = new NoseEvaluation('<?php echo Mage::getBaseUrl(). 'mynose/eval/rank'; ?>');

				Nose.initEvaluationRanking('.numbers');
			});
		</script>

	<?php endif ;?>