<?php
/**
 * Evaluations List
 * @see Partikule_Mynose_Block_Diagnostic.php
 *
 */

// Helpers block, because the visitor needs to be helped...
$favoritesHelpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_favorites_help')->toHtml();

$enose_url = Mage::getBaseUrl(). 'mynose/eval/rank';

// List of perfumes : status 2, limit 5
// Statuses :
// 0. Closed
// 1. Open
// 2. Waiting for eval
// 3. Evaluated
$evaluations = $this->getEvaluationList(3);


if ( ! empty($evaluations) )
{
	// Samples from perfumes
	$products = $this->getSamplesFromDiagnosticItems($evaluations);

	if ($products)
	{
		// Link samples to perfumes
		foreach($evaluations as $key => &$perfume)
		{
			// Adding the ranking class
			$perfume->_ranking_class = 'n' . round(round($perfume->evaluation, 1));

			// Add the product to the perfume
			foreach($products as $product)
				if ($product->getMasterId() == $perfume->master_id)
					$perfume->product = $product;

			// Prepare the array sorting... but whatfor ? ...
				$sorting_eval[$key]  = $perfume->evaluation;
				$sorting_dt[$key] = $perfume->evaluation_dt;
			}

		// Evaluation sorting, based on the evaluation and date
		//array_multisort($sorting_eval, SORT_DESC, $sorting_dt, SORT_DESC, $evaluations);
			array_multisort($sorting_eval, SORT_DESC, $evaluations);
		}
	}

// Keep first five
	if (count($evaluations) > 5)
	{
		$result = array();
		for($i=0; $i<5; $i++)
		{
			$result[] = $evaluations[$i];
		}
		$evaluations = $result;
	}
	$perfume_id = $evaluations[0]->master_id;


// Mage::log($evaluations, null, 'evaluations.log');
// trace($evaluations);

	?>



	<?php if ( empty($evaluations)) :?>

		<?php echo $this->getChildHtml('mynose_no_favorites'); ?>

	<?php else :?>

		<div id="reco-panels" class="reco">

			<div class="panelContent item_carousel article products multiple-lines" style="margin-bottom: 2rem;">
				<?php $max = (count($evaluations) > 5) ? 5 : count($evaluations) ;?>

				<?php for($i = 0; $i < $max; $i++) :?>
					<?php
				// Diag perfume line
					$row = $evaluations[$i];

				// Current Element
					$class = ($i==0) ? ' active' : '';

					?>
					<?php
					$_product = FALSE;
					if ($master) $_product = $master;
					elseif (isset($row->product)) $_product = $row->product;
					?>
					<?php if ($_product) : ?>
					<?php $_product = $_product->load($_product->getId()); ?>
						<div class="product-item">
							<a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $_product->getName(); ?>" class="product-link">

								<div class="product-photo" style="background-image: url(<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepTransparency(true)->resize(200) ?>);"></div>

								<div class="product-brand"><?php echo $row->brand_name ?></div>

								<div class="product-title"><?php echo $_product->getName(); ?></div>
								<br>
								<div class="stars <?php echo $row->_ranking_class; ?>"></div>

							</a>
						</div>
					<?php endif; ?>
				<?php endfor ;?>

				<?php
			/*
			 * Product Container
			 *
			 */
			?>
			<!-- <div id="diagProductContainer"></div> -->
			<?php
		// End Panel
			?>
		</div>

	</div>


	<script type="text/javascript">

		<?php
		/*
		 * XHR Display the first product
		 * (prototype)
		 *
		 */
		?>
		// jQuery(document).ready(function()
		// {

		// 	var productLoader = new NoseProductLoader('<?php echo Mage::helper('mynose/url')->getProductUrl() ;?>',
		// 	{
		// 		'update' : 'diagProductContainer',
		// 		'handlers' : '.itemHandler'
		// 	});

		// 	<?php if (! is_null($perfume_id)) :?>
		// 		productLoader.load('<?php echo $perfume_id ;?>');
		// 		productLoader.init('a.productDisplay');
		// 	<?php endif ;?>
		// });

	</script>

<?php endif ;?>