<?php

/**
 * No Eval
 * @see Partikule_Mynose_Block_Diagnostic.php
 *
 */



?>

<div class="center mt20">

	<p><?php echo $this->__('You do not have any favorites') ?></p>
	<p><?php echo $this->__('Your favorites will be available after your first evaluations') ?></p>
   	
<!--
   	<div class="buttons-set center">
       	<button type="submit" onclick="setLocation('<?php echo Mage::helper('mynose/url')->getDiagnoseUrl() ; ?>')" title="<?php echo $this->__('Do the diagnostic') ?>" class="button"><span><span><?php echo $this->__('Do the diagnostic') ?></span></span></button>
   	</div>
-->
<!--
	<div class="mt20 center">
		<button onclick="setLocation('<?php echo Mage::helper('mynose/url')->getDiagnoseResultUrl() ?>')"  class="button" title="<?php echo $this->__('Order the samples') ?>" type="button"><span><span><?php echo $this->__('Order the samples') ?></span></span></button>
	</div>
-->

</div>
