<?php $_data = $this->getData(); ?>
<?php if ($_data['youtube_link']) { ?>

<div class="video-item"
data-poster="<?php echo Mage::getBaseUrl('media') . $_data['poster']; ?>"
data-title="<?php echo $_data['title']; ?>"
data-youtube="<?php echo $_data['youtube_link']; ?>"
></div>

<?php } elseif ($_data['link']) { ?>

<div class="pictures-item"
data-title="<?php echo $_data['title']; ?>"
data-link="<?php echo $_data['link']; ?>"
>
    <div class="picture" data-src="<?php echo Mage::getBaseUrl('media') . $_data['poster']; ?>" data-src-mobile="<?php echo Mage::getBaseUrl('media') . $_data['poster_mobile']; ?>"></div>
</div>

<?php } ?>