<?php
/**
 * Partikule
 *
 * @modified	2013.03.20
 *
 * @note		Love Machine Invitation form
 * @todo
 *
 * @category    design
 * @package     mynose
 * @author   	2012 Partikule (http://www.partikule.net)
 *
 */

/*
 * @see Partikule_Mynose_Block_Love
 *
 */
?>

<?php

$helpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_love_invitation_help')->toHtml();

// Message to the invited user
$message = $this->htmlEscape($this->getFormData()->getMessage());
if ($message == '')
	$message = strip_tags($this->getLayout()->createBlock('cms/block')->setBlockId('mynose_love_message')->toHtml());

$relationTypes = $this->getLoveRelationTypes();


?>

<div class="page-title">
    <h2><?php echo $this->__('Invitation to the Love machine') ?></h2>
    <?php if ( ! empty($helpBlock)): ?><a id="helperBtn1" class="helper-open"></a><?php endif ;?>
</div>

<?php if ( ! empty($helpBlock)): ?>
<div  id="helperBloc1" class="helper-bloc" data-id="1">
	<a class="helper-close"></a>
	<?php echo $helpBlock; ?>
</div>
<?php endif ;?>

<div class="span-16 prepend-2 append-2">

	<?php if ( $this->hasAlreadyLover() ) :?>
		
		<?php
		
		// 1. Get the Husband / Wife relation
		
		
		// 2. Display icons to his / her LM diagnostic.
		
		
		
		?>
		
		<div class="center">
		
			<?php echo $this->__("You already have one declared lover. Unfortunately, it isn't possible to invite one other lover.") ;?>
			
			<?php
			/*
			 * HERE : Check if the diagnostic Love Machine is available
			 *
			 *
			 */
			 ?>
		   	<div class="buttons-set center">
       			<button type="submit" onclick="setLocation('<?php echo Mage::helper('mynose/url')->getLoveLoverDiagnosticUrl() ; ?>')" title="<?php echo $this->__('See his/her Love Machine diagnostic results') ?>" class="button"><span><span><?php echo $this->__('See his/her Love Machine diagnostic results') ?></span></span></button>
       			<button type="submit" onclick="setLocation('<?php echo Mage::helper('mynose/url')->getLoveMyDiagnosticUrl() ; ?>')" title="<?php echo $this->__('See your Love Machine diagnostic results') ?>" class="button"><span><span><?php echo $this->__('See your Love Machine diagnostic results') ?></span></span></button>
   			</div>
		
		</div>
	
	<?php else: ?>
	
		<form name="loveForm" id="loveForm" method="post" class="nose-form" action="<?php echo Mage::helper('mynose/url')->getLoveFormUrl() ?>">
		
	
			<h3 class="title mt30"><?php echo $this->__("Lover's profile") ?></h3>
	
			<div class="clearfix"></div>
			
			<?php
			/*
			 *
			 */ 
			?>
			<div class="span-8">
				
				<ul class="form-list">
					<li class="fields">
	        			<label for="firstname" class="left required"><em>*</em><?php echo $this->__('Firstname') ?></label>
			        	<div class="input-box left">
			        	    <input type="text" name="firstname" id="firstname" value="<?php echo $this->htmlEscape($this->getFormData()->getFirstname()) ?>" title="<?php echo $this->__('Firstname') ?>" class="input-text required-entry w170" />
			        	</div>
		        	</li>
	        	</ul>
	
			</div>
	
			<div class="span-8 last">
	
				<ul class="form-list">
					<li class="fields">
			        	<label for="lastname" class="left required"><em>*</em><?php echo $this->__('Lastname') ?></label>
			        	<div class="input-box right">
			        	    <input type="text" name="lastname" id="lastname" value="<?php echo $this->htmlEscape($this->getFormData()->getLastname()) ?>" title="<?php echo $this->__('Lastname') ?>" class="input-text required-entry w170" />
			        	</div>
		        	</li>
	        	</ul>
	
			</div>
	
			
			
			<div class="span-8">
				
				<ul class="form-list">
					<li>
						<label for="gender" class="left pt5"><?php echo $this->__('Gender') ?></label>
						<div class="input-box gender w160">
						
						    <?php 
						    	$options = Mage::getResourceSingleton('customer/customer')->getAttribute('gender')->getSource()->getAllOptions();
						    	$value = $this->getGender();
						    	$_iterator = 0;
						    	$_nb_options = count($options);
						    ?>
							<?php foreach ($options as $option):?>
								<?php $_iterator ++; ?>
								<?php if ($option['value']) :?>
									<input type="radio" class="" id="gender<?php echo $option['value'] ?>" name="gender" value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $value) echo ' checked="checked"' ?>>
									<label class="sex<?php echo $option['value'] ?>" for="gender<?php echo $option['value'] ?>"><?php echo $option['label'] ?></label>&nbsp;
								<?php endif; ?>
							<?php endforeach;?>
						
						</div>
					</li>
	        	</ul>
	
			</div>
	
			<div class="span-8 last">
				<ul class="form-list">
					<li class="fields">
			        	<label for="link" class="left"><?php echo $this->__('Link') ?></label>
			        	<div class="input-box right">
			        		<select name="link" id="link" style="width:178px;">
			        			<?php foreach($relationTypes as $relation) :?>
			        				<option value="<?php echo($relation['id_relation_type']) ;?>"><?php echo( $relation['relation_name']) ;?></option>
			        			<?php endforeach ;?>
			        			<script type="text/javascript">
	                                $('link').setAttribute('defaultValue', "<?php echo $this->getFormData()->getLink() ?>");
	                            </script>
	
			        		</select>
			        	</div>
		        	</li>
	        	</ul>
			</div>
	
			<div class="clearfix"></div>
			
			<h3 class="title mt30"><?php echo $this->__("Receiver's email") ?></h3>
	
			<div class="span-16 last">
				
				<ul class="form-list">
					<li class="fields">
	        			<label for="email" class="left required"><em>*</em><?php echo $this->__('Email') ?></label>
			        	<div class="input-box left">
			        	    <input type="text" name="email" id="email" value="" title="<?php echo $this->__('Email') ?>" class="w260 input-text required-entry w170" />
			        	</div>
		        	</li>
	        	</ul>
	
			</div>
			<div class="clearfix"></div>
	
			<h3 class="title mt30"><?php echo $this->__("Message") ?></h3>
			
			<div class="span-16 last">
	
				<ul class="form-list">
					<li class="fields">
			        	<label for="event" class="left"><?php echo $this->__('Message') ?></label>
			        	<div class="input-box left">
							<textarea name="message" class="w"><?php echo $message; ?></textarea>
						</div>
					</li>
				</ul>
	
			</div>
	
			<div class="clearfix"></div>
			
			
			<div class="buttons-set" id="contact-buttons-container">
				<button type="button" title="<?php echo $this->__('Send the surprise') ?>" class="button" onclick="love.save()"><span><span><?php echo $this->__('Invite to Love Machine') ?></span></span></button>
			</div>
			
		</form>
		
		<script type="text/javascript">
		
			var love = new BasicForm('loveForm', '<?php echo Mage::helper('mynose/url')->getLoveFormUrl() ?>');
	
			var surpriseForm = new VarienForm('loveForm', true);
		
			// AutoCompleter
			jQuery(document).ready(function()
			{
				setOpenBlock('#block-love');
			});
	
		</script>
	
	<?php endif ;?>


	
</div>	

	
	







