<?php

/**
 * No Diag
 * @see Partikule_Mynose_Block_Diagnostic.php
 *
 */

?>
<?php

$diag = $this->getMyLoveMachineDiagnostic();

?>
<div class="page-title">
    <h2><?php echo $this->__('My Love Machine diagnostic') ?></h2>
</div>

<div class="clearfix"></div>

<div class="center mt20">
	<p><?php echo $this->__("One diagnostic (yours or you lover's one) is missing. Make sure you and your lovers have done your diagnostic to see your Love Machine results."); ?></p>
   	
   	<?php if (isset($diag['missing']) && $diag['missing'] == 'you') :?>
   	<div class="buttons-set center">
       	<button type="submit" onclick="setLocation('<?php echo Mage::helper('mynose/url')->getDiagnoseUrl() ; ?>')" title="<?php echo $this->__('Do the diagnostic') ?>" class="button"><span><span><?php echo $this->__('Do the diagnostic') ?></span></span></button>
   	</div>
   <?php endif ;?>


</div>
