<?php

/**
 * No Diag
 * @see Partikule_Mynose_Block_Diagnostic.php
 *
 */

?>
<?php

$_lover = $this->getLover();

?>
<div class="page-title">
    <h2><?php echo $this->__('His/Her recommandations') ?></h2>
</div>

<div class="clearfix"></div>

<div class="center mt20">
	<p><strong><?php echo $_lover['firstname'] ;?></strong><?php echo $this->__(" hasn't yet done his diagnostic."); ?></p>
	<p><?php echo $this->__('As soon as he has done his diagnostic, the Love Machine results will be available'); ?></p>
   	
<?php 
   	/*
   	   	<div class="buttons-set center">
       	<button type="submit" onclick="setLocation('<?php echo Mage::helper('mynose/url')->getDiagnoseUrl() ; ?>')" title="<?php echo $this->__('Do the diagnostic') ?>" class="button"><span><span><?php echo $this->__('Do the diagnostic') ?></span></span></button>
   	</div>

   	*/
   	?>

</div>
