<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Zblocks
 * @version    2.5.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$data = Mage::registry('zblocks_data');
$showInSubcategories = is_array($data) && isset($data['show_in_subcategories']) && $data['show_in_subcategories'];
?>
<div class="entry-edit">
    <div id="awzb_categories_error">
        <?php echo $this->__('Categories filter is not applicable for selected block position') ?>
    </div>
    <table class="form-list" cellspacing="0" id="categories-fields">
        <tr>
            <td class="label"><label for="show_in_subcategories"><?php echo $this->__('Categories') ?></label></td>
            <td class="value">
                <div id="product-categories" class="tree"></div>
                <input type="hidden" name="category_ids" id="product_categories" value="<?php echo $this->getIdsString() ?>">
            </td>
        </tr>
        <tr>
            <td class="label"><label for="show_in_subcategories"><?php echo $this->__('Show in subcategories') ?></label></td>
            <td class="value">
                <select class=" select" title="Show in subcategories" name="show_in_subcategories" id="show_in_subcategories">
                    <option value="1"<?php if($showInSubcategories) : ?> selected="selected"<?php endif ?>><?php echo $this->__('Enabled') ?></option>
                    <option value="0"<?php if(!$showInSubcategories) : ?> selected="selected"<?php endif ?>><?php echo $this->__('Disabled') ?></option>
                </select>
            </td>
        </tr>
    </table>
</div>

<?php if ($this->getRootNode() && $this->getRootNode()->hasChildren()): ?>
    <script type="text/javascript">
        var tree = null;
        var root;
        var cust = <?php echo $this->getTreeJson() ?>;
        Ext.EventManager.onDocumentReady(function() {
            var categoryLoader = new Ext.tree.TreeLoader({
                dataUrl: '<?php echo $this->getLoadTreeUrl()?>'
            });

            categoryLoader.createNode = function(config) {
                config.uiProvider = Ext.tree.CheckboxNodeUI;
                var node;
                if (config.children && !config.children.length) {
                    delete(config.children);
                    node = new Ext.tree.AsyncTreeNode(config);

                } else {
                    node = new Ext.tree.TreeNode(config);
                }
                return node;
            };

            categoryLoader.on("beforeload", function(treeLoader, node) {
                treeLoader.baseParams.category = node.attributes.id;
            });

            categoryLoader.on("load", function(treeLoader, node, config) {
                varienWindowOnload();
            });

            tree = new Ext.tree.TreePanel('product-categories', {
                animate:true,
                loader: categoryLoader,
                enableDD:false,
                containerScroll: true,
                rootUIProvider: Ext.tree.CheckboxNodeUI,
                selModel: new Ext.tree.CheckNodeMultiSelectionModel(),
                rootVisible: '<?php echo $this->getRootNode()->getIsVisible() ?>'
            });

            tree.on('check', function(node) {
                if(node.attributes.checked) {
                    categoryAdd(node.id);
                } else {
                    categoryRemove(node.id);
                }
                varienElementMethods.setHasChanges(node.getUI().checkbox);
            }, tree);

            // set the root node
            root = new Ext.tree.TreeNode({
                text: '<?php echo $this->jsQuoteEscape($this->getRootNode()->getName()) ?>',
                draggable:false,
                checked:'<?php echo $this->getRootNode()->getChecked() ?>',
                id:'<?php echo $this->getRootNode()->getId() ?>',
                disabled: <?php echo ($this->getRootNode()->getDisabled() ? 'true' : 'false') ?>,
                uiProvider: Ext.tree.CheckboxNodeUI
            });

            tree.setRootNode(root);
            bildCategoryTree(root, <?php echo $this->getTreeJson() ?>);
            tree.addListener('click', categoryClick.createDelegate(this));

        });

        function bildCategoryTree(parent, config){
            if (!config) return null;

            if (parent && config && config.length){
                for (var i = 0; i < config.length; i++){
                    config[i].uiProvider = Ext.tree.CheckboxNodeUI;
                    var node;
                    var _node = Object.clone(config[i]);
                    if (_node.children && !_node.children.length) {
                        delete(_node.children);
                        node = new Ext.tree.AsyncTreeNode(_node);

                    } else {
                        node = new Ext.tree.TreeNode(config[i]);
                    }
                    parent.appendChild(node);
                    node.loader = node.getOwnerTree().loader;
                    if(config[i].children){
                        bildCategoryTree(node, config[i].children);
                    }
                }
            }
        }

        function categoryClick(node, e){
            if (node.disabled) {
                return;
            }
            node.getUI().check(!node.getUI().checked());
            varienElementMethods.setHasChanges(Event.element(e), e);
        };
        function categoryAdd(id) {
            var ids = $('product_categories').value.split(',');
            ids.push(id);
            $('product_categories').value = ids.join(',');
        }
        function categoryRemove(id) {
            var ids = $('product_categories').value.split(',');
            while (-1 != ids.indexOf(id)) {
                ids.splice(ids.indexOf(id), 1);
            }
            $('product_categories').value = ids.join(',');
        }
        
        $('zblocks_tabs_conditions').observe('click', function() {
           if(!$('awzb_categories_error').visible()){
                tree.render();
                root.expand();
            }
        });
    </script>
<?php endif; ?>
