<?php $_data = $this->getData(); ?>

<?php if ($_data['url'] != "") : ?>
<a href="<?php echo $_data['url']; ?>">
<?php endif; ?>

<?php if ($_data['icon'] != "") : ?>
<img class="icon" src="<?php echo Mage::getBaseUrl('media') . $_data['icon']; ?>">
<?php endif; ?>

<h3><?php echo $_data['title']; ?></h3>
<p><?php echo $_data['subtitle']; ?></p>

<?php if ($_data['url'] != "") : ?>
</a>
<?php endif; ?>