<footer>
    <div class="grey-banner">
        <a class="left-link" href="#callrequest"><?php echo $this->__('Contact'); ?></a>

        <div class="social-links">
            <a class="facebook link" href="https://www.facebook.com/nose.fr/" target="_blank">Facebook</a>
            <a class="instagram link" href="https://www.instagram.com/noseparis/" target="_blank">Instagram</a>
            <a class="pinterest link" href="https://www.pinterest.fr/noseparis/" target="_blank">Pinterest</a>
            <a class="youtube link" href="https://www.youtube.com/user/NOSEPARIS" target="_blank">YouTube</a>
        </div>

        <a class="right-link" href="#" id="openNewsletterModal"><?php echo $this->__('Newsletter'); ?></a>
    </div>

    <div class="footer-articles">
        <div class="footer-container">
            <div class="column">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_col1')->toHtml(); ?>
            </div>
            <div class="column">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_col2')->toHtml(); ?>
            </div>
            <div class="column">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_col3')->toHtml(); ?>
            </div>
            <div class="column">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_col4')->toHtml(); ?>
            </div>
        </div>
    </div>
</footer>
<div class="footer-address">
    Nose, <a href="https://goo.gl/maps/cChdgitmon92" target="_blank">20 rue Bachaumont, 75002, Paris</a><br>
    Tel : <a href="tel:+33140264603">+33 1 40 26 46 03</a> - <a href="mailto:info@nose.fr">info@nose.fr</a>
</div>
<div class="site-by">
    Website by <a href="http://www.bonjour.agency" target="_blank">Bonjour Paris</a>
</div>

<script type="text/javascript">

    $j('.footer-articles a.popup').each(function(a){
        $j(this).click(function(event)
        {
            event.preventDefault();
            var win = window.open( $j(this).attr('href'),'win','scrollbars=yes,width=755,height=600,resizable=yes,toolbar=0');
            win.focus();
        });
    });

</script>