<?php
/**
 * Partikule
 * Nose Project
 *
 * @modified  2011.10.6
 *
 * @category  design
 * @package   nose_default
 * @author    2011 Partikule (http://www.partikule.net)
 *
 */

$gifBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('nose_header_gif')->toHtml();

$page = Mage::helper('ionize/page')->getRegisteredPage();

$title = '';
if ($page)
{
  $seo_title = $page->getSeoTitle();
  $title = ! empty($seo_title) ? $page->getSeoTitle() : $page->getTitle();
}

if ( empty($title) )
{
  $product = Mage::registry('current_product');
  if ($product)
  {
    $category = $product->getAttributeText('manufacturer');

    $title = $product->getSeoTitle();

    if (empty($title))
      $title = $category . ', ' . $product->getName();
  }
}

?>
<div class="header-container">
  <div class="top-notice"><?php echo $this->__('Shipping + 3 samples offered for orders over 80€'); ?></div>
  <header class="<?php echo substr(Mage::getStoreConfig('general/locale/code'),0,2); ?>">
    <div class="header-left">
      <a class="menu-link" id="navLink" href="#"></a>
      <a class="search-link" id="searchLink" href="#"></a>
      <?php echo $this->getChildHtml('store_language') ?>
    </div>

    <div class="header-right">

      <div class="logout-links">
        <?php echo $this->getChildHtml('rightTopSecondLinks') ?>
      </div>

      <?php echo $this->getChildHtml('rightTopLinks') ?>
      <?php // echo $this->getChildHtml('topSearch') ?>
    </div>

    <div class="header-middle logo">
     <?php if ( ! empty($title)):?>
      <h1><?php echo $title; ?></h1>
    <?php endif?>
    <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>"><img src="<?php echo $this->getSkinUrl('images/logo.svg') ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
  </div>

</header>
</div>
<?php echo $this->getChildHtml('topMenu') ?>

<script type="text/javascript">
  $j(document).ready(function($) {
    var threshold = $('header').offset().top;
    $(window).scroll(function() {
      var scroll = $(window).scrollTop();
      if (scroll > threshold) {
        $('header').addClass('fixed');
      } else {
        $('header').removeClass('fixed');
      }
    })
  });
</script>
