<?php
$_menuTree = $menuTree;

$_children = $_menuTree->getChildren();
$_parentLevel = $_menuTree->getLevel();
$_childLevel = is_null($_parentLevel) ? 0 : $_parentLevel + 1;

$_counter = 1;
$_childrenCount = $_children->count();

$_parentPositionClass = $_menuTree->getPositionClass();
$_itemPositionClassPrefix = $_parentPositionClass ? $_parentPositionClass . '-' : 'nav-';
?>

<?php if ($_menuTree->getCategoryId() == Mage::getStoreConfig('nose/categories/brands')) : ?>
    <li>
        <a href="<?php echo $_menuTree->getUrl(); ?>"><span><?php echo $this->__('A - Z'); ?></span></a>
    </li>
<?php endif; ?>

<?php
foreach ($_children as $_child) :
    $_child->setLevel($_childLevel);
    $_child->setIsFirst($counter == 1);
    $_child->setIsLast($_counter == $_childrenCount);
    $_child->setPositionClass($_itemPositionClassPrefix . $_counter);
    $_child->setCategoryId(array_pop(explode('-', $_child->getId())));

    $_outermostClassCode = '';
    $_outermostClass = $_menuTree->getOutermostClass();

    if ($_childLevel == 0 && $_outermostClass) {
        $_outermostClassCode = ' class="' . $_outermostClass . '" ';
        $_child->setClass($_outermostClass);
    }
?>
    <li <?php echo $this->_getRenderedMenuItemAttributes($_child); ?>>
        <a href="<?php echo $_child->getUrl(); ?>" <?php echo $_outermostClassCode; ?>><span><?php echo $this->escapeHtml($_child->getName()); ?></span></a>
        <?php if ($_child->hasChildren()) : ?>
            <?php if (!empty($_childrenWrapClass)) : ?>
            <div class="<?php echo $_childrenWrapClass; ?>">
            <?php endif; ?>
                <ul class="level<?php echo $_childLevel; ?>">
                    <?php echo $this->render($_child, $_childrenWrapClass); ?>
                </ul>
            <?php if (!empty($_childrenWrapClass)) : ?>
            </div>
            <?php endif; ?>
        <?php endif; ?>
    </li>
<?php
    $counter++;
endforeach;