<div id="searchContainer" class="search-container">
  <div class="search-close close-search"></div>
  <div class="search-bar">
    <input type="text" name="search" id="searchField" class="search-input" placeholder="<?php echo $this->__('Search anything by typing'); ?>">
  </div>
  <div class="search-results">
    <ul id="searchResultsList" class="no-result">
      <li class="text first"><?php echo $this->__('What are you looking for?'); ?></li>
    </ul>
  </div>
</div>