<?php
/**
 * Partikule
 *
 * @modified  2011.10.6
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author    2011 Partikule (http://www.partikule.net)
 *
 */
?>
<?php
/**
 * Top menu for store
 *
 * @see Partikule_Ionize_Block_Navigation
 *
 *
 * $this->renderNavigationMenuHtml() supports optional arguments:
 * int    Ionize ID Menu : Menu from which get the pages
 * int    Starting level. 0 by default. Not implemented yet.
 * int    Max level.
 *
 */
?>
<?php $_menu = $this->getHtml('level-top') ?>

<?php if($_menu): ?>

    <div class="nav-container">

        <div id="nav">
            <div class="nav-title">Menu</div>
            <div id="navClose" class="nav-close"></div>

            <ul class="nav-list">
                <?php echo $_menu ?>
                <li class="level0 nav-1 level-top" id="my-account-link">
                    <a href="<?php echo $this->getUrl('customer/account/edit'); ?>" class="level-top"><span><?php echo $this->__('My Account'); ?></span></a>
                </li>
                <script type="text/javascript">
                    (function($) {
                        // TODO : ajuster en fonction du menu voulu
                        $('#my-account-link').insertBefore($('#my-account-link').prev());
                    })(jQuery);
                </script>
            </ul>

            <form class="newsletter-form" action="<?php echo $this->getUrl('advancednewsletter/index/subscribe'); ?>" method="post">
                <input name="email" id="email_an" type="text" placeholder="<?php echo $this->__('Join the Nose newsletter'); ?>">
                <input type="submit" value="Join">
            </form>
        </div>

        <div id="navOverlay" class="nav-overlay"></div>

    </div>

<?php endif ?>
