<?php
/**
 * Partikule
 *
 * @modified	2012.05.26
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2012 Partikule (http://www.partikule.net)
 *
 */

/**
 * Article container
 *
 * @see Partikule_Ionize_Block_Articles
 *
 */

$page = $this->getPage();

// Try to get the URL refering article
$articles = $this->getArticles();

$page = Mage::helper('ionize/page')->getPage();

?>


<div class="span-4 col-left">

	<?php echo $this->getChildHtml('subnavigation'); ?>

</div>

<div class="span-14">

	<?php if ($page->getSubtitle()) : ?>
		<div class="page-title">
		    <h2><?php echo $page->getSubtitle(); ?></h2>
		</div>
	<?php endif; ?>
	
	
	<?php foreach($articles as $article) :?>
		
		<?php
		
		// Lazely done for Partikule_Ionize_Block_Catalog_Product_List_Article
		// Mage::register('article', $article);
		
		?>
		<div id="article" style="margin-right:auto;margin-left:auto;" class="article mb20 popup" data-id="<?php echo $article->getId() ;?>">
			
			<?php if ($article->getTitle()) : ?>
				<h3 class="title"><?php echo $article->getTitle(); ?></h3>
			<?php endif; ?>
			
			<div class="article-content">
				<?php echo($article->getContent()) ;?>
			</div>
	
		   	<?php echo $this->getChildHtml('article_products') ?>
	
		</div>
	
	<?php endforeach ;?>

</div>
