<?php
/**
 * Partikule
 *
 * @modified	2011.12.11
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Product list template
 * Products linked to one Creator's page
 *
 * @see Partikule_Ionize_Catalog_Product_List_Page
 *
 */
?>

<?php 

// $productCollection = $this->getPageProductCollection();
// Product by Categories array
$productCollection = $this->getPageCategoryProductCollection();

$numRows = 1;
$itemsPerPage = 5;
$_iterator = 0;

?>


<?php if( ! empty($productCollection)): ?>

<div class="col-main">


	<?php 
	/*
	 * Categories Menu
	 *
	 *
	 */
	?>

	<div class="subnav-container center">
		<ul id="page-nav" class="subnav">
			<?php foreach($productCollection as $category) :?>
				<li <?php if ( $_iterator == 0 ) :?>class="active first"<?php endif ;?>><a><span><?php echo $category['name'] ?></span></a></li>
				<?php $_iterator++ ;?>
			<?php endforeach ;?>
		</ul>
	</div>

	<div class="clearfix"></div>


	<div id="page-panels">
	
		<?php foreach($productCollection as $category_id => $category) :?>
		
			<?php
				$carousel_id = 'carousel' . $category_id;
				$_products_to_display = ( ! empty($category['products'])) ? $category['products'] : FALSE;
			?>
			<?php if ($_products_to_display) :?>
			<div class="panelContent center">
				<div id="<?php echo $carousel_id ; ?>" class="article item_carousel loading rows<?php echo $numRows ;?>">
					
					 <ul class="rows<?php echo $numRows ;?> without-mask">
					
						<?php foreach($_products_to_display as $_product): ?>
		
						<?php
						$_url = 			Mage::getBaseUrl().$_product->getCategoryUrl().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_product),"/");
						$_name = 			$this->htmlEscape($_product->getName());
						$_name_by_brand = 	($_product->getCategoryName()) ? $_name . ' ' . $this->__('by') . ' ' . $_product->getCategoryName() : $_name;
						// $_sex = 			Mage::helper('attribute/Attribute')->getOptionBackendValue('sex', $_product->getSex());
						$_sex = FALSE;
						$cheapest = 		Mage::helper('boutique/Product')->getCheapestSimple($_product);
						
						?>
						<li class="item link">
							<div class="product">
								<?php if($_sex) :?>
									<span class="icon24 sex sex_<?php echo $_sex; ?>"></span>
								<?php endif ;?>
								<a href="<?php echo $_url ?>" title="<?php echo $_name_by_brand ?>" class="picture"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(160) ?>" width="160" height="160" alt="<?php echo $_name ?>" /></a>
		
								<div class="details mt15">
								
									<span class="uppercase"><strong><?php echo $_product->getCategoryName() ?></strong></span><br />
									<strong><?php echo $_name ?></strong>
									
									<?php if ( ! is_null($cheapest) ) :?>
										<br/><span class="product-type"><?php echo $cheapest->getAttributeText('LIGHTSPEED_PRODUCT_COLOR') ;?></span><br />
										<?php echo $this->getPriceHtml($cheapest, true) ;?>
									<?php endif ;?>
									
									<?php // echo $this->getPriceHtml($_item, true, '-related') ?>
									<?php // echo $this->getPriceHtml($_item, true, '-related') ?>
									<?php // echo($_item->getPrice()); ?>
									
								</div>
							</div>
						</li>
						<?php endforeach ?>
					</ul>
					<div class="clearfix"></div>
				</div>
				<script type="text/javascript">
				
					jQuery(document).ready(function()
					{
						// brand product carousel
						if(jQuery('#<?php echo $carousel_id ; ?>').length > 0)
						{
							$j('#<?php echo $carousel_id ; ?>').carousel({
								itemsPerPage: <?php echo $itemsPerPage ;?>,
								itemsPerTransition: <?php echo $itemsPerPage ;?>,
								noOfRows: <?php echo $numRows ;?>,
								pagination: false,
								speed: 500,
								nextText:'<?php echo($this->__('Next Products')) ;?>',
								prevText:'<?php echo($this->__('Prev Products')) ;?>'
							});
							$j('#<?php echo $carousel_id ; ?> li').click(function(event)
							{
								a = $j('a:first', this).attr('href');
								if (a)
								{
									window.location.href = a;
								}
							});
						}
					});
				
				</script>
			</div>
			<?php endif; ?>
		<?php endforeach ;?>
	
	</div>
	<script type="text/javascript">
		jQuery(document).ready(function()
		{
			var homePanels = new NosePanels({
				'nav' : 'page-nav',
				'panels' : 'page-panels'
			});
		});
	</script>
	

</div>


<?php endif; ?>

