<?php
/**
 * Partikule
 *
 * @modified	2011.12.11
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Product list template
 * Products linked to one Creator's page
 *
 * @see Partikule_Ionize_Catalog_Product_List_Page
 *
 */
?>

<?php 

// $productCollection = $this->getPageProductCollection();
$productCollection = $this->getPageCategoryProductCollection();

$numRows = 1;
$itemsPerPage = 6;

?>


<?php if( $productCollection->count() > 0): ?>

<div class="col-main">

	<div id="home_carousel" class="home item_carousel rows<?php echo $numRows ;?>">
		
		<?php $_iterator = 0; ?>
		
    	<ul class="rows<?php echo $numRows ;?>">
		
			<?php foreach($productCollection as $_product): ?>

			<?php 
			
			$_url = Mage::getBaseUrl().$_product->getCategory_url().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_product),"/");

			$_name = $this->htmlEscape($_product->getName());
			$_brand = $_product->getNose_brand();
			$_name_by_brand = ($_brand) ? $_name . ' ' . $this->__('by') . ' ' . $_brand : $_name;
			$_by_brand = ($_brand) ? $this->__('by') . ' ' . $_brand : '';

			// 1. The Sex set by eNose. 
			// 2. Sex set through Magento
			$_sex = ($_product->getNose_sex()) ? $_product->getNose_sex() : $_product->getSex();

			// Cheapest first simple child
			$cheapest = $this->getCheapestSimple($_product);
			
			?>
				<li class="item link">
					<div class="product">
						<a href="<?php echo $_url ?>" title="<?php echo $_name_by_brand ?>" class="image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(150) ?>" width="150" height="150" alt="<?php echo $_name ?>" /></a>

						<div class="details mt15">
						
							<span class="uppercase"><strong><?php echo $_product->getNose_brand() ?></strong></span><br />
							<strong><?php echo $_name ?></strong>
							<?php if ( ! is_null($cheapest) ) :?>
								<br/><span class="product-type"><?php echo $cheapest->getAttributeText('LIGHTSPEED_PRODUCT_COLOR') ;?></span><br />
							<?php endif ;?>
							
							<?php echo $this->getPriceHtml($_product, true) ;?>

							<?php if ( ! is_null($cheapest) ) :?>
								<span class="product-type"><?php echo $cheapest->getAttributeText('LIGHTSPEED_PRODUCT_COLOR') ;?></span>
							<?php endif ;?>
							
						</div>
					</div>
				</li>
			<?php endforeach ?>
		</ul>
		<div class="clearfix"></div>
	</div>
</div>

<div class="clearfix"></div>


<script type="text/javascript">

	jQuery(document).ready(function()
	{
		// brand product carousel
		if(jQuery('#home_carousel').length > 0)
		{
			$j('#home_carousel').carousel({
				itemsPerPage: <?php echo $itemsPerPage ;?>,
				itemsPerTransition: <?php echo $itemsPerPage ;?>,
				noOfRows: <?php echo $numRows ;?>,
				pagination: false,
				speed: 500,
				nextText:'<?php echo($this->__('Next Products')) ;?>',
				prevText:'<?php echo($this->__('Prev Products')) ;?>'
			});
		}
	});

</script>

<?php endif; ?>

