<!--@subject Vous y pensez encore ? @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Logo de l'email",
@-->

{{inlinecss file="email.css"}}

<body>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" class="main-cell">
            <!-- [ header starts here] -->
            <table cellspacing="0" cellpadding="10" border="0" width="650" class="main-table">
                <tr>
                    <td valign="top">
                        <p class="subtitle">
                            <strong>Votre produit {{var product.getName()}} vous attend</strong><br/>
                            Pour être sûr(e) de recevoir nos offres, nous vous conseillons d'ajouter notre email {{config path='trans_email/ident_general/email'}} à votre carnet d'adresses
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p class="black-title">
                            Livraison et 3 échantillons offerts dès 80 euros d’achat*
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <a href="{{store url=""}}">
                            <img class="logo" src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/>
                        </a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <p class="title">
                            VOUS Y PENSEZ ENCORE ?
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        {{if customer.getIsFemale()}}
                        <p>Chère {{htmlescape var=$customer.getFirstname()}},</p>
                        <p>Vous êtes venue sur le site Nose.fr et certains de nos produits semblent avoir retenu votre attention.</p>
                        {{else}}
                        <p>Cher {{htmlescape var=$customer.getFirstname()}},</p>
                        <p>Vous êtes venu sur le site Nose.fr et certains de nos produits semblent avoir retenu votre attention.</p>
                        {{/if}}
                        <p>Vous y pensez encore ? En voici la synthèse ci-dessous :</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        {{layout handle="abandonedcart_email_recentlyviewed" products=$products customer=$customer quote=$quote}}
                    </td>
                </tr>
                {{layout handle="abandonedcart_email_new_products" products=$products customer=$customer}}
            </table>
            {{template config_path="nose/abandonedcart/footer_email"}}
        </td>
    </tr>
</table>
</body>