<!--@subject Vous avez eu un souci avec votre commande ? @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Logo de l'email",
@-->

{{inlinecss file="email.css"}}

<body>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" class="main-cell">
            <!-- [ header starts here] -->
            <table cellspacing="0" cellpadding="10" border="0" width="650" class="main-table">
                <tr>
                    <td valign="top">
                        <p class="subtitle">
                            <strong>Voici le récapitulatif de votre panier</strong><br/>
                            Pour être sûr(e) de recevoir nos offres, nous vous conseillons d'ajouter notre email {{config path='trans_email/ident_general/email'}} à votre carnet d'adresses
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p class="black-title">
                            Livraison et 3 échantillons offerts dès 80 euros d’achat*
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <a href="{{store url=""}}">
                            <img class="logo" src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/>
                        </a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <p class="title">
                            UN SOUCI AVEC VOTRE COMMANDE ?
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        {{if customer.getIsFemale()}}
                        <p>Chère {{htmlescape var=$customer.getFirstname()}},</p>
                        {{else}}
                        <p>Cher {{htmlescape var=$customer.getFirstname()}},</p>
                        {{/if}}
                        <p>Vous avez ajouté le(s) produit(s) suivant(s) et avez eu un souci ?</p>
                        <p>Vous pouvez nous appeler du lundi au samedi de 10h30 à 19h30 ({{config path='general/store_information/phone'}}) ou tout simplement nous écrire un email à <a href="mailto:{{config path='trans_email/ident_custom1/email'}}">{{config path='trans_email/ident_custom1/email'}}</a>.</p>
                        <p>Autrement, voici votre panier tel que vous l’avez laissé pour passer commande dès maintenant :</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        {{layout handle="abandonedcart_email_products" products=$products customer=$customer quote=$quote}}
                    </td>
                </tr>
                {{layout handle="abandonedcart_email_related_products" products=$products}}
                {{layout handle="abandonedcart_email_liked_products" products=$products}}
            </table>
            {{template config_path="nose/abandonedcart/footer_email"}}
        </td>
    </tr>
</table>
</body>