<!--@subject Bienvenue, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Logo de l'email",
"htmlescape var=$customer.name":"Nom du client",
"store url=\"customer/account/\"":"Url du compte client",
"var customer.email":"Email du client",
"htmlescape var=$customer.password":"Mot de passe du client"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 22px 0;">Cher {{htmlescape var=$customer.name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Bienvenue sur la boutique {{var store.getFrontendName()}}. Pour vous connecter lors de vos visites sur notre boutique, cliquez sur <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Connexion</a> ou <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Mon compte</a>en haut de toutes les pages, puis saisissez votre email et votre mot de passe.</p>
                            <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
                                Utilisez les données suivantes dans l'écran de connexion :<br/>
                                <strong>E-mail</strong>: {{var customer.email}}<br/>
                                <strong>Mot de passe</strong>: {{htmlescape var=$customer.password}}<p>
                        <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">En vous connectant à votre compte, vous pourrez :</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                            <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Passer vos commandes plus rapidement</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Suivre l'évolution de vos commandes</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Consulter vos anciennes commandes</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Modifier les informations de votre compte</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Modifier votre mot de passe</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Enregistrer plusieurs adresses (afin de faire livrer vos cadeaux à vos proches et vos amis !)</li>
                            </ul>
                            <p style="font-size:12px; line-height:16px; margin:0;">Si vous avez des questions au sujet de votre compte ou à tout autre sujet, n'hésitez pas à nous contacter à <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> ou par téléphone au {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding-top:20px;">
                          <p style="font-size:12px; margin:0;">Toute l'équipe de <strong>{{var store.getFrontendName()}}</strong> vous remercie.</p></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>