<!--@subject Nouveau mot de passe pour {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Logo de l'email",
"htmlescape var=$user.name":"Nom de l'administrateur",
"htmlescape var=$password":"Mot de passe de l'administrateur",
"store url=\"adminhtml/system_account/\"":"Url du compte de l'administrateur"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->


<body style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650">
                <tr>
                    <td valign="top">
                        <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/></a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 22px 0;">Cher {{htmlescape var=$user.name}},</h1>
                        <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;"><strong>Votre nouveau mot de passe est:</strong> {{htmlescape var=$password}}</p>
                        <p style="font-size:12px; line-height:16px; margin:0;">Vous pourrez changer votre mot de passe à tout moment en vous connectant à <a href="{{store url="adminhtml/system_account/"}}" style="color:#1E7EC8;">votre compte</a>.<p>
                  </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="padding-top:20px;">
                      <p style="font-size:12px; margin:0;">Toute l'équipe de <strong>{{var store.getFrontendName()}}</strong> vous remercie.</p></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>
</body>