<!--@subject Newsletter subscription success @-->
<body style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650">
                <tr>
                    <td valign="top">
                        <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/></a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 22px 0;">Nous vous remercions pour votre inscription à notre newsletter.</h1>
                        <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#F9F9F9;"><p>
						<p style="font-size:10px; line-height:16px; margin:0 0 20px 0;">
							Pour vous désinscrire, cliquez sur le lien suivant : <br/>
							<a href="{{var subscriber.getUnsubscriptionLink()}}" style="color:#1E7EC8;">{{var subscriber.getUnsubscriptionLink()}}</a>
						</p>
                  </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="padding-top:20px;">
                      <p style="font-size:12px; margin:0;">Toute l'équipe de <strong>{{var store.getFrontendName()}}</strong> vous remercie.</p></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>
</body>
