<!--@subject Une Giftcard {{var store.getFrontendName()}} pour vous !@-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; color:#2f2f2f;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650">
            <!-- [ header starts here] -->
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Bonjour{{depend data.email-to}}, {{var data.email-to}}{{/depend}}!</h1>
                    <p style="font-size:12px; line-height:16px; margin:0;">Vous avez reçu une Gift Card d'un valeur de {{var data.amount}} {{depend data.email-from}} de {{var data.email-from}}{{/depend}} !<br/>
                        Cette Gift Card est à utiliser sur le site <a href="{{store url=""}}">{{var store.getFrontendName()}}</a> ou à notre boutique Nose, 20 rue Bachaumont, Paris.</p>
				</td>
            </tr>
			<tr>
				<td align="center" style="text-align: center;">
					<center><img src="{{var data.picture}}" /></center>
				</td>
			</tr>
			<tr>
				<td style="font-size:20px; line-height:30px; margin:0;">
                    Détails de votre carte :<br />
                    {{depend data.email-to}}A : {{var data.email-to}}<br />{{/depend}}
                    {{depend data.email-from}}De la part de : {{var data.email-from}}<br />{{/depend}}
                    {{depend data.email-message}}Message : {{var data.email-message}}<br />{{/depend}}
					Valeur de la Gift Card : {{var data.amount}}<br />
					Code : {{var data.code}}<br />
				</td>
			</tr>
            <tr>
                <td bgcolor="#EAEAEA" align="left" style="background:#EAEAEA; text-align:left;">
					<p style="font-size:12px; margin:0;line-height:20px;">Pour utiliser votre Gift Card :
						<ol style="font-size:12px; margin:0;line-height:20px;">
							<li>Crééz un compte et connectez-vous sur <a href="{{store url=""}}">{{store url=""}}</a>.</li>
							<li>Utilisez votre Giftcard au niveau de votre panier avant de procéder au paiement.</li>
						</ol>
					</p>
				</td>
            </tr>
			<tr>
				<td bgcolor="#EAEAEA" align="left" style="background:#EAEAEA; text-align:left;">
					<p style="font-size:12px; margin:0;">Pour toute précision, n'hésitez pas à nous contacter : <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>{{depend data.store-phone}} ou appelez-nous au : <span class="nobr">{{var data.store-phone}}</span>.{{/depend}}</p>
				</td>
			</tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>