<!--@subject Votre résultat de diagnostic Nose @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"htmlescape var=$user_name":"Nom du client",
"var diagnostic_url":"Url to the diagnostic",
"var items":"Diagnostic Items"}

@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
a.button {
	background-color: #000;
	color: #fff;
	padding: 6px 20px 4px;
	margin:0 4px 6px 4px;
	text-decoration: none;
	display:block;
	text-align:center;
}
a.button.yellow {
	background-color: #ffc000;
	color:#000000;
}
@-->


<body style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
	<tr>
		<td align="center" valign="top" style="padding:20px 0 20px 0">
			<!-- [ header starts here] -->
			<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650">
				<tr>
					<td valign="top">
						<a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"	 style="margin-bottom:10px;" border="0"/></a></td>
					</td>
				</tr>
				<!-- [ middle starts here] -->
				<tr>
					<td valign="top">
						<h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 40px 0;">Bonjour {{htmlescape var=$user_name}},</h1>
						
						<p style="font-size:12px; line-height:16px; margin:0 0 20px 0;">
							Vous venez de faire ou de mettre à jour votre diagnostic.
							<br/>
							Voici vos recommandations Nose.
						</p>
						<p style="font-size:12px; line-height:16px; margin:0 0 20px 0;">Vous pouvez également <a href="{{var diagnostic_url}}">consulter votre diagnostic en ligne</a>.</p>

                        {{var items}}
				  </td>
				</tr>
				<tr>
					<td bgcolor="#ffffff" style="padding-top:20px;">
						<p style="font-size:12px; margin:0;">Toute l'équipe de <strong>{{var store.getFrontendName()}}</strong> vous remercie.</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>
</body>