<!--@subject Résumé de votre commande @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"htmlescape var=$user_name":"Nom du client",
"var order_id":"Id commande"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
a.button {
	background-color: #000;
	color: #fff;
	padding: 6px 20px 4px;
	margin:0 4px 6px 4px;
	text-decoration: none;
	display:block;
	text-align:center;
}
a.button.yellow {
	background-color: #ffc000;
	color:#000000;
}
@-->


<body style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
	<tr>
		<td align="center" valign="top" style="padding:20px 0 20px 0">
			<!-- [ header starts here] -->
			<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650">
				<tr>
					<td valign="top" style="padding-top:0;padding-bottom:0;margin:0;">
						<a href="{{store url=''}}"><img src="{{skin url='images/logo_email.gif' _area='frontend'}}" alt="{{var store.getFrontendName()}}" style="margin-bottom:10px;" border="0"/></a>
                        <br/>
                        20 rue Bachaumont 75002 Paris<br/>
                        <a href="{{store url=''}}">www.nose.fr</a>
                    </td>
				</tr>
				<!-- [ middle starts here] -->
				<tr>
					<td valign="top">
						<h1 style="font-size:14px; font-weight:bold; line-height:22px; margin:10px 0 20px 0;">
                            {{var user_prefix}} {{htmlescape var=$order.getCustomerName()}},
                        </h1>
						
						<p style="margin:0 0 20px 0;">
                            Merci d'avoir passé commande sur <a href="{{store url=''}}">nose.fr</a>.<br/>
                            Veuillez trouver ci-joint votre résumé de commande.
						</p>

                        <!-- Tracking info -->
                        {{block type='mynose/email_tracking' area='frontend' template='mynose/diagnose/email/tracking.phtml' order=$order}}

                        <!-- Evaluation -->
                        {{block type='core/template' area='frontend' template='mynose/diagnose/email/evaluation.phtml'}}

                        <!-- Coupon -->
                        {{block type='mynose/email_coupon' area='frontend' template='mynose/diagnose/email/coupon.phtml' order=$order}}

                        <!-- Free shipping -->
                        {{block type='core/template' area='frontend' template='mynose/diagnose/email/free_shipping.phtml'}}

                        <!-- Diagnostic -->
                        {{block type='mynose/email_diagnostic' area='frontend' template='mynose/diagnose/email/diagnostic_order.phtml' order=$order}}

                        <!-- Shipment -->
                        <h2 style="border-bottom:solid 1px #000;text-transform:uppercase;text-align:center;font-size:12px;margin-bottom:15px;margin-top:20px;">
                            Confirmation d'expédition
                        </h2>
                        <p>Numéro de commande : <strong>{{var order.increment_id}}</strong></p>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <thead>
                            <tr>
                                <th align="left" width="325" style="font-size:12px; padding:5px 9px 3px 0; line-height:1em;">Information Livraison:</th>
                                <th width="10"></th>
                                <th align="left" width="325" style="font-size:12px; padding:5px 9px 3px 0; line-height:1em;">Mode de Livraison:</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td valign="top" style=" padding:7px 9px 9px 9px;">
                                    {{var order.shipping_address.format('html')}}
                                    &nbsp;
                                </td>
                                <td>&nbsp;</td>
                                <td valign="top" style="padding:7px 9px 9px 9px;">
                                    {{var order.shipping_description}}
                                    &nbsp;
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br/>
                        {{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}
                        <br/>
                        {{block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order}}



                    </td>
				</tr>
				<tr>
					<td bgcolor="#ffffff" style="padding-top:20px;">
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>
</body>
