<!--@subject {{var invited_name}} a accepté votre invitation ! @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"htmlescape var=$invited_name":"Nom complet de l'invité",
"htmlescape var=$sender_name":"Nom complet de l'expéditeur",
"var sender_id_user":"ID User 1",
"var invited_id_user":"ID User 2",
"var invited_email":"Email invité",
"var hash":"Hash",
"store url=\"mynose/contact/\"":"Url d'acceptation de l'invitation"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
	<tr>
		<td align="center" valign="top" style="padding:20px 0 20px 0">
			<!-- [ header starts here] -->
			<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650">
				<tr>
					<td valign="top">
						<a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"	 style="margin-bottom:10px;" border="0"/></a></td>
					</td>
				</tr>
				<!-- [ middle starts here] -->
				<tr>
					<td valign="top">
						<h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 40px 0;">Cher {{htmlescape var=$sender_name}},</h1>
						<p style="font-size:12px; line-height:16px; margin:0 0 20px 0;"><strong>{{htmlescape var=$invited_name}} </strong> a accepté votre invitation.</p>
						<p style="font-size:12px; line-height:16px; margin:0 0 20px 0;">Dès qu'il aura réalisé son diagnostic, vous pourrez le consulter en ligne, et pourquoi pas, lui faire un cadeau !</p>
						<p style="font-size:12px; line-height:16px; margin:0 0 20px 0;">Rendez-vous sur : <a href="{{var contactBookUrl}}" style="color:#1E7EC8;">{{var contactBookUrl}}</a> pour consulter son diagnostic.</p>
				  </td>
				</tr>
				<tr>
					<td bgcolor="#ffffff" style="padding-top:20px;">
					<p style="font-size:12px; margin:0;">Toute l'équipe de <strong>{{var store.getFrontendName()}}</strong> vous remercie.</p></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>
</body>




