<!--@subject Coupon de réduction sur Nose ! @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"var=$nb_samples":"Nombre d'échantillons achetés",
"var=$coupon_code":"Code coupon",
"var=$coupon_value":"Valeur coupon",
"htmlescape var=$customer_name":"Nom du client",

"store url=\"customer/account/\"":"Url du compte client"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
	<tr>
		<td align="center" valign="top" style="padding:20px 0 20px 0">
			<!-- [ header starts here] -->
			<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650">
				<tr>
					<td valign="top">
						<a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"	 style="margin-bottom:10px;" border="0"/></a></td>
					</td>
				</tr>
				<!-- [ middle starts here] -->
				<tr>
					<td valign="top">
						<h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 40px 0;">Cher {{htmlescape var=$customer_name}},</h1>
						<p style="font-size:12px; line-height:16px; margin:0 0 20px 0;">Vous avez acheté <strong>{{var nb_samples}}</strong> échantillons sur le site de Nose.</p>
						<p style="font-size:12px; line-height:16px; margin:0 0 20px 0;">Pour vous remercier, nous vous offrons un coupon de réduction d'une valeur de <strong>{{var coupon_value}} euros</strong>, valable sur votre prochain achat de parfum ou produit maison *.</p>
						<p style="font-size:12px; line-height:16px; margin:0 0 20px 0;">Code Coupon : <strong>{{var coupon_code}}</strong></p>
						
						<p style="font-size:10px; line-height:16px; margin:10px 0 20px 0;">* hors échantillons.</p>
						
				  </td>
				</tr>
				<tr>
					<td bgcolor="#ffffff" style="padding-top:20px;">
					<p style="font-size:12px; margin:0;">Toute l'équipe de <strong>{{var store.getFrontendName()}}</strong> vous remercie.</p></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>
</body>


