<!--@subject Votre produit {{htmlescape var=$product.getName()}} est arrivé chez Nose ! @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Logo de l'email",
@-->

{{inlinecss file="email.css"}}

<body>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" class="main-cell">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" class="main-table">
                <tr>
                    <td valign="top">
                        <p class="subtitle">
                            <strong>Clôture de votre demande de notification</strong><br/>
                            Pour être sûr(e) de recevoir nos offres, nous vous conseillons d'ajouter notre email {{config path='trans_email/ident_general/email'}} à votre carnet d'adresses
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p class="black-title">
                            Livraison et 3 échantillons offerts dès 80 euros d’achat*
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <a href="{{store url=""}}">
                        <img class="logo" src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/>
                        </a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <p class="title">
                            VOTRE PRODUIT EST MAINTENANT DE RETOUR EN INVENTAIRE !
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p>{{layout handle="outofstocknotify_email_customer" customer=$customer}}</p>
                        <p>Vous aviez demandé à être notifié lorsque nous réceptionnerions votre produit. Ce dernier est maintenant arrivé et vous pouvez le commander dès à présent.</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        {{layout handle="outofstocknotify_email_product" product=$product customer=$customer addtocart=1}}
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p>Vous avez une question ? Vous pouvez nous appeler du lundi au samedi de 10h30 à 19h30 ({{config path='general/store_information/phone'}}) ou tout simplement nous écrire un email à <a href="mailto:{{config path='trans_email/ident_custom1/email'}}">{{config path='trans_email/ident_custom1/email'}}</a>.</p>
                        <p>Merci de votre visite sur Nose.fr !</p>
                        <p>L’équipe Nose</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>