<!--@subject Votre produit {{htmlescape var=$product.getName()}} est en rupture @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Logo de l'email",
@-->

{{inlinecss file="email.css"}}

<body>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" class="main-cell">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" class="main-table">
                <tr>
                    <td valign="top">
                        <p class="subtitle">
                            <strong>Votre demande de notification a bien été enregistrée</strong><br/>
                            Pour être sûr(e) de recevoir nos offres, nous vous conseillons d'ajouter notre email {{config path='trans_email/ident_general/email'}} à votre carnet d'adresses
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p class="black-title">
                            Livraison et 3 échantillons offerts dès 80 euros d’achat*
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <a href="{{store url=""}}">
                        <img class="logo" src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/>
                        </a>
                    </td>
                </tr>
            <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <p class="title">
                            CONFIRMATION DE NOTIFICATION RUPTURE PRODUIT
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p>{{layout handle="outofstocknotify_email_customer" customer=$customer}}</p>
                        <p>Vous avez demandé à être notifié par email dès que nous recevrons en inventaire le produit suivant.</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        {{layout handle="outofstocknotify_email_product" product=$product customer=$customer}}
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p>Une personne de l’équipe Nose entrera en contact avec vous dans les 24H (ou prochain jour ouvré) pour vous confirmer une date de disponibilité de ce produit.</p>
                        <p>Merci de votre visite sur Nose.fr !</p>
                        <p>L'équipe Nose</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>