<!--@subject Venez voir la liste d'envies de {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Logo de l'email",
"var message":"Message de la liste d'envies",
"var items":"Articles de la liste d'envies"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#ffffff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650">
                <tr>
                    <td valign="top">
                        <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/></a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Bonjour,<br/>Viens voir ma liste d'envies sur la boutique {{var store.getFrontendName()}}.</p>
                        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">{{var message}}</p>
                        {{var items}}
                        <br/>
                        {{depend salable}}<p style="font-size:12px; line-height:16px; margin:0 0 8px 0;"><strong><a href="{{var addAllLink}}" style="color:#1E7EC8;">Ajouter tous les articles au panier</a></strong> |{{/depend}} <strong><a href="{{var viewOnSiteLink}}" style="color:#1E7EC8;">Voir tous les articles de la liste d'envies</a></strong></p>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="padding-top:20px;"><center>
                      <p style="font-size:12px; margin:0;">Merci, <strong>{{htmlescape var=$customer.name}}</strong></p></center></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>
</body>