<?php
/**
 *
 */
?>
<?php

// Array of contacts who have at least one address.
// Used to send to contact
$contacts = Mage::helper('mynose/contact')->getContactsWithAddress();
$contacts_json = addslashes(json_encode($contacts));

// Mage::log($contacts, null, 'partikule.log');


?>
<form id="co-billing-form" action="">
<fieldset>

	
	<?php
	/*
	 * Create an account
	 *
	 */
	?>
	<?php if( ! $this->isCustomerLoggedIn()): ?>
	
		<h3 class="title center mb15"><?php echo $this->__('Create an Account'); ?></h3>
		
		<div class="span-12 prepend-4 mb20">
		
			<ul class="form-list">
		
				<?php 
				/*
				 * Email
				 *
				 */
				?>
				 <li class="fields">
					 <div class="field">
						 <label for="billing:email" class="required left w140"><em>*</em><?php echo $this->__('Email Address') ?></label>
						 <div class="input-box left ">
							 <input type="text" name="billing[email]" id="billing:email" value="<?php echo $this->htmlEscape($this->getAddress()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" />
						 </div>
					 </div>
				 </li>
			
				<?php 
				/*
				 * DOB / Gender
				 *
				 */
				?>
				<?php 
				/*
				<?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
				<?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
				  <?php if ($_dob->isEnabled() || $_gender->isEnabled()): ?>
					  <li class="fields">
					  <?php if ($_dob->isEnabled()): ?>
						  <div class="field">
							  <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
						  </div>
					  <?php endif; ?>
					  <?php if ($_gender->isEnabled()): ?>
						  <div class="field">
							  <?php echo $_gender->setGender($this->getQuote()->getCustomerGender())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
						  </div>
					  <?php endif ?>
					  </li>
				  <?php endif ?>
				*/
				?>
				
				<?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
			
				  <?php if ($_taxvat->isEnabled()): ?>
						  <li>
							  <?php echo $_taxvat->setTaxvat($this->getQuote()->getCustomerTaxvat())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
						  </li>
				  <?php endif ?>
			
				  <li class="fields" id="register-customer-password">
					  <div class="field">
						  <label for="billing:customer_password" class="required left w140"><em>*</em><?php echo $this->__('Password') ?></label>
						  <div class="input-box left">
							  <input type="password" name="billing[customer_password]" id="billing:customer_password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password" />
						  </div>
					  </div>
					  <div class="field">
						  <label for="billing:confirm_password" class="required left w140"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
						  <div class="input-box left">
							  <input type="password" name="billing[confirm_password]" title="<?php echo $this->__('Confirm Password') ?>" id="billing:confirm_password" class="input-text required-entry validate-cpassword" />
						  </div>
					  </div>
				  </li>
			</ul>	
		</div>
	<?php endif; ?>
	

	<?php 
	/*
	 * Gift
	 *
	 */
	?>
	<h3 class="title center"><?php echo $this->__('Gift'); ?></h3>
	<div class="col2-set">
	
		<div class="col-1">
	
			<ul class="form-list">
				<li class="control">
					<div class="field">
						<label class="left"><?php echo $this->__('Is this a gift ?') ?></label>
						<div class="input-box left">
							<div class="h20 left mr5">
								<input type="radio" name="shipping[gift]" id="shipping:giftno" value="0" checked="checked" title="<?php echo $this->__('No') ?>" onclick="gift.hideDetails();" class="radio" /><label for="shipping:giftno" class="pr20"><?php echo $this->__('No') ?></label>
							</div>
							<div class="h20 left">
								<input type="radio" name="shipping[gift]" id="shipping:giftyes" value="1" title="<?php echo $this->__('Yes') ?>" onclick="gift.showDetails();" class="radio" /><label for="shipping:giftyes" class="pr20"><?php echo $this->__('Yes') ?></label>
							</div>
						</div>
					</div>
				</li>
				
				
				<?php
				/*
				 * From Module Amesty->OrderAttributes
				 *
				 * $result = Mage::getModel('make/me/crazy)->tryToUnderstandSpagghettiCore()->doesntReturnWhatExpected()->buyAFuckingModule()->reWriteItBecauseItDoesntFit()->ohYeah();
				 * if ($result == TRUE)
				 * {
				 *		Mage::getModel('core/myself')->stop()->callFriends()->haveABeer();
				 * }
				 *
				 * 1. Try to get the order attribute
				 * 2. Check it, in case the st... client deletes it...
				 *
				 */
				$event = Mage::helper('amorderattr')->getField('gift_event', 'billing');
				
				?>
				<?php if($event) :?>
				<?php $event->setNoSpan(true)->addClass('w260'); ?>
				<li class="control gift-details" style="display:none;">
					<div class="field">
						<?php echo($event->getLabelHtml()); ?>
	
						<?php echo($event->getElementHtml()); ?>
					</div>
				</li>
				<?php endif ;?>		
			</ul>
		</div>

		<div class="col-2">
			<?php
			/*
			 * Gift message
			 *
			 */
			$gift_message = Mage::helper('amorderattr')->getField('gift_message', 'billing');
			
			?>
			<?php if($gift_message) :?>
			<?php $gift_message->setNoSpan(true); ?>
			<ul class="form-list gift-details" style="display:none;">
				<li class="control">
					<div class="field">
						<p class="m0"><?php echo $this->__('If yes, add one message for the receiver') ?></p>
						<?php echo($gift_message->getElementHtml()); ?>
					</div>
				</li>				
			</ul>
			<?php endif ;?>		
		</div>
	
	</div>


	<?php  // echo Mage::helper('amorderattr')->fields('billing'); ?> 

	
	<?php 
	/*
	 * Order options
	 *
	 */
	?>
	<h3 class="title center"><?php echo $this->__('Order options'); ?></h3>
	
	<div class="col2-set">
	
		<?php 
		/*
		 * Shipping Location choice
		 *
		 */
		?>
		<div class="col-1">
			

			 <ul class="form-list">
				 <li class="control">
					<div class="field">
						<label class="left"><?php echo $this->__('Delivery') ?></label>

						<div class="input-box left">
							<div class="h20">
								<input type="radio" name="shipping[shipping_address]" id="shipping:same_as_billing" value="same" checked="checked" title="<?php echo $this->__('Use Billing Address') ?>" onclick="shipping.setSameAsBilling(1)" class="radio" /><label for="shipping:same_as_billing"><?php echo $this->__('Use Billing Address') ?></label>
							</div>
							<div class="h20">
								<input type="radio" name="shipping[shipping_address]" id="shipping:other_than_billing" value="other" title="<?php echo $this->__('Use other shipping address') ?>" onclick="shipping.setOtherThanBilling(1)" class="radio" /><label for="shipping:other_than_billing"><?php echo $this->__('Use other shipping address') ?></label>
							</div>
							<div class="h20">
								<input type="radio" name="shipping[shipping_address]" id="shipping:pickup_at_store" value="pickup_store" title="<?php echo $this->__('Pickup in Shop') ?>" onclick="shipping.setPickupInStore(1)" class="radio" /><label for="shipping:pickup_at_store"><?php echo $this->__('Pickup in Shop') ?></label>
								<input type="hidden" name="shipping[pickup]" id="shipping:pickup" value="">
							</div>
							<?php 
							/*
							 * Contact List : For Shipping Address, YES ! 
							 * 
							 */
							?>
							<?php if ( count($contacts) > 0 ) :?>
								<div class="h20">
									<input type="radio" name="shipping[shipping_address]" id="shipping:to_contact" value="to_contact" title="<?php echo $this->__('To one friend / family') ?>" onclick="shipping.setContact(1)" class="radio" /><label for="shipping:to_contact"><?php echo $this->__('To one friend / family') ?></label>
									<input type="hidden" name="shipping[to_contact]" id="shipping:to_contact" value="">
								</div>
								<div id="shipping-contact" class="h20" style="display:none;">
									<select id="contactAddresses" onchange="contact.getAddresses();">
										<option value=""><?php echo $this->__('-- Select one address --') ;?></option>
										<?php foreach($contacts as $contact) :?>
											<option value="<?php echo $contact['magento_id'] ;?>"><?php echo $contact['firstname'] . ' ' . $contact['lastname'] ?></option>									
										<?php endforeach ;?>
									</select>
								</div>
							<?php endif ;?>
						</div>
					</div>
				 </li>
			 </ul>

		</div>
	
		<?php 
		/*
		 * Order's Comment
		 *
		 */
		?>
		<div class="col-2">
			  <ul class="form-list">
			  
			  	<li>
			  		<p class="m0"><?php echo $this->__('Order comment') ?></p>
					  <textarea name="comments" id="comments"></textarea>
			  	</li>
			  
			  </ul>

		</div>
	
	</div>


	<?php 
	/*
	 * Addresses : Billing / Shipping
	 *
	 */
	?>

	<div class="col2-set">

		<?php 
		/*
		 * Address : Billing
		 *
		 */
		?>
		<div class="col-1">
	 		
	 		<h3 class="title center"><?php echo $this->__('Billing address'); ?></h3>
	 		
			<?php 
			/*
			 * Has address : SELECT
			 *
			 */
			?>
			  <?php if ($this->customerHasAddresses()): ?>
				<p></p>
			  	<ul class="form-list">
					   <li class="wide">
							<label for="billing-address-select"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></label>
							<?php echo $this->getAddressesHtmlSelect('billing') ?>
					   </li>
				  </ul>
				
				<?php
				/*
			  	<ul class="form-list">
					   <li class="fields">
							<label for="billing-address-select" class="left"><em>&nbsp;</em><?php echo $this->__('Address') ?></label>
							<div class="input-box left">
								<?php echo $this->getAddressesHtmlSelect('billing') ?>
							</div>
					   </li>
				  </ul>
				 */
				?>
				<?php endif; ?>
	 		
				<?php 
				/*
				 * No Adress : New one
				 *
				 */
				?>
			 	<ul class="form-list">
				   <li id="billing-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
					   <fieldset>
						   <input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />
						   <ul>
						   	
					   		<?php
					   		/*
					   		 * Name : 	Only if logged in 
					   		 *			To avoid collision with the create account field
					   		 */
					   		?>
							   <li class="fields">
							   	<?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress()->getFirstname() ? $this->getAddress() : $this->getQuote()->getCustomer())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?></li>
							</li>
			
							
					   		<?php
					   		/*
					   		 * Company
					   		 *
					   		 */
					   		?>
							   <li class="fields">
								<div class="field">
									<label for="billing:company" class="left"><em>&nbsp;</em><?php echo $this->__('Company') ?></label>
									<div class="input-box left">
										<input type="text" id="billing:company" name="billing[company]" value="<?php echo $this->htmlEscape($this->getAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text" />
									</div>
								</div>
							</li>
			
				   			
					   		<?php
					   		/*
					   		 * Street
					   		 *
					   		 */
					   		?>
							   <li class="fields">
								   <label for="billing:street1" class="required left"><em>*</em><?php echo $this->__('Address') ?></label>
								   <div class="input-box left">
									   <input type="text" title="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="input-text required-entry" />
									   <?php for ($_i=2, $_n=$this->helper('customer/address')->getStreetLines(); $_i<=$_n; $_i++): ?>
										<input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="billing[street][]" id="billing:street<?php echo $_i?>" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet($_i)) ?>" class="input-text mt5" />
									   <?php endfor ?>
								   </div>
							   </li>
							   
					   		<?php
					   		/*
					   		 * Door Code
					   		 *
							   <li class="fields">
								   <label for="billing:door_code" class="left"><em>&nbsp;</em><?php echo $this->__('Door code') ?></label>
								   <div class="input-box left">
									   <input type="text" title="<?php echo $this->__('Door code') ?>" name="billing:door_code" id="billing:door_code" value="<?php echo $this->htmlEscape($this->getAddress()->getDoorCode()) ?>" class="input-text" />
								   </div>
							   </li>
					   		 */
					   		?>
							   
							   
					   		<?php
					   		/*
					   		 * City / Region
					   		 *
					   		 */
					   		?>
							   <li class="fields">
								   <div class="field">
									   <label for="billing:region_id" class="required left"><em>*</em><?php echo $this->__('State/Province') ?></label>
									   <div class="input-box left">
										   <select id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
											   <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
										   </select>
										   <script type="text/javascript">
										   //<![CDATA[
											   $('billing:region_id').setAttribute('defaultValue',	"<?php echo $this->getAddress()->getRegionId() ?>");
										   //]]>
										   </script>
										   <input type="text" id="billing:region" name="billing[region]" value="<?php echo $this->htmlEscape($this->getAddress()->getRegion()) ?>"	title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
									   </div>
								   </div>
								   <div class="field">
									   <label for="billing:postcode" class="required left"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
									   <div class="input-box left">
										   <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="billing[postcode]" id="billing:postcode" value="<?php echo $this->htmlEscape($this->getAddress()->getPostcode()) ?>" class="input-text validate-zip-international required-entry" />
									   </div>
								   </div>
								   <div class="field">
									   <label for="billing:city" class="required left"><em>*</em><?php echo $this->__('City') ?></label>
									   <div class="input-box left">
										   <input type="text" title="<?php echo $this->__('City') ?>" name="billing[city]" value="<?php echo $this->htmlEscape($this->getAddress()->getCity()) ?>" class="input-text required-entry" id="billing:city" />
									   </div>
								   </div>
								   <div class="field">
									   <label for="billing:country_id" class="required left"><em>*</em><?php echo $this->__('Country') ?></label>
									   <div class="input-box left">
										   <?php echo $this->getCountryHtmlSelect('billing') ?>
									   </div>
								   </div>
							   </li>
					   		<?php
					   		/*
					   		 * Phone
					   		 *
					   		 */
					   		?>
							   <li class="fields">
								   <div class="field">
									   <label for="billing:telephone" class="required left"><em>*</em><?php echo $this->__('Telephone') ?></label>
									   <div class="input-box left">
										   <input type="text" name="billing[telephone]" value="<?php echo $this->htmlEscape($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text required-entry" id="billing:telephone" />
									   </div>
								   </div>
							   </li>

							   <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
								   <li class="control">
									<label class="left"><em>&nbsp;</em></label>
<?php

// onchange="if(window.shipping) shipping.setSameAsBilling(false);"

?>
									   <input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="billing:save_in_address_book" <?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" /><label for="billing:save_in_address_book"><?php echo $this->__('Save in address book') ?></label>
								   </li>
							   <?php else:?>
								   <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
							   <?php endif; ?>
						   </ul>
						   	<p class="required"><?php echo $this->__('* Required Fields') ?></p>

					   </fieldset>
					</li>
			</ul>		
		</div>

		<?php 
		/*
		 * Address : Shipping
		 *
		 */
		?>
		<div class="col-2">
	 		<h3 class="title center"><?php echo $this->__('Shipping address'); ?></h3>

			
			<div id="shipping-other-address-form"<?php if ($this->customerHasAddresses() || ! $this->isCustomerLoggedIn() ): ?> style="display:none;"<?php endif ?>>
			
			
			<?php 
			/*
			 * Has address : SELECT
			 *
			 */
			?>
			  <?php if ($this->customerHasAddresses()): ?>
			  	<ul class="form-list">
					   <li class="wide">
						   <label for="shipping-address-select"><?php echo $this->__('Select a shipping address from your address book or enter a new address.') ?></label>
						   <?php echo $this->getAddressesHtmlSelect('shipping') ?>
					   </li>
				</ul>
			  <?php endif; ?>

			<?php 
			/*
			 * No Shipping Address : New one
			 * 
			 */
			?>
			 	<ul class="form-list">

				  <li id="shipping-new-address-form"<?php if ($this->customerHasAddresses() ): ?> style="display:none;"<?php endif ?>>
					  <fieldset>
						  <input type="hidden" name="shipping[address_id]" value="<?php echo $this->getShippingAddress()->getId() ?>" id="shipping:address_id" />
						  <ul>
					   		<?php
					   		/*
					   		 * Name : 	Only if logged in 
					   		 *			To avoid collision with the create account field
					   		 */
					   		?>
							<li class="fields">
								<?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getShippingAddress())->setFieldIdFormat('shipping:%s')->setFieldNameFormat('shipping[%s]')->setFieldParams('onchange="shipping.setSameAsBilling(false)"')->toHtml() ?>
							</li>


							  <li class="fields">
								  <div class="fields">
									  <label for="shipping:company" class="left"><?php echo $this->__('Company') ?></label>
									  <div class="input-box left">
										  <input type="text" id="shipping:company" name="shipping[company]" value="<?php echo $this->htmlEscape($this->getShippingAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text" onchange="shipping.setSameAsBilling(false);" />
									  </div>
								  </div>
							  </li>
							  <li class="fields">
								  <label for="shipping:street1" class="required left"><em>*</em><?php echo $this->__('Address') ?></label>
								  <div class="input-box left">
									  <input type="text" title="<?php echo $this->__('Street Address') ?>" name="shipping[street][]" id="shipping:street1" value="<?php echo $this->htmlEscape($this->getShippingAddress()->getStreet(1)) ?>" class="input-text required-entry" onchange="shipping.setSameAsBilling(false);" />
									  
									   <?php for ($_i=2, $_n=$this->helper('customer/address')->getStreetLines(); $_i<=$_n; $_i++): ?>
										<br/><input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="shipping[street][]" id="shipping:street<?php echo $_i?>" value="<?php echo $this->htmlEscape($this->getShippingAddress()->getStreet($_i)) ?>" class="input-text mt5" onchange="shipping.setSameAsBilling(false);"/>
									   <?php endfor ?>
									  
									  
								  </div>
							  </li>

					   		<?php
					   		/*
					   		 * Door Code
					   		 *
							   <li class="fields">
								   <label for="shipping:door_code" class="left"><em>&nbsp;</em><?php echo $this->__('Door code') ?></label>
								   <div class="input-box left">
									   <input type="text" title="<?php echo $this->__('Door code') ?>" name="shipping:door_code" id="shipping:door_code" value="<?php echo $this->htmlEscape($this->getShippingAddress()->getDoorCode()) ?>" class="input-text" />
								   </div>
							   </li>
					   		 */
					   		?>


							  <li class="fields">
								  <div class="field">
									  <label for="shipping:region" class="required left"><em>*</em><?php echo $this->__('State/Province') ?></label>
									  <div class="input-box left">
										  <select id="shipping:region_id" name="shipping[region_id]" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
											  <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
										  </select>
										  <script type="text/javascript">
										  //<![CDATA[
											  $('shipping:region_id').setAttribute('defaultValue',	"<?php echo $this->getShippingAddress()->getRegionId() ?>");
										  //]]>
										  </script>
										  <input type="text" id="shipping:region" name="shipping[region]" value="<?php echo $this->htmlEscape($this->getShippingAddress()->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
									  </div>
								  </div>
								  <div class="field">
									  <label for="shipping:postcode" class="required left"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
									  <div class="input-box left">
										  <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="shipping[postcode]" id="shipping:postcode" value="<?php echo $this->htmlEscape($this->getShippingAddress()->getPostcode()) ?>" class="input-text validate-zip-international required-entry" onchange="shipping.setSameAsBilling(false);" />
									  </div>
								  </div>
								  <div class="field">
									  <label for="shipping:city" class="required left"><em>*</em><?php echo $this->__('City') ?></label>
									  <div class="input-box left">
										  <input type="text" title="<?php echo $this->__('City') ?>" name="shipping[city]" value="<?php echo $this->htmlEscape($this->getShippingAddress()->getCity()) ?>" class="input-text required-entry" id="shipping:city" onchange="shipping.setSameAsBilling(false);" />
									  </div>
								  </div>
								  <div class="field">
									  <label for="shipping:country_id" class="required left"><em>*</em><?php echo $this->__('Country') ?></label>
									  <div class="input-box left">
										  <?php echo $this->getCountryHtmlSelect('shipping') ?>
									  </div>
								  </div>
							  </li>

					   		<?php
					   		/*
					   		 * Phone
					   		 *
					   		 */
					   		?>
							  <li class="fields">
								  <div class="field">
									  <label for="shipping:telephone" class="required left"><em>*</em><?php echo $this->__('Telephone') ?></label>
									  <div class="input-box left">
										  <input type="text" name="shipping[telephone]" value="<?php echo $this->htmlEscape($this->getShippingAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text required-entry" id="shipping:telephone" onchange="shipping.setSameAsBilling(false);" />
									  </div>
								  </div>
							  </li>
					   		<?php
					   		/*
					   		 * Save Address in Address Book
					   		 *
					   		 */
					   		?>
						  	<?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
							  	<li class="field">
									<label class="left"><em>&nbsp;</em></label>
								  	<input type="checkbox" name="shipping[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="shipping:save_in_address_book" onchange="shipping.setSameAsBilling(false);"<?php if ($this->getShippingAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" /><label for="shipping:save_in_address_book"><?php echo $this->__('Save in address book') ?></label></li>
						  	<?php else:?>
							  	<li class="no-display"><input type="hidden" name="shipping[save_in_address_book]" value="1" /></li>
						  	<?php endif;?>
						  </ul>
						   	<p class="required"><?php echo $this->__('* Required Fields') ?></p>

					  </fieldset>
				  </li>
			  </ul>
			</div>

			<?php
			/*
			 * Pick-up in Store
			 *
			 */
			?>
			<div id="shipping-pickup" style="display:none;">
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('shipping_pickup_address_paris')->toHtml(); ?>
				<div id="map_container">
				  	<div id="map_canvas">
					<?php
					/*
					<img src="<ion:theme_url/>assets/staticmap.jpg" />
					*/
					?>
					</div>
					<div id="map_address">
						<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('google_map_address_paris')->toHtml(); ?>
					</div>
				</div>
			</div>

		</div>
	</div>

	
	<?php if (!$this->canShip()): ?>
		<input type="hidden" name="billing[use_for_shipping]" value="1" />
	<?php endif; ?>
	
</fieldset>
</form>

<div class="buttons-set" id="billing-buttons-container">
	<button type="button" title="<?php echo $this->__('Continue') ?>" class="button" onclick="addresses.save()"><span><span><?php echo $this->__('Continue') ?></span></span></button>
	<span class="please-wait" id="billing-please-wait" style="display:none;">
		<span class="please-wait-content">
			<img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Loading next step...') ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
		</span>
	</span>
	<span class="please-wait" id="contact-please-wait" style="display:none;">
		<span class="please-wait-content">
			<img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading Addresses...') ?>" title="<?php echo $this->__('Loading Addresses...') ?>" class="v-middle" /> <?php echo $this->__('Loading Addresses...') ?>
		</span>
	</span>
</div>



<script type="text/javascript">
	
	var addresses = new Addresses('co-billing-form', '<?php echo $this->getUrl('nose/onepage/saveAddresses') ?>');

	<?php
	/*
	 * Have a look in js/opccheckout.js if you're not dead with Magento...
	 *
	 */
	?>
	var gift = new Gift();
//	var json = <?php echo $contacts_json ;?>;
//	var contactList = $(json).evalJSON();
	var contactList = '<?php echo $contacts_json; ?>';
//	var contact = new ContactAddresses('contactAddresses', '<?php echo Mage::helper('mynose/url')->getContactAddressesUrl() ?>');
	var contact = new ContactAddresses('contactAddresses', contactList, 'co-billing-form');

	
	var billing = new Billing('co-billing-form', '<?php echo $this->getUrl('checkout/onepage/getAddress') ?>address/', '<?php echo $this->getUrl('checkout/onepage/saveBilling') ?>');
	var billingForm = new VarienForm('co-billing-form');
	$('billing-address-select') && billing.newAddress(!$('billing-address-select').value);
	var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', countryRegions, undefined, 'billing:postcode');



	var shipping = new Shipping('co-billing-form', '<?php echo $this->getUrl('checkout/onepage/getAddress') ?>address/', '<?php echo $this->getUrl('checkout/onepage/saveShipping') ?>',
		'<?php echo $this->getUrl('checkout/onepage/shippingMethod') ?>');
	var shippingForm = new VarienForm('co-billing-form');
	shippingForm.extraChildParams = ' onchange="shipping.setSameAsBilling(false);"';
	
	var shippingRegionUpdater = new RegionUpdater('shipping:country_id', 'shipping:region', 'shipping:region_id', countryRegions, undefined, 'shipping:postcode');


</script>



<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
var map;
var center = new google.maps.LatLng(48.865978,2.344959);
var noseShop = new google.maps.LatLng(48.866150,2.344666);
var image = '<?php echo $this->getSkinUrl('images/google_map_flag.png'); ?>';
function initStoreGM()
{
	var myOptions = {
		center: center,
		zoom: 17,
		disableDefaultUI: true,
		mapTypeId: google.maps.MapTypeId.ROAD
	};
	var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

	var noseMarker = new google.maps.Marker({
		position: noseShop,
		map: map,
		draggable: false,
		icon: image,
		title: 'Nose, 20 rue Bachaumont, 75002 Paris'
	});

	var circleOptions = {
		strokeColor: "#FF0000",
		strokeOpacity: 0.8,
		strokeWeight: 0,
		fillColor: "#FF0000",
		fillOpacity: 0.35,
		map: map,
		center: noseShop,
		radius: 8
	};
	noseCircle = new google.maps.Circle(circleOptions);

	var styledMapOptions = {name: "nose"};
	var stylez = [
		{
			featureType: "landscape",
			stylers: [{
				saturation: 0,
				visibility: 'on'
			}]
		},
		{
			featureType: "road",
			stylers: [{
				saturation: -20
			}]
		},
		{
			featureType: "road.local",
			elementType: "geometry",
			stylers: [{
				visibility: 'simplified'
			}]
		}
	];
	
	
	var noseMapType = new google.maps.StyledMapType(stylez, styledMapOptions);
	map.mapTypes.set('noseShop', noseMapType);
	map.setMapTypeId('noseShop');

	google.maps.event.addListener(map, 'idle', function()
	{
		$j('#map_canvas').css('background-image', 'none');
	});

/*
	panorama = map.getStreetView();
	panorama.setPosition(noseShop);
	panorama.setPov({
		heading: 265,
		zoom:1,
		pitch:0
	});
	panorama.setVisible(true);
*/
}
	
</script>

<script type="text/javascript">
	
	<?php
	/*
	 * Must be after the GM declaration
	 * called in opcheckout.js
	 *
	 */
	?>
	$('shipping-address-select') && shipping.newAddress(!$('shipping-address-select').value);
	$('shipping-other-address-form') && shipping.setOtherThanBilling($('shipping:other_than_billing').checked); 
	$('shipping-pickup') && shipping.setPickupInStore($('shipping:pickup_at_store').checked); 
	

</script>






