<?php
/**
 *
 */
?>

<form id="co-billing-form" action="">
<fieldset>

	
	<?php
	/*
	 * Create an account
	 *
	 */
	?>
	<?php if( ! $this->isCustomerLoggedIn()): ?>
	
		<h3 class="title center"><?php echo $this->__('Create an Account'); ?></h3>
		
    	<ul class="form-list">
	
			<?php 
			/*
			 * Email
			 *
			 */
			?>
	        <li class="fields">
	            <div class="field">
	                <label for="billing:email" class="required left"><em>*</em><?php echo $this->__('Email Address') ?></label>
	                <div class="input-box left ">
	                    <input type="text" name="billing[email]" id="billing:email" value="<?php echo $this->htmlEscape($this->getAddress()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" />
	                </div>
	            </div>
	        </li>
		
			<?php 
			/*
			 * DOB / Gender
			 *
			 */
			?>
			<?php 
			/*
			<?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
			<?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
		    <?php if ($_dob->isEnabled() || $_gender->isEnabled()): ?>
		        <li class="fields">
		        <?php if ($_dob->isEnabled()): ?>
		            <div class="field">
		                <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
		            </div>
		        <?php endif; ?>
		        <?php if ($_gender->isEnabled()): ?>
		            <div class="field">
		                <?php echo $_gender->setGender($this->getQuote()->getCustomerGender())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
		            </div>
		        <?php endif ?>
		        </li>
		    <?php endif ?>
			*/
			?>
			
			<?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
		
		    <?php if ($_taxvat->isEnabled()): ?>
		            <li>
		                <?php echo $_taxvat->setTaxvat($this->getQuote()->getCustomerTaxvat())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
		            </li>
		    <?php endif ?>
		
		    <li class="fields" id="register-customer-password">
		        <div class="field">
		            <label for="billing:customer_password" class="required left"><em>*</em><?php echo $this->__('Password') ?></label>
		            <div class="input-box left">
		                <input type="password" name="billing[customer_password]" id="billing:customer_password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password" />
		            </div>
		        </div>
		        <div class="field">
		            <label for="billing:confirm_password" class="required left"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
		            <div class="input-box left">
		                <input type="password" name="billing[confirm_password]" title="<?php echo $this->__('Confirm Password') ?>" id="billing:confirm_password" class="input-text required-entry validate-cpassword" />
		            </div>
		        </div>
		    </li>
		</ul>	
	
	<?php endif; ?>
	
	
<!-- 	<h3 class="title center"><?php echo $this->__('Billing address'); ?></h3> -->
	<h3 class="title center"><?php echo $this->__('Order options'); ?></h3>
	<?php 
	/*
	 * Has address
	 *
	 */
	?>
    <?php if ($this->customerHasAddresses()): ?>
    	<ul class="form-list">
        <li class="wide">
            <label for="billing-address-select"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></label>
            <div class="input-box left">
                <?php echo $this->getAddressesHtmlSelect('billing') ?>
            </div>
        </li>
        </ul>
    <?php endif; ?>
    
    
	<?php 
	/*
	 * Has address : This is hidden
	 *
	 */
	?>
   	<ul class="form-list">
    <li id="billing-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
        <fieldset>
            <input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />
            <ul>
            	
        		<?php
        		/*
        		 * Name : 	Only if logged in 
        		 *			To avoid collision with the create account field
        		 */
        		?>
                <li class="fields">
                	<?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress()->getFirstname() ? $this->getAddress() : $this->getQuote()->getCustomer())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?></li>
				</li>

				
        		<?php
        		/*
        		 * Address
        		 *
        		 */
        		?>
                <li class="fields">
	                <div class="field">
	                    <label for="billing:company" class="left"><em>&nbsp;</em><?php echo $this->__('Company') ?></label>
	                    <div class="input-box left">
	                        <input type="text" id="billing:company" name="billing[company]" value="<?php echo $this->htmlEscape($this->getAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text" />
	                    </div>
	                </div>
				</li>

    			
        		<?php
        		/*
        		 * Address
        		 *
        		 */
        		?>
                <li class="fields">
                    <label for="billing:street1" class="required left"><em>*</em><?php echo $this->__('Address') ?></label>
                    <div class="input-box left">
                        <input type="text" title="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="input-text required-entry" />
				        <?php for ($_i=2, $_n=$this->helper('customer/address')->getStreetLines(); $_i<=$_n; $_i++): ?>
	                        <br/><input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="billing[street][]" id="billing:street<?php echo $_i?>" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet($_i)) ?>" class="input-text" />
				        <?php endfor ?>
                    </div>
                </li>
                
        		<?php
        		/*
        		 * Door Code
        		 *
        		 */
        		?>
                <li class="fields">
                    <label for="billing:door_code" class="left"><em>&nbsp;</em><?php echo $this->__('Door code') ?></label>
                    <div class="input-box left">
                        <input type="text" title="<?php echo $this->__('Door code') ?>" name="billing:door_code" id="billing:door_code" value="<?php echo $this->htmlEscape($this->getAddress()->getDoorCode()) ?>" class="input-text" />
                    </div>
                </li>
                
                
        		<?php
        		/*
        		 * City / Region
        		 *
        		 */
        		?>
                <li class="fields">
                    <div class="field">
                        <label for="billing:region_id" class="required left"><em>*</em><?php echo $this->__('State/Province') ?></label>
                        <div class="input-box left">
                            <select id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                            </select>
                            <script type="text/javascript">
                            //<![CDATA[
                                $('billing:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                            //]]>
                            </script>
                            <input type="text" id="billing:region" name="billing[region]" value="<?php echo $this->htmlEscape($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="billing:postcode" class="required left"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                        <div class="input-box left">
                            <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="billing[postcode]" id="billing:postcode" value="<?php echo $this->htmlEscape($this->getAddress()->getPostcode()) ?>" class="input-text validate-zip-international required-entry" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="billing:city" class="required left"><em>*</em><?php echo $this->__('City') ?></label>
                        <div class="input-box left">
                            <input type="text" title="<?php echo $this->__('City') ?>" name="billing[city]" value="<?php echo $this->htmlEscape($this->getAddress()->getCity()) ?>" class="input-text required-entry" id="billing:city" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="billing:country_id" class="required left"><em>*</em><?php echo $this->__('Country') ?></label>
                        <div class="input-box left">
                            <?php echo $this->getCountryHtmlSelect('billing') ?>
                        </div>
                    </div>
                </li>
        		<?php
        		/*
        		 * Phone
        		 *
        		 */
        		?>
                <li class="fields">
                    <div class="field">
                        <label for="billing:telephone" class="required left"><em>*</em><?php echo $this->__('Telephone') ?></label>
                        <div class="input-box left">
                            <input type="text" name="billing[telephone]" value="<?php echo $this->htmlEscape($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text required-entry" id="billing:telephone" />
                        </div>
                    </div>
                    <?php
                    /*
                    <div class="field">
                        <label for="billing:fax"><?php echo $this->__('Fax') ?></label>
                        <div class="input-box left">
                            <input type="text" name="billing[fax]" value="<?php echo $this->htmlEscape($this->getAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="input-text" id="billing:fax" />
                        </div>
                    </div>
                    */
                    ?>
                </li>
                
                <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                    <li class="control">
                        <input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="billing:save_in_address_book" onchange="if(window.shipping) shipping.setSameAsBilling(false);"<?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" /><label for="billing:save_in_address_book"><?php echo $this->__('Save in address book') ?></label>
                    </li>
                <?php else:?>
                    <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
                <?php endif; ?>
            </ul>
        </fieldset>
     </li>
    
    <?php if ($this->canShip()): ?>
        <li class="control">
            <input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_yes" value="1"<?php if ($this->isUseBillingAddressForShipping()) {?> checked="checked"<?php }?> title="<?php echo  $this->__('Ship to this address') ?>" onclick="$('shipping:same_as_billing').checked = true;" class="radio" /><label for="billing:use_for_shipping_yes"><?php echo  $this->__('Ship to this address') ?></label></li>
        <li class="control">
            <input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_no" value="0"<?php if (!$this->isUseBillingAddressForShipping()) {?> checked="checked"<?php }?> title="<?php echo $this->__('Ship to different address') ?>" onclick="$('shipping:same_as_billing').checked = false;" class="radio" /><label for="billing:use_for_shipping_no"><?php echo $this->__('Ship to different address') ?></label>
        </li>
    <?php endif; ?>
    </ul>
    <?php if (!$this->canShip()): ?>
        <input type="hidden" name="billing[use_for_shipping]" value="1" />
    <?php endif; ?>
    <div class="buttons-set" id="billing-buttons-container">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <button type="button" title="<?php echo $this->__('Continue') ?>" class="button" onclick="billing.save()"><span><span><?php echo $this->__('Continue') ?></span></span></button>
        <span class="please-wait" id="billing-please-wait" style="display:none;">
            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Loading next step...') ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
        </span>
    </div>
</fieldset>
</form>
<script type="text/javascript">
//<![CDATA[
    var billing = new Billing('co-billing-form', '<?php echo $this->getUrl('checkout/onepage/getAddress') ?>address/', '<?php echo $this->getUrl('checkout/onepage/saveBilling') ?>');
    var billingForm = new VarienForm('co-billing-form');

    //billingForm.setElementsRelation('billing:country_id', 'billing:region', '<?php echo $this->getUrl('directory/json/childRegion') ?>', '<?php echo $this->__('Select State/Province...') ?>');
    $('billing-address-select') && billing.newAddress(!$('billing-address-select').value);

    var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', countryRegions, undefined, 'billing:postcode');
//]]>
</script>
