<?php
/**
 *
 */
?>
<?php
/**
 * One page checkout payment methods
 *
 * @see Mage_Checkout_Block_Onepage_Payment_Methods
 */
?>
<div class="sp-methods" id="checkout-payment-method-load">
	<ul>

<?php foreach ($this->getMethods() as $_method): $_code = $_method->getCode() ?>
    <li>
    <?php if( sizeof($this->getMethods()) > 1 ): ?>
        <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" title="<?php echo $this->htmlEscape($_method->getTitle()) ?>" onclick="payment.switchMethod('<?php echo $_code ?>')"<?php if($this->getSelectedMethodCode()==$_code): ?> checked="checked"<?php endif; ?> class="radio payment-method" />
    <?php else: ?>
        <span class="no-display"><input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" checked="checked" class="radio" /></span>
    <?php endif; ?>
        <label for="p_method_<?php echo $_code ?>"><?php echo $this->getMethodTitle($_method) ?> <?php echo $this->getMethodLabelAfterHtml($_method) ?></label>
    <?php if ($html = $this->getPaymentMethodFormHtml($_method)): ?>
	    <?php echo $html; ?>
    <?php endif; ?>
    </li>
<?php endforeach; ?>
	</ul>
</div>



<?php echo $this->getChildChildHtml('additional'); ?>
<script type="text/javascript">
//<![CDATA[
<?php echo $this->getChildChildHtml('scripts'); ?>
payment.init();

	// Inputs enhancement
	$j(document).ready(function(){
		$j('#checkout-payment-method-load input').checkBox();
		
		$j('#checkout-payment-method-load input.payment-method').each(function()
		{
			$j(this).click(function(){
				payment.resize();		
			});
		});
		
	});

//]]>
</script>
