<?php $_helper = $this->helper('brand'); ?>
<?php $_subcategories = $this->getSubCategories(); ?>
<?php $_brandsLetters = $this->getBrandsLetters(); ?>
<?php $_brands = $this->getBrands(); ?>

<h1 class="page-title"><?php echo $this->__('Brands'); ?></h1>

<!--
<div class="subnav-container center">
    <ul class="subnav">
        <?php foreach ($_subcategories as $_subcat) : ?>
            <li><a class="category-filter" data-filter="<?php echo $_subcat['filter']; ?>" href="javascript:;"><?php echo $_subcat['label']; ?></a></li>
        <?php endforeach; ?>
    </ul>
</div>
-->

<div class="letter-widget">
    <ul id="brands-filter" class="letter-filter">
        <li><a data-letter="all" class="all active" id="all-brands"><?php echo $this->__('All brands'); ?></a></li>
    </ul>
</div>

<div id="brands" class="brands-list">
    <?php $index = 0 ?>
    <?php
    function cmp($a, $b) {
        return strcmp($a->getName(), $b->getName());
    }

    usort($_brands, "cmp");
    ?>
    <?php foreach ($_brands as $_brand): ?>

        <?php $letter = ucfirst(substr($_brand->getName(), 0, 1)); ?>

        <?php if ($_brandsLetters[$letter] == false) : ?>
            <?php
            $_brandsLetters[$letter] = true;
            if ($index != 0) { echo '</div>'; }
            ?>
            <div class="letter-group active" data-letter="<?php echo $letter; ?>">
                <div class="letter"><?php echo $letter; ?></div>
            <?php endif; ?>

            <div class="brand-item" data-letter="<?php echo $letter ?>">
                <a class="title" href="<?php echo $_brand->getUrl(); ?>">
                    <?php echo $_brand->getName(); ?>
                </a>
                <img class="brand-image moveWithMouse" src="<?php echo $_helper->getThumbnailImageUrl($_brand->getThumbnail()); ?>">
            </div>
            <?php $index++; ?>
        <?php endforeach; ?>
    </div>
</div>

<script type="text/javascript">
    $j(document).ready(function() {

        $j('a.category-filter').click(function(e) {
            e.preventDefault();

            var filterType = $j(this).data('filter');

            $j.ajax({
                url : '<?php echo $this->getUrl('ajaxbrands/ajax/filterByCategory', array('_secure' => true)); ?>',
                type: "POST",
                data: {
                    c: filterType
                },
                beforeSend: function() {
                    // Show Loader
                },
                success: function(response) {
                    console.log(response);
                }
            });
        });
    });
</script>

<script type="text/javascript">


    $j(window).load(function() {

        var $letterGroups = $j('#brands .letter-group');
        var $brands = $j('#brands .brand-item');

        var uniqueLettersArray = $letterGroups.map(function() {
            return $j(this).find('.letter').html();
        }).get();

        uniqueLettersArray = $j.makeArray(uniqueLettersArray);

        // Populate filter
        uniqueLettersArray.forEach(function(item, index) {
            var filter = $j('<li class="letter not-visible"><a data-letter="' + item + '" href="#">' + item + '</a></li>')
            $j('#brands-filter').append(filter);
            filter.find('a').click(function(e) {
                e.preventDefault();
                activateLetter($j(this).data('letter'));
            })
            setTimeout(function() {
                filter.removeClass('not-visible');
            }, 100 * index);
        });

        // Filters
        function activateLetter(letter) {
            $j('#brands-filter li a').removeClass('active');
            $j('#brands-filter li a').filter("[data-letter='" + letter + "']").addClass('active');
            $letterGroups.removeClass('active').filter("[data-letter='" + letter + "']").addClass('active');
        }
        $j('#all-brands').click(function(e) {
            e.preventDefault();
            $j('#brands-filter li a').removeClass('active');
            $j(this).addClass('active');
            $letterGroups.addClass('active');
        })

    });

</script>