<?php
/**
 *
 * Product list by current category
 * Category is stored in Mage::registry
 *
 * Gets also the new products, filtered by current category if stored in Mage::registry
 *
 */
?>
<?php
/**
 *
 * Product list template
 *
 * @see Partikule_Nose_Catalog_Product_List
 *
 */
?>
<?php
$product = Mage::registry('product');

$_products = $this->getProductCollection();
// $_products = Mage::getModel('boutique/Category')->setCategoryData($_products);			// Adds the Category attributes : category_name / category_url

// Also bought...
// getAlsoBoughtProductCollection(limit_to_category = TRUE / FALSE, $number_of_displayed products = 25);
// $_also_bought_products = Mage::helper('nose/Product')->getAlsoBoughtProductCollection(TRUE);

// Others also liked
$_also_liked_products = Mage::helper('nose/Product')->getAlsoLikedProductCollection(10);


// Range (Gamme) products
$_range_products = $this->getRangeProductCollection();

// Collections of products collections
$_collections = array();

// 1. Range (Gamme)
if ( $_range_products && $_range_products->count() )	$_collections[] = $_range_products;

// 2. Products
$_collections[] = $_products;


// 3. Other also bought
// if ( $_also_bought_products->count() ) $_collections[] = $_also_bought_products;
if ($_also_liked_products->count()) $_collections[] = $_also_liked_products;


// Range detail
//$_range_option = Mage::helper('attribute/attribute')->getAttributeOption('product_range', $product->getProduct_range());

// Current Category (brand) : To display the boutique title : "Other product by ..."
$category = Mage::registry('current_category');


// Number of rows / items
$numRows =  1;
$itemsPerPage = 5;
$_iterator = 0;

// Uniq ID of the Carousel
$carousel_id = 'item_carousel';

?>


<?php if( $_products->count() ): ?>


<div class="col-main">

	<h3 class="col-title"><?php echo $this->__('Boutique') ?></h3>


	<?php 
	/*
	 * Attributes Menu
	 *
	 *
	 */
	?>
	<div class="subnav-container center">
		<ul id="products-nav" class="subnav">
			<?php if ( $_range_products->count() ) :?>
				<li><a><span><?php echo $product->getAttributeText('product_range') ?></span></a></li>
			<?php endif ;?>
			<li class="active first"><a><span><?php echo $this->__('Other products by') ?> <?php echo ($category->getName()) ?></span></a></li>
			<?php if ( $_also_liked_products->count() ) :?>
				<li><a><span><?php echo $this->__('Other also liked') ?></span></a></li>
			<?php endif ;?>
		</ul>
	</div>

	<div class="clearfix"></div>

	<div id="products-panels">

		<?php
			$_panel_iterator = 0;
		?>

		<?php foreach($_collections as $key => $collection) :?>
		
			<?php
				$_iterator = 0;
				$carousel_id = 'carousel' . $key;
			?>
			<div class="panelContent center">
			
				<div id="<?php echo $carousel_id ; ?>" class="article item_carousel loading rows<?php echo $numRows ;?>">
					
					<?php if (count($collection) <= $itemsPerPage) :?>
					<div class="table">
					<?php endif ;?>
					 <ul class="rows<?php echo $numRows ;?> without-mask">
					
						<?php foreach($collection as $_product): ?>
		
						<?php 
						$_url = 			Mage::getBaseUrl().$_product->getCategoryUrl().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_product),"/");
						$_name = 			$this->htmlEscape($_product->getName());
						$_name_by_brand = 	($_product->getCategoryName()) ? $_name . ' ' . $this->__('by') . ' ' . $_product->getCategoryName() : $_name;
						// $_sex = 			Mage::helper('attribute/Attribute')->getOptionBackendValue('sex', $_product->getSex());
						$_sex = FALSE;
						// $cheapest = 		Mage::helper('boutique/Product')->getCheapestSimple($_product);
						
						?>
						<li class="item link">
							<div class="product">
								<?php if($_sex) :?>
									<span class="icon24 sex sex_<?php echo $_sex; ?>"></span>
								<?php endif ;?>
								<a href="<?php echo $_url ?>" title="<?php echo $_name_by_brand ?>" class="picture"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepTransparency(false)->resize(160) ?>" width="160" height="160" alt="<?php echo $_name ?>" /></a>
		
								<div class="details mt15">
								
									<span class="uppercase"><strong><?php echo $_product->getCategoryName() ?></strong></span><br />
									<strong><?php echo $_name ?></strong>
									
									<div id="simpleInfo<?php echo $_panel_iterator . $_iterator; ?>" style="height:30px;" class="spinner simpleInfo<?php echo  $_panel_iterator ; ?>" data-id="<?php echo $_product->getId(); ?>"></div>
									
								</div>
							</div>
						</li>
						<?php
							$_iterator++ ;
						?>
						<?php endforeach ?>
					</ul>
					<?php if (count($collection) <= $itemsPerPage) :?>
					</div>
					<?php endif ;?>
					<div class="clearfix"></div>
				</div>
			
				<script type="text/javascript">
				
					jQuery(document).ready(function()
					{
						// brand product carousel
						if(jQuery('#<?php echo $carousel_id ; ?>').length > 0)
						{
							$j('#<?php echo $carousel_id ; ?>').carousel({
								itemsPerPage: <?php echo $itemsPerPage ;?>,
								itemsPerTransition: <?php echo $itemsPerPage ;?>,
								noOfRows: <?php echo $numRows ;?>,
								pagination: false,
								speed: 500,
								nextText:'<?php echo($this->__('Next Products')) ;?>',
								prevText:'<?php echo($this->__('Prev Products')) ;?>'
							});
							$j('#<?php echo $carousel_id ; ?> li').click(function(event)
							{
								a = $j('a:first', this).attr('href');
								if (a)
								{
									window.location.href = a;
								}
							});
						}
					});
				
				</script>
			</div>
			<?php
				$_panel_iterator++;
			?>

		<?php endforeach ;?>
	</div>

	<script type="text/javascript">
		jQuery(document).ready(function()
		{
			var homePanels = new NosePanels({
				'nav' : 'products-nav',
				'panels' : 'products-panels'
			});
			<?php
			/*
			 * Get the price of each cheapest simple
			 * Load of the prices of the first products of each panel
			 * See nose.js
			 */
			?>
			$j('#products-nav li').each(function(idx, item)
			{
				getLowestProductInfos(
					'<?php echo Mage::getBaseUrl() ;?>boutique/product/getlowestinfos',
					'.simpleInfo' + idx,
					getLowestMasterIds('.simpleInfo'+ idx, 0, 5)
				);
			});
		});
	</script>

</div>

<div class="clearfix"></div>



<?php endif; ?>
