<?php
/**
 * Blocks :
 * 	Bundle : Mage_Bundle_Block_Checkout_Cart_Item_Renderer
 *
 */
?>
<?php

$_item = $this->getItem();
$_product = $_item->getProduct();

$_parent_product = Mage::helper('nose/Product')->getParentProductFromChildId($_item->getProductId());
$_category = Mage::helper('nose/Product')->getProductFirstCategory($_parent_product);

// Option : Nose/etc/config.xml
$size_attribute_id = Mage::getStoreConfig('nose/settings/attribute_lightspeed_product_size_id');
$size_attribute_code = Mage::getModel('eav/entity_attribute')->load($size_attribute_id)->getAttributeCode();
$color_attribute_id = Mage::getStoreConfig('nose/settings/attribute_lightspeed_product_color_id');
$color_attribute_code = Mage::getModel('eav/entity_attribute')->load($color_attribute_id)->getAttributeCode();

// Load bundle details
$child_collection = array();
if ($_product->getTypeId() == 'bundle')
{
	$child_collection = Mage::helper('nose/product')->getBundleChildProducts($_product);
}

// Only for giftcards
$cardType = array('email' => 'Email', 'print' => 'Print', 'offline' => 'Offline');


?>
<div class="cart-item">
  <div class="product-thumbnail">
    <div class="product-image">
      <img src="<?php echo $this->getProductThumbnail()->resize(120); ?>" alt="<?php echo $this->htmlEscape($this->getProductName()) ?>" />
    </div>
  </div>
  <div class="product-infos">
    <?php if($_category) :?>
      <div class="product-category">
        <?php echo $this->htmlEscape($_category->getName()) ?>
      </div>
    <?php endif; ?>
    <h2 class="product-name">
      <?php echo $this->htmlEscape($this->getProductName()) ?>
    </h2>
    <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
      <div class="product-price">
        <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
          <span class="cart-tax-total" onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
          <?php else: ?>
            <span class="cart-price">
            <?php endif; ?>

            <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
              <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?>
            <?php else: ?>
              <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()) ?>
            <?php endif; ?>

          </span>


          <?php if (Mage::helper('weee')->getApplied($_item)): ?>

            <div class="cart-tax-info" id="eunit-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
              <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <small>
                  <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                    <span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'],true,true); ?></span><br />
                  <?php endforeach; ?>
                </small>
              <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                  <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></small></span><br />
                <?php endforeach; ?>
              <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <small>
                  <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                    <span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span><br />
                  <?php endforeach; ?>
                </small>
              <?php endif; ?>
            </div>

            <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
              <div class="cart-tax-total" onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                <span class="nobr"><?php echo Mage::helper('weee')->__('Total'); ?>:<br /> <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?></span>
              </div>
            <?php endif; ?>
          <?php endif; ?>
        </div>
      <?php endif; ?>
      <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
        <div class="product-price">
          <?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>
          <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
            <span class="cart-tax-total" onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
            <?php else: ?>
              <span class="cart-price">
              <?php endif; ?>

              <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?>
              <?php else: ?>
                <?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxDisposition()) ?>
              <?php endif; ?>

            </span>
            <?php if (Mage::helper('weee')->getApplied($_item)): ?>

              <div class="cart-tax-info" id="unit-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
                <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                  <small>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                      <span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'],true,true); ?></span><br />
                    <?php endforeach; ?>
                  </small>
                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                  <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                    <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></small></span><br />
                  <?php endforeach; ?>
                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                  <small>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                      <span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span><br />
                    <?php endforeach; ?>
                  </small>
                <?php endif; ?>
              </div>

              <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <div class="cart-tax-total" onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                  <span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> <?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?></span>
                </div>
              <?php endif; ?>
            <?php endif; ?>
          </div>
        <?php endif; ?>
        <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
          <div class="product-price">
            <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>

              <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?>
              <?php else: ?>
                <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()) ?>
              <?php endif; ?>

              <div class="cart-tax-info" id="esubtotal-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
                <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                  <small>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                      <span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'],true,true); ?></span><br />
                    <?php endforeach; ?>
                  </small>
                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                  <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                    <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></small></span><br />
                  <?php endforeach; ?>
                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                  <small>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                      <span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span><br />
                    <?php endforeach; ?>
                  </small>
                <?php endif; ?>
              </div>

              <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <div class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                  <span class="nobr"><?php echo Mage::helper('weee')->__('Total'); ?>:<br /> <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?></span>
                </div>
              <?php endif; ?>
            <?php endif; ?>
          </div>
        <?php endif; ?>
        <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
          <div class="product-price">
            <?php $_incl = $this->helper('checkout')->getSubtotalInclTax($_item); ?>

            <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
              <?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?>
            <?php else: ?>
              <?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxRowDisposition()) ?>
            <?php endif; ?>



            <?php if (Mage::helper('weee')->getApplied($_item)): ?>

              <div class="cart-tax-info" id="subtotal-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
                <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                  <small>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                      <span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'],true,true); ?></span><br />
                    <?php endforeach; ?>
                  </small>
                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                  <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                    <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></small></span><br />
                  <?php endforeach; ?>
                <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                  <small>
                    <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                      <span class="nobr"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span><br />
                    <?php endforeach; ?>
                  </small>
                <?php endif; ?>
              </div>

              <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                <div class="cart-tax-total" onclick="taxToggle('subtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                  <span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> <?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?></span>
                </div>
              <?php endif; ?>
            <?php endif; ?>
          </div>
        <?php endif; ?>

        <?php
        $_productStock = $_product->getTypeId() == 'configurable'
        ? $_item->getOptionByCode('simple_product')->getProduct()
        : $_product;
        $stock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($_productStock);
        ?>
        <?php if ($stock->getQty() <= 0) : ?>
          <div class="product-attributes" style="margin-top: .5rem;">
            <div style="font-size: .7rem;"><?php echo $this->__('Product in backorder') ?></div>
          </div>
        <?php endif; ?>

        <?php if ($_parent_product && $_parent_product->getShortDescription()):?>
         <p><?php echo($_parent_product->getShortDescription()); ?></p>
       <?php endif;?>

       <?php
		/*
		 * Only GiftCards
		 */
		?>
		<?php if ($_card_type = $_item->getOptionByCode('card_type')):?>
			<?php if ($_card_type->getValue() == 'offline'): ?>
        <p>
          <?php echo $this->__('Card Type'); ?> : <strong><?php echo $this->__('Send by post office'); ?></strong><br/>
          <?php echo $this->__('Recipient Info') ;?> :
          <strong><?php echo($_item->getOptionByCode('mail_to')->getValue()); ?></strong><br/>

          <?php echo $this->__('Address') ;?> :
          <strong><?php echo($_item->getOptionByCode('offline_street')->getValue()); ?>,
           <?php echo($_item->getOptionByCode('offline_zip')->getValue()); ?>
           <?php echo($_item->getOptionByCode('offline_city')->getValue()); ?></strong>
         </p>
       <?php endif;?>
       <?php if ($_card_type->getValue() == 'email'): ?>
        <p>
          <?php echo $this->__('Card Type'); ?> : <strong><?php echo $this->__('E-mail'); ?></strong><br/>
          <?php echo $this->__('Recipient Info') ;?> :
          <strong><?php echo($_item->getOptionByCode('mail_to')->getValue()); ?></strong><br/>

          <?php echo $this->__('E-mail'); ?> :
          <strong><?php echo($_item->getOptionByCode('mail_to_email')->getValue()); ?></strong>
        </p>
      <?php endif;?>
      <?php if ($_card_type->getValue() == 'store'): ?>
        <p>
          <?php echo $this->__('Card Type'); ?> : <strong><?php echo $this->__('Get at store'); ?></strong><br/>
          <?php echo $this->__('Recipient Info') ;?> :
          <strong><?php echo($_item->getOptionByCode('mail_to')->getValue()); ?></strong><br/>

          <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('nose_giftcard_home_boutique_address')->toHtml(); ?>
        </p>
      <?php endif;?>


    <?php endif;?>

    <?php if ($_product->getTypeId() == 'bundle') :?>
     <?php foreach ($child_collection as $child_product) :?>
      <p>
       <?php echo $child_product->getCategory()->getName() ?>,
       <?php echo $child_product->getName() ?>
     </p>
   <?php endforeach; ?>
 <?php endif;?>


 <?php if ($addtInfoBlock = $this->getProductAdditionalInformationBlock()):?>
  <p><?php echo $addtInfoBlock->setItem($_item)->toHtml() ?></p>
<?php endif;?>
<?php
/*
 * Color / Size
 * Lightspeed attributes
 *
 */
?>
<div class="product-attributes">
  <?php
	/*
	 * Color Attribute
	 */
	?>
  <?php if ($_options = $this->getOptionList()):?>
    <?php foreach ($_options as $key => $_option) : ?>
      <?php if (isset($_option['label']) && $_option['label'] == $color_attribute_code) :?>
        <p class="product-attribute"><?php echo $this->htmlEscape($_option['value']) ;?></p>
      <?php endif;?>
    <?php endforeach; ?>
  <?php endif;?>
  <?php
  $sku = $_product->getSku();
  ?>
  <?php if (substr($sku, 0, 2) == 'S-') :?>
    <?php echo $this->__('Sample'); ?>
  <?php endif;?>

  <?php
		/*
		 * Size Attribute
		 */
		?>
    <?php if ($_options = $this->getOptionList()):?>
      <?php foreach ($_options as $key => $_option) : ?>
        <?php if (isset($_option['label']) && $_option['label'] == $size_attribute_code) :?>
          <p class="product-attribute"><?php echo $this->htmlEscape($_option['value']) ;?></p>
        <?php endif;?>
      <?php endforeach; ?>
    <?php endif;?>

  </div>

  <p><?php echo $this->__('Quantity'); ?>: <?php echo $_item->getQty() ?></p>
</div>

<div class="clearfix"></div>
</div>
