<?php
/**
 * Partikule
 *
 * @modified	2012.01.03
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Articles container
 *
 * @see Partikule_Ionize_Block_Articles
 *
 */

$articles = $this->getArticles();



?>

<?php if ($articles->count() > 0): ?>

<div class="col-main">


	<?php
		$_iterator = 0;
	?>
	
	<?php foreach($articles as $article) :?>
			
		<?php
			
			$_products = Mage::helper('ionize/article')->getProductCollectionFromId($article->getId());

			$_iterator++;
			$media = $article->getMedias()->getFirstItem();
		
		?>
		
		<div class="span-23 prepend-1 postpend-1 team mb40">
			<div class="span-5">
				<img src="<?= $media->getSource() ?>" />
			</div>
			<div class="span-17 last">
				<p class="title uppercase"><?php echo $article->getTitle(); ?></p>
				<p class="subtitle"><?php echo $article->getSubtitle() ;?></p>
				
				<div class="text">
					<?php if ($_products && count($_products) > 0) :?>
						<p>
						<?php
							$_product_iterator = 0;
						?>
						
						<strong>
						<?php if (count($_products) > 1) :?>
							<?php echo $this->__('Perfumes:'); ?>
						<?php else :?>
							<?php echo $this->__('Perfume:'); ?>
						<?php endif ;?>
						&nbsp;
						</strong>
						
						<?php foreach($_products as $_product) :?>
							<?php
							$cat_url = 			Mage::getBaseUrl().$_product->getCategoryUrl().'/';
							$_url = 			Mage::getBaseUrl().$_product->getCategoryUrl().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_product),"/");
							$_name = 			$this->htmlEscape($_product->getName());
							?>
							<?php if($_product_iterator > 0) :?>,<?php endif ;?>
							<a href="<?php echo $_url; ?>"><?php echo $_name?>, <?php echo $_product->getCategoryName() ?></a>
							
							<?php $_product_iterator++; ?>
						<?php endforeach ;?>
						</p>
					<?php endif;?>
				
					<?php echo $article->getContent() ;?>
				</div>
			</div>
		</div>

	<?php endforeach; ?>
		
</div>

<?php endif ;?>
