<?php
/**
 * Partikule
 *
 * @modified	2011.10.22
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Page Title
 *
 */
?>
<div class="center title">

	<strong class="title"><?php echo $this->getPageTitle(); ?></strong>

</div>
<div class="clearfix"></div>

