<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Article container
 *
 * @see Partikule_Ionize_Block_Articles
 *
 */

$page = $this->getPage();

// Try to get the URL refering article
$article = $this->getArticle();


if ( ! $article->hasData())
	$article = $this->getPageFirstArticle();



// Search for panel's break
/*
$searchArray = array("<hr />", "<hr/>");
$replaceArray = array("<hr>", "<hr>");
$content = str_replace($searchArray, $replaceArray, $article->getContent());

$panelContent = explode('<hr>', $content);
*/


?>

<?php
/*
 * Jobs slider
 *
 * Block : 		Partikule_Ionize_Block_Articles
 * Template : 	nose/article/slider/jobs.phtml
 *
 */
?>
<?php echo $this->getChildHtml('jobs'); ?>

<style>

h3.job{
	margin-left: -190px;
	margin-bottom: -16px;
	font-size: 11px;
	font-weight: normal;
}

</style>


<?php if ( $article->hasData() ) :?>


	<div id="article" class="article  prepend-2 append-2" data-id="<?php echo $article->getId() ;?>">
	
		
		<h3 class="col-title"><?php echo $article->getTitle() ;?></h3>
			
		<?php if ( $article->hasData() ) :?>
		
			<div class="summary center mt10">
				<?php echo $article->getSummary(); ?>
			</div>

			<div class="article-content prepend-5 mt20">
				<?php echo $article->getContent(); ?>
			</div>
		
			<script type="text/javascript">
				$j(document).ready(function() 
				{
					$j('div.article-content h3').each(function(idx, h3)
					{
						$j(h3).addClass('job');
						console.log(h3);
					});
				});
			</script>
			
			<div class="clearfix"></div>

			
			<div class="prepend-5">

				<hr />				
				<div class="center">
					<?php echo $this->__('In order to apply in Nose, please ensure you have made your diagnosis.'); ?>
				</div>
				<hr />				
				
				<div class="buttons-set">
					<?php
					
						$diag = Mage::helper('mynose/diagnostic')->getCurrentUserDiagnostic();
					
				        // If user is logged in, check his Diag.
				        // if no Diag, invite to do the Diag
				        // If Diag, button to apply
				        /*
				        if (Mage::getSingleton('customer/session')->isLoggedIn())
				        {
					        
					        
				        }
				        */
				        $_body = $this->__('Hello,') . "\n\n";
				        $_body .= $this->__('I apply for the job:') . "\n\n";
				        
				        // $_body .= $this->__('Referencce of the job:') . "\n";
				        $_body .= $this->__('Offer:') . ' ' . $article->getTitle() . "\n";

				        $_body = $_body . preg_replace('#<br\s*/?>#i', "\n", $article->getSummary());
				        $_body = strip_tags($_body);
				        
				        $_body = rawurlencode($_body);
				        
					?>
					<?php if (empty($diag)) :?>
						<button type="submit" title="<?php echo $this->__('Do the diagnostic') ?>" onclick="javascript:setLocation('<?php echo Mage::helper('mynose/url')->getDiagnoseUrl(); ?>');" class="button mb5"><span><span class="w140"><?php echo $this->__('Do the diagnostic') ?></span></span></button><br />
					<?php else: ?>
						<a class="button" href="mailto:<?php echo Mage::getStoreConfig('trans_email/ident_general/email'); ?>?subject=<?php echo $this->__('Application to'); ?> <?php echo $article->getTitle();?>&body=<?php echo $_body; ?>">
							<?php echo $this->__('Apply') ?>
						</a>
<!--
						<button type="submit" title="<?php echo $this->__('Apply') ?>" onclick="" class="button"><span><span class="w140">></span></span></button>				
-->
					<?php endif; ?>
					
			    </div>

			</div>


		<?php endif ;?>
	
	</div>

<?php endif ;?>
