<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Article container
 *
 * @see Partikule_Ionize_Block_Articles
 *
 */

$page = $this->getPage();

// Try to get the URL refering article
$article = $this->getArticle();


if ( ! $article->hasData())
	$article = $this->getPageFirstArticle();

$page_title = $article->getTitle() . ' / ' . $article->getSubtitle();

$view = ($article->getView()) ?  $article->getView() : 'article_news_big_picture';

?>

<?php
/*
 * Archives articles
 *
 * Block : 		Partikule_Ionize_Block_Articles
 * Template : 	nose/article/slider/archives.phtml
 *
 */
?>
<h3 class="col-title mb30"><?php echo $page->getSubtitle(); ?></h3>

<?php echo $this->getChildHtml('archives'); ?>


<h3 class="col-title"><?php echo $page_title ;?></h3>

<?php if ( $article->hasData() ) :?>


	<div id="article" class="article <?php echo $view; ?>" data-id="<?php echo $article->getId() ;?>">
	
			
		<?php
		/* 
		 * Article, with Ionize's defined view
		 *
		 */
		?>
		<?php echo $this->getChildHtml($view); ?>
		
		
		<div class="clearfix"></div>
		
		<?php
		/* 
		 * Product list
		 *
		 */
		?>
	   	<?php echo $this->getChildHtml('article_products') ?>
	
	</div>

<?php endif ;?>
