<?php
/**
 * Partikule
 *
 * @modified	2013.03.20
 *
 * @note		Close to article News.
 *				Displays one article, if not found, takes the page's first article
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2012 Partikule (http://www.partikule.net)
 *
 */

/**
 * Article container
 *
 * @see Partikule_Ionize_Block_Articles
 *
 */

$page = $this->getPage();

// Try to get the URL refering article
$article = $this->getArticle(array('type' => 'NULL'));


if ( ! $article->hasData())
{
	$article = $this->getPageFirstArticle(array('type' => 'NULL'));
//	$page_title = $this->__("Interview of the month");	
}

$article_title = $article->getTitle() . ' / ' . $article->getSubtitle();

?>

<?php
/*
 * Archives articles
 *
 * Block : 		Partikule_Ionize_Block_Articles
 * Template : 	nose/article/slider/archives.phtml
 *
 */
?>
<div class="col-main first">

<h3 class="col-title mb10"><?php echo $page->getSubtitle(); ?></h3>

<?php
/*
 * Downloadable PDF file
 *
 */
?>
<?php echo $this->getChildHtml('page_pdf_file') ?>



<?php echo $this->getChildHtml('archives'); ?>


<h3 class="col-title"><?php echo $article_title ;?></h3>

<?php if ( $article->hasData() ) :?>


	<div id="article" class="article" data-id="<?php echo $article->getId() ;?>">
	
		<?php
		/*
		 * Article's text
		 *
		 */
		?>
		<div class="bloc-press">
			<div class="bloc-press-content">
				<?php echo $article->getContent() ;?>		
			</div>
		</div>
		
	
		<?php
		/*
		 * Article's picture
		 *
		 */
		?>
		<div class="press-media">
	
			<?php
				$_iterator = 0;
				$medias = $article->getMedias();
			?>
	
			<?php if ( ! empty($medias) ) :?>
			
				<div id="news-scroller" class="scroller" >
				
					<?php if ( $medias->count() > 1 ) :?>
					<a class="next" href="#"></a>
					<a class="prev" href="#"></a>
					<?php endif ;?>		
	
					<div class="scroller-container">
						<div class="scroller-content">
							
							<?php foreach($medias as $media) :?>
					
								<?php $_iterator++; ?>
							
								<?php if ($media->getType() == 'picture') :?>
									<div id="panel<?php echo $_iterator; ?>" class="scroller-panel" style="background:url(<?= $media->getSource() ?>) no-repeat top left;)">
									</div>
								<?php endif ;?>		
							
								<?php if ($media->getType() == 'video') :?>
								<?php endif ;?>		
							
							
							<?php endforeach ;?>
						</div>
					</div>
	
				</div>
			
			<?php endif ;?>
				
		</div>
	
	
		<script type="text/javascript">
			$j(document).ready(function() 
			{
				<?php
				/*
				 * News pictures scroll
				 * 
				 */
				?>
				<?php if ( $medias->count() > 1 ) :?>

				var $container = $j('#news-scroller .scroller-content');
				var $panels = $j('#news-scroller div.scroller-panel');
	
				if ($panels[0]) {
					$container.css('width', $panels[0].offsetWidth * $panels.length);
				}
	
				$j('#news-scroller').serialScroll(
				{
					target: $j('#news-scroller .scroller-container'),
					items: $panels,
					prev: $j('#news-scroller a.prev'), 
					next: $j('#news-scroller a.next'),
					force: true,
					duration: 1000,
					interval: 6000,
					cycle: false,
					easing: 'easeInOutQuart',
					onBefore: function(e, elem, $pane, $items, pos) {
			            e.preventDefault();
	        		    if (this.blur) this.blur();
	        		},
	        		onAfter:function( elem, obj )
	        		{
	        			if ($j(elem).index() == ($panels.length -1))
	        			{
	        				obj.target.trigger('stop');
	        			}
					}
				});
				<?php endif ;?>
				
				
			});
		</script>
		
		
		<div class="clearfix"></div>
		
	
	
	</div>

<?php endif ;?>


<?php 
/*
 * One article, type : bottom_bloc
 * What the press said...
 *
 */
?>
<?php 
	$article = $this->getPageFirstArticle(array('type' => 'bottom'));
?>

<div>
	
	<?php if ( $article ) :?>
	
		<h3 class="col-title mb30"><?php echo $article->getTitle(); ?></h3>
		
		<div class="center">
			<?php echo $article->getContent() ;?>
		</div>
		
	<?php endif ;?>

</div>



</div>