<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		ionize_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Product list template
 * Used to display products linked to one page
 *
 * @see Partikule_Ionize_Block_Catalog_Product_List_Article
 *
 */
?>

<?php 

$productCollection = $this->getProductCollection();

// $numRows = ( $productCollection->count() > 6) ? 2 : 1;
$numRows = 1;
$itemsPerPage = 5;


?>

<?php if($productCollection && $productCollection->count() > 0): ?>

<div class="col-main mt30">

	<h3 class="col-title gray"><?php echo __('Products in this article') ?></h3>

	<div class="relative">

		<div class="clearfix"></div>
		<div id="article_carousel" class="article item_carousel rows<?php echo $numRows ;?>">
		
			<?php $_iterator = 0; ?>
		
			<?php if ($productCollection->count() <= $itemsPerPage) :?>
			<div class="table">
			<?php endif ;?>

			 <ul class="rows<?php echo $numRows ;?> without-mask">
			
				<?php foreach($productCollection as $_product): ?>
	
				<?php 
				$_url = 			Mage::getBaseUrl().$_product->getCategoryUrl().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_product),"/");
				$_name = 			$this->htmlEscape($_product->getName());
				$_name_by_brand = 	($_product->getCategoryName()) ? $_name . ' ' . $this->__('by') . ' ' . $_product->getCategoryName() : $_name;
				// $_sex = 			Mage::helper('attribute/Attribute')->getOptionBackendValue('sex', $_product->getSex());
				$_sex = FALSE;
	
				// Cheapest first simple child
				$cheapest = 		Mage::helper('boutique/Product')->getCheapestSimple($_product);
				$cheapest->load();
				
				?>
					<li class="item link">
						<div class="product">
							<?php if($_sex) :?>
								<span class="icon24 sex sex_<?php echo $_sex; ?>"></span>
							<?php endif ;?>
							<a href="<?php echo $_url ?>" title="<?php echo $_name_by_brand ?>" class="picture"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepTransparency(false)->resize(160) ?>" width="160" height="160" alt="<?php echo $_name ?>" /></a>
							<div class="details mt15">
								
								<span class="uppercase"><strong><?php echo $_product->getCategoryName() ?></strong></span><br />
								<strong><?php echo $_name ?></strong>

								<?php if ( ! is_null($cheapest) ) :?>
									<br/><span class="product-type"><?php echo $cheapest->getAttributeText('LIGHTSPEED_PRODUCT_COLOR') ;?></span><br />
									<?php echo $this->getPriceHtml($cheapest, true) ;?>
								<?php endif ;?>
							</div>
						</div>
					</li>
				<?php endforeach ?>
			</ul>
			<?php if ($productCollection->count() <= $itemsPerPage) :?>
			</div>
			<?php endif ;?>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<script type="text/javascript">


jQuery(document).ready(function()
{
	// brand product carousel
	if(jQuery('#article_carousel').length > 0)
	{
		$j('#article_carousel').carousel({
			itemsPerPage: <?php echo $itemsPerPage ;?>,
			itemsPerTransition: <?php echo $itemsPerPage ;?>,
			noOfRows: <?php echo $numRows ;?>,
			pagination: false,
			speed: 500,
			nextText:'<?php echo($this->__('Next Products')) ;?>',
			prevText:'<?php echo($this->__('Prev Products')) ;?>'
		});
	}

});


</script>


<?php endif; ?>
