<?php

/*
 * @see Partikule_Mynose_Block_Surprise
 *		which extends Partikule_Mynose_Block_Contact
 */
?>

<?php

$helpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_surprise_invitation_help')->toHtml();

// Message to the invited user
$message = $this->htmlEscape($this->getFormData()->getMessage());
if ($message == '')
	$message = strip_tags($this->getLayout()->createBlock('cms/block')->setBlockId('mynose_surprise_message')->toHtml());

$relationTypes = $this->getRelationTypes();

?>

<div class="page-title">
    <h2><?php echo $this->__('Invitation to a surprise') ?></h2>
    <?php if ( ! empty($helpBlock)): ?><a id="helperBtn1" class="helper-open"></a><?php endif ;?>
</div>

<?php if ( ! empty($helpBlock)): ?>
<div  id="helperBloc1" class="helper-bloc" data-id="1">
	<a class="helper-close"></a>
	<?php echo $helpBlock; ?>
</div>
<?php endif ;?>

<div class="span-16 prepend-2 append-2">


	<form name="surpriseForm" id="surpriseForm" method="post" class="nose-form" action="<?php echo Mage::helper('mynose/url')->getSurpriseFormUrl() ?>">
	

		<h3 class="title mt30"><?php echo $this->__("Receiver's profile") ?></h3>

		<div class="clearfix"></div>
		
		<?php
		/*
		 *
		 */ 
		?>
		<div class="span-8">
			
			<ul class="form-list">
				<li class="fields">
        			<label for="firstname" class="left required"><em>*</em><?php echo $this->__('Firstname') ?></label>
		        	<div class="input-box left">
		        	    <input type="text" name="firstname" id="firstname" value="<?php echo $this->htmlEscape($this->getFormData()->getFirstname()) ?>" title="<?php echo $this->__('Firstname') ?>" class="input-text required-entry w170" />
		        	</div>
	        	</li>
        	</ul>

		</div>

		<div class="span-8 last">

			<ul class="form-list">
				<li class="fields">
		        	<label for="lastname" class="left required"><em>*</em><?php echo $this->__('Lastname') ?></label>
		        	<div class="input-box right">
		        	    <input type="text" name="lastname" id="lastname" value="<?php echo $this->htmlEscape($this->getFormData()->getLastname()) ?>" title="<?php echo $this->__('Lastname') ?>" class="input-text required-entry w170" />
		        	</div>
	        	</li>
        	</ul>

		</div>

		
		
		<div class="span-8">
			
			<ul class="form-list">
				<li>
					<label for="gender" class="left pt5"><?php echo $this->__('Gender') ?></label>
					<div class="input-box gender w160">
					
					    <?php 
					    	$options = Mage::getResourceSingleton('customer/customer')->getAttribute('gender')->getSource()->getAllOptions();
					    	$value = $this->getGender();
					    	$_iterator = 0;
					    	$_nb_options = count($options);
					    ?>
						<?php foreach ($options as $option):?>
							<?php $_iterator ++; ?>
							<?php if ($option['value']) :?>
								<input type="radio" class="" id="gender<?php echo $option['value'] ?>" name="gender" value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $value) echo ' checked="checked"' ?>>
								<label class="sex<?php echo $option['value'] ?>" for="gender<?php echo $option['value'] ?>"><?php echo $option['label'] ?></label>&nbsp;
							<?php endif; ?>
						<?php endforeach;?>
					
					</div>
				</li>
        	</ul>

		</div>

		<div class="span-8 last">
			<ul class="form-list">
				<li class="fields">
		        	<label for="link" class="left"><?php echo $this->__('Link') ?></label>
		        	<div class="input-box right">
		        		<select name="link" id="link" style="width:178px;">
							<?php 
		        			/*
		        					        			<option value=""><?php echo $this->__('-- Link --') ?></option>

		        			*/
		        			?>		        			<?php foreach($relationTypes as $relation) :?>
		        				<option value="<?php echo($relation['id_relation_type']) ;?>"><?php echo( $relation['relation_name']) ;?></option>
		        			<?php endforeach ;?>
		        			<script type="text/javascript">
                                $('link').setAttribute('defaultValue', "<?php echo $this->getFormData()->getLink() ?>");
                            </script>

		        		</select>
		        	</div>
	        	</li>
        	</ul>
		</div>

		<div class="clearfix"></div>
		
		<h3 class="title mt30"><?php echo $this->__("Receiver's email") ?></h3>

		<div class="span-16 last">
			
			<ul class="form-list">
				<li class="fields">
        			<label for="email" class="left required"><em>*</em><?php echo $this->__('Email') ?></label>
		        	<div class="input-box left">
		        	    <input type="text" name="email" id="email" value="" title="<?php echo $this->__('Email') ?>" class="w260 input-text validate-email required-entry w170" />
		        	</div>
	        	</li>
        	</ul>

		</div>
		<div class="clearfix"></div>

		<h3 class="title mt30"><?php echo $this->__("The surprise") ?></h3>
		
		<div class="span-16 last">

			<ul class="form-list">
				<li class="fields">
		        	<label for="event" class="left"><?php echo $this->__('Message') ?></label>
		        	<div class="input-box left">
						<textarea name="message" class="w"><?php echo $message; ?></textarea>
					</div>
				</li>
			</ul>

<!--
			<ul class="form-list">
				<li class="fields">
		        	<label for="event" class="left"><?php echo $this->__('Event') ?></label>
		        	<div class="input-box left">
		        		<select name="event" id="event" style="width:178px;">
		        			<option value=""><?php echo $this->__('-- Select one event --') ?></option>
		        			<option value="1"></option>
		        			<option value="2"></option>
		        			<option value="3"></option>
		        			<option value="4"></option>
		        			<option value="5"></option>
		        		</select>
		        	</div>
	        	</li>
	        	
	        	<li>
		        	<label for="eventdate" class="left"><?php echo $this->__('Event Date') ?></label>
					<div class="input-box customer-dob" id="">
					    <div class="dob-day">
					             <input type="text" class="input-text validate-custom" title="Jour" value="12" name="day" id="day">
					             <label for="day" class="inline" style="display: none;">JJ</label>
					         </div><div class="dob-month">
					             <input type="text" class="input-text validate-custom" title="Mois" value="06" name="month" id="month">
					             <label for="month" class="inline" style="display: none;">MM</label>
					         </div><div class="dob-year">
					             <input type="text" class="input-text validate-custom" title="Année" value="1980" name="year" id="year" autocomplete="off">
					             <label for="year" class="inline" style="display: none;">AAAA</label>
					         </div>    <div style="display:none;" class="dob-full">
					        <input type="hidden" name="dob" id="dob">
					    </div>
					
					    <div style="display:none;" class="validation-advice"></div>
					</div>	        	
	        	</li>
        	</ul>
-->

		</div>

		<div class="clearfix"></div>
		
		
		<div class="buttons-set" id="contact-buttons-container">
			<button type="button" title="<?php echo $this->__('Send the surprise') ?>" class="button" onclick="surprise.save()"><span><span><?php echo $this->__('Send the surprise') ?></span></span></button>
		</div>
		
	</form>
	
	<script type="text/javascript">
	
		var surprise = new BasicForm('surpriseForm', '<?php echo Mage::helper('mynose/url')->getSurpriseFormUrl() ?>');

		var surpriseForm = new VarienForm('surpriseForm', true);
	
		// AutoCompleter
		jQuery(document).ready(function()
		{
			setOpenBlock('#block-contact');
		});
		
		<?php
		/*
		 * Facebook Invite button
		 *
		 *
		 */
		?>
		function sendRequestViaMultiFriendSelector() 
		{
			FB.ui({
				method: 'apprequests',
				message: '<?php echo $this->__('Discover Nose'); ?>',
			}, fbRequestCallback
			);
		}
		
		<?php
		/**
		 * Displays the result in the message box
		 *
		 * Call the controllers which saves the invitation
		 *
		 */
		?>
		function fbRequestCallback(response)
		{
			console.log(response);
			
			$.ajax({
				url: '<?php echo Mage::helper('mynose/url')->getFbRequestsSaveUrl() ?>',
				type: 'POST',
				data: response,
				success: function(data)
				{
					console.log(data);
				}
			}); 
		}				


	</script>
	
</div>	

	
	







