<?php

$invitation_url = 	Mage::helper('mynose/url')->getSurpriseInvitationUrl();
$contact_add_url = 		Mage::helper('mynose/url')->getContactAddUrl();
$contact_book_url = 		Mage::helper('mynose/url')->getContactBookUrl();
$calendar_url = 	Mage::helper('mynose/url')->getSurpriseCalendarUrl();

?>

<h2 class="col-title"><?php echo $this->__('Surprise Surprise') ?></h2>

<div class="span-5 first last mynose-welcome link">
	<a id="mynose_surprise_invitation" href="<?php echo  $invitation_url;?>" >
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_surprise_bloc_invitation')->toHtml() ?>
	</a>
</div>

<div class="span-5 mynose-welcome link">
	<a id="mynose_surprise_contact_add" href="<?php echo $contact_add_url ;?>">
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_surprise_bloc_addcontact')->toHtml() ?>
	</a>
</div>

<div class="span-5 mynose-welcome link">
	<a  id="mynose_surprise_contact_book" href="<?php echo $contact_book_url ;?>">
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_surprise_bloc_contactbook')->toHtml() ?>	
	</a>
</div>

<div class="span-5 last mynose-welcome link	">
	<a id="mynose_surprise_calendar" href="<?php echo $calendar_url ;?>">
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_surprise_bloc_calendar')->toHtml() ?>	
	</a>
</div>

