<?php
/**
 * Partikule
 *
 * @modified	2011.11.15
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Articles container
 *
 * @see Partikule_Ionize_Block_Articles
 *
 */


?>

<?php

/**
 * Ad
 * If one advertissement exists, only 2 news article will be displayed
 * If not, 3 news articles will be displayed
 *
 */
$ad = $this->getArticles(array(
	'type' => 'ad',
	'limit' => 1
));

$num_ad = count($ad);

$limit = ($num_ad > 0) ? 2 : 3;


/**
 * Middle articles
 *
 */
$articles = $this->getArticles(array(
	'type' => 'middle',
	'limit' => $limit
));

?>
<?php if ($articles->count() > 0): ?>

	<?php
		$_iterator = 0;
	?>
	
	<?php
	/*
	 * With AD
	 *
	 */
	?>
	<?php if($num_ad > 0 ) :?>
	
		<div class="col-main">
			<div class="span-66">
				<h3 class="col-title"><?= $this->__("News") ?></h3>

				<?php foreach($articles as $article) :?>
		
					<?php
					
						$_iterator++;
						$link = FALSE;
						// $media = $article->getMedias()->getFirstItem();

						$media = $article->getFirstType('picture', TRUE);
						if (  ! $media)
							$media = $article->getFirstType('picture');


						if ($article->getTargetUrl())
							$link = $article->getTargetUrl();

						$lang_link = $article->getExtend('link')->getContent();

						if ($link == FALSE && (!empty($lang_link)))
							$link = $lang_link;
					?>
			
					<div class="span-33<?php if ($_iterator%2 == 0):?> last<?php endif ;?>">
						<div class="bloc bloc-home-mag link" style="background:url(<?= $media->getSource() ?>) no-repeat top left;">
							<h4 class="bloc-title"><?= $article->getTitle(); ?></h4>
							
							<?php if ($link) :?>
								<a href="<?php echo $link ;?>"></a>
							<?php endif ;?>
							
							<div class="summary">
								<div class="summaryContent">
								<?php if( $article->getSummary() != '' ) : ?>
									<?php echo $article->getSummary() ;?>
								<?php endif ;?>
								</div>
							</div>
						</div>
					</div>
			
				<?php endforeach; ?>
			</div>
			
			<div class="span-33 last right">
				<?php foreach($ad as $article) :?>
		
					<?php
					
					$media = $article->getFirstType('picture', TRUE);
					if (  ! $media)
						$media = $article->getFirstType('picture');

					$link = FALSE;
					if ($article->getTargetUrl())
						$link = $article->getTargetUrl();

					$lang_link = $article->getExtend('link')->getContent();
					if ($link == FALSE && (!empty($lang_link)))
						$link = $lang_link;
				?>
			
					<div class="bloc-home-mag pointer p0">
						<a href="<?php echo $link; ?>">
							<img src="<?= $media->getSource() ?>" height="290" width="310" />
						</a>
					</div>
			
				<?php endforeach; ?>
				
			</div>
	
	
		</div>

	<?php
	/*
	 * Without AD
	 *
	 */
	?>
	<?php else :?>
		
		<div class="col-main">
			<h3 class="col-title"><?= $this->__("News") ?></h3>
	
			<?php foreach($articles as $article) :?>
	
				<?php
				
					$_iterator++;
					$link = FALSE;
					$media = $article->getMedias()->getFirstItem();

					if ($article->getTargetUrl())
						$link = $article->getTargetUrl();

					$lang_link = $article->getExtend('link')->getContent();

					if ($link == FALSE && (!empty($lang_link)))
						$link = $lang_link;

				?>
		
				<div class="span-33<?php if ($_iterator%3 == 0):?> last<?php endif ;?>">
					<div class="bloc bloc-home-mag link" style="background:url(<?= $media->getSource() ?>) no-repeat top left;">
						<h4 class="bloc-title"><?= $article->getTitle(); ?></h4>

						<?php if ($link) :?>
							<a href="<?php echo $link ;?>"></a>
						<?php endif ;?>

						<div class="summary">
							<div class="summaryContent">
							<?php if( $article->getSummary() != '' ) : ?>
								<?php echo $article->getSummary() ;?>
							<?php endif ;?>
							</div>
						</div>
					</div>
				</div>
		
			<?php endforeach; ?>
	
		</div>
		
	<?php endif ;?>

<?php endif ;?>


<?php
/**
 * Bottom articles
 *
 */
$articles = $this->getArticles(array(
	'type' => 'bottom',
	'limit' => 3
));

?>
<?php if ($articles->count() > 0): ?>

	<?php
		$_iterator = 0;
	?>

	<div class="col-main">
		<h3 class="col-title"><?= $this->__("What's new") ?></h3>

		<?php foreach($articles as $article) :?>

			<?php
			
				$_iterator++;
				$link = FALSE;
				$media = $article->getMedias()->getFirstItem();

				if ($article->getTargetUrl())
					$link = $article->getTargetUrl();

				$lang_link = $article->getExtend('link')->getContent();

				if ($link == FALSE && (!empty($lang_link)))
					$link = $lang_link;
			?>
	
			<div class="span-33<?php if ($_iterator%3 == 0):?> last<?php endif ;?>">
				<div class="bloc bloc-home-mag link" style="background:url(<?= $media->getSource() ?>) no-repeat top left;">
					<h4 class="bloc-title"><?= $article->getTitle(); ?></h4>

					<?php if ($link) :?>
						<a href="<?php echo $link ;?>"></a>
					<?php endif ;?>

					<div class="summary">
						<div class="summaryContent">
						<?php if( $article->getSummary() != '' ) : ?>
							<?php echo $article->getSummary() ;?>
						<?php endif ;?>
						</div>
					</div>
				</div>
			</div>
	
		<?php endforeach; ?>

	</div>

<?php endif ;?>



