<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Articles container
 *
 * @see Partikule_Ionize_Block_Articles
 *
 */

/*
 * Get articles from this pages and display them in a nice slider.
 *
 *
 */
$articles = $this->getArticles(array('type' => 'NULL'));

$numRows = 1;
$itemsPerPage = 5;
$startItemIndex = 0;

// Current article
$current_article = $this->getArticle(array('type' => 'NULL'));
if ( ! $current_article->hasData())
	$current_article = $this->getPageFirstArticle(array('type' => 'NULL'));

$_iterator = 0;

$_max_width = ($articles->count() <= 5) ? TRUE : FALSE;

?>


<?php if ( count($articles) > 0 ) :?>

<div id="news_carousel" class="news item_carousel rows1">

	<?php if($_max_width) :?>
	<div class="table">
	<?php endif ;?>

	<ul class="rows1 without-mask">

		<?php foreach($articles as $article) :?>
		<?php
			$media = $article->getMedias()->getFirstItem();
			
			// Animate to the current displayed article
			if ($current_article->getId() == $article->getId())
				$startItemIndex = $_iterator;
			
			$_iterator++;
		?>
		
		<li class="item link">
			<div class="post">
				<div class="picture">
					<a class="picture" href="<?php echo Mage::getBaseUrl() . $article->getPath() ;?>">
						<img src="<?php echo $this->helper('ionize/image')->init($media)->keepFrame(FALSE)->adaptiveResize(150,115, 'center', 'top') ;?>" class="des<?php if($current_article->getId() == $article->getId()) :?> current<?php endif ;?>" />
					</a>
				</div>
				<div class="details">
					<span class="uppercase"><strong><?php echo $article->getTitle() ?></strong></span><br />
					<strong><?php echo $article->getSubtitle() ?></strong><br/>
					<span><?php echo $article->getDate('d-M-Y') ;?></span>
				</div>
			</div>
		</li>

		<?php endforeach ;?>
	</ul>

	<?php if($_max_width) :?>
	</div>
	<?php endif ;?>

</div>


<script type="text/javascript">

	$j('#news_carousel ul li img.des').load(function()
	{
		if ( ! $j(this).hasClass('current'))
			desaturate($j(this));
	});
			
	$j(document).ready(function()
	{
		// carousel
		if($j('#news_carousel').length > 0)
		{
			$j('#news_carousel').carousel({
				itemsPerPage: <?php echo $itemsPerPage; ?>,
				itemsPerTransition: <?php echo $itemsPerPage; ?>,
				noOfRows: <?php echo $numRows; ?>,
				pagination: false,
				startItemIndex: <?php echo $startItemIndex ;?>, 
				speed: 500,
				nextText:'<?php echo($this->__('Next articles')) ;?>',
				prevText:'<?php echo($this->__('Prev articles')) ;?>'
			});
	
			$j('#news_carousel li').click(function(event)
			{
				a = $j('a:first', this).attr('href');
				if (a) { window.location.href = a; }
			});
		}
	});

</script>

<?php endif ;?>

