<?php
/**
 * Partikule
 *
 * @modified	2012.03.19
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2012 Partikule (http://www.partikule.net)
 *
 */

/**
 * Articles container
 *
 * @see Partikule_Ionize_Block_Articles
 *
 */

/*
 * Get articles from this pages and display them in a nice slider.
 *
 *
 */
$articles = $this->getArticles(array('type' => ''));

$numRows = 1;
$itemsPerPage = 5;
$startItemIndex = 0;

$_iterator = 0;

// $_max_width = ($articles->count() <= 5) ? (5-$articles->count()) * 150 : FALSE;
$_max_width = ($articles->count() <= 5) ? TRUE : FALSE;

?>

<div class="clearfix"></div>

<h3 class="col-title first mt15 mb20"><?php echo $this->__('Historique'); ?></h3>

<?php if ( $articles->count() > 0 ) :?>

<div id="intro_carousel" class="news small item_carousel rows1">

	<?php if($_max_width) :?>
	<div class="table">
	<?php endif ;?>

	<ul class="rows1  without-mask">

		<?php foreach($articles as $article) :?>
		<?php
			$media = $article->getMedias()->getFirstItem();
			
			$_iterator++;
		?>
		
		<li class="item link" style="cursor:default;">
			<div class="post">
				<div class="picture">
					<img src="<?php echo $this->helper('ionize/image')->init($media)->keepFrame(FALSE)->adaptiveResize(150,115, 'center', 'top') ;?>" class="des" />
				</div>
				<div class="details ">
					<span><?php echo $article->getDate('F Y') ;?></span>
					<p><strong><?php echo strip_tags($article->getSubtitle()) ?></strong></p>
					<p><?php echo strip_tags($article->getContent()) ?></p>
					<?php
					/*
					<span class="uppercase"><strong><?php echo $article->getTitle() ?></strong></span><br />
					<strong><?php echo $article->getSubtitle() ?></strong><br/>
					*/
					?>
				</div>
			</div>
		</li>

		<?php endforeach ;?>
	</ul>

	<?php if($_max_width) :?>
	</div>
	<?php endif ;?>

</div>


<script type="text/javascript">

/*
	$j('#news_carousel ul li img.des').load(function()
	{
		if ( ! $j(this).hasClass('current'))
			desaturate($j(this));
	});
*/
			
	$j(document).ready(function()
	{
		// carousel
		if($j('#intro_carousel').length > 0)
		{
			$j('#intro_carousel').carousel({
				itemsPerPage: <?php echo $itemsPerPage; ?>,
				itemsPerTransition: <?php echo $itemsPerPage; ?>,
				noOfRows: <?php echo $numRows; ?>,
				pagination: false,
				startItemIndex: <?php echo $startItemIndex ;?>, 
				speed: 500,
				nextText:'<?php echo($this->__('Next articles')) ;?>',
				prevText:'<?php echo($this->__('Prev articles')) ;?>'
			});
	
			$j('#intro_carousel li').click(function(event)
			{
				a = $j('a:first', this).attr('href');
				if (a) { window.location.href = a; }
			});
		}
	});

</script>

<?php endif ;?>

