<?php
/**
 * Template for filter items block
 *
 * @see Mage_Catalog_Block_Layer_Filter
 */
?>

<ul class="options-list">
  <?php foreach ($this->getItems() as $_item): ?>
    <li>
      <?php if ($_item->getCount() > 0): ?>
        <a class="filter-link" href="<?php echo $this->urlEscape($_item->getUrl()) ?>#shopSection">
          <?php echo $_item->getLabel() ?>
          <?php if ($this->shouldDisplayProductCount()): ?>
            <span class="count">(<?php echo $_item->getCount() ?>)</span>
          <?php endif; ?>
        </a>
      <?php else: ?>
        <span class="no-link">
          <?php echo $_item->getLabel() ?>
          <?php if ($this->shouldDisplayProductCount()): ?>
            <span class="count">(<?php echo $_item->getCount() ?>)</span>
          <?php endif; ?>
        </span>
      <?php endif; ?>
    </li>
  <?php endforeach ?>
</ul>
