<?php
/**
 * Category layered navigation
 *
 * @see Mage_Catalog_Block_Layer_View
 */
?>
<?php if($this->canShowBlock()): ?>
    <div class="filters">
        <?php echo $this->getStateHtml() ?>
        <?php if ($this->getLayer()->getState()->getFilters()): ?>
            <div class="actions"><a href="<?php echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a></div>
        <?php endif; ?>
        <?php if($this->canShowOptions()): ?>
            <?php $_filters = $this->getFilters() ?>
            <?php $_first = true ?>
            <?php foreach ($_filters as $_filter): ?>
                <?php if($_filter->getItemsCount()): ?>
                    <div class="filter<?php if ($_first) { echo " first open"; } ?> <?php echo strtolower($this->__($_filter->getName())) ?>">
                        <div class="filter-title"><?php echo $this->__($_filter->getName()) ?></div>
                        <div class="options"><?php echo $_filter->getHtml() ?></div>
                    </div>
                <?php $_first = false ?>
                <?php endif; ?>
            <?php endforeach; ?>
            <script type="text/javascript">decorateDataList('narrow-by-list')</script>
            <script type="text/javascript">
                jQuery(document).ready(function($) {
                    $('.filter-title').click(function(e) {
                        $(this).closest('.filter').toggleClass('open');
                    });
                });
            </script>
        <?php endif; ?>
    </div>
<?php endif; ?>
