<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Articles container
 *
 * @see Partikule_Ionize_Articles
 *
 */

// $articles = $this->getSliderArticleCollection();
$articles = $this->getArticles(array('type' => 'slider'));


/*
foreach($articles as $article)
{
	Mage::log($article->getTargetUrl(), null, 'article.log');
}
*/



?>

<?php if ( ! empty($articles)): ?>
	
	<?php
	
		$_iterator = 0;
		$_hasFirstVideo = FALSE;
	
	?>
	
	<!-- Articles Slider -->
	<div class="top-scroller">
		
		<?php echo $this->getChildHtml('page_subtitle'); ?>
		
		<!-- Scroller -->
		<div id="scroller" class="scroller" >

			<!-- Nav -->
			<?php if ($articles->count() > 1): ?>
			<ul class="scroller-nav">
				<?php foreach($articles as $article) :?>
					<li>
						<a href="#panel<?= $article->getId(); ?>">
							<?= $article->getTitle(); ?>
						</a>
					</li>
				<?php endforeach ;?>
			</ul>
			<?php endif ;?>
	
			<!-- Content -->
			<div class="scroller-container">
				<div class="scroller-content">
		
					<?php foreach($articles as $article) :?>
					
						<?php
							$_iterator++;
							/*
							 * getMedias() returns the colection item called "medias" of the article
							 * fromCurrentStore() filters medias on the current store code (see Model/Collection.php)
							 *
							 */
							 
							// $picture = $article->getMedias()->fromCurrentStore()->getFirstItem();
							$picture = $article->getFirstType('picture', true);
							if (  ! $picture)
								$picture = $article->getFirstType('picture');

							$video = $article->getFirstType('video', true);
					//Mage::log($video, null, 'partikule.log');

							if (  ! $video)
								$video = $article->getFirstType('video');
					//Mage::log($video, null, 'partikule.log');


					?>
						<?php if ($video && $video->isExternal() == FALSE) :?>
							
							<?php
								
								if ($_iterator == 1)
								{
									$_hasFirstVideo = TRUE;
								}
								
								// Try to get the first picture
/*
								if ($picture)
									Mage::log($picture->getPath(), null, 'partikule.log');
*/
								
							?>
							
							<div id="panel<?php echo $article->getId(); ?>" class="scroller-panel">
							
								<div class="video">

<?php 
/*
									<video height="410" width="570" id="video<?php echo $video->getIdMedia(); ?>" src="<?php echo $video->getSource() ?>" <?php if($picture) :?>poster="<?php echo $picture->getSource(); ?>"<?php endif ;?>>
									<source src="<?php echo $video->getSource() ?>" type="video/mp4"/>
									</video>

*/
?>
									
									<div id="video<?php echo $video->getIdMedia(); ?>"></div>


									
									<script type="text/javascript">
									
									  jwplayer("video<?php echo $video->getIdMedia(); ?>").setup({
									    flashplayer: '<?php echo $this->getSkinUrl('mediaplayer/player.swf') ;?>',
									    screencolor: 'fefefe',
									  	file: "<?php echo $video->getSource() ?>",
									//  	'controlbar': 'none',
									//  	controlbar.idlehide: true,
										'controlbar.position' : 'none',
									  	dock: false,
									  	<?php if($picture) :?>image: "<?php echo $picture->getSource(); ?>",<?php endif ;?>
/*
									  	modes: [
									        { type: 'html5' },
									        { type: 'flash', src: '<?php echo $this->getSkinUrl('mediaplayer/player.swf') ;?>' }
									    ],
*/
									    height: 488,
										width: 648,
										events: {
											onComplete: function() {
												initTopScroller();
									   		},
									   		onPlay: function(callback) {
//							   					initTopScroller(true);
					   							$j('#scroller .scroller-container').trigger('stop');

									   		},
									   		onPause: function(callback)
									   		{
									   			// jwplayer().getPlugin("controlbar").hide();
//												$j('#scroller').trigger('start.serialScroll');
									   		}
									  	}    
									  });
									  // jwplayer().getPlugin("display").hide();
									
									</script>
									<style>
										#video<?php echo $video->getIdMedia(); ?>_jwplayer_logo{display:none !important;}
									</style>
								</div>

							</div>
						<?php endif ;?>
						
						<?php if ($picture && ! $video) :?>

							<div id="panel<?php echo $article->getId(); ?>" class="scroller-panel <?php if ($article->getTargetUrl()) :?>link<?php endif ;?>" style="background:url(<?= $picture->getSource() ?>) no-repeat top left;)">
								<?php if ($article->getContent() != '') :?>
									<?php
										/*
										  Get the slider position
										  $pos = array(
										  		[0] => l,r		(Left or Right)
												[1] => 300		(Width of the box)
												[2] => 80		(Height of the box)
												[3] => 10		(Margin left or right, depending on $pos[0])
												[4] => 20		(Margin bottom)
										 *
										 */
										$sliderpos = $article->getExtend('sliderposition', true);
										
										// Position is a comma separated values string
										$pos = $sliderpos->getContent();
										$pos = explode(',', $pos);
										
										if (count($pos) != 5 OR ! isset($pos[0]) OR ! in_array($pos[0], array('l','r','c')))
										{
											$pos = $sliderpos->getDefaultValue();
											$pos = explode(',', $pos);
										}

										$style =  'width:'.$pos[1].'px;';
										$style .= 'height:'.$pos[2].'px;';
										$style .= (!empty($pos[4])) ? 'bottom:'.$pos[4].'px;' : '';
										if($pos[0] == 'l')
											$style .= (!empty($pos[3])) ? 'left:'.$pos[3].'px;' : '';
										else
											$style .= (!empty($pos[3])) ? 'right:'.$pos[3].'px;' : '';
									?>
									<div class="scroller-panel-content" style="<?php echo($style); ?>">
										<div class="text">
											<?php echo($article->getContent()) ;?>
										</div>
										<div class="bg"></div>
										
									</div>
								<?php endif ;?>
								<?php
									// Link to...
									$link = FALSE;
									if ($article->getTargetUrl())
										$link = $article->getTargetUrl();

									$lang_link = $article->getExtend('link')->getContent();

									if ($link == FALSE && (!empty($lang_link)))
										$link = $lang_link;
								?>
								<?php if ($link) :?>
								<a class="link" href="<?php echo $link ;?>"></a>
								<?php endif ;?>
							</div>
							
						<?php endif ;?>
						

						<?php if ($video && $video->isExternal() == TRUE) :?>
							<div id="panel<?php echo $article->getId(); ?>" class="scroller-panel">
							<iframe class="ext-video" width="650" height="490" src="<?php echo $video->getPath() ?>?wmode=transparent" frameborder="0" allowfullscreen ></iframe>
							</div>
						<?php endif ;?>
						
						
					<?php endforeach ;?>
				</div>
			</div>
			
		</div><!-- / Scroller -->
	
	</div>

	<?php if ($articles->count() > 1): ?>
	
	<script type="text/javascript">
		$j(document).ready(function()
		{
			initTopScroller();
		});
	</script>
	<?php endif ;?>
	
<?php endif ;?>
