<?php
/**
 *
 *
 *
 *
 */
?>
<?php
/**
 *
 * Product list template
 *
 * @see Partikule_Nose_Catalog_Product_List
 *
 */
?>
<?php

$_products = $this->getProductCollection();

// Adds the Category attributes : category_name / category_url
$_products = Mage::getModel('boutique/Category')->setCategoryData($_products);

/*
 * Also bought...
 *
 */
$also_bought_products = Mage::helper('nose/Product')->getAlsoBoughtProductCollection();


foreach($also_bought_products as $row)
{
	trace('sku : ' . $row->getSku());
}

// Collections of products collections
$_collections = array($_products);
if ( $also_bought_products->getSize() )
	$_collections[] = $also_bought_products;

$_helper = $this->helper('catalog/output');

// Current Brand : To display the boutique title : "Other product by ..."
$category = Mage::registry('current_category');


// Number of rows / items
$numRows =  1;
$itemsPerPage = 5;
$_iterator = 0;

// Uniq ID of the Carousel
$carousel_id = 'item_carousel';

?>


<?php if( $_products->getSize() ): ?>


<div class="col-main">

	<h3 class="col-title"><?php echo __('Boutique') ?></h3>


	<?php 
	/*
	 * Attributes Menu
	 *
	 *
	 */
	?>
	<div class="subnav-container center">
		<ul id="products-nav" class="subnav">
			<li class="active first"><a><span><?php echo $this->__('Other products by') ?> <?php echo ($category->getName()) ?></span></a></li>
			<?php if ( $also_bought_products->getSize() ) :?>
				<li><a><span><?php echo $this->__('Other also liked') ?></span></a></li>
			
			<?php endif ;?>
		</ul>
	</div>

	<div class="clearfix"></div>

	<div id="products-panels">

		<?php foreach($_collections as $key => $collection) :?>
		
			<?php
				$carousel_id = 'carousel' . $key;
			?>
			<div class="panelContent center">
			
				<div id="<?php echo $carousel_id ; ?>" class="article item_carousel loading rows<?php echo $numRows ;?>">
					
					 <ul class="rows<?php echo $numRows ;?> without-mask">
					
						<?php foreach($collection as $_product): ?>
		
						<?php 
						$_url = 			Mage::getBaseUrl().$_product->getCategoryUrl().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_product),"/");
						$_name = 			$this->htmlEscape($_product->getName());
						$_name_by_brand = 	($_product->getCategoryName()) ? $_name . ' ' . $this->__('by') . ' ' . $_product->getCategoryName() : $_name;
						$_sex = 			Mage::helper('attribute/Attribute')->getOptionBackendValue('sex', $_product->getSex());
						$cheapest = 		Mage::helper('boutique/Product')->getCheapestSimple($_product);
						
						?>
						<li class="item link">
							<div class="product">
								<?php if($_sex) :?>
									<span class="icon24 sex sex_<?php echo $_sex; ?>"></span>
								<?php endif ;?>
								<a href="<?php echo $_url ?>" title="<?php echo $_name_by_brand ?>" class="picture"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(160) ?>" width="160" height="160" alt="<?php echo $_name ?>" /></a>
		
								<div class="details mt15">
								
									<span class="uppercase"><strong><?php echo $_product->getCategoryName() ?></strong></span><br />
									<strong><?php echo $_name ?></strong>
									
									<?php if ( ! is_null($cheapest) ) :?>
										<br/><span class="product-type"><?php echo $cheapest->getAttributeText('LIGHTSPEED_PRODUCT_COLOR') ;?></span><br />
										<?php echo $this->getPriceHtml($cheapest, true) ;?>
									<?php endif ;?>
									
								</div>
							</div>
						</li>
						<?php endforeach ?>
					</ul>
					<div class="clearfix"></div>
				</div>
			
				<script type="text/javascript">
				
					jQuery(document).ready(function()
					{
						// brand product carousel
						if(jQuery('#<?php echo $carousel_id ; ?>').length > 0)
						{
							$j('#<?php echo $carousel_id ; ?>').carousel({
								itemsPerPage: <?php echo $itemsPerPage ;?>,
								itemsPerTransition: <?php echo $itemsPerPage ;?>,
								noOfRows: <?php echo $numRows ;?>,
								pagination: false,
								speed: 500,
								nextText:'<?php echo($this->__('Next Products')) ;?>',
								prevText:'<?php echo($this->__('Prev Products')) ;?>'
							});
							$j('#<?php echo $carousel_id ; ?> li').click(function(event)
							{
								a = $j('a:first', this).attr('href');
								if (a)
								{
									window.location.href = a;
								}
							});
						}
					});
				
				</script>
			</div>
		<?php endforeach ;?>
	</div>




	<div id="<?php echo $carousel_id ; ?>" class="article item_carousel loading rows<?php echo $numRows ;?>">
		
<!-- 		<h4 class="bloc-title"><?php echo $this->__('Other products by') ?> <?php echo ($category->getName()) ?></h4> -->
		
		<div class="clearfix"></div>
		
    	<ul class="rows<?php echo $numRows ;?> without-mask">
		
			<?php foreach($_products as $_product): ?>

				<?php 
				
	//           	$_category = Mage::registry('current_category');
				
				// $url = Mage::getBaseUrl().trim(Mage::getModel('catalog/product_url')->getUrlPath($_product,$_category),"/")
				$_url = 			Mage::getBaseUrl().$_product->getCategoryUrl().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_product),"/");
	
				$_name = 			$this->htmlEscape($_product->getName());
				$_name_by_brand = 	($_product->getCategoryName()) ? $_name . ' ' . $this->__('by') . ' ' . $_product->getCategoryName() : $_name;
	
				$_sex = 			Mage::helper('attribute/Attribute')->getOptionBackendValue('sex', $_product->getSex());
	
				// Cheapest first simple child
				$cheapest = 		Mage::helper('boutique/Product')->getCheapestSimple($_product);
	
				?>
				<li class="item link">
					<div class="product">
						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_name_by_brand ?>" class="picture" style="background:url(<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(160) ?>) no-repeat 50% top;"></a>
					</div>
					<div class="details">
<!-- 						<span class="uppercase"><strong><?php echo $_product->getCategoryName() ?></strong></span><br /> -->
						<strong><?php echo $_name ?></strong>
	
	
						<?php if ( ! is_null($cheapest) ) :?>
							<br/><span class="product-type"><?php echo $cheapest->getAttributeText('LIGHTSPEED_PRODUCT_COLOR') ;?></span><br />
							<?php echo $this->getPriceHtml($cheapest, true) ;?>
						<?php endif ;?>
	
					</div>
				</li>
			<?php endforeach ?>
		
		</ul>
	</div>
</div>

<div class="clearfix"></div>


<script type="text/javascript">

jQuery(document).ready(function()
{
	// brand product carousel
	if(jQuery('#<?php echo $carousel_id ; ?>').length > 0)
	{
		$j('#<?php echo $carousel_id ; ?>').carousel({
			itemsPerPage: <?php echo $itemsPerPage ;?>,
			itemsPerTransition: <?php echo $itemsPerPage ;?>,
			noOfRows: <?php echo $numRows ;?>,
			pagination: false,
			speed: 500,
			nextText:'<?php echo($this->__('Next Products')) ;?>',
			prevText:'<?php echo($this->__('Prev Products')) ;?>'			
		});

		$j('#<?php echo $carousel_id ; ?> li').click(function(event)
		{
			a = $j('a:first', this).attr('href');
			if (a)
			{
				window.location.href = a;
			}
		});
	}
});

</script>



<?php endif; ?>
