<?php
/**
 * Product Range
 * see Partikule_Nose_Block_Catalog_Product_List_Range
 *
 */
?>

<?php if($this->getItems()->getSize()): ?>

	<div class="product-related">
		<ul class="without-mask">
			<?php foreach($this->getItems() as $_item): ?>
			<li>
				<a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>">
					<img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(110) ?>" width="110" height="110" alt="<?php echo $this->htmlEscape($_item->getName()) ?>" />
					<?php echo $this->htmlEscape($_item->getName()) ?>
				</a>
			</li>
			<?php endforeach ?>
		</ul>
	</div>

	<script type="text/javascript">

	$j(document).ready(function() {

		// product images carousel
		if($j('.product-related').length > 0) 
		{
			$j('.product-related').carousel({
				itemsPerPage: 3,
				itemsPerTransition: 3,
				noOfRows: 1,
				pagination: false,
				speed: 250,
				nextText:'<?php echo($this->__('Next Products')) ;?>',
				prevText:'<?php echo($this->__('Prev Products')) ;?>'
			});
		}
		$j('.product-related li').click(function(event)
		{
			a = $j('a:first', this).attr('href');
			if (a)
			{
				window.location.href = a;
			}
		});
	});

	</script>

<?php endif ?>
