<?php
/**
 * Partikule : Replaced the standard Select box by Radio boxes
 *
 */
?>
<?php

/**
 * If user was invited, we get its eNose ID
 * and we're able to feed the register form
 *
 *
 */
$invitedNoseUser = FALSE;
$invitedNoseUserId = Mage::getSingleton('core/session')->getInvitedUserNoseId();

if ($invitedNoseUserId)
{
	$invitedNoseUser = Mage::getModel('mynose/user')->getNoseUserFromId($invitedNoseUserId);
	
	if ($invitedNoseUser)
	{
		$this->setGender($invitedNoseUser['gender']);
	}
}


?>
<label for="<?php echo $this->getFieldId('gender')?>" class="left pt5 <?php if ($this->isRequired()) echo ' required' ?>"><?php if ($this->isRequired()) echo '<em>*</em>' ?><?php echo $this->__('Gender') ?></label>
<div class="input-box gender">

    <?php 
    	$options = Mage::getResourceSingleton('customer/customer')->getAttribute('gender')->getSource()->getAllOptions();
    	$value = $this->getGender();
    	$_iterator = 0;
    	$_nb_options = count($options);
    ?>

<?php

//trace(count($options));

?>
	<?php foreach ($options as $option):?>
		<?php $_iterator ++; ?>
		<?php if ($option['value']) :?>
			<input type="radio" <?php if($this->isRequired() && ($_iterator == $_nb_options)) :?>class="validate-one-required" <?php endif ;?> id="gender<?php echo $option['value'] ?>" name="<?php echo $this->getFieldName('gender')?>" value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $value) echo ' checked="checked"' ?>>
			<label class="sex<?php echo $option['value'] ?>" for="gender<?php echo $option['value'] ?>"><?php echo $option['label'] ?></label>&nbsp;
		<?php endif; ?>
	<?php endforeach;?>

</div>
