<?php
/**
 * Modified version for Nose :
 *
 * - Loads the product : description
 * - Load the category : Link to the product page
 *
 * 29.11.2012 :
 * - Displays bundled products detail
 * - Do not forget to mod : app/design/frontend/nose/default/template/checkout/onepage/review/item.phtml
 *   in case of modifying this file.
 *
 * Block :
 */
?>
<?php
$_item = $this->getItem();
$_product = $this->getProduct();
$_is_sample = FALSE;

$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();

// Load bundle details
$child_collection = array();
if ($_product->getTypeId() == 'bundle')
{
	$child_collection = Mage::helper('nose/product')->getBundleChildProducts($_product);
}

$_is_sample = substr($_item->getSku(),0,1) == 'S';
$_parent_product = Mage::helper('nose/Product')->getParentProductFromChildSku($_item->getSku());

$_category = Mage::helper('nose/Product')->getProductFirstCategory($_parent_product);

if ($_category)
{
	$_url = $_category->getUrl().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_parent_product),"/");
}
else
{
	$_url = '';
}

// Option : Nose/etc/config.xml
$size_attribute_id = Mage::getStoreConfig('nose/settings/attribute_lightspeed_product_size_id');
$size_attribute_code = Mage::getModel('eav/entity_attribute')->load($size_attribute_id)->getAttributeCode();
$color_attribute_id = Mage::getStoreConfig('nose/settings/attribute_lightspeed_product_color_id');
$color_attribute_code = Mage::getModel('eav/entity_attribute')->load($color_attribute_id)->getAttributeCode();

?>
<div class="cart-item">
	<div class="product-thumbnail">
		<?php if ($this->hasProductUrl()):?>
			<a href="<?php echo $_url ?>" title="<?php echo $this->htmlEscape($this->getProductName()) ?>" class="product-image">
			<?php endif;?>
			<img src="<?php echo $this->getProductThumbnail()->resize(120); ?>" alt="<?php echo $this->htmlEscape($this->getProductName()) ?>" />
			<?php if ($this->hasProductUrl()):?>
			</a>
		<?php endif;?>
	</div>

	<div class="product-controls">
		<div class="quantity-box <?php if ( ! $_is_sample): ?> quantity<?php endif ;?>">
			<?php if ( ! $_is_sample && !Mage::helper('freesample')->isFreesampleBundle($_item->getProduct())): ?>
				<input name="cart[<?php echo $_item->getId() ?>][qty]" rel="qty.<?php echo $_item->getId() ?>" value="<?php echo $this->getQty() ?>" size="4" title="<?php echo $this->__('Qty') ?>" class="input-text qty" maxlength="12" />
				<div class="plus-minus">
					<span class="qty_change add qty-increment" rel="qty.<?php echo $_item->getId() ?>">+</span>
					<span class="qty_change sub qty-decrement" rel="qty.<?php echo $_item->getId() ?>">-</span>
				</div>
			<?php else:?>
				<input type="hidden" name="cart[<?php echo $_item->getId() ?>][qty]" value="<?php echo $this->getQty() ?>"  />
				<?php echo $this->getQty() ?>

			<?php endif ;?>
		</div>
		<br>
		<?php // Remove ?>
		<div class="remove">
			<a href="<?php echo $this->getDeleteUrl()?>" title="<?php echo $this->__('Remove item')?>" class="<?php echo Mage::helper('freesample')->isFreesampleBundle($_item->getProduct()) ? 'no-replace' : ''; ?>"><?php echo $this->__('Remove item')?></a>
		</div>
	</div>

	<div class="product-infos">
		<div class="product-category">
			<?php echo $this->__('Memo'); ?>
		</div>
		<h2 class="product-name">
			<?php if ($_is_sample) : ?>
				<a href="<?php echo $_url ?>"><?php echo $this->htmlEscape($_parent_product->getName()) ?></a>
			<?php else : ?>
				<?php if (!empty($_url)) : ?>
					<a href="<?php echo $_url ?>"><?php echo $this->htmlEscape($this->getProductName()) ?></a>
				<?php else : ?>
					<?php echo $this->htmlEscape($this->getProductName()) ?>
				<?php endif; ?>
			<?php endif; ?>
		</h2>


		<?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
			<div class="product-price one" style="display: none;">
				<?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>

				<span class="price excl-tax-price" style="display: none;">
					<?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getTaxAmount()); ?>
				</span>

				<span class="cart-price unit-price">

					<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
						<?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?>
					<?php else: ?>
						<?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxDisposition()) ?>
					<?php endif; ?>

				</span>
				<?php if (Mage::helper('weee')->getApplied($_item)): ?>

					<div class="cart-tax-info" id="unit-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
						<?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
							<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
								<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'],TRUE,TRUE); ?></span>
							<?php endforeach; ?>
						<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
							<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
								<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],TRUE,TRUE); ?></span>
							<?php endforeach; ?>
						<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
							<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
								<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],TRUE,TRUE); ?></span>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>

					<?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
						<div class="cart-tax-total" onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
							<span class="weee"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>: <?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?></span>
						</div>
					<?php endif; ?>
				<?php endif; ?>
			</div>
		<?php endif; ?>


		<?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
			<div class="product-price two">

				<span class="cart-price">

					<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
						<?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?>
					<?php else: ?>
						<?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()) ?>
					<?php endif; ?>

				</span>


				<?php if (Mage::helper('weee')->getApplied($_item)): ?>

					<div class="cart-tax-info" id="eunit-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
						<?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
							<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
								<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'],TRUE,TRUE); ?></span>
							<?php endforeach; ?>
						<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
							<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
								<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],TRUE,TRUE); ?></span>
							<?php endforeach; ?>
						<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
							<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
								<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],TRUE,TRUE); ?></span>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>

					<?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
						<div class="cart-tax-total" onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
							<span class="weee"><?php echo Mage::helper('weee')->__('Total'); ?>: <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?></span>
						</div>
					<?php endif; ?>
				<?php endif; ?>
			</div>
		<?php endif; ?>

		<?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
			<div class="product-price three">
				<span class="cart-price">

					<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
						<?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?>
					<?php else: ?>
						<?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()) ?>
					<?php endif; ?>

				</span>
				<?php if (Mage::helper('weee')->getApplied($_item)): ?>

					<div class="cart-tax-info" id="esubtotal-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
						<?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
							<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
								<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'],TRUE,TRUE); ?></span>
							<?php endforeach; ?>
						<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
							<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
								<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],TRUE,TRUE); ?></span>
							<?php endforeach; ?>
						<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
							<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
								<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],TRUE,TRUE); ?></span>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>

					<?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
						<div class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
							<span class="weee"><?php echo Mage::helper('weee')->__('Total'); ?>: <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?></span>
						</div>
					<?php endif; ?>
				<?php endif; ?>
			</div>
		<?php endif; ?>

		<?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
			<div class="product-price four">
				<?php $_incl = $this->helper('checkout')->getSubtotalInclTax($_item); ?>
				<span class="cart-price">

					<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
						<?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?>
					<?php else: ?>
						<?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxRowDisposition()) ?>
					<?php endif; ?>

				</span>


				<?php if (Mage::helper('weee')->getApplied($_item)): ?>

					<div class="cart-tax-info" id="subtotal-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
						<?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
							<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
								<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'],TRUE,TRUE); ?></span>
							<?php endforeach; ?>
						<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
							<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
								<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],TRUE,TRUE); ?></span>
							<?php endforeach; ?>
						<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
							<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
								<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],TRUE,TRUE); ?></span>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>

					<?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
						<div class="cart-tax-total" onclick="taxToggle('subtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
							<span class="weee"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>: <?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?></span>
						</div>
					<?php endif; ?>
				<?php endif; ?>
			</div>
		<?php endif; ?>

		<?php
		$_productStock = $_product->getTypeId() == 'configurable'
		? $_item->getOptionByCode('simple_product')->getProduct()
		: $_product;
		$stock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($_productStock);
		?>
		<?php if ($stock->getQty() <= 0) : ?>
			<div>
				<i><?php echo $this->__('Product in backorder') ?></i>
			</div>
		<?php endif; ?>
		<?php if($_product->getTypeId() == 'bundle') :?>

			<?php foreach ($child_collection as $child_product) :?>
				<span class="pl10">
					<?php echo $child_product->getCategory()->getName() ?>,
					<?php echo $child_product->getName() ?>
				</span><br/>

			<?php endforeach; ?>

		<?php else:?>
			<?php if ($_options = $this->getOptionList()):?>
				<?php foreach ($_options as $key => $_option) : ?>
					<?php if (isset($_option['option_id']) && $_option['option_id'] == $color_attribute_id) :?>
						<?php echo $this->htmlEscape($_option['value']) ;?>
					<?php endif;?>
				<?php endforeach; ?>
			<?php endif;?>
		<?php endif;?>

		<?php if (Mage::helper('freesample')->isFreesampleBundle($_item->getProduct())) : ?>
			<a href="#modal-freesample"><?php echo $this->__('Edit my samples'); ?></a>
		<?php endif; ?>

		<?php
		/*
		 * Do not display availability message for bundle children
		 */
		?>
		<?php if ( ! $_product->getTypeId() == 'bundle') :?>
			<?php if ($messages = $this->getMessages() && TRUE==FALSE): ?>
				<?php foreach ($messages as $message): ?>
					<p class="item-msg <?php echo $message['type'] ?>">* <?php echo $message['text'] ?></p>
				<?php endforeach; ?>
			<?php endif; ?>
		<?php endif; ?>


		<?php if ($addtInfoBlock = $this->getProductAdditionalInformationBlock()):?>
			<?php echo $addtInfoBlock->setItem($_item)->toHtml() ?>
		<?php endif;?>

		<?php if ($this->helper('wishlist')->isAllowInCart()) : ?>
			<div class="a-center">
				<?php if ($isVisibleProduct): ?>
					<input type="checkbox" value="1" name="cart[<?php echo $_item->getId() ?>][wishlist]" title="<?php echo $this->__('Move to Wishlist') ?>" class="checkbox" />
				<?php endif ?>
			</div>
		<?php endif ?>
		<div class="product-attributes">
			<div class="product-attribute">
				<?php if ($_product->getTypeId() != 'bundle') :?>
					<?php if ($_options = $this->getOptionList()):?>
						<?php foreach ($_options as $key => $_option) : ?>
							<?php if (isset($_option['label']) && $_option['label'] == $color_attribute_code) :?>
								<?php echo $this->htmlEscape($_option['value']) ;?>
							<?php endif;?>
						<?php endforeach; ?>
					<?php endif;?>
					<?php
					$sku = $_product->getSku();
					?>
					<?php if (substr($sku, 0, 2) == 'S-') :?>
						<?php echo $this->__('Sample'); ?>
					<?php endif;?>
				<?php endif ;?>
			</div>

			<div class="product-attribute">
				<?php if ($_options = $this->getOptionList()):?>
					<?php foreach ($_options as $key => $_option) : ?>
						<?php if (isset($_option['label']) && $_option['label'] == $size_attribute_code) :?>
							<?php echo $this->htmlEscape($_option['value']) ;?>
						<?php endif;?>
					<?php endforeach; ?>
				<?php endif;?>
			</div>
		</div>

	</div>
	<div class="clearfix">

	</div>
</div>
