<?php
/**
 * Nose
 *
 * @category    design
 * @package     nose_default
 * @author		2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Language switcher template
 *
 * @see Mage_Page_Block_Switch
 *
 */
?>
<?php if(count($this->getStores())>1): ?>
<div class="form-language">

<!-- 	<label for="select-language"><?php echo $this->__('Your Language:') ?></label> -->
	<ul>
		<?php foreach ($this->getStores() as $_lang): ?>
		<li><a class="flag <?php echo $_lang->getCode() ?> <?php $_selected = ($_lang->getId() == $this->getCurrentStoreId()) ? 'active' : '' ?>" alt="<?php echo $_lang->getName() ?>" href="<?php echo $_lang->getCurrentUrl(true) ?>"></a></li>
		<?php endforeach; ?>
	</ul>
</div>
<?php endif; ?>


