<?php
/**
 *
 */
?>
<h2 class="col-title"><?php echo $this->__('Forgot Your Password?') ?></h2>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<form action="<?php echo $this->getUrl('*/*/forgotpasswordpost') ?>" method="post" id="form-validate" class="account-form center-form">


    <p class="center"><?php echo $this->__('Please enter your email below and we will send you a new password.') ?></p>
    <input type="text" name="email" alt="email" id="email_address" class="input-text required-entry validate-email" value="<?php echo $this->htmlEscape($this->getEmailValue()) ?>" placeholder="<?php echo $this->__('Email Address') ?>" />
    <br>
    <div class="buttons-set">
        <div class="clearfix"></div>
        <button type="submit" title="<?php echo $this->__('Submit') ?>" class="button icon-arrow-right"><?php echo $this->__('Submit') ?></button>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
var dataForm = new VarienForm('form-validate', true);
//]]>
</script>
