<?php
/**
 * Register to myNose
 *
 */
?>
<?php

Mage::app()->getLayout()->getBlock('catalog.topnav')->setActive('mynose');

/**
 * Origin and Status
 * See eNose tables :
 * - customer_status
 * - origin
 *
 */
$_ID_ORIGIN = 1;				// Website
$_ID_CUSTOMER_STATUS = 0;		// Prospect


/**
 * If user was invited, we get its eNose ID
 * and we're able to feed the register form
 *
 *
 */
$invitedNoseUser = FALSE;
$senderNoseUser = FALSE;
$invitedNoseUserId = Mage::getSingleton('core/session')->getInvitedUserNoseId();

if ($invitedNoseUserId)
{
	$invitedNoseUser = Mage::getModel('mynose/user')->getNoseUserFromId($invitedNoseUserId);
	if ($invitedNoseUser)
	{
		$senderId = Mage::getSingleton('core/session')->getSenderUserNoseId();
		$senderNoseUser = Mage::getModel('mynose/user')->getNoseUserFromId($senderId);

		$_ID_ORIGIN = 3;			// Invitation
		$_ID_CUSTOMER_STATUS = 1; 	// Invited

		if ( ! $this->getFormData()->getEmail())
			$this->getFormData()->setEmail($invitedNoseUser['email']);
	}
}



?>

<?php if($senderNoseUser) :?>
	<?php
  $sender_name = $senderNoseUser['firstname'] . ' ' . $senderNoseUser['lastname'];
  ?>
  <div class="span-14 prepend-3 append-3">

   <div  id="helperBloc1" class="helper-bloc full-width" data-id="1">
    <a class="helper-close"></a>
    <p><?php echo $this->__('You were invited by ') ;?><strong><?php echo $sender_name; ?></strong></p>
    <p><?php echo $this->__("That's why some information are already filled in.") ;?></p>
    <p><?php echo $this->__("Subscribe to accept this invitation and do your diagnostic.") ;?></p>
  </div>
</div>

<?php endif ;?>


<div class="account-create">

  <div class="account-steps">
    <div class="step active">1</div>
    <div class="step">2</div>
    <div class="step">3</div>
    <div class="step">4</div>
  </div>

  <div class="section-title"><?php echo $this->__('My profile'); ?></div>

  <?php echo $this->getChildHtml('inchoo_socialconnect_register'); ?>
  <div class="subsection-title"><?php echo $this->__('or'); ?></div>
  <?php echo $this->getChildHtml('form_fields_before')?>

  <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate" class="account-form">
    <?php
			/**
			 * Done like this to get the Customer Session messages
			 */
			Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true));
      ?>
      <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

      <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
      <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
      <input type="hidden" name="id_origin" value="<?php echo $_ID_ORIGIN; ?>" />
      <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />

      <?php
		/**
		 * Profile
		 *
		 */
		?>
    <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->toHtml() ?>

    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
    <?php if ($_gender->isEnabled()): ?>
      <?php echo $_gender->setGender($this->getFormData()->getGender())->toHtml() ?>
    <?php endif ?>

    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
    <?php if ($_dob->isEnabled()): ?>
      <?php echo $_dob->setDate($this->getFormData()->getDob())->toHtml() ?>
    <?php endif ?>


   <?php
		/**
		 * Email / Password
		 *
		 */
		?>

   <input type="text" name="email" id="email_address" value="<?php echo $this->htmlEscape($this->getFormData()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" placeholder="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" />

     <?php
                    /*
                    <div class="field">
                    	<label for="email_confirmation" class="left required"><em>*</em><?php echo $this->__('Email Address Confirmation') ?></label>
                    	<div class="input-box left">
                    	    <input type="text" name="email_confirmation" id="email_confirmation" value="<?php echo $this->htmlEscape($this->getFormData()->getConfirmationEmail()) ?>" title="<?php echo $this->__('Email Address Confirmation') ?>" class="input-text validate-cemail required-entry" />
                    	</div>
                    </div>
                    */
                    ?>

                  <?php
                /*
                <?php if ($this->isNewsletterEnabled()): ?>
                    <div class="input-box">
                        <input type="checkbox" name="is_subscribed" title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if($this->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox" />
                    </div>
                    <label for="is_subscribed"><?php echo $this->__('Sign Up for Newsletter') ?></label>
                <?php endif ?>
                */
                ?>


              <input type="Password" name="password" id="password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry" placeholder="<?php echo $this->__('Password') ?>" />
              <input type="hidden" name="confirmation" id="confirmation" />
                  <?php
                /*
                    <div class="field">
                        <label for="confirmation" class="required left"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
                        <div class="input-box left">
                            <input type="password" name="confirmation" title="<?php echo $this->__('Confirm Password') ?>" id="confirmation" class="input-text required-entry validate-cpassword" />
                        </div>
                    </div>
                */
                    ?>


                <?php
		/**
		 * Adress
		 *
		 */
		?>

    <?php if($this->getShowAddressFields()): ?>
      <div class="fieldset">
        <input type="hidden" name="create_address" value="1" />
        <h2 class="legend"><?php echo $this->__('Address Information') ?></h2>
        <ul class="form-list">
          <li class="fields">
            <div class="field">
              <label for="company"><?php echo $this->__('Company') ?></label>
              <div class="input-box">
                <input type="text" name="company" id="company" value="<?php echo $this->htmlEscape($this->getFormData()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text" />
              </div>
            </div>
            <div class="field">
              <label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
              <div class="input-box">
                <input type="text" name="telephone" id="telephone" value="<?php echo $this->htmlEscape($this->getFormData()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text required-entry" />
              </div>
            </div>
          </li>
          <li class="wide">
            <label for="street_1" class="required"><em>*</em><?php echo $this->__('Street Address') ?></label>
            <div class="input-box">
              <input type="text" name="street[]" value="<?php echo $this->htmlEscape($this->getFormData()->getStreet(1)) ?>" title="<?php echo $this->__('Street Address') ?>" id="street_1" class="input-text required-entry" />
            </div>
          </li>
          <?php for ($_i=2, $_n=$this->helper('customer/address')->getStreetLines(); $_i<=$_n; $_i++): ?>
            <li class="wide">
              <div class="input-box">
                <input type="text" name="street[]" value="<?php echo $this->htmlEscape($this->getFormData()->getStreet($_i)) ?>" title="<?php echo $this->__('Street Address %s', $_i) ?>" id="street_<?php echo $_i?>" class="input-text" />
              </div>
            </li>
          <?php endfor ?>
          <li class="fields">
            <div class="field">
              <label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
              <div class="input-box">
                <input type="text" name="city" value="<?php echo $this->htmlEscape($this->getFormData()->getCity()) ?>" title="<?php echo $this->__('City') ?>" class="input-text required-entry" id="city" />
              </div>
            </div>
            <div class="field">
              <label for="region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
              <div class="input-box">
                <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                  <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                </select>
                <script type="text/javascript">
                            //<![CDATA[
                            $('region_id').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
                            //]]>
                          </script>
                          <input type="text" id="region" name="region" value="<?php echo $this->htmlEscape($this->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
                        </div>
                      </div>
                    </li>
                    <li class="fields">

<!--
                    <div class="field">
                        <label for="zip" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                        <div class="input-box">
                            <input type="text" name="postcode" value="<?php echo $this->htmlEscape($this->getFormData()->getPostcode()) ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international required-entry" />
                        </div>
                    </div>
                  -->
                  <div class="field">
                    <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                    <div class="input-box">
                      <?php echo $this->getCountryHtmlSelect() ?>
                    </div>
                  </div>
                </li>
              </ul>
              <input type="hidden" name="default_billing" value="1" />
              <input type="hidden" name="default_shipping" value="1" />
            </div>
          <?php endif; ?>






          <?php
				/**
				 * My country Here
				 *
				 */
				$_my_country = $this->getLayout()->createBlock('cust/widget_country');
				$_my_zip = $this->getLayout()->createBlock('cust/widget_zip');
       ?>
        <?php echo $_my_zip->setMy_zip($this->getFormData()->getMy_zip())->toHtml() ?>
        <?php echo $_my_country->setMy_country($this->getFormData()->getMy_country())->toHtml() ?>

      <?php
			/*
			 * Conditions
			 */
			?>
     <ul id="condition-message" class="messages" style="display:none">
      <li class="error-msg" >
       <ul>
        <li>
         <span>
          <?php echo $this->__('You must accept the Nose condition before continue'); ?>
        </span>
      </li>
    </ul>
  </li>
</ul>
  <input type="checkbox" id="condition" name="term_of_use" value="1" class="validate-one-required">
  <label id="condition-label" class="first last gray" class="pl5" for="condition">
   <?php
   $link_bloc = $this->getLayout()->createBlock('cms/block')->setBlockId('link_cgu_bloc')->toHtml();
   $link_bloc = strip_tags($link_bloc);
   $link = Mage::getBaseUrl() .$link_bloc;
   ?>
   <span class="label pl5"><?php echo $this->__('I agree with the') ?> <a onclick="nosePopWin('<?php echo $link ?>');return false;"><?php echo $this->__('nose conditions'); ?></a></span>
 </label>

<div class="clearfix"></div>

 <p class=" small"><?php echo $this->__('* Required Fields') ?></p>
 <br>
 <button id="submitRegistration" type="submit" title="<?php echo $this->__('Submit') ?>" class="button icon-arrow-right"><?php echo $this->__('Save and go to the diagnostic') ?></button>

</form>
</div>

<script type="text/javascript">
    //<![CDATA[
    Translator.add('Please make sure your email match.','<?php echo $this->__('Please make sure your email match.')?>');
    var dataForm = new VarienForm('form-validate', true);

    $j('#submitRegistration').click(function(){
      $j('#confirmation').val($j('#password').val());
      if ($j('#condition-label').hasClass('ui-checkbox-checked') == false)
      {
        showAjxMessage($j('#condition-message'), 'error', '<?php echo $this->__('You must accept the Nose condition before continue'); ?>');
      }
    });

    //]]>

  </script>
