<?php
/**
 *
 */
?>
<form id="discount-coupon-form" action="<?php echo $this->getUrl('checkout/cart/couponPost') ?>" method="post" class="account-form">
    <div class="discount cart-bottom-block">
        <h3 class="block-title"><?php echo $this->__('Discount Codes') ?></h3>
        <div class="column left">
            <input id="coupon_code" type="text" name="coupon_code" placeholder="<?php echo $this->__('Enter your coupon code if you have one.') ?>" value="<?php echo $this->htmlEscape($this->getCouponCode()) ?>" />
        </div>
        <div class="column right">
            <button type="button" title="<?php echo $this->__('Apply Coupon') ?>" class="button icon-arrow-right" onclick="discountForm.submit(false)" value="<?php echo $this->__('Apply Coupon') ?>"><?php echo $this->__('Apply Coupon') ?></button>
        <?php if(strlen($this->getCouponCode())): ?>
            &nbsp; <button type="button" title="<?php echo $this->__('Cancel Coupon') ?>" class="button icon-arrow-right" onclick="discountForm.submit(true)" value="<?php echo $this->__('Cancel Coupon') ?>"><?php echo $this->__('Cancel Coupon') ?></button>
        <?php endif;?>
        </div>
        <div class="clearfix"></div>
        <input type="hidden" name="remove" id="remove-coupone" value="0" />
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
var discountForm = new VarienForm('discount-coupon-form');
discountForm.submit = function (isRemove) {
    if (isRemove) {
        $('coupon_code').removeClassName('required-entry');
        $('remove-coupone').value = "1";
    } else {
        $('coupon_code').addClassName('required-entry');
        $('remove-coupone').value = "0";
    }
    return VarienForm.prototype.submit.bind(discountForm)();
}
//]]>
</script>
