<?php
/**
 *
 */
?>
<?php
/**
 * Shopping cart totals template
 *
 * @see Mage_Checkout_Block_Cart_Totals
 */
?>
<h3 class="block-title centered"><?php echo $this->__('Order summary'); ?></h3>
<table id="shopping-cart-totals-table" class="totals-table">
    <col />
    <col width="1" />
    <tfoot>
        <?php echo $this->renderTotals('footer'); ?>
    </tfoot>
    <tbody>
        <?php echo $this->renderTotals(); ?>
    </tbody>
</table>

<?php
/*
 * Very great JS hack because renderTotals doesn't use a template
 * Super !
 *

                /
               /               .'
              /              .'
             /   ______.   .'
            /   / __/_//  '  OWOWOWOWOOWOWW
           /   / /  @"@    OWOWOWOWOWOWOWOW
          /    \ G  ' >'  OWOWOWOWOWOWOWO  _.-'
         /      \/.  C '  OWOWOWOWOW   _.-'
        /     .---\  / --.         _.-'
       /     /     \(     \    _.-'    HOLY GOD
      /     /  \    \  (.  )  '
     /     /   /\       \ /
    /      \  |  \       \               __..--''
   /   .'   \_\   )     )\\      __..--''
  /  .'      ) \  |    /   \  -''
 / .'   _   '///` (   /\    \
/.' _.-'  __     /    ) )    )
'.-'..--''      /   ,' /    /
 .__---------- /__./  /    / --------------------a:f
    ``--..  __//  /   )   /                      ejm
           /    _J)   /)`-\
           `-__/-'  ` \\  |(
                       `\   \  -..__
                         `--'       ``--..__
                                            ``--



 */
?>

<script type="text/javascript">

/*
	$j('#shopping-cart-totals-table tr td').each(function()
	{
		$j(this).removeClass('a-right');
	});
*/


</script>
