<?php



$diagnose_url = 		Mage::helper('mynose/url')->getDiagnoseUrl();
$diagnostic_url = 		Mage::helper('mynose/url')->getDiagnoseResultUrl();
$evaluation_url = 		Mage::helper('mynose/url')->getEvalProductUrl();
$favorite_url = 		Mage::helper('mynose/url')->getFavoriteUrl();


$articles = $this->getArticles();



?>

<h2 class="col-title"><?php echo $this->__('My eNose') ?></h2>

<?php foreach($articles as $article) :?>

<div class="span-5 first last mynose-welcome link">
	<a id="" href="<?php echo $article->getTargetUrl() ;?>" >
		<?php
			$media = $article->getMedias()->getFirstItem();
		?>
		<img src="<?= $media->getSource() ?>" />
	</a>
	<h3><?php echo $article->getTitle() ?></h3>
	<?php echo $article->getContent() ;?>
</div>


<?php endforeach ;?>


