<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Articles container
 *
 * @see Partikule_Ionize_Block_Page
 *
 */


// Get the current Page Model
$page = $this->getPage();

// Get the current Page articles
$articles = $this->getArticles();


// Base URL with store code
$base_url = Mage::helper('nose/core')->getBaseUrl(TRUE);

?>



<?php if ($articles->count() > 0): ?>

	<div class="bloc-news-side span-7 last">

		<h3 class="bloc-title"><?php echo($this->getPageTitle()) ;?></h3>

		<?php
			$_iterator = 0;
		?>
	
		<?php foreach($articles as $article) :?>
			
			<?php
			
				$_iterator++;
				$media = $article->getMedias()->getFirstItem();
			
			?>
			<div class="bloc-news link<?php if($_iterator%$articles->count() == 0) :?> last<?php endif;?><?php if($_iterator == 1) :?> first<?php endif;?>">
				<div class="bloc-news-post">
					<div class="thumb">
						<?php if( $media->hasData() ) :?>
							<img class="thumb" src="<?php echo $media->getSource()?>" style="width:115px;"/>
						<?php endif ;?>
					</div>
					<div class="news-content">
						<p class="date"><?php echo($article->getDate()) ;?></p>
						<h4><a href="<?php echo $base_url . $article->getPath() ;?>"><?php echo $article->getTitle() ?></a></h4>
						<p class="read-more">
							<a href="<?php echo $base_url . $article->getPath() ;?>"><?php echo $this->__('read more'); ?> >></a>
						</p>
					</div>
				</div>
			</div>

		
		<?php endforeach; ?>

	</div>
	
<?php endif ;?>

<script type="text/javascript">
/*
	$('.bloc-news-post').css('cursor', 'pointer').hover(function()
	{
		$(this).addClass('hover');
	},function()
	{
		$(this).removeClass('hover');
		
	});
*/
</script>