		<?php 
		/*
		* Address : Billing
		*
		*/
		?>
		<div class="col-1">
		
			<h3 class="title center"><?php echo $this->__('Billing address'); ?></h3>
		
			<?php 
			/*
			* Has address : SELECT
			*
			*/
			?>
			<?php if ($this->customerHasAddresses()): ?>
				<p></p>
				<ul class="form-list">
					<li class="wide">
					<label for="billing-address-select"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></label>
					<?php echo $this->getAddressesHtmlSelect('billing') ?>
					</li>
				</ul>
			<?php endif; ?>
		
			<?php 
			/*
			* No Adress : New one
			*
			*/
			?>
			<ul class="form-list">
			<li id="billing-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
			<fieldset>
			<input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />
			<ul>
			
			<li class="fields">
			<?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress()->getFirstname() ? $this->getAddress() : $this->getQuote()->getCustomer())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?></li>
			</li>
		
		
		<?php
		/*
		* Company
		*
		*/
		?>
		<li class="fields">
		<div class="field">
		<label for="billing:company" class="left"><em>&nbsp;</em><?php echo $this->__('Company') ?></label>
		<div class="input-box left">
		<input type="text" id="billing:company" name="billing[company]" value="<?php echo $this->htmlEscape($this->getAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text" />
		</div>
		</div>
		</li>
		
		
		<?php
		/*
		* Street
		*
		*/
		?>
		<li class="fields">
		<label for="billing:street1" class="required left"><em>*</em><?php echo $this->__('Address') ?></label>
		<div class="input-box left">
		<input type="text" title="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="input-text required-entry" />
		<?php for ($_i=2, $_n=$this->helper('customer/address')->getStreetLines(); $_i<=$_n; $_i++): ?>
		<input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="billing[street][]" id="billing:street<?php echo $_i?>" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet($_i)) ?>" class="input-text mt5" />
		<?php endfor ?>
		</div>
		</li>
		
		<?php
		/*
		* Door Code
		*
		<li class="fields">
		<label for="billing:door_code" class="left"><em>&nbsp;</em><?php echo $this->__('Door code') ?></label>
		<div class="input-box left">
		<input type="text" title="<?php echo $this->__('Door code') ?>" name="billing:door_code" id="billing:door_code" value="<?php echo $this->htmlEscape($this->getAddress()->getDoorCode()) ?>" class="input-text" />
		</div>
		</li>
		*/
		?>
		
		
		<?php
		/*
		* City / Region
		*
		*/
		?>
		<li class="fields">
		<div class="field">
		<label for="billing:region_id" class="required left"><em>*</em><?php echo $this->__('State/Province') ?></label>
		<div class="input-box left">
		<select id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
		<option value=""><?php echo $this->__('Please select region, state or province') ?></option>
		</select>
		<script type="text/javascript">
		//<![CDATA[
		$('billing:region_id').setAttribute('defaultValue',	"<?php echo $this->getAddress()->getRegionId() ?>");
		//]]>
		</script>
		<input type="text" id="billing:region" name="billing[region]" value="<?php echo $this->htmlEscape($this->getAddress()->getRegion()) ?>"	title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
		</div>
		</div>
		<div class="field">
		<label for="billing:postcode" class="required left"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
		<div class="input-box left">
		<input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="billing[postcode]" id="billing:postcode" value="<?php echo $this->htmlEscape($this->getAddress()->getPostcode()) ?>" class="input-text validate-zip-international required-entry" />
		</div>
		</div>
		<div class="field">
		<label for="billing:city" class="required left"><em>*</em><?php echo $this->__('City') ?></label>
		<div class="input-box left">
		<input type="text" title="<?php echo $this->__('City') ?>" name="billing[city]" value="<?php echo $this->htmlEscape($this->getAddress()->getCity()) ?>" class="input-text required-entry" id="billing:city" />
		</div>
		</div>
		<div class="field">
		<label for="billing:country_id" class="required left"><em>*</em><?php echo $this->__('Country') ?></label>
		<div class="input-box left">
		<?php echo $this->getCountryHtmlSelect('billing') ?>
		</div>
		</div>
		</li>
		<?php
		/*
		* Phone
		*
		*/
		?>
		<li class="fields">
		<div class="field">
		<label for="billing:telephone" class="required left"><em>*</em><?php echo $this->__('Telephone') ?></label>
		<div class="input-box left">
		<input type="text" name="billing[telephone]" value="<?php echo $this->htmlEscape($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text required-entry" id="billing:telephone" />
		</div>
		</div>
		</li>
		
		<?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
		<li class="control">
		<label class="left"><em>&nbsp;</em></label>
		<?php
		
		// onchange="if(window.shipping) shipping.setSameAsBilling(false);"
		
		?>
		<input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="billing:save_in_address_book" <?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" /><label for="billing:save_in_address_book"><?php echo $this->__('Save in address book') ?></label>
		</li>
		<?php else:?>
		<li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
		<?php endif; ?>
		</ul>
		<p class="required"><?php echo $this->__('* Required Fields') ?></p>
		
		</fieldset>
		</li>
		</ul>		
		</div>