<?php

$_nb_credits = $this->getCredits();

$_credit_history = $this->getHistory();

?>
<div id="customer_info_tabs_customer_edit_tab_sponsor_content">
	<div class="entry-edit">
		<div class="entry-edit-head">
			<h4 class="icon-head head-edit-form fieldset-legend">Credits</h4>
		</div>
		<div class="fieldset fieldset-wide">
			<div class="hor-scroll">
				<table class="form-list" cellspacing="0">
					<tbody>
						<tr>
							<td class="label">
								<label>Current Credits</label>
							</td>
							<td class="value">
								<?php echo $_nb_credits ?>
							</td>
						</tr>
						<tr>
							<td class="label">
								<label for="add_credits">Add / Remove Credits</label>
							</td>
							<td class="value">
								<input type="text" class="input-text" style="width:40px !important;" name="add_credits" id="add_credits" value=""/>
							</td>
						</tr>
						<tr>
							<td class="label">
								<label>Credits History</label>
							</td>
							<td>
								<?php if ( !empty($_credit_history)) :?>
									<div class="grid">
									<table class="data">
										<thead>
											<tr class="">
												<th><?php echo $this->__('Date') ?></th>
												<th><?php echo $this->__('Variation') ?></th>
												<th><?php echo $this->__('Source') ?></th>
												<th><?php echo $this->__('Last Diag') ?></th>
												<th><?php echo $this->__('Has bought Sample Kit') ?></th>
											</tr>
										</thead>
										<tbody>
											<?php foreach($_credit_history as $idx => $credit): ?>
												<tr class="<?php if ($idx%2 == 0):?>even<?php endif ;?>" >
													<td><?php echo date("d/m/Y", strtotime($credit['ref_date'])) ;?></td>
													<td><?php echo $credit['variation'] ?></td>
													<td><?php echo $credit['reason'] ?></td>
													<td>
														<?php if ( ! empty($credit['sponsored_id'])) :?>
															<?php if ( ! empty($credit['diag'])) :?>
																<?php foreach($credit['diag'] as $row) :?>
																	<b><?php echo $row['brand_name'] ?></b> :
																	<?php echo $row['name'] ?><br/>
																<?php endforeach; ?>
															<?php endif ;?>
														<?php endif ;?>
													</td>
													<td>
														<?php if ( ! empty($credit['sponsored_id'])) :?>
															<?php if ( $credit['has_bought']):?>
																Yes
															<?php else : ?>
																No
															<?php endif ;?>
														<?php endif ;?>
													</td>
												</tr>
											<?php endforeach ;?>
										</tbody>
									</table>
									</div>
								<?php endif; ?>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>