<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Layerednavigation
 * @version    1.5.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><script type="text/javascript">
    Event.observe(document, "dom:loaded", function(e) {
<?php if ($this->isDefaultStore()) : ?>
    <?php if ($this->isCategoryFilter()) : ?>
        new awFieldDependence({
            message           : "<?php echo $this->__('<b>Show as Tree</b> is enabled'); ?>",
            available         : [0],
            mainFieldId       : "show_as_tree",
            dependenceFieldId : "is_row_count_limit_enabled"
        });
        new awFieldDependence({
            message           : "<?php echo $this->__('<b>Limit Rows Quantity</b> is enabled'); ?>",
            available         : [0],
            mainFieldId       : "is_row_count_limit_enabled",
            dependenceFieldId : "show_as_tree"
        });
    <?php endif; ?>
        new awFieldDependence({
            message           : "<?php echo $this->__('<b>Limit Rows Quantity</b> is disabled'); ?>",
            available         : [1],
            mainFieldId       : "is_row_count_limit_enabled",
            dependenceFieldId : "row_count_limit"
        });
<?php endif; ?>
        new awFieldDependence({
            message           : "<?php echo $this->__('<b>Help</b> is disabled'); ?>",
            available         : [1],
            mainFieldId       : "is_help_enabled",
            dependenceFieldId : "help_type"
        });
        new awFieldDependence({
            message           : "<?php echo $this->__('<b>Help</b> is disabled'); ?>",
            available         : [1],
            mainFieldId       : "is_help_enabled",
            dependenceFieldId : "help_content"
        });
    });
</script>