/*

Magento Module Tree CSS

Copyright:
	Copyright (c) 2011 Partikule Studio
	
Extends the Ionize tree.css

*/


h2.main.product { background: url(../images/icon_48_product.png) no-repeat 0 0; } 
h2.main.category { background: url(../images/icon_48_category.png) no-repeat 0 0; } 
h2.main.range { background: url(../images/icon_48_range.png) no-repeat 0 0; } 
h2.main.mode { background: url(../images/icon_48_shipping.png) no-repeat 0 0; } 
h2.main.settings { background: url(../images/icon_48_settings.png) no-repeat 0 0; } 


/* Toolbar buttons */
.toolbar-button.zone, .light-button.zone { background:url(../images/icon_16_zone.png) no-repeat 4px 50% ; padding-left: 24px; }
.toolbar-button.shipping, .light-button.shipping { background:url(../images/icon_16_shipping.png) no-repeat 4px 50%; padding-left: 24px; }
.toolbar-button.tax, .light-button.tax { background:url(../images/icon_16_tax.png) no-repeat 4px 50%; padding-left: 24px; }
.toolbar-button.tax_zone, .light-button.tax_zone { background:url(../images/icon_16_taxes_and_zones.png) no-repeat 4px 50%; padding-left: 24px; }
.toolbar-button.home, .light-button.home { background:url(../images/icon_16_home.png) no-repeat 4px 50%; padding-left: 24px; }
.toolbar-button.product, .light-button.product { background:url(../images/icon_16_product.png) no-repeat 4px 50%; padding-left: 24px; }
.toolbar-button.product_plus, .light-button.product_plus { background:url(../images/icon_16_product_plus.png) no-repeat 4px 50%; padding-left: 24px; }
.toolbar-button.category_plus, .light-button.category_plus { background:url(../images/icon_16_category_plus.png) no-repeat 4px 50%; padding-left: 24px; }
.toolbar-button.zone_plus, .light-button.zone_plus { background:url(../images/icon_16_zone_plus.png) no-repeat 4px 50%; padding-left: 24px; }
.toolbar-button.trash, .light-button.trash { background:url(../images/icon_16_trash.png) no-repeat 4px 50%; padding-left: 24px; }
.toolbar-button.settings, .light-button.settings { background:url(../images/icon_16_settings.png) no-repeat 4px 50%; padding-left: 24px; }
.toolbar-button.zoom, .light-button.zoom  {background: url(../images/icon_16_zoomin.png) no-repeat 4px 50%; padding-left: 24px; }


/* Tree Extension */
#shopTree {
}
#shopTree li {
	width: auto;
	min-width: inherit;
}

/* Tree nodes */
.shoptree-img {
	float:left;
	height:18px;
	width:18px;
	background:transparent url(../images/module_magento_tree.gif) repeat scroll;
}
.shoptree-img.line { background-position: 0px 50%; } 				/* Standard tree line */
.shoptree-img.line.node { background-position: -108px 50%; } 		/* Line with one node after */
.shoptree-img.line.last { background-position: -18px 50%; } 		/* Last element line */
.shoptree-img.line.empty { background-position: -306px 50%; } 		/* Empty line (spacer) */
.shoptree-img.plus { background-position: -144px 50%; } 			/* Plus icon */
.shoptree-img.plus.first { background-position: -234px 50%; }
.shoptree-img.plus.last { background-position: -54px 50%; }
.shoptree-img.minus { background-position: -126px 50%; } 			/* Minus icon */
.shoptree-img.minus.first { background-position: -216px 50%; }
.shoptree-img.minus.last { background-position: -36px 50%; }
.shoptree-img.folder { background-position: -162px 50%; margin-right:5px;} 			/* Closed folder */
.shoptree-img.folder.open { background-position: -198px 50%; } 		/* Opened folder */
.shoptree-img.folder.home { background-position: -324px 50%; } 		/* Closed home folder */
.shoptree-img.folder.home.open { background-position: -342px 50%; } 		/* Closed home folder */
.shoptree-img.file { background-position: -180px 50%;  margin-right:5px;} 			/* File */
.shoptree-img.sticky { background-position: -252px 50%;  margin-right:5px;} 			/* File */
.shoptree-img.filelink { background-position: -360px 50%;  margin-right:5px;} 			/* Link to File */
.shoptree-img.folderlink { background-position: -378px 50%;  margin-right:5px;} 			/* Link to Folder */

/* Simple products */
.shoptree-img.file.simple { background-position: -396px 50%;  margin-right:5px;} 			/* Simple product */
.shoptree-img.sticky.simple { background-position: -396px 50%;  margin-right:5px;}


.icon a.product, a.icon.product {background: url(../images/icon_16_product_plus.png) no-repeat 0 0;}
.icon a.trash, a.icon.trash {background: url(../images/icon_16_trash.png) no-repeat 0 0;}


/* Label select buttons */

