<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Layerednavigation
 * @version    1.5.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php /** @var AW_Layerednavigation_Block_Filter_Type_Decimal $this; */?>
<?php $filterHtmlID = "aw-ln-filter-" . $this->getFilter()->getId() . "-options"?>
<div id="<?php echo $filterHtmlID?>" class="aw-ln-filter-options-fromto">
    <input type="text" name="<?php echo $this->getFilter()->getCode();?>" value="<?php echo $this->getMinimumAppliedValue();?>"/>
    <span>-</span>
    <input type="text" name="<?php echo $this->getFilter()->getCode();?>" value="<?php echo $this->getMaximumAppliedValue();?>"/>
    <button type="button" title="<?php echo $this->__('Find') ?>" class="button"><span><span><?php echo $this->__('Find') ?></span></span></button>
</div>
<script type="text/javascript">
    awLnUpdaterInstance.registerFilter(
        new awLnFilterTypeFromTo({
            name: <?php echo Zend_Json::encode($this->getFilter()->getCode());?>,
            containerElSelector: <?php echo Zend_Json::encode("#" . $filterHtmlID); ?>,
            isApplied: <?php echo Zend_Json::encode($this->getIsFilterApplied()); ?>
        })
    );
</script>