<?php
/**
 * Partikule : 
 * - Replaced the standard Select box by Radio boxes
 * - Used by Diagnose (diagnose.phtml) if the gender isn't deifned for this user
 *
 */
?>
<div class="input-box gender w120 h40 mr-auto ml-auto">

    <?php 
    	$options = Mage::getResourceSingleton('customer/customer')->getAttribute('gender')->getSource()->getAllOptions();
    	$value = $this->getGender();
    	$_iterator = 0;
    	$_nb_options = count($options);
    ?>

<?php

//trace(count($options));

?>
	<?php foreach ($options as $option):?>
		<?php $_iterator ++; ?>
		<?php if ($option['value']) :?>
			<input type="radio" <?php if($this->isRequired() && ($_iterator == $_nb_options)) :?>class="validate-one-required" <?php endif ;?> id="gender<?php echo $option['value'] ?>" name="<?php echo $this->getFieldName('gender')?>" value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $value) echo ' checked="checked"' ?>>
			<label class="sex<?php echo $option['value'] ?>" for="gender<?php echo $option['value'] ?>"><?php echo $option['label'] ?></label>&nbsp;
		<?php endif; ?>
	<?php endforeach;?>

</div>
