<?php
/*
 * Sponsort's Credit History
 * @see Partikule_Sponsor_Block_Sponsor
 *
 */
?>
<?php
$nb_credits = $this->getNbCredits();
$nb_credits_string = '<span style="font-weight:bold;">'.$nb_credits.' '.$this->__('credits').'</span>';

$used = $this->areCreditUsedInQuote();
?>

<div class="sponsor cart-bottom-block">
	<h3 class="block-title"><?php echo $this->__('Sample Credits') ?></h3>
	<div class="column left">
		<p>
			<?php if ($nb_credits == 0 && ! $used): ?>
				<?php echo $this->__('You can win credits and get free samples. Just invite some friends!'); ?>
			<?php else : ?>
				<?php echo $this->__('You currently have %s', $nb_credits_string); ?>.<br/>
				<?php if ($used): ?>
					<?php echo $this->__('Some of your credits are used in this order.'); ?>
				<?php else : ?>
					<?php echo $this->__('You can use your credits to get the samples of this order for free.'); ?>
				<?php endif ;?>
			<?php endif ;?>
		</p>
	</div>
	<div class="column right">
		<form id="sponsor-credit-form" class="account-form" action="<?php echo $this->getUrl('sponsor/sponsor/useCredit') ?>" method="post">
			<input type="hidden" name="remove" id="remove-sponsor-credits" value="0" />
			<div class="credit-form">
				<?php if ($nb_credits == 0 && ! $used): ?>
					<button type="button" title="<?php echo $this->__('Cancel usage') ?>" class="button icon-arrow-right" onclick="window.location.href='<?php echo Mage::getBaseUrl(); ?>mynose/contact/'" value="<?php echo $this->__('Invite friends') ?>"><?php echo $this->__('Invite friends') ?></button>
				<?php else : ?>
					<?php if ($this->areCreditUsedInQuote() == TRUE) :?>
						<button type="button" title="<?php echo $this->__('Cancel usage') ?>" class="button icon-arrow-right" onclick="sponsorCreditForm.submit(true)" value="<?php echo $this->__('Cancel usage') ?>"><?php echo $this->__('Cancel usage') ?></button>
					<?php else: ?>
						<button type="button" title="<?php echo $this->__('Use my credits') ?>" class="button icon-arrow-right" onclick="sponsorCreditForm.submit(false)" value="<?php echo $this->__('Use my credits') ?>" style="padding-left: 0; padding-right: 0;"><?php echo $this->__('Use my credits') ?></button>
					<?php endif ;?>
				<?php endif ;?>
			</div>
		</form>
	</div>
<div class="clearer"></div>
</div>
<script type="text/javascript">
	//<![CDATA[
	var sponsorCreditForm = new VarienForm('sponsor-credit-form');
	sponsorCreditForm.submit = function (isRemove) {
		if (isRemove) {
			$('remove-sponsor-credits').value = "1";
		} else {
			$('remove-sponsor-credits').value = "0";
		}
		return VarienForm.prototype.submit.bind(sponsorCreditForm)();
	}
	//]]>
</script>

