<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Layerednavigation
 * @version    1.5.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->canShow()) : ?>
    <span id="aw-ln-filter-help-<?php echo $this->getFilter()->getId();?>"
          class="aw-ln-filter-help<?php echo $this->isIconType() ? ' help-icon' : ''; ?>">
        <?php if ($this->isTextType()) : ?>
            (<a href="javascript:void(0)"><?php echo $this->__("What's this?");?></a>)
        <?php endif; ?>
    </span>
    <div id="aw-ln-help-tooltip-wrapper-<?php echo $this->getFilter()->getId();?>"
         class="aw-ln-help-tooltip-wrapper"></div>
    <script type="text/javascript">
        new awLNFilterPopup({
            'content'                : <?php echo Zend_Json::encode($this->getHelpContent()); ?>,
            'targetElementSelector'  : '#aw-ln-filter-help-<?php echo $this->getFilter()->getId();?>',
            'tooltipWrapperSelector' : '#aw-ln-help-tooltip-wrapper-<?php echo $this->getFilter()->getId();?>',
            'popupClassName'         : 'aw-ln-help-tooltip',
            'arrowClassName'         : 'aw-ln-help-arrow'
        });
    </script>
<?php endif; ?>