<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category	design
 * @package		nose_default
 * @author	 	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Boutique Search block
 *
 * @see Partikule_Boutique_Block_Search_Form
 *
 */
?>

<?php 
	
	// Search attributes to filter on
	$displayed_attributes = array(
		'sex',
		'boutique_product_type',
		'boutique_family',
		'boutique_season'
	);

	$attributes = $this->getSearchableAttributes();

?>

<h2 class="col-title"><?php echo $this->__('Search in the Boutique') ?></h2>

<div class="col-main">
	
	
	<form name="boutiqueSearchForm" id="boutiqueSearchForm" method="post" action="<?php echo $this->getSearchPostUrl() ?>">
		
		<?php 
		/*
		 * Brands (Categories)
		 *
		 */
		?>
		<label for="category_search_field"><strong><?php echo $this->__('Brands') ?></strong></label><br />
		<select name="category" id="category_search_field">
			<option value=""><?php echo $this->__('-- All brands --') ?></option>
			<?php foreach ($this->getBrandsCategories() as $_category): ?>
			<?php if($_category->hasChildren()): ?>
			<option class="parent-cat" value="<?php echo $_category->getId(); ?>"><?php echo $_category->getName();?></option>
			<?php foreach ($_category->getChildren() as $subcategory):
			if($subcategory->getIsActive()) : ?>
				<option value="<?php echo $subcategory->getId(); ?>"<?php echo ($this->getRequest()->getQuery('category') == $subcategory->getId() ? ' selected="selected"': "") ?>><?php echo $subcategory->getName(); ?></option>
			<?php endif; endforeach; ?>
			<?php elseif($_category->getIsActive()): ?>
			<option value="<?php echo $_category->getId(); ?>"><?php echo $_category->getName();?></option>
			<?php endif; ?>
			<?php endforeach ?>
		</select>

		<?php 
		/*
		 * Attributes
		 *
		 */
		?>
		<div class=" mt20" id="advanced-search-list">
			
			<?php $_iterator = 0; ?>
			
			<?php foreach ($displayed_attributes as $_code): ?>
			
				<?php $_attribute = $this->getAttributeByCode($_code) ?>

		   		<?php if ($_attribute) :?>
					<?php $_iterator++; ?>
					<div class="span-6<?php if($_iterator%4 == 0):?> last<?php endif ;?>">
						<label for="<?php echo $_code ?>"><?php echo $this->getAttributeLabel($_attribute) ?></label>

						<?php switch($this->getAttributeInputType($_attribute)):
							case 'number': ?>
							<div class="input-range">
								<input type="text" name="<?php echo $_code ?>[from]" value="<?php echo $this->htmlEscape($this->getAttributeValue($_attribute, 'from')) ?>" id="<?php echo $_code ?>" title="<?php echo $this->htmlEscape($this->getAttributeLabel($_attribute)) ?>" class="input-text validate-number" />
								<span class="separator">-</span>
								<input type="text" name="<?php echo $_code ?>[to]" value="<?php echo $this->htmlEscape($this->getAttributeValue($_attribute, 'to')) ?>" id="<?php echo $_code ?>_to" title="<?php echo $this->htmlEscape($this->getAttributeLabel($_attribute)) ?>" class="input-text validate-number" />
							</div>
							<?php break;
							case 'price': ?>
							<div class="input-range">
								<input name="<?php echo $_code ?>[from]" value="<?php echo $this->htmlEscape($this->getAttributeValue($_attribute, 'from')) ?>" id="<?php echo $_code ?>" title="<?php echo $this->htmlEscape($this->getAttributeLabel($_attribute)) ?>"  class="input-text validate-number" type="text" />
								<span class="separator">-</span>
								<input name="<?php echo $_code ?>[to]" value="<?php echo $this->htmlEscape($this->getAttributeValue($_attribute, 'to')) ?>" id="<?php echo $_code ?>_to" title="<?php echo $this->htmlEscape($this->getAttributeLabel($_attribute)) ?>"	 class="input-text validate-number" type="text" />
								<small>(<?php echo $this->getCurrency($_attribute); ?>)</small>
							</div>
							<?php break;
							case 'select': ?>
								<div class="input-box">
									<?php echo $this->getAttributeSelectElement($_attribute) ?>
								</div>
							<?php break;
							case 'yesno': ?>
								<?php echo $this->getAttributeYesNoElement($_attribute) ?>
							<?php break;
							case 'date': ?>
							<div class="input-range">
								<?php echo $this->getDateInput($_attribute, 'from') ?>
								<span class="separator">-</span>
								<?php echo $this->getDateInput($_attribute, 'to') ?>
							</div>
							<?php break;
							default: ?>
							<div class="input-box">
								<input type="text" name="<?php echo $_code ?>" id="<?php echo $_code ?>" value="<?php echo $this->htmlEscape($this->getAttributeValue($_attribute)) ?>" title="<?php echo $this->htmlEscape($this->getAttributeLabel($_attribute)) ?>"	class="input-text <?php echo $this->getAttributeValidationClass($_attribute) ?>" />
							</div>
						<?php endswitch; ?>
					</div>

				<?php endif; ?>
 
			<?php endforeach; ?>
		</div>

		<div class="buttons-set">
			<button id="boutiqueSearchSubmit" type="button" title="<?php echo $this->__('Search') ?>" class="button"><span><span><?php echo $this->__('Search') ?></span></span></button>
		</div>
		
	</form>


	<div id="searchResultContainer"></div>

</div>


<script type="text/javascript">



	$j('#boutiqueSearchSubmit').click(function()
	{
		s = $j('#boutiqueSearchForm').serialize();
		
		$j.ajax({
			type: 'get',
 			data: s,
 			url: $j('#boutiqueSearchForm').attr("action"),
 			success: function(data)
 			{
				$j('#searchResultContainer').html(data);
 			}
 		});
	});	


</script>

