<?php

$productCollection = $this->getResults();
$productCollection = Mage::getModel('boutique/Category')->setCategoryData($productCollection); // Adds the Category attributes : category_name / category_url

$numRows = 1;
$itemsPerPage = 5 ;
$_iterator = 0;

// Unique ID for this panel
$UNIQ = "result";
$carousel_id = 'search_carousel_result';
?>


<h2 class="col-title"><?php echo $this->__('Catalog Search Results') ?></h2>

<?php if($this->getResultCount()): ?>
    <p class="advanced-search-amount">
        <?php echo $this->__('<strong>%d item(s)</strong> were found using the following search criteria', $this->getResultCount() ); ?>
    </p>

<?php else: ?>

    <p class="error-msg"><?php echo $this->helper('catalogsearch')->__('No items were found using the following search criteria.');?></p>

<?php endif; ?>


<?php if($this->getResultCount()): ?>

	<div id="<?php echo $carousel_id ; ?>" class="article item_carousel loading rows<?php echo $numRows ;?>">
		
    	<ul class="rows<?php echo $numRows ;?> without-mask">
		
			<?php foreach($productCollection as $_product): ?>

				<?php 
				$_url = 			Mage::getBaseUrl().$_product->getCategoryUrl().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_product),"/");
				$_name = 			$this->htmlEscape($_product->getName());
				$_name_by_brand = 	($_product->getCategoryName()) ? $_name . ' ' . $this->__('by') . ' ' . $_product->getCategoryName() : $_name;
				// $_sex = 			Mage::helper('attribute/Attribute')->getOptionBackendValue('sex', $_product->getSex());
				$cheapest = 		Mage::helper('boutique/Product')->getCheapestSimple($_product);

				$_sex = FALSE;

			?>
				<li class="item link">
					<div class="product">
						<?php if($_sex) :?>
							<span class="icon24 sex sex_<?php echo $_sex; ?>"></span>
						<?php endif ;?>
						<a href="<?php echo $_url ?>" title="<?php echo $_name_by_brand ?>" class="picture"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepTransparency(false)->resize(160) ?>" width="160" height="160" alt="<?php echo $_name ?>" /></a>

						<div class="details mt15">
						
							<span class="uppercase"><strong><?php echo $_product->getCategoryName() ?></strong></span><br />
							<strong><?php echo $_name ?></strong>
							
							<?php if ( ! is_null($cheapest) ) :?>
								<br/><span class="product-type"><?php echo $cheapest->getAttributeText('LIGHTSPEED_PRODUCT_COLOR') ;?></span><br />
								<?php echo $this->getPriceHtml($cheapest, true) ;?>
							<?php endif ;?>
						</div>
					</div>
				</li>
			<?php endforeach ?>
		
		</ul>
		<div class="clearfix"></div>

	</div>
	
	<script type="text/javascript">
	
		jQuery(document).ready(function()
		{
			// brand product carousel
			if(jQuery('#<?php echo $carousel_id ; ?>').length > 0)
			{
				$j('#<?php echo $carousel_id ; ?>').carousel({
					itemsPerPage: <?php echo $itemsPerPage ;?>,
					itemsPerTransition: <?php echo $itemsPerPage ;?>,
					noOfRows: <?php echo $numRows ;?>,
					pagination: false,
					speed: 500,
					nextText:'<?php echo($this->__('Next Products')) ;?>',
					prevText:'<?php echo($this->__('Prev Products')) ;?>'
				});
				$j('#<?php echo $carousel_id ; ?> li').click(function(event)
				{
					a = $j('a:first', this).attr('href');
					if (a)
					{
						window.location.href = a;
					}
				});
			}
		});

	</script>

<?php endif; ?>



