<?php

/**
 * Diag Output Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * The display of this view depends of xhr_product_list.phtml, which checks the product.
 * 
 *
 */
?>
<?php

	$_helper = $this->helper('catalog/output');
	$_product = $this->getProduct();

?>
<?php if ( ! $_product) :?>
	
	
	<p>No product</p>
	
	
<?php else :?>

<?php
	$_category = Mage::helper('nose/product')->getProductFirstCategory($_product);

	// Product Type : perfume, cosmetic, homefragrance (synched with eNose)
	$_product_type = Mage::helper('attribute/Attribute')->getOptionBackendValue('boutique_product_type', $_product->getBoutiqueProductType());

	/*
	 * Get Noses
	 * direct connexion to eNose DB
	 *
	 */
	$creators = Mage::helper('nose/creator')->getCreatorArrayFromProduct($_product);

	// Backend option vlaue (female, male, unisex)
	$_sex = Mage::helper('attribute/Attribute')->getOptionBackendValue('sex', $_product->getSex());

	$base_url = Mage::app()->getStore()->getBaseUrl();

	$_by_brand = ($_category && $_category->getName() != '' ) ? $this->__('by') . ' ' . $_category->getName() : '';

	if ($_category)
		$_url = Mage::getBaseUrl().$_category->getUrlPath().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_product),"/");
	else
	{
		$_url = "";
	}



?>
<?php
/*
 * Facebook
 *
 */
?>


<script type="text/javascript">
	
	// options Price linked to window
	window.optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);

</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>


<div class="product-view col2">
	<form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
		<div class="no-display">
			<input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
			<input type="hidden" name="related_product" id="related-products-field" value="" />
		</div>
 		<?php
 		/*
 		 * Media
 		 *
 		 */
 		?>
		<div class="product-img-box">
			<?php echo $this->getChildHtml('media') ?>
		</div>
		
		
		<div class="product-shop">
			
			<div class="product-name">
				<?php if ($_category) : ?>
					<h3><span><?php echo $_category->getName() ?></span> <br/>
				<?php endif; ?>
				<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h3>
			</div>


			<?php if ( ! empty($_sex)) :?>
				<div class="perfume-sex perfume-sex-<?php echo $_sex ;?>"></div>
			<?php endif ;?>

			
			
	 		<?php
	 		/*
	 		 * Inspiration
	 		 *
	 		 */
	 		?>
			<div class="accordion">
				<h4 class="toggler open">
					<?php if ($_product_type == 'perfume') :?><?php echo $this->__('Inspiration') ;?><?php endif ;?>
					<?php if ($_product_type == 'cosmetic') :?><?php echo $this->__('Usage') ;?><?php endif ;?>
					<?php if ($_product_type == 'homefragrance') :?><?php echo $this->__('Inspiration') ;?><?php endif ;?>
				</h4>
				<div class="accontent">
					<p>
						<?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
					</p>
				</div>
			</div>

			
	 		<?php
	 		/*
	 		 * Nose (Creator)
	 		 *
	 		 */
	 		?>
	 		<?php if ( $_product_type == 'perfume' ) :?>
				<div class="accordion">
					
					<h4 class="toggler open"><?php echo $this->__('Nez') ;?></h4>
					
					<div class="accontent">
						
					<?php
						/**
						 * Creators List Widget
						 *
						 */
						$creatorWidget = $this->getLayout()->createBlock('nose/catalog_product_widget_creator');
					?>
					<?php echo $creatorWidget->setProduct( $_product )->toHtml() ?>
						
					
					<!--
						<img src="assets/skin/images/thumbs/person_thumb.jpg" alt="" class="right" />
					-->
					</div>
				</div>
	 		<?php endif ;?>
			
			
	 		<?php
	 		/*
	 		 * Description
	 		 *
	 		 */
	 		?>
	 		<?php if ( $_product->getDescription() !='' ) :?>
				<div class="accordion">
					<h4 class="toggler open">
						<?php if ($_product_type == 'perfume') :?><?php echo $this->__('Description') ;?><?php endif ;?>
						<?php if ($_product_type == 'homefragrance') :?><?php echo $this->__('Description') ;?><?php endif ;?>
						<?php if ($_product_type == 'cosmetic') :?><?php echo $this->__('Description') ;?><?php endif ;?>
					</h4>
					<div class="accontent">
					
						<p><?php echo $_helper->productAttribute($_product, nl2br($_product->getDescription()), 'description') ?></p>
				 	</div>
				 </div>
	 		<?php endif; ?>
			 
			 
	 		<?php
	 		/*
	 		 * Ingredients : FOr cosmetic only
	 		 *
	 		 */
	 		?>
			<?php if ($_product_type == 'cosmetic') :?>
				<div class="accordion">
					<h4 class="toggler"><?php echo $this->__('Ingredients') ;?></h4>
					<div class="accontent">
						<p>
							<?php echo $_helper->productAttribute($_product, nl2br($_product->getNoseIngredients()), 'nose_ingredients') ?>
						</p>
					</div>
				</div>
	 		<?php endif; ?>


	 		<?php
	 		/*
	 		 * Description Olfactive
	 		 *
	 		 */
	 		?>
		 	<?php if ($_product_type == 'perfume' OR $_product_type == 'homefragrance') :?>
	 		
		 		<?php if ( $_product->getBoutiqueFamily() ) :?>
				 <div class="accordion">
				 	<h4 class="toggler open"><?php echo $this->__('Olfactive description') ;?></h4>
				 	<div class="accontent">
		
					 	<?php if ($_product_type == 'perfume') :?>
					 	<dl>
					 	
					 		<?php 
					 		/**
					 		 * We could use :
					 		 * $_product->getResource()->getAttribute('boutique_family')->getStoreLabel()
					 		 * 
					 		 * But the Store Label isn't returned in the template : 
					 		 * mynose/product/view.phtml
					 		 *
					 		 * So, to maintain consistency, we use the lang label everywhere 
					 		 *
					 		 */
							?>
				 			<dt><?php echo $this->__('Families') ;?> :</dt>
				 			<dd>
				 				<?php echo rtrim(strtolower($_product->getAttributeText('boutique_family'))) ;?>
				 				<?php if ( $_product->getAttributeText('nose_subfamily') != '') :?>,
									<?php echo rtrim(strtolower($_product->getAttributeText('nose_subfamily'))) ;?>
				 				<?php endif ;?>
				 			</dd>
					 		
					 	</dl>
		 				<?php endif; ?>
					 	
					 	<?php if ($_product_type == 'perfume' OR $_product_type == 'homefragrance') :?>
					 	<dl class="gray">

					 		<?php
					 		/*
					 		 * Notes
					 		 *
					 		 */
							//$notes = $_product->getResource()->getAttribute('notes_head')->getFrontend()->getValue($_product);

							 // trace($notes);
					 		?>
					 		<?php if ( $_product->getNotesHead() != '') :?>
				 				<dt class="gray"><?php echo $this->__('Head notes'); ;?> :</dt>
					 			<dd class="gray"><?php echo strtolower($_product->getNotesHead()) ;?></dd>
					 		<?php endif ;?>
	
					 		<?php if ( $_product->getNotesHeart() != '') :?>
				 				<dt class="gray"><?php echo $this->__('Heart notes'); ;?> :</dt>
					 			<dd class="gray"><?php echo strtolower($_product->getNotesHeart()) ;?></dd>
					 		<?php endif ;?>
	
					 		<?php if ( $_product->getNotesBase() != '') :?>
				 				<dt class="gray"><?php echo $this->__('Base notes'); ;?> :</dt>
					 			<dd class="gray"><?php echo strtolower($_product->getNotesBase()) ;?></dd>
					 		<?php endif ;?>
					 	</dl>
		 				<?php endif; ?>
				 	</div>
				 </div>
		 		<?php endif; ?>
	 		<?php endif ;?>

			
			 <div class="accordion">
			 
			 	<h4><?php echo $this->__('Order') ;?></h4>
				
				<form  action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>

					<div class="no-display">
						<input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
						<input type="hidden" name="related_product" id="related-products-field" value="" />
					</div>
					
					<div class="relative pt10">
					<?php
					/*
					 * Configurable Product :
					 * - Options
					 * - Add To Cart
					 *
					 */
					?>
					<?php if ($_product->isSaleable() && $this->hasOptions()):?>
						<?php echo $this->getChildChildHtml('container3', '', true, true) ?>
						<?php echo $this->getChildHtml('addtocart', '', true, true) ?>
					<?php endif;?>
	
					<?php
					/**
					 * Simple product
					 *
					 */
					?>
		            <?php if (!$this->hasOptions()):?>
	                    <?php if($_product->isSaleable()): ?>
	                        <?php echo $this->getChildHtml('addtocart') ?>
						<?php endif;?>
					<?php endif;?>
	
	
					<?php
					/*
					 * Availability + Price
					 *
					 */
					?>
					<?php
					/*
					 * Availability + Price
					 * catalog/product/view/type/default.phtml
					 */
					?>
					<?php // echo $this->getChildHtml('product_type_data') ?>
					<p id="stock-alert" style="display:none;"><a href="" id="stock-alert-url"><?php echo $this->__('This product is out of stock. Click here to sign up to be notified when this product is back in stock'); ?></a></p>
					</div>
					
				</form>
					
				<div class="clearfix"></div>

				<?php if ($_product->isSaleable() && $this->hasOptions()):?>

					<?php
					/*
					 * Sample of the configurable product
					 * @see Partikule_Nose_Block_Catalog_Product_Sample
					 *
					 */
					// echo $this->getChildHtml('product_sample', '', true, true);
					?>
					
				<?php endif;?>
				
			
			</div>
<!--
			
			<div class="accordion">
			 
			 	<h4 class="toggler"><?php echo $this->__('Shipping and Refund') ;?></h4>
				<div class="accontent">
				 	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product_shipping_refund_bloc')->toHtml(); ?>
				</div>
			 	
			</div>

-->
<!--
			<div class="accordion">
			 	<h4 class=""><?php echo $this->__('Share') ;?></h4>
				<div class="social-network">
					<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
					<div class="fb-like" data-send="true" data-layout="button_count" data-width="300" data-show-faces="true" data-action="recommend" data-font="arial"></div>					
				</div>
			</div>
-->
			

		</div>

		<div class="clearer"></div>


	</form>
	<script type="text/javascript">

		window.productAddToCartForm = new VarienForm('product_addtocart_form');
		productAddToCartForm.submit = function(){
				if (this.validator.validate()) {
						this.form.submit();
				}
		}.bind(productAddToCartForm);

		<?php
		/*
		 * Toggler Init
		 *
		 */
		?>
		initToggler();
		
		
		<?php
		/*
		 * Ajax Cart
		 *
		 */
		?>
	    replaceDelUrls();
	    replaceAddUrls();
	    Event.observe($('j2t-overlay'), 'click', function(){hideJ2tOverlay(true)});
	
	    var cartInt = setInterval(function(){
	        if (typeof productAddToCartForm  != 'undefined'){
	            if ($('j2t-overlay')){
	                Event.observe($('j2t-overlay'), 'click', function(){hideJ2tOverlay(true)});
	            }
	            productAddToCartForm.submit = function(url){
	                if(this.validator && this.validator.validate()){
	                    sendcart('', 'form', 1, 'product_addtocart_form');
	                }
	                clearInterval(cartInt);
	                return false;
	            }
	        } else {
	            clearInterval(cartInt);
	        }
	    },500);
	    
	    setInterval(function(){ correctSizeConfirm(); },100);
	
	
	    var form = $('product_addtocart_form');
	    if(form){
	        inputs = form.getInputs('file');
	
	        if (inputs.length == 0){
	            Event.observe("product_addtocart_form", "submit", function(event){
	                event.stop();
	            });
	        }
	    }
		<?php
		/*
		 * End of Ajax Cart
		 *
		 */
		?>
		
		
		

	</script>
</div>
<?php endif ;?>
