<?php

$session = Mage::getSingleton('core/session');
$customer = Mage::getSingleton('customer/session')->getCustomer();


$style_select = Mage::registry('style_select');
$note_select = Mage::registry('note_select');
$autocomplete_url = Mage::registry('autocomplete_url');
$perfume_select_url = Mage::registry('perfume_select_url');

$form_action_url = Mage::registry('form_action_url');
$module_url = Mage::registry('module_url');

$antispam_hash = Mage::registry('antispam_hash');

$logged_in = $this->helper('customer')->isLoggedIn();

// trace($style_select);

?>

<h2 class="col-title"><?php echo $this->__('Do / Edit the diagnostic') ?></h2>

<div class="subnav-container center">
	<ul class="subnav">
		<li class="active first"><a id="btnDiagProfile"><span><?php echo $this->__('Profile') ?></span></a></li>
		<li><a id="btnDiagPreference"><span><?php echo $this->__('Preferences') ?></span></a></li>
	</ul>
</div>



<?php if ( ! $this->helper('customer')->isLoggedIn() ) :?>

	<script type="text/javascript">
//		window.location = '<?php echo $module_url ;?>';
	</script>


<?php else :?>

	<?php
	/*
	 * Maintenance screen if the diag isn't available 
	 *
	 */
	?>
	<?php if ( empty($style_select)) :?>
	
		<?php echo $this->getChildHtml('mynose_maintenance'); ?>

	<?php else :?>

	<div class="page-title">
	    <h2><?php echo $this->__('Preferences') ?></h2>
	</div>


	<form name="diagnose" id="diagnoseForm" method="post" action="<?php echo($form_action_url) ;?>">
	
		<!-- See here how to manage errors -->
	
	
	
		
		<div class="fieldset">
		
			<h3 class="legend"><?php echo $this->__('Current and past perfumes') ?></h3>
	
			<div class="clearfix"></div>
			
			
			<?php
			
			$gender = Mage::getSingleton('customer/session')->getCustomer()->getGender();
			
			?>
			
			<div>
				<label for="include_all">
					<?php if( $gender == 1 ) :?>
						<?php echo $this->__('Include female perfumes') ;?>
					<?php else: ?>
						<?php echo $this->__('Include male perfumes') ;?>
					<?php endif ;?>
				</label>
				
				<input id="include_all" type="checkbox" name="include_all" value="1" />
				<div class="clearfix"></div>
			</div>
			
			<?php
			/*
			 * Period
			 *
			 */
			?>
			<div class="span-3 first" id="diag-period">
				
				<?php for($i=1; $i<6; $i++) :?>
				
				<dl class="<?php if ( $i == 1 ) :?> first <?php endif ;?><?php if ( $i == 5 ) :?> last <?php endif ;?>">
					<dt><label>&nbsp;</label></dt>
					<dd>
						<select id="period_<?php echo($i) ;?>" name="period_<?php echo($i) ;?>" class="input-text" rel="<?php echo($i) ;?>">
							<?php for($j=0; $j<5; $j++) :?>
								<option value="<?php echo ($j+1)*12 ;?>" <?php if ( $session->getData('period_'.$i) == ($j+1)*12 ) :?> selected="selected"<?php endif ;?>><?php echo ($j+1) ;?> <?php echo $this->__('year') ;?></options>
							<?php endfor ;?>
						</select>
					</dd>
				</dl>
				
				<?php endfor ;?>
		
			</div>
	
			<?php
			/*
			 * Brands
			 *
			 */
			?>
			<div class="span-5">
				
				<?php
				
				// if ( $i == 1 ) <span class="required">*</span>
				
				?>
	
	
				<?php for($i=1; $i<6; $i++) :?>
				
				
				<input type="hidden" id="brand_<?php echo($i) ;?>" name="brand_<?php echo($i) ;?>" value="<?php echo $session->getData('brand_'.$i) ;?>" />
				
				<dl class="brand <?php if ( $i == 1 ) :?> first <?php endif ;?><?php if ( $i == 5 ) :?> last <?php endif ;?>">
					<dt><label for="search_brand_<?php echo($i) ;?>"><?php echo $this->__('Brand n°') ?><?php echo($i) ;?> </label></dt>
					<dd>
						<input id="search_brand_<?php echo($i) ;?>" name="search_brand_<?php echo($i) ;?>" type="text" class="input-text search-brand" value="<?php echo $session->getData('search_brand_'.$i) ;?>" rel="<?php echo($i) ;?>" />
					</dd>
				</dl>
				
				<?php endfor ;?>
						
				<div>
					<label class="first last gray"><input type="checkbox" name="never" value="1" >&nbsp;<?php echo $this->__('I have never worn perfume') ?></label>
				</div>
		
			</div>
		
			<?php
			/*
			 * Perfumes
			 *
			 */
			?>
			<div class="span-5 last">
			
				<?php for($i=1; $i<6; $i++) :?>
				
				<dl class="perfume <?php if ( $i == 1 ) :?> first <?php endif ;?><?php if ( $i == 5 ) :?> last <?php endif ;?>">
					<dt><label for="perfume_<?php echo($i) ;?>"><?php echo $this->__('Perfume n°') ?><?php echo($i) ;?></label></dt>
					<dd>
						<div id="perfume_<?php echo($i) ;?>_select">
							<input id="perfume_<?php echo($i) ;?>" name="perfume_<?php echo($i) ;?>" disabled="disabled" type="text" class="input-text italic" value="" />
						</div>
					</dd>
				</dl>
				
				<?php endfor ;?>
			
			</div>
			
			<div class="clearfix"></div>
			
		</div>
	
		<?php
		/*
		 * Submit
		 *
		 */
		?>
	    <div class="buttons-set">
			<button id="submitDiagnose" class="button" type="button"><span><span><?php echo $this->__('Get the diagnostic result') ?></span></span></button>
		</div>
			
	</form>
	
	
	<script type="text/javascript">
	
	
	// AutoCompleter
	jQuery(document).ready(function()
	{
		var cache = {}, lastXhr;
	
		getPerfumeSelect = function(brand_id, id)
		{
			var ia = $j('#include_all:checked').val();
			
			$j.ajax({
				url: '<?= $perfume_select_url ?>',
				type: 'post',
				dataType: 'html',
				data: {
					'brand_id': brand_id,
					'select_id': 'perfume_' + id,
					'include_all': ia
				},
				success: function(data)
				{
					$j('#perfume_'+id+'_select').html(data);
				}
			});		
		};
	
		$j( ".search-brand" ).autocomplete(
		{	
			source: function( request, response ) {
				var term = request.term;
				if ( term in cache ) {
					response( cache[ term ] );
					return;
				}
				$j.ajax({
					url: '<?= $autocomplete_url ?>',
					type: 'post',
					dataType: "json",
					data: {
						maxRows: 12,
						search: request.term
					},
					success: function( data ) {
						cache[ term ] = data;
						response( data );
					}
				});
			},
			minLength: 2,
			select: function( event, ui )
			{
				var rel = $j(event.target).attr('rel');
				$j('#brand_' + rel).val(ui.item.id);
				
				getPerfumeSelect(ui.item.id, rel);
			}
		});
	
/*
 * Was Ajax call to the controller
 * Now, the controller simply redirect to result
 *
		$j('#submitDiagnose').click(function()
		{
			s = $j('#diagnoseForm').serialize();
			$j.ajax({
				type: "POST",
	 			data: s,
	 			url: $j('#diagnoseForm').attr("action"),
	 			success: function(data)
	 			{
					$j('#myDiagnoseContainer').html(data);
	 			}
	 		});
		});	
*/

		$j('#submitDiagnose').click(function()
		{
			$j('#diagnoseForm').submit();
		});
	
	
		$j('#city').val('<?= $antispam_hash ?>');
	
		// On Varien validate...
		VarienForm.prototype.submit = function(url)
		{
			if(this.validator && this.validator.validate())
			{
				return true;
			}
			return false;
		}
		
		var diagnoseForm = new VarienForm('diagnoseForm', true);	
	
		
		// History
		jQuery.history.load("diagnose");	
	
	
		<?php for($i=1; $i<6; $i++) :?>
		
			<?php if ($session->getData('brand_'.$i) != '') :?>
			
				getPerfumeSelect(<?php echo $session->getData('brand_'.$i) ;?>, '<?php echo $i ;?>');
				
			<?php endif ;?>
		
		<?php endfor ;?>
	
		
	});
	
	
	</script>
	
	<?php endif ;?>
<?php endif ;?>
