<?php

/**
 * Diag Results
 * @see Partikule_Mynose_Block_Diagnostic.php
 * 
 * Children of diagnostic.phtml
 *
 */
?>
<?php

$_OUTPUT_TYPE_HEAD = 15;
$_OUTPUT_TYPE_HEART = 16;
$_OUTPUT_TYPE_BASE = 17;


$diag = Mage::registry('diag');

if ($diag)
{
	// Get the first perfume from diag if any
	$perfume_master_id = NULL;
	if ( $diag && ! empty($diag->perfumes[0]))
		$perfume_master_id = $diag->perfumes[0]->master_id;

	$home_master_id = NULL;
	if ( $diag && ! empty($diag->homefragrances[0]))
		$home_master_id = $diag->homefragrances[0]->master_id;
	
	// Organize notes
	if ( $diag && ! empty($diag->notes))
	{
		$notes = $notes_names = array(
			'head' => array(),
			'heart' => array(),
			'base' => array()
		);
		
		foreach($diag->notes as $note)
		{
			if ($note->output_type == $_OUTPUT_TYPE_HEAD) $notes['head'][] = $note;
			if ($note->output_type == $_OUTPUT_TYPE_HEART) $notes['heart'][] = $note;
			if ($note->output_type == $_OUTPUT_TYPE_BASE) $notes['base'][] = $note;
		}
		
		$arrays = array_keys($notes);
		foreach ($arrays as $array_key)
		{
			$sort_keys = array();
			foreach ($notes[$array_key] as $key => $row)
	    		$sort_keys[$key]  = $row->index_quality;
	
			array_multisort($sort_keys, SORT_DESC, $notes[$array_key]);
			
			$limit = 3;
			foreach($notes[$array_key] as $key => $note)
			{
				if ($key <= $limit)
					$notes_names[$array_key][] = $note->note_name;
			}
		}
	}
}

// Helpers block, because the visitor needs to be helped...
$pyramidHelpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_pyramid_help')->toHtml();
$familiesHelpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_families_help')->toHtml();


?>
<?php
/*
 * Maintenance screen if the diag isn't available 
 *
 */
?>
<?php if ( ! $diag) :?>

	<?php // echo $this->getChildHtml('mynose_maintenance'); ?>
	<?php echo $this->getChildHtml('mynose_no_diag'); ?>

<?php else :?>

	<?php if ( is_null($perfume_master_id) AND is_null($home_master_id) ) :?>

	
		<?php echo $this->getChildHtml('mynose_no_diag'); ?>
		
		<?php
		/*
		<script type="text/javascript">
		//	window.location = '<?php echo Mage::helper('mynose/url')->getModuleUrl() ;?>';
		</script>
		*/
		?>
	
	<?php else :?>
		
		<?php
		/*
		 * Page title
		 *
		 */
		 ?>
		<?php echo $this->getChildHtml('diagnostic_title'); ?>
		
		<div class="diagnostic">

			<div class="span-10">
				
				<h3 class="title">
					<?php echo $this->__('My olfactive pyramid'); ?>
				    <?php if ( ! empty($pyramidHelpBlock)) :?>
					    <a id="helperBtn1" class="helper-open"></a>
					<?php endif; ?>
				</h3>

				<?php if ( ! empty($pyramidHelpBlock)) :?>
					<div  id="helperBloc1" class="helper-bloc" data-id="1">
						<a class="helper-close"></a>
						<?php echo $pyramidHelpBlock ?>
					</div>
				<?php endif ;?>
		
				<div class="clearfix"></div>
				
				<div class="pyramid">

					<div class="lW" style="width:5px;"></div>
					<div class="lW" style="width:15px;"></div>
					<div class="lW" style="width:25px;"></div>
					<div class="lW" style="width:35px;"></div>
					<div class="lW" style="width:45px;"></div>
					<div class="lW" style="width:55px;"></div>
					<div class="lW" style="width:66px;"></div>
					<div class="lW" style="width:76px;"></div>
					<div class="lW" style="width:86px;"></div>
					<div class="lW" style="width:96px;"></div>
					<div class="lW" style="width:106px;"></div>
					<div class="lW" style="width:116px;"></div>
					<div class="lW" style="width:126px;"></div>
					
					<?php if (!empty($notes_names)) :?>
						<div class="head"><?php echo implode(', ', $notes_names['head']) ;?></div>
						<div class="heart"><?php echo implode(', ', $notes_names['heart']) ;?></div>
						<div class="base"><?php echo implode(', ', $notes_names['base']) ;?></div>
					<?php endif;?>
					
				</div>
			
			</div>
			
			<div class="span-10 last">
			
				<h3 class="title">
					<?php echo $this->__('My preferred olfactive families'); ?>
				    <?php if ( ! empty($familiesHelpBlock)) :?>
					    <a id="helperBtn2" class="helper-open"></a>
					<?php endif; ?>
				</h3>
					
				<?php if ( ! empty($familiesHelpBlock)) :?>
					<div  id="helperBloc2" class="helper-bloc" data-id="2">
						<a class="helper-close"></a>
						<?php echo $familiesHelpBlock ?>
					</div>
				<?php endif ;?>
				
				<div class="clearfix"></div>

				<div class="families ml50 mr50">
				
					<div class="families-header h30 relative">
						<span class="like"><?php echo $this->__('Like'); ?></span>
						<span class="dislike"><?php echo $this->__('Dislike'); ?></span>
					</div>
				
					<?php
					/*
					 * All families
					 *
					 */
					?>
					<?php // foreach($diag->diag_families as $diag_family) :?>

					<?php foreach ($diag->families as $family) :?>
					
						<div class="clearfix h30 relative">
							<?php						
								$rate = 'n5';
//								foreach ($diag->families as $family)
//								{
//									if($family->family_id == $diag_family->family_id )
//									{
										$rate = 'n' . round(round($family->index_quality, 1));
//										break;
//									}
//								}
							?>
							<ul class="rating100 right <?php echo $rate ?>">
								<li class="one"><a href="#">1</a></li>
								<li class="two"><a href="#">2</a></li>
								<li class="three"><a href="#">3</a></li>
								<li class="four"><a href="#">4</a></li>
								<li class="five"><a href="#">5</a></li>
								<li class="six"><a href="#">6</a></li>
								<li class="seven"><a href="#">7</a></li>
								<li class="eight"><a href="#">8</a></li>
								<li class="none"><a href="#">9</a></li>
								<li class="ten"><a href="#">10</a></li>
							</ul>
							<span class=""><?php echo $family->family_name ;?></span>
							
	
						</div>
					
					<?php endforeach; ?>
					
					<div class="families-footer"></div>
					
				</div>
			
			</div>
		
		</div>

		<?php
		/*
		 * To Recommandations
		 *
		 */
		?>
	    <div class="buttons-set mb30 mt30">
			<button id="btnSeeReco" class="button" type="button" onclick="setLocation('<?php echo Mage::helper('mynose/url')->getDiagnoseRecoUrl() ;?>')";><span><span><?php echo $this->__('See the corresponding Nose recommandations') ?></span></span></button>
		</div>

		
	<?php endif ;?>
<?php endif ;?>