<?php
/**
 * Evaluations List
 * @see Partikule_Mynose_Block_Diagnostic.php
 *
 */

$enose_url = Mage::getBaseUrl(). 'mynose/eval/rank';

$evaluations = $this->getEvaluationList();

$waiting_evals = $history_evals = $favorite_evals = array();


/**
 * Orders
 *
 */
$exclude_status = array('complete', 'closed', 'canceled');

$orders = $this->getOrders();

// Pending products (orders)
$pending_products = array();

foreach($orders as $order)
{
	if ( ! in_array($order->getStatus(), $exclude_status))
	{
		$products = $order->getItemsCollection();
		foreach($products as $product)
		{
			$pending_products[] = $product->getSku();
		}
	}
}


/**
 * Cart
 *
 */
$_cart_products = Mage::getModel("checkout/cart")->getItems();
$_cart_data = array();
if ($_cart_products)
	$_cart_data = $_cart_products->getData();


/*
 * Add each Perfume to
 * - Waiting Array : if evaluation_status = 0
 * - Favorites Array : if evaluation_status = 3 or 4
 * - History Array : if evaluation_status = 3 or 4
 *
 *
 *
 */
if ( ! empty($evaluations))
{
	foreach($evaluations as &$eval)
	{
		// Adding the ranking class
		$eval->_ranking_class = 'n' . intval( $eval->evaluation );
	
		// Feeding arrays
		if ( $eval->evaluation_status == 1 )
			$waiting_evals[] = $eval;
		
		if ( in_array($eval->evaluation_status, array(2,3)) )
			$history_evals[] = $eval;

		// Feeding arrays
		if ( in_array($eval->evaluation_status, array(2,3)) )
			$favorite_evals[] = $eval;
	}
}


/*
 * Ordering of each produced array
 *
 */

// Waiting ordering
if ( ! empty($waiting_evals))
{
	foreach ($waiting_evals as $key => $row)
	    $derniere_relance_dt[$key]  = $row->derniere_relance_dt;

	array_multisort($derniere_relance_dt, SORT_DESC, $waiting_evals);
}

// History ordering
if ( ! empty($history_evals))
{
	foreach ($history_evals as $key => $row)
	    $evaluation_dt[$key]  = $row->evaluation_dt;
	
	array_multisort($evaluation_dt, SORT_DESC, $history_evals);
}

// Favorites ordering
if ( ! empty($favorite_evals))
{
	foreach ($favorite_evals as $key => $row) {
	    $evaluation[$key]  = $row->evaluation;
	    $evaluation_dt[$key] = $row->evaluation_dt;
	}
	
	array_multisort($evaluation, SORT_DESC, $evaluation_dt, SORT_DESC, $favorite_evals);
}


/*
 * Get samples and link them to the awaiting evaluations
 *
 */
if (! empty($waiting_evals))
{
	// Samples from perfumes
	$products = $this->getSamplesFromPerfumes($waiting_evals);

	// Link samples to perfumes
	foreach($waiting_evals as &$perfume)
	{
		$perfume->in_cart = FALSE;
		$perfume->ordered = FALSE;
		
		foreach($products as $product)
		{
			if ($product->getPerfumeId() == $perfume->perfume_id)
			{
				$perfume->product = $product;
				
				if (in_array($product->getSku(), $pending_products))
					$perfume->ordered = TRUE;
				
				foreach($_cart_data as $item)
					if ($product->getSku() == $item['sku'])
						$perfume->in_cart = TRUE;
				
				break;
			}
		}
	}
}

/**
 * Get products from favorites
 *
 */
if ( ! empty($favorite_evals))
{

	$products = $this->getProductsFromPerfumes($favorite_evals);
	
	foreach ($favorite_evals as &$perfume)
	{
		foreach($products as $product)
		{
			if ($product->getPerfumeId() == $perfume->perfume_id)
			{
				$perfume->product = $product;
				break;
			}
		}
	}
}



// Mage::log($evaluations, null, 'evaluations.log');
//trace($waiting_evals);




?>

<div class="page-title">
    <h2><?php echo $this->__('Your Evaluations') ?></h2>
    <a id="helperBtn1" class="helper-open"></a>
</div>


<?php if ( empty($evaluations)) :?>

	<?php echo $this->getChildHtml('mynose_no_eval'); ?>
	
<?php else :?>

	<div  id="helperBloc1" class="helper-bloc">
		<a class="helper-close"></a>
		<p>
			Bravo ! Vous avez fait votre diagnostic et découvert vos 5 recommandations<br/>
			Vous pouvez maintenant évaluer vos échantillons commandés.<br />
			Une fois évalués, ceux-ci apparaitront dans l’HISTORIQUE.<br />
			Les mieux notés dans MES FAVORIS.<br />
		</p>
	</div>


<!-- ICI : Message si le user a effectué un diag	 -->
	
	
	<div class="subnav-container center">
		<ul id="diag-nav" class="subnav">
			<?php if( ! empty($waiting_evals) ) :?><li class="active first"><a id="btnFamily"><span><?php echo $this->__('Awaiting Evaluations') ?></span></a></li><?php endif ;?>
			<?php if( ! empty($history_evals) ) :?><li><a id="btnNotes"><span><?php echo $this->__('Evaluation History') ?></span></a></li><?php endif ;?>
		</ul>
	</div>
	
	
	<?php
	/*
	 * Awaiting
	 *
	 *
	 */
	?>
	<div id="diag-panels">
		
		<?php if( ! empty($waiting_evals) ) :?>
		
		<div class="panelContent">
	
<!--
			<div class="highlight-block r10">
				<p>Evaluate here the perfumes you received !</p>
				<p>Once you saved your evaluation, the evaluated perfumes will move :</p>
				<ol>
					<li>- To your favorites if the perfume has enough stars</li>
					<li>- Anyway, in your history of Evaluations</li>
				</ol>
			</div>
-->
			
			<table class="diag-results" id="diag-results" style="width:100%;">
				<thead>
					<tr>
						<th><?php echo $this->__('Brand') ?></th>
						<th><?php echo $this->__('Perfume') ?></th>
						<th class="center w90"><?php echo $this->__('To evaluate') ?></th>
						<th class="w200"><?php echo $this->__('Order the samples') ?></th>
						<th class="w140 center"></th>
					</tr>
				</thead>
				
				<tbody>
					
					<tr class="quiet h10">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<?php $_iterator = 0; ?>
					
					<?php foreach($waiting_evals as $key => $row) :?>
					
						<tr rel="<?php echo $row->perfume_id ?>"<?php if($_iterator == 0) :?> class="first"<?php endif; ?>>
							<td><?php echo $row->brand_name ?></td>
							<td><!-- <span style="color:#aaa;"><?php echo $row->perfume_id ?></span> : --><?php echo $row->perfume_name ?></td>
							<td class="center">
								<ul id="evalRanking" class="rating eval">
									<li class="one"><a data-dig="<?php echo $row->id_diag ?>" data-id="<?php echo $row->perfume_id ?>" data-rank="1">1</a></li>
									<li class="two"><a data-dig="<?php echo $row->id_diag ?>" data-id="<?php echo $row->perfume_id ?>" data-rank="2">2</a></li>
									<li class="three"><a data-dig="<?php echo $row->id_diag ?>" data-id="<?php echo $row->perfume_id ?>" data-rank="3">3</a></li>
									<li class="four"><a data-dig="<?php echo $row->id_diag ?>" data-id="<?php echo $row->perfume_id ?>" data-rank="4">4</a></li>
									<li class="five"><a data-dig="<?php echo $row->id_diag ?>" data-id="<?php echo $row->perfume_id ?>" data-rank="5">5</a></li>
									<li class="six"><a data-dig="<?php echo $row->id_diag ?>" data-id="<?php echo $row->perfume_id ?>" data-rank="6">6</a></li>
									<li class="seven"><a data-dig="<?php echo $row->id_diag ?>" data-id="<?php echo $row->perfume_id ?>" data-rank="7">7</a></li>
									<li class="eight"><a data-dig="<?php echo $row->id_diag ?>" data-id="<?php echo $row->perfume_id ?>" data-rank="8">8</a></li>
									<li class="none"><a data-dig="<?php echo $row->id_diag ?>" data-id="<?php echo $row->perfume_id ?>" data-rank="9">9</a></li>
									<li class="ten"><a data-dig="<?php echo $row->id_diag ?>" data-id="<?php echo $row->perfume_id ?>" data-rank="10">10</a></li>
								</ul>
							</td>
							<td>
								<?php if( isset($row->product) ) :?>
									<span class="sample-box w100"><?php echo $this->__('Sample') ;?></span>
									<span class="sample-box">2ml</span>
									<span class="sample-box last"><?php echo Mage::helper('core')->currency($row->product->getFinalPrice()); ?></span>
								<?php else :?>
									<?php echo $this->__('Sample not available'); ?>
								<?php endif ;?>
							</td>
							<td class="right last">
								<?php if( isset($row->product) ) :?>
									<?php if (  ! $row->in_cart && ! $row->ordered && isset($row->product)) :?>
										<button id="btnAddToCart<?php echo $row->product->getId() ?>" type="button" onclick="setLocation('<?php echo $this->getAddToCartUrl($row->product) ?>')" class="button bag"><span><span><?php echo $this->__('Add sample to cart') ?></span></span></button>
									<?php elseif ($row->ordered) :?>
										<button type="button" title="<?php echo $this->__('Ordered') ?>" class="button bag disabled"><span><span><?php echo $this->__('Ordered') ?></span></span></button>
									<?php else :?>
										<button type="button" title="<?php echo $this->__('In the cart') ?>" class="button bag disabled"><span><span><?php echo $this->__('In the cart') ?></span></span></button>
									<?php endif ;?>
								<?php endif ;?>
							</td>
						</tr>
						<?php $_iterator++ ; ?>

					<?php endforeach ;?>
					<tr class="quiet">
						<td></td>
						<td></td>
						<td><button type="submit" title="<?php echo $this->__('Save') ?>" class="button btnSaveEval action mt10"><span><span><?php echo $this->__('Save') ?></span></span></button></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			
		
		</div>

	<?php endif ;?>
	
	
	<?php
	/*
	 * History
	 *
	 *
	 */
	?>
	<?php if( ! empty($history_evals) ) :?>

		<div class="panelContent">

			<table class="diag-results" id="diag-results" style="width:100%;">
				<thead>
					<tr>
						<th><?php echo $this->__('Brand') ?></th>
						<th><?php echo $this->__('Perfume') ?></th>
						<th class="reliability w180"><?php echo $this->__('Evaluation') ?></th>
						<th class="empty w80"><?php echo $this->__('Date') ?></th>
						<th class="empty w120"><?php echo $this->__('Evaluation place') ?></th>
					</tr>
				</thead>
				
				<tbody>
	
					<?php foreach($history_evals as $key => $row) :?>
					
						<tr rel="<?php echo $row->perfume_id ?>">
							<td><?php echo $row->brand_name ?></td>
							<td><!-- <span style="color:#aaa;"><?php echo $row->perfume_id ?></span> : --><?php echo $row->perfume_name ?></td>
							<td>
								<ul id="evalRanking" class="rating eval <?php echo $row->_ranking_class  ?>">
									<li class="one"><a data-id="<?php echo $row->perfume_id ?>" data-rank="1">1</a></li>
									<li class="two"><a data-id="<?php echo $row->perfume_id ?>" data-rank="2">2</a></li>
									<li class="three"><a data-id="<?php echo $row->perfume_id ?>" data-rank="3">3</a></li>
									<li class="four"><a data-id="<?php echo $row->perfume_id ?>" data-rank="4">4</a></li>
									<li class="five"><a data-id="<?php echo $row->perfume_id ?>" data-rank="5">5</a></li>
									<li class="six"><a data-id="<?php echo $row->perfume_id ?>" data-rank="6">6</a></li>
									<li class="seven"><a data-id="<?php echo $row->perfume_id ?>" data-rank="7">7</a></li>
									<li class="eight"><a data-id="<?php echo $row->perfume_id ?>" data-rank="8">8</a></li>
									<li class="none"><a data-id="<?php echo $row->perfume_id ?>" data-rank="9">9</a></li>
									<li class="ten"><a data-id="<?php echo $row->perfume_id ?>" data-rank="10">10</a></li>
								</ul>
							</td>
							<td class="empty"><?php echo Mage::helper('ionize/date')->getFormatedDate($row->created, 'j M Y') ;?></td>
							<td class="empty"><?php echo $row->store_name ?></td>
						</tr>
						
					<?php endforeach ;?>
						
				</tbody>
			</table>
			
			<div class="buttons-set">
				<button type="submit" title="<?php echo $this->__('Save') ?>" class="button btnSaveEval"><span><span><?php echo $this->__('Save') ?></span></span></button>
			</div>
			
		</div>

	<?php endif ;?>
	
	</div>
	
	

	<?php
	/*
	 * Favorites
	 *
	 *
	 */
	?>
	<?php if( ! empty($favorite_evals) ) :?>

		<div class="page-title mt30">
		    <h2><?php echo $this->__('My favorites') ?></h2>
		</div>

		<div>
			<table class="diag-results" id="diag-results" style="width:100%;">
				<thead>
					<tr>
						<th class="w120"><?php echo $this->__('Brand') ?></th>
						<th class="w130"><?php echo $this->__('Perfume') ?></th>
						<th class="w100"><?php echo $this->__('Evaluation') ?></th>
						<th class=""><?php echo $this->__('Order the product') ?></th>
					</tr>
				</thead>
				
				<tbody>
	
					<?php foreach($favorite_evals as $key => $row) :?>
						
						<tr rel="<?php echo $row->perfume_id ?>">
							<td><?php echo $row->brand_name ?></td>
							<td><!-- <span style="color:#aaa;"><?php echo $row->perfume_id ?></span> : --><?php echo $row->perfume_name ?></td>
							<td>
								<ul id="evalRanking" class="rating left <?php echo $row->_ranking_class ?>">
									<li class="one"><a data-id="<?php echo $row->perfume_id ?>" data-rank="1">1</a></li>
									<li class="two"><a data-id="<?php echo $row->perfume_id ?>" data-rank="2">2</a></li>
									<li class="three"><a data-id="<?php echo $row->perfume_id ?>" data-rank="3">3</a></li>
									<li class="four"><a data-id="<?php echo $row->perfume_id ?>" data-rank="4">4</a></li>
									<li class="five"><a data-id="<?php echo $row->perfume_id ?>" data-rank="5">5</a></li>
									<li class="six"><a data-id="<?php echo $row->perfume_id ?>" data-rank="6">6</a></li>
									<li class="seven"><a data-id="<?php echo $row->perfume_id ?>" data-rank="7">7</a></li>
									<li class="eight"><a data-id="<?php echo $row->perfume_id ?>" data-rank="8">8</a></li>
									<li class="none"><a data-id="<?php echo $row->perfume_id ?>" data-rank="9">9</a></li>
									<li class="ten"><a data-id="<?php echo $row->perfume_id ?>" data-rank="10">10</a></li>
								</ul>
							</td>
							<td class="last">
								
								<?php if ( isset($row->product) ) :?>
								
									<span id="scp-please-wait<?php echo $row->perfume_id; ?>" class="scp-please-wait" style="display:none;">
										<img alt="" class="v-middle" src="http://nose.home/skin/frontend/base/default/images/scp-ajax-loader.gif"> &nbsp; En cours de chargement... &nbsp;
									</span>
								
								
									<button id="btnProductDetail<?php echo $row->perfume_id; ?>" type="button" title="<?php echo $this->__('See product') ?>" class="button itemHandler" data-pid="<?php echo $row->perfume_id; ?>"><span><span><?php echo $this->__('See product') ?></span></span></button>

									<?php
/*
										$product = $row->product;
										$hasAtts = 0;
										
										if($row->product->getTypeId() == "configurable")
									    {
									        $attValConfig = $product->getTypeInstance(true)->setStoreFilter(Mage::app()->getStore(), $product)->getConfigurableAttributesAsArray($product);
									        if(sizeof($attValConfig)) {
									            $hasAtts++;
									            foreach($attValConfig as $attValConfigSingle)
									            {
									                echo "<select class='cust_select' name='super_attribute[".$attValConfigSingle['attribute_id']."]'>";
									                foreach($attValConfigSingle['values'] as $attValConfigSingleVal) {
									                    echo "<option value='".$attValConfigSingleVal['value_index']."'>".$attValConfigSingleVal['label'].' +'.Mage::helper('core')->currency($attValConfigSingleVal['pricing_value'])."</option>";
									                }
									                echo "</select>";
									            }
									        }
									    }	
*/
									?>
									
									<div id="productDetailContainer<?php echo $row->perfume_id; ?>" class="productDetailContainer"></div>
									
								<?php endif ;?>
							</td>
						</tr>
						
						<?php if ( isset($row->product) ) :?>
						<tr class="h0">
							<td colspan="4">
								<div id="productContainer<?php echo $row->perfume_id; ?>" class="productContainer"></div>
							</td>
						</tr>
						<?php endif ;?>
						
					<?php endforeach ;?>
						
				</tbody>
			</table>
		</div>

	<?php endif ;?>


	<script type="text/javascript">
		
		jQuery(document).ready(function()
		{
			setOpenBlock('#block-mynose');

			var Nose = new NoseEvaluation('<?php echo Mage::getBaseUrl(). 'mynose/eval/rank'; ?>');
			
			Nose.initEvaluationRanking('#evalRanking');
			
			$$('.btnSaveEval').each(function(btn)
			{
				btn.observe('click', function() {
					window.location.reload();
				});
			});
			
			var diagPanels = new NosePanels({
				'nav' : 'diag-nav',
				'panels' : 'diag-panels'
			});
			
			<?php
			/*
			 * Helpers panels
			 *
			 */
			?>
			initHelper('#helperBtn1', '#helperBloc1');
	
			<?php
			/*
			 * XHR Product Display
			 * (prototype)
			 * Gets the product from one Perfume ID
			 *
			 */
			?>
			var productLoader = new NoseProductLoader('<?php echo Mage::helper('mynose/url')->getEvalProductUrl() ;?>',
			{
				'updates' : 'productDetailContainer',
				'handlers' : '.itemHandler',
				'hideHandler': true,
				'loadingSpinner' : 'scp-please-wait'
			});
			productLoader.init();
		});


	
	</script>
	
<?php endif ;?>