<?php
/**
 * Block : Partikule_Mynose_Block_Diagnostic
 *
 */
?>
<?php

$EVAL_STATUS_CLOSED = 	0;		// Evaluation not yet opened (no order on samples)
$EVAL_STATUS_PENDING = 	1;		// Ordered, but order not complete
$EVAL_STATUS_WAITING = 	2;		// Eval opened, waiting for user input
$EVAL_STATUS_DONE = 	3;		// Eval done by user
$EVAL_STATUS_CANCELED = 4;		// Eval canceled, not used for the moment.

// Pagination
$NO_AJAX_SPINNER = true;
$ITEMS_PER_PAGE = 5;


/**
 * Evaluations List
 * @see Partikule_Mynose_Block_Diagnostic.php
 *
 */

$enose_url = Mage::getBaseUrl(). 'mynose/eval/rank';
$evaluations = $this->getEvaluationList();


$_has_temp_evals = FALSE;
$_has_save_evals_button = FALSE;


// trace($evaluations);

/**
 * Orders
 *
 */
$exclude_status = array('complete', 'closed', 'canceled');

$orders = $this->getOrders();

// Pending products (orders)
$pending_products = array();
foreach($orders as $order)
{
	if ( ! in_array($order->getStatus(), $exclude_status))
	{
		$products = $order->getItemsCollection();
		foreach($products as $product)
		{
			$pending_products[] = $product->getSku();
		}
	}
}


/**
 * Cart
 *
 */
$_cart_products = Mage::getModel("checkout/cart")->getItems();
$_cart_data = array();
if ($_cart_products)
	$_cart_data = $_cart_products->getData();


/*
 * Add each Perfume to
 * - Waiting Array : if evaluation_status = 1
 * - Favorites Array : if evaluation_status = 3 or 4
 * - History Array : if evaluation_status = 3 or 4
 *
 *
 *
 */
if ( ! empty($evaluations))
{
	// Products
	$products = $this->getProductsFromDiagnosticItems($evaluations);

	foreach($evaluations as $key => &$eval)
	{
		// Adding the ranking class
		$eval->_ranking_class = 'n' . intval( $eval->evaluation);
		
		// Temp evaluations exist ?
		if ($eval->temp == 1)
			$_has_temp_evals = TRUE;
		
		// Sorting
	    $evaluation[$key]  = $eval->evaluation;
	    $evaluation_dt[$key] = $eval->evaluation_dt;
	    $evaluation_status[$key] = $eval->evaluation_status;
		
		// Product
		$eval->product = NULL;
		
		foreach($products as $product)
		{
			if ($product->getMasterId() == $eval->master_id)
			{
				$eval->product = $product;
				break;
			}
		}	
	}
	
	// Ordering
	array_multisort($evaluation_status, SORT_ASC, $evaluation_dt, SORT_DESC, $evaluations);
}


?>

<?php
/*
 * No diag done
 *
 *
 */
?>
<?php if ( empty($evaluations)) :?>

	<div class="page-title">
	    <h2><?php echo $this->__('Your Evaluations') ?></h2>
	</div>

	<?php echo $this->getChildHtml('mynose_no_eval'); ?>


<?php
/*
 * Ok, we can display something
 *
 */
?>
<?php else :?>

	<div class="page-title">
	    <h2><?php echo $this->__('Your Evaluations') ?></h2>
	    <a id="helperBtn1" class="helper-open"></a>
	</div>

	<?php echo $this->getChildHtml('global_messages') ?>

	<?php
	/*
	 * TEMP evals : Unsaved
	 *
	 */
	?>
	<?php if ($_has_temp_evals) :?>
		
		<?php
			$msg = nl2br(strip_tags($this->getLayout()->createBlock('cms/block')->setBlockId('mynose_evaluation_unsaved')->toHtml()));
		?>
		<?php if ($msg != '') :?>
		<ul class="messages">
			<li class="notice-msg">
				<ul>
					<li><?php echo $msg; ?></li>
				</ul>
			</li>
		</ul>			
		<?php endif ;?>
	
	<?php endif ;?>

	<script type="text/javascript">
		Translator.add('In the cart','<?php echo Mage::helper('mynose')->__('In the cart')?>');
	</script>

	<div id="helperBloc1" class="helper-bloc open" data-id="1">
		<a class="helper-close"></a>
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_evaluation_help')->toHtml(); ?>
	</div>


<!-- Page selector -->
<? $page_number = ceil(sizeof($evaluations) / $ITEMS_PER_PAGE) ?>

<? if ($page_number>1) : ?>
	<div class="row">
		<ul class="subnav mb20">
			<? for ($i=1; $i<=$page_number; $i++) : ?>
			<li <?php if ($i==1):?>class="active"<?php endif;?> id="page_button_<?= $i ?>"><a href="#"  class="page_button" data-page="<?= $i ?>"><?= $i ?></a>
			</li>
			<? endfor ?>
		</ul>
	</div>
		<div class="clearfix"></div>
<? endif ?>




<div id="diag-panels">
		
		<?php
		/*
		 * Awaiting
		 * Contains also pending evals (samples ordered)
		 *
		 */
		?>
		<?php if( ! empty($evaluations) ) :?>

		<?php
		/**
		* Pagination management
		*/
		$item_index = 0;
		$current_page = 1;
		?>


		<div class="panelContent">
			
			<div id="page_1" class="row" style="display: block">

			<table class="diag-results" id="diag-results" style="width:790px;">
				<thead>
					<tr>
						<th class="w50"><h3><?php echo $this->__('Date') ?></h3></th>
						<th class="w140"><h3><?php echo $this->__('Brand') ?></h3></th>
						<th class="w160"><h3><?php echo $this->__('Perfume') ?></h3></th>
						<th class="w80"><h3><?php echo $this->__('Status') ?></h3></th>
						<th class="w60"><h3><?php echo $this->__('Place') ?></h3></th>
						<th class="center" style="width:138px;" width="138"><h3><?php echo $this->__('Dislike') ?></h3></th>
						<th class="center" style="width:137px;" width="137"><h3><?php echo $this->__('Like') ?></h3></th>
					</tr>
				</thead>
				
				<tbody>
					
					<?php $_iterator = 0; ?>
					
					<?php foreach($evaluations as $key => $row) :?>

					<?
					if ($key%$ITEMS_PER_PAGE==0 && $key>0):
						$current_page++;
					?>
			</table>
			</div>

			<div id="page_<?= $current_page ?>" style="display: none">
			<table class="diag-results" style="width:790px;">
				<thead>
				<tr>
					<th class="w50"><h3><?php echo $this->__('Date') ?></h3></th>
					<th class="w140"><h3><?php echo $this->__('Brand') ?></h3></th>
					<th class="w160"><h3><?php echo $this->__('Perfume') ?></h3></th>
					<th class="w80"><h3><?php echo $this->__('Status') ?></h3></th>
					<th class="w60"><h3><?php echo $this->__('Place') ?></h3></th>
					<th class="center" style="width:138px;" width="138"><h3><?php echo $this->__('Dislike') ?></h3></th>
					<th class="center" style="width:137px;" width="137"><h3><?php echo $this->__('Like') ?></h3></th>
				</tr>
				</thead>

				<tbody>
            		<?
					endif;
					$item_index++;
					?>


				<tr class="quiet h10">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td colspan="2"></td>
				</tr>

				<tr rel="<?php echo $row->master_id ?>"<?php if($_iterator == 0) :?> class="first"<?php endif; ?>>
					<td class="pr10">
						<?php if ($row->evaluation_dt) :?>
							<?php echo date("d/m/Y", strtotime($row->evaluation_dt));  ?>
						<?php endif ;?>
					</td>
					<td class="pr10"><?php echo $row->brand_name ?></td>
					<td class="pr10"><?php echo $row->perfume_name ?></td>
					<td class="center">
						<?php if ($row->evaluation_status == $EVAL_STATUS_CLOSED) :?>
							<?php echo $this->__('To order') ?>
						<?php endif ;?>
						<?php if ($row->evaluation_status == $EVAL_STATUS_PENDING) :?>
							<?php echo $this->__('Ordered') ?>
						<?php endif ;?>
						<?php if ($row->evaluation_status == $EVAL_STATUS_WAITING) :?>
							<?php echo $this->__('To evaluate') ?>
						<?php endif ;?>
						<?php if ($row->evaluation_status == $EVAL_STATUS_DONE) :?>
							<?php echo $this->__('Evaluated') ?>
						<?php endif ;?>
					</td>
					<td>
						<?php echo $row->store_name ;?>
					</td>
					<td class="" colspan="2" style="width:275px">

						<?php
							// Used to define if the "save" button is displayed or not
							$_has_save_evals_button = TRUE;

							// Closed or pending evaluatons
							$_close_class = ($row->evaluation_status == $EVAL_STATUS_CLOSED OR $this->evaluation_status == $EVAL_STATUS_PENDING) ? ' closed' : ' open';
							if ($row->evaluation_status == $EVAL_STATUS_CLOSED OR $this->evaluation_status == $EVAL_STATUS_PENDING)
								$row->_ranking_class = 'n5';

							// Waiting eval
							$_waiting_class = ($row->evaluation_status == $EVAL_STATUS_WAITING && ! $row->evaluation) ? ' waiting' : '';


						?>

						<div class="evaluation<?php echo $_waiting_class; ?>">
							<ul class="rating eval <?php echo $row->_ranking_class  ?><?php echo $_close_class; ?><?php echo $_waiting_class; ?>">
								<li class="zero"><a  data-id="<?php echo $row->master_id ?>" data-rank="0">0</a></li>
								<li class="one"><a  data-id="<?php echo $row->master_id ?>" data-rank="1">1</a></li>
								<li class="two"><a  data-id="<?php echo $row->master_id ?>" data-rank="2">2</a></li>
								<li class="three"><a  data-id="<?php echo $row->master_id ?>" data-rank="3">3</a></li>
								<li class="four"><a  data-id="<?php echo $row->master_id ?>" data-rank="4">4</a></li>
								<li class="five"><a  data-id="<?php echo $row->master_id ?>" data-rank="5">5</a></li>
								<li class="six"><a  data-id="<?php echo $row->master_id ?>" data-rank="6">6</a></li>
								<li class="seven"><a  data-id="<?php echo $row->master_id ?>" data-rank="7">7</a></li>
								<li class="eight"><a  data-id="<?php echo $row->master_id ?>" data-rank="8">8</a></li>
								<li class="nine"><a  data-id="<?php echo $row->master_id ?>" data-rank="9">9</a></li>
								<li class="ten"><a  data-id="<?php echo $row->master_id ?>" data-rank="10">10</a></li>
							</ul>
							<div class="evalLegend">
								<span class="minusfive">-5</span>
								<span class="zero">0</span>
								<span class="five">5</span>
							</div>
						</div>

					</td>
				</tr>
					<?php $_iterator++ ; ?>

					<?php endforeach ;?>
					
				</tbody>
			</table>
		</div>
		<?php if($_has_save_evals_button) :?>

			<button type="submit" onclick="setLocation('<?php echo Mage::helper('mynose/url')->getEvalSaveUrl(); ?>')" title="<?php echo $this->__('Save') ?>" class="right button btnSaveEval action mt20 mb20"><span><span><?php echo $this->__('Save') ?></span></span></button>
		<?php endif ;?>

		
		</div>
		
		<?php endif ;?>
	
	</div>
	
	
	<script type="text/javascript">
		jQuery(document).ready(function()
		{
			// setOpenBlock('#block-mynose');

			var Nose = new NoseEvaluation('<?php echo Mage::getBaseUrl(). 'mynose/eval/rank'; ?>');
			
			Nose.initEvaluationRanking('.rating');

			var current_page = 1;

			/**
			 * Pagination management
			 */
			$j('.page_button').click(
				function()
				{
					// Hiding current page, Show new page
					var new_page = $j(this).attr('data-page');

					$j('#page_'+current_page).slideUp();
					$j('#page_'+new_page).slideToggle();

					 // Set page button active
					$j('#page_button_'+current_page).removeClass('active');
					$j('#page_button_'+new_page).addClass('active');

					current_page = new_page;
				}
			);
		});
	</script>
	
<?php endif ;?>