<?php
/**
 * Evaluations List
 * @see Partikule_Mynose_Block_Diagnostic.php
 *
 */

$enose_url = Mage::getBaseUrl(). 'mynose/eval/rank';

$evaluations = $this->getEvaluationList();

//
$waiting_evals = $history_evals = $favorite_evals = array();

/*
 * Add each Perfume to
 * - Waiting Array : if evaluation_status = 0
 * - Favorites Array : if evaluation_status = 3 or 4
 * - History Array : if evaluation_status = 3 or 4
 *
 *
 *
 */
if ( ! empty($evaluations))
{
	foreach($evaluations as &$eval)
	{
		// Adding the ranking class
		$eval['_ranking_class'] = 'n' . intval( $eval['evaluation'] );
	
		// Feeding arrays
		if ( $eval['evaluation_status'] == 1 )
			$waiting_evals[] = $eval;
		
		if ( in_array($eval['evaluation_status'], array(2,3)) )
			$history_evals[] = $eval;

		// Feeding arrays
		if ( in_array($eval['evaluation_status'], array(2,3)) )
			$favorite_evals[] = $eval;

	}
}

/*
 * Ordering of each produced array
 *
 */

// Waiting ordering
if ( ! empty($waiting_evals))
{
	foreach ($waiting_evals as $key => $row)
	    $derniere_relance_dt[$key]  = $row['derniere_relance_dt'];

	array_multisort($derniere_relance_dt, SORT_DESC, $waiting_evals);
}

// History ordering
if ( ! empty($history_evals))
{
	foreach ($history_evals as $key => $row)
	    $evaluation_dt[$key]  = $row['evaluation_dt'];
	
	array_multisort($evaluation_dt, SORT_DESC, $history_evals);
}

// Favorites ordering
if ( ! empty($favorite_evals))
{
	foreach ($favorite_evals as $key => $row) {
	    $evaluation[$key]  = $row['evaluation'];
	    $evaluation_dt[$key] = $row['evaluation_dt'];
	}
	
	array_multisort($evaluation, SORT_DESC, $evaluation_dt, SORT_DESC, $favorite_evals);
}


// Mage::log($evaluations, null, 'evaluations.log');
trace($waiting_evals);

?>

<div class="page-title">
    <h2><?php echo $this->__('Your Evaluations') ?></h2>
    <a class="helper-open"></a>
</div>


<?php if ( empty($evaluations)) :?>

	<div class="mt20 center">
		<p><?php echo $this->__('You do not have any perfume to evaluate') ?></p>
		<p><?php echo $this->__('Make the Diag and get Samples to Evaluate !!! ') ?></p>
		<button onclick="setLocation('<?php echo Mage::helper('mynose/ur')->getDiagnoseUrl() ?>')"  class="button" title="<?php echo $this->__('Do the diagnostic') ?>" type="button"><span><span><?php echo $this->__('Order the samples') ?></span></span></button>
	</div>

<?php else :?>

	<div class="helper-bloc">
		<a class="helper-close"></a>
		<p>
			Bravo ! Vous avez fait votre diagnostic et découvert vos 5 recommandations<br/>
			Vous pouvez maintenant évaluer vos échantillons commandés.<br />
			Une fois évalués, ceux-ci apparaitront dans l’HISTORIQUE.<br />
			Les mieux notés dans MES FAVORIS.<br />
		</p>
	</div>


<!-- ICI : Message si le user a effectué un diag	 -->
	
	
	<div class="subnav-container center">
		<ul id="diag-nav" class="subnav">
			<?php if( ! empty($waiting_evals) ) :?><li class="active first"><a id="btnFamily"><span><?php echo $this->__('Awaiting Evaluations') ?></span></a></li><?php endif ;?>
			<?php if( ! empty($history_evals) ) :?><li><a id="btnNotes"><span><?php echo $this->__('Evaluation History') ?></span></a></li><?php endif ;?>
		</ul>
	</div>
	
	
	<?php
	/*
	 * Awaiting
	 *
	 *
	 */
	?>
	<div id="diag-panels">
		
		<?php if( ! empty($waiting_evals) ) :?>
		
		<div class="panelContent">
	
<!--
			<div class="highlight-block r10">
				<p>Evaluate here the perfumes you received !</p>
				<p>Once you saved your evaluation, the evaluated perfumes will move :</p>
				<ol>
					<li>- To your favorites if the perfume has enough stars</li>
					<li>- Anyway, in your history of Evaluations</li>
				</ol>
			</div>
-->
			
			<table class="diag-results" id="diag-results" style="width:100%;">
				<thead>
					<tr>
						<th><?php echo $this->__('Brand') ?></th>
						<th><?php echo $this->__('Perfume') ?></th>
						<th class="reliability w180"><?php echo $this->__('To evaluate') ?></th>
						<th class="empty w80"><?php echo $this->__('Order the samples') ?></th>
						<th></th>
					</tr>
				</thead>
				
				<tbody>
	
					<?php foreach($waiting_evals as $key => $row) :?>
					
						<tr rel="<?php echo $row['perfume_id'] ?>">
							<td><?php echo $row['brand_name'] ?></td>
							<td><!-- <span style="color:#aaa;"><?php echo $row['perfume_id'] ?></span> : --><?php echo $row['perfume_name'] ?></td>
							<td>
								<ul id="evalRanking" class="rating eval">
									<li class="one"><a data-dig="<?php echo $row['id_diag'] ?>" data-id="<?php echo $row['perfume_id'] ?>" data-rank="1">1</a></li>
									<li class="two"><a data-dig="<?php echo $row['id_diag'] ?>" data-id="<?php echo $row['perfume_id'] ?>" data-rank="2">2</a></li>
									<li class="three"><a data-dig="<?php echo $row['id_diag'] ?>" data-id="<?php echo $row['perfume_id'] ?>" data-rank="3">3</a></li>
									<li class="four"><a data-dig="<?php echo $row['id_diag'] ?>" data-id="<?php echo $row['perfume_id'] ?>" data-rank="4">4</a></li>
									<li class="five"><a data-dig="<?php echo $row['id_diag'] ?>" data-id="<?php echo $row['perfume_id'] ?>" data-rank="5">5</a></li>
									<li class="six"><a data-dig="<?php echo $row['id_diag'] ?>" data-id="<?php echo $row['perfume_id'] ?>" data-rank="6">6</a></li>
									<li class="seven"><a data-dig="<?php echo $row['id_diag'] ?>" data-id="<?php echo $row['perfume_id'] ?>" data-rank="7">7</a></li>
									<li class="eight"><a data-dig="<?php echo $row['id_diag'] ?>" data-id="<?php echo $row['perfume_id'] ?>" data-rank="8">8</a></li>
									<li class="none"><a data-dig="<?php echo $row['id_diag'] ?>" data-id="<?php echo $row['perfume_id'] ?>" data-rank="9">9</a></li>
									<li class="ten"><a data-dig="<?php echo $row['id_diag'] ?>" data-id="<?php echo $row['perfume_id'] ?>" data-rank="10">10</a></li>
								</ul>
							</td>
							<td>
								
							</td>
							<td class="">
								<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button bag"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
							</td>
						</tr>
						
					<?php endforeach ;?>
						
				</tbody>
			</table>
			
			<div class="buttons-set">
				<button type="submit" title="<?php echo $this->__('Save') ?>" class="button btnSaveEval"><span><span><?php echo $this->__('Save') ?></span></span></button>
			</div>
			
		</div>

	<?php endif ;?>
	
	
	<?php
	/*
	 * History
	 *
	 *
	 */
	?>
	<?php if( ! empty($history_evals) ) :?>

		<div class="panelContent">

			<table class="diag-results" id="diag-results" style="width:100%;">
				<thead>
					<tr>
						<th><?php echo $this->__('Brand') ?></th>
						<th><?php echo $this->__('Perfume') ?></th>
						<th class="reliability w180"><?php echo $this->__('Evaluation') ?></th>
						<th class="empty w80"><?php echo $this->__('Date') ?></th>
						<th class="empty w120"><?php echo $this->__('Evaluation place') ?></th>
					</tr>
				</thead>
				
				<tbody>
	
					<?php foreach($history_evals as $key => $row) :?>
					
						<tr rel="<?php echo $row['perfume_id'] ?>">
							<td><?php echo $row['brand_name'] ?></td>
							<td><!-- <span style="color:#aaa;"><?php echo $row['perfume_id'] ?></span> : --><?php echo $row['perfume_name'] ?></td>
							<td>
								<ul id="evalRanking" class="rating eval <?php echo $row['_ranking_class']  ?>">
									<li class="one"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="1">1</a></li>
									<li class="two"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="2">2</a></li>
									<li class="three"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="3">3</a></li>
									<li class="four"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="4">4</a></li>
									<li class="five"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="5">5</a></li>
									<li class="six"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="6">6</a></li>
									<li class="seven"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="7">7</a></li>
									<li class="eight"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="8">8</a></li>
									<li class="none"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="9">9</a></li>
									<li class="ten"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="10">10</a></li>
								</ul>
							</td>
							<td class="empty"><?php echo Mage::helper('ionize/date')->getFormatedDate($row['created'], 'j M Y') ;?></td>
							<td class="empty"><?php echo $row['store_name'] ?></td>
						</tr>
						
					<?php endforeach ;?>
						
				</tbody>
			</table>
			
			<div class="buttons-set">
				<button type="submit" title="<?php echo $this->__('Save') ?>" class="button btnSaveEval"><span><span><?php echo $this->__('Save') ?></span></span></button>
			</div>
			
		</div>

	<?php endif ;?>
	
	</div>
	
	

	<?php
	/*
	 * Favorites
	 *
	 *
	 */
	?>
	<?php if( ! empty($favorite_evals) ) :?>

		<div class="page-title">
		    <h2><?php echo $this->__('My Favorites') ?></h2>
		</div>

		<div>
			<table class="diag-results" id="diag-results" style="width:100%;">
				<thead>
					<tr>
						<th class="empty w20"></th>
						<th><?php echo $this->__('Brand') ?></th>
						<th><?php echo $this->__('Perfume') ?></th>
						<th class="reliability w180"><?php echo $this->__('Evaluation') ?></th>
						<th class="empty w50"></th>
					</tr>
				</thead>
				
				<tbody>
	
					<?php foreach($favorite_evals as $key => $row) :?>
						
						<tr rel="<?php echo $row['perfume_id'] ?>">
							<td><strong></strong></td>
							<td><?php echo $row['brand_name'] ?></td>
							<td><!-- <span style="color:#aaa;"><?php echo $row['perfume_id'] ?></span> : --><?php echo $row['perfume_name'] ?></td>
							<td>
								<ul id="evalRanking" class="rating  <?php echo $row['_ranking_class'] ?>">
									<li class="one"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="1">1</a></li>
									<li class="two"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="2">2</a></li>
									<li class="three"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="3">3</a></li>
									<li class="four"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="4">4</a></li>
									<li class="five"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="5">5</a></li>
									<li class="six"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="6">6</a></li>
									<li class="seven"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="7">7</a></li>
									<li class="eight"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="8">8</a></li>
									<li class="none"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="9">9</a></li>
									<li class="ten"><a data-id="<?php echo $row['perfume_id'] ?>" data-rank="10">10</a></li>
								</ul>
							</td>
							<td class="empty center">
								<a></a>
							</td>
						</tr>
						
					<?php endforeach ;?>
						
				</tbody>
			</table>
		</div>

	<?php endif ;?>


	<script type="text/javascript">
		
		var Nose = new NoseEvaluation('<?php echo Mage::getBaseUrl(). 'mynose/eval/rank'; ?>');
		
		Nose.initEvaluationRanking('#evalRanking');
		
		$$('.btnSaveEval').each(function(btn)
		{
			btn.observe('click', function() {
				window.location.reload();
			});
		});
		
		var diagPanels = new NosePanels({
			'nav' : 'diag-nav',
			'panels' : 'diag-panels'
		});
	
	</script>
	
<?php endif ;?>