<?php

$EVAL_STATUS_CLOSED = 	0;		// Evaluation not yet opened (no order on samples)
$EVAL_STATUS_PENDING = 	1;		// Ordered, but order not complete
$EVAL_STATUS_WAITING = 	2;		// Eval opened, waiting for user input
$EVAL_STATUS_DONE = 	3;		// Eval done by user
$EVAL_STATUS_CANCELED = 4;		// Eval canceled, not used for the moment.



/**
 * Evaluations List
 * @see Partikule_Mynose_Block_Diagnostic.php
 *
 */

$enose_url = Mage::getBaseUrl(). 'mynose/eval/rank';
$evaluations = $this->getEvaluationList();
$closed_evals = $pending_evals = $waiting_evals = $done_evals = $favorite_evals = array();


/**
 * Orders
 *
 */
$exclude_status = array('complete', 'closed', 'canceled');

$orders = $this->getOrders();

// Pending products (orders)
$pending_products = array();
foreach($orders as $order)
{
	if ( ! in_array($order->getStatus(), $exclude_status))
	{
		$products = $order->getItemsCollection();
		foreach($products as $product)
		{
			$pending_products[] = $product->getSku();
		}
	}
}


/**
 * Cart
 *
 */
$_cart_products = Mage::getModel("checkout/cart")->getItems();
$_cart_data = array();
if ($_cart_products)
	$_cart_data = $_cart_products->getData();


/*
 * Add each Perfume to
 * - Waiting Array : if evaluation_status = 1
 * - Favorites Array : if evaluation_status = 3 or 4
 * - History Array : if evaluation_status = 3 or 4
 *
 *
 *
 */
if ( ! empty($evaluations))
{
	foreach($evaluations as &$eval)
	{
		// Adding the ranking class
		$eval->_ranking_class = 'n' . intval( $eval->evaluation / 2);
		
		switch($eval->evaluation_status)
		{
/*
			case $EVAL_STATUS_CLOSED:
				$closed_evals[] = $eval;
				break;
*/
			
			case $EVAL_STATUS_PENDING:
				$pending_evals[] = $eval;
				break;

			case $EVAL_STATUS_WAITING:
				$waiting_evals[] = $eval;
				break;
			
			case $EVAL_STATUS_DONE:
				$done_evals[] = $eval;
				$favorite_evals[] = $eval;
				break;
		}
	}
}


/*
 * Ordering of each produced array
 *
 */

// Waiting ordering
/*
if ( ! empty($waiting_evals))
{
	foreach ($waiting_evals as $key => $row)
	    $derniere_relance_dt[$key]  = $row->derniere_relance_dt;

	array_multisort($derniere_relance_dt, SORT_DESC, $waiting_evals);
}

// History ordering
if ( ! empty($done_evals))
{
	foreach ($done_evals as $key => $row)
	    $evaluation_dt[$key]  = $row->evaluation_dt;
	
	array_multisort($evaluation_dt, SORT_DESC, $done_evals);
}

*/
// Favorites ordering
if ( ! empty($favorite_evals))
{
	foreach ($favorite_evals as $key => $row) {
	    $evaluation[$key]  = $row->evaluation;
	    $evaluation_dt[$key] = $row->evaluation_dt;
	}
	array_multisort($evaluation, SORT_DESC, $evaluation_dt, SORT_DESC, $favorite_evals);
}


/*
 * Get samples and link them to the closed evaluations
 * So the user can order samples for these evals !
 *
 */
/*
if (! empty($pending_evals))
{
	// Samples from perfumes
	$products = $this->getSamplesFromDiagnosticItems($pending_evals);

	// Link samples to perfumes
	foreach($pending_evals as &$item)
	{
		$item->in_cart = FALSE;
		$item->ordered = FALSE;
		$item->product = NULL;
		
		foreach($products as $product)
		{
			if ($product->getMasterId() == $item->master_id)
			{
				$item->product = $product;
				
				if (in_array($product->getSku(), $pending_products))
					$item->ordered = TRUE;
				
				foreach($_cart_data as $cart_item)
					if ($product->getSku() == $cart_item['sku'])
						$item->in_cart = TRUE;
				
				break;
			}
		}
	}
}
*/

/**
 * Get products from favorites
 *
 */
if ( ! empty($favorite_evals))
{
	$products = $this->getProductsFromDiagnosticItems($favorite_evals);
	
	foreach ($favorite_evals as &$perfume)
	{
		foreach($products as $product)
		{
			if ($product->getMasterId() == $perfume->master_id)
			{
				$perfume->product = $product;
				break;
			}
		}
	}
}



// Mage::log($evaluations, null, 'evaluations.log');
//trace($waiting_evals);




?>

<div class="page-title">
    <h2><?php echo $this->__('Your Evaluations') ?></h2>
    <a id="helperBtn1" class="helper-open"></a>
</div>

<script type="text/javascript">
	Translator.add('In the cart','<?php echo Mage::helper('mynose')->__('In the cart')?>');
</script>

<?php if ( empty($evaluations)) :?>

	<?php echo $this->getChildHtml('mynose_no_eval'); ?>
	
<?php else :?>

	<div  id="helperBloc1" class="helper-bloc">
		<a class="helper-close"></a>
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_evaluation_help')->toHtml(); ?>
	</div>


<!-- ICI : Message si le user a effectué un diag	 -->
	
	
	<div class="subnav-container center">
		<ul id="diag-nav" class="subnav">
			<?php if( ! empty($waiting_evals)  ) :?><li><a id="btnFamily"><span><?php echo $this->__('To evaluate') ?></span></a></li><?php endif ;?>
			<?php if( ! empty($done_evals) ) :?><li><a id="btnNotes"><span><?php echo $this->__('Evaluation History') ?></span></a></li><?php endif ;?>
			<?php if( ! empty($pending_evals) ) :?><li class="active first"><a id="btnFamily"><span><?php echo $this->__('Pending Evaluations') ?></span></a></li><?php endif ;?>
		</ul>
	</div>
	
	
	<div id="diag-panels">
		

		<?php
		/*
		 * Pending : Pending order on these evaluations samples
		 *
		 *
		 */
		?>
		<?php if( ! empty($pending_evals) ) :?>
		
		<div class="panelContent">
			
			
			<div class="explanation-bloc">
			
				<p><?php echo $this->__('Order the samples to open the corresponding perfumes to evaluation.'); ?></p>
			
			</div>
			
			
			<?php if( ! empty($pending_evals)) : ?>

			<table class="diag-results" id="diag-results" style="width:100%;">
				<thead>
					<tr>
						<th><?php echo $this->__('Brand') ?></th>
						<th><?php echo $this->__('Perfume') ?></th>
						<th class="w100"><?php echo $this->__('To evaluate') ?></th>
						<th class="w200"><?php echo $this->__('Order the samples') ?></th>
						<th class="w140 center"></th>
					</tr>
				</thead>
				
				<tbody>
					
					<tr class="quiet h10">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<?php $_iterator = 0; ?>
					
					<?php foreach($pending_evals as $key => $row) :?>
					
						<tr rel="<?php echo $row->master_id ?>"<?php if($_iterator == 0) :?> class="first"<?php endif; ?>>
							<td><?php echo $row->brand_name ?></td>
							<td><!-- <span style="color:#aaa;"><?php echo $row->master_id ?></span> : --><?php echo $row->perfume_name ?></td>
							<td class="center">
								<div class="rating-closed"></div>
							</td>
							
							<td>
								<?php if( isset($row->product) ) :?>
									<span class="sample-box w100"><?php echo $this->__('Sample') ;?></span>
									<span class="sample-box">2ml</span>
									<span class="sample-box last"><?php echo Mage::helper('core')->currency($row->product->getFinalPrice()); ?></span>
								<?php else :?>
									<?php echo $this->__('Sample not available'); ?>
								<?php endif ;?>
							</td>
							<td class="right last">
								<?php if( isset($row->product) ) :?>
									<?php if (  ! $row->in_cart && ! $row->ordered && isset($row->product)) :?>
										<button id="btnAddToCart<?php echo $row->product->getId() ?>" type="button" onclick="setLocation('<?php echo $this->getAddToCartUrl($row->product) ?>')" class="button bag"><span><span><?php echo $this->__('Add sample to cart') ?></span></span></button>
									<?php elseif ($row->ordered) :?>
										<button type="button" title="<?php echo $this->__('Ordered') ?>" class="button bag disabled"><span><span><?php echo $this->__('Ordered') ?></span></span></button>
									<?php else :?>
										<button type="button" title="<?php echo $this->__('In the cart') ?>" class="button bag disabled"><span><span><?php echo $this->__('In the cart') ?></span></span></button>
									<?php endif ;?>
								<?php endif ;?>
							</td>
						</tr>
						<?php $_iterator++ ; ?>

					<?php endforeach ;?>
				</tbody>
			</table>

			<div class="mt20">
				<div class="right">
				<?php
				/*
				*
				* Order the Samples which aren't ordered
				*
				*
				*/				
				$sample_ids = array();
				foreach($pending_evals as $key => $eval)
				{
					if ( isset($eval->product) && ! $eval->ordered && ! $eval->in_cart)
					{
						$sample_ids[] = $eval->product->getId();
					}
				}	
				$sample_url = implode(',', $sample_ids);
				?>
				<?php if ( ! empty($sample_ids) ) :?>
					<button onclick="setMultiLocation('<?php echo Mage::helper('checkout/cart')->getCartUrl() ?>addset/products/<?php echo $sample_url; ?>/')"  class="button bag action" title="<?php echo $this->__('Order the samples') ?>" type="submit"><span><span><?php echo $this->__('Order the samples') ?></span></span></button>
					<div class="clearfix"></div>							
				<?php endif ;?>
				</div>
			</div>
			
			<?php endif ;?>


		</div>
		
		
		<?php endif ;?>
		
		
		
		<?php
		/*
		 * Awaiting
		 *
		 *
		 */
		?>
		<?php if( ! empty($waiting_evals) ) :?>
		
		<div class="panelContent">
	
			<div class="explanation-bloc">
			
				<p><?php echo $this->__('Here are the perfumes awaiting for your evaluation'); ?></p>
			
			</div>
			
			<table class="diag-results" id="diag-results" style="width:100%;">
				<thead>
					<tr>
						<th><?php echo $this->__('Brand') ?></th>
						<th><?php echo $this->__('Perfume') ?></th>
						<th class="center w130"><?php echo $this->__('Your evaluation') ?></th>
<!--
						<th class="w200"><?php echo $this->__('Order the samples') ?></th>
						<th class="w140 center"></th>
-->
					</tr>
				</thead>
				
				<tbody>
					
					<tr class="quiet h10">
						<td></td>
						<td></td>
						<td></td>
<!--
						<td></td>
						<td></td>
-->
					</tr>

					<?php $_iterator = 0; ?>
					
					<?php foreach($waiting_evals as $key => $row) :?>
					
						<tr rel="<?php echo $row->master_id ?>"<?php if($_iterator == 0) :?> class="first"<?php endif; ?>>
							<td><?php echo $row->brand_name ?></td>
							<td><!-- <span style="color:#aaa;"><?php echo $row->master_id ?></span> : --><?php echo $row->perfume_name ?></td>
							<td class="center">
								<ul id="evalRanking" class="rating eval">
									<li class="one"><a data-dig="<?php echo $row->id_diag ?>" data-id="<?php echo $row->master_id ?>" data-rank="1">1</a></li>
									<li class="two"><a data-dig="<?php echo $row->id_diag ?>" data-id="<?php echo $row->master_id ?>" data-rank="2">2</a></li>
									<li class="three"><a data-dig="<?php echo $row->id_diag ?>" data-id="<?php echo $row->master_id ?>" data-rank="3">3</a></li>
									<li class="four"><a data-dig="<?php echo $row->id_diag ?>" data-id="<?php echo $row->master_id ?>" data-rank="4">4</a></li>
									<li class="five"><a data-dig="<?php echo $row->id_diag ?>" data-id="<?php echo $row->master_id ?>" data-rank="5">5</a></li>
								</ul>
							</td>
							
<!--
							<td>
								<?php if( isset($row->product) ) :?>
									<span class="sample-box w100"><?php echo $this->__('Sample') ;?></span>
									<span class="sample-box">2ml</span>
									<span class="sample-box last"><?php echo Mage::helper('core')->currency($row->product->getFinalPrice()); ?></span>
								<?php else :?>
									<?php echo $this->__('Sample not available'); ?>
								<?php endif ;?>
							</td>
							<td class="right last">
								<?php if( isset($row->product) ) :?>
									<?php if (  ! $row->in_cart && ! $row->ordered && isset($row->product)) :?>
										<button id="btnAddToCart<?php echo $row->product->getId() ?>" type="button" onclick="setLocation('<?php echo $this->getAddToCartUrl($row->product) ?>')" class="button bag"><span><span><?php echo $this->__('Add sample to cart') ?></span></span></button>
									<?php elseif ($row->ordered) :?>
										<button type="button" title="<?php echo $this->__('Ordered') ?>" class="button bag disabled"><span><span><?php echo $this->__('Ordered') ?></span></span></button>
									<?php else :?>
										<button type="button" title="<?php echo $this->__('In the cart') ?>" class="button bag disabled"><span><span><?php echo $this->__('In the cart') ?></span></span></button>
									<?php endif ;?>
								<?php endif ;?>
							</td>
-->
						</tr>
						<?php $_iterator++ ; ?>

					<?php endforeach ;?>
					<tr class="quiet">
						<td></td>
						<td></td>
						<td class="center"><button type="submit" title="<?php echo $this->__('Save') ?>" class="button btnSaveEval action mt10"><span><span><?php echo $this->__('Save') ?></span></span></button></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			
		
		</div>

		<?php endif ;?>
	

	<?php
	/*
	 * History
	 *
	 *
	 */
	?>
	<?php if( ! empty($done_evals) ) :?>

		<div class="panelContent">

			<div class="explanation-bloc">
			
				<p><?php echo $this->__('History of your evaluations'); ?></p>
			
			</div>

			<table class="diag-results" id="diag-results" style="width:100%;">
				<thead>
					<tr>
						<th class="w100"><?php echo $this->__('Brand') ?></th>
						<th class="w100"><?php echo $this->__('Perfume') ?></th>
						<th class="center w120"><?php echo $this->__('Evaluation') ?></th>
<!--
						<th class="empty w120"><?php echo $this->__('Date') ?></th>
-->
<!--
						<th class="w100"><?php echo $this->__('Evaluation place') ?></th>
-->
						<th class="w300"><?php echo $this->__('Order the product') ?></th>
					</tr>
				</thead>
				
				<tbody>
					<tr class="quiet h10">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
<!--
						<td></td>
-->
					</tr>
	
					<?php foreach($done_evals as $key => $row) :?>
					
						<tr rel="<?php echo $row->master_id ?>">
							<td><?php echo $row->brand_name ?></td>
							<td><!-- <span style="color:#aaa;"><?php echo $row->master_id ?></span> : --><?php echo $row->perfume_name ?></td>
							<td>
								<ul id="" class="rating <?php echo $row->_ranking_class  ?>">
									<li class="one"><a data-id="<?php echo $row->master_id ?>" data-rank="1">1</a></li>
									<li class="two"><a data-id="<?php echo $row->master_id ?>" data-rank="2">2</a></li>
									<li class="three"><a data-id="<?php echo $row->master_id ?>" data-rank="3">3</a></li>
									<li class="four"><a data-id="<?php echo $row->master_id ?>" data-rank="4">4</a></li>
									<li class="five"><a data-id="<?php echo $row->master_id ?>" data-rank="5">5</a></li>
								</ul>
							</td>
<!--
							<td class="empty"><?php echo Mage::helper('ionize/date')->getFormatedDate($row->created, 'j M Y') ;?></td>
-->
<!--
							<td class="empty"><?php // echo Mage::helper('ionize/date')->getFormatedDate($row->created, 'j M Y') ;?><?php echo $row->store_name ?></td>
-->
							
							<td class="last">
								
								<?php if ( isset($row->product) ) :?>
								
									<span id="scp-please-wait<?php echo $row->master_id; ?>" class="scp-please-wait" style="display:none;">
										<img alt="" class="v-middle" src="http://nose.home/skin/frontend/base/default/images/scp-ajax-loader.gif"> &nbsp; <?php echo $this->__('Loading...') ?> &nbsp;
									</span>
								
								
									<button id="btnProductDetail<?php echo $row->master_id; ?>" type="button" title="<?php echo $this->__('Order the product') ?>" class="button itemHandler" data-pid="<?php echo $row->master_id; ?>"><span><span><?php echo $this->__('Order the product') ?></span></span></button>

									<?php
/*
										$product = $row->product;
										$hasAtts = 0;
										
										if($row->product->getTypeId() == "configurable")
									    {
									        $attValConfig = $product->getTypeInstance(true)->setStoreFilter(Mage::app()->getStore(), $product)->getConfigurableAttributesAsArray($product);
									        if(sizeof($attValConfig)) {
									            $hasAtts++;
									            foreach($attValConfig as $attValConfigSingle)
									            {
									                echo "<select class='cust_select' name='super_attribute[".$attValConfigSingle['attribute_id']."]'>";
									                foreach($attValConfigSingle['values'] as $attValConfigSingleVal) {
									                    echo "<option value='".$attValConfigSingleVal['value_index']."'>".$attValConfigSingleVal['label'].' +'.Mage::helper('core')->currency($attValConfigSingleVal['pricing_value'])."</option>";
									                }
									                echo "</select>";
									            }
									        }
									    }	
*/
									?>
									
									<div id="productDetailContainer<?php echo $row->master_id; ?>" class="productDetailContainer evalProductDetail"></div>
									
								<?php endif ;?>
							</td>
						</tr>
					<?php endforeach ;?>
				</tbody>
			</table>
			
<!--
			<div class="buttons-set">
				<button type="submit" title="<?php echo $this->__('Save') ?>" class="button btnSaveEval"><span><span><?php echo $this->__('Save') ?></span></span></button>
			</div>
-->
			
		</div>

	<?php endif ;?>

	
	
	</div>
	
	



	<script type="text/javascript">
		
		jQuery(document).ready(function()
		{
			setOpenBlock('#block-mynose');

			var Nose = new NoseEvaluation('<?php echo Mage::getBaseUrl(). 'mynose/eval/rank'; ?>');
			
			Nose.initEvaluationRanking('#evalRanking');
			
			$$('.btnSaveEval').each(function(btn)
			{
				btn.observe('click', function() {
					window.location.reload();
				});
			});
			
			var diagPanels = new NosePanels({
				'nav' : 'diag-nav',
				'panels' : 'diag-panels'
			});
			
			<?php
			/*
			 * Helpers panels
			 *
			 */
			?>
			initHelper('#helperBtn1', '#helperBloc1');
	
			<?php
			/*
			 * XHR Product Display
			 * (prototype)
			 * Gets the product from one Perfume ID
			 *
			 */
			?>
			var productLoader = new NoseProductLoader('<?php echo Mage::helper('mynose/url')->getEvalProductUrl() ;?>',
			{
				'updates' : 'productDetailContainer',
				'handlers' : '.itemHandler',
				'hideHandler': true,
				'loadingSpinner' : 'scp-please-wait'
			});
			productLoader.init();
		});


	
	</script>
	
<?php endif ;?>