<?php


// Get the Diagnose URL form Diagnose module config.xml file
// $enose_base_url = Mage::getStoreConfig('diagnose/settings/url');
// $enose_url = $enose_base_url . 'diagnose';

// Magento URL to the Proxy
$diagnostic_url = Mage::getBaseUrl(). 'mynose/index/form';
$diagnostic_result_url = Mage::getBaseUrl(). 'mynose/result/mydiagnose';


// $enose_base_url = Mage::getStoreConfig('diagnose/settings/url');
// trace($enose_base_url);

$customer = Mage::getSingleton('customer/session')->getCustomer();


?>

<script type="text/javascript">
//<![CDATA[
    setTimeout(function(){ location.href = '<?php echo Mage::helper('ionize/core')->getBaseUrl(TRUE) ?>mynose/diagnose'},0);
//]]>
</script>

<div id="myDiagnoseContainer"></div>



<script type="text/javascript">

	/*
	 * XHR load
	 * (prototype)
	 *
	 */
	var loadContent = function(url)
	{
		new Ajax.Updater(
			'myDiagnoseContainer',
			url, 
			{
				'method': 'post',
				'evalScripts' : true
			}
		);
	}
	
	<?php
	/*
	 * Loads the Diagnostic if the user is logged in
	 *
	 */
	?>
	<?php if ( Mage::getSingleton('customer/session')->isLoggedIn() ) :?>

		loadContent('<?php echo $diagnostic_url ?>');

	<?php endif ;?>

	/*
	 * History 
	 * (jQuery)
	 *
	 */
//	var firstLoad = true;
//    jQuery.history.init(function(hash)
//    {
//    	if (hash=='diagnose' && firstLoad == false) loadDiagnose();
//    });


/*	
        function load(num) {
            $('#content').load(num +".html");
        }

        $.history.init(function(url) {
                load(url == "" ? "1" : url);
            });

        $('#ajax-links a').live('click', function(e) {
                var url = $(this).attr('href');
                url = url.replace(/^.*#/, '');
                $.history.load(url);
                return false;
            });
*/	
	
	
</script>
