<?php

$diagnose_url = 		Mage::helper('mynose/url')->getDiagnoseUrl();

$diagnostic_url = 		Mage::helper('mynose/url')->getDiagnoseResultUrl();
$evaluation_url = 		Mage::helper('mynose/url')->getEvalProductUrl();
$favorite_url = 		Mage::helper('mynose/url')->getFavoriteUrl();

// $customer = Mage::getSingleton('customer/session')->getCustomer();

?>

<h2 class="col-title"><?php echo $this->__('My Nose') ?></h2>

<div class="span-5 first last mynose-welcome link">
	<a href="<?php echo  $diagnose_url;?>" >
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_enose_bloc_preferences')->toHtml() ?>
	</a>
</div>

<div class="span-5 mynose-welcome link">
	<a href="<?php echo $diagnostic_url ;?>">
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_enose_bloc_diagnostic')->toHtml() ?>
	</a>
</div>

<div class="span-5 mynose-welcome link">
	<a href="<?php echo $evaluation_url ;?>">
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_enose_bloc_evaluations')->toHtml() ?>
	</a>
</div>

<div class="span-5 last mynose-welcome link	">
	<a href="<?php echo $favorite_url ;?>">
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_enose_bloc_favorites')->toHtml() ?>
	</a>
</div>


<script type="text/javascript">
	jQuery(document).ready(function()
	{
		setOpenBlock('#block-mynose');
	});
</script>
