<?php

/*
 * @see Partikule_Mynose_Block_Diagnostic
 *
 */
$diagnoseForm = $this->getDiagnoseForm();

// User's inputs
$inputs = $this->getInputs();
$style_id = ( ! empty($inputs->style)) ? $inputs->style->style_id : FALSE;
$note_id = ( ! empty($inputs->note)) ? $inputs->note->note_id : FALSE;
$perfumes = ( ! empty($inputs->perfumes)) ? $inputs->perfumes : FALSE;



// trace($perfumes);

// Used to feed again the form
$session = Mage::getSingleton('core/session');

if ($diagnoseForm)
{
	$style_select = $diagnoseForm->style_select;
	$note_select = $diagnoseForm->note_select;
	$autocomplete_url = $diagnoseForm->autocomplete_url;
	$perfume_select_url = $diagnoseForm->perfume_select_url;

	$form_action_url = $diagnoseForm->form_action_url;
	$module_url = $diagnoseForm->module_url;
}

// trace($diagnoseForm);

?>

<h2 class="col-title"><?php echo $this->__('Do / Edit the diagnostic') ?></h2>

<?php
/*
 * Maintenance screen if the diag isn't available 
 *
 */
?>
<?php if ( ! $diagnoseForm OR empty($style_select) ) :?>

	<?php echo $this->getChildHtml('mynose_maintenance'); ?>

<?php else :?>

<div class="span-14 prepend-3 append-3">

	<form name="diagnose" id="diagnoseForm" method="post" class="" action="<?php echo($form_action_url) ;?>">
	
		<!-- See here how to manage errors -->
		<h3 class="title first"><?php echo $this->__('Favorites scent preferences') ?></h3>
		<div class="clearfix"></div>

		<?php
		/*
		 * Favorite Style
		 *
		 */
		?>
		<div class="field w140 left">
		   <label for="style_id"><?php echo $this->__('Your favorite style') ?></label>
		   <div class="input-box">
				<select name="style_id" class="w120">
				<?php foreach($style_select as $id => $style) :?>
					<option value="<?php echo($id) ?>" <?php if ($style_id && $style_id == $id) :?> selected="selected" <?php endif ;?>><?php echo($style) ;?></options>
				<?php endforeach ;?>
				</select>
			</div>
		</div>


		<?php
		/*
		 * Favorite scent
		 *
		 */
		?>
		<div class="field left">
			<label for="note_id"><?php echo $this->__('Your favorite flower') ?></label>
		   <div class="input-box">
				<select name="note_id" class="w180">
				<?php foreach($note_select as $id => $note) :?>
					<option value="<?php echo($id) ?>"<?php if ($note_id && $note_id == $id) :?> selected="selected" <?php endif ;?>><?php echo($note) ;?></options>
				<?php endforeach ;?>
				</select>
			</div>
		</div>
		

	
		<div class="clearfix"></div>

		<h3 class="title mt30"><?php echo $this->__('Current and past perfumes') ?></h3>

		<div class="clearfix"></div>
		
		
		<?php
		
		$gender = Mage::getSingleton('customer/session')->getCustomer()->getGender();
		
		?>
		
		<div class="input-box">
			<input id="include_all" type="checkbox" name="include_all" value="1" />
			<label for="include_all" class="pl5">
				<?php if( $gender == 1 ) :?>
					<?php echo $this->__('Include female perfumes') ;?>
				<?php else: ?>
					<?php echo $this->__('Include male perfumes') ;?>
				<?php endif ;?>
			</label>
			
			<div class="clearfix"></div>
		</div>
		
		<div id="diagnosePerfumes">
		
			<?php for($i=1; $i<6; $i++) :?>
	
				<?php
					$brand_name = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->brand_name : '';
					$brand_id = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->brand_id : '';
					$perfume_name = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->perfume_name : '';
					$perfume_id = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->perfume_id : '';
					
					// $session->getData('search_brand_'.$i)
				?>
				<div>
	
					<?php
					/*
					 * Period
					 *
					 */
					?>
					<div class="period-field">
						
						<dl class="<?php if ( $i == 1 ) :?> first <?php endif ;?><?php if ( $i == 5 ) :?> last <?php endif ;?>">
							<dt><label>&nbsp;</label></dt>
							<dd>
								<select id="period_<?php echo($i) ;?>" name="period_<?php echo($i) ;?>" class="input-text" rel="<?php echo($i) ;?>">
									<?php for($j=0; $j<5; $j++) :?>
										<option value="<?php echo ($j+1)*12 ;?>" <?php if ( $session->getData('period_'.$i) == ($j+1)*12 ) :?> selected="selected"<?php endif ;?>><?php echo ($j+1) ;?> <?php echo $this->__('year') ;?></options>
									<?php endfor ;?>
								</select>
							</dd>
						</dl>
						
					</div>
			
					<?php
					/*
					 * Brands
					 *
					 */
					?>
					<div class="brand-field">
						
						<input type="hidden" id="brand_<?php echo($i) ;?>" name="brand_<?php echo($i) ;?>" value="<?php echo $session->getData('brand_'.$i) ;?>" />
						
						<dl class="brand <?php if ( $i == 1 ) :?> first <?php endif ;?><?php if ( $i == 5 ) :?> last <?php endif ;?>">
							<dt><label for="search_brand_<?php echo($i) ;?>"><?php echo $this->__('Brand n°') ?><?php echo($i) ;?> </label></dt>
							<dd>
								<input id="search_brand_<?php echo($i) ;?>" name="search_brand_<?php echo($i) ;?>" type="text" class="input-text search-brand" value="<?php echo $brand_name ;?>" rel="<?php echo($i) ;?>" />
							</dd>
						</dl>
								
					</div>
			
					<?php
					/*
					 * Perfumes
					 *
					 */
					?>
					<div class="perfume-field">
					
						<dl class="perfume <?php if ( $i == 1 ) :?> first <?php endif ;?><?php if ( $i == 5 ) :?> last <?php endif ;?>">
							<dt><label for="perfume_<?php echo($i) ;?>"><?php echo $this->__('Perfume n°') ?><?php echo($i) ;?></label></dt>
							<dd>
								<div id="perfume_<?php echo($i) ;?>_select" class="left">
									<input id="perfume_<?php echo($i) ;?>" name="perfume_<?php echo($i) ;?>" disabled="disabled" type="text" class="input-text italic" value="" />
								</div>
							</dd>
						</dl>
						
					</div>
					<div class="clearfix"></div>
				</div>
			
			<?php endfor ;?>

			<div class="clearfix"></div>
				
			<div class="never-field">
				<input type="checkbox" id="never" name="never" value="1" >
				<label class="first last gray" for="never" class="pl5">&nbsp;<?php echo $this->__('I have never worn perfume') ?></label>
			</div>
		
		</div>
		
		<div class="clearfix"></div>
		
		<hr class="mt20" />
		
		<input type="checkbox" id="condition" name="condition" value="1" >
		<label class="first last gray" class="pl5" for="condition">&nbsp;<?php echo $this->__('I agree with the nose conditions') ?></label>
		
		<hr />

		
		
		<?php
		/*
		 * Submit
		 *
		 */
		?>
	    <div class="buttons-set">
			<button id="submitDiagnose" class="button" type="button"><span><span><?php echo $this->__('Get the diagnostic result') ?></span></span></button>
		</div>
		
		
	</form>
	
	<script type="text/javascript">
	
	
	// AutoCompleter
	jQuery(document).ready(function()
	{
		setOpenBlock('#block-mynose');
	
		var cache = {}, lastXhr;
		
		removePerfume = function(id)
		{
			$j('#perfume_' + id + '_select').html(
				'<input id="perfume_'+id+'" name="perfume_'+id+'" disabled="disabled" type="text" class="input-text italic" value="" />'
			);
			$j('#search_brand_' + id).attr('value', '');
		};
		
		getPerfumeSelect = function(brand_id, id, selected)
		{
			var ia = $j('#include_all:checked').val();
			
			var data = {
				'brand_id': brand_id,
				'select_id': 'perfume_' + id,
				'include_all': ia
			};
			
			if (selected)
				$j.extend(data, {'selected': selected});
			
			$j.ajax({
				url: '<?= $perfume_select_url ?>',
				type: 'post',
				dataType: 'html',
				data: data,
				success: function(data)
				{
					data = data + ('<a class="icon left clear-field ml5" onclick="javascript:removePerfume(' + id + ');" title="<?php echo $this->__('Remove this perfume') ?>"></a>');
					$j('#perfume_' + id + '_select').html(data);
				}
			});		
		};
	
		$j( ".search-brand" ).autocomplete(
		{	
			source: function( request, response ) {
				var term = request.term;
				if ( term in cache ) {
					response( cache[ term ] );
					return;
				}
				$j.ajax({
					url: '<?= $autocomplete_url ?>',
					type: 'post',
					dataType: "json",
					data: {
						maxRows: 12,
						search: request.term
					},
					success: function( data ) {
						cache[ term ] = data;
						response( data );
					}
				});
			},
			minLength: 2,
			select: function( event, ui )
			{
				var rel = $j(event.target).attr('rel');
				$j('#brand_' + rel).val(ui.item.id);
				
				getPerfumeSelect(ui.item.id, rel);
			}
		});
		
		$j('.clear-field')
		
	
	/*
	* Was Ajax call to the controller
	* Now, the controller simply redirect to result
	*
		$j('#submitDiagnose').click(function()
		{
			s = $j('#diagnoseForm').serialize();
			$j.ajax({
				type: "POST",
	 			data: s,
	 			url: $j('#diagnoseForm').attr("action"),
	 			success: function(data)
	 			{
					$j('#myDiagnoseContainer').html(data);
	 			}
	 		});
		});	
	*/
	
		$j('#submitDiagnose').click(function()
		{
			$j('#diagnoseForm').submit();
		});
	
	
		$j('#city').val('<?php // echo $antispam_hash ?>');
	
		// On Varien validate...
		VarienForm.prototype.submit = function(url)
		{
			if(this.validator && this.validator.validate())
			{
				return true;
			}
			return false;
		}
		
		var diagnoseForm = new VarienForm('diagnoseForm', true);	
	
		// History
//		jQuery.history.load("diagnose");	
	
		<?php for($i=1; $i<6; $i++) :?>
			<?php if ( $perfumes != FALSE && ( ! empty($perfumes[$i-1]))) :?>
				getPerfumeSelect('<?php echo $perfumes[$i-1]->brand_id ;?>', '<?php echo $i ;?>', '<?php echo $perfumes[$i-1]->perfume_id ;?>');
			<?php endif ;?>
		<?php endfor ;?>
		
	});



	</script>
	
</div>	
<?php endif ;?>

	
	







