<?php

$session = Mage::getSingleton('core/session');
$customer = Mage::getSingleton('customer/session')->getCustomer();

$diagnostic_url = Mage::getBaseUrl(). 'mynose/index/form';

$logged_in = $this->helper('customer')->isLoggedIn();

// trace($style_select);

?>

<h2 class="col-title"><?php echo $this->__('Do / Edit the diagnostic') ?></h2>

<div id="diag-nav" class="subnav-container center">
	<ul class="subnav">
		<li class="active first" data-panel="profile"><a id="btnDiagProfile" data-panel="profile"><span><?php echo $this->__('Profile') ?></span></a></li>
		<li data-panel="preference"><a id="btnDiagPreference" data-panel="preference"><span><?php echo $this->__('Preferences') ?></span></a></li>
	</ul>
</div>


<?php
/*
 * Loads the Diags panels through XHR if the user is logged in 
 *
 * Called controler : Mynose/controllers/IndexController->form()
 *
 */
?>
<?php if ( ! $logged_in ) :?>

	<?php // echo $this->getChildHtml('form_register') ?>

<?php else :?>

	<div id="diag-panels">
		<div id="panel-profile">
			<?php // echo $this->getChildHtml('form_profile_edit') ?>
		</div>
		
		<div id="panel-preference" style="display:none;">
			<div id="myDiagnoseContainer"></div>
		</div>
	</div>
	
	<script type="text/javascript">
	
		/*
		 * XHR load
		 * (prototype)
		 *
		 */
		var loadContent = function(url)
		{
			new Ajax.Updater(
				'myDiagnoseContainer',
				url, 
				{
					'method': 'post',
					'evalScripts' : true
				}
			);
		};
		
		loadContent('<?php echo $diagnostic_url ?>');
		
		var showPanel = function(panel)
		{
	    	hidePanels();
			$('panel-' + panel).show();
	    	setActiveMenuItem(panel);
		}
		
		var hidePanels = function()
		{
			$$('#diag-panels > div').each(function(div)
			{
				div.hide();
			});
		}
		
		var setActiveMenuItem = function(panel)
		{
		    $$('#diag-nav li').each(function(li)
		    {
		    	li.removeClassName('active');
				if (li.firstDescendant().readAttribute('data-panel') == panel)
				{
					li.addClassName('active');
				}
			});
		}
		
		
		/*
		 * Add event on each attribute sub menu
		 *
		 */
	    $$('#diag-nav li a').each(function(a)
	    {
	    	var panel = a.readAttribute('data-panel');

	    	a.observe('click', function(e)
	    	{
	    		e.stop();
	    		showPanel(panel);
			});
	    });
		
		showPanel('preference');
		
	</script>




	
<?php endif ;?>







