<?php

/*
 * @see Partikule_Mynose_Block_Diagnostic
 *
 */
$diagnoseForm = $this->getDiagnoseForm();

trace($diagnoseForm);

/*
 * Check for errors
 * If one error happens, the diagnoseForm object looks like this : 
 * stdClass Object
 *	(
 *	    [error] => 2
 * 	    [message] => User gender not known
 *	)
 *
 */
$error = (isset($diagnoseForm->error)) ? TRUE : FALSE;

/*
 * Helper Block
 *
 */
$genderHelpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_form_no_gender')->toHtml();
$mainHelpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_form_help')->toHtml();
$perfumesHelpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_form_perfumes_help')->toHtml();
$stylesHelpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_form_styles_help')->toHtml();
$familyHelpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_form_family_help')->toHtml();

if ($error == FALSE)
{
	// User's inputs from existing Diags
	$inputs = $this->getInputs();
	$style_id = ( ! empty($inputs->style)) ? $inputs->style->style_id : FALSE;
	$note_id = ( ! empty($inputs->note)) ? $inputs->note->note_id : FALSE;
	$perfumes = ( ! empty($inputs->perfumes)) ? $inputs->perfumes : FALSE;
	$season_families = ( ! empty($inputs->season_families)) ? $inputs->season_families : FALSE;
	
	/*
	 * @TODO : FIND ANOTHER WAY TO GET THE SEASON : WTF THIS IS UGLY !!!
	 *
	 * Ugly Hard coded season attributes codes
	 * Used by the season form to detect the current Diag's season's family
	 * Same in eNose model : Diagnose_model()->_season_families_input
	 *
	 */
	$seasons_input_types = array(
		1 => 11,
		2 => 12,
		3 => 13,
		4 => 14
	);
	
	// Used to feed again the form
	$session = Mage::getSingleton('core/session');
	
	if ($diagnoseForm)
	{
		$style_select = $diagnoseForm->style_select;
		$note_select = $diagnoseForm->note_select;
		$season_family_select = $diagnoseForm->season_family_select;
		
		$autocomplete_url = $diagnoseForm->autocomplete_url;
		$perfume_select_url = $diagnoseForm->perfume_select_url;
		
		$form_action_url = $diagnoseForm->form_action_url;
		$module_url = $diagnoseForm->module_url;
	}
}


// trace($diagnoseForm);

?>

<div class="page-title">
    <h2><?php echo $this->__('Do / Edit the diagnostic') ?></h2>
    <?php if ( $error === FALSE && ! empty($mainHelpBlock)) :?>
	    <a id="helperBtn1" class="helper-open"></a>
	<?php endif; ?>
</div>


<?php
/*
 * Maintenance screen if the diag isn't available 
 *
 */
?>
<?php if ( $error === TRUE ) :?>
	
	<?php
	/*
	 * Diag not reachable : 
	 * URL problem, server problem
	 *
	 */
	?>
	<?php if($diagnoseForm->error == 3) :?>
		<?php echo $this->getChildHtml('mynose_maintenance'); ?>
	<?php endif; ?>
	
	
	<?php
	/*
	 * No Magento User for this eNose User : 
	 * Should never happens
	 */
	?>
	<?php if($diagnoseForm->error == 1) :?>
	<?php endif; ?>
	
	
	<?php
	/*
	 * No Gender (male / female) for this User
	 *
	 */
	?>
	<?php if($diagnoseForm->error == 2) :?>
		<?php // echo $this->getChildHtml('mynose_maintenance'); ?>

		<div class="span-12 prepend-4 append-4">
		
			<form action="<?php echo $this->getUrl('mynose/account/editPost') ?>" method="post" id="form-validate" class="profile">
				
				<input type="hidden" name="referrer_url" id="referrer_url" value="<?php echo Mage::helper('mynose/url')->getDiagnoseUrl() ?>">
			    <?php echo $this->getBlockHtml('formkey')?>
				
				<?php
				/*
				 * Helper Block
				 *
				 */
				?>
				<?php if ( ! empty($genderHelpBlock)): ?>
					<?php echo $genderHelpBlock ;?>
				<?php endif ?>

				<div class="center mt30">
			    	<?php $_gender = $this->getLayout()->createBlock('mynose/widget_gender') ?>
		        	<?php echo $_gender->setGender($this->getCustomer()->getGender())->toHtml() ?>
				</div>

			    <div class="buttons-set center">
			        <button type="submit" title="<?php echo $this->__('Save') ?>" class="button"><span><span><?php echo $this->__('Save and go to the diagnostic') ?></span></span></button>
			    </div>
			    
			</form>
		</div>
		<script type="text/javascript">
	       // var dataForm = new VarienForm('form-validate', true);
		</script>


		
	<?php endif; ?>


<?php else :?>

<div class="span-14 prepend-3 append-3">

	<?php if ( ! empty($mainHelpBlock)) :?>
	<div  id="helperBloc1" class="helper-bloc full-width" data-id="1">
		<a class="helper-close"></a>
		<?php echo $mainHelpBlock ?>
	</div>
	<?php endif ;?>


	<form name="diagnose" id="diagnoseForm" method="post" class="" action="<?php echo($form_action_url) ;?>">
		
		<?php
		/*
		 * Styles
		 *
		 */
		?>
		<h3 class="title mt30">
			<?php echo $this->__('Your favorite perfume style') ?>
		    <?php if ( ! empty($stylesHelpBlock)) :?>
			    <a id="helperBtn4" class="helper-open"></a>
			<?php endif; ?>
		</h3>
		<?php if ( ! empty($stylesHelpBlock)) :?>
		<div  id="helperBloc4" class="helper-bloc" data-id="4">
			<a class="helper-close"></a>
			<?php echo $stylesHelpBlock ?>
		</div>
		<?php endif ;?>

		<div class="clearfix"></div>


		<div class="">
			
			<input id="include_all" type="checkbox" name="include_all" value="1" />
			<label for="include_all" class="pl5"></label>
			
			<input type="checkbox" id="never" name="never" value="1" >
			<label class="first last gray" for="never" class="pl5">&nbsp;<?php echo $this->__('I have never worn perfume') ?></label>


		</div>
	
		<div class="never-field">
		</div>






		<?php
		/*
		 * Current / Past perfumes
		 *
		 */
		?>
		<h3 class="title mt30">
			<?php echo $this->__('Current and past perfumes') ?>
		    <?php if ( ! empty($perfumesHelpBlock)) :?>
			    <a id="helperBtn2" class="helper-open"></a>
			<?php endif; ?>
		</h3>

		<?php if ( ! empty($perfumesHelpBlock)) :?>
		<div  id="helperBloc2" class="helper-bloc" data-id="2">
			<a class="helper-close"></a>
			<?php echo $perfumesHelpBlock ?>
		</div>
		<?php endif ;?>

		<div class="clearfix"></div>
		
		
		<?php
			$gender = $this->getCustomer()->getGender();
		?>
		
		
		<div id="diagnosePerfumes">
		
			<?php for($i=1; $i<4; $i++) :?>
	
				<?php
					$brand_name = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->brand_name : '';
					$brand_id = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->brand_id : '';
					$perfume_name = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->perfume_name : '';
					$perfume_id = ($perfumes != FALSE && ( ! empty($perfumes[$i-1]))) ? $perfumes[$i-1]->perfume_id : '';
					
					// $session->getData('search_brand_'.$i)
				?>
				<div>
	
					<?php
					/*
					 * Period
					 *
					 */
					?>
					<div class="period-field">
						
						<dl class="<?php if ( $i == 1 ) :?> first <?php endif ;?><?php if ( $i == 5 ) :?> last <?php endif ;?>">
							<dt><label>&nbsp;</label></dt>
							<dd>
								<select id="period_<?php echo($i) ;?>" name="period_<?php echo($i) ;?>" class="input-text" rel="<?php echo($i) ;?>">
									<?php for($j=0; $j<5; $j++) :?>
										<option value="<?php echo ($j+1)*12 ;?>" <?php if ( $session->getData('period_'.$i) == ($j+1)*12 ) :?> selected="selected"<?php endif ;?>><?php echo ($j+1) ;?> <?php echo $this->__('year') ;?></options>
									<?php endfor ;?>
								</select>
							</dd>
						</dl>
						
					</div>
			
					<?php
					/*
					 * Brands
					 *
					 */
					?>
					<div class="brand-field">
						
						<input type="hidden" id="brand_<?php echo($i) ;?>" name="brand_<?php echo($i) ;?>" value="<?php echo $session->getData('brand_'.$i) ;?>" />
						
						<dl class="brand <?php if ( $i == 1 ) :?> first <?php endif ;?><?php if ( $i == 5 ) :?> last <?php endif ;?>">
							<dt><label for="search_brand_<?php echo($i) ;?>"><?php echo $this->__('Brand n°') ?><?php echo($i) ;?> </label></dt>
							<dd>
								<input id="search_brand_<?php echo($i) ;?>" name="search_brand_<?php echo($i) ;?>" type="text" class="input-text search-brand" value="<?php echo $brand_name ;?>" rel="<?php echo($i) ;?>" />
							</dd>
						</dl>
								
					</div>
			
					<?php
					/*
					 * Perfumes
					 *
					 */
					?>
					<div class="perfume-field">
					
						<dl class="perfume <?php if ( $i == 1 ) :?> first <?php endif ;?><?php if ( $i == 5 ) :?> last <?php endif ;?>">
							<dt><label for="perfume_<?php echo($i) ;?>"><?php echo $this->__('Perfume n°') ?><?php echo($i) ;?></label></dt>
							<dd>
								<div id="perfume_<?php echo($i) ;?>_select" class="left">
									<input id="perfume_<?php echo($i) ;?>" name="perfume_<?php echo($i) ;?>" disabled="disabled" type="text" class="input-text italic" value="" />
								</div>
							</dd>
						</dl>
						
					</div>
					<div class="clearfix"></div>
				</div>
			
			<?php endfor ;?>

			<div class="clearfix"></div>
				
			<div class="never-field">
				<input id="include_all" type="checkbox" name="include_all" value="1" />
				<label for="include_all" class="pl5">
					<?php if( $gender == 1 ) :?>
						<?php echo $this->__('Include female perfumes') ;?>
					<?php else: ?>
						<?php echo $this->__('Include male perfumes') ;?>
					<?php endif ;?>
				</label>
			</div>
		
			<div class="never-field">
				<input type="checkbox" id="never" name="never" value="1" >
				<label class="first last gray" for="never" class="pl5">&nbsp;<?php echo $this->__('I have never worn perfume') ?></label>
			</div>
		
		</div>
		
		<div class="clearfix"></div>
		
		
		
		
		<?php
		/*
		 * Families / Seasons
		 *
		 *
		 */?>
		<h3 class="title mt30">
			<?php echo $this->__('Your favorite home fragrances') ?>
		    <?php if ( ! empty($familyHelpBlock)) :?>
			    <a id="helperBtn3" class="helper-open"></a>
			<?php endif; ?>
		</h3>

		<?php if ( ! empty($familyHelpBlock)) :?>
		<div  id="helperBloc3" class="helper-bloc" data-id="3">
			<a class="helper-close"></a>
			<?php echo $familyHelpBlock ?>
		</div>
		<?php endif ;?>

		<div class="clearfix"></div>
		
		<div class="span-6 prepend-4">
		
			<div class="field">
				<label class="left w100">&nbsp;</label>
				<div class="input-box left w120" style="border-bottom:solid 1px #000;">
					<?php echo $this->__('Favorite families') ;?>
				</div>
			</div>
			<div class="clearfix"></div>			   
	
			<?php 
				// to beter understand what's happens
				// for you my friend...
				// trace($season_family_select);
				// trace( $season_families );
				?>	
			<?php for($i=1; $i<5; $i++) :?>
	
				<?php
					$season_family_input_type = $seasons_input_types[$i];
					// trace($season_family_input_type);
				?>
				<div class="field">
				   <label for="season_family_<?php echo($i) ;?>" class="left w100"><?php echo $this->__('Season_' . $i) ?></label>
				   <div class="input-box left">
						<select name="season_family_<?php echo($i) ;?>" id="season_family_<?php echo($i) ;?>" class="w120">
						<?php foreach($season_family_select as $id => $family) :?>
							<?php
								$selected = '';
								if ($season_families)
								{
									// User's inputs loops
									foreach($season_families as $user_input)
									{
										if ($user_input->input_type == $season_family_input_type && $user_input->family_id == $id)
										{
											$selected = ' selected="selected" ';
											break;
										}
									}
								}
							?>
							<option value="<?php echo($id) ?>" <?php echo($selected) ;?>><?php echo($family) ;?></options>
						<?php endforeach ;?>
						</select>
					</div>
					<div class="clearfix"></div>
				</div>
			
			<?php endfor ;?>
			
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>


		<hr class="mt20" />
		
		<?php 
		/*
		 * Nose Conditions
		 *
		 */
		?>
		<div class="right">
			<input type="checkbox" id="condition" name="condition" value="1" >
			<label class="first last gray" class="pl5" for="condition">&nbsp;<?php echo $this->__('I agree with the nose conditions') ?></label>
		</div>
		<div class="clearfix"></div>
		
		<hr />

		
		
		<?php
		/*
		 * Submit
		 *
		 */
		?>
	    <div class="buttons-set">
			<button id="submitDiagnose" class="button" type="button"><span><span><?php echo $this->__('Get the diagnostic result') ?></span></span></button>
		</div>
		
		
	</form>
	
	<script type="text/javascript">
	
	
	// AutoCompleter
	jQuery(document).ready(function()
	{
		setOpenBlock('#block-mynose');
	
		var cache = {}, lastXhr;
		
		removePerfume = function(id)
		{
			$j('#perfume_' + id + '_select').html(
				'<input id="perfume_'+id+'" name="perfume_'+id+'" disabled="disabled" type="text" class="input-text italic" value="" />'
			);
			$j('#search_brand_' + id).attr('value', '');
		};
		
		getPerfumeSelect = function(brand_id, id, selected)
		{
			var ia = $j('#include_all:checked').val();
			
			var data = {
				'brand_id': brand_id,
				'select_id': 'perfume_' + id,
				'include_all': ia
			};
			
			if (selected)
				$j.extend(data, {'selected': selected});
			
			$j.ajax({
				url: '<?= $perfume_select_url ?>',
				type: 'post',
				dataType: 'html',
				data: data,
				success: function(data)
				{
					data = data + ('<a class="icon left clear-field ml5" onclick="javascript:removePerfume(' + id + ');" title="<?php echo $this->__('Remove this perfume') ?>"></a>');
					$j('#perfume_' + id + '_select').html(data);
				}
			});		
		};
	
		$j( ".search-brand" ).autocomplete(
		{	
			source: function( request, response ) {
				var term = request.term;
				if ( term in cache ) {
					response( cache[ term ] );
					return;
				}
				$j.ajax({
					url: '<?= $autocomplete_url ?>',
					type: 'post',
					dataType: "json",
					data: {
						maxRows: 12,
						search: request.term
					},
					success: function( data ) {
						cache[ term ] = data;
						response( data );
					}
				});
			},
			minLength: 2,
			select: function( event, ui )
			{
				var rel = $j(event.target).attr('rel');
				$j('#brand_' + rel).val(ui.item.id);
				
				getPerfumeSelect(ui.item.id, rel);
			}
		});
		
		$j('.clear-field')
		
	
	/*
	* Was Ajax call to the controller
	* Now, the controller simply redirect to result
	*
		$j('#submitDiagnose').click(function()
		{
			s = $j('#diagnoseForm').serialize();
			$j.ajax({
				type: "POST",
	 			data: s,
	 			url: $j('#diagnoseForm').attr("action"),
	 			success: function(data)
	 			{
					$j('#myDiagnoseContainer').html(data);
	 			}
	 		});
		});	
	*/
	
		$j('#submitDiagnose').click(function()
		{
			$j('#diagnoseForm').submit();
		});
	
	
		$j('#city').val('<?php // echo $antispam_hash ?>');
	
		// On Varien validate...
		VarienForm.prototype.submit = function(url)
		{
			if(this.validator && this.validator.validate())
			{
				return true;
			}
			return false;
		}
		
		var diagnoseForm = new VarienForm('diagnoseForm', true);	
	
		// History
//		jQuery.history.load("diagnose");	
	
		<?php for($i=1; $i<4; $i++) :?>
			<?php if ( $perfumes != FALSE && ( ! empty($perfumes[$i-1]))) :?>
				getPerfumeSelect('<?php echo $perfumes[$i-1]->brand_id ;?>', '<?php echo $i ;?>', '<?php echo $perfumes[$i-1]->perfume_id ;?>');
			<?php endif ;?>
		<?php endfor ;?>
		
	});



	</script>
	
</div>	
<?php endif ;?>

	
	







