<?php


// Get the Diagnose URL form Diagnose module config.xml file
// $enose_base_url = Mage::getStoreConfig('diagnose/settings/url');
// $enose_url = $enose_base_url . 'diagnose';

// Magento URL to the Proxy
$enose_url = Mage::getBaseUrl(). 'mynose/index/form';

// $enose_base_url = Mage::getStoreConfig('diagnose/settings/url');
// trace($enose_base_url);

$customer = Mage::getSingleton('customer/session')->getCustomer();


?>


<div id="myDiagnoseContainer"></div>



<script type="text/javascript">

	/*
	 * XHR load of the products list
	 * (prototype)
	 *
	 */
	var loadDiagnose = function()
	{
		new Ajax.Updater(
			'myDiagnoseContainer',
			'<?php echo $enose_url ;?>', 
			{
				'method': 'post',
				'evalScripts' : true
			}
		);
	}
	
	// Initial call of getProductByAttribute()
	var data = {
		'base_url': 	'<?php echo $enose_url ?>'
	}
	loadDiagnose();


	/*
	 * History 
	 * (jQuery)
	 *
	 */
	var firstLoad = true;
    jQuery.history.init(function(hash)
    {
    	if (hash=='diagnose' && firstLoad == false) loadDiagnose();
    });


/*	
        function load(num) {
            $('#content').load(num +".html");
        }

        $.history.init(function(url) {
                load(url == "" ? "1" : url);
            });

        $('#ajax-links a').live('click', function(e) {
                var url = $(this).attr('href');
                url = url.replace(/^.*#/, '');
                $.history.load(url);
                return false;
            });
*/	
	
	
</script>
