<?php
/**
 * Partikule
 *
 * @modified	2012.03.19
 *
 * @note		Used to display one article right to the slider
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * displays one article, next to the slider, commonly.
 * @see Partikule_Ionize_Block_Page
 *
 */



// Get the subpage which has the page_bloc_top view (in Ionize)
$sub_page = $this->getSubPages()->addFilter('code','top-side')->getFirstItem();


$articles = $this->getArticles($sub_page->getId_page(), array('limit' => 1));
$article = FALSE;

if ( $articles->count() > 0)
{
	$article = $articles->getFirstItem();
}

// Base URL with store code
$base_url = Mage::helper('nose/core')->getBaseUrl(TRUE);


?>

<?php if ($article) :?>
<div class="bloc-news-top span-7 last">

	<h3 class="col-title first"><?php echo $article->getTitle(); ?></h3>

	
	<div class="bloc-article-intro">
		<div class="bloc-article-content">
			<?php echo $article->getContent() ?>
		</div>
	</div>
		

</div>
<?php endif ;?>
	
