<?php
/**
 * Partikule
 *
 * @modified	2011.10.7
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 *
 * @see Partikule_Ionize_Block_Page
 *
 */



// $news_page = $this->getSubPages()->addfilter('main_table.view','page_bloc_top')->getFirstItem();
$news_page = $this->getSubPages()->addFilter('code','top-side')->getFirstItem();

$articles = $this->getArticles($news_page->getId_page(), array('limit' => 5));

// Base URL with store code
$base_url = Mage::helper('nose/core')->getBaseUrl(TRUE);

?>

<div class="bloc-news-top span-7 last">

	<h3 class="col-title first"><?php echo $news_page->getTitle(); ?></h3>

<!--
	<h3 class="bloc-title"><?php echo($news_page->getTitle()) ;?></h3>
-->

	<?php if ($articles->count() > 0): ?>


		<?php
			$_iterator = 0;
		?>
	
		<?php foreach($articles as $article) :?>
				
			<?php
			
				$_iterator++;
				$media = $article->getMedias()->getFirstItem();
			
			?>
			<div class="bloc-news link<?php if($_iterator%$articles->count() == 0) :?> last<?php endif;?><?php if($_iterator == 1) :?> first<?php endif;?>">
				<div class="bloc-news-post">
					<div class="thumb">
						<?php if( $media->hasData() ) :?>
							<img class="thumb" src="<?php echo $this->helper('ionize/image')->init($media)->keepFrame(FALSE)->adaptiveResize(115, 80, 'center', 'top') ;?>" />
						<?php endif ;?>
					</div>
					<div class="news-content">
						<p class="date"><?php echo($article->getDate()) ;?></p>
						<h4><a href="<?php echo $base_url . $article->getPath() ;?>"><?php echo $article->getTitle() ?></a></h4>
						<p class="read-more">
							<a href="<?php echo $base_url . $article->getPath() ;?>"><?php echo $this->__('Read the post >'); ?></a>
						</p>
					</div>
				</div>
			</div>
		
		<?php endforeach; ?>
	<?php endif ;?>

</div>
	
