<?php
/**
 * Partikule
 * Nose Project
 * 
 * Nose Diagnostic Page
 *
 * @modified	2011.10.6
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     nose_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */
?>
<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>
    <div class="page">
        
        <?php echo $this->getChildHtml('header') ?>
        
        <div class="main-container col2-left-layout">
        
            <div class="main">
        		
        		<?php echo $this->getChildHtml('ionize_breadcrumbs') ?>

        		<div class="col-main">
					<?php // echo $this->getChildHtml('page.title') ?>
					<?php echo $this->getChildHtml('page.subnavigation') ?>
					<?php echo $this->getChildHtml('diagnose.mydiagnose') ?>
        		</div>

            </div>
            <div class="col-left sidebar">
            	
            	<?php
            	/*
            	 * MyNose Block
            	 * see diagnose.xml
            	 *
            	 */
            	?>
            	<?php echo $this->getChildHtml('left') ?>
            	
            	<?php
            	/*
            	 * Customer Account Block
            	 *
            	 */
            	?>
            	
            	
            	
            </div>
        </div>

   		<?php echo $this->getChildHtml('before_body_end') ?>
        
    </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>
