<?php
/**
 * Partikule
 * Nose Project
 * 
 * Nose Brands Page
 *
 * @modified	2011.10.21
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     nose_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */
?>
<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!doctype html>  
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>
    <div class="page">
        
        <?php echo $this->getChildHtml('header') ?>
        
        <div class="main-container col1-layout">
        
            <div class="main">

				<?php // echo $this->getChildHtml('ionize_breadcrumbs') ?>

				<?php // echo $this->getChildHtml('page.title') ?>
				
				<?php
					// Creators blocks, pages as links to each creator's page
				?>
				<?php echo $this->getChildHtml('creators') ?>

            </div>
        </div>
        
        <?php echo $this->getChildHtml('footer') ?>
   		<?php echo $this->getChildHtml('before_body_end') ?>
       
    </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>
