<?php $helper = $this->helper('nez'); ?>
<?php $_noseLetters = $this->getNoseLetters(); ?>
<?php $_noses = $this->getNosesCollection(); ?>

<h1 class="page-title"><?php echo $this->__('Perfumers'); ?></h1>

<div class="letter-widget">
    <ul id="brands-filter" class="letter-filter">
        <li><a data-letter="all" class="all active" id="all-brands"><?php echo $this->__('All perfumers'); ?></a></li>
    </ul>
</div>

<div id="brands" class="brands-list">
    <?php $index = 0 ?>
    <?php foreach ($_noses as $_nose): ?>

    <?php $letter = ucfirst(substr($_nose->getName(), 0, 1)); ?>

    <?php if ($_noseLetters[$letter] == false) : ?>
    <?php
    $_noseLetters[$letter] = true;
    if ($index != 0) { echo '</div>'; }
    ?>
    <div class="letter-group active" data-letter="<?php echo $letter; ?>">
        <div class="letter"><?php echo $letter; ?></div>
        <?php endif; ?>

        <div class="brand-item" data-letter="<?php echo $letter ?>">
            <a class="title" href="<?php echo $this->getUrl($this->helper('nez')->getNoseUrl($_nose));  ?>">
                <?php echo $_nose->getName(); ?>
            </a>
            <img class="brand-image moveWithMouse" src="<?php echo $helper->getThumbnailImageUrl($_nose); ?>">
        </div>
        <?php $index++; ?>
        <?php endforeach; ?>
    </div>
</div>

<script type="text/javascript">


    $j(window).load(function() {

        var $letterGroups = $j('#brands .letter-group');
        var $brands = $j('#brands .brand-item');

        var uniqueLettersArray = $letterGroups.map(function() {
            return $j(this).find('.letter').html();
        }).get();

        uniqueLettersArray = $j.makeArray(uniqueLettersArray);

        // Populate filter
        uniqueLettersArray.forEach(function(item, index) {
            var filter = $j('<li class="letter not-visible"><a data-letter="' + item + '" href="#">' + item + '</a></li>')
            $j('#brands-filter').append(filter);
            filter.find('a').click(function(e) {
                e.preventDefault();
                activateLetter($j(this).data('letter'));
            })
            setTimeout(function() {
                filter.removeClass('not-visible');
            }, 100 * index);
        });

        // Filters
        function activateLetter(letter) {
            $j('#brands-filter li a').removeClass('active');
            $j('#brands-filter li a').filter("[data-letter='" + letter + "']").addClass('active');
            $letterGroups.removeClass('active').filter("[data-letter='" + letter + "']").addClass('active');
        }
        $j('#all-brands').click(function(e) {
            e.preventDefault();
            $j('#brands-filter li a').removeClass('active');
            $j(this).addClass('active');
            $letterGroups.addClass('active');
        })

    });

</script>