<?php $_products = $this->getProductCollection(); ?>
<?php if (count($_products) > 0) : ?>

  <div class="news-products">
    <div class="item_carousel article products" id="productsCarousel">
      <a class="arrow prev left" href="#"></a>
      <a class="arrow next right" href="#"></a>

      <div class="wrapper">
        <div class="carousel-container">
          <?php foreach ($_products as $_product) : ?>
            <?php $_product = $_product->load($_product->getId()); ?>
            <div class="product-item item">
              <a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $_product->getName(); ?>" class="product-link">

                <div class="product-photo" style="background-image: url(<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepTransparency(true)->resize(200) ?>);"></div>

                <div class="product-brand"><?php echo $_product->getAttributeText('manufacturer'); ?></div>

                <div class="product-title"><?php echo $_product->getName(); ?></div>

                <div class="product-price"><?php echo $this->getPriceHtml($_product, true) ?></div>

              </a>
            </div>
          <?php endforeach; ?>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $j(document).ready(function($) {
      $j('#productsCarousel').noseCarousel();
    });
  </script>
<?php endif; ?>
