<?php $_currentNose = Mage::registry('current_nose'); ?>
<?php $_sliders = $_currentNose->getSelectedSlidersCollection(); ?>
<?php $_products = $_currentNose->getSelectedProductsCollection(); ?>

<?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>

<?php if ($_sliders->count() > 0) : ?>
  <?php $_slideCount = 0; ?>
  <?php foreach ($_sliders as $_slider) { $_slideCount = $_slideCount + $_slider->getItemsCollection()->count(); } ?>
  <div class="brand-banner">
    <?php if ($_slideCount > 1) : ?>
      <a href="#" class="arrow left"></a>
      <a href="#" class="arrow right"></a>
    <?php endif; ?>
    <div class="slider">
      <?php foreach ($_sliders as $_slider) : ?>
        <?php $_slides = $_slider->getItemsCollection(); ?>
        <?php $i = 0; ?>
        <?php foreach ($_slides as $_slide) : ?>
          <?php if ($_slide['video'] != '') { ?>

          <div
          class="video slide <?php if ($i == 0) { echo 'active'; } ?>"
          data-youtube="<?php echo $_slide['video']; ?>"
          data-id="<?php echo $i; ?>"
          >
          <div class="player active">
            <div id="player<?php echo $i; ?>"></div>
            <div class="overlay"></div>
            <div class="controls">
              <div class="playpause"></div>
              <div class="time">0:00</div>
              <div class="sound"></div>
              <div class="progress">
                <div class="bar"></div>
              </div>
            </div>
          </div>
        </div>

        <?php } elseif ($_slide['cinemagraphe']) { ?>

        <div class="cinemagraph slide <?php if ($i == 0) { echo 'active'; } ?>">
          <video src="<?php echo $_slide['cinemagraphe']; ?>" autoplay loop muted>
            Sorry, your browser doesn't support embedded videos,
            but don't worry, you can <a href="<?php echo $_slide['cinemagraphe']; ?>">download it</a>
            and watch it with your favorite video player!
          </video>
        </div>

        <?php } else { ?>
        <div class="slide <?php if ($i == 0) { echo 'active'; } ?>" style="background-image: url(<?php echo $this->helper('slider')->getImageUrl($_slide); ?>);"></div>
        <?php } ?>
        <?php $i++; ?>
      <?php endforeach; ?>
    <?php endforeach; ?>
  </div>
</div>
<?php endif; ?>

<div class="news-page">

  <h1 class="page-title">
    <?php echo $_currentNose->getName(); ?>
  </h1>

  <div class="subnav-container center">
    <ul class="subnav tabs-nav">
      <li class="active first" data-tab="about"><a href="#"><span><?php echo $this->__('About the perfumer'); ?></span></a></li>
      <li data-tab="perfumes"><a href="#"><span><?php echo $this->__('Perfumes created'); ?></span></a></li>
      <li class="last" data-tab="news"><a href="#"><span><?php echo $this->__('News'); ?></span></a></li>
    </ul>
  </div>

  <div class="tabs-content">

    <div class="tab about active" id="about">

      <?php if ($_currentNose->getBio()) : ?>
        <div class="post-content">
          <h2 class="post-subtitle"><?php echo $this->__('Biography'); ?></h2>
          <?php
          $processor = Mage::helper('cms')->getBlockTemplateProcessor();
          $bioHtml = $processor->filter($_currentNose->getBio());
          ?>
          <?php echo $bioHtml; ?>
        </div>
      <?php endif; ?>

    </div>

    <div class="tab" id="perfumes">
      <?php echo $this->getChildHtml('nez.view.products'); ?>
    </div>

    <?php $_news = $_currentNose->getSelectedPostsCollection(); ?>
    <div class="tab" id="news">
      <div class="brand-news">

        <?php if (count($_news) > 3) : ?>

          <a class="arrow left" href="#"></a>
          <a class="arrow right" href="#"></a>

        <?php endif; ?>

        <div class="news-wrapper wrapper">
          <div class="news-container carousel-container">
            <?php foreach ($_news as $_post) : ?>
              <?php $_post = $_post->load($_post->getId()); ?>
              <a class="news item" href="<?php echo $this->getUrl($_post->getUrlKey()); ?>">
                <div class="image responsive-image-bg" data-src="<?php echo Mage::getBaseUrl('media') . $_post->getThumbnailDesktop(); ?>" data-src-mobile="<?php echo Mage::getBaseUrl('media') . $_post->getThumbnailMobile(); ?>"></div>
                <h4 class="brand-title"><?php echo $_post->getTitle(); ?></h4>
                <p class="brand-subtitle"><?php echo $_post->getSubtitle(); ?></p>
              </a>
            <?php endforeach; ?>
          </div>
        </div>

      </div>

      <?php if (count($_news) > 3) : ?>

        <script type="text/javascript">

          $j(document).ready(function($) {
            $j('#news').noseCarousel();
          });

        </script>

      <?php endif; ?>
    </div>

  </div>

</div>

<script type="text/javascript">

  $j(window).load(function() {

    $j('.tabs-nav li a').click(function(e) {
      e.preventDefault();
      var li = $j(this).closest('li');
      $j('.tabs-nav li').removeClass('active');
      $j('.tabs-content .tab').removeClass('active');
      li.addClass('active');
      $j('#' + li.data('tab')).addClass('active');
      console.log(li.data('tab'));
    })

  });

</script>

