<?php
/**
 * Inspired by customer/account/navigation
 *
 */
?>
<?php

// Set by post
// See : Partikule_Mynose_Block_Navigation
// and : mynose/contact/book.phtml
if ($this->getFrom()) $this->setActive($this->getFrom());
?>

<div class="block block-account" id="block-giftcard">
    <div class="block-title">
        <strong><span><a href="<?php echo Mage::helper('mynose/url')->getGiftCardUrl() ;?>"><?php echo $this->__('Gift Card'); ?></a></span></strong>
    </div>
    <div class="block-content">
        <ul id="contactNav">
            <?php $_links = $this->getLinks(); ?>
            <?php $_index = 1; ?>
            <?php $_count = count($_links); ?>
            <?php foreach ($_links as $_link): ?>
                <?php $_last = ($_index++ >= $_count); ?>
                <?php if ($this->isActive($_link)): ?>
                    <li class="current<?php echo ($_last ? ' last' : '') ?>"><a href="<?php echo $_link->getUrl() ?>"><strong><?php echo $_link->getLabel() ?></a></strong></li>
                <?php else: ?>
                    <li<?php echo ($_last ? ' class="last"' : '') ?>><a href="<?php echo $_link->getUrl() ?>"><?php echo $_link->getLabel() ?></a></li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
    </div>
</div>

