<?php
/**
 * Inspired by customer/account/navigation
 *
 */
?>
<?php

// Set the Reco URL active in the left menu
// $action_name = $this->getAction()->getFullActionName();
// if ($action_name == 'mynose_result_myreco') $this->setActive('mynose/result/mydiagnose');

?>

<h2>Toto !!!</h2>

<div class="block block-account" id="block-mynose">
    <div class="block-title">
        <strong><span><a href="<?php echo Mage::helper('mynose/url')->getMyNoseWelcomeUrl() ;?>"><?php echo $this->__('My Diagnosis'); ?></a></span></strong>
    </div>
    <div class="block-content">
        <ul id="myNoseNav">
            <?php $_links = $this->getLinks(); ?>
            <?php $_index = 1; ?>
            <?php $_count = count($_links); ?>
            <?php foreach ($_links as $_link): ?>
                <?php $_last = ($_index++ >= $_count); ?>
                <?php if ($this->isActive($_link)): ?>
                    <li class="current<?php echo ($_last ? ' last' : '') ?>"><a href="<?php echo $_link->getUrl() ?>"><strong><?php echo $_link->getLabel() ?></a></strong></li>
                <?php else: ?>
                    <li<?php echo ($_last ? ' class="last"' : '') ?>><a href="<?php echo $_link->getUrl() ?>"><?php echo $_link->getLabel() ?></a></li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
