<?php

/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php
	$_helper = $this->helper('catalog/output');
	$_product = $this->getProduct();

	$_manufacturer = $_product->getAttributeText('manufacturer');

//	$_name = $this->htmlEscape($_product->getName());
//	$_name_by_brand = $_name . ' ' . $this->__('by') . ' ' . $_manufacturer;
	
	$_category = Mage::registry('current_category');

	/*
	 * Brand from category name : Not good if the product page is in another category than the brand one.
		$brand = $_category->getName();
		$_by_brand = $this->__('by') . ' ' . $brand;
	*/
	
	/*
	 * Get Noses
	 *
	 */
	$_nose_helper = Mage::helper('nose/creator');
	$noses = $_nose_helper->getCreatorArrayFromProduct($_product);
	
	/*
	 * Get Perfume data
	 *
	 */
	$_perfume_helper = Mage::helper('nose/perfume');
	$perfume = $_perfume_helper->getPerfumeDataFromProduct($_product);
	

	$brand = ( ! empty($perfume['brand'])) ? $perfume['brand'] : '';
	$_by_brand = ( $brand != '' ) ? $this->__('by') . ' ' . $brand : '';


trace($noses);
trace($perfume);

	
?>
<script type="text/javascript">
	var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>

<div class="product-view">
	<form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
		<div class="no-display">
			<input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
			<input type="hidden" name="related_product" id="related-products-field" value="" />
		</div>
 		<?php
 		/*
 		 * Media
 		 *
 		 */
 		?>
		<div class="product-img-box">
			<?php echo $this->getChildHtml('media') ?>
		</div>

<div>

<?php echo $this->getChild('catalog.product.related') ;?>


</div>


		<div class="product-shop">
			<div class="product-name">
				<h2 class="cufon regular">
					"<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>" : <?php echo $_product->getId(); ?>
					<br />
					<span class="cufon light">
						<?php echo $_by_brand ?>
					</span>
				</h2>
			</div>
			
	 		<?php
	 		/*
	 		 * Inspiration
	 		 *
	 		 */
	 		?>
			<?php if ($_product->getShortDescription()):?>
				<h5><?php echo $this->__('Inspiration') ;?></h5>
				<p>
					<?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
				</p>
	 		<?php endif; ?>
			
	 		<?php
	 		/*
	 		 * Nez
	 		 *
	 		 */
	 		?>
			<div class="accordion">
				<h5><?php echo $this->__('Nez') ;?></h5>
				<div class="accontent">
					<img src="assets/skin/images/thumbs/person_thumb.jpg" alt="" class="right" />
					<p>Jean-Claude Ellena et Bertrand Duchaufour : Une collaboration
					fructueuse entre deux parfumeurs renommés.</p>
				</div>
				<span class="accordion_toggle">-</span>
			</div>
			
	 		<?php
	 		/*
	 		 * Description
	 		 *
	 		 */
	 		?>
			<div class="accordion">
				<h5><?php echo $this->__('Description') ;?></h5>
				<div class="accontent">
				 	<p>
				 		<?php echo $_product->getDescription() ;?>
				 	</p>
			 	</div>
			 	<span class="accordion_toggle">-</span>
			 </div>
			 
			 
	 		<?php
	 		/*
	 		 * Description Olfactive
	 		 *
	 		 */
	 		?>
			 <div class="accordion">
			 	<h5><?php echo $this->__('Description olfactive') ;?></h5>
			 	<div class="accontent">
				 	<dl>
				 		<dt><?php echo $this->__('Family') ;?> :</dt>
				 		<dd><?php echo $_product->getFamily() ;?></dd>
				 		
				 		<?php
				 		/*
				 		 * Only display Specifer if present
				 		 *
				 		 */
				 		?>
				 		<?php if ($_product->getSubfamily() != '') :?>
				 			<dt><?php echo $this->__('Sub-family') ;?> :</dt>
				 			<dd><?php echo $_product->getSubfamily() ;?></dd>
				 		<?php endif; ?>
				 		
				 		<?php if ($_product->getSpecifer() != '') :?>
					 		<dt><?php echo $this->__('Specifer') ;?> :</dt>
					 		<dd><?php echo $_product->getSpecifer() ;?></dd>
				 		<?php endif; ?>
				 		
				 		<?php
				 		/*
				 		 * Notes : Only display Specifer if present
				 		 *
				 		 */
				 		?>
				 		<?php if ($_product->getMain_notes() != '') :?>
					 		<dt class="gray"><?php echo $this->__('Main Note') ;?> :</dt>
				 			<dd class="gray"><?php echo $_product->getMain_notes() ;?></dd>
				 		<?php endif; ?>
				 		
				 		<?php if ($_product->getBase_notes() != '') :?>
					 		<dt class="gray"><?php echo $this->__('Base Note') ;?> :</dt>
				 			<dd class="gray"><?php echo $_product->getBase_notes() ;?></dd>
				 		<?php endif; ?>
				 		
				 		<?php if ($_product->getHearth_notes() != '') :?>
					 		<dt class="gray"><?php echo $this->__('Hearth Note') ;?> :</dt>
				 			<dd class="gray"><?php echo $_product->getHearth_notes() ;?></dd>
				 		<?php endif; ?>
				 		
				 		<?php if ($_product->getHead_notes() != '') :?>
					 		<dt class="gray"><?php echo $this->__('Head Note') ;?> :</dt>
				 			<dd class="gray"><?php echo $_product->getHead_notes() ;?></dd>
				 		<?php endif; ?>
				 	</dl>
			 	</div>
			 	<span class="accordion_toggle">-</span>
			 </div>

			
			 <div class="accordion">
			 	<h5>Commander</h5>
				<?php
				/*
				 * Configurable Product :
				 * - Options
				 * - Add To Cart
				 *
				 */
				?>
				<?php if ($_product->isSaleable() && $this->hasOptions()):?>
				
					<?php echo $this->getChildChildHtml('container3', '', true, true) ?>

					<?php echo $this->getChildHtml('addtocart', '', true, true) ?>
				
				<?php endif;?>

				<?php
				/**
				 * Simple product
				 *
				 */
				?>
	            <?php if (!$this->hasOptions()):?>
                    <?php if($_product->isSaleable()): ?>
                        <?php echo $this->getChildHtml('addtocart') ?>
					<?php endif;?>
				<?php endif;?>


				<?php
				/*
				 * Availability + Price
				 *
				 */
				?>
				<?php // echo $this->getChildHtml('product_type_data') ?>
				
			</div>
			
			
			<?php /*if ($this->canEmailToFriend()): ?>
				<p class="email-friend"><a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><?php echo $this->__('Email to a Friend') ?></a></p>
			<?php endif;*/ ?>

			<?php // echo $this->getChildHtml('alert_urls') ?>
			
			
			
			<?php // echo $this->getTierPriceHtml() ?>

			<?php if (!$this->hasOptions()):?>
				<div class="add-to-box">
					<?php //if($_product->isSaleable()): ?>
						<?php //echo $this->getChildHtml('addtocart') ?>
						<?php //if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
							<span class="or"><?php echo $this->__('OR') ?></span>
						<?php //endif; ?>
					<?php //endif; ?>
					<?php //echo $this->getChildHtml('addto') ?>
				</div>
			<?php else:?>
				<?php //echo $this->getChildHtml('addto') ?>
			<?php endif; ?>



			<?php // echo $this->getChildHtml('other');?>

			<?php if ($_product->isSaleable() && $this->hasOptions()):?>
			
				<?php //echo $this->getChildChildHtml('container1', '', true, true) ?>
			<?php endif;?>

		</div>

		<div class="clearer"></div>


	</form>
	<script type="text/javascript">
	//<![CDATA[
			var productAddToCartForm = new VarienForm('product_addtocart_form');
			productAddToCartForm.submit = function(){
					if (this.validator.validate()) {
							this.form.submit();
					}
			}.bind(productAddToCartForm);
	//]]>
	</script>



<!--
	<div class="product-collateral">
		<?php echo $this->getChildHtml('description') ?>
		<?php echo $this->getChildHtml('additional') ?>
		<?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
		<?php echo $this->getChildHtml('upsell_products') ?>
		<?php echo $this->getChildHtml('product_additional_data') ?>
	</div>
-->

</div>
