<?php

/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 *
 */
?>
<?php
	$_helper = $this->helper('catalog/output');
	$_product = $this->getProduct();

// Mage::log($_product->getData(), null, 'partikule.log');	


Mage::log(Mage::helper('attribute/Attribute')->getOptionBackendValue('sex', $_product->getSex()), null, 'partikule.log');

	$_category = Mage::registry('current_category');

	/*
	 * Get Noses
	 * direct connexion to eNose DB
	 *
	 */
	$creators = Mage::helper('nose/creator')->getCreatorArrayFromProduct($_product);
	
	/*
	 * Get Perfume data
	 * (Products attributes)
	 *
	 */
	$perfume = Mage::helper('nose/perfume')->getPerfumeDataFromProduct($_product);
// Mage::log($perfume, null, 'partikule.log');	

	// Registered here to be able to get it from the product list template
	// A litllte ugly, but we wished not to extend the product block just for that.
	Mage::register('current_brand', $_category->getName());

	$_by_brand = ( $_category->getName() != '' ) ? $this->__('by') . ' ' . $_category->getName() : '';

	
	// Backend option vlaue (female, male, unisex)
	$_sex = Mage::helper('attribute/Attribute')->getOptionBackendValue('sex', $_product->getSex());

	
	
	$base_url = Mage::app()->getStore()->getBaseUrl();

	// Number of row to display / items
	$numRows = 1;
	$itemsPerPage = 4 * $numRows;


?>
<script type="text/javascript">
	var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>

<div class="product-view">
	
 		<?php
 		/*
 		 * Media
 		 *
 		 */
 		?>
		<div class="product-img-box">
			<?php echo $this->getChildHtml('media') ?>
			<?php echo $this->getChildHtml('product_related') ;?>
		</div>



		<div class="product-shop">
			
			<?php if ( ! empty($_sex)) :?>
				<div class="perfume-sex perfume-sex-<?php echo $_sex ;?>"></div>
			<?php endif ;?>

<h1>
SEX : 
<?php

echo($_product->getAttributeText('sex') );

?>
</h1>
			
			<div class="product-name">
				<h2><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?> : <?php echo $_product->getPerfumeId(); ?> / <?php echo $_product->getId(); ?></h2>
				<h3><?php echo $_by_brand ?></h3>
			</div>

			
	 		<?php
	 		/*
	 		 * Inspiration
	 		 *
	 		 */
	 		?>
	 		<?php if ( ! empty($perfume['inspiration']) ) :?>
				<h4><?php echo $this->__('Inspiration') ;?></h4>
				<p><?php echo nl2br($perfume['inspiration']) ?></p>
	 		<?php endif; ?>
			
	 		<?php
	 		/*
	 		 * Nose (Creator)
	 		 *
	 		 */
	 		?>
	 		<?php if ( ! empty($creators) ) :?>
				<div class="accordion">
					<h4 class="toggler"><?php echo $this->__('Nez') ;?></h4>
					<div class="accontent">
					
					<?php
					/**
					 * One Creation Text exists :
					 * - Display the Noses list
					 * - Display the Creation Text instead the Nose's text
					 * - For each Nose, if he has one page, create a link to this page on his name
					 *
					 */
					?>
					<?php
						/**
						 * Creators List Widget
						 *
						 */
						$creatorWidget = $this->getLayout()->createBlock('nose/catalog_product_widget_creator');
					?>
					<?php echo $creatorWidget->setProduct( $_product )->toHtml() ?>


					
					<!--
						<img src="assets/skin/images/thumbs/person_thumb.jpg" alt="" class="right" />
					-->
					</div>
				</div>
	 		<?php endif ;?>
			
			
	 		<?php
	 		/*
	 		 * Description
	 		 *
	 		 */
	 		?>
	 		<?php if ( ! empty($perfume['description']) ) :?>
				<div class="accordion">
					<h4 class="toggler"><?php echo $this->__('Description') ;?></h4>
					<div class="accontent">
						<p><?php echo nl2br($perfume['description']) ?></p>
				 	</div>
				 </div>
	 		<?php endif; ?>
			 
			 
	 		<?php
	 		/*
	 		 * Description Olfactive
	 		 *
	 		 */
	 		?>
	 		<?php if ( ! empty($perfume['family']) ) :?>
			 <div class="accordion">
			 	<h4 class="toggler"><?php echo $this->__('Description olfactive') ;?></h4>
			 	<div class="accontent">
				 	<dl>
				 		<?php if ( ! empty($perfume['family'] )) :?>
				 			<dt><?php echo $this->__('Family') ;?> :</dt>
				 			<dd><?php echo $perfume['family'] ;?></dd>
				 		<?php endif ;?>
				 	
				 		<?php if ( ! empty($perfume['subfamily'] )) :?>
				 			<dt><?php echo $this->__('Sub-family') ;?> :</dt>
				 			<dd><?php echo $perfume['subfamily'] ;?></dd>
				 		<?php endif ;?>
				 	
				 		<?php if ( ! empty($perfume['specifer'] )) :?>
				 			<dt><?php echo $this->__('Specifer') ;?> :</dt>
				 			<dd><?php echo $perfume['specifer'] ;?></dd>
				 		<?php endif ;?>
				 	</dl>
				 	
				 	<dl class="gray">
				 	
				 		<?php
				 		/*
				 		 * Notes
				 		 *
				 		 */
				 		?>
				 		<?php if ( ! empty($perfume['notes_main'] )) :?>
				 			<dt class="gray first"><?php echo $this->__('Main Notes') ;?> :</dt>
				 			<dd class="gray"><?php echo $perfume['notes_main'] ;?></dd>
				 		<?php endif ;?>

				 		<?php if ( ! empty($perfume['notes_head'] )) :?>
				 			<dt class="gray"><?php echo $this->__('Head Notes') ;?> :</dt>
				 			<dd class="gray"><?php echo $perfume['notes_head'] ;?></dd>
				 		<?php endif ;?>

				 		<?php if ( ! empty($perfume['notes_heart'] )) :?>
				 			<dt class="gray"><?php echo $this->__('Heart Notes') ;?> :</dt>
				 			<dd class="gray"><?php echo $perfume['notes_heart'] ;?></dd>
				 		<?php endif ;?>

				 		<?php if ( ! empty($perfume['notes_base'] )) :?>
				 			<dt class="gray"><?php echo $this->__('Base Notes') ;?> :</dt>
				 			<dd class="gray"><?php echo $perfume['notes_base'] ;?></dd>
				 		<?php endif ;?>
				 		
				 	</dl>
			 	</div>
			 </div>
	 		<?php endif ;?>

			
			 <div class="accordion">
			 
			 	<h4><?php echo $this->__('Commander') ;?></h4>

				<form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>

					<div class="no-display">
						<input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
						<input type="hidden" name="related_product" id="related-products-field" value="" />
					</div>

					<?php
					/*
					 * Configurable Product :
					 * - Options
					 * - Add To Cart
					 *
					 */
					?>
					<?php if ($_product->isSaleable() && $this->hasOptions()):?>
						<?php echo $this->getChildChildHtml('container3', '', true, true) ?>
						<?php echo $this->getChildHtml('addtocart', '', true, true) ?>
					<?php endif;?>
	
					<?php
					/**
					 * Simple product
					 *
					 */
					?>
		            <?php if (!$this->hasOptions()):?>
	                    <?php if($_product->isSaleable()): ?>
	                        <?php echo $this->getChildHtml('addtocart') ?>
						<?php endif;?>
					<?php endif;?>
	
	
					<?php
					/*
					 * Availability + Price
					 *
					 */
					?>
					<?php // echo $this->getChildHtml('product_type_data') ?>
					
				</form>
					
				<div class="clearfix"></div>

				<?php if ($_product->isSaleable() && $this->hasOptions()):?>

					<?php
					/*
					 * Sample of the configurable product
					 * @see Partikule_Nose_Block_Catalog_Product_Sample
					 *
					 */
					echo $this->getChildHtml('product_sample', '', true, true);
					?>
					
				<?php endif;?>


				<div class="social-network">
					<a href="http://twitter.com/home?status=<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>+<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); ?><?php echo(substr($_SERVER['REQUEST_URI'], 1)) ?>"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN); ?>frontend/nose/default/images/sn/twitter.png" alt="" /></a>
					<a href="http://www.facebook.com/share.php?u=<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); ?><?php echo (substr($_SERVER['REQUEST_URI'], 1)) ?>"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN); ?>frontend/nose/default/images/sn/facebook.png" alt="" /></a>
				</div>
				<!-- Share this				
				<span  class='st_email_button' displayText='Email'></span><span  class='st_twitter_button' displayText='Tweet'></span><span  class='st_facebook_button' displayText='Facebook'></span>
				-->				

			</div>
			
			
		</div>

		<div class="clearer"></div>


	
	
	
	<script type="text/javascript">

		var productAddToCartForm = new VarienForm('product_addtocart_form');
		productAddToCartForm.submit = function(){
				if (this.validator.validate()) {
						this.form.submit();
				}
		}.bind(productAddToCartForm);
		
		
/*
		$j(document).ready(function()
		{
			// accordion toggle click
			$j('.accordion_toggle').click(function() {
				if($j(this).text() == '-') {
					$j('.accontent',$j(this).parent()).stop(true,true).slideUp(500);
					$j(this).text('+');
				} else {
					$j('.accontent',$j(this).parent()).stop(true,true).slideDown(500);
					$j(this).text('-');
				}
			});
		});
*/

		<?php
		/*
		 * Toggler Init
		 *
		 */
		?>
		initToggler();


	</script>


<?php
/*
 * Products from the same category
 * @see Partikule_Nose_Block_Catalog_Product_List
 *
 */
?>
<?php echo($this->getChildHtml('category_product_list')) ;?>

<!--
	<div class="product-collateral">
		<?php echo $this->getChildHtml('description') ?>
		<?php echo $this->getChildHtml('additional') ?>
		<?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
		<?php echo $this->getChildHtml('upsell_products') ?>
		<?php echo $this->getChildHtml('product_additional_data') ?>
	</div>
-->

<!--
<script type="text/javascript">
	// var switchTo5x=true;
</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher:'af1798d5-77ce-448f-bb05-2a540dcd9bf3'});</script>
-->

</div>
