<?php
/**
 *
 */
?>
<?php
	/*
	 * Partikule : 	Removed the availability info
	 *				Only keep the non availability info
	 *
	 *
	 *<?php if ($_product->isAvailable()): ?>
    <p class="availability in-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('In stock') ?></span></p>
	<?php else: ?>
    <p class="availability out-of-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('Out of stock') ?></span></p>
	*/

?>

<?php /* @var $this Mage_Catalog_Block_Product_View_Abstract */?>
<?php 

	$_product = $this->getProduct();
	
	$_invAmt = (int)Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getQty();	
//	trace($_invAmt);
?>

<p id="availability" class=""></p>


<?php

/*

<?php if ( ! $_product->isAvailable()): ?>
    <p class="availability out-of-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('Out of stock') ?></span></p>
<?php endif; ?>
<?php echo $this->getChildHtml('product_type_data_extra') ?>
<?php echo $this->getPriceHtml($_product) ?>

*/

?>
