<?php $_helper = $this->helper('callrequest'); ?>

<div class="modal-wrapper" id="phoneModal">

    <div class="overlay close-modal"></div>
    <div class="modal login-modal">
        <div class="modal-close close-modal"></div>
        <div id="messages-errors"><?php echo $this->getMessagesBlock()->getGroupedHtml(); ?></div>
        <?php if (!$_helper->isLoggedIn()) : ?>
            <div class="subnav-container center">
                <ul class="subnav">
                    <li class="half"><a class="tab-link" data-tab="registered-visitor"><span><?php echo $this->__('Registered Customers'); ?></span></a></li>
                    <li class="active half"><a class="tab-link" data-tab="new-visitor"><span><?php echo $this->__('New Customers'); ?></span></a></li>
                </ul>
            </div>
        <?php endif; ?>
        <div class="tabs">
            <?php if (!$_helper->isLoggedIn()) : ?>
                <div class="tab active" id="new-visitor">
                    <div class="icon icon-phone"></div>
                    <h2 class="section-title"><?php echo $this->__('Ask for a call back'); ?></h2>
                    <form id="phoneForm" class="account-form modal-form callrequest-ajax-form" method="post" action="<?php echo $this->getUrl('callrequest/ajax/createCustomer', array('_secure' => true)); ?>">
                        <input type="text" name="phone[firstname]" id="firstname" placeholder="<?php echo $this->__('First name'); ?>*" required>
                        <input type="text" name="phone[lastname]" id="lastname" placeholder="<?php echo $this->__('Last name'); ?>*" required>
                        <input type="text" name="phone[email]" id="email" placeholder="<?php echo $this->__('Your email'); ?>*" required>
                        <input type="password" name="phone[password]" id="password" placeholder="<?php echo $this->__('Your password'); ?>*" required>
                        <input type="text" name="phone[phone_number]" id="phone" placeholder="<?php echo $this->__('Your phone number'); ?>*" required>
                        <p class="small"><?php echo $this->__('* Required fields'); ?></p>
                        <p class="centered">
                            <button type="submit" class="button button-inline button-pink icon-arrow-right"><?php echo $this->__('Send your request'); ?></button>
                        </p>
                    </form>
                </div>
                <div class="tab" id="registered-visitor">
                    <div class="icon icon-phone"></div>
                    <h2 class="section-title"><?php echo $this->__('Ask for a call back'); ?></h2>
                    <?php echo $this->getChildHtml('inchoo_socialconnect_facebook_login_button'); ?>
                    <div class="subsection-title"><?php echo $this->__('or'); ?></div>
                    <form class="account-form callrequest-ajax-form" method="post" action="<?php echo $this->getUrl('callrequest/ajax/loginPost', array('_secure' => true)); ?>">
                        <input type="text" name="login[username]" id="email" placeholder="<?php echo $this->__('Email'); ?>">
                        <input type="password" name="login[password]" id="pass" placeholder="<?php echo $this->__('Password'); ?>">
                        <button type="submit" class="button button-pink icon-arrow-right"><?php echo $this->__('Sign in with an email'); ?></button>
                    </form>
                    <p class="centered"><a class="small grey no-underline" href="<?php echo $this->getUrl('customer/account/forgotpassword'); ?>"><?php echo $this->__('Forgot your password ?'); ?></a></p>
                </div>
            <?php else : ?>
                <?php if (Mage::registry('callrequest_phone_number')) : ?>
                    <div class="tab active">
                        <div class="icon icon-phone"></div>
                        <h2 class="section-title"><?php echo $this->__('Ask for a call back'); ?></h2>
                        <p class="centered"><?php echo $this->__('Your request has been sent.'); ?></p>
                        <p class="centered"><?php echo $this->__('We will call you as soon as possible.'); ?></p>
                    </div>
                <?php else : ?>
                    <div class="tab active" id="logged-visitor">
                        <div class="icon icon-phone"></div>
                        <h2 class="section-title"><?php echo $this->__('Ask for a call back'); ?></h2>
                        <form id="phoneForm" class="account-form modal-form callrequest-ajax-form" action="<?php echo $this->getUrl('callrequest/ajax/confirmCallRequest', array('_secure' => true)); ?>">
                            <p><?php echo $this->__('Confirm your phone number'); ?></p>
                            <input type="text" name="phone[phone_number]" id="phone" value="<?php echo $_helper->getDefaultTelephone(); ?>" placeholder="<?php echo $this->__('Your phone number'); ?>*" required>
                            <p class="small"><?php echo $this->__('* Required fields'); ?></p>
                            <p class="centered">
                                <button type="submit" class="button button-inline button-pink icon-arrow-right"><?php echo $this->__('Send your request'); ?></button>
                            </p>
                        </form>
                    </div>
                <?php endif; ?>
            <?php endif; ?>
            <p class="center">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('contact_text')->toHtml(); ?>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $j("#phone").intlTelInput({
        utilsScript: "<?php echo $this->getSkinUrl('js/telinput/utils.js'); ?>",
        preferredCountries: ["fr", "gb", "us"]
    });
    $j("form").submit(function() {
        $j('#phone').val($j('#phone').intlTelInput("getNumber"));
    });
</script>