<?php
/**
 * Creator Widget
 * @see Partikule_Nose_Block_Catalog_Product_Widget_Creator
 *
 * if one "Creation" Text exists for the perfume :
 * - Display the Noses list
 * - Display the Creation Text instead the Nose's text
 * - For each Nose, if he has one page, create a link to this page on his name
 *
 */

$perfume = $this->getPerfume();

$creators = $this->getCreators();

$base_url = Mage::app()->getStore()->getBaseUrl();

?>

<?php
 /*
  * "Creation Text"
  *
  */
?>
<?php if ( ! empty($perfume['creation']) ) :?>

	<?php 
	
	$_iterator = 0;
	
	?>
	<p>
		<?php foreach($creators as $creator) :?>
			
			<?php if ($_iterator > 0) :?>, <?php endif ;?>
	
			<?php if ( ! empty($creator['page']) ) :?>
				<a href="<?php echo($base_url.$creator['page']['path']) ;?>"><?php echo($creator['creator_name']) ;?></a>
			<?php else :?>
				<?php echo($creator['creator_name']) ;?>						
			<?php endif ;?>

			<?php $_iterator++ ; ?>
			
		<?php endforeach ;?>
	</p>
	
	<p><?php echo($perfume['creation']) ;?></p>

<?php
 /*
  * No "Creation Text"
  *
  */
?>
<?php else :?>

	<?php 
	
	/**
	 * Check if one has description
	 *
	 * - if YES : 	Display in block
	 * - if NO : 	Display inline
	 *
	 */
	$has_description = FALSE;
	
	foreach($creators as $creator)
	{
		if ( ! empty($creator['description']))
		{
			$has_description = TRUE;
			break;
		}
	}
	
	$_iterator = 0;
	
	?>

	<?php if ( ! $has_description ) :?><p><?php endif ;?>
	
	
	<?php foreach($creators as $creator) :?>
	
		<?php if ( $has_description ) :?><p class="creator"><?php endif ;?>
	
		<?php if ( ! $has_description && $_iterator > 0) :?>, <?php endif ;?>
		
		<?php if ( ! empty($creator['page'] )) :?><a href="<?php echo($base_url.$creator['page']['path']) ;?>"><?php endif ;?><?php echo($creator['creator_name']) ;?><?php if ( ! empty($creator['page'] )) :?></a><?php endif ;?>
		
		<?php if ( ! empty($creator['description'] )) :?>
			</p><p><?php echo($creator['description']) ;?></p><p>
		<?php endif ;?>
	
		<?php if ( $has_description ) :?></p><?php endif ;?>
		
		<?php $_iterator++ ; ?>
		
	<?php endforeach ;?>
	
	<?php if ( ! $has_description ) :?></p><?php endif ;?>

<?php endif ;?>
