<div class="modal-wrapper" id="newsletterModal">

  <div class="overlay close-modal"></div>
  <div class="modal login-modal">
    <div class="modal-close close-modal"></div>

    <div class="newsletter-form">

      <h2 class="section-title"><?php echo $this->__('Join our newsletter'); ?></h2>

      <p class="center"><?php echo $this->__('Subscribe to our newsletter to receive exclusive news about our new items and promotions !'); ?></p>

      <form class="account-form" action="https://nose.fr/fr/advancednewsletter/index/subscribe/" method="post">
        <input name="email" id="email_an" type="text" placeholder="<?php echo $this->__('Enter your email address'); ?>" style="width: 100%;">
        <div class="center">
          <button type="submit" class="button button-inline icon-arrow-right"><?php echo $this->__('Subscribe'); ?></button>
        </div>
      </form>

    </div>
  </div>
</div>