<?php

/*
 * @see Partikule_Sponsor_Block_Credit
 *
 */
?>

<?php

// Help block : CMS block must be set in Magento
$helpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_credit_help')->toHtml();

?>

<div class="page-title">
    <h2><?php echo $this->__('My Credits Balance') ?></h2>
    <?php if ( ! empty($helpBlock)) :?>
	    <a id="helperBtn1" class="helper-open"></a>
	<?php endif; ?>
</div>

<div class="span-18 prepend-1 append-1">

	<?php echo $this->getChildHtml('global_messages') ?>

	<?php if ( ! empty($helpBlock)): ?>
	<div  id="helperBloc1" class="helper-bloc"  data-id="1">
		<a class="helper-close"></a>
		<?php echo $helpBlock; ?>
	</div>
	<?php endif ;?>
</div>

<?php
/*
 * Credit Summary
 */
?>
<?php echo $this->getChildHtml('credit_summary') ?>


<?php
/*
 * Credit History
 */
?>
<?php echo $this->getChildHtml('credit_history') ?>




