<?php

/**
 * Diag Results
 * @see Partikule_Mynose_Block_Diagnostic.php
 * 
 * Children of diagnostic.phtml
 *
 */
?>
<?php

// Diag product bundle ID
$diag_bundle_id = Mage::getStoreConfig('nose/general/bundle_product_id');

$diag = Mage::registry('diag');

// Others also liked
$_customer =
$_other_products = Mage::helper('mynose/Diagnostic')->getCustomerAlsoLiked();


if ($diag)
{
/*
	// Get samples from master_id Magento attribute : Better method, but
	// Doesn't returns the samples if the sync between Magento and eNose wasn't done 
	// properly, because based on master_id
	
	// Samples from perfumes & Home fragrances
	$perfume_products = $this->getSamplesFromDiagnosticItems($diag->perfumes);
	$home_products = $this->getSamplesFromDiagnosticItems($diag->homefragrances);

	// Link samples to perfumes
	foreach($diag->perfumes as &$perfume)
		foreach($perfume_products as $product)
			if ($product->getMasterId() == $perfume->master_id)
				$perfume->product = $product;

	// Link samples to home
	foreach($diag->homefragrances as &$home)
		foreach($home_products as $product)
			if ($product->getMasterId() == $home->master_id)
				$perfume->product = $product;
*/

	// Get the first perfume from diag if any
	$perfume_master_id = NULL;
	if ( $diag && ! empty($diag->perfumes[0]))
		$perfume_master_id = $diag->perfumes[0]->master_id;

	$home_master_id = NULL;
	if ( $diag && ! empty($diag->homefragrances[0]))
		$home_master_id = $diag->homefragrances[0]->master_id;

	$other_master_id = NULL;
	if ( $_other_products && ! empty($_other_products[0]))
		$other_master_id = $_other_products[0]['master_id'];
}


/*
 * Check for errors
 * If one error happens, the diag object looks like this : 
 * stdClass Object
 *	(
 *	    [error] => 2
 * 	    [message] => The message
 *	)
 *
 */
$error = (isset($diag->error)) ? TRUE : FALSE;

$customer_group = Mage::helper('nose/customer')->getCustomerGroup();

$orderSampleBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_order_sample')->toHtml();
$buttonBottomLine = $this->__('and get one € 10.00 voucher !');

$group = $customer_group->getCode();

switch($group)
{
	case 'Kit_5_Euros':
		$orderSampleBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_order_sample_5_euros')->toHtml();
		$buttonBottomLine = $this->__('at € 5.00 instead of 10.00 !');
		break;
	case 'Kit_0_Euros':
		$orderSampleBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_order_sample_0_euros')->toHtml();
		$buttonBottomLine = $this->__('get it for free !');
		break;
	default:
		break;
}


?>
<?php
/*
 * Maintenance screen if the diag isn't available 
 *
 */
?>
<?php if ( ! $diag) :?>

	<?php // echo $this->getChildHtml('mynose_maintenance'); ?>
	<?php echo $this->getChildHtml('mynose_no_diag'); ?>

<?php else :?>

	<?php if ( is_null($perfume_master_id) AND is_null($home_master_id) ) :?>
	
		<?php if ( $error === TRUE ) :?>
		
			<div class="center title">
				<h2 class="title"><?php echo $this->__('Diag in maintenance'); ?></h2>
			</div>
			
			<div class="clearfix"></div>
			
			<div class="center mt20">
				<p><?php echo $diag->message ?></p>
			</div>
		
		<?php else :?>
			<?php  echo $this->getChildHtml('mynose_no_diag'); ?>
		<?php endif; ?>
	
	<?php else :?>
		
		<?php
		/*
		 * Page title
		 *
		 */
		 ?>
		<div class="page-title">
		    <h2><?php echo $this->getRecoTitle() ?></h2>
		</div>

		<div class="subnav-container center">
			<ul id="reco-nav" class="subnav">
				<li class="active first" id="subnav-perfumes"><a><span><?php echo $this->__('Perfumes') ?></span></a></li>
				<?php if ( ! is_null($home_master_id)) :?>
					<li id="subnav-home"><a><span><?php echo $this->__('Home fragrances') ?></span></a></li>
				<?php endif ;?>
				<?php if ( ! empty($other_master_id)): ?>
					<li id="subnav-other"><a><span><?php echo $this->__('Others also liked') ?></span></a></li>
				<?php endif ;?>
			</ul>
		</div>

		<div id="reco-panels" class="reco">
		
			<?php 
			/*
			 * Perfumes Reco
			 *
			 */
			?>
			<div class="panelContent">
				<?php 
				
					$max = count($diag->perfumes);
					$perfume_products = array();
				?>
				
				<?php for($i = 0; $i < $max; $i++) :?>
					<?php 
					// Diag perfume line
					$row = $diag->perfumes[$i];
							
					// Current Element
					$class = ($i==0) ? ' active' : ''; 
					
					$rate = 'n' . round(round($row->index_quality, 1));

					// Sample
					$row->product = $this->getSampleFromDiagnosticItem($row);

					// Master
					$master = Mage::getModel('catalog/product')->loadByAttribute('master_id', $row->master_id);
	
					// Samples array
					$perfume_products[] = $row->product;
					
					?>
					<div class="h320 relative span-4 <?php if(($i+1)%5 == 0) :?> last<?php endif ;?>" >
						<a class="subnav-item<?php echo $class ?> perfumeItemHandler perfumeItemHandler<?php echo $row->master_id ?>" data-pid="<?php echo $row->master_id ?>"><?= $i + 1; ?></a>
						<div class="mt10 sample-pic">
							<?php 
								$_product = FALSE;
								if ($master) $_product = $master;
								elseif (isset($row->product)) $_product = $row->product;
							?>
							<?php if ($_product && $_product->getImage() != 'no_selection' && $_product->getImage()): ?>
								<a class="perfumeItemHandler perfumeItemHandler<?php echo $row->master_id ?>" data-pid="<?php echo $row->master_id ;?>">
								<?php
								
									$_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->keepTransparency(false)->resize(150).'" alt="'.$this->htmlEscape($_product->getName()).'" title="'.$this->htmlEscape($_product->getName()).'" />';
									echo($_img);
								?>
								</a>
							<?php endif; ?>
						</div>
						<div class="center mt10">
							<strong class="uppercase"><?php echo $row->brand_name ?></strong><br/>
							<span><?php echo $row->perfume_name ?></span>
							<ul class="rating10 ml30 <?php echo $rate ?>">
								<li class="one"><a href="#">1</a></li>
								<li class="two"><a href="#">2</a></li>
								<li class="three"><a href="#">3</a></li>
								<li class="four"><a href="#">4</a></li>
								<li class="five"><a href="#">5</a></li>
								<li class="six"><a href="#">6</a></li>
								<li class="seven"><a href="#">7</a></li>
								<li class="eight"><a href="#">8</a></li>
								<li class="none"><a href="#">9</a></li>
								<li class="ten"><a href="#">10</a></li>
							</ul>
						</div>
						<div class="center" style="position:absolute;bottom: 5px;width:100%;">
							<button class="button gray perfumeItemHandler perfumeItemHandler<?php echo $row->master_id ?>" data-pid="<?php echo $row->master_id ?>">
								<span><span>
									<?php echo $this->__('See product'); ?>
								</span></span>
							</button>
                        </div>
					</div>
				<?php endfor ;?>
				<div class="clearfix"></div>

				<?php
				/*
				 * Order the samples
				 */
				?>
				<div class="mt20">

					<div style="height:22px;border-bottom:solid 1px #000;">
                    <ul class="subnav" >
                        <li class="active first"><a><span><?php echo $this->__('Order your recommended sample kit') ?></span></a></li>
                    </ul>
                    </div>

					<div class="clearer"></div>

					<div class="mb10 mt15">
						<div class="span-11">

							<?php if ($orderSampleBlock != ''): ?>
								<?php echo $orderSampleBlock; ?>
							<?php endif ;?>

						</div>
						<div class="span-8 right">
                            <div class="right">
								<?php
								/*
								 * Order the Samples
								 *
								 */
								$sample_ids = array();

								foreach($perfume_products as $sample)
								{
									$id_sample =  $sample->getId();

									if ( ! empty($id_sample))
										$sample_ids[] = $sample->getId();
								}

								$sample_url = implode(',', $sample_ids);
								?>

								<?php if ( ! empty($sample_ids)) :?>
									<button onclick="setBundle('<?php echo Mage::helper('checkout/cart')->getCartUrl() ?>bundle/bundle/<?php echo $diag_bundle_id ;?>/products/<?php echo $sample_url; ?>/')"  class="button action yellow big" title="<?php echo $this->__('Order the Diagnostic pack') ?>" type="submit">
										<span>
											<span><?php echo $this->__('Order your samples') ?></span>
											<span class="small"><?php echo $buttonBottomLine ?></span>
										</span>
									</button>
								<?php else: ?>

									<span>We're currently in maintenance. You will be able to order your kit very soon.</span>

								<?php endif ?>
                                <div class="clearfix"></div>
                            </div>

						</div>
                    </div>

				</div>
				
				<div class="clearfix"></div>

				<div class="page-title mt30">
				    <h2><?php echo $this->__('Recommended product') ?></h2>
				    
				    <div class="mt10">
					    <?php for($i = 0; $i < $max; $i++) :?>
						<?php 
						// Diag perfume line
						$row = $diag->perfumes[$i];
								
						// Current Element
						$class = ($i==0) ? ' active' : '';
						?>
						<div class="span-4 <?php if(($i+1)%5 == 0) :?> last<?php endif ;?>">
							<a class="subnav-item<?php echo $class ?> perfumeItemHandler perfumeItemHandler<?php echo $row->master_id ?>" data-pid="<?php echo $row->master_id ?>"><?= $i + 1; ?></a>
						</div>
						<?php endfor ;?>
					</div>				    
				    
				</div>
				
			<?php
			// End Panel
			?>
			</div>

			
			<?php 
			/*
			 * Home Fragrances Reco
			 * Simply copy the same as Perfume.
			 * ... in the case the spec change... and they change of course too much !
			 *
			 */
			?>
			<?php if ( ! is_null($home_master_id)) :?>
				<div class="panelContent">

					<?php
						$max = count($diag->homefragrances);
						$home_products = array();
					?>

					<?php for($i = 0; $i < $max; $i++) :?>
						<?php
						// Diag line
						$row = $diag->homefragrances[$i];

						// Current Element
						$class = ($i==0) ? ' active' : '';

						$rate = 'n' . round(round($row->index_quality, 1));

						// Sample
						// $row->product = $this->getSampleFromDiagnosticItem($row);

						// Master
						// $master = Mage::getModel('catalog/product')->loadByAttribute('master_id', $row->master_id);
						$_product = Mage::getModel('catalog/product')->loadByAttribute('master_id', $row->master_id);

						// Samples array
						// $home_products[] = $row->product;

						?>
						<div class="h320 relative span-4 <?php if(($i+1)%5 == 0) :?> last<?php endif ;?>">
							<a class="subnav-item<?php echo $class ?> homeItemHandler homeItemHandler<?php echo $row->master_id ?>" data-pid="<?php echo $row->master_id ?>"><?= $i + 1; ?></a>
							<div class="mt10 sample-pic">
								<?php

								/*
									$_product = FALSE;
									if ($master) $_product = $master;
									elseif (isset($row->product)) $_product = $row->product;
								*/
								?>
								<?php if ($_product && $_product->getImage() != 'no_selection' && $_product->getImage()): ?>
									<a class="homeItemHandler homeItemHandler<?php echo $row->master_id ?>" data-pid="<?php echo $row->master_id ;?>">
									<?php

										$_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->keepTransparency(false)->resize(150).'" alt="'.$this->htmlEscape($_product->getName()).'" title="'.$this->htmlEscape($_product->getName()).'" />';
										echo($_img);
									?>
									</a>
								<?php endif; ?>
							</div>
							<div class="center mt10">
								<strong class="uppercase"><?php echo $row->brand_name ?></strong><br/>
								<span><?php echo $row->homefragrance_name ?></span>
								<ul class="rating10 ml30 <?php echo $rate ?>">
									<li class="one"><a href="#">1</a></li>
									<li class="two"><a href="#">2</a></li>
									<li class="three"><a href="#">3</a></li>
									<li class="four"><a href="#">4</a></li>
									<li class="five"><a href="#">5</a></li>
									<li class="six"><a href="#">6</a></li>
									<li class="seven"><a href="#">7</a></li>
									<li class="eight"><a href="#">8</a></li>
									<li class="none"><a href="#">9</a></li>
									<li class="ten"><a href="#">10</a></li>
								</ul>
							</div>
							<div class="center" style="position:absolute;bottom: 5px;width:100%;">
								<button class="button gray perfumeItemHandler perfumeItemHandler<?php echo $row->master_id ?>" data-pid="<?php echo $row->master_id ?>">
									<span><span>
										<?php echo $this->__('See product'); ?>
									</span></span>
								</button>
							</div>
						</div>
					<?php endfor ;?>
					<div class="clearfix"></div>

					<?php
					/*
					 * Home : Order the Samples
					 */
					?>
					<?php if (count($home_products) > 0) :?>
					<div class="mt20">
						<div class="right">
							<?php
							/*
							 * Order the Samples
							 *
							 */
							$sample_ids = array();

							foreach($home_products as $sample)
								$sample_ids[] = $sample->getId();

							$sample_url = implode(',', $sample_ids);
							?>
							<?php
							/*
							<button onclick="javascript:alert('This will be available soon.')"  class="button bag" title="<?php echo $this->__('Order the samples') ?>" type="submit"><span><span><?php echo $this->__('Order the samples') ?></span></span></button>
							<button onclick="setMultiLocation('<?php echo Mage::helper('checkout/cart')->getCartUrl() ?>?products=<?php echo $sample_url; ?>')"  class="button bag action" title="<?php echo $this->__('Order the samples') ?>" type="submit"><span><span><?php echo $this->__('Order the samples') ?></span></span></button>
							*/
							?>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix"></div>
					<?php endif ;?>


					<div class="page-title mt30">
						<h2><?php echo $this->__('Recommended product') ?></h2>

						<div class="mt10">
							<?php for($i = 0; $i < $max; $i++) :?>
							<?php
							// Diag perfume line
							$row = $diag->homefragrances[$i];

							// Current Element
							$class = ($i==0) ? ' active' : '';
							?>
							<div class="span-4 <?php if(($i+1)%5 == 0) :?> last<?php endif ;?>">
								<a class="subnav-item<?php echo $class ?> homeItemHandler homeItemHandler<?php echo $row->master_id ?>" data-pid="<?php echo $row->master_id ?>"><?= $i + 1; ?></a>
							</div>
							<?php endfor ;?>
						</div>

					</div>

				</div>
				<?php // End panel ?>
			<?php endif ;?>
			
			
			<?php 
			/*
			 * Others also likes...
			 * Bears and beer ?
			 *
			 */
			?>
				
			<div class="panelContent">

				<?php
				$i = 0
				?>
				<?php foreach($_other_products as $row) :?>

					<?php
						$_master_id = $row['master_id'];
						$class = ($i==0) ? ' active' : '';

						// Sample
						// $sample = $this->getSampleFromDiagnosticItem($row, TRUE);

						// Master
						$master = Mage::getModel('catalog/product')->loadByAttribute('master_id', $_master_id);

					?>

					<div class="h280 relative span-4 <?php if(($i+1)%5 == 0) :?> last<?php endif ;?>">
						<a class="subnav-item<?php echo $class ?> otherItemHandler otherItemHandler<?php echo $_master_id ?>" data-pid="<?php echo $_master_id ?>"><?php echo  ($i + 1); ?></a>
						<div class="mt10 sample-pic">
							<?php
							$_product = FALSE;
							if ($master) $_product = $master;
							?>
							<?php if ($_product && $_product->getImage() != 'no_selection' && $_product->getImage()): ?>
								<a class="otherItemHandler otherItemHandler<?php echo $_master_id ?>" data-pid="<?php echo $_master_id ;?>">
									<?php

									$_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->keepTransparency(false)->resize(150).'" alt="'.$this->htmlEscape($_product->getName()).'" title="'.$this->htmlEscape($_product->getName()).'" />';
									echo($_img);
									?>
								</a>
							<?php endif; ?>
						</div>
						<div class="center mt10">
							<strong class="uppercase"><?php echo $row['brand_name'] ?></strong><br/>
							<span><?php echo $row['perfume_name'] ?></span>
							<?php
							/*
							<ul class="rating10 ml30 <?php echo $rate ?>">
								<li class="one"><a href="#">1</a></li>
								<li class="two"><a href="#">2</a></li>
								<li class="three"><a href="#">3</a></li>
								<li class="four"><a href="#">4</a></li>
								<li class="five"><a href="#">5</a></li>
								<li class="six"><a href="#">6</a></li>
								<li class="seven"><a href="#">7</a></li>
								<li class="eight"><a href="#">8</a></li>
								<li class="none"><a href="#">9</a></li>
								<li class="ten"><a href="#">10</a></li>
							</ul>
							*/
							?>
						</div>
						<div class="center" style="position:absolute;bottom: 5px;width:100%;">
							<button class="button gray otherItemHandler otherItemHandler<?php echo $_master_id ?>" data-pid="<?php echo $_master_id ?>">
									<span><span>
										<?php echo $this->__('See product'); ?>
									</span></span>
							</button>
						</div>

					</div>

					<?php
					$i++;
					?>

				<?php endforeach ;?>

				<div class="clearfix"></div>

				<div class="page-title mt30">
					<h2><?php echo $this->__('Recommended product') ?></h2>

					<div class="mt10">
						<?php $i=0; ?>
						<?php foreach($_other_products as $row) :?>
							<?php
							$_master_id = $row['master_id'];

							// Current Element
							$class = ($i==0) ? ' active' : '';
							?>
							<div class="span-4 <?php if(($i+1)%5 == 0) :?> last<?php endif ;?>">
								<a class="subnav-item<?php echo $class ?> otherItemHandler otherItemHandler<?php echo $_master_id ?>" data-pid="<?php echo $_master_id ?>"><?= $i + 1; ?></a>
							</div>

							<?php
							$i++;
							?>

						<?php endforeach ;?>
					</div>

				</div>

			</div>
		</div>

		<?php
		/*
		 * Product Container
		 *
		 */
		?>
		<div id="diagProductContainer"></div>

		
		<script type="text/javascript">

			jQuery(document).ready(function()
			{
				setOpenBlock('#block-mynose');
			});
		
		
			$j(function() {
				$j("#accordion").accordion({
					autoHeight: false
				});
			});
	
			<?php
			/*
			 * XHR Display the first product
			 *
			 */
			?>
			var perfumeProductLoader = new NoseProductLoader('<?php echo Mage::helper('mynose/url')->getProductUrl() ;?>',
			{
				'update' : 'diagProductContainer',
				'handlers' : '.perfumeItemHandler'
			});
			
			var homeProductLoader = new NoseProductLoader('<?php echo Mage::helper('mynose/url')->getProductUrl() ;?>',
			{
				'update' : 'diagProductContainer',
				'handlers' : '.homeItemHandler'
			});

			var otherProductLoader = new NoseProductLoader('<?php echo Mage::helper('mynose/url')->getProductUrl() ;?>',
			{
				'update' : 'diagProductContainer',
				'handlers' : '.otherItemHandler'
			});


			<?php if (! is_null($perfume_master_id)) :?>
				perfumeProductLoader.load('<?php echo $perfume_master_id ;?>');
				perfumeProductLoader.init('a.productDisplay');
			<?php endif ;?>
			<?php if (! is_null($home_master_id)) :?>
				homeProductLoader.init('a.productDisplay');
			<?php endif ;?>
			
			<?php if (! empty($other_master_id)) :?>
				otherProductLoader.init('a.productDisplay');
			<?php endif ;?>

			<?php
			/*
			 * 2 sets of Panels
			 *
			 */
			?>
			var recoPanels = new NosePanels({
				'nav' : 'reco-nav',
				'panels' : 'reco-panels'
			});
			
			
			<?php
			/*
			 * Special for this view
			 *
			 */
			?>
			<?php if (! is_null($perfume_master_id)) :?>
			$('subnav-perfumes').observe('click', function(event) {
				perfumeProductLoader.load('<?php echo $perfume_master_id ;?>');
			});
			<?php endif ;?>
			<?php if (! is_null($home_master_id)) :?>
			$('subnav-home').observe('click', function(event) {
				homeProductLoader.load('<?php echo $home_master_id ;?>');
			});
			<?php endif ;?>
			<?php if (! empty($other_master_id)) :?>
			$('subnav-other').observe('click', function(event) {
				otherProductLoader.load('<?php echo $other_master_id ;?>');
			});
			<?php endif ;?>

		</script>
	<?php endif ;?>
<?php endif ;?>