<?php
/**
 * Diagnostic Page title
 * Used by Diagnostic results
 * - diagnostic_result.phtml
 * 
 * Blocks : 
 * - Partikule_Mynose_Block_Diagnostic 
 * - Partikule_Mynose_Block_Contact 
 *
 */
?>
<?php

$helpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_result_help')->toHtml();


?>
<div class="page-title">
    <h2><?php echo $this->getDiagnosticTitle(); ?></h2>
    <?php if ( ! empty($helpBlock)) :?>
	    <a id="helperBtn1" class="helper-open"></a>
	<?php endif; ?>

</div>

<?php if ( ! empty($helpBlock)) :?>
	<div  id="helperBloc1" class="helper-bloc open" data-id="1">
		<a class="helper-close"></a>
		<?php echo $helpBlock ?>
	</div>
<?php endif ;?>

<div class="clearfix"></div>
