<?php
/**
 * Diag steps
 * @block Partikule_Mynose_Block_Diagnostic.php
 *
 */

$diag = Mage::registry('diag');

$_session = Mage::getModel('customer/session');

?>

<?php if ($_session->isLoggedIn()) : ?>

    <?php if ($diag) : ?>
        <div class="diagnosis-steps">
            <div class="step">1</div>
            <a class="step" href="<?php echo $this->getUrl('mynose/diagnose/do'); ?>">2</a>
            <a class="step" href="<?php echo $this->getUrl('mynose/result/mydiagnose'); ?>">3</a>
            <div class="step active">4</div>
        </div>
    <?php endif; ?>
<?php else : ?>
    <div class="diagnosis-steps">
        <div class="step">1</div>
        <div class="step">2</div>
        <div class="step">3</div>
        <div class="step active">4</div>
    </div>
<?php endif; ?>
