<?php

/**
 * Diag Results
 * @see Partikule_Mynose_Block_Diagnostic.php
 * 
 * Children of diagnostic.phtml
 *
 */
?>
<?php

$_OUTPUT_TYPE_HEAD = 15;
$_OUTPUT_TYPE_HEART = 16;
$_OUTPUT_TYPE_BASE = 17;


$diag = Mage::registry('diag');

$session = Mage::getSingleton('core/session');



if ($diag)
{
	// Get the first perfume from diag if any
	$perfume_master_id = NULL;
	if ( $diag && ! empty($diag->perfumes[0]))
		$perfume_master_id = $diag->perfumes[0]->master_id;

	$home_master_id = NULL;
	if ( $diag && ! empty($diag->homefragrances[0]))
		$home_master_id = $diag->homefragrances[0]->master_id;
	
	// Organize notes
	if ( $diag && ! empty($diag->notes))
	{
		$notes = $notes_names = array(
			'head' => array(),
			'heart' => array(),
			'base' => array()
		);
		
		foreach($diag->notes as $note)
		{
			if ($note->output_type == $_OUTPUT_TYPE_HEAD) $notes['head'][] = $note;
			if ($note->output_type == $_OUTPUT_TYPE_HEART) $notes['heart'][] = $note;
			if ($note->output_type == $_OUTPUT_TYPE_BASE) $notes['base'][] = $note;
		}
		
		$arrays = array_keys($notes);
		foreach ($arrays as $array_key)
		{
			$sort_keys = array();
			foreach ($notes[$array_key] as $key => $row)
	    		$sort_keys[$key]  = $row->index_quality;
	
			array_multisort($sort_keys, SORT_DESC, $notes[$array_key]);
			
			$limit = 3;
			foreach($notes[$array_key] as $key => $note)
			{
				if ($key <= $limit)
					$notes_names[$array_key][] = $note->note_name;
			}
		}
	}
}

// Helpers block, because the visitor needs to be helped...
$pyramidHelpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_pyramid_help')->toHtml();
$familiesHelpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_families_help')->toHtml();
$notesHelpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_result_notes_help')->toHtml();

// Column text blocks
$pyramidTextBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_pyramid_text')->toHtml();
$familiesTextBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_families_text')->toHtml();



/*
 * Check for errors
 * If one error happens, the diag object looks like this : 
 * stdClass Object
 *	(
 *	    [error] => 2
 * 	    [message] => The message
 *	)
 *
 */
$error = (isset($diag->error)) ? TRUE : FALSE;


?>
<?php
/*
 * Maintenance screen if the diag isn't available 
 *
 */
?>
<?php if ( ! $diag) :?>

	<?php // echo $this->getChildHtml('mynose_maintenance'); ?>
	<?php echo $this->getChildHtml('mynose_no_diag'); ?>

<?php else :?>

	<?php if ( is_null($perfume_master_id) AND is_null($home_master_id) ) :?>

	
		<?php if ( $error === TRUE ) :?>
		
			<div class="center title">
				<h2 class="title"><?php echo $this->__('Diag in maintenance'); ?></h2>
			</div>
			
			<div class="clearfix"></div>
			
			<div class="center mt10">
				<p><?php echo $diag->message ?></p>
			</div>
		
		<?php else :?>
			<?php echo $this->getChildHtml('mynose_no_diag'); ?>
		<?php endif; ?>

	<?php else :?>
		
		<?php
		/*
		 * Page title
		 *
		 */
		 ?>
		<?php echo $this->getChildHtml('diagnostic_title'); ?>
		
		<div class="diagnostic">

			<div>		
				<h3 class="title">
					<?php echo $this->__('My olfactive pyramid'); ?>
				    <?php if ( ! empty($pyramidHelpBlock)) :?>
					    <a id="helperBtn1" class="helper-open"></a>
					<?php endif; ?>
				</h3>

				<?php if ( ! empty($pyramidHelpBlock)) :?>
					<div  id="helperBloc1" class="helper-bloc close" data-id="1">
						<a class="helper-close"></a>
						<?php echo $pyramidHelpBlock ?>
					</div>
				<?php endif ;?>
				
				<div class="clearfix"></div>
				
				<?php
				/*
				 * Text column
				 *
				 */
				?>
				<div class="span-4 mt5">
					
					<?php echo $pyramidTextBlock ;?>
					
				</div>
				
				
				<?php
				/*
				 * Pyramid
				 *
				 */
				?>
				<div class="span-10">
					
					<?php
					/*
					 * Pyramid
					 * if you ask yourself why this is done so ugly,
					 * ask yourself first : "will I get paid for the 10 next mods this client will ask or will I work for free ?"
					 * I think you will work for free...
					 *
					 */
					?>
					<div class="pyramid <?php echo Mage::app()->getStore()->getCode(); ?>"></div>
					
					
				</div>
				
				<?php
				/*
				 * Notes
				 *
				 */
				?>
				<div class="span-5 last pyramid-notes">
					<?php if (!empty($notes_names)) :?>

						<h3 class="title mt5 mb0">
							<?php echo $this->__('My preferred notes'); ?>
						    <?php if ( ! empty($notesHelpBlock)) :?>
							    <a id="helperBtn1" class="helper-open"></a>
							<?php endif; ?>
						</h3>
		
						<?php if ( ! empty($notesHelpBlock)) :?>
							<div  id="helperBloc1" class="helper-bloc close" data-id="1">
								<a class="helper-close"></a>
								<?php echo $notesHelpBlock ?>
							</div>
						<?php endif ;?>


						<div class="notes">
							
							<table class="pyramid-notes">
								<tr><td><?php echo implode(', ', $notes_names['head']) ;?></td></tr>
								<tr><td><?php echo implode(', ', $notes_names['heart']) ;?></td></tr>
								<tr><td class="no-border"><?php echo implode(', ', $notes_names['base']) ;?></td></tr>
							</table>
						</div>
					<?php endif;?>
				</div>
				
			</div>
			
			
			<div class="clearfix"></div>
			
			<div>
			
				<h3 class="title">
					<?php echo $this->__('My preferred olfactive families'); ?>
					<?php if ( ! empty($familiesHelpBlock)) :?>
				   		<a id="helperBtn2" class="helper-open"></a>
				   	<?php endif; ?>
				</h3>
				
				<?php if ( ! empty($familiesHelpBlock)) :?>
					<div  id="helperBloc2" class="helper-bloc close" data-id="2">
						<a class="helper-close"></a>
						<?php echo $familiesHelpBlock ?>
					</div>
				<?php endif ;?>
			
			
				<?php
				/*
				 * Text column
				 *
				 */
				?>
				<div class="span-4 mt5">
					
					<?php echo $familiesTextBlock ;?>
					
				</div>
				<div class="span-12 last">
				
				

					<div class="families ">
					
						<div class="families-header h30 relative">
							<span class="like"><?php echo $this->__('Like'); ?></span>
							<span class="dislike"><?php echo $this->__('Dislike'); ?></span>
						</div>
					
						<?php
						/*
						 * All families
						 *
						 */
						?>
						<?php // foreach($diag->diag_families as $diag_family) :?>
	
						<?php foreach ($diag->families as $family) :?>
						
							<div class="clearfix relative mb15">
								<?php						
									$rate = 'n5';
									$rate = 'n' . round(round($family->index_quality, 1));
								?>
								<ul class="ratingWide right <?php echo $rate ?>" alt="<?php echo $family->index_quality ;?>">
									<li class="zero">	<a href="#">0</a></li>
									<li class="one">	<a href="#">1</a></li>
									<li class="two">	<a href="#">2</a></li>
									<li class="three">	<a href="#">3</a></li>
									<li class="four">	<a href="#">4</a></li>
									<li class="five">	<a href="#">5</a></li>
									<li class="six">	<a href="#">6</a></li>
									<li class="seven">	<a href="#">7</a></li>
									<li class="eight">	<a href="#">8</a></li>
									<li class="none">	<a href="#">9</a></li>
									<li class="ten">	<a href="#">10</a></li>
								</ul>
								<span class="family"><?php echo $family->family_name ;?></span>
								
								<div class="ratingWideLegend">
									<span class="minusfive">-5</span>
									<span class="zero">0</span>
									<span class="five">5</span>
								</div>
									
								<div class="clearfix"></div>
		
							</div>
						
						<?php endforeach; ?>
					</div>
					
					<div class="families-footer"></div>
				
				</div>

				<div class="clearfix"></div>
				
			</div>
			
		</div>

		<?php
		/*
		 * To Recommandations
		 *
		 */
		?>
	    <div class="buttons-set mb30">
			<button id="btnSeeReco" class="button" type="button" onclick="setLocation('<?php echo Mage::helper('mynose/url')->getDiagnoseRecoUrl() ;?>')";><span><span><?php echo $this->__('See the corresponding Nose recommandations') ?></span></span></button>
		</div>

		<?php
		/*
		 * Google & FB Tracking
		 * New Diagnostic
		 *
		 */
		?>
		<?php if ($session->getData('firstDiag') == TRUE) :?>

			<script type="text/javascript">
				/* <![CDATA[ */
				var google_conversion_id = 1022898188;
				var google_conversion_language = "en";
				var google_conversion_format = "3";
				var google_conversion_color = "ffffff";
				var google_conversion_label = "ej7yCP2DqVkQjODg5wM";
				var google_remarketing_only = false;
				/* ]]> */
			</script>
			<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
			<noscript>
			<div style="display:inline;">
			<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1022898188/?label=ej7yCP2DqVkQjODg5wM&amp;guid=ON&amp;script=0"/>
			</div>
			</noscript>


			<!-- Facebook Conversion Code for Conv pixel to registration from facebook -->
			<script>(function() {
					var _fbq = window._fbq || (window._fbq = []);
					if (!_fbq.loaded) {
						var fbds = document.createElement('script');
						fbds.async = true;
						fbds.src = '//connect.facebook.net/en_US/fbds.js';
						var s = document.getElementsByTagName('script')[0];
						s.parentNode.insertBefore(fbds, s);
						_fbq.loaded = true;
					}
				})();
				window._fbq = window._fbq || [];
				window._fbq.push(['track', '6007869350159', {'value':'0.00','currency':'USD'}]);
			</script>
			<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6007869350159&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>


			<?php
			$session->setData('firstDiag', FALSE) == TRUE
			?>

		<?php endif ;?>

	<?php endif ;?>
<?php endif ;?>