<?php
/**
 * Evaluations List
 * @see Partikule_Mynose_Block_Diagnostic.php
 *
 */

// Helpers block, because the visitor needs to be helped...
$favoritesHelpBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_diagnostic_favorites_help')->toHtml();

$enose_url = Mage::getBaseUrl(). 'mynose/eval/rank';

// List of perfumes : status 2, limit 5
// Statuses : 
// 0. Closed
// 1. Open
// 2. Waiting for eval
// 3. Evaluated
$evaluations = $this->getEvaluationList(3);


if ( ! empty($evaluations) )
{
	// Samples from perfumes
	$products = $this->getSamplesFromDiagnosticItems($evaluations);
	
	if ($products)
	{
		// Link samples to perfumes
		foreach($evaluations as $key => &$perfume)
		{
			// Adding the ranking class
			$perfume->_ranking_class = 'n' . round(round($perfume->evaluation, 1));
	
			// Add the product to the perfume
			foreach($products as $product)
				if ($product->getMasterId() == $perfume->master_id)
					$perfume->product = $product;
			
			// Prepare the array sorting... but whatfor ? ...
		    $sorting_eval[$key]  = $perfume->evaluation;
		    $sorting_dt[$key] = $perfume->evaluation_dt;
		}
		
		// Evaluation sorting, based on the evaluation and date
		//array_multisort($sorting_eval, SORT_DESC, $sorting_dt, SORT_DESC, $evaluations);
		array_multisort($sorting_eval, SORT_DESC, $evaluations);
	}
}

// Keep first five
if (count($evaluations) > 5)
{
	$result = array();
	for($i=0; $i<5; $i++)
	{
		$result[] = $evaluations[$i];
	}
	$evaluations = $result;
}
$perfume_id = $evaluations[0]->master_id;


// Mage::log($evaluations, null, 'evaluations.log');
// trace($evaluations);

?>

<div class="page-title">
    <h2><?php echo $this->__('My favorites') ?></h2>
    <?php if ( ! empty($favoritesHelpBlock)) :?>
	    <a id="helperBtn1" class="helper-open"></a>
	<?php endif; ?>
</div>
<?php if ( ! empty($favoritesHelpBlock)) :?>
	<div  id="helperBloc1" class="helper-bloc mb20 open" data-id="1">
		<a class="helper-close"></a>
		<?php echo $favoritesHelpBlock ?>
	</div>
<?php endif ;?>

<div class="clearfix"></div>
				


<?php if ( empty($evaluations)) :?>

	<?php echo $this->getChildHtml('mynose_no_favorites'); ?>
	
<?php else :?>

	<div id="reco-panels" class="reco">

		<div class="panelContent">
			<?php $max = (count($evaluations) > 5) ? 5 : count($evaluations) ;?>

			<?php for($i = 0; $i < $max; $i++) :?>
				<?php
				// Diag perfume line
				$row = $evaluations[$i];

				// Current Element
				$class = ($i==0) ? ' active' : '';

				?>
				<div class="span-4 <?php if(($i+1)%5 == 0) :?> last<?php endif ;?>">
					<a class="subnav-item<?php echo $class ?> itemHandler itemHandler<?php echo $row->master_id ?>" data-pid="<?php echo $row->master_id ?>"><?= $i + 1; ?></a>

					<div class="mt10 sample-pic">

						<?php if (isset($row->product) && $row->product->getImage() != 'no_selection' && $row->product->getImage()): ?>
							<?php $_product = $row->product; ?>
							<a class="itemHandler itemHandler<?php echo $row->master_id ?>" data-pid="<?php echo $row->master_id ;?>">
							<?php
								$_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->keepTransparency(false)->resize(150).'" alt="'.$this->htmlEscape($_product->getName()).'" title="'.$this->htmlEscape($_product->getName()).'" />';
								echo($_img);
							?>
							</a>
						<?php endif; ?>
					</div>
					<div class="center mt10">
						<strong class="uppercase"><?php echo $row->brand_name ?></strong><br/>
						<span><?php echo $row->perfume_name ?></span>
						<ul class="rating10 ml30 <?php echo $row->_ranking_class ?>">
							<li class="one"><a href="#">1</a></li>
							<li class="two"><a href="#">2</a></li>
							<li class="three"><a href="#">3</a></li>
							<li class="four"><a href="#">4</a></li>
							<li class="five"><a href="#">5</a></li>
							<li class="six"><a href="#">6</a></li>
							<li class="seven"><a href="#">7</a></li>
							<li class="eight"><a href="#">8</a></li>
							<li class="none"><a href="#">9</a></li>
							<li class="ten"><a href="#">10</a></li>
						</ul>
<!--
						<p><?php // echo($row->index_quality); ?></p>
-->
					</div>
				</div>
			<?php endfor ;?>
			<div class="clearfix"></div>

			<div class="page-title mt30">
				<h2><?php echo $this->__('Product details') ?></h2>

				<div class="mt10">
					<?php for($i = 0; $i < $max; $i++) :?>
					<?php
					// Diag perfume line
					$row = $evaluations[$i];

					// Current Element
					$class = ($i==0) ? ' active' : '';
					?>
					<div class="span-4 <?php if(($i+1)%5 == 0) :?> last<?php endif ;?>">
						<a class="subnav-item<?php echo $class ?> itemHandler itemHandler<?php echo $row->master_id ?>" data-pid="<?php echo $row->master_id ?>"><?= $i + 1; ?></a>
					</div>
					<?php endfor ;?>
				</div>

			</div>

			<?php
			/*
			 * Product Container
			 *
			 */
			?>
			<div id="diagProductContainer"></div>
		<?php
		// End Panel
		?>
		</div>

		<div class="panelContent">
		</div>

	</div>


	<script type="text/javascript">

		<?php
		/*
		 * XHR Display the first product
		 * (prototype)
		 *
		 */
		?>
		jQuery(document).ready(function()
		{
			setOpenBlock('#block-mynose');

			var productLoader = new NoseProductLoader('<?php echo Mage::helper('mynose/url')->getProductUrl() ;?>',
			{
				'update' : 'diagProductContainer',
				'handlers' : '.itemHandler'
			});

			<?php if (! is_null($perfume_id)) :?>
				productLoader.load('<?php echo $perfume_id ;?>');
				productLoader.init('a.productDisplay');
			<?php endif ;?>
		});

	</script>

<?php endif ;?>