<?php

/**
 * Maintenance Screen
 * @see Partikule_Mynose_Block_Diagnostic.php
 *
 */

?>

<div class="center title">
	<h2 class="title">Diag en maintenance</h2>
</div>

<div class="clearfix"></div>

<div class="center mt20">
	<p><?php echo $this->__('The Diagnostic is currently in one improvement process and is unfortunately not available.'); ?></p>
</div>
