<?php

/**
 * No Diag
 * @see Partikule_Mynose_Block_Diagnostic.php
 *
 */

?>

<div class="page-title">
    <h2><?php echo $this->__('Your diagnostic') ?></h2>
</div>

<div class="clearfix"></div>

<div class="center mt20">
	<p><?php echo $this->__('Make the diagnostic to see your results.'); ?></p>
   	
   	<div class="buttons-set center">
       	<button type="submit" onclick="setLocation('<?php echo Mage::helper('mynose/url')->getDiagnoseUrl() ; ?>')" title="<?php echo $this->__('Do the diagnostic') ?>" class="button"><span><span><?php echo $this->__('Do the diagnostic') ?></span></span></button>
   	</div>


</div>
