<?php

/**
 * No Eval
 * @see Partikule_Mynose_Block_Diagnostic.php
 *
 */



?>

<div class="center mt20">

	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_evaluation_no_diag')->toHtml(); ?>	
   	
   	<div class="buttons-set center">
       	<button type="submit" onclick="setLocation('<?php echo Mage::helper('mynose/url')->getDiagnoseUrl() ; ?>')" title="<?php echo $this->__('Do the diagnostic') ?>" class="button"><span><span><?php echo $this->__('Do the diagnostic') ?></span></span></button>
   	</div>
   	
   	<?php
   	/*
	<div class="mt20 center">
		<button onclick="setLocation('<?php echo Mage::helper('mynose/url')->getDiagnoseResultUrl() ?>')"  class="button" title="<?php echo $this->__('Order the samples') ?>" type="button"><span><span><?php echo $this->__('Order the samples') ?></span></span></button>
	</div>
	*/
	?>
</div>
