<?php


?>

<h2 class="col-title"><?php echo $this->__('My Nose') ?></h2>


<div class="span-14">
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_intro_picture')->toHtml() ?>
</div>
<div class="span-5 last">
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_intro_text')->toHtml() ?>
</div>

<script type="text/javascript">
	jQuery(document).ready(function()
	{
		setOpenBlock('#block-mynose');
	});
</script>
