/** ==================BASE===================*/
.aw-ln-clear-all{
    float: right;
    font-size: 11px;
    padding: 3px 2px 0 0;
}
#aw-ln-filters-container {
    clear: both;
}
#aw-ln-filters-container dd ol{
    font-size:0;
}
#aw-ln-filters-container dd ol li{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    font-size:11px;
    padding:2px 0 2px 0;
}
#aw-ln-filters-container dd ol li.aw-ln-filters-container-1column-layout{
    width: 100%;
}
#aw-ln-filters-container dd ol li.aw-ln-filters-container-2column-layout{
    width: 49%;
}
#aw-ln-filters-container dd ol li.aw-ln-filters-container-3column-layout{
    width: 33%;
}
#aw-ln-filters-container dd ol li.aw-ln-filters-container-4column-layout{
    width: 23%;
}
#aw-ln-filters-container dd ol li label{
    cursor: pointer;
}
#aw-ln-filters-container dd ol li>a{
    cursor: default;
    text-decoration: none;
}
#aw-ln-filters-container dd ol li label img{
    vertical-align: middle;
}

#aw-ln-filters-container dd ol li span {
    padding: 0;
    display: inline-block;
}

#aw-ln-filters-container dt{
    padding-right: 3px;
}
.aw-ln-filter-clear{
    float: right;
    font-size: 11px;
    padding: 0;
    text-transform: none;
    font-weight: normal;
}

/** ==================HELP TOOLTIP===================*/
.aw-ln-filter-help{
    /*clear: both;*/
    float: right;
    font-size: 11px;
    padding: 0;
    text-transform: none;
    font-weight: normal;
    cursor: help;
    height: 15px;
}
.aw-ln-filter-help.help-icon{
    width: 15px;
    height: 15px;
    background: url(../img/help-icon.png) no-repeat 0 0;
}
.aw-ln-filter-help>a{
    cursor: help;
}

.aw-ln-help-tooltip-wrapper {
    position: relative;
    z-index: 100;
    cursor: help;
    font-size: 11px;
    text-transform: none;
    font-weight: normal;
}

.aw-ln-help-tooltip {
    width: 191px;
    position: absolute;
    z-index: 1000;
    right: -15px;

    padding: 5px 12px;
    color: #464d50;

    background-color: #ffffff;
    border: thin solid #cccccc;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
.aw-ln-help-tooltip__top {
    bottom: 29px;
}
.aw-ln-help-tooltip__bottom {
    top: 10px;
}

.aw-ln-help-arrow {
    position: absolute;
    z-index: 1000;
    right: 17px;
}
.aw-ln-help-arrow:before {
    border-color: #cccccc transparent;
    border-style: solid;
    content: "";
    right: -2px;
    position: absolute;
}
.aw-ln-help-arrow:after{
    border-color: #fff transparent;
    border-style: solid;
    content: "";
    right: -2px;
    position: absolute;
}

.aw-ln-help-arrow__top{
    bottom: 30px;
}
.aw-ln-help-arrow__top:before{
    border-width: 10px 10px 0;
    top: 1px;
}
.aw-ln-help-arrow__top:after{
    border-width: 10px 10px 0;
    top: 0px;
}
.aw-ln-help-arrow__bottom{
    top: 0px;
}

.aw-ln-help-arrow__bottom:before{
    border-width: 0 10px 10px;
    top: 0px;
}
.aw-ln-help-arrow__bottom:after{
    border-width: 0 10px 10px;
    top: 1px;
}

/** ============COLLAPSE===============*/
.aw-ln-filter-collapse-show, .aw-ln-filter-collapse-hide{
    cursor: pointer;
}
/** =========== CATEGORY TREE =========== */
.aw-ln-filter-category-tree-action{
    width: 15px;
    height: 15px;
    display: block;
    float: left;
}
.aw-ln-filter-category-tree-action-plus{
    background: url('../img/category-tree-plus.gif');
    cursor: pointer;
}
.aw-ln-filter-category-tree-action-minus{
    background: url('../img/category-tree-minus.gif');
    cursor: pointer;
}
/** =============RANGE=================*/
.aw-ln-filter-options-range-slider{
    z-index: 10;
}
.aw-ln-filter-options-range-slider-wrapper{
    background: url('../img/bar-bkg.png') repeat-x center 4px;
    height: 16px;
}
.aw-ln-filter-options-range-slider-wrapper-left{
    margin: 0 0 0 -6px;
    background: url("../img/bar-left.png") left 4px no-repeat;
    height: 16px;
}
.aw-ln-filter-options-range-slider-wrapper-right{
    margin: 0 -7px 0 1px;
    background: url("../img/bar-right.png") right 4px no-repeat;
    height: 16px;
}
.aw-ln-filter-options-range-slider-min, .aw-ln-filter-options-range-slider-max{
    width: 9px;
    height: 18px;
    background: url('../img/handle.png') center 1px no-repeat;
    cursor: move;
    float: left;
    z-index: 100;
}
.aw-ln-filter-options-range-slider-min{
    position: relative!important;
}
.aw-ln-filter-options-range-slider-max{
    position: static!important;
}
.aw-ln-filter-options-range-slider-active{
    float: left;
    width: 0;
    height: 13px;
    background: url('../img/orange-bkg.png') repeat-x center 7px;
    position: relative;
    z-index: 20;
}
.aw-ln-filter-options-range-status{
    height: 20px;
    width: 100%;
}
.aw-ln-filter-options-range-status-from{
    float: left;
    margin: 0 0 0 -4px;
}
.aw-ln-filter-options-range-status-to{
    float: right;
    margin: 0 -3px 0 0;
}
/** ==================FROM-TO===================*/
.aw-ln-filter-options-fromto{

}
.aw-ln-filter-options-fromto input{
    width: 50px;
    height: 17px;
}

/** ===============OVERLAY======================*/
.aw-ln-overlay{
    background: no-repeat center center;
    position: absolute;
    z-index: 9999;
}

/** ===============RWD THEME======================*/
div#aw-ln-filters li label img,  div#aw-ln-filters li span {
    display: inline-block;
    padding: 0;
}

div#aw-ln-filters li label img, div#aw-ln-filters li label input[type="radio"] {
    vertical-align: middle;
}

/** ==================EXPAND/COLLAPSE FILTERS===================*/
div#aw-ln-filters dt .aw-ln-arrow {
    float: right;
    clear: both;
    width: 15px;
    height: 15px;
    margin-left: 3px;
}

div#aw-ln-filters dt .aw-ln-arrow:hover {
    cursor: pointer;
}

div#aw-ln-filters dt.active .aw-ln-arrow {
    background: url('../img/up.png') no-repeat center 5px;
    background-size: 12px;
}

div#aw-ln-filters dd.active {
    display: block;
}

div#aw-ln-filters dd {
    display: none;
}

div#aw-ln-filters dt .aw-ln-arrow {
    background: url('../img/down.png') no-repeat center 5px;
    background-size: 12px;
}