<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Zblocks
 * @version    2.5.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
    $extensionUrl = 'http://ecommerce.aheadworks.com/magento-extensions/market-segmentation-suite.html';
    $imageSrc = $this->getSkinUrl('aw_zblocks/images/mss.png');
?>

<table class="form-list" cellspacing="0" id="awzblock-mss-container">
    <tr>
        <td class="awzblock-mss-image">
            <a href="<?php echo $extensionUrl?>" target="_blank">
                <img src="<?php echo $imageSrc?>" alt="MSS"  width="200" height="200"/>
            </a>
        </td>
        <td class="awzblock-mss-notice">
            <p>
                Show static blocks to target audience with the help of
                <a href="<?php echo $extensionUrl?>" target="_blank">Market Segmentation Suite</a>
                by aheadWorks.
            </p>
            <p>
                Create segmentation rules and control blocks appearance based on customer???s personal information, buying behavior, or any other segmentation criteria.
            </p>
            <p>
                Get more information on the <a href="<?php echo $extensionUrl?>" target="_blank">extension</a> page.
            </p>
        </td>
    </tr>
</table>