.outofstocknotify-pending {
    display: block;
    width: 100px;
    background-color: grey;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 12px;
    margin: 0 auto;
}
.outofstocknotify-notified {
    display: block;
    width: 100px;
    background-color: green;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 12px;
    margin: 0 auto;
}
.outofstocknotify-canceled {
    display: block;
    width: 100px;
    background-color: red;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 12px;
    margin: 0 auto;
}
.outofstocknotify-yes {
    display: block;
    width: 100px;
    background-color: green;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 12px;
    margin: 0 auto;
}
.outofstocknotify-no{
    display: block;
    width: 100px;
    background-color: red;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 12px;
    margin: 0 auto;
}