<?php $_newProducts = $this->getNewProductCollection(); ?>
<?php if (count($_newProducts)) : ?>
    <tr>
        <td valign="top">
            <p class="title">
                <?php echo $this->__("THE LAST NOVELTIES THAT SHOULD PLEASE YOU"); ?>
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" class="product-list">
                <tr>
                    <?php foreach ($_newProducts as $_newProduct) : ?>
                        <td valign="top">
                            <div style="max-width: 116px; margin: 0 auto;">
                                <p><img src="<?php echo Mage::helper('catalog/image')->init($_newProduct, 'small_image')->keepTransparency(false)->resize(320, 320); ?>" alt="" style="max-width:100%;" /></p>
                                <?php $_category = $this->getCategory($_newProduct); ?>
                                <?php if (!is_null($_category)) : ?>
                                    <p><strong><?php echo $_category->getName(); ?></strong></p>
                                <?php endif; ?>
                                <p><a href="<?php echo $_newProduct->getProductUrl() ?>"><?php echo $_newProduct->getName(); ?></a></p>
                            </div>
                        </td>
                    <?php endforeach; ?>
                </tr>
                <tr>
                    <?php foreach ($_newProducts as $_newProduct) : ?>
                        <td valign="top">
                            <p><img src="<?php echo $this->getStarUrl($_newProduct->getIndice()); ?>" alt="" /></p>
                        </td>
                    <?php endforeach; ?>
                </tr>
                <tr>
                    <?php foreach ($_newProducts as $_newProduct) : ?>
                        <td valign="top">
                            <div style="max-width: 116px; margin: 0 auto;">
                                <p><a href="<?php echo $_newProduct->getProductUrl() ?>" class="button"><?php echo $this->__('SEE'); ?><span style="background:url('<?php echo $this->getSkinUrl('images/arrow.png'); ?>') no-repeat center;">&nbsp;</span></a></p>
                            </div>
                        </td>
                    <?php endforeach; ?>
                </tr>
            </table>
        </td>
    </tr>
<?php endif; ?>