<table cellspacing="0" cellpadding="0" border="0" width="100%" class="cartitem-list">
    <col width="1" />
    <col />
    <col width="70" />
    <col width="1" />
    <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
        <col width="1" />
    <?php endif; ?>
    <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
        <col width="1" />
    <?php endif; ?>
    <col width="1" />
    <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
        <col width="1" />
    <?php endif; ?>
    <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
        <col width="1" />
    <?php endif; ?>

    <thead>
    <tr>
        <th><div><?php echo $this->__('Article') ?></div></th>
        <th><div><?php echo $this->__('Product Name') ?></div></th>
        <th><div><?php echo $this->__('Color') ?></div></th>
        <th><div><?php echo $this->__('Size') ?></div></th>
        <th><div><?php echo $this->__('Qty') ?></div></th>
        <th><div><?php echo $this->__('Unit Price') ?></div></th>
        <th><div><?php echo $this->__('Subtotal') ?></div></th>
    </tr>
    </thead>
    <tbody>
    <?php
        $subtotal = 0;
        $tax = 0;
        $total = 0;
    ?>
    <?php foreach($this->getQuote()->getAllVisibleItems() as $_item): ?>
        <?php
        $_product = $_item->getProduct();

        if (!in_array($_product->getId(), $this->getProductIds())) {
            continue;
        }

        $_is_sample = false;

        $isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();

        $child_collection = array();
        if ($_product->getTypeId() == 'bundle') {
            $child_collection = Mage::helper('nose/product')->getBundleChildProducts($_product);
        }

        if (substr($_item->getSku(),0,1) == 'S') {
            $_parent_product = Mage::helper('nose/Product')->getParentProductFromChildSku($_item->getSku());
            $_is_sample = true;
        }
        else {
            $_parent_product = Mage::helper('nose/Product')->getParentProductFromChildId($_item->getProductId());
        }

        $_category = Mage::helper('nose/Product')->getProductFirstCategory($_parent_product);

        if ($_category) {
            $_url = $_category->getUrl().'/'.trim(Mage::getModel('catalog/product_url')->getUrlPath($_parent_product),"/");
        }
        else {
            $_url = '';
        }

        $size_attribute_id = Mage::getStoreConfig('nose/settings/attribute_lightspeed_product_size_id');
        $size_attribute_code = Mage::getModel('eav/entity_attribute')->load($size_attribute_id)->getAttributeCode();
        $color_attribute_id = Mage::getStoreConfig('nose/settings/attribute_lightspeed_product_color_id');
        $color_attribute_code = Mage::getModel('eav/entity_attribute')->load($color_attribute_id)->getAttributeCode();

        ?>
        <tr>
            <td valign="top">
                <img src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->keepTransparency(false)->resize(75); ?>" width="75" height="75" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" />
            </td>
            <td valign="top">
                <a href="<?php echo $_product->getProductUrl(); ?>">
                    <strong>
                        <?php if($_category) :?>
                            <?php echo $this->htmlEscape($_category->getName()) ?>
                        <?php else: ?>
                            <?php if($_product->getTypeId() == 'bundle') :?>
                                <?php echo $this->htmlEscape($_product->getName()) ?><br/>
                            <?php else: ?>
                                <?php echo $this->htmlEscape($_product->getName()) ?>
                            <?php endif; ?>
                        <?php endif; ?>
                    </strong>
                </a>
                <?php if($_product->getTypeId() == 'bundle') :?>
                    <?php foreach ($child_collection as $child_product) :?>
                        <span class="pl10"><?php echo $child_product->getCategory()->getName() ?>, <?php echo $child_product->getName() ?></span><br/>
                    <?php endforeach; ?>
                <?php else:?>
                    <?php if ($_options = $this->helper('catalog/product_configuration')->getCustomOptions($_item)):?>
                        <?php foreach ($_options as $key => $_option) : ?>
                            <?php if (isset($_option['option_id']) && $_option['option_id'] == $color_attribute_id) :?>
                                <?php echo $this->htmlEscape($_option['value']) ;?>
                            <?php endif;?>
                        <?php endforeach; ?>
                    <?php endif;?>
                <?php endif;?>
                <?php if ($_parent_product && $_parent_product->getShortDescription()):?>
                    <p><?php echo($_parent_product->getShortDescription()); ?></p>
                <?php endif;?>
            </td>
            <td valign="top" class="a-center">
                <?php if ($_product->getTypeId() != 'bundle') :?>
                    <?php if ($_options = $this->helper('catalog/product_configuration')->getConfigurableOptions($_item)):?>
                        <?php foreach ($_options as $key => $_option) : ?>
                            <?php if (isset($_option['label']) && $_option['label'] == $color_attribute_code) :?>
                                <?php echo $this->htmlEscape($_option['value']) ;?>
                            <?php endif;?>
                        <?php endforeach; ?>
                    <?php endif;?>
                    <?php
                    $sku = $_product->getSku();
                    ?>
                    <?php if (substr($sku, 0, 2) == 'S-') :?>
                        <?php echo $this->__('Sample'); ?>
                    <?php endif;?>
                <?php endif ;?>
            </td>
            <td valign="top" class="a-center">
                <?php if ($_options = $this->helper('catalog/product_configuration')->getConfigurableOptions($_item)):?>
                    <?php foreach ($_options as $key => $_option) : ?>
                        <?php if (isset($_option['label']) && $_option['label'] == $size_attribute_code) :?>
                            <?php echo $this->htmlEscape($_option['value']) ;?>
                        <?php endif;?>
                    <?php endforeach; ?>
                <?php endif;?>
            </td>
            <td valign="top" class="a-center">
                <?php echo $_item->getQty() ?>
            </td>
            <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                <td valign="top">
                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                        <span class="cart-tax-total" onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
		            <?php else: ?>
                        <span class="cart-price">
		            <?php endif; ?>
                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                        <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?>
                    <?php else: ?>
                        <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()) ?>
                    <?php endif; ?>
		            </span>
                    <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                        <div class="cart-tax-info" id="eunit-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
                            <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                    <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'],TRUE,TRUE); ?></span>
                                <?php endforeach; ?>
                            <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                    <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],TRUE,TRUE); ?></span>
                                <?php endforeach; ?>
                            <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                    <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],TRUE,TRUE); ?></span>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>

                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                            <div class="cart-tax-total" onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                <span class="weee"><?php echo Mage::helper('weee')->__('Total'); ?>: <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?></span>
                            </div>
                        <?php endif; ?>
                    <?php endif; ?>
                </td>
            <?php endif; ?>
            <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                <td valign="top" class="a-right">
                    <?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>
                    <span class="price excl-tax-price" style="display: none;">
                        <?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getTaxAmount()); ?>
                    </span>
                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                        <span class="cart-tax-total" onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
		            <?php else: ?>
                        <span class="cart-price unit-price">
		            <?php endif; ?>
                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                        <?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?>
                    <?php else: ?>
                        <?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxDisposition()) ?>
                    <?php endif; ?>
		            </span>
                    <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                        <div class="cart-tax-info" id="unit-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
                            <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                    <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'],TRUE,TRUE); ?></span>
                                <?php endforeach; ?>
                            <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                    <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],TRUE,TRUE); ?></span>
                                <?php endforeach; ?>
                            <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                    <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],TRUE,TRUE); ?></span>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
			            <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                            <div class="cart-tax-total" onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                <span class="weee"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>: <?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?></span>
                            </div>
                        <?php endif; ?>
                    <?php endif; ?>
                </td>
            <?php endif; ?>
            <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                <td valign="top" class="a-right">
                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                        <span class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
		            <?php else: ?>
                        <span class="cart-price">
            		<?php endif; ?>
                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                        <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?>
                    <?php else: ?>
                        <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()) ?>
                    <?php endif; ?>
		            </span>
                    <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                        <div class="cart-tax-info" id="esubtotal-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
                            <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                    <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'],TRUE,TRUE); ?></span>
                                <?php endforeach; ?>
                            <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                    <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],TRUE,TRUE); ?></span>
                                <?php endforeach; ?>
                            <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                    <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],TRUE,TRUE); ?></span>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
			            <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                            <div class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                <span class="weee"><?php echo Mage::helper('weee')->__('Total'); ?>: <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?></span>
                            </div>
                        <?php endif; ?>
                    <?php endif; ?>
                </td>
            <?php endif; ?>
            <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
                <td valign="top" class="a-right">
                    <?php $_incl = $this->helper('checkout')->getSubtotalInclTax($_item); ?>
                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                        <span class="cart-tax-total" onclick="taxToggle('subtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
		            <?php else: ?>
                        <span class="cart-price">
		            <?php endif; ?>
                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                        <?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?>
                    <?php else: ?>
                        <?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxRowDisposition()) ?>
                    <?php endif; ?>
		            </span>
                    <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                        <div class="cart-tax-info" id="subtotal-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
                            <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                    <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'],TRUE,TRUE); ?></span>
                                <?php endforeach; ?>
                            <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                    <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],TRUE,TRUE); ?></span>
                                <?php endforeach; ?>
                            <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                    <span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],TRUE,TRUE); ?></span>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
			            <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
                            <div class="cart-tax-total" onclick="taxToggle('subtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                <span class="weee"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>: <?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?></span>
                            </div>
                        <?php endif; ?>
                    <?php endif; ?>
                </td>
            <?php endif; ?>
        </tr>
        <?php $subtotal += $_item->getRowTotal(); ?>
        <?php $tax += $_item->getTaxAmount(); ?>
        <?php $total += $_item->getRowTotalInclTax(); ?>
    <?php endforeach; ?>
    <tr>
        <td colspan="4">&nbsp;</td>
        <td colspan="2"><?php echo $this->__('Subtotal (Excl. Tax)'); ?></td>
        <td class="a-right"><?php echo $this->helper('checkout')->formatPrice($subtotal); ?></td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
        <td colspan="2" ><?php echo $this->__('Tax'); ?></td>
        <td class="a-right"><?php echo $this->helper('checkout')->formatPrice($tax); ?></td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
        <td colspan="2" ><?php echo $this->__('Grand Total Incl. Tax'); ?></td>
        <td class="a-right"><?php echo $this->helper('checkout')->formatPrice($total); ?></td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
        <td colspan="3" class="a-center">
            <a href="<?php echo $this->getCartUrl() ?>" class="button button-wide"><?php echo $this->__('ORDER NOW'); ?><span style="background:url('<?php echo $this->getSkinUrl('images/arrow.png'); ?>') no-repeat center;">&nbsp;</span></a>
        </td>
    </tr>
    </tbody>
</table>