<?php $_products = $this->getProducts(); ?>
<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" class="product-list">
    <tr>
        <?php foreach ($_products as $_product) : ?>
            <td valign="top" width="33%">
                <div style="max-width: 193px; margin: 0 auto;">
                    <p><img src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->keepTransparency(false)->resize(320, 320); ?>" alt="" style="max-width:100%;" /></p>
                    <?php $_category = $this->getCategory($_product); ?>
                    <?php if (!is_null($_category)) : ?>
                        <p><strong><?php echo $_category->getName(); ?></strong></p>
                    <?php endif; ?>
                    <p><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $_product->getName(); ?></a></p>
                </div>
            </td>
        <?php endforeach; ?>
    </tr>
    <tr>
        <?php foreach ($_products as $_product) : ?>
            <td valign="top" width="33%">
                <div style="max-width: 193px; margin: 0 auto;">
                    <p><a href="<?php echo $_product->getProductUrl() ?>" class="button"><?php echo $this->__('SEE'); ?><span style="background:url('<?php echo $this->getSkinUrl('images/arrow.png'); ?>') no-repeat center;">&nbsp;</span></a></p>
                </div>
            </td>
        <?php endforeach; ?>
    </tr>
</table>