<?php $_rangeProducts = $this->getRangeProductCollection(); ?>
<?php if (count($_rangeProducts)) : ?>
    <tr>
        <td valign="top">
            <p class="title">
                <?php echo $this->__("OTHER SIMILAR PRODUCTS"); ?>
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" class="product-list">
                <tr>
                    <?php foreach ($_rangeProducts as $_rangeProduct) : ?>
                        <td valign="top" width="20%">
                            <div style="max-width: 116px; margin: 0 auto;">
                                <p><img src="<?php echo Mage::helper('catalog/image')->init($_rangeProduct, 'small_image')->keepTransparency(false)->resize(320, 320); ?>" alt="" style="max-width:100%;" /></p>
                                <?php $_category = $this->getCategory($_rangeProduct); ?>
                                <?php if (!is_null($_category)) : ?>
                                    <p><strong><?php echo $_category->getName(); ?></strong></p>
                                <?php endif; ?>
                                <p><a href="<?php echo $_rangeProduct->getProductUrl() ?>"><?php echo $_rangeProduct->getName(); ?></a></p>
                            </div>
                        </td>
                    <?php endforeach; ?>
                </tr>
            </table>
        </td>
    </tr>
<?php endif; ?>