/*

Ionize Content CSS Addon to Mocha

Copyright:
	Copyright (c) 2009/2010 Ionize Dev Team.
	
License:
	MIT-style license.

*/


/* Structure
---------------------------------------------------------------- */

/* Correct the standard .pad class from Mocha 
   so the #sidecolumn doesn't superimpose on #maincolumn
*/
#mainPanel {
	background: #fff; 	
	overflow-x: hidden;
	min-width:480px;	
}
#mainPanel_pad{
	min-width:640px;
}
/*
#sidecolumn {
	min-height:500px;
	height:95%;
	overflow: auto;
	width:290px;
	margin-left:10px;
	padding:0 0 0 15px;
	background-color: #f5f5f5;
	position:absolute;
	right:0px;
	top: 0px;
	z-index: 2;
}
*/

#sidecolumn {
	float:right;
	clear:left;
	width:290px;
	background-color: #f5f5f5;
	padding:0 0 15px 15px;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
}

#sidecolumn #options{
	width:270px;
}
#maincolumn {
/*	width: auto;*/
/*	min-width:480px;	*/
	padding-right:10px;
/*	overflow: hidden;*/
	clear:left;
}
/* opened sidecolumn */
#maincolumn.sidecolumn {
	margin-right:320px;
}

#maincolumn a:hover {
/*	text-decoration:underline;*/
}

.maincolumn{
	background: #fff;
}

.tabsidecolumn{
	width: 35%;
	float:right;
	position: relative;
	min-height:300px;
	padding:5px 10px 5px 15px;
	background-color: #f3f3f3;
	border: solid 1px #f3f3f3;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
	
}
.tabcolumn{
	margin-right:40%;
}


/* Sidecolumn Elements
---------------------------------------------------------------- */
#sidecolumn.close {
/*	opacity:0;*/
	display:none;
	width:0;
/*	z-index: -1;*/
}

/* Infos */
#sidecolumn .info {
	margin-top: 15px;
	margin-bottom: 10px;
}

/* Options */
#sidecolumn .element form {
	margin-bottom:10px;
}
#options h3 {
	border-bottom: solid 1px #d5d9dc;
}
#sidecolumn ul {
	list-style: none;
}

#options h4 {
	margin: 10px 0 5px 15px;
}

#options .element p {
	margin-left:15px;
}
 

/* Accordion togglers
---------------------------------------------------------------- */
.toggler, .toggler1, .toggler2, .toggler3 {
	color:#528CE0;
	cursor: pointer;
	padding: 0 0 2px 18px !important;
	margin-top: 0 !important;
	background: url(../images/toggler-collapse-expand.png) no-repeat 0 0;
}
.toggler.expand,
.toggler1.expand,
.toggler2.expand,
.toggler3.expand {
	color: #41464D;
	background: url(../images/toggler-collapse-expand.png) no-repeat 0 -16px;
}


/* Global Elements
---------------------------------------------------------------- */
.a { color:#098ED1; }

/* Elements list */
li a.offline { color: #666; }	
li.offline { opacity:0.7; }

/* Icons */
.icon { cursor: pointer; }
.drag {	cursor: move; }
.left {	float:left; }
.right { float: right; }

.icon,
.icon a {
	display:block;
	width: 16px;
	height: 16px;
}

.icon.absolute,
.icon a.absolute {
	position: absolute;
}
.icon.absolute.right,
.icon a.absolute.right {
	right:0px;
}

.icon a.online, a.icon.online 				{background: url(../images/icon_16_online.png) no-repeat 0 0; }
.icon a.offline, a.icon.offline 			{background: url(../images/icon_16_offline.png) no-repeat 0 0;}
.icon a.unlink, a.icon.unlink 				{background: url(../images/icon_16_unlink.png) no-repeat 0 0;}
.icon a.delete, a.icon.delete 				{background: url(../images/icon_16_delete.png) no-repeat 0 0;}
.icon a.article, a.icon.article 			{background: url(../images/icon_16_add_article.png) no-repeat 0 0;}
.icon a.unlink, a.icon.unlink 				{background: url(../images/icon_16_unlink.png) no-repeat 0 0;}
.icon a.drag, a.icon.drag 					{background: url(../images/icon_16_ordering.png) no-repeat 0 0;}
.icon a.duplicate, a.icon.duplicate 		{background: url(../images/icon_16_duplicate.gif) no-repeat 0 0;}
.icon a.clearfield, a.icon.clearfield 		{background: url(../images/icon_16_clear_field.png) no-repeat 0 2px;width: 18px;height: 18px;}
.icon a.edit, a.icon.edit 					{background: url(../images/icon_16_edit.png) no-repeat 0 0;}
.icon a.edit_article, a.icon.edit_article 	{background: url(../images/icon_16_edit_article.png) no-repeat 0 0;}
.icon a.refresh, a.icon.refresh 			{background: url(../images/icon_16_refresh.png) no-repeat 0 0;}
.icon a.plus, a.icon.plus 					{background: url(../images/icon_16_plus.png) no-repeat 0 0;}
.icon a.add_page, a.icon.add_page 			{background: url(../images/icon_16_add_page.png) no-repeat 0 0;}
.icon a.type_edit, a.icon.type_edit 		{background: url(../images/icon_16_type_edit.png) no-repeat 0 0;}
.icon a.info, a.icon.info 					{background: url(../images/icon_16_info.png) no-repeat 0 0;}
.icon a.database, a.icon.database 			{background: url(../images/icon_16_database.png) no-repeat 0 0;}
.icon a.drag, a.icon.drag 					{background: url(../images/icon_16_drag.png) no-repeat 0 0;}
.icon a.up, a.icon.up 						{background: url(../images/icon_16_up.png) no-repeat 0 0;}
.icon a.helpme, a.icon.helpme 				{background: url(../images/icon_16_helpme.png) no-repeat 0 0;}
.icon a.copy, a.icon.copy 					{background: url(../images/icon_16_copy.png) no-repeat 0 0;}
.icon a.ok, a.icon.ok 						{background: url(../images/icon_16_ok.png) no-repeat 0 0;}
.icon a.search, a.icon.search 				{background: url(../images/icon_16_search.png) no-repeat 0 0;}
.icon a.calendar, a.icon.calendar 				{background: url(../images/icon_16_calendar.png) no-repeat 0 0;}

.icon a.flag.green, a.flag.green 			{background: url(../images/icon_16_flag_green.png) no-repeat 0 0;}
.icon a.flag.yellow, a.flag.yellow 			{background: url(../images/icon_16_flag_yellow.png) no-repeat 0 0;}
.icon a.flag.red, a.flag.red 				{background: url(../images/icon_16_flag_red.png) no-repeat 0 0;}

.icon a.arrow-right, a.arrow-right 			{background: url(../images/icon_16_right.png) no-repeat 0 0;}
.icon a.arrow-left, a.arrow-left 			{background: url(../images/icon_16_left.png) no-repeat 0 0;}


/*.icon a.link, a.icon.link {background: url(../images/toggler-collapse-expand.png) no-repeat 0 0;}*/

/* Dragged links */
a.ondrag {
	padding: 3px 25px 3px 5px;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
/*	
	color:#fff;
	background-color: #1a6388;
	border-color: #1a6388;
*/
	color:#fff;
	background-color: #a9a9a9;
	border-color: #a9a9a9;
}
a.ondrag.plus {
	background: url(../images/icon_16_drag_plus.png) no-repeat right 4px #948d8a !important;
	background-color: #948d8a;
	color:#fff;
}
a.ondrag.enter {
/*	background: url(../images/icon_16_drag_enter.png) no-repeat right 4px;*/
	background-color: #948d8a;
	color:#fff;
}
.onenter {
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	background-color: #df8 !important;
}
/* Cursors */
.pointer { cursor: pointer;}
.hand { cursor: hand;}
.move { cursor: move;}

/* Side column & Content block 
 * Blocks are used with tabs to show tabbed content
 */
.block.small { padding-top:0px; }
.block { padding-top:5px; }

/* divs links */
div.highlight,
ul.highlight{ background-color:#f3f3f3;}

/* TinyMCE Editor */
.mceEditor {
	width:100%;
	display:block;
}

.stripped {
	background: none;
	background: url(../images/bg_stripped.png);

}
.italic {
	font-style: italic;
}


/* Main panel titles
---------------------------------------------------------------- */

h2.main.article { background: url(../images/icon_48_article.png) no-repeat 0 0; } 
h2.main.articles { background: url(../images/icon_48_articles.png) no-repeat 0 0; } 
h2.main.groups { background: url(../images/icon_48_groups.png) no-repeat 0 0; } 
h2.main.page { background: url(../images/icon_48_page.png) no-repeat 0 0; } 
h2.main.languages { background: url(../images/icon_48_languages.png) no-repeat 0 0; } 
h2.main.ionize { background: url(../images/icon_48_ionize_interface.png) no-repeat 0 0; } 
h2.main.themes { background: url(../images/icon_48_settings.png) no-repeat 0 0; } 
h2.main.settings { background: url(../images/icon_48_settings.png) no-repeat 0 0; } 
h2.main.website { background: url(../images/icon_48_www.png) no-repeat 0 0; } 
h2.main.elements { background: url(../images/icon_48_elements.png) no-repeat 0 0; } 
h2.main.help { background: url(../images/icon_48_helpme.png) no-repeat 0 0; } 
h2.main.system-check { background: url(../images/icon_48_system_check.png) no-repeat 0 0; } 

h2.main.pictured {
	color:#ccc;
	line-height: 120px !important;
	padding-left:130px !important;
	height: 130px !important;
	max-height:130px !important;
	margin-bottom:0;
}

.main.subtitle {
	margin: -15px 0 20px 72px;
	display:block;
}
.main.subtitle.pictured {
	margin: -50px 0 20px 130px;
}

#maincolumn h2, 
#maincolumn h3 {
	border-bottom: solid 1px #d5d9dc;
}

#maincolumn h2.main, 
.mochaContent h2.main { 
	color:#ccc;
	border-bottom:none;
	padding-left:68px;
	line-height:48px;
	max-height:96px;
	height:48px;
	overflow: hidden;
}

#maincolumn h2.main {
	font-size:35px;
	border-bottom: none;
}
/* Windows content titles */
.mochaContent h2.main {
	font-size:30px;
	margin-bottom: 10px;
}
#maincolumn h3,
#maincolumn h4 {
	margin: 10px 0 10px 0; padding: 0 0 3px 0; font-weight: bold; }
}
.mochaContent h3 {
	border-bottom: 1px solid #D5D9DC;
}
/*
#maincolumn .subtitle {
	margin-left:68px;
}
*/



/* Content special blocs
---------------------------------------------------------------- */

/* Mainpanel notify block */
div.notify{
	min-height:38px;
	padding:16px 20px 0 65px;
	background-color:#f2f2f2 !important;
/*	margin-bottom:20px;*/
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}
div.notify.information { background:url(../images/icon_48_information.png) no-repeat top left;}
div.notify.error { background:url(../images/icon_48_error.png) no-repeat top left;}
div.notify.alert { background:url(../images/icon_48_alert.png) #f3f3f3 no-repeat 8px 4px;}

/* Windows Summary. Media edition window */
div.summary {
	overflow:auto;
	background:#f2f2f2;
	padding:10px;
	margin-bottom:10px;
	border-radius: 5px;	-moz-border-radius: 5px;-webkit-border-radius: 5px;
}

/* Sortable Containers
---------------------------------------------------------------- */

.sortable-container {
	position:relative;
}


/* Pictures list
---------------------------------------------------------------- */
#pictureContainer {	margin: 0; }
.picture {
	float:left;
	margin:0 10px 10px 0;
	padding:4px;
	background-color: #f2f2f2;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.picture:hover {
	background-color: #dee6f0;
}
.picture .thumb,
.thumb{
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 4px;
}
.picture p.icons {
	font-size:9px;
	margin:2px 1px 0 !important;
	padding: 0 5px !important;
	text-align:left;
	height:16px;
}

/* Sortable list
---------------------------------------------------------------- */
ul.sortable {
	position:inherit;
	margin:0;
	padding:0;
	overflow: hidden;
}
li.sortme,
ul.list li {
	padding: 4px 8px;
	list-style:none;
	background-color:#fff;
	border: solid 1px #ddd;
	margin-bottom:1px;
	color:#333;
	overflow: hidden;
	position: relative;
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
	min-height: 16px;
}
li.sortme:hover,
ul.list li:hover {
	background-color: #f2f2f2;
}
/* Parent list */
ul.parent_list li{
	height:18px;
	overflow: hidden;
}

/* UL LI used as list of items */
.panel li.list {
	padding: 2px 8px;
	list-style:none;
	border: solid 1px #eee;
	margin-bottom:1px;
	color:#333;
	overflow: hidden;
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
	background-color: #fff;
}
.panel li.list.highlight {
	background-color: #ffffdf;
}
.panel li.list a{
	display:block;
}
.panel li.list.hover:hover {
	background-color: #cef;
}


/* Horizontal list of items */
ul.inline {
	overflow: hidden;
	
}
ul.inline li {
	list-style:none;
	float: left;
}
/* Bullets */
ul.bullet {
	list-style:none;	
}
ul.bullet li {
	background: url(../images/icon_16_bullet_dark.png) no-repeat left center;
	padding-left: 16px;
}
ul.bullet.light li {
	background: url(../images/icon_16_bullet_dark.png) no-repeat;
}
ul.bullet.right-bullet li {
	background-position: right center;
	padding-right: 16px;
	padding-left: 0;
}
ul.bullet li.first, ul.bullet li.last {	background: none; } 
ul.bullet li.first { padding-left: 0; }
ul.bullet li.last { padding-right: 0; }

/* Right arrows */
ul.right-arrow {
	list-style:none;
}

ul.right-arrow li {
	background: url(../images/icon_16_arrow_right_dark.png) no-repeat right center;
	padding-right: 16px;
}
ul.right-arrow li.last {	background: none; } 

ul.left-arrow li {
	background: url(../images/icon_16_arrow_right_dark.png) no-repeat left center;
	padding-left: 16px;
}

/* Table list
---------------------------------------------------------------- */
table tr td {
	vertical-align: top;
}
table.list {
	border-collapse:collapse;
	margin:10px 0;
	width:100%;
}
table.list.border tbody td,
table.list.border td{
	border-left:1px solid #eee;
	border-right:1px solid #eee;
}
table.noborder tbody tr,
table.noborder tbody td,
table.list.noborder tbody tr,
table.list.noborder tbody td{
	border:none !important;
}
table.nopadding tbody td,
table.list.nopadding tbody td{
	padding:0 !important;
}
table.list tbody tr.border.top{
	border-top:1px solid #eee;
}
table.list tbody tr.border.bottom{
	border-bottom:1px solid #eee;
}
table.list th {
	color:#36607D;
	font-weight:normal;
	padding:2px;
	border-bottom:1px solid #eee;
	text-align: left; /* IE */
}
table.list th.right {
	float:none;
	text-align: right;
}
table.list tbody tr.noborder,
table.list tbody td.noborder {
	border:none;
}
table.list tbody tr {
	border-bottom:1px solid #eee;
}
table.list tbody td {
	border-bottom:1px solid #eee;
	padding:2px;
	text-align:left;
	vertical-align:top;
}
table.list tbody td.center,
table.list th.center {
	text-align: center;
}
table.list tbody td.right {
	float: none;
	text-align:right;
}
table.list tbody td.left {
	float: none;
	text-align:left;
}
table.list tbody td.middle {
	vertical-align: middle;
}

table.list tbody tr.odd {background-color:#f5f5f5; }
table.list tbody tr.even {background-color:#fff; }
table.list .highlight { background-color: #f3f3f3; }

table.list tbody td.alert {
	background: url(../images/icon_16_alert.png) no-repeat 5px 3px;
}
/* Table list toggler */
table.list .toggler {
	height:18px;
	display:block;
}
table.list .toggler.expand {
	background: url(../images/toggler-collapse-expand.gif) no-repeat 0 -16px;
}

/* Table list content */
table.list div.content {
	clear:both;
	position:absolute;
	overflow:hidden;
	width:95%;
	margin-top: 10px;
	margin-left:18px;
}
table.list div.content div.text {
	padding-bottom: 20px;
	overflow: hidden;
}
table.list div.content div.text div.langcontent.dl{
	background:url(../images/bg_tab_default_lang.png) no-repeat top right;
}
table.list div.content div.text div.langcontent{
	border: solid 1px #fff;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
	padding:10px;
	background-color: #f8f8f8;
}
table.list div.content .highlight {
	background-color: #df2;
}
table.list div.content > *{
	font-size: 11px;
	font-style: normal;
}
table.list div.content p{
	padding:3px 0 0 0;
}
table.list div.content ul{
	padding-left:20px;
}


/* Tabs
---------------------------------------------------------------- */


.mainTabs {	
	padding: 0 5px 2px 2px;
	margin: 10px 0 10px 0;
	background: url(../images/tabs_bg.gif) 0 0;
/*	background-position: left -70px;*/
/*
	background: url(../images/tabs_content.gif) repeat-x;
	background-position: left -70px;
*/
	overflow: hidden;
/*	height: 32px;*/
}
.mainTabs .tab-menu {	
	padding-top: 1px;
	list-style:	none;
	margin: 0;
	padding: 0;
	line-height: 16px;
	font-size: 11px;
}
.mainTabs .tab-menu li {
	display: block;
	position: relative;
	float: left;
	margin:	0 2px 5px 2px;
	cursor: pointer;	
	background: url(../images/tabs_content.gif) repeat-x;
	background-position: left -35px;
}
.mainTabs .tab-menu li.right {
	float: right;
}
.mainTabs .tab-menu li.selected {
	background: url(../images/tabs_content.gif) repeat-x;
	background-position: left 0;
}
.mainTabs .tab-menu li a {
	display: block;
	margin-left: 8px;
	padding: 6px 16px 5px 10px;
	text-align: center;
	font-weight: normal;
	color: #7A8189;
	background: url(../images/tabs_content.gif) repeat-x;
	background-position: right -35px;	
}
.mainTabs .tab-menu li a:hover {
	text-decoration: none;
	color: #098ED1;
}
.mainTabs .tab-menu li span.tab-detail{
	font-size: 9px;
	position: absolute;
	top:2px;
	right:4px;
	color:#098ED1;
	font-weight: bold;
}	

.mainTabs .tab-menu li.selected a {
	color: #3f3f3f;
	font-weight: bold;	
	background: url(../images/tabs_content.gif) repeat-x;
	background-position: right 0;
}
.mainTabs .tab-menu li.dl a {
	background-position: right -140px;	
	padding-right: 24px;
}
.mainTabs .tab-menu li.dl.selected a {
	background-position: right -105px;	
}
.mainTabs .tab-menu li.inactive {
	opacity: 0.3;
}

/* Small version (side column) */
.mainTabs.small {
	margin: 0;
	padding-bottom:0;
	height: auto;
}
.mainTabs.small .tab-menu li {
	margin:	0 2px 0 2px;
}
.mainTabs.small .tab-menu li a {
	padding: 6px 16px 3px 10px;
}

/* Gray version */
.mainTabs.gray{
	background: url(../images/tabs_bg.gif) repeat-x 0 0;
}
.mainTabs.gray .tab-menu li,
.mainTabs.gray .tab-menu li.selected,
.mainTabs.gray .tab-menu li a,
.mainTabs.gray .tab-menu li.selected a {
	background-image: url(../images/tabs_content_gray.gif)	;
}
/* Gray version */
.mainTabs.transparent {
	background: url(../images/tabs_bg.gif) repeat-x 0 0;
}
.mainTabs.transparent .tab-menu li,
.mainTabs.transparent .tab-menu li.selected,
.mainTabs.transparent .tab-menu li a,
.mainTabs.transparent .tab-menu li.selected a {
	background-image: url(../images/tabs_content_transparent.gif)	;
}

/* Small tabs */
div.tab.small {
	border-bottom: solid 1px #e3ded1;
	border: none;
	height:1.8em;
	margin:0;
}
div.tab.small .tab-content {
	height:1.8em;
	height:2em;
	margin: 0;
}
div.tab.small .tab-content li {
	height:1.9em;
	margin-left:0px;
	margin-right:8px;
}

div.tab.small .tab-content li a {
	padding:0.1em 1.1em 0.1em 1.1em;
	font-weight:normal;
}
div.tab.small .tab-content li.active a{
	padding-bottom:0.1em;

}
div.tab.small .tab-content li.dl a {
	padding-right: 1.6em;
}



/* Normal tabs */
div.tab {
	overflow: hidden;
	border-bottom: solid 1px #e3ded1;
	height:24px;
	margin:10px 0 10px 0;
	padding:0;
	display:block;
/*	background-color:#df2;*/
}
div.tab.noline {
	border-bottom: none;
}
.tab-content {
	height:2em;
	list-style:none;
	padding:0 0 0px 0;
}
.tab-content li.right {
	float:right;
	margin-left:0;
	margin-right: 8px;
}
.tab-content li {
	background-color:#f2f2f2;
	cursor:pointer;
	float:left;
	height:24px;
	margin-left:8px;
}
.tab-content li.unactive {
	opacity:0.3;
}
.tab-content li.icon a {
	padding:0.3em 1.1em 0em 1.1em;
}
.tab-content li.dl a {
	padding-right: 1.6em;
	background:url(../images/bg_tab_default_lang.png) no-repeat top right;
}

.tab-content li a {
	display:block;
	color:#7a8189;
	text-decoration:none;
	font-size:11px;
	border: solid 1px #e3ded1;
	border-bottom: none;
	padding:0.3em 1.1em 0.2em 1.1em;
}
.tab-content li.active a{
	background-color:#fff;
	font-weight:bold;
	padding-bottom:0.3em;
}
.tab-content li.active a {
	color:#36607d;
}
.tab-content a:hover {
	background-color:#fff;
	color:#36607d;
}

/* Tab depending content */
textarea.tab {
	margin: 0;
}



/* Pagination links
---------------------------------------------------------------- */
ul.pagination {
	margin      :0;
	padding     :0;
	list-style  :none;
	overflow: hidden;
}
ul.pagination li {
	margin      :0;
	padding     :0 0 2px 0;
	float       :left;
	list-style  :none;
}
ul.pagination li a {
	padding     :1px 3px 3px 3px;
	display     :block;
}
ul.pagination li a.current {
	background  :#36607D;
	background  :#000;
	color:#fff;
}

/* Term UL
---------------------------------------------------------------- */
ul.term {
	padding-top:4px;
	margin-bottom:1px;
	list-style: none;
}
ul.term li{
	overflow: hidden;
}
div.translation {
	margin-left:10px;
}

/* Mootools tooltips
---------------------------------------------------------------- */
.tooltip {
	padding:4px 6px;
	z-index: 2000;
	color: #bebebe;
	background: rgba(0, 0, 0, 0.8);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
}
.tooltip .tip{}
.tooltip .tip-top{}
.tooltip .tip-bottom{}

.tooltip .tip-title{ color:#fff; }
.tooltip .tip-text{
	font-weight: normal;
}


/* Dashboard icon
---------------------------------------------------------------- */
.desktopIcon {
	float:left;
	margin: 3px 6px 0 6px;
	width:68px;
	padding:5px;
	background: #fff;
	text-align:center;
	cursor: pointer;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.desktopIcon:hover {
	background: #f3f3f3;
}

.desktopIcon p a, .desktopIcon p a:hover {
	text-decoration: none !important;
}
.desktopIcon p{
	margin:0;
	padding:0;
	text-align:center;
	line-height: 13px;
}



/* Flags Elements
---------------------------------------------------------------- */
label.flag {
	display:block;
	float:left;
	margin:0 2px 0 0;
	padding: 2px;
	height: 15px;
	width: 15px;
	text-align: center;
	border: solid 1px #f5f5f5;
	-webkit-border-radius: 14px; -moz-border-radius: 14px; border-radius: 14px;
	cursor: pointer;
}
label.flag.small {
	height: 12px;
	width: 12px;
}

label.flag input {
	cursor: pointer;	
}
label.flag1{	border-color: #be3620;background-color: #de9a8f;}
label.flag2{	border-color: #dd8700;background-color: #eec37f;}
label.flag3{	border-color: #e0cd00;background-color: #efe67f;}
label.flag4{	border-color: #87b302;background-color: #c3d980;}
label.flag5{	border-color: #146f88;background-color: #5eb7d0;}
label.flag6{	border-color: #9b0080;background-color: #cd7fbf;}

span.flag, .tree li span.flag {
	display:block;
	height:16px;
	float:left;
	margin:1px 0 0 0;
	padding:0;
}
.tree li span.flag {
	margin-right: 4px;
}
span.flag1, span.flag2, span.flag3, span.flag4, span.flag5, span.flag6  { width:4px; margin-right: 4px;}
.flag.flag1 {background-color: #de9a8f;}
.flag.flag2 {background-color: #eec37f;}
.flag.flag3 {background-color: #efe67f;}
.flag.flag4 {background-color: #c3d980;}
.flag.flag5 {background-color: #5eb7d0;}
.flag.flag6 {background-color: #cd7fbf;}


/* Side column link info
---------------------------------------------------------------- */
.link-img {
	height:18px;
	width:18px;
	background:transparent url(../images/mootree.gif) repeat scroll;
	background-position: -306px 50%;
	float:right;
	display:block;
}
.link-img.left {
	float:left;
}
dl#link_info dd {
	max-width:160px;
}
.link-img.external { 
	background-position: -288px 50%; 
	cursor: pointer;
}
.link-img.page { 
	background-position: -162px 50%; 
	cursor: pointer;
}
.link-img.page.main-parent { 
	background-position: -378px 50%; 
	cursor: pointer;
}
.link-img.article {	
	background-position: -180px 50%; 
	cursor: pointer;
}

/* Standard sizes, margin, padding, border radiuses
---------------------------------------------------------------- */

/* Standard border radius */
.r5 {-webkit-border-radius: 5px !important; -moz-border-radius: 5px !important; border-radius: 5px !important;}
.r10 {-webkit-border-radius: 10px !important; -moz-border-radius: 10px !important; border-radius: 10px !important;}
.r15 {-webkit-border-radius: 15px !important; -moz-border-radius: 15px !important; border-radius: 15px !important;}
.r20 {-webkit-border-radius: 20px !important; -moz-border-radius: 20px !important; border-radius: 20px !important;}


/* Standard Padding and Margin classes */
.p0 { padding: 0 !important; }
.pt0 { padding-top: 0 !important; }
.pl0 { padding-left: 0 !important; }
.pb0 { padding-bottom: 0 !important; }
.pr0 { padding-right: 0 !important; }

.p2 { padding: 2px !important; }
.pt2 { padding-top: 2px !important; }
.pl2 { padding-left: 2px !important; }
.pb2 { padding-bottom: 2px !important; }
.pr2 { padding-right: 2px !important; }

.p3 { padding: 3px !important; }
.pt3 { padding-top: 3px !important; }
.pl3 { padding-left: 3px !important; }
.pb3 { padding-bottom: 3px !important; }
.pr3 { padding-right: 3px !important; }

.p4 { padding: 4px !important; }
.pt4 { padding-top: 4px !important; }
.pl4 { padding-left: 4px !important; }
.pb4 { padding-bottom: 4px !important; }
.pr4 { padding-right: 4px !important; }

.p5 { padding: 5px !important; }
.pt5 { padding-top: 5px !important; }
.pl5 { padding-left: 5px !important; }
.pb5 { padding-bottom: 5px !important; }
.pr5 { padding-right: 5px !important; }

.p6 { padding: 6px !important; }
.pt6 { padding-top: 6px !important; }
.pl6 { padding-left: 6px !important; }
.pb6 { padding-bottom: 6px !important; }
.pr6 { padding-right: 6px !important; }

.p7 { padding: 7px !important; }
.pt7 { padding-top: 7px !important; }
.pl7 { padding-left: 7px !important; }
.pb7 { padding-bottom: 7px !important; }
.pr7 { padding-right: 7px !important; }

.p8 { padding: 8px !important; }
.pt8 { padding-top: 8px !important; }
.pl8 { padding-left: 8px !important; }
.pb8 { padding-bottom: 8px !important; }
.pr8 { padding-right: 8px !important; }

.p9 { padding: 9px !important; }
.pt9 { padding-top: 9px !important; }
.pl9 { padding-left: 9px !important; }
.pb9 { padding-bottom: 9px !important; }
.pr9 { padding-right: 9px !important; }

.p10 { padding: 10px !important; }
.pt10 { padding-top: 10px !important; }
.pl10 { padding-left: 10px !important; }
.pb10 { padding-bottom: 10px !important; }
.pr10 { padding-right: 10px !important; }

.p15 { padding: 15px !important; }
.pt15 { padding-top: 15px !important; }
.pl15 { padding-left: 15px !important; }
.pb15 { padding-bottom: 15px !important; }
.pr15 { padding-right: 15px !important; }

.p20 { padding: 20px !important; }
.pt20 { padding-top: 20px !important; }
.pl20 { padding-left: 20px !important; }
.pb20 { padding-bottom: 20px !important; }
.pr20 { padding-right: 20px !important; }

.p30 { padding: 30px !important; }
.pt30 { padding-top: 30px !important; }
.pl30 { padding-left: 30px !important; }
.pb30 { padding-bottom: 30px !important; }
.pr30 { padding-right: 30px !important; }

.p35 { padding: 35px !important; }
.pt35 { padding-top: 35px !important; }
.pl35 { padding-left: 35px !important; }
.pb35 { padding-bottom: 35px !important; }
.pr35 { padding-right: 35px !important; }

.p40 { padding: 40px !important; }
.pt40 { padding-top: 40px !important; }
.pl40 { padding-left: 40px !important; }
.pb40 { padding-bottom: 40px !important; }
.pr40 { padding-right: 40px !important; }

.p50 { padding: 50px !important; }
.pt50 { padding-top: 50px !important; }
.pl50 { padding-left: 50px !important; }
.pb50 { padding-bottom: 50px !important; }
.pr50 { padding-right: 50px !important; }

.m0  {margin: 0 !important; }
.mt0 { margin-top: 0 !important; }
.ml0 { margin-left: 0 !important; }
.mb0 { margin-bottom: 0 !important; }
.mr0 { margin-right: 0 !important; }

.m1  {margin: 1px !important; }
.mt1 { margin-top: 1px !important; }
.ml1 { margin-left: 1px !important; }
.mb1 { margin-bottom: 1px !important; }
.mr1 { margin-right: 1px !important; }

.m2  {margin: 2px !important; }
.mt2 { margin-top: 2px !important; }
.ml2 { margin-left: 2px !important; }
.mb2 { margin-bottom: 2px !important; }
.mr2 { margin-right: 2px !important; }

.m3 { margin: 3px !important; }
.mt3 { margin-top: 3px !important; }
.ml3 { margin-left: 3px !important; }
.mb3 { margin-bottom: 3px !important; }
.mr3 { margin-right: 3px !important; }

.m5 { margin: 5px !important; }
.mt5 { margin-top: 5px !important; }
.ml5 { margin-left: 5px !important; }
.mb5 { margin-bottom: 5px !important; }
.mr5 { margin-right: 5px !important; }

.m10 { margin: 10px !important; }
.mt10 { margin-top: 10px !important; }
.ml10 { margin-left: 10px !important; }
.mb10 { margin-bottom: 10px !important; }
.mr10 { margin-right: 10px !important; }

.m15 { margin: 15px !important; }
.mt15 { margin-top: 15px !important; }
.ml15 { margin-left: 15px !important; }
.mb15 { margin-bottom: 15px !important; }
.mr15 { margin-right: 15px !important; }

.m20 { margin: 20px !important; }
.mt20 { margin-top: 20px !important; }
.ml20 { margin-left: 20px !important; }
.mb20 { margin-bottom: 20px !important; }
.mr20 { margin-right: 20px !important; }

.m25 { margin: 25px !important; }
.mt25 { margin-top: 25px !important; }
.ml25 { margin-left: 25px !important; }
.mb25 { margin-bottom: 25px !important; }
.mr25 { margin-right: 25px !important; }

.m30 { margin: 30px !important; }
.mt30 { margin-top: 30px; }
.ml30 { margin-left: 30px; }
.mb30 { margin-bottom: 30px; }
.mr30 { margin-right: 30px; }

.m35 { margin: 35px; }
.mt35 { margin-top: 35px; }
.ml35 { margin-left: 35px; }
.mb35 { margin-bottom: 35px; }
.mr35 { margin-right: 35px; }

.m40 { margin: 40px; }
.mt40 { margin-top: 40px; }
.ml40 { margin-left: 40px; }
.mb40 { margin-bottom: 40px; }
.mr40 { margin-right: 40px; }

.m50 { margin: 50px; }
.mt50 { margin-top: 50px; }
.ml50 { margin-left: 50px; }
.mb50 { margin-bottom: 50px; }
.mr50 { margin-right: 50px; }

.mr-auto {margin-right:auto;}
.ml-auto {margin-left:auto;}

/** Standard sizes */
.w10 {	width:10px !important; }
.w20 {	width:20px !important; }
.w30 {	width:30px !important; }
.w40 {	width:40px !important; }
.w50 {	width:50px !important; }
.w60 {	width:60px !important; }
.w80 {	width:80px !important; }
.w100 {	width:100px !important; }
.w120 {	width:120px !important; }
.w140 {	width:140px !important; }
.w160 {	width:160px !important; }
.w180 {	width:180px !important; }
.w200 {	width:220px !important; }
.w220 {	width:220px !important; }
.w240 {	width:240px !important; }
.w260 {	width:260px !important; }
.w280 {	width:280px !important; }
.w300 {	width:300px !important; }
.w320 {	width:320px !important; }
.w340 {	width:340px !important; }
.w360 {	width:360px !important; }
.w380 {	width:380px !important; }
.w400 {	width:400px !important; }
.w500 {	width:500px !important; }
.w600 {	width:600px !important; }

.h10 {	height:10px !important; }
.h15 {	height:15px !important; }
.h18 {	height:18px !important; }
.h20 {	height:20px !important; }
.h30 {	height:30px !important; }
.h40 {	height:40px !important; }
.h50 {	height:50px !important; }
.h60 {	height:60px !important; }
.h80 {	height:80px !important; }
.h100 {	height:100px !important; }
.h120 {	height:120px !important; }
.h140 {	height:140px !important; }
.h160 {	height:160px !important; }
.h180 {	height:180px !important; }
.h200 {	height:220px !important; }
.h220 {	height:220px !important; }
.h240 {	height:240px !important; }
.h260 {	height:260px !important; }
.h280 {	height:280px !important; }
.h300 {	height:300px !important; }
.h320 {	height:320px !important; }
.h340 {	height:340px !important; }
.h360 {	height:360px !important; }
.h380 {	height:380px !important; }
.h400 {	height:400px !important; }



