/* This file extends the CSS data for the editable area(iframe) of TinyMCE 
 *
 * If you want to adds your own CSS classes in tinyMCE for one theme,
 * copy this file to /Themes/your_theme/assets/css/tinyMCE.css
 * and extend the copy with your classes
 *
 */


/* Standard Elements 
 *
 */
body, td, pre, p, ul, ol {
	font-size:13px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
	background-color:#fff;
	margin:1em;
}

h2,h3,h4,h5,h6 {
	margin:1.5em 0 1em;
}

ul, ol {
	margin:0 0 1em;
	padding-left: 1em;
}
ul li, ol li {
	line-height: 1.5em;
	margin-left: 1em;
}
p {
	margin:0 0 1em;
	color:#000;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.5em;
	font-size-adjust: none;
	font-stretch: normal;
}

img {
	border:1px solid #000;
	margin:5px;
}

pre {
	font-family: "Courier New", Courier, monospace;
	border: solid 1px #ccc;
	background-color:#f3f3f3;
	padding:10px !important;

}
table.mceItemTable {
	width: 100%;
}
script {
	border:solid dashed #000;
}


/* Aligment of elements (like pictures)
 * Your theme should have these CSS class set for the elements you wish to align through tinyMCE
 * (tiny just adds the class to the element)
 *
 */
.left{
	float:left;
}
.right{
	float:right;
}
.center{
	text-align: center;
}
.justify {
	text-align: justify;
}
.popup {}
