<?php

$text_block = $this->getLayout()->createBlock('cms/block')->setBlockId('mynose_giftcards_balance_text')->toHtml();

?>

<?php if ($text_block) :?>
	<div class="center mt20">
		<?php echo $text_block ?>
	</div>
<?php endif ;?>

<hr>

<form name="giftcardForm" action="<?php echo $this->getUrl('customer/giftcards/apply') ?>" method="post" class="account-form center">

	<p><?php echo $this->__('My Gift Card balance') ?>:</p>
	<p><strong><?php echo Mage::helper('core')->currency($this->getCurrentBalance()); ?></strong></p>

	<p><?php echo $this->__('Enter your gift card code') ?>:</p>

	<input type="text" id="giftcard_code" name="giftcard_code" value="" style="max-width: 200px; margin-bottom: 2rem;" placeholder="<?php echo $this->__('Gift Card code') ?>" />
	<button type="button" title="<?php echo $this->__('Redeem') ?>" class="button button-inline icon-arrow-right" onclick="document.forms['giftcardForm'].submit()" value="<?php echo $this->__('Redeem') ?>"><?php echo $this->__('Redeem') ?></button>

</form>