<div class="discount cart-bottom-block">
	<h3 class="block-title"><?php echo $this->__('Gift Cards'); ?></h3>
	<?php if (Mage::helper('customer')->isLoggedIn()) : ?>

    <div class="column right">

      <form method="post" class="account-form" action="<?php echo $this->getUrl('*/*/giftcardPost'); ?>" id="giftcard-form">
          <input value="" type="text" name="giftcard_code" id="giftcard_code" style="margin-bottom: 1.5rem;" placeholder="<?php echo $this->__('Enter your gift card code'); ?>">
          <button value="<?php echo $this->__('Redeem and Use') ?>" onclick="giftcardForm.submit(true)" class="button icon-arrow-right" title="Redeem and Use" type="button"><?php echo $this->__('Redeem and Use') ?></button>
      </form>
    </div>

    <div class="column left">
      <form method="post" class="account-form" action="<?php echo $this->getUrl('*/*/giftcardActive'); ?>" name="giftcardActive">
        <div class="input-box">
          <input type="checkbox" value="1" name="giftcard_use" id="giftcard_use" class="checkbox" onclick="document.forms['giftcardActive'].submit()" <?php echo Mage::getSingleton('giftcards/session')->getActive() ? 'checked="checked"' : '' ?>>
          <label for="giftcard_use"><?php echo $this->__('Or use my remaining Gift Card balance.'); ?></label>
        </div>
      </form>
    </div>
    <div class="clearer"></div>
  <?php else : ?>
   <p>
    <?php echo $this->__('To use your gift cards, please <a href="%s">register</a> or <a href="%s">log in</a>.', Mage::helper('customer')->getRegisterUrl(), Mage::helper('customer')->getLoginUrl()); ?>
  </p>
<?php endif; ?>
</div>
<script type="text/javascript">
//&lt;![CDATA[
var giftcardForm = new VarienForm('giftcard-form');
giftcardForm.submit = function (isRemove) {
  if (isRemove) {
    $('giftcard_code').addClassName('required-entry');
    $('giftcard_use').checked = "checkbox";
    $('giftcard_use').value = "1";
  } else {
    $('giftcard_code').removeClassName('required-entry');
    $('giftcard_use').value = "0";
  }
  return VarienForm.prototype.submit.bind(giftcardForm)();
}
//]]&gt;
</script>