<?php


$_cards = $this->getCards();


?>

<div class="mt20 ml20 mr20">

	<?php if($_cards->getSize()): ?>
		<table class="diagnose-table" id="my-orders-table">
			<thead>
				<tr>
					<th class="no-border"><?php echo $this->__('Card Code') ?></th>
					<th class="no-border"><?php echo $this->__('Card Balance') ?></th>
					<th class="no-border"><?php echo $this->__('Order #') ?></th>
					<th class="no-border"><?php echo $this->__('Card Status') ?></th>
				</tr>
			</thead>
			<tbody>

				<?php foreach ($_cards as $_card): ?>
					<tr>
						<td><span class="text"><?php echo $_card->getCardCode() ?></span></td>
						<td><span class="text"><?php echo $_card->getCardBalance() ?></span></td>
						<td><a target="_blank" href="<?php echo Mage::getUrl('sales/order/view', array('order_id' => $_card->getOrderId())) ?>"><?php echo $_card->getOrderIncrementId()?></a></td>
						<td><span class="text">
							<?php
							switch($_card->getCardStatus()){
								case 0:
								echo "Inactive";
								break;
								case 1:
								echo "Active";
								break;
								case 2:
								echo "Pending";
								break;
							}
							?></span>
						</td>

					</tr>
				<?php endforeach; ?>
			</tbody>
		</table>
		<script type="text/javascript">decorateTable('my-orders-table');</script>
		<div class="mt10">
			<?php echo $this->getPagerHtml(); ?>
		</div>
	<?php else: ?>
		<div class="mt20 mb30 center">
			<?php echo $this->__('You have placed no orders.'); ?>
		</div>
	<?php endif ?>
</div>