<?php $_category = Mage::registry('current_category'); ?>
<?php $_categoryId = $_category->getId(); ?>
<?php
$_brand = Mage::getModel('brand/brand')
->setStoreId(Mage::app()->getStore()->getId())
->load($_category->getBrand());
?>
<?php $_sliders = $_brand->getSelectedSlidersCollection(); ?>

<?php if (count($_sliders) > 0) : ?>
    <div class="brand-banner">
        <a href="#" class="arrow left"></a>
        <a href="#" class="arrow right"></a>
        <div class="slider">
            <?php foreach ($_sliders as $_slider) : ?>
                <?php $_slides = $_slider->getItemsCollection(); ?>
                <?php $i = 0; ?>
                <?php foreach ($_slides as $_slide) : ?>
                    <?php if ($_slide['video'] != '') { ?>

                    <div
                    class="video slide <?php if ($i == 0) { echo 'active'; } ?>"
                    data-youtube="<?php echo $_slide['video']; ?>"
                    data-id="<?php echo $i; ?>"
                    >
                    <div class="player active">
                        <div id="player<?php echo $i; ?>"></div>
                        <div class="overlay"></div>
                        <div class="controls">
                            <div class="playpause"></div>
                            <div class="time">0:00</div>
                            <div class="sound"></div>
                            <div class="progress">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <?php } elseif ($_slide['cinemagraphe']) { ?>

                <div class="cinemagraph slide <?php if ($i == 0) { echo 'active'; } ?>">
                    <video src="<?php echo $_slide['cinemagraphe']; ?>" autoplay loop muted>
                        Sorry, your browser doesn't support embedded videos,
                        but don't worry, you can <a href="<?php echo $_slide['cinemagraphe']; ?>">download it</a>
                        and watch it with your favorite video player!
                    </video>
                </div>

                <?php } else { ?>
                <div class="slide responsive-image-bg <?php if ($i == 0) { echo 'active'; } ?>" data-src="<?php echo Mage::getBaseUrl('media') . $_slide['image_desktop']; ?>" data-src-mobile="<?php echo Mage::getBaseUrl('media') . $_slide['image_mobile']; ?>"></div>
                <?php } ?>
                <?php $i++; ?>
            <?php endforeach; ?>
        <?php endforeach; ?>
    </div>
</div>
<?php endif; ?>

<h1 class="page-title"><?php echo $_category->getName(); ?></h1>

<?php if ($_category->getDescription() != '') : ?>

    <h2 class="page-subtitle"><?php echo $_category->getDescription(); ?></h2>

<?php endif; ?>

<div class="subnav-container center">
    <ul class="subnav tabs-nav">
        <li class="active first" data-tab="brand"><a href="#"><span><?php echo $this->__('About the brand'); ?></span></a></li>
        <li class="universe-tab-nav" data-tab="universe"><a href="#"><span><?php echo $this->__('The universe'); ?></span></a></li>
        <li class=" last" data-tab="news"><a href="#"><span><?php echo $this->__('News'); ?></span></a></li>
    </ul>
</div>

<div class="tabs-content">
    <div class="tab about-the-brand active" id="brand">
        <?php if ($_brand->getTopContent()) : ?>
            <div class="brand-top-content">
                <?php echo $_brand->getTopContent(); ?>
            </div>
        <?php endif; ?>
        <?php if ($_brand->getImageDesktop()) : ?>
            <div class="brand-image">
                <img src="<?php echo Mage::getBaseUrl('media') . $_brand->getImageDesktop(); ?>" />
            </div>
        <?php endif; ?>
        <?php if ($_brand->getBottomContent()) : ?>
            <div class="brand-bottom-content">
                <?php echo $_brand->getBottomContent(); ?>
            </div>
        <?php endif; ?>
    </div>

    <div class="tab brand-universe" id="universe">
        <div class="brand-inspiration">
            <div class="photo">
                <img src="<?php echo Mage::getBaseUrl('media') . $_brand->getImageUniverse1(); ?>">
            </div>
            <div class="photo">
                <img src="<?php echo Mage::getBaseUrl('media') . $_brand->getImageUniverse2(); ?>">
            </div>
            <div class="photo">
                <img src="<?php echo Mage::getBaseUrl('media') . $_brand->getImageUniverse3(); ?>">
            </div>
            <div class="photo">
                <img src="<?php echo Mage::getBaseUrl('media') . $_brand->getImageUniverse4(); ?>">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $j(document).ready(function($) {
            $(window).scroll(function() {
                var scroll = Math.floor(140 * $(window).scrollTop() / 1400) - 70;
                $('.photo.two').css('transform', 'translateY('+scroll+'px)');
                $('.photo.four').css('transform', 'translateY(' + (scroll / 2) +'px)');
                $('.photo.three').css('transform', 'translateY(' + (scroll / 3) +'px)');
            });
        });
    </script>

    <?php $_news = $_brand->getSelectedPostsCollection(); ?>
    <div class="tab" id="news">
        <div class="brand-news" id="newsCarousel">

            <?php if (count($_news) > 3) : ?>

                <a class="arrow left" href="#"></a>
                <a class="arrow right" href="#"></a>

            <?php endif; ?>

            <div class="news-wrapper wrapper">
                <div class="news-container carousel-container">
                    <?php foreach ($_news as $_post) : ?>
                        <?php $_post = $_post->setStoreId(Mage::app()->getStore()->getId())->load($_post->getId()); ?>
                        <a class="news item" href="<?php echo $this->getUrl($_post->getUrlKey()); ?>">
                            <!-- <img class="image" src="<?php echo Mage::getBaseUrl('media') . $_post->getThumbnailDesktop(); ?>"> -->
                            <div class="image responsive-image-bg" data-src="<?php echo Mage::getBaseUrl('media') . $_post->getThumbnailDesktop(); ?>" data-src-mobile="<?php echo Mage::getBaseUrl('media') . $_post->getThumbnailMobile(); ?>"></div>
                            <h4 class="brand-title"><?php echo $_post->getTitle(); ?></h4>
                            <p class="brand-subtitle"><?php echo $_post->getSubtitle(); ?></p>
                        </a>
                    <?php endforeach; ?>
                </div>
            </div>

        </div>
    </div>

    <?php if (count($_news) > 3) : ?>
        <script type="text/javascript">
            $j(document).ready(function($) {
                $j('#newsCarousel').noseCarousel();
            });
        </script>
    <?php endif; ?>

    <div class="clearfix"></div>

</div>

<script type="text/javascript">

    $j(window).load(function() {

        $j('.tabs-nav li a').click(function(e) {
            e.preventDefault();
            var li = $j(this).closest('li');
            $j('.tabs-nav li').removeClass('active');
            $j('.tabs-content .tab').removeClass('active');
            li.addClass('active');
            $j('#' + li.data('tab')).addClass('active');
        })

    });

</script>