<?php $_messages = $this->getMessages(); ?>
<?php $_helper = $this->helper('notif'); ?>
<div class="notification-messages">
    <div class="notifications-toolbar justified">
        <div class="toolbar-title toolbar-item"><?php echo $this->__('Notifications'); ?></div>
        <a class="toolbar-item notification-mark-all-read" href="#"><?php echo $this->__('Mark all as read'); ?></a>
    </div>
    <ul class="<?php echo count($_messages) == 0 ? 'empty' : ''; ?>">
        <li class="empty"><?php echo $this->__('You don\'t have any notification.'); ?></li>
        <?php if ($_messages) : ?>
            <?php foreach ($_messages as $_message) : ?>
                <?php if ($_helper->getMessageContent($_message)) : ?>
                    <li class="notification-message state-<?php echo $this->getState($_message); ?>" data-message-id="<?php echo $_message['id_notification']; ?>" data-message-state="<?php echo $this->getState($_message); ?>">
                        <?php if ($_message['picture']) : ?>
                            <div class="notification-picture" style="background-image: url(<?php echo $_message['picture']; ?>);"></div>
                        <?php endif; ?>
                        <div class="notification-controls">
                            <i class="notification-delete" data-message-id="<?php echo $_message['id_notification']; ?>">X</i>
                            <i class="notification-mark-as-read" data-message-id="<?php echo $_message['id_notification']; ?>">READ</i>
                        </div>
                        <div class="notification-content <?php if ($_message['picture']) { echo 'with-picture'; } ?>">
                            <?php echo $_helper->getMessageContent($_message); ?>
                        </div>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>
        <?php endif; ?>
    </ul>
    <div class="notifications-toolbar centered">
        <a class="toolbar-item" href="#" id="turn-off-notification"><?php echo $this->__('Turn off notifications'); ?></a>
    </div>
</div>