<?php
/**
 * Boutique's sales history
 * Sales made in the physical Shop
 *
 */
?>
<?php

// Orders 
// See : Partikule_Nose_Block_Order_History->__construct()
$_orders = $this->getOrders();

$_boutique_orders = Mage::helper('nose/history')->getOrders();

?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title">
    <h2><?php echo $this->__('My Orders') ?></h2>
</div>

<div class="subnav-container center">
	<ul id="reco-nav" class="subnav">
		<li id="subnav-perfumes"><a href="<?php echo Mage::helper('nose/url')->getSalesOrderHistory() ?>"><span><?php echo $this->__('Online') ?></span></a></li>
		<?php if ( ! empty($_boutique_orders)) :?>
			<li  class="active" id="subnav-home"><a><span><?php echo $this->__('Boutique') ?></span></a></li>
		<?php endif ;?>
	</ul>
</div>

<div class="clearfix"></div>

<?php if(count($_orders) > 0): ?>
<table class="data-table mt10 mb20" id="my-orders-table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr>
            <th><h3><?php echo $this->__('Order #') ?></h3></th>
            <th><h3><?php echo $this->__('Date') ?></h3></th>
			<th><h3><?php echo $this->__('Products') ?></h3></th>
	<!--
            <th><h3><?php echo $this->__('Ship To') ?></h3></th>
-->            <th><h3><span class="nobr"><?php echo $this->__('Order Total') ?></span></h3></th>
<!--
            <th class="w100"><h3><span class="nobr"><?php echo $this->__('Order Status') ?></span></h3></th>
-->
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <?php $_odd = ''; ?>
        <?php foreach ($_orders as $_order): ?>
        <tr>
            <td><?php echo $_order['pos_invoice_id'] ?></td>
            <td><span class="nobr"><?php echo $this->formatDate($_order['creation_date']) ?></span></td>
			<td>
				<?php
					$_details = Mage::getModel('nose/order')->getOrder($_order['pos_invoice_id']);
				?>
				<?php foreach ($_details['lines'] as $_item): ?>

					<?php

					/// Try to get the product from the master ID
					$product = Mage::getModel('catalog/product')->loadByAttribute('master_id', $_item['master_id']);

					// If the prodct isn't found, by security, display the product name from LS instead if nothing
					$product_name = '';
					if ($product)
						$product_name = $product->getName();
					else
						$product_name = $_item['product_name'];

					?>

					<?php echo $product_name; ?><br/>

				<?php endforeach; ?>
			</td>
<!--
            <td></td>
-->
            <td><?php echo Mage::helper('core')->currency($_order['total']); ?></td>
<!--
            <td><em><?php // echo $_order->getStatusLabel() ?></em></td>
-->
            <td class="a-center">
                <span class="nobr"><a href="<?php echo $this->getViewUrl($_order) ?>"><?php echo $this->__('View Order') ?></a>
                    <?php // if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
                    <span class="separator mr5"></span> 
                    
                    <button class="button" onclick="setLocation('<?php //echo $this->getReorderUrl($_order) ?>')">
                    	<span><span><?php echo $this->__('Reorder') ?></span></span>
                    </button>
                <?php // endif ?>
                </span>
            </td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('my-orders-table');</script>
<script type="text/javascript">decorateTable('my-orders-table', {'tbody tr' : ['odd', 'even'], 'tbody tr' : ['first', 'last']})</script>

<?php // echo $this->getPagerHtml(); ?>

<?php else: ?>
	<div class="center mt20">
	    <p><?php echo $this->__('You have placed no orders.'); ?></p>
	</div>
<?php endif ?>
