<?php
/**
 * Boutique's sales Order's view
 * Sales made in the physical Shop
 *
 * See : Partikule_Nose_OrderController
 *
 */
?>
<?php

// Orders 
// See : Partikule_Nose_Block_Order_View->__construct()

$_order = $this->getOrder();


?>

<div class="page-title">
    <h2><?php echo $this->__('Boutique Order #%s', $_order['pos_invoice_id']) ?></h2>
</div>

<div class="right">
    <a href="<?php echo $this->getReorderUrl($_order) ?>" class="link-reorder"><?php echo $this->__('Reorder') ?></a>
</div>

<p class="order-date"><?php echo $this->__('Order Date: %s', $this->formatDate($_order['creation_date'], 'long')) ?></p>


<h3 class="title"><?php echo $this->__('Items Ordered') ?></h3>


<div calss="order-items order-details">
<table summary="<?php echo $this->__('Items Ordered') ?>" id="my-orders-table" class="data-table">
	<colgroup><col>
		<col width="1">
		<col width="1">
		<col width="1">
		<col width="1">
	</colgroup><thead>
<tr class="first last">
	<th><h3 class="product-name"><?php echo $this->__('Product Name') ?></h3></th>
	<th><h3><?php echo $this->__('SKU') ?></h3></th>
	<th class="a-right"><h3><?php echo $this->__('Price') ?></h3></th>
	<th class="a-center"><h3><?php echo $this->__('Qty') ?></h3></th>
	<th class="a-right"><h3><?php echo $this->__('Subtotal') ?></h3></th>
</tr>
</thead>
	<tfoot>
		<tr class="grand_total">
			<td class="a-right" colspan="4">
				<strong><?php echo $this->__('Subtotal'); ?></strong>
			</td>
			<td class="last a-right">
				<strong><span class="price"><?php echo $_order['total_ht'];?>&nbsp;€</span></strong>
			</td>
		</tr>

		<tr class="summary-total">
			<td class="a-right" colspan="4">
				<div ><?php echo $this->__('Tax'); ?></div>
			</td>
			<td class="last a-right"><span class="price"><?php echo $_order['tva_value'];?>&nbsp;€</span></td>
		</tr>
		<tr class="grand_total_incl last">
			<td class="a-right" colspan="4">
				<strong><?php echo $this->__('Total (inc)') ;?></strong>
			</td>
			<td class="last a-right">
				<strong><span class="price"><?php echo $_order['total'];?> &nbsp;€</span></strong>
			</td>
		</tr>
	</tfoot>
	<tbody class="odd">

	<?php foreach($_order['lines'] as $item) :?>
		<?php

		/// Try to get the product from the master ID
		$product = Mage::getModel('catalog/product')->loadByAttribute('master_id', $item['master_id']);

		// If the prodct isn't found, by security, display the product name from LS instead if nothing
		$product_name = '';
		$brand_name = FALSE;

		if ($product)
		{
			$product_name = $product->getName();

			$category = Mage::helper('nose/product')->getProductFirstCategory($product);
			if ($category)
			{
				$brand_name = $category->getName();
			}
		}
		else
			$product_name = $item['product_name'];

		?>
		<tr id="order-item-row-539" class="border first last">
			<td><h3 class="product-name"><?php echo $product_name; ?></h3></td>
			<td><?php echo $item['product_code'] ?></td>
			<td class="a-right">
				<span class="price-incl-tax">
					<span class="cart-price">
						<span class="price"><?php echo $item['price_ht_unit'] ?>&nbsp;€</span>
					</span>
				</span>
			</td>
			<td class="a-right">
				<span class="nobr">
					<strong><?php echo $item['quantity'] ?></strong>
					</span>
			</td>
			<td class="a-right last">
				<span class="price-incl-tax">
					<span class="cart-price">
						<span class="price"><?php echo $item['price_ht_line']  ?>&nbsp;€</span>
					</span>
				</span>
			</td>
		</tr>
	<?php endforeach; ?>
	</tbody>
</table>

</div>


<div class="buttons-set">
	<p class="back-link"><a href="<?php echo $this->getBackUrl() ?>"><small>&laquo; </small><?php echo $this->__('Back to My Orders') ?></a></p>
</div>
