<?php
/**
 * Partikule
 *
 * @modified	2011.11.15
 *
 * @note
 * @todo
 *
 * @category    design
 * @package     ionize_default
 * @author   	2011 Partikule (http://www.partikule.net)
 *
 */

/**
 * Page container
 *
 * @see Partikule_Ionize_Block_Page
 *
 */

// Filter sub-pages with no view
$pages = $this->getSubPages()->addFilter('view', '');

?>

<?php if ($pages->count() > 0): ?>
	
	<?php foreach($pages as $page) :?>

		<div class="col-main">
		
			<h3 class="col-title"><?= $page->getTitle(); ?></h3>
			
			<?php
				$articles = $this->getArticles( $page->getId() );
				
				$_iterator = 0;
			?>

			<?php if ($articles->count() > 0): ?>
				
				<?php foreach($articles as $article) :?>
						
					<?php
					
						$_iterator++;
						$media = $article->getMedias()->getFirstItem();
					
					?>
			
					<div class="span-33<?php if ($_iterator%3 == 0):?> last<?php endif ;?>">
						<div class="bloc bloc-home-mag pointer" style="background:url(<?= $media->getSource() ?>) no-repeat top left;">
							<h4 class="bloc-title"><?= $article->getTitle(); ?></h4>
							<div class="summary">
								<div class="summaryContent cufon regular">
								<?php if( $article->getSummary() != '' ) : ?>
									<?php echo $article->getSummary() ;?>
								<?php endif ;?>
								</div>
							</div>
						</div>
					</div>
			
				<?php endforeach; ?>


			<?php endif ;?>
		</div>
	<?php endforeach; ?>

	<script type="text/javascript">
	
		
	
	</script>


<?php endif ;?>
