@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  20% { -webkit-transform: perspective(120px) }
  40% { -webkit-transform: perspective(120px) rotateY(180deg) }
  60% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  80% { -webkit-transform: perspective(120px) rotateY(0deg)  rotateX(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(0deg)  rotateX(360deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 20% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 40% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 60% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  } 80% {
    transform: perspective(120px) rotateX(0deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(-179.9deg);
  } 100% {
    transform: perspective(120px) rotateX(0deg) rotateY(-360deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(-360deg);
  }
}