$black: #000;
$grey: #4D4D4D;
$light-grey: #808080;
$border-grey: #cccccc;
$lighter-grey: #E8E8E8;
$real-concrete: #F2F2F2;
$concrete: #FAFAFA;
$white: #fff;
$blue-fb: #34589d;
$gold: #F4EDE3;

$red: #C3441F;
$light-blue: #EEF2F3;
$light-pink: #FCF5F2;
$pink: #EA8B87;

$base-color: #000;
$alt-color: #333;
$bg-color: #FFF;
