

$font-sans: 'Josefin Sans', Helvetica, Arial, sans-serif;
$font-serifs: 'Cormorant Garamond', Georgia, serif;

@mixin headline() {
  font-family: $font-sans;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: .2em;
  font-weight: normal;
  text-transform: uppercase;
}