@import "normalize";
@import "mixins";
@import "grid";
@import "colors";
@import "fonts";
@import "animations";

*,
*:after,
*:before {
  @include box-sizing(border-box);
  // Color change transition
  @include transition(color 100ms linear, background-color 100ms linear);
}
i, i:after, i:before {
  // Transition fix for glyph icons
  @include transition(none);
}

* img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 20px;
}

body {
  background-color: $bg-color;
  font-family: $font-sans;
  color: $black;
}

h1, h2, h3, h4, h5, h6, p, strong {
  font-family: $font-sans;
  color: $black;
}

$transition-speed: .5s;

.iti-flag {background-image: url(../js/telinput/flags.png);}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {background-image: url(../js/telinput/flags@2x.png);}
}

@import "includes/header";
@import "includes/search";
@import "includes/footer";
@import "includes/global";
@import "includes/button";
@import "includes/controls";
@import "includes/nav";
@import "includes/modal";
@import "includes/home";
@import "includes/video-gallery";
@import "includes/video-player";
@import "includes/catalog";
@import "includes/filters";
@import "includes/products";
@import "includes/brand";
@import "includes/brands";
@import "includes/product";
@import "includes/reviews";
@import "includes/product-list";
@import "includes/inspiration";
@import "includes/related";
@import "includes/checkout";
@import "includes/cart";
@import "includes/account";
@import "includes/sponsorship";
@import "includes/calendar";
@import "includes/diagnosis";
@import "includes/news";
@import "includes/notifications";
