<?php
/**
 *
 */

/**
 * @var Mage_Customer_Block_Widget_Name $this
 */
?>
<?php

/**
 * If user was invited, we get its eNose ID
 * and we're able to feed the register form
 *
 *
 */
$invitedNoseUser = FALSE;
$invitedNoseUserId = Mage::getSingleton('core/session')->getInvitedUserNoseId();

if ($invitedNoseUserId)
{
	$invitedNoseUser = Mage::getModel('mynose/user')->getNoseUserFromId($invitedNoseUserId);

	if ($invitedNoseUser)
	{
		$this->getObject()->setFirstname($invitedNoseUser['firstname']);
		$this->getObject()->setLastname($invitedNoseUser['lastname']);
	}
}


?>
<div class="<?php echo $this->getContainerClassName()?>">
  <?php if ($this->showPrefix()): ?>
    <div class="field name-prefix">
      <label for="<?php echo $this->getFieldId('prefix')?>" class="left<?php if ($this->isPrefixRequired()) echo ' required' ?>"><?php if ($this->isPrefixRequired()) echo '<em>*</em>' ?><?php echo $this->__('Prefix') ?></label>
      <div class="input-box left">
        <?php if ($this->getPrefixOptions()===false): ?>
          <input type="text" id="<?php echo $this->getFieldId('prefix')?>" name="<?php echo $this->getFieldName('prefix')?>" value="<?php echo $this->htmlEscape($this->getObject()->getPrefix()) ?>" title="<?php echo $this->__('Prefix') ?>" class="input-text<?php if ($this->isPrefixRequired()):?> required-entry<?php endif; ?>" <?php echo $this->getFieldParams() ?> />
        <?php else: ?>
          <select id="<?php echo $this->getFieldId('prefix')?>" name="<?php echo $this->getFieldName('prefix')?>" title="<?php echo $this->__('Prefix') ?>"<?php if ($this->isPrefixRequired()):?> class="required-entry"<?php endif; ?> <?php echo $this->getFieldParams() ?>>
            <?php foreach ($this->getPrefixOptions() as $_option): ?>
              <option value="<?php echo $_option?>"<?php if ($this->getObject()->getPrefix()==$_option):?> selected="selected"<?php endif; ?>><?php echo $this->__($_option)?></option>
            <?php endforeach ?>
          </select>
        <?php endif; ?>
      </div>
    </div>
  <?php endif; ?>

  <input type="text" id="<?php echo $this->getFieldId('firstname')?>" name="<?php echo $this->getFieldName('firstname')?>" value="<?php echo $this->htmlEscape($this->getObject()->getFirstname()) ?>" title="<?php echo $this->__('First Name') ?>" placeholder="<?php echo $this->__('First Name') ?>" class="input-text required-entry" <?php echo $this->getFieldParams() ?> />

  <?php if ($this->showMiddlename()): ?>
    <input type="text" id="<?php echo $this->getFieldId('middlename')?>" name="<?php echo $this->getFieldName('middlename')?>" value="<?php echo $this->htmlEscape($this->getObject()->getMiddlename()) ?>" title="<?php echo $this->__('M.I.') ?>" placeholder="<?php echo $this->__('M.I.') ?>" class="input-text" <?php echo $this->getFieldParams() ?> />
  <?php endif; ?>
  <input type="text" id="<?php echo $this->getFieldId('lastname')?>" name="<?php echo $this->getFieldName('lastname')?>" value="<?php echo $this->htmlEscape($this->getObject()->getLastname()) ?>" title="<?php echo $this->__('Last Name') ?>" placeholder="<?php echo $this->__('Last Name') ?>" class="input-text required-entry" <?php echo $this->getFieldParams() ?> />
  <?php if ($this->showSuffix()): ?>
    <div class="field name-suffix">
      <label for="<?php echo $this->getFieldId('suffix')?>" class="inline<?php if ($this->isSuffixRequired()) echo ' required' ?>"><?php if ($this->isSuffixRequired()) echo '<em>*</em>' ?><?php echo $this->__('Suffix') ?></label>
      <div class="input-box">
        <?php if ($this->getSuffixOptions()===false): ?>
          <input type="text" id="<?php echo $this->getFieldId('suffix')?>" name="<?php echo $this->getFieldName('suffix')?>" value="<?php echo $this->htmlEscape($this->getObject()->getSuffix()) ?>" title="<?php echo $this->__('Suffix') ?>" class="input-text<?php if ($this->isSuffixRequired()):?> required-entry<?php endif; ?>" <?php echo $this->getFieldParams() ?> />
        <?php else: ?>
          <select id="<?php echo $this->getFieldId('suffix')?>" name="<?php echo $this->getFieldName('suffix')?>" title="<?php echo $this->__('Suffix') ?>"<?php if ($this->isSuffixRequired()):?> class="required-entry"<?php endif; ?> <?php echo $this->getFieldParams() ?>>
            <?php foreach ($this->getSuffixOptions() as $_option): ?>
              <option value="<?php echo $_option?>"<?php if ($this->getObject()->getSuffix()==$_option):?> selected="selected"<?php endif; ?>><?php echo $this->__($_option)?></option>
            <?php endforeach ?>
          </select>
        <?php endif; ?>
      </div>
    </div>
  <?php endif; ?>
</div>
